[2012-10-17 02:33] mockitoguy opened #1 "[test] improve stuff"
improve some stuff

[2014-07-20 08:57] obfischer opened #64 "Default answer to fail on an unstubbed method invocation"
Sometimes it is usefull to ensure that a test uses only mocked method calls. The test should fail on the invocation of an unmocked method call. Therefore it would be usefull to have an additional `Answer` in `Answers` which throws an exception if a unmocked method is called.

[2014-07-27 20:52] marcingrzejszczak opened #67 "Flickering test"
Discussion started here - https://groups.google.com/forum/#!topic/mockito-dev/lDbmq9X622Y

Just as a reminder:

[2014-07-27 20:54] #67 closed, assigned to nobody

[2014-07-28 12:17] #64 closed, assigned to nobody

[2014-08-05 11:43] bric3 opened #69 "Removing mockingDetails API from Mockito"
After some exchange with other member of the community, code such as

[code]

It looks wrong ; Mockito is the entry point for user friendly usage from within the test. Inspecting mocks looks wrong when it's a normal _user_.

However I know framework developers may need to inspect mocks. Let's keep the `MockingDetails` type but instantiate it from another static factory method.

The drawback is the

[2014-08-06 17:43] dellinger opened #70 "Missing @Mock for @InjectMocks silently fails when it cannot find the dependency"
I stumbled across this blog post
http://tedvinke.wordpress.com/2014/02/13/mockito-why-you-should-not-use-injectmocks-annotation-to-autowire-fields/

Would it be possible to add the capability to not silently fail when Mockito cannot find a dependency in the scenario listed above?

[2014-08-11 19:37] yogurtearl opened #71 "java.lang.NoClassDefFoundError: org.mockito.internal.runners.RunnerImpl on ART on L Preview on Android"
Mockito doesn't seem to work on ART ( on L preview or Kitkat )

Also, see here:
http://stackoverflow.com/questions/20514588/instrumentation-result-shortmsg-java-lang-noclassdeffounderror-running-android

and here:

https://code.google.com/p/android-developer-preview/issues/detail?id=1081

[code]

[code]

[2014-08-12 08:12] marcingrzejszczak opened #72 "NullPointerException when stubbing a class in Groovy 2.3.6"
**Setup**
Groovy 2.3.6
Mockito 1.9.5
JDK 8

**Given** a test written in Groovy
[code]

**When** I exeucte the code

**Then** I receive

[code]

[2014-08-23 09:52] lpandzic opened #73 "New release"
It would be really great if we could get out a new release of Mockito.

[2014-08-24 11:21] #1 closed, assigned to nobody

[2014-08-24 21:34] mockitoguy opened #74 "ArgumentCaptor supports var args"
ArgumentCaptor seamlessly supports var args. ArgumentCaptor.getAllValues() method returns individual args of a var arg method.

See https://code.google.com/p/mockito/issues/detail?id=372

[2014-08-24 21:35] #74 closed, assigned to nobody

[2014-08-24 21:47] mockitoguy opened #75 "New "serializable" parameter of @Mock annotation"
@Mock annotation now supports "serializable" parameter. See original ticket at https://code.google.com/p/mockito/issues/detail?id=381

Thanks Ludovic Meurillon for the contribution!

[2014-08-24 21:47] #75 closed, assigned to nobody

[2014-08-24 21:59] mockitoguy opened #76 "Upgraded Objenesis dependency to 2.1"
Upgraded Objenesis dependency to version 2.1. Read more at https://code.google.com/p/mockito/issues/detail?id=414

Thanks Brice!

[2014-08-24 21:59] #76 closed, assigned to nobody

[2014-08-28 23:54] KenYN opened #77 "Getting an absolute count of calls to a mocked method"
We can do this:

    verify(mock1, times(3)).thisMethod();
    verify(mock2, times(3)).thatMethod();

But we cannot do something like this, as far as I can see:

    verifyEquals(times(mock1.thisMethod()), times(mock2.thatMethod()));

That is, I would like to verify that two mocked methods are called the same unspecified number of times. The number of calls made to a method appears to be already a

[2014-09-01 13:38] Antolius opened #78 "Defining a new mocked method invokes previously defined one"
For instance, the following test fails with java.lang.RuntimeException: Init mock exception:
[code]
So, the parameter in when statement in test actualy invoked previously defined mock method from init.

Consequently, this means that I can't define more abstract mock in my init method and override it, if necessary, in some of my tests.

[2014-09-15 17:20] jcantrill opened #80 "Expose 'internal' classes so Powermock-osgi can be incorporated without special builds of Mockito"
I'm trying to get Powermock and mockito into the JBoss Tooling Target plaform and is being placed on hold (https://issues.jboss.org/browse/JBIDE-18053).  This thread (https://code.google.com/p/powermock/issues/detail?id=204) mentions there are some dependencies on internal classes.  I would like to expose those internals such that mockito and powermock can be pulled into the eclipse repos as part

[2014-09-19 10:02] guw opened #84 "Consume new cglib and asm versions"
I'd like Mockito to consume a newer cglib and asm version to address issues with class generation and class loaders in OSGi environments and for Java 8 support. It seems that Mockito needs to consume at least ASM 5 and a new - yet to be released - build for cglib.

I've initiated discussion at cglib in order to get a new cglib release.
https://github.com/cglib/cglib/issues/20

I've prepared pull r

[2014-09-25 20:24] mockitoguy opened #86 "New lightweight, stub-only mocks for scenarios where high performance is needed"
It is possible to create "stub-only" mocks that don't track invocations and hence might be useful for scenarios where low memory footprint / high speed is desired.

[code]

For more information please see: https://code.google.com/p/mockito/issues/detail?id=84

[2014-09-25 20:51] #86 closed, assigned to nobody

[2014-09-26 16:26] mockitoguy opened #88 "Ensure continuous deployment process does not produce "-dev" versions"
I used "-dev" postfix for versions when developing the continuous deployment process. Now it should not be used.

[2014-09-26 16:28] #88 closed, assigned to mockitoguy

[2014-09-26 18:39] cvgaviao opened #89 "add latest release into maven central"
Could you please add the 1.10.2 release into maven central ?

[2014-09-26 18:52] #89 closed, assigned to nobody

[2014-09-28 18:05] mockitoguy opened #90 "Improve exception messages when user mocks a method declared on non-public parent"
Mockito does not support stubbing/verification of methods that are declared on a non-public parent class. This situation cannot be detected easily (see [issue 212](https://code.google.com/p/mockito/issues/detail?id=212)). However, we can improve the errors Mockito emits when invalid use of the API is detected.

[2014-09-28 18:15] #90 closed, assigned to mockitoguy

[2014-09-29 13:04] mockitoguy opened #91 "Document Mockito.after() method"
Document Mockito.after() method. Add TODO that we should rename it in 2.0 into 'during'

[2014-09-30 14:22] fluentfuture opened #92 "Allow convenient spying on abstract classes"
I posted this in GoogleCode and was asked to submit in github.

Mockito is easy to use when the test needs to provide canned values for a certain method.

But it gets harder when a canned value isn't sufficient.
##### Example 1: Fake with trivial Logic

[code]

When mocking such domain entity object, it's tedious to manually program getEmails()/addEmail() with when().thenReturn() and to make sure

[2014-10-01 08:36] wernight opened #93 "Improve documentation"
Documentation is missing many important features (or at least should introduce them in the main readme even they are somewhere described if you find):

* Link to the main reference documentation should be first/big:
  -> http://mockito.github.io/mockito/docs/current/org/mockito/Mockito.html
* `@Spy`: Call the real object but record what has been called
  -> http://mockito.github.io/mockito/docs/cu

[2014-10-03 06:59] mockitoguy opened #95 "Make continuous delivery machinery commits explicit"
Continuous delivery machinery should:
- make the automated commits explicit (now they are linked to my name)
- present them better in the release notes (now those commits count to my name)

[2014-10-04 12:19] #70 closed, assigned to nobody

[2014-10-07 11:04] #73 closed, assigned to nobody

[2014-10-07 16:31] mockitoguy opened #96 "Document minimum JUnit requirement for MockitoJUnitRule"
Document minimum JUnit requirement for MockitoJUnitRule

[2014-10-07 16:55] #96 closed, assigned to nobody

[2014-10-07 19:10] jerzykrlk opened #97 "Mockito won't build on a Windows machine"
Executing gradlew pTLM results in the following:

[code]

The stacktrace ends with this:

[code]

Not a big deal, but caused some trouble.

[2014-10-08 01:51] garydgregory opened #98 "possible NPE exception when class cannot be mocked via PowerMockito"
In version 1.10.5, the catch block needs to guard against a null proxyInstance:

java.lang.NullPointerException
    at org.mockito.internal.creation.jmock.ClassImposterizer.imposterise(ClassImposterizer.java:65)
    at org.powermock.api.mockito.internal.mockcreation.MockCreator.createMethodInvocationControl(MockCreator.java:111)
    at org.powermock.api.mockito.internal.mockcreation.MockCreator.mo

[2014-10-08 13:49] joerg-pfruender-hp opened #99 "RETURNS_DEEP_STUBS automatically tries to create serializable mocks"
I am just migrating from mockito 1.9.5 to 1.10.5

The following code runs fine with version 1.9.5. but breaks now:

[code]

org.mockito.exceptions.base.MockitoException:
You are using the setting 'withSettings().serializable()' however the type you are trying to mock 'NotSerializableReturnValue'
do not implement Serializable AND do not have a no-arg constructor.

[2014-10-08 18:13] mockitoguy opened #101 "Documentation mentions non-existing version 1.9.8 in few places"
Documentation mentions non-existing version 1.9.8 in few places.

[2014-10-08 18:24] #98 closed, assigned to nobody

[2014-10-08 18:24] #101 closed, assigned to mockitoguy

[2014-10-08 20:24] #97 closed, assigned to nobody

[2014-10-10 02:26] #99 closed, assigned to nobody

[2014-10-13 01:03] kbrazulewicz opened #104 "OSGi exceptions when enabling mockito-core bundle (in 1.10.0)"
When trying to load mockito-core (or mockito-all) bundle I get this error:

    com.atlassian.plugin.PluginException: org.osgi.framework.BundleException: Unresolved constraint in bundle org.mockito.mockito-core [18]: Unable to resolve 18.0: missing requirement [18.0] package; (package=org.mockito.asm.signature)

Version 1.9.5 doesn't have this problem

[2014-10-13 08:45] mockitoguy opened #105 "Continuous deployment should not release new version if binaries are equal"
Continuous deployment should not release new version if binaries are equal. Sometimes we check-in code that does not require new version (for example, changes to README.md, itp). We should add some logic that prevents releasing a brand new version if the current binaries are the same as previously released.

[2014-10-13 08:52] #105 closed, assigned to mockitoguy

[2014-10-22 08:36] mockitoguy opened #107 "Improve internal implementation so that it is possible to implement mocking abstract classes"
Improve internal implementation so that it is possible to implement mocking abstract classes. Required for smooth implementation of #106

[2014-10-22 08:46] #107 closed, assigned to mockitoguy

[2014-10-22 15:43] wernight opened #108 "Clarify Spy vs Mock CALLS_REAL_METHODS"
I'd suggest adding a comment or side note in `[@InjectMocks](http://mockito.github.io/mockito/docs/current/org/mockito/InjectMocks.html)` to explain that when you want to inject real instances (and not mocks) you have the choice (unless I'm mistaken) between `[@Spy](http://mockito.github.io/mockito/docs/current/org/mockito/Spy.html)` and `[@Mock(answer = CALLS_REAL_METHODS)](http://mockito.github.

[2014-10-23 22:37] szczepiq opened #109 "Improve automated release notes look"
- Let's ditch the top level "Improvements:" element.
- Let's remove the 'Other' label and put unlabelled elements under 'Enhancements'

Anyone interested to pick this up? :)

[2014-10-23 22:44] mockitoguy opened #110 "Jar contains duplicate txt files"
To reproduce attempt unzipping the jar file.

[2014-10-23 22:53] szczepiq opened #111 "Improve automation: fix binary comparison - avoidance of uncessary publication"
The binary comparison does not work:
 - some problem with SerializableNoOp
 - poms are always different due to changed version

[2014-10-25 13:51] dmac100 opened #112 "Allow instances of other classes in AdditionalAnswers.delegatesTo"
We have `AdditionalAnswers.delegatesTo`, but if an object of the wrong type is passed we get a RuntimeException:

[code]

If we allow any type as long as it has the needed methods of the same signature, then we can create fake objects like:

[code]

This saves on implementing many methods that are not used in the test, and can be easier to write than adding separate Answers for each call. This can

[2014-10-25 14:38] #108 closed, assigned to nobody

[2014-10-28 02:56] robinst opened #114 "1.10 regression (StackOverflowError) with interface where generic type has itself as upper bound"
Add this to `GenericMetadataSupportTest`:

[code]

It fails on master and 1.10.8 with this:

[code]

It worked on 1.9.5. May be caused by the changes in ab9e9f3 (cc @bric3).

(Also note that while the above interface looks strange, it is commonly used for builder hierarchies, where base class methods want to return this with a more specific type.)

[2014-10-30 13:42] pettermahlen opened #117 "NullPointerException when using argThat() for long parameter in verify"
A minimal code example:

[code]

This leads to an NPE logged as happening at the 'verify' call, which made me think that the the result of `verify(takesALong)` was null, but it seems like the NPE has a somewhat incomplete stack trace. Variations that don't show this problem include:

- changing the interface to take a ```Long``` instead of a ```long```, or
- using ```longThat(Matcher<Long>) ``` in

[2014-11-15 17:41] #112 closed, assigned to nobody

[2014-11-15 18:27] #95 closed, assigned to mockitoguy

[2014-11-16 23:47] #92 closed, assigned to nobody

[2014-11-17 22:34] rdp opened #118 "doReturn with varargs"
Basically, since we have when(mock.method()).thenReturn(x,y,z)
it would be nice to have a complementary
doReturn(x,y,z).when(mock).method()
today there is no vararg doReturn.

ref: https://groups.google.com/forum/#!topic/mockito/dHioyTNJ-ZM

[2014-11-20 21:00] mockitoguy opened #119 "tidy-up and rework release notes automation"
Tidy-up and rework release notes automation. Add necessary coverage. Convert groovy->java so that it can be exposed as a separate tool.

[2014-11-20 22:06] #119 closed, assigned to mockitoguy

[2014-11-21 21:24] rafaelmborges opened #120 "Add Matchers.any(Object) or Marchers.any(Type)"
`Matchers.any(Object)` can receive any object, and via reflection, `any()` can figure out the right type (including generics). Ex.: `any(new ImmutableSet<Foo>())`

Or maybe have a `Type` class, something like guice's `Key`. Ex: `any(new Key<ImmutableSet<Foo>>())`

[2014-11-22 12:42] #110 closed, assigned to nobody

[2014-11-22 21:12] mockitoguy opened #122 "Problem spying on abstract classes"
There's a problem with spying on abstract classes when the real implementation calls out to the abstract method. More details: #121

[2014-11-22 21:14] #122 closed, assigned to nobody

[2014-11-22 21:31] szczepiq opened #123 "Release Mockito 2.0"
Incompatible changes:
- [x] stop producing mockito-all #153
- [x] stop depending on hamcrest internally #154
- [x] use newer hamcrest #232
- [x] make the anyXxx and any(Xxx) matchers intuitive #134, #194
- ~~fix the site links~~
- [x] push cglib mockmaker to a separate jar #248
- [x] stop using ant for producing OSGi bundles. No more ant in the build #249
- [x] remove jars from source distribution

[2014-11-25 17:28] welkman opened #124 "Concise way to collect multiple verify failures, ideally with JUnitCollector or derivative"
If you are using more than one verify statement as test post-conditions, it would be nice to be able to collect each failure and continue with the remaining verify statements or asserts that follow.  JUnit provides the ErrorCollector @Rule to facilitate this kid of thing, but the current [ErrorCollector API] (http://junit.org/apidocs/org/junit/rules/ErrorCollector.html) requires either

* a Matche

[2014-11-27 09:35] gdelory opened #127 "When trying to mock a non final class, get java.lang.NoClassDefFoundError: com.ibm.ecm.util.DocumentContent"
Hello everyone,

When I try to mock a class (with annotation or via code), I get the following exception. It makes sense there is missing dependencies since it is a plug-in running inside an application on a JEE server. However I thought for a mock deep dependencies wouldn't be an issue. I have a lot of other classes like that, not running by their self but mocked fine. Is their something I doing

[2014-12-01 15:14] tmuehl opened #128 "Deep stubbing with generic responses in the call chain is not working"
Deep stubbing will throw an Exception if multiple generics occur in the call chain. For instance, consider having a mock `myMock1` that provides a function that returns a generic `T`. If `T` also has a function that returns a generic, an Exception with the message "Raw extraction not supported for : 'null'" will be thrown.

As an example the following test will throw an Exception:

[code]

You can

[2014-12-03 00:33] saden1 opened #130 "Spying and Verification Doesn't Work On Instances Created With Javassist"
Spying on objects created using Javassist framework doesn't seem to work. Here is a simple test case that demonstrates the issue. Note that verification doesn't work at all. I'm not entirely sure what the issue is but I suspect it may have something to do with MockUtil.createMock(...) method and copying of fields. It seems odd to me that fields are being copied instead of having the mockito create

[2014-12-10 04:47] tntim96 opened #132 "Maven Release for 1.10.14"
Are you planning to do a Maven release for 1.10.14?

[2014-12-10 09:52] #127 closed, assigned to nobody

[2014-12-10 19:57] akomisarek opened #133 "Mockito can't spy on object loaded in parent classloader"
I have encountered issue with Mockito (I have tested this on 1.10.14) and usage of different classloaders - running tests in SBT 0,13.

I have got empty class *TestClass* and following test:
[code]
This test fails with following:
[code]
Looks like there is class loader issue - in sbt, the default classloader is the one for the sbt launcher, but you are "run" in a sub classloader.

Following calls

[2014-12-12 10:20] alexo opened #134 "Argument matcher anyXxx() (i.e. anyString(), anyList()) should not match nulls"
This is a bug I'm seeing in 1.10.8 version (older version has the same issue - tested with 1.9.0).

Given:
[code]
Expected behavior:
[code]

Actual behavior:
[code]

Note that the function is called with an integer (not a string), and still the mocked function return the value which it should return only when a string is passed. The same works when using anyBoolean() or any other methof from any*

[2014-12-12 23:28] mockitoguy opened #135 "Introduce PluginSwitch extension point"
New PluginSwitch extension point allows disabling plugins dynamically. The fundamental use case for this plugin is android/dexmaker: when dexmaker is on classpath not necessarily means that we want to run with dexmaker MockMaker. See more https://code.google.com/p/mockito/issues/detail?id=406

For more information on the plugin please refer to javadoc on PluginSwitch

[2014-12-12 23:31] #135 closed, assigned to mockitoguy

[2014-12-14 14:50] mockitoguy opened #136 "Automate maven central sync"
Ensure the sync to maven central happens automatically on push/release

[2014-12-14 22:53] mockitoguy opened #137 "Promote incubating features"
Promote incubating features so that they are not longer @Incubating and they are a part of regular API:
- MockMaker extension point, fundamental for android testing
- mockingDetails API: Mockito.mockingDetails(mock);
- StackTraceCleaner and StackTraceCleanerProvider extension point
- Various public APIs: Invocation, DescribedInvocation, Location, MockHandler, StubInfo, MockCreationSettings

[2014-12-14 22:55] #136 closed, assigned to mockitoguy

[2014-12-14 22:55] #137 closed, assigned to mockitoguy

[2014-12-15 23:23] mockitoguy opened #139 "Tidy-up public API of Mockito JUnit rule"
- Hide implementation class behind an interface
- Improve documentation

[2014-12-15 23:25] mockitoguy opened #140 "Make Mockito JUnit rule easier to use"
- Mockito JUnit rule easier to use by avoiding the need to pass test instance
- Make it compatible with JUnit 4.7+ instead of 4.9+

[2014-12-15 23:25] #139 closed, assigned to nobody

[2014-12-15 23:25] #140 closed, assigned to nobody

[2014-12-15 23:38] #132 closed, assigned to nobody

[2014-12-16 09:40] szczepiq opened #143 "git --author does not work from CI"
git --author does not work from CI for some reason and the automatic release does not work properly

[2014-12-21 00:00] matanlurey opened #145 "Mock refers to "super", preventing it from being used as a mixin."
By supporting _givenHashCode, `Mock` refers to `super`, preventing its use a Mixin.

This means if I want to mock out unimplemented functions in an abstract class, I can't.

Here is an example of some interfaces and abstract implementations:

[code]

I'd like to just extend `AbstractFoo` but also use `Mock` to mock out `baz`:

[code]

I think it would be alright if there was a base `MockMixin`. Th

[2014-12-23 12:58] raphaelbrugier opened #146 "Spy on java 8 default methods with interface hierarchy"
Hi,

I've a use case where I have a base Interface defining a method, an abstract class implements this interface. A concrete class extends the abstract class and implements another interface inheriting the base interface with a default method. (Something like the usage of traits in Scala)

This works fine if the object is not spied, but when spied the delegation seems to not call the real object

[2014-12-23 14:42] cvgaviao opened #147 "Manifest has a missing package org.mockito.asm.signature"
the manifest of version 1.10.17 has an import for `org.mockito.asm.signature` package. that doesn't exists in the binary jar.
This makes this version unusable with OSGi.

[2014-12-24 19:31] #145 closed, assigned to nobody

[2014-12-27 19:12] adligo opened #148 "Clean Dependency Separation"
Hi,

   I am working on a new testing project tests4j.adligo.org,  which is a competing project to junit. Tests4j is fairly similar to junit 3 api, but ~TestCase classes are run concurrently, and lots of other bells and whistles.  During some work on tests4j_tests.adligo.org (the project which tests tests4j.adligo.org), I used some of mockito's mocking framework with great success.
    However moc

[2014-12-30 07:08] cloudtrends opened #150 "mockito 1.9.5 or 1.10.17 can not passed junit test when use generic class"
let's has below assumpution test environments :

your can get demo project at:
https://github.com/cloudtrends/jstudy

https://github.com/cloudtrends/jstudy/tree/master/src/com/test

1.  public abstract class ParentClz<T extends ParentClz<T,U>, U>
2.  public class Child extends ParentClz<Child,String>

3. public class ChildApi
     just include one method:

	public Child addChild(){
		return new Ch

[2014-12-30 07:28] #114 closed, assigned to nobody

[2014-12-30 13:43] szczepiq opened #151 "Investigate why #125 did not trigger release"
Investigate why #125 did not trigger release

[2014-12-31 16:39] #128 closed, assigned to nobody

[2015-01-02 12:31] bric3 commented on #123
No I don't think it is necessary, however we can make a CGLIB mock maker, for people that may depend on it.

[2015-01-02 13:02] bric3 opened #152 "Mockito 1.10.x timeout verification needs JUnit classes (VerifyError, NoClassDefFoundError)"
If JUnit is not on the classpath and mockito is version 1.10.x (as of now 1.10.1 up to 1.10.19) and the code is using the timeout verification which is not supposed to be related to JUnit, then the JVM may fail with a `VerifyError` or a `NoClassDefFoundError`.

This issue has been reported on the [mailing list](https://groups.google.com/forum/#!topic/mockito/A6D7myKiD5k) and on [StackOverflow](htt

[2015-01-02 13:53] #134 closed

[2015-01-02 14:21] szczepiq commented on #152
Let's change the code so that JUnit is not needed. ComparisonFailure should
only be used if JUnit is on classpath. That was the original idea but a but
slipped in :)

On Fri, Jan 2, 2015 at 2:02 PM, Brice Dutheil <notifications@github.com>
wrote:

--
Szczepan Faber
Core dev@gradle; Founder@mockito

[2015-01-02 14:22] bric3 commented on #152
The issue exists since PR #46 in commit 4a3f2df6afa3cc58db73f29c587ee1c5a4216c32

[2015-01-02 14:23] szczepiq commented on #152
Thanks for digging into it.

On Fri, Jan 2, 2015 at 3:22 PM, Brice Dutheil <notifications@github.com>
wrote:

--
Szczepan Faber
Core dev@gradle; Founder@mockito

[2015-01-02 14:30] bric3 commented on #152
We need to understand the change before removing it :)

[2015-01-02 15:04] szczepiq commented on #134
Included in 2.0.0-beta. Thanks for help!

[2015-01-03 13:54] bric3 commented on #133
Play Framework users had a similar issue a while ago, now I know they are using SBT, it sometime ago but a workaround was to disable classcache in objenesis, maybe it can resolve your issue. We will be happy with the feedback.

This can be done easily with a configuration class that you can use in your test classpath. See the [`IMockitoConfiguration javadoc`](http://site.mockito.org/mockito/docs/c

[2015-01-03 14:20] ferstl commented on #152
Should JUnit 3 still be supported? If yes, the "silent" support of JUnit exceptions (handled by the `JUnitTool`) becomes more complicated due to the different class hierarchy of JUnit's `ComparisonFailure`. More precisely, it would not be possible anymore to work with `java.lang.AssertionError`. For example, `VerificationOverTimeImpl` would have to work with `java.lang.Error` or some common error

[2015-01-03 14:38] bric3 commented on #152
@ferstl You are correct, the assignment is the issue here for the JUnit 3.x compatibility. Yet I wonder if we even care about JUnit 3 nowaday, especially with the upcoming Mockito 2.x.x were API incompatibility is to be somehow expected.

Anyway I implemented a test that ensure that pure mockito API don't have JUnit dependency. The good news is that only `VerificationOverTimeImpl` is affected. I s

[2015-01-03 15:39] szczepiq commented on #152
Do we want to fix it for 1.x?

I'm contemplating improving the infrastructure so that we can continuously
deliver 1.x and 2.x. It would not be needed when 2.0 final is out.

Cheers!

On Sat, Jan 3, 2015 at 3:38 PM, Brice Dutheil <notifications@github.com>
wrote:

--
Szczepan Faber
Core dev@gradle; Founder@mockito

[2015-01-04 08:57] szczepiq opened #153 "stop producing mockito-all"
We want to avoid producing mockito-all because this distribution is a legacy of old dependency management. mockito-all causes confusion for the users. mockito-core should be used instead.

[2015-01-04 10:27] #153 closed

[2015-01-04 12:04] bric3 commented on #152
I don't think it's required, if there's a need people will report it.
At the moment the workaround is to have JUnit 4.x in the classpath, not a deal breaker in my opinion.

[2015-01-04 17:53] szczepiq opened #154 "stop depending on hamcrest internally"
In order to avoid compatibility/upgrade problems we will stop depending on hamcrest internally. Hamcrest will be an optional dependency of Mockito.

[2015-01-05 15:53] bric3 commented on #150
Hi @cloudtrends,

I'm not how to reproduce your problem from the code snippet (even in the sample project).
Have you tried Mockito 1.10.19, there have been fixes regarding the `StackOverflowError`.

The ClassCastException in 1.9.5 is probably because this version is much less aware of generics, even with deep stubs you need to stub each call returning a parameterized type. Remember that at this ti

[2015-01-08 18:14] sobolk opened #155 "Internal Comparator violates its general contract"
Log from my test run:

java.lang.IllegalArgumentException: Comparison method violates its general contract!
	at java.util.TimSort.mergeHi(TimSort.java:868)
	at java.util.TimSort.mergeAt(TimSort.java:485)
	at java.util.TimSort.mergeForceCollapse(TimSort.java:426)
	at java.util.TimSort.sort(TimSort.java:223)
	at java.util.TimSort.sort(TimSort.java:173)
	at java.util.Arrays.sort(Arrays.java:659)
	at

[2015-01-08 18:22] sobolk commented on #155
It occures when bean under test has many fields (declaredFields.size = 44)

[2015-01-10 22:15] adligo opened #156 "Api Suggestions"
Hi,

   Here are a few api suggestions, I didn't see them in the 2.0 release however I haven't really taken much time to check it out (5 min or so reading release notes).

1) I have created a few classes that can be reused for "MethodRecording" which is a Answer implementation.  If the Mockito developers like this code, they should feel free to take it and add it to Mockito.
https://github.com/adl

[2015-01-12 05:26] adligo commented on #156
After thinking about this a little more, perhaps the name MockMethod is better than MethodRecorder
since the class returns values in addition to recording calls;
https://github.com/adligo/tests4j_4mockito.adligo.org/blob/master/src/org/adligo/tests4j_4mockito/MockMethod.java

[2015-01-13 18:08] bric3 commented on #156
Release 2.x is an ongoing progress, expect API changes for a few months with mockito 2 PR are welcome though.

About your idea I think it should be based on the `InvocationListener` API : [invocationListeners](http://site.mockito.org/mockito/docs/current/org/mockito/MockSettings.html#invocationListeners(org.mockito.listeners.InvocationListener...)) and actually mockito is already doing it unless y

[2015-01-14 01:31] snargleplax commented on #78
I think the problem is slightly more specific.  From what I've seen, if all the mocked methods use thenReturn(), everything works as you'd want -- any new invocation as in your test() method clobbers the previously mocked behavior.  However, it appears that this clobbering fails to take place if the first mock uses thenAnswer(), and apparently you've run into it for thenThrow() as well.

Looking a

[2015-01-14 05:46] adligo commented on #156
I checked out InvocationListeners a little bit and it does look like there is some overlap.   However I think that MockMethod would still be quite useful as a separate API to include in Mockito, since it give you access to the actual arguments that were passed to a specific method, InvocationListeners seems to omit this at the most detail level since DescribedInvocation doesn't seem to have the ac

[2015-01-15 12:36] szpak opened #157 "Source files should not be put in binary JAR"
Source files (`*.java`) should not be put into binary `mockito-core.jar`. It stupefies Idea to show decompiled file even when source jar is available.

[2015-01-17 15:33] cmoaciopm opened #159 "ZipCompareTest failed in master branch"
In file buildSrc/src/test/groovy/org/mockito/release/comparison/ZipCompareTest.groovy,

When executing "File emptyZip         = zip.newZip()", it always prompt

java.util.zip.ZipException: ZIP file must have at least one entry
	at java.util.zip.ZipOutputStream.finish(ZipOutputStream.java:304)
	at java.util.zip.DeflaterOutputStream.close(DeflaterOutputStream.java:140)
	at java.util.zip.ZipOutputStr

[2015-01-17 17:43] szczepiq commented on #159
Can you help out fixing? The test does work on my machine and the CI ;)
17 sty 2015 07:33 "cmoaciopm" <notifications@github.com> napisaù(a):

[2015-01-18 02:10] cloudtrends commented on #150
Hi @bric3

I had switch mockito version from : 1.10.17 to 1.10.19 , the JUnit test result as below:

1. StackOverflowError  is gone
2. But , ClassCastException still occurred again :

    the Child instance call  method  in  ParentClz , in which method return a new instance of child .

 java.lang.ClassCastException: com.test.ParentClz$$EnhancerByMockitoWithCGLIB$$eee34e0a cannot be cast to com.tes

[2015-01-18 09:21] bric3 commented on #150
Hi,
I don't know exactly your code, the sample project don't don't really show precisely the problem, as you know in Java generics works with erasure, that means they are only known at runtime. If the type is not present in some some way, mockito cannot find the right type. That means that you may have to stub manually this call.

[2015-01-19 20:43] akomisarek commented on #133
@bric3 - thank you for potential suggestion, but unfortunately this doesn't change anything. I debugged the Mockito internals and there is simple issue with the classloader being passed to cglib library to create new Class. So the cache is not even working, because the classes are not loaded - so I believe it was different issue.

For know I changed our code, but would like to see resolved at some

[2015-01-20 20:24] #152 closed

[2015-01-22 11:14] duckpodger opened #160 "AdditionalMatchers logical matchers don't capture arguments"
In certain situations it would be nice to both specify some simple matching constraints AND capture a value. I have tried using the org.mockito.AdditionalMatchers methods that allow logical combinations of matchers in combination with an argument captor.

It doesn't work. See the example below.

The reason for this is that the org.mockito.internal.invocation.InvocationMatcher.captureArgumentsFrom(

[2015-01-27 09:10] tobier commented on #154
What's the progress on this? I'd like to use Mockito with my unit tests and I'm running JUnit 4.11 that is bundled with Eclipse 4.4 that I'm using.

[2015-01-27 10:07] bric3 commented on #154
Is Hamcrest dependency a blocker for using Mockito with Eclipse 4.4 ?

-- Brice

On Tue, Jan 27, 2015 at 10:10 AM, Tobias Eriksson <notifications@github.com>
wrote:

[2015-01-27 10:58] tobier commented on #154
@bric3 It seems that way. Eclipse 4.4 comes with JUnit 4.11 and Hamcrest 1.3, which apparently doesn't work with Mockito? Therefore when I try to run my JUnit plug-in tests for an Eclipse 4.4 RCP application it doesn't work.

[2015-01-27 11:02] martin-g commented on #154
I use Mockito 1.9.5 and 1.10.16 with JUnit 4.11 and 4.12 combined with Hamcrest 1.3 in several applications and didn't have any issues.

[2015-01-27 11:04] bric3 commented on #154
Fells more of an Eclipse issue, if an IDE cannot work with the project
classpath...

The team / the code is clearly not near any Mockito 2.0 _final_ release.
Anyway, this task is not even started, and it will target Mockito 2.0 as
API will change.

[2015-01-27 11:17] tobier commented on #154
@bric3 @martin-g My bad, I made a plugin for Mockito and forgot to add the dependencies to Hamcrest and Objenesis. Seems to work fine now as far as I can tell..

[2015-02-02 13:36] Blackrush commented on #146
+1

[2015-02-03 13:20] mplewka opened #166 "UnfinishedStubbingException when thenReturn contains mock which is used in when"
Hi, I've found something strange and would like to ask you to explain, what is the reason UnfinishedStubbingException is thrown here? My understanding is that using mock in thenReturn is forbidden when it is a part of when as well, but frankly... I don't get why :-)

    @Test
    public void shouldMockMethodButDoesNot() {
        TestInterface mock = Mockito.mock(TestInterface.class);
        whe

[2015-02-04 17:18] philipwhiuk commented on #154
Would be nice to at least upgrade to hamcrest 1.3 (latest version I think).

[2015-02-05 20:52] alberskib commented on #166
If you slightly change your code to the next form:
[code]
it is working correctly.
Alternatively if you do next thing:
[code]
it also behave in expected way.

Your problem is connected to the fact that in one place you are trying to register mock behaviour for selected method `when(mock.returnSomething()) ` - as a result mock is in state for registering answer , and then you are interacting with t

[2015-02-05 20:58] mplewka commented on #166
Thanks alberskib for your reply. I know how to build such a workaround :), what is more, I was almost sure that "incorrect state" is the reason why exception is thrown. Nothing new for me, but the question is if it is a desired behavior or just a bug? In my opinion it is at least weird...

[2015-02-05 21:15] alberskib commented on #166
It is really good question but unfortunately I am not able to answer to it.
I think that @szczepiq or @bric3 will be able to answer it.

[2015-02-08 17:44] bric3 commented on #154
@philipwhiuk Maybe in version 2.0. Maybe we could eventually drop the dependency (at this time nothing yet decided)

[2015-02-11 13:46] gontard opened #168 "Can't stub public method inherited from a package visible class"
I have these two classes

[code]
i want to stub the `getValue`method in the following :

[code]
but it fails because in the line
[code]

the real method getValue is invoked.

Am i doing something wrong ? or is it a Mockito bug/limitation ?

Notes:
 *  if the class `ParentTested` is public the test pass.
 * the method `getValue` is really public for a `Tested` since it is accessible outside the pac

[2015-02-11 13:52] gontard commented on #168
If instead of throwing an Exception i return a value in `ParentTested`:

[code]
then i get a `MissingMethodInvocationException`:
[code]

[2015-02-15 21:02] makasprzak opened #169 "@InjectMocks and @Spy on same field should cause MockitoException"
Some time ago there was [@InjectMocks and @Spy cannot be used together when object initialized by mockito](https://code.google.com/p/mockito/issues/detail?id=489) issue rejected.
Checking the codebase I found a test case `WrongSetOfAnnotationsTest.shouldNotAllowSpyAndInjectMock()` which, I guess, was supposed to cover Brice's explanation. The test passes because the MockitoException **is** thrown,

[2015-02-15 22:17] makasprzak commented on #169
Now seeing the other thest: MockInjectionUsingSetterOrPropertyTest, I got a bit confused as it suggests this combination is ok (only the injection of such created spy will not happen), which seems to be in conflict with WrongSetOfAnnotationsTest.shouldNotAllowSpyAndInjectMock(). Is it an obsolete test then?

[2015-02-16 01:16] bric3 commented on #169
Hi thanks for spotting this.

So yes this is the combination of `@InjectMocks` and `@Spy` an undocumented feature, understand not promoted feature. The test is indeed wrong as the cause because `List` is an interface.

The combination of `Spy` and `InjectMocks` is not to be removed in the foreseeable future, however the issue at hand in [489](https://code.google.com/p/mockito/issues/detail?id=489)

[2015-02-16 01:18] #169 closed

[2015-02-16 01:19] bric3 commented on #169
I have fixed the wrong unit test. Again thanks **a lot** for taking a look on the matter :)

[2015-02-16 01:24] bric3 commented on #168
Hi,

This is a duplicate of issue [212](https://code.google.com/p/mockito/issues/detail?id=212). This is a known limitation of CGLIB (in the version we are using) and in the way it generates proxies. I'm also caught in a similar situation with [Achilles](https://github.com/doanduyhai/Achilles).

* Unfortunately we are not going to patch CGLIB.
* Fortunately ByteBuddy mockmaker is around the corner

[2015-02-16 08:45] gontard commented on #168
Hello,

thanks @bric3  for theses informations.
So, I guess i should close this issue ?

[2015-02-16 10:26] bric3 commented on #168
Nope, let's continue the discussion there. GH is our new home and it's more comfortable than Google code ;)

[2015-02-16 10:57] duckpodger commented on #160
Having thought about this a bit more, I am not sure that modifying the additional matchers is the best way to achieve my goal (although the changes suggested do also make sense). I think a better way to achieve the goal of both capturing and constraining a parameter is to extend the argument captor to add overloaded implementations of capture() that enable additional matching e.g. argumentCaptorIn

[2015-02-16 12:57] bric3 commented on #160
This use case has never been in mind. I'm not quite sure it is even a good way to both match and capture an argument. I'd rather capture and ensure it has the correct values.

[2015-02-17 11:52] tatacalu opened #172 "Update hamcrest-core to version 1.3"
Hi there,

It would be nice if mockito-core would depend on hamcrest-core 1.3 instead of 1.1 so that both mockito and junit [latest versions] would depend on the same 3rd party library.

Thanks in advance!

[2015-02-18 01:56] fge opened #173 "Ignoring invocations on a spy()?"
Note that I am aware that the code I currently have has a design fault precisely because of this but here goes... Mockito core version 1.10.19

The project in question is [this](https://github.com/fge/java7-fs-base); I am trying to ease the development of new `FileSystem` instances and a pain point is the attributes.

The problem is in fact described in this question on StackOverflow:

http://stac

[2015-02-18 21:07] bric3 commented on #166
Hi @mplewka,

Yeah mock stubbing wasn't really designed to be _intertwined_. Things are already complicated but when mocks call another while being stubbed it becomes very difficult to actually detect the correct arguments for the correct call in intertwined mocks. I don't remember the details but if we relax this part it may blow in the wrong way for some other cases.

So in way for your case, it

[2015-02-18 21:07] #166 closed

[2015-02-19 12:41] bric3 commented on #71
@billmag I'll close the issue as it doesn't seem related to mockito. Feel free to scream if there's reason for us to work on the matter.

[2015-02-19 12:41] #71 closed

[2015-02-19 12:49] bric3 commented on #173
**As `writer` is the spy**, as explained in the SO question this is what you want:

[code]

[2015-02-19 12:49] #173 closed

[2015-02-19 13:04] bric3 commented on #133
OK, note that CGLIB may very well be dropped in mockito 2, see this PR #171
You could try that code and see if it works or if it could be improved. I have created a `ClassLoaders` test util to help class laoder testing, it may not be complete though.

[2015-02-19 20:37] welkman opened #174 "Annotation to instantiate and inject non-mock into @InjectMocks"
This may seem to stray from the core mission of Mockito, but it seems like the natural and relatively simple extension to the @InjectMocks functionality.  We can already use

@Mock(answer=Answers.CALLS_REAL_METHODS) MyObject myObject;
or
@Spy MyObject myObject;

But in those cases we are truly mocking/spying the collaborator.  But if there is really no mocking or spying required but we just need t

[2015-02-19 22:32] bric3 commented on #174
For previous discussion on the topic : [google code issue 290](https://code.google.com/p/mockito/issues/detail?id=290)

[2015-02-20 05:02] welkman commented on #174
Thanks, I should have searched first.

Sent from my iPhone

On Feb 19, 2015, at 4:32 PM, Brice Dutheil <notifications@github.com> wrote:

[2015-02-20 08:09] bric3 commented on #174
@welkman no problem :)

We failed at importing old issues when moving to github anyway. We didn't know that the PR and counter is the same :/

[2015-02-20 16:55] bric3 commented on #173
Overlooked the question, the snippet isn't actually about stubbing.

Anyway, looking more at the SO question, the test code is doing a  _partial mocks_, and it this is not something possible with the curent design of mockito. It's probably not something that we will improve anytime soon.

[2015-02-21 13:37] bric3 commented on #150
Closing as no feedback from reporter

[2015-02-21 13:37] #150 closed

[2015-02-21 13:39] #104 closed

[2015-02-21 13:40] bric3 commented on #84
Note we may very well drop CGLIB in 2.0, see #171

[2015-02-21 13:47] bric3 commented on #130
@saden1 Yeah spies are kinda specialized mocks. And the way mockito does this is to perform a shallow copy of fields from the original instance.

Also about proxying, unfortunately some objects especially generated ones usually cannot be subclassed, or sometime cannot be instantiated. Reasons vary. Anyway that's why we introduced the `AdditionalAnswers.delegateTo()` answer for such cases.

I'm clo

[2015-02-21 13:47] #130 closed

[2015-02-21 13:58] bric3 commented on #147
@cvgaviao In recent mockito we have made the resolution optional. could that work for OSGI ?

See #104

[2015-02-21 14:10] bric3 commented on #156
I'm not sure this kind of API should be integrated in mockito, it feels like a specific use case, not something testers do all the time. Imho I believe this this fine having some custom answers in other projects suiting the needs there.

Also I think method recording (replay) should fit in another project.

Opinion may change though, as the team grow accustomed to the idea.

[2015-02-21 14:10] #156 closed

[2015-02-21 14:13] bric3 commented on #157
Duplicate of #28
Though the team thought it was better for project that don't rely on maven like source repositories.
cc @szczepiq

[2015-02-21 14:13] #157 closed

[2015-02-21 14:21] bric3 commented on #93
Not gonna happen. It is our documentation entry point.

There's always the wiki for that :)

Closing as the PR has been merge, thx again for taking care of the doc.

[2015-02-21 14:21] #93 closed

[2015-02-21 17:17] cvgaviao commented on #147
@bric3, I will take a look on it next monday and return to you.

[2015-02-22 23:54] xnickmx commented on #72
A very similar problem recently happened to me. I got a NullPointerException in PogoMetaClassSite, where the metaClass was null during a unit test. I was using mockito-groovy-support.

Then I noticed that the version of mockito-groovy-support depended on Mockito 1.9.5. In my project was using Mockito 1.8.5. After upgrading my version, everything worked.

[2015-02-23 10:05] bric3 commented on #72
@xnickmx Cool thanks for the feeback

[2015-02-25 01:57] ianbrandt opened #177 "Add API to remove internal ThreadLocal values when done with Mockito"
Greetings,

It would be nice if Mockito had API to remove its `ThreadLocal` values gracefully when I'm done using it from a pooled thread.

To explain I've been using Mockito to great effect in combination with [Arquillian/ShrinkWrap](http://arquillian.org/) for integration testing my web tier.  I can substitute Mockito mocks for MVC controllers, servlets, servlet filters, etc. that are defined as

[2015-02-25 11:04] bric3 commented on #177
I think the API you want already exist, like [`reset`](http://site.mockito.org/mockito/docs/current/org/mockito/Mockito.html#resetting_mocks)

[code]

Or if you don't want to verify invocations, [this](http://site.mockito.org/mockito/docs/current/org/mockito/MockSettings.html#stubOnly()) may be of use when creating mocks.

[code]

[2015-02-26 02:21] ianbrandt commented on #177
Hi @bric3,

Thank you for your prompt reply.

I've tried both of your suggestions without success, though perhaps my tests were not entirely valid.  I'm creating the mocks as Spring beans using the default singleton scope:

[code]

I've now registered a Spring `ApplicationListener<ContextClosedEvent>` to call `Mockito.reset(...)` on them:

[code]

I still observe leaked `ThreadLocal` values, but I

[2015-02-26 09:36] bric3 commented on #177
Nice investigation ! Indeed I didn't think that the closing handler could be executed in another thread.

That proves again that Mockito was never about running in a container anyway. In a unit test the same mock is usually reset in the same thread. Anyway these thread locals are necessary for mockito stubbing and configuration. I'm not sure about adding such method, at least publicly. And if the

[2015-02-26 22:28] #155 closed

[2015-03-11 17:52] timgent opened #178 "Mockito matchers used in "when" impact the "there was one""
If you use an `any` matcher in a `when`, then if you later try and verify another method was called on the same mock it passes regardless of whether the arguments matched.

Example when it (wrongly) passes, as the method "shouldBeCalled" is called, but not with the given argument:

[code]

Example when it fails as it should:

[code]

[2015-03-12 16:20] bric3 opened #179 "Make google code issue history available on our new website"
[Google code is shutting down (for real)](http://google-opensource.blogspot.fr/2015/03/farewell-to-google-code.html)

* March 12, 2015 - New project creation disabled.
* August 24, 2015 - The site goes read-only. You can still checkout/view project source, issues, and wikis.
* January 25, 2016 - The project hosting service is closed. You will be able to download a tarball of project source, issues

[2015-03-12 20:58] cvgaviao commented on #147
Confirmed that since 1.10.19 manifest is ok.

[2015-03-12 20:59] #147 closed

[2015-03-12 22:04] szczepiq commented on #179
Let's drop the Google issues. If they are important, they will resurface.
On Mar 12, 2015 9:20 AM, "Brice Dutheil" <notifications@github.com> wrote:

[2015-03-13 16:06] bric3 commented on #179
I still think there have been interesting discussion there, and we should have a way to keep them available, static pages would be enough, and anyway it's not a big issue

[2015-03-18 01:17] joshes opened #181 "Warning when multiple instances of Mock exist"
I've ran into this a few times now and think that an error/warning message could be used. The situation is having two interfaces of the same type being mocked via annotations, then injecting via @InjectMocks.

It seems at run/test time, that there is some probability either will be chosen.

Admittedly, this is an edge case, but would be faster to track down if there was a warning perhaps that mult

[2015-03-19 00:30] gttaylor opened #182 "Copy on mockito.org has typo"
![image](https://cloud.githubusercontent.com/assets/11153471/6722280/3eccad30-ce2b-11e4-9925-7bee57c41d30.png)
Under More Info

"@InjectMocks: automatically inject mocks/spies fiels annotated with @Spy or @Mock"

should read

"@InjectMocks: automatically inject mocks/spies fields annotated with @Spy or @Mock"

[2015-03-19 14:48] #182 closed

[2015-03-19 14:50] bric3 commented on #182
@gttaylor  Thanks for the report :)

FYI for site issue please use the issue tracker of mockito/mockito.github.io.

[2015-03-19 17:29] bric3 commented on #147
Cool thanks for the feedback :)

[2015-03-19 19:16] mjiderhamn opened #183 "Feature request: Method to reset mock interactions/invocations without resetting stubs"
I'm still missing the ability to reset the invocations on a mock, while keeping all the stubbing, so this is a GitHub equivalent of https://code.google.com/p/mockito/issues/detail?id=316

Some background discussion exists in a [thread](https://groups.google.com/forum/#!topic/mockito/5G-XnpIhP3s) that also refers to [issue 84](https://code.google.com/p/mockito/issues/detail?id=84) for which there a

[2015-03-19 19:19] bric3 commented on #183
Hi, in your use case could you be interested to stubbing only i.e. not interested by verifications ?

In this case there's this setting may prove useful : `withSettings().stubOnly()`

[2015-03-19 19:38] mjiderhamn commented on #183
No, that would not solve my problem.

My current issue is that I have a large number of permutations (x * y) of input data, and the plan was to create reusable methods for one of the "dimensions" (`x_case1()`, `x_case2()`, `x_case3()`, ...) and then from each test case of the other dimensions (`@Test y_case1()`) call the methods of the first dimension **and pass a mock as a parameter**. That way I

[2015-03-19 19:52] bric3 commented on #183
OK

Well at the moment the team is clearly busy in other RL projects. If you manage to make a nice PR (see the contributing guide) of this feature before we do work on it, which seems most probable we may integrate your work :)

[2015-03-19 20:01] bric3 commented on #178
Hi @timgent

I'm not reproducing, could you write a JUnit test reproducing the faced issue, with the latest version of mockito and in java please.

[2015-03-23 17:38] javaerb opened #185 "anyString() does not work for null"
Since we switched to 2.0, a statement like:
when(someClass.someMethod(anyString())).thenReturn("someValue");

will NOT take effect when you call
someClass.someMethod(null)

[2015-03-24 02:34] hbf opened #186 "Allow Java 8 default ("defender") methods to be tested"
Java 8 allows default methods on interfaces. It seems like a legitimate use case to test these, by mocking the results of non-default methods of the interface. Here's a (hypothetical) example that currently doesn't work with Mockito:

[code]

What is needed to make this work?

I've tried adding `Mockito.when(h.f()).thenCallRealMethod()` but this didn't work. Also, there has been a related question

[2015-03-24 10:03] bric3 commented on #185
Yes the behavior of these matchers has changed in 2.0

At first there was `anything()`, which will match _anything_ obviously, later there was a shorter alias that was called `any()` that match anything too. Then there was the idea to avoid visible cast so a number of alias methods were introduced to hide the cast, methods like `anyString()`, `any(Class)`, `anyList()`, etc., yet internally they st

[2015-03-24 10:03] #185 closed

[2015-03-24 10:07] bric3 commented on #186
Hi,

Thank you very much for the unit test. I know we are a bit late to support nifty Java 8 stuff. It'll come eventually in some 2.0 beta.

[2015-03-24 13:14] mktitov opened #187 "java.lang.ClassCastException: java.lang.Class cannot be cast to java.lang.String"
Exception throws on verifyZeroInteractions when using mock with default answer.
checked on versions 1.10.5-2.0.5
all ok on 1.9.5

[2015-03-24 13:32] bric3 commented on #187
Hi,

Do you have a JUnit test so that we could reproduce.
Also please see the [contributing guide](https://github.com/mockito/mockito/blob/master/CONTRIBUTING.md).

[2015-03-24 14:15] mktitov commented on #187
public class MockitoTest extends Mockito {
    public interface TestMock {
        public boolean m1();
    };

    @Test
    public void test() {
        TestMock test = mock(TestMock.class, new Answer() {
            @Override public Object answer(InvocationOnMock invocation) throws Throwable {
                return false;
            }
        });
        test.m1();
        verifyZeroInteracti

[2015-03-24 14:42] mktitov commented on #187
[code]

[2015-03-24 15:18] hbf commented on #186
That's exciting news! Thanks for the great work.

I'm wondering whether in the meantime there's a way to make this work in the 1.x branch? I've played around quite a bit but haven't found a way.

[2015-03-27 18:05] bric3 commented on #186
@hbf I'm excited too by nifty stuff of Java 8 too, yet we need some time to do this work and research on this, and most of us are quite busy IRL or other part of our job.

[2015-04-01 00:16] vadims opened #188 "ArgumentCaptor no longer working for varargs"
I ran into the issue described here: http://stackoverflow.com/questions/27303562/why-does-upgrading-mockito-from-1-9-5-to-1-10-8-break-this-captor

[2015-04-01 06:54] sedubois opened #189 "Compatibility of BDDMockito.then() with AssertJ and Catch-Exception"
Mockito's `BDDMockito.then()` clashes with AssertJ's `BDDAssertions.then()` and Catch-Exception's `BDDCatchException.then()`, meaning that in a same test class it is not possible to use BDD style to assert simultaneously:
- a mock's behaviour (BDDMockito: `then(dependency).delete(1)`)
- a return value (BDDAssertions: `then(result).isEqualTo("value")`)
- an exception throw (BDDCatchException: `then

[2015-04-01 09:13] bric3 commented on #189
Correction ;

_catch-exception_ lib will no more be updated as stated by his author. Then I don't see any reasonable way to fix this in any lib as they are not coupled and they have no reason to. We won't remove or rename this API `BDDMockito.then`, and I'd rather not introduce too many aliases.

In the mean time the only sensible thing to do would be to create a class that can serve as an API dis

[2015-04-01 09:31] sedubois commented on #189
Could you show where this is stated? https://github.com/Codearte/catch-exception is currently active. Or what system should be used instead to test exceptions in BDD style?

What do you mean by 'in the meantime'? What is the long-term solution to cleanly test mocks, exceptions and return values in BDD style? `assertjThen` and `thenVerify` are quite less readable than `then` and this places the mai

[2015-04-01 10:35] bric3 commented on #189
I remember I saw it at some point last year on GC at their old home : https://code.google.com/p/catch-exception/ but it seem they have changed their plan, I didn't even know they migrated to GH. Actually I prefer AssertJ for assertions, with version 2.0.0 there's nifty API on that matter.

I mean that until mockito team reach consensus on this API change, this issue is on hold.

It's probably a qu

[2015-04-01 19:40] arunnaparna opened #190 "Build Fails with NoClassDefFoundError on CglibMockMaker"
Hi,
   my maven build fails when I try to mock a class with the error below. I am beginner with mockito. Can someone please help with this? I am trying to build from command line. I am trying to build a scala project.

Java version: 1.7
Project type: scala project
mockito version:
[code]

Error that I get during maven build:

[code]

[2015-04-01 19:44] bric3 commented on #190
Hi,

We are happy that you are using mockito, but for support please use the mailing list or stackoverflow :)

With the given info there's not enough info to diagnose the issue, it seems to be related to classpath though.

[2015-04-01 19:54] bric3 commented on #190
Oh I just identified the issue, this project is using powermock, which is depending / hacking in mockito internals, those have change in version 1.10.8. However there's a new version of powermock 1.6.2 that work with mockito 1.10.19

[2015-04-01 19:54] #190 closed

[2015-04-02 06:03] netmikey opened #191 "Mock returning java.util.Optional should return Optional.empty() by default (Java 8)"
(From the discussion at https://code.google.com/p/mockito/issues/detail?id=497 )

Since the thread ends with the request for a GitHub ticket and I couldn't find one... here it is :)

[2015-04-02 08:35] phjardas commented on #191
I've implemented a default answer for Optional. The code uses reflection so it should still compile and run cleanly on Java versions below 8.

However, I have absolutely no idea how to test this code, because it would require two different JDKs to test both branches.

[2015-04-03 05:23] sindhu-damodaran opened #193 "Non-sensical "Invalid use of argument matchers!" error"
I am using `org.mockito:mockito-core:1.9.0` with `junit:junit:4.11`. I have the following code which I need to test:

[code]

I write a test for this as:

[code]
In this test I accidentally used `Matchers.contains()` incorrectly. But the error message I got was not at all helpful:

	java.lang.AssertionError:
	Expected: (an instance of java.lang.IllegalStateException and exception with message a st

[2015-04-03 14:28] bric3 commented on #181
Hi,

This is a known, documented and wanted behavior. If by warning you mean writing a line to the console, this could probably done, however if it's about raising an exception then I'm not sure this is the smart move.

[2015-04-03 14:35] bric3 commented on #117
That is probably feasible, but this won't be of any use in most cases, because most of us use existing _matchers_ where most are generic with an `Object` upper bound.

[2015-04-03 16:57] szczepiq commented on #181
Since the current behavior is intermittent why it is considered wanted?

Cheers!

On Fri, Apr 3, 2015, 07:28 Brice Dutheil <notifications@github.com> wrote:

[2015-04-03 20:06] mariuszs commented on #189
Im a guy from catch-exception team :) I would recommend to use 'BDDAssertions.then' instead of 'BDDCatchException.then'. This combo works fine for Java6 and Java7. 'BDDCatchException.then' is here only for compatibility with Java8

Java8 has some problem with generics (bug? or feature) and do not compile. I would recommend using AssertJ 'ThrowableAssert.thenThrownBy' alone (without catch-exception

[2015-04-03 20:54] szczepiq commented on #117
Yeah, it would be good. Who wants to contribute the fix?

On Fri, Apr 3, 2015, 07:35 Brice Dutheil <notifications@github.com> wrote:

[2015-04-04 10:54] sedubois commented on #189
OK great :) I use Java 8 and your solution works, so things are settled regarding catch-exception by using the AssertJ API (`BDDAssertions.then()`).

Now the solution on Mockito side should IMHO be the same: use the AssertJ API (a nifty API as you mentioned). Otherwise we are stuck with using `verify()` instead of `then().should...()` to check mock interactions and thus cannot use BDD style.

I al

[2015-04-04 14:13] bric3 commented on #189
OK, thanks for the feedback @mariuszs. And Thnaks for the feedback on Spock too :)

I don't follow you there. The only possible thing to do is to add other _tactical_ aliases, @szczepiq and I have mixed feelings about that. That's why I proposed to create a custom _dispatch_ api with those tactical aliases, e.g.

[code]

[2015-04-04 14:20] bric3 commented on #181
Also @joshes I think more recent version of mockito have a more reproducible behavior (check 1.9.5, 1.10.19)

The wanted behavior I'm speaking about is **to not fail if injection cannot happen**, because a developper **may choose to inject them afterward**.

[2015-04-04 14:59] bric3 commented on #193
This is related to JUnit's `ExpectedException` rule, not really something we have control on. Note the exception is named `InvalidUseOfMatchersException` for a reason here ;)

Also note the project is using Mockito 1.9.0, there have been improvements since in the exception message as well, it now indicate the location of misplaced matchers. I'm not sure when it has been introduced but late version

[2015-04-04 15:00] #193 closed

[2015-04-05 09:54] bric3 commented on #168
should be fixed by #171

[2015-04-05 09:54] #168 closed

[2015-04-05 10:23] bric3 opened #194 "Tweaks Matchers.any family matchers behavior"
This issue is a follow up of the work started in #141 by @pimterry. Also here's an extract of a message on [this thread](https://groups.google.com/forum/#!topic/mockito/8_WGBB3Jbtk) of the mailing list :

-------------

The origin of these methods is they come from `anything` i.e. anything matches, later for shortness and cast avoidance the aliases grew, but the API naming thus became inconsistent

[2015-04-05 18:54] bric3 commented on #194
`any` family is currently _(at his time up to 2.0.5-beta)_ inconsistent on the way they allow or not `null`s. Type checking is ok, but `null` check behavior consistency is also important.

[2015-04-05 19:48] szczepiq commented on #194
AnyX gramtaically tends to imply to return false for null because any
object is not null. I agree completely the api should be consistent.

On Sun, Apr 5, 2015, 11:54 Brice Dutheil <notifications@github.com> wrote:

[2015-04-05 19:57] bric3 commented on #194
I'm not anymore of sure of that. Anyway the changes introduced in this API make it inconsistent.
That's why I propose any validates `null`, and if not `null` then validates the type

Also on the mentioned thread _Francisco Olarte_ was proposing a `anyNotNull` family, this could clarify the behavior on `null` of these APIs.

[2015-04-05 21:31] kflorence commented on #78
+1

[2015-04-05 21:45] szczepiq commented on #194
Agreed. Any should return false for null and false for wrong type (instance
of). Otherwise I think it would violate the principle of least surprise.

On Sun, Apr 5, 2015, 12:57 Brice Dutheil <notifications@github.com> wrote:

[2015-04-05 21:47] szczepiq commented on #78
I'm afraid this is not solvable with this api. I believe it is documented.
Please use do return api. Hope that helps!

On Sun, Apr 5, 2015, 14:31 Kyle Florence <notifications@github.com> wrote:

[2015-04-06 04:03] sindhu-damodaran commented on #193
From the trace I gathered that the error is `InvalidUseOfMatchersException: 2 matchers expected, 1 recorded`. So how did Mockito get to expect two matchers? Which was the one that it manage to record? It would have helped if the error message explained those. Instead, I got a lecture on something completely unrelated and wasted a bunch of time trying to chase this down. The bug report was *not* th

[2015-04-06 14:44] folarte commented on #194
I see anyString() ( and friends ) checking for null and anyObject() not doing it as an inconsistency potentially leading to user surprise. Object is as much of a class as String ( or other ).

Other thing is I fail to see is the difference ( if there is any ) between isA(Klazz) and notNull(Klazz) ( or IsNotNull, but I see that one is a forwarder ). To me they seem they do the same, given the docs,

[2015-04-07 15:12] pimterry commented on #194
I think there might be confusion here: @szczepiq I don't think the two of you are agreeing. @bric3 seems to be saying that `any` should match nulls and anyNotNull should exist (and presumably not match null), while you're saying that `any` should not match null.

I think the problem here is that there's two use cases that currently aren't clearly separated, both of which we need to support.

1. I

[2015-04-07 15:54] folarte commented on #194
On Tue, Apr 7, 2015 at 5:12 PM, Tim Perry <notifications@github.com> wrote:

​I agree all are used and importants.

I'm still struggling with the difference between isNullOr(X.class) and
anyAs(X.class). The only difference I see is if I have a class A with a
subclass subA, and a class B with a subclass subB, and a couple of methods
M(A) and M(B) is that M(anyAs(subB.class)) will select M(B) and ma

[2015-04-07 17:36] soulcub opened #195 "If you have both through constructor and through annotation injection fields in class, injection will be failed for the first time"
JDK 1.6 + Mockito 1.9.5

If you have some class with 2 types of injection:

[code]
and you want to instantiate them with ```@RunWith(MockitoJUnitRunner.class)``` you will see that annotated fields will be ```null```.
[code]
Output:
[code]
Interesting thing that if you will run ```MockitoAnnotations.initMocks(this);``` right before this code - everything will be ok, annotated field will be instanti

[2015-04-07 17:37] pimterry commented on #194
The issue with getting rid of `anyAs(X.class)` is that we want two things:

* A way to match an argument without checking anything about its value (any)
* A way to match an argument and check its type (isA)

I think your solution is to just use `any()` with no parameter everywhere to cover the first case, and specify the type when you want the 2nd case. That won't work, because target type inferen

[2015-04-07 21:16] fluentfuture opened #196 "Stable version (1.10.19) and HEAD don't build on Android"
I'm trying to upgrade my company's mockito version to 1.10.19 and ran into Android build breakage, caused by asm class file versioning issue.

[code]

I downloaded cglib-and-asm-1.0.jar and found that while there is org/mockito/asm/util/CheckSignatureAdapter.class in the jar, there isn't org/mockito/asm/signature pacakge.

The cglib-and-asm-1.0-sources.jar does have the missing .java files.

This

[2015-04-08 12:01] folarte commented on #194
Hi Tim:

On Tue, Apr 7, 2015 at 7:37 PM, Tim Perry <notifications@github.com> wrote:

I don't think you've understood my solution. From the previously
propossed one ( any() + anyAs(Class) + isA(Class) + isNullOrA(class) (
+ notNull(), which is in another place ) I propose to remove anyAs,
given it does not check type, rename isA(Class) to anyNotNull(Class),
rename isNullOrA(Class) to any(Class) an

[2015-04-08 18:37] pimterry commented on #194
Ok, I think that mostly makes sense, although I'm not clear exactly what the full API you're proposing is that fits the requirements here. Your last paragraph seems to contradict the four methods you've suggested just above.

I think you're still suggesting an `any()` method with actively different behaviour to an `any(X.class)` method though. Inconsistencies between those two are how we ended up

[2015-04-09 09:39] folarte commented on #194
Hi Tim:

On Wed, Apr 8, 2015 at 8:38 PM, Tim Perry <notifications@github.com> wrote:

Any of my paragraphs may seem contradictory, but I do not know how to
convey the info and do not know what the exact requirements are., but
anyway, lets go on.

In my full sugestion not exactly, I suggested any to be the same as
any(Object.class), ( declared parameter class really, but it could be
implemented thi

[2015-04-09 12:53] bric3 commented on #196
This is a warning, I'm not familiar with mockito and android though. Anyway this _issue_ has been there for a long time I think.

[2015-04-09 13:37] szczepiq commented on #196
We will address this but it's hard to estimate when. Contributions welcome.

[2015-04-09 13:59] szczepiq commented on #194
I apologize, I haven't read the entire thread. I'm still setting up my
family in CA and trying to manage prioriorities.

I think we have following use cases:

1. I don't care about the parameter
2. I care that it is not null
3. I care about the type (implies #2)

Solutions:

1) any(), perhaps kill anyObject(), needs explicit casting
2) no special API, kill isNotNull()/notNull() or just leave the
i

[2015-04-09 14:40] folarte commented on #194
Hi Szczepan:

mmmm, delicious top posting...., anyway:

On Thu, Apr 9, 2015 at 3:59 PM, Szczepan Faber <notifications@github.com> wrote:

I think you lack at least one ( 4.- I care it is null, but it is
already served by IsNull() ( or a casted null IIRC ) ,not discussed ).

I don't think casting, specially in such a specialized case as
mockiing in tests, is an issue. And J8 will avoid most of it.

[2015-04-09 16:34] pimterry commented on #194
I agree with Francisco, if we're going for casts I don't think we can have `any(String.class)` still exist, because we can't make it usefully be consistent with `any()`. I think just `isA` works fine for that case though, and I find it quite readable and clear.

I do marginally prefer `notNull()` to `anyNotNull()`, just because it's shorter and simpler. I think `when(o.method(notNull(), notNull())

[2015-04-09 17:33] folarte commented on #194
Hi Time:

On Thu, Apr 9, 2015 at 6:34 PM, Tim Perry <notifications@github.com> wrote:

OK.

OK. I donot agree with the arguments but I feel voting for notNull now
is much better than following the thread. I retract all my proposals
for anyNotNull.

--- ASIDE---

I think if you place them in a square, it does. isA is NW, isNullOrA
is NE, any is SE, ¿ Which one goes into SW ? ( reminds me of the tes

[2015-04-10 10:02] sedubois commented on #189
From my user's endpoint, I see that Catch-Exception has been able to resolve this issue of conflicting `then()`s by checking caught exceptions through the AssertJ API. So all I'm saying is that Mockito should IMHO do the same, so that the only `then()` that the user should call would be AssertJ's (which makes sense, it _is_ an assertion API).

[2015-04-10 15:03] fluentfuture commented on #196
Our Android build considers any warning as a broken build so I can't upgrade.

Strictly, I would think Android doesn't need any of the ASM or CGLib stuff but apparently stripping them out of the jar doesn't build either.

[2015-04-10 15:42] pimterry commented on #194
Cool, I think we're in agreement then. I'm very happy to zap lots of the extra methods like `anyString()` where Java 8 means they're not going to be useful and there's a simple easy to find alternative to them (like just casting `any()`, which most ide's will even suggest and do for you).

@bric3 @szczepiq Are you two happy if I open a PR extending my previous changes to implement this API, as in

[2015-04-11 22:12] uweschaefer commented on #186
If there was a way to vote for this issue, i would :)

[2015-04-12 17:55] bric3 commented on #194
Hi @pimterry @folarte

Thanks for the discussion, I was also away staffed at Devoxx fr for the past week. I think there's some agreement here, I'm basically OK for these changes :

- `<T> T any()` - matches anything, including nulls
- `<T> T notNull()` matches anything, except nulls
- `<T> T isA(Class<T> clazz)` matches things of `T` type but `null`
  => naming could be tweaked without the `is`, t

[2015-04-12 18:28] bric3 commented on #196
OK. Is it standard ?

Also could you check with mockito 1.10.18 ? There's been a change (f789a3b820da4c9369c51f4f75c537243c3d4317) in the manifest entries for errors with OSGI issues. Could that be related?

Maybe stripping ASM/CGLIB **and** cleaning the manifest file could do the trick ?

[2015-04-12 18:32] bric3 commented on #189
Indeed, but AssertJ has nothing to do with mocks ;)
It's not the role of AssertJ to know mockito internals to check the interactions. Also current mockito matchers API is based on hamcrest. And for several reason upgrading hamcrest has proven to be a difficult task, we now even want to remove the dependency on external framework as much as possible including hamcrest.

[2015-04-12 20:10] pimterry commented on #194
Happy to drop the `is` prefix, seems shorter and clearer. This might be one place where we do want an alias, for `a(String.class)` and `an(Element.class)`, as otherwise I think it's quite difficult to read.

Do mean `anyInt()`, or `anInt()`? I think the conclusion of the above discussion is that we can't have an `anyInt()` method without breaking the API: either `anyInt()` actively matches the typ

[2015-04-13 08:45] folarte commented on #194
Hi Brice:

On Sun, Apr 12, 2015 at 7:55 PM, Brice Dutheil <notifications@github.com> wrote:

I strongly disagree with naming it a or ( sorry Tim ) an. I feel they
are too short and error prone ( and this is not COBOL, a PL/DSL is not
English ).

I stil think my any/anyNotNull overrrides where superior names, but as
this is functionally equivalent I'll just wrap it. OK so far.

I think the point of

[2015-04-13 10:48] bric3 commented on #193
There's probably an issue in your setup then. Then message contains the location of the misused matchers, I verified that in 1.10.19 and this tweak has been there in previous versions as well, not sure when it was introduced though.

[code]

You meant _matched_ not _mocked_ right ?
Actually this is unfortunate in Java. Matchers have to be called earlier, and stored in a thread local context. Then

[2015-04-13 11:22] bric3 commented on #188
Hi sorry for the late reply.
I reproduced the issue, not sure when I will be able to fix though.

[2015-04-13 11:29] bric3 commented on #187
Hi, sorry for the late reply.

Thanks for the testcase, indeed we missed something there.

[2015-04-13 11:53] bric3 commented on #187
Actually the usage report was improved to include the mock name, however in this usage the default answer always returns `false`. So when the String message is generated there's a CCE because the default answer returns a `boolean`.

On your side the workaround is to return valid values for these `Object` inherited methods.

On mockito side there should be two possible thing to do:
 - get the name

[2015-04-13 14:13] fluentfuture commented on #196
We are currently using 1.9.5. On Maven Central, it's the latest version that still had "org/mockito/asm/signature" package in the jar file.

The manifest change was made on Nov 25 2014, newer than 1.10.5.

Stripping out cglib and asm caused dangling reference in ClassImposterizer.class and other errors that I don't know if it's related to this. And I'd hope to avoid messing with the jar files any

[2015-04-13 14:33] Nedskib opened #197 "Mockito.after() method accepts negative timeperiods and subsequent verifications always pass"
e.g.

    Runnable runnable = Mockito.mock(Runnable.class);
    Mockito.verify(runnable, Mockito.never()).run(); // passes as expected
    Mockito.verify(runnable, Mockito.after(1000).never()).run(); // passes as expected
    Mockito.verify(runnable, Mockito.after(-1000).atLeastOnce()).run(); // passes incorrectly

[2015-04-13 18:40] bric3 commented on #197
Well spotted, thx

[2015-04-15 14:38] ppiotrow opened #198 "Add matchers for scala value classes containing primitives"
The complete details are here
https://groups.google.com/d/msg/mockito/m_Ptz8eVH58/wS2czEAaD-oJ

[2015-04-15 16:32] bric3 commented on #198
Hi,

Actually that will probably never happen as these classes are in the scala library, which we cannot depend upon. If this lib is not there then the class won't even load. Instead I'd rather suggest that it should be mockito sugar to declare them.

[2015-04-15 17:05] ppiotrow commented on #198
I think that there is possibility. I know that NPE in any[SomeValueClass] happens because of trying to assign null to value that looks like object but is primitive.  Maybe there is possibility to add some reflection checks in runtime. Instead of null just try to assign default primitive value as in HandyReturnValues.java.
The same could be applied to other matchers as Matcher.equal . There could b

[2015-04-15 18:33] bric3 commented on #198
I do not think we will put scala specific inside mockito, as we just don't add groovy / android / JEE specific stuffs. Because we'd like to keep the working set as simple and focused as possible. Also there's the reason that we are not able to maintain stuff that we don't use in the team in our daily job, this is especially true for scala / groody and android.

What you are asking certainly could

[2015-04-15 18:44] ppiotrow commented on #198
I understand that, thank you.

[2015-04-15 18:44] #198 closed

[2015-04-15 18:46] bric3 commented on #198
@ppiotrow Thx to you for the interest in mockito ;)

[2015-04-16 12:05] jborgland opened #199 "Maven distribution mockito-core-1.10.16.jar contains *.java files (should only contain *.class files)"
This bug seems to be still present (in all versions that I have checked):
https://code.google.com/p/mockito/issues/detail?id=418

Simply pasting in the bug description from the old bug below.

**What steps will reproduce the problem?**
1. Include the following standard dependency in pom.xml:
[code]

2. Run the command:
   `mvn install`
   to ensure the dependencies are downloaded to the local repo

[2015-04-16 16:42] bruceeddy opened #200 "ArgumentCaptor.fromClass's return type should match a parameterized type"
`ArgumentCaptor.fromClass`'s return type should match a parameterized type.  I.e. the expression `ArgumentCaptor.fromClass(Class<S>)` should be of type `ArgumentCaptor<U>` where `S` is a subtype of `U`.

For example:

    ArgumentCaptor<Consumer<String>> captor = ArgumentCaptor.fromClass(Consumer.class)

does not type check (i.e. it is a compile time error). It should type check.

The reasons that

[2015-04-16 17:28] bric3 commented on #200
PR #201

[2015-04-16 17:35] bric3 commented on #199
For reference there this ticket also #158

[2015-04-17 09:49] #200 closed

[2015-04-19 18:42] #187 closed

[2015-04-19 19:01] bric3 commented on #196
OK, thanks for the explanation @fluentfuture.

I'd like to look into it, but I don't have much free time now. However if you have better options to contribute we will welcome them.

Note that I'm working on completely removing CGLIB and use Bytebuddy instead in version 2.0. The work is almost complete, but some work is needed on the delivery scripts.

[2015-04-20 18:03] joshes commented on #181
Thanks for the explanation @bric3  - that makes sense.

[2015-04-20 18:03] #181 closed

[2015-04-25 21:50] mkordas opened #203 "Introduce BDD InOrder verification"
Follow-up to the [discussion](https://groups.google.com/forum/#!topic/mockito/wr1As1fg_-U).

[BDDMockito](http://site.mockito.org/mockito/docs/current/org/mockito/BDDMockito.html) is great, but right now it doesn't support InOrder verification. Here is my proposition:

##### Initialization and invocations:
[code]

##### Current non-BDD solution:
[code]

##### Proposition 1:
[code]

##### Propositi

[2015-04-27 14:20] superole commented on #172
I agree.
It would be nice to depend on a version of hamcrest-core that is not eight years old...

[2015-04-28 18:17] cassiuscai opened #204 "mockito spy lost annotations from the spied instance class"
Hi， here is my problem
- 1.  `SomeAnnotation` annotation to mark an class
[code]

- 2.  `SomeClass` marked by `SomeAnnotation`
[code]

- 3. My Test Case
[code]

- 4. My test fail because of spyOnAnClass doesn't have the annotation `SomeAnnotation` that `SomeClass` have

[2015-04-28 19:46] bric3 commented on #204
Hi, thanks for the report. Actually this a known issue of CGLIB.

I forgot about it in #171, I'll look if we can do soemthing with bytebuddy on this front.

[2015-04-30 09:25] SimenB opened #205 "InjectMocks injects mock into wrong field"
Using `1.10.19`.

When using `@InjectMocks` on some Android `TextView`s, the mock is injected into the wrong field.

We have two fields, `txtGateView` & `txtNextStep` in a class, and our test mocks out `txtNextStep`, then tried to inject. This field is injected wrong, see screenshot.

![image](https://cloud.githubusercontent.com/assets/1404810/7410003/4f200580-ef2b-11e4-9c39-7a699dc4fefa.png)

Fro

[2015-05-05 18:55] lukasz-szewc commented on #197
I can try to fix that, but need to know what exactly is the issue here:
Should negative values is after throw immediate exception? or maybe negatives are allowed here (negative value means - immediately)?

[2015-05-07 09:32] lukasz-szewc opened #206 "NoJUnitDependenciesTest is failing on Windows machine."
I found NoJUnitDependenciesTest unit test is the only unit test that fails when you run the build on windows machine (I have also Ubuntu, and it is fine for some reason on Unix platform).

Root cause: Caused by: java.lang.NoClassDefFoundError: org\mockito\internal\invocation\InvocationMarker (wrong name: org/mockito/internal/invocation/InvocationMarker)

Full Stacktrace:

java.lang.AssertionError:

[2015-05-07 09:36] bluepoet commented on #205
@SimenB Maybe txtNextStep TextView Class Mocking the aneunge not work properly?
A bug or would not even be on @InjectMocks features?

[2015-05-08 12:22] Nedskib commented on #197
I would vote for an IllegalArgumentException being thrown.

[2015-05-08 17:00] lukasz-szewc commented on #197
The same is happening for *timeout* method:
e.g.

[code]

If method was invoked, then it passes, but this negative timeout is at least confusing:

[code]

[2015-05-13 12:59] #197 closed

[2015-05-14 09:36] eulogi opened #209 "Mocks are not injected in Spring AOP proxies"
Mocks are not injected in fields that are Spring AOP proxies. To solve it you can modify PropertyAndSetterInjection:

    public boolean processInjection(Field injectMocksField, Object injectMocksFieldOwner, Set<Object> mockCandidates) {
        // Set<Object> mocksToBeInjected = new HashSet<Object>(mockCandidates);
        FieldInitializationReport report = initializeInjectMocksField(injectMocksF

[2015-05-19 08:05] blasd opened #210 "Return empty value for Iterables"
http://code.google.com/p/mockito/issues/detail?id=175

I expect an Iterable to be mocked by default with an empty Iterable. I understand from the initial issue this behavior would be introduced in Mockito 2, but beta-8 still returns null.

Could we return null for Iterables ?

Should we have the same behavior for Iterator ?

Thanks

[2015-05-19 08:32] bric3 commented on #210
Yes it should, thanks for the reminder :)

[2015-05-22 05:48] mkordas opened #212 "Add BDD version of verifyZeroInteractions()"
Right now my tests look like:
[code]
Would be great to have BDD replacement for `verifyZeroInteractions()`. Then the test would be even nicer:
[code]

[2015-05-26 06:18] fappel opened #213 "Introduce Mockito#dummy method to create particular dummy test doubles"
I just stumbled across the implementation notes on dummy test doubles inGerard Meszaros' xUnit Test Patterns book and noticed that he proposes to throw a RuntimeException (I probably would prefer more specifically a UnsupportedOperationException). I guess this is meant to ensure the contract that there should be no method calls ever on a dummy stand-in. Which sounds reasonable to me.

When using m

[2015-05-28 22:11] sixinli opened #214 "objenesis dependency in INDEX.LIST (mockito-all)"
Hi,

It seems like mockito-all is coming all the dependencies in the package, why is there a dependencies on objenesis-2.1.jar in the INDEX.LIST? This is actually breaking my build because I don't have that jar. :(

Thanks,
Sixin

[2015-06-01 17:04] spmallette commented on #186
:+1:

[2015-06-02 21:24] JeremybellEU commented on #205
I have answered a similar question on Stackoverflow and you can find my investigations at http://stackoverflow.com/a/29954211/2761676

[2015-06-02 21:59] SimenB commented on #205
@JeremybellEU Yeah, that seems to be the same thing.
While it explains _why_ it happens, I still consider it to be a bug...

[2015-06-03 08:25] astafev opened #216 "Mockito can't create mock on public class that extends package-private class"
I created simple project to demonstrate this:
https://github.com/astafev/mockito-package-private-class/

Please take a look. Even if it can't be implemented, I think that mockito should throw some normal exception at time of creation.
In my variant on first creation it returns wrong-working mock (invokes real method instead of stubbed). On second creation throws exception that doesn't really conne

[2015-06-03 09:46] astafev commented on #216
it's both actual for 1.10.19 and 2.0.2-beta versions.

[2015-06-03 13:36] bric3 commented on #205
Not a bug, it is just something that was left off.

Thanks @JeremybellEU, I'll look into your PR. Note the merge is gonna happen in 2.x line (which is beta and subject to important changes, both internally and API wise).

[2015-06-03 13:50] JeremybellEU commented on #205
After I commented I realised I probably knew how to fix it, so I hope the PR is useful =]. Looking forward to Mockito 2.0.

[2015-06-03 13:51] bric3 commented on #214
Hi,

I have no idea what is this INDEX.LIST file, the CI certainly don't generate one.

As you can see the 1.10.19 POM doesn't declare any extra dependencies : http://search.maven.org/#artifactdetails%7Corg.mockito%7Cmockito-all%7C1.10.19%7Cjar

And for the record, with 2.x mockito-all artifact will disappear and use the regular dependencies mechanism.

[2015-06-03 13:51] #214 closed

[2015-06-03 17:02] bric3 commented on #216
It is a known issue with CGLIB and it is raised there too #168, by merging #171 (replacing CGLIB by ByteBuddy) it should fix the problem.

For reference in the old issue tracker : https://code.google.com/p/mockito/issues/detail?id=212

[2015-06-03 17:02] #216 closed

[2015-06-03 17:08] bric3 commented on #209
Hi,

Thanks for providing a solution however we won't include Spring specific code in mockito.
This seems to be a problem quite specific to how is the test crafted. This is probably wrong to create an object then inject mocks (then overriding exisiting wired dependencies), a better approach would probably be to let spring wire the mocks.

[2015-06-03 17:08] #209 closed

[2015-06-03 17:10] bric3 commented on #206
Hi,

Thanks for reporting, I don't own a Windows box, so I don't know if I will fix this one asap.
This has probably something to do with the path, that's the only thing that come to me at that time.

[2015-06-03 17:19] bric3 commented on #203
It seems like a nice idea, let's introduce ordered BDD. I'd favor proposition 2, it reads better imho.

Since we are in a beta phase, we can try and see if the API works with this proposition. Also it should probably be easier to implement.

[2015-06-03 17:20] bric3 commented on #203
Also sorry for this late reply

[2015-06-03 17:35] bric3 commented on #195
This is kinda wanted, and documented in the `@InjectMocks` javadoc.

InjectMocks sees that `C` has a constructor and there's a mock of type `A`, so it creates `C` with the constructor. And stop injection right there, modifying the field of an object after the constructor is wrong, mockito chose to not do it because it favors good object design.

About the interesting behavior, this is also documen

[2015-06-03 17:36] #195 closed

[2015-06-03 17:42] bric3 commented on #172
Hi thanks for your interest. I think your comment are indeed just right, yet compatibility has always been the primary concern here.

Nevertheless mockito 2.0.x will probably ditch the hamcrest dependency. We still have to think that through. But it will happen, hence the reason why we didn't merge this PR.

[2015-06-03 17:43] bric3 commented on #159
@cmoaciopm any news ?

[2015-06-03 17:44] tatacalu commented on #172
Cool, thank you for the update! Cheers!

[2015-06-03 17:46] bric3 commented on #212
OK, are you ready for a PR ?

[2015-06-03 21:40] Stephan202 opened #218 "Regression when mocking a type in a signed package"
I just tried to upgrade from 2.0.8-beta to 2.0.9-beta (and then 2.0.10-beta). One of our tests started failing:

	org.mockito.exceptions.base.MockitoException:
	Mockito cannot mock this class: interface com.microsoft.windowsazure.services.servicebus.ServiceBusContract

	Mockito can only mock visible & non-final classes.
	If you're not sure why you're getting this error, please report to the mailin

[2015-06-03 22:07] sixinli commented on #214
Hi,

sorry for the confusion. So I downloaded "mockito-all-1.10.19.jar" from the link you mentioned and unzip the jar. Inside that folder, there's a META-INF folder, if you open that, there's an INDEX.LIST file.

Thanks,
Sixin

[2015-06-03 22:36] bric3 commented on #214
I've just looked at it ; that file (`INDEX.LIST`) comes from the objenesis jar, mockito-all just packages everything in the same jar including objenesis and hamcrest and files in META-INF.

If something breaks your build I don't see why that would have anything to do with it.

[2015-06-03 22:44] bric3 commented on #218
That is possible or more probable we missed something. Thank you for testing this builds so early ;)

I'd like some integration tests for "uncommon" stuff like signed package, OSGI stuff etc.

[2015-06-03 23:49] bric3 commented on #218
This was indeed something I missed, I pushed a fix. CI should generate a new beta. That should be propagated first on bintray then maven (sync takes 1 days or so).

[2015-06-03 23:59] Stephan202 commented on #218
Awesome, thanks!

[2015-06-04 00:00] bric3 commented on #218
Should be in 2.0.11-beta

[2015-06-04 00:21] sixinli commented on #214
So in INDEX.LIST, it says it depends on the objenesis jar, which means I would have the jar ready in the right spot. But mockito-all comes with objenesis in its packages, it doesn't make sense for it to ask for yet another external objenesis jar?

[2015-06-04 06:54] bric3 commented on #210
Fixed by 8ceb04a

[2015-06-04 06:54] #210 closed

[2015-06-04 07:29] brcolow opened #220 "2.0.8-beta -> 2.0.9-beta 'Unable to initialize @Spy annotated field"
No test failures when using 2.0.8-beta, but when incrementing to 2.0.9-beta, the following error occurs:

[code]

Relevant code (MonitorTaskSchedulerTest.java)

[code]

Relevant code (MonitorTaskScheduler.java)

[code]

[2015-06-04 07:41] Stephan202 commented on #218
Just upgraded to 2.0.11-beta. Verified fixed. Thanks again :)

[2015-06-04 08:44] bric3 commented on #218
Cool thanks again for the feedback

[2015-06-04 08:48] #218 closed

[2015-06-04 08:51] bric3 commented on #218
By the way, since you're an early beta user, I'd like to warn you that at some point along the 2.0.x beta development there will be breaking changes in the matcher API in 2.0. We'll see how to mitigate impact along the way too.

[2015-06-04 14:57] bric3 commented on #220
Can you try with 2.0.11-beta ?

[2015-06-04 15:24] bric3 commented on #214
That doesn't make sense, as this file is in the the original objenesis jar, this file cannot mean objenesis depends on objenesis. See [objneseis jar](https://bintray.com/artifact/download/easymock/distributions/objenesis-2.1-bin.zip).

[2015-06-04 16:52] mkordas commented on #212
@bric3, please see #221

[2015-06-04 16:56] #212 closed

[2015-06-04 18:14] mkordas commented on #203
@bric3, I've implemented the second proposition. I also like it more and implementation was really easy - please see #222.

[2015-06-04 19:08] jborgland commented on #199
Additional note:

This currently causes a bunch of javadoc warnings in our builds that I can't figure out how to get rid of (without suppressing other things that I'd like to keep):

[javadoc] javadoc: warning - Multiple sources of package comments found for package "org.mockito"
[javadoc] javadoc: warning - Multiple sources of package comments found for package "org.mockito.invocation"
[javadoc]

[2015-06-04 20:31] brcolow commented on #220
Same problem with 2.0.11-beta (in fact, I started with that version, and then decremented one by one till the problem was gone).

[2015-06-05 01:06] brcolow commented on #220
If I had to make a (somewhat) educated guess I would say it is most likely related to 3b445aa057ada4e64b096634b011eab399f03f56

[2015-06-05 08:01] bric3 commented on #220
It's not really that commit, it probably have to do with the change from CGLIB to ByteBuddy. I cannot reproduce locally, can you craft a reproducible test ?

[2015-06-05 09:51] bric3 commented on #199
@jborgland Isn't it related to the `Xdoclint` flag ? The gradle javadoc task is `mockitoJavadoc` and disables it.

For reference check this entry of Stephen Colebourne : http://blog.joda.org/2014/02/turning-off-doclint-in-jdk-8-javadoc.html

[2015-06-05 14:18] #188 closed

[2015-06-05 14:18] #203 closed

[2015-06-05 14:18] #205 closed

[2015-06-05 14:42] bric3 commented on #188
fixed by #211

[2015-06-05 15:13] #172 closed

[2015-06-05 15:16] bric3 commented on #148
@adligo there have been progress on that front in 2.0, for example we have removed the mockito-all artifact.

I'll close this uuuissue, but feel free to give us feedback on the work in progress of mockito 2.0.x betas.

[2015-06-05 15:16] #148 closed

[2015-06-05 15:19] bric3 commented on #120
Changes like that will be reported in #194. Closing, thanks for reporting

[2015-06-05 15:19] #120 closed

[2015-06-05 15:21] bric3 commented on #118
Closing, see https://github.com/mockito/mockito/pull/129#issuecomment-68723742

[2015-06-05 15:25] #78 closed

[2015-06-05 15:30] JeremybellEU commented on #117
Is this still an ongoing issue? I am willing to do some investigation on this one.

[2015-06-05 16:14] bric3 commented on #204
Indeed fixed by #171

[2015-06-05 16:14] #204 closed

[2015-06-05 18:17] astafev commented on #216
it's good that it's known problem. But the main problem is that it takes a lot of time to find out real cause. Please consider adding special exception, because exceptions that raised currently really confuse.

[2015-06-05 18:54] adligo commented on #148
Hi Brice,

   Thank you for doing this, hopefully I will get a chance to look at it
this year.  Tests4j itself is keeping me quite busy.

Cheers,
Scott

On Fri, Jun 5, 2015 at 10:16 AM, Brice Dutheil <notifications@github.com>
wrote:

[2015-06-05 20:12] brcolow commented on #220
MonitorTaskScheduler.java:
[code]

MonitorTaskSchedulerTest.java:
[code]

[2015-06-05 20:59] bric3 commented on #216
Note #171 is merged, you may want to give the latest beta a try. But note that public API is subject to change when it is released and during develoment.

[2015-06-05 22:00] bric3 commented on #220
I've identified an issue but the given code is incomplete and I don't get the same stacktrace, so it may be another issue.

Here's mine :

[code]

In the meantime two workaround, sticks to an older version, or modify the code so it doesn't call methods in the constructor, which may indicate the design is wrong in OOP (builders or factory to the rescue).

[2015-06-05 22:33] bric3 commented on #220
Actually there maybe a better workaround, use the `Mockito.spy()` factory method.

[2015-06-06 00:15] alberskib commented on #206
I reproduced problem and found solution - in a sec I will create PR

[2015-06-06 01:59] brcolow commented on #220
Sorry for not providing a complete example..was trying to copy and paste stuff from difference sources for simplification purposes. Glad you were at least able to identify an issue out of it. I will take your suggestions and do what I can. Thanks.

[2015-06-06 09:03] bric3 commented on #220
You're welcome, thanks for testing betas ;)

[2015-06-06 09:04] bric3 commented on #84
#171 has been merged.

[2015-06-06 09:06] #189 closed

[2015-06-06 09:09] bric3 commented on #178
Hi,

I'll close this issue as, there's no feedback and no reproducible errors.

[2015-06-06 09:09] #178 closed

[2015-06-06 18:39] JeremybellEU opened #224 "Clean up old branches"
Currently the repository contains a lot of old branches.

![image](https://cloud.githubusercontent.com/assets/5948271/8020909/9a942064-0c8b-11e5-88c2-179eb7f40ce2.png)

Is there a specific reason why they are not deleted? For example branch issue230 has been merged into master back in 2012, but the branch is still alive.

Deleting old branches would make it easier to see ongoing contributions from

[2015-06-06 20:02] bric3 commented on #224
Yeah I was thinking the same thing, actually I deleted those branches on my clone a few hours ago already.

[2015-06-06 20:03] bric3 commented on #224
More I'm thinking about removing version branches and replace them by tags

[2015-06-06 20:06] JeremybellEU commented on #224
Yes that sounds reasonable. Tags are a lot more suitable in these situations.

[2015-06-06 20:09] bric3 commented on #224
They are anyway an artifact of the transformation from mercurial to github, at that time I didn't quite get git, and I wanted something more _mercurially_, now those branches don't make sense anymore.

[2015-06-06 20:49] JeremybellEU opened #225 "Failing tests on Windows machine"
I just posted on the Google Forums, but someway somehow my post immediately disappeared in the void. So I am reposting it again here.

I have 3 failing tests on my Windows 8.1 machine.

1. DefaultMockingDetailsTest.should_get_extra_interfaces
2. NoJUnitDependenciesTest.pure_mockito_should_not_depend_JUnit___ByteBuddy
3. ClassLoadersTest.excluding_class_loader_cannot_load_classes_when_no_correct_so

[2015-06-06 20:54] alberskib commented on #225
Second test should be fixed in #206 - checkout PR and check

[2015-06-06 20:55] JeremybellEU commented on #225
On another note, when I run the test suite with `Coverage as...` using EclEmma, all tests in `FieldsTest` fail. The tests `fields_should_return_all_declared_fields_in_hierarchy`, `can_filter_not_null_fields` and `fields_should_return_declared_fields` fail because the element `$jacocoData` is in the array.

The other tests:

can_get_list_of_InstanceField:
[code]

can_get_values_of_instance_fields:

[2015-06-06 20:57] JeremybellEU commented on #225
@alberskib Oops I forgot to mention that. I tested #206 and it did NOT fix the issue. The stacktrace I get with that fix is the same as my 2nd stacktrace I posted.

[2015-06-06 21:23] bric3 opened #226 "Exclude internal package from javadoc"
Internal package don't need to be included in the javadoc generation, just like the jdk doesn't have `com.sun` package

In the javadoc that may be done via a doclet since `exclude '**/internal/**'` raise javadoc errors

[code]

[2015-06-06 21:27] #206 closed

[2015-06-06 21:37] alberskib commented on #225
@JeremybellEU Could you check your first post - it looks like that for the 2nd test in both cases (before and after change) stacktraces are the same. So what is the difference?

[2015-06-06 21:41] JeremybellEU commented on #225
I see that the first test has been fixed now in master as per https://github.com/mockito/mockito/commit/d4075748d824c031f35592968c2bf6cec3adca3f No clue why my upstream didn't pull these changes.

[2015-06-06 22:16] alberskib commented on #225
@JeremybellEU On machine with Windows 7 I am not able to reproduce problems described by you. Is there anything special in your config? Are you running tests on master branch?

[2015-06-06 22:20] JeremybellEU commented on #225
Yes I am running on master with no changes. I am running jdk 8.45 if that matters.

[2015-06-06 22:28] bric3 commented on #224
Cleaned a few already, I'll take care of the version branch tomorrow

[2015-06-11 07:23] eugene-ivakhno opened #228 "@Captor javadoc contains a wrong call example"
In the javadoc of `@Captor`:
[code]
which is incorrect.

[2015-06-12 09:29] DarshanBangre opened #230 "Null Pointer when invoking Whitebox.invokeMethod() with null one of the params null"
Getting below exceptions when trying to invoke Whitebox.invokeMethod(erxProviderManager, "setCommand", Provider, null,retait, mail);

Version used 1.6.2

FAILED: testSetEnrollmentCommandWithUnEnrollmentWithNull
java.lang.NullPointerException
	at java.lang.Class.isAssignableFrom(Native Method)
	at org.powermock.reflect.internal.WhiteboxImpl.checkIfParameterTypesAreSame(WhiteboxImpl.java:2257)
	at o

[2015-06-12 16:24] bric3 commented on #228
Cool thanks :)

[2015-06-12 16:25] #228 closed

[2015-06-12 17:38] bric3 commented on #230
It's powermock API ;)

Also the code you're mentioning use an **internal** API which is not thought for use outside the library.

[2015-06-12 17:38] #230 closed

[2015-06-12 17:47] bric3 commented on #118
Reopened for changelog generation

[2015-06-12 18:54] durron597 opened #231 "Upgrade to Hamcrest 1.3 in pom"
I know this may be a meaningless case because of #154, but if you're going to [continue to release versions of Mockito that include hamcrest as a required dependency in the pom](http://central.maven.org/maven2/org/mockito/mockito-core/2.0.13-beta/mockito-core-2.0.13-beta.pom), could you at least upgrade it to 1.3? JUnit 4.11 has been out, using Hamcrest 1.3 since 2012.

[Related Stack Overflow que

[2015-06-12 18:56] bric3 commented on #231
Hi @durron597, no actualluy the plan is to not make hamcrest as required dependency at all, just like JUnit is a not a required dependency.

[2015-06-12 18:59] durron597 commented on #231
I understand that's the plan, I'm just saying, as a temporary change, in between now and the time you have hamcrest not be a required dependency at all, advancing the hamcrest version.

[2015-06-12 19:01] bric3 commented on #231
We can do that in 2.0 beta phase, but as development evolves API may break during that phase.
In 1.x we didn't upgrade for backward compatibility reasons.

I'll think about it.

[2015-06-13 20:21] szczepiq commented on #231
I see no problem bumping to latest hamcrest now. PR is welcome. I hope we
can get rid of compile dependency to hamcrest. Thanks!

On Fri, Jun 12, 2015, 12:01 Brice Dutheil <notifications@github.com> wrote:

[2015-06-13 23:35] durron597 commented on #231
Thanks! One quick question though... You want a pull request for a one line change to a maven pom? I mean, I'll do it if you really need me to...

[2015-06-15 02:58] szczepiq commented on #231
Yes please :)

On Sat, Jun 13, 2015 at 4:35 PM, durron597 <notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2015-06-15 03:00] szczepiq commented on #154
Working on this. We will use hamcrest 1.3, too.

[2015-06-15 13:28] durron597 commented on #231
Okay, I suppose you are using Gradle now and not Maven. I made the change in my fork, but I was searching through to make sure that's the only change needed and saw [this file](https://github.com/mockito/mockito/blob/425a6745f48a4ccb158206e23103b885da3f91b3/buildSrc/src/test/groovy/org/mockito/release/comparison/PomComparatorTest.groovy); I'm not sure what it does. Does it need to be changed as we

[2015-06-15 13:38] bric3 commented on #231
Yes Mockito is built with gradle, but the script has to generate a pom file. This [pom.gradle](https://github.com/mockito/mockito/blob/master/gradle/pom.gradle) takes care of that. The test you are referring to is for the release/publish phase.

[2015-06-18 06:24] christophsturm opened #233 "mockito 2.0.14 fails to mock jetty httpclient"
this fails:
<pre>
     import org.eclipse.jetty.client.HttpClient;
    HttpClient httpClient = mock(HttpClient.class);
</pre>
(jetty 9.2.10.v20150310)

with mockito 2.0.2-beta i can mock that class without a problem.

stacktrace:
<pre>
java.lang.IllegalAccessError: tried to access class org.eclipse.jetty.util.component.ContainerLifeCycle$Managed from class org.eclipse.jetty.client.HttpClient$Mocki

[2015-06-18 08:31] bric3 commented on #233
Is this an OSGI package ?

[2015-06-18 08:32] bric3 commented on #233
Also a general principle when mocking is _to not mock types you don't own_, there's several reasons for that see that [wiki page](https://github.com/mockito/mockito/wiki/How-to-write-good-tests)

[2015-06-18 08:40] christophsturm commented on #233
yeah, i know about that rule. this is from a really tiny method and i just want to check that it invokes the start method.

jdk8, jetty 9.2.10

[2015-06-18 09:07] raphw commented on #233
The `Managed` inner class is package-private: http://grepcode.com/file/repo1.maven.org/maven2/org.eclipse.jetty/jetty-util/9.1.3.v20140225/org/eclipse/jetty/util/component/ContainerLifeCycle.java#ContainerLifeCycle.Managed

This class should never be accessible from `org.eclipse.jetty.client.HttpClient` or any mock which both live in another package. I assume that you have a version clash on your

[2015-06-18 09:14] christophsturm commented on #233
ok but the HttpClient class can be instantiated just fine by calling its constructor

client = new HttpClient();

[2015-06-18 09:19] christophsturm commented on #233
also the managed enum is only used inside ContainerLifeCycle.

[2015-06-18 10:04] raphw commented on #233
I see what the problem is. Byte Buddy overrides the public method `ContainerLifeCycle::addBean(Object o, Managed managed)` in order to mock it. For this, the mock references the `Managed` class which is however package private.

While this is a rather poorly designed API as the method should itself be package-private as it cannot be used outside of the package, Byte Buddy should be smart enough to

[2015-06-18 10:06] christophsturm commented on #233
thanks. I agree that the package structure and api design of jetty is a bit strange.

[2015-06-18 10:19] bric3 commented on #233
@raphw Thanks for the investigation

[2015-06-18 10:32] bric3 commented on #233
@christophsturm Thanks for the feddback too, note mockito 2.0.0 is still in beta phase

[2015-06-18 10:51] christophsturm commented on #233
sure! we will just continue to use 2.0.2-beta for now which works great.

[2015-06-18 10:55] bric3 commented on #233
You can use a more recent beta 2.0.8, the last version before switching to bytebuddy

[2015-06-18 14:08] raphw commented on #233
Byte Buddy 0.6.9 is released which should fix the issue. Sorry for the hick-up.

[2015-06-18 14:23] bric3 commented on #233
No problem, you were blazingly fast !

[2015-06-18 16:45] #233 closed

[2015-06-20 00:05] #220 closed

[2015-06-20 20:19] szczepiq opened #236 "nicer textual printing of typed parameters"
When matchers fail but yield the same toString(), Mockito prints extra type information. However, the type information is awkwardly printed for Strings. I've encountered this issue while working on removing hard dependency to hamcrest.

    //current:
    someMethod(1, (Integer) 2);
    someOther(1, "(String) 2");
    //desired:
    someOther(1, (String) "2");

[2015-06-20 20:36] #236 closed

[2015-06-21 11:03] tunguski opened #237 "Test error after upgrading Mockito from 2.0.14-beta to 2.0.15-beta"
After upgrading Mockito from 2.0.14-beta to 2.0.15-beta I see many test errors. All problems look the same.

It looks like after upgrade problem is with spring mock bean initialization: https://github.com/tunguski/matsuo-core/blob/415fac82719b68ef26d621ebbb5d0a79c488fdb2/matsuo-core/src/test/java/pl/matsuo/core/conf/TestMailConfig.java

Below is root exception:

[code]

[2015-06-21 12:33] raphw commented on #237
I just saw that Mockito depends on the Byte Buddy dependency jar. This jar depends on ASM which was recently updated to the newest version 5.0.4. This can issue conflicts if other libraries on your classpath require another version of ASM.

To avoid this, Mockito shoul rather depend on the dependency free artifact (without the *dep* suffix).

[2015-06-21 15:38] bric3 commented on #237
Thanks for reporting @tunguski

@raphw yeah I changed that in https://github.com/mockito/mockito/commit/abee8fa4fda07af8ec0bc8eee873ea0a4b91f806, I'll revert it.  I was experimenting with jar shadowing and let 3 letters pass through.

[2015-06-21 16:51] szczepiq commented on #237
Thanks a lot for reporting!!!! It is extremely useful if you test drive
beta versions and report issues. We're actively developing 2.0 now and we
want to get it out soon.

On Sun, Jun 21, 2015, 08:38 Brice Dutheil <notifications@github.com> wrote:

[2015-06-21 18:02] #237 closed

[2015-06-21 21:01] tunguski commented on #237
Glad I could help!

Thanks for the best mocking library in this solar system! :)

[2015-06-23 00:18] szczepiq commented on #237
You're welcome!!! ;)

On Sun, Jun 21, 2015, 14:01 Marek Romanowski <notifications@github.com>
wrote:

[2015-06-23 14:38] raphw commented on #225
I guess that the test errors are IDE related as it seems to be about class loader scoping. I can successfully run the tests on Windows 7 and Windows 8.

[2015-06-23 14:44] JeremybellEU commented on #225
And you are using IntelliJ I suppose? I will switch over to IntelliJ this summer, so after that happened I will let it know.

[2015-06-23 14:46] raphw commented on #186
This works now after removing the explicit Java version number for mocks:

[code]

This test runs green. Unfortunately, adding it requires a Java 8 language level for Mockito. (Byte Buddy only generates Java 8 code if it is possible, Java 6 is still fully supported.)

[2015-06-23 14:49] raphw commented on #225
I am using IntelliJ. I tried it both with the IDE and Gradle. Eclipse is built on top of OSGi and there is some strange class loader stuff that comes with it. I looked into Eclipse to make the Byte Buddy's tests work which often test class loaders-depended instrumentations. It's not that trivial to write tests for this and this is why I assume the tests fail.

[2015-06-23 14:53] raphw commented on #196
Android has some extended validation that the standard Java platform does not consider a break. For example, Android does not allow for unresolveable dependencies. cglib imports only those parts of ASM that are actively used. However, some parts of cglib's ASM code references static dependencies that are never reached and can therefore never break the application. Android does not accept it.

I ha

[2015-06-23 14:55] raphw commented on #146
Works now after removing explicit byte code version as explained in https://github.com/mockito/mockito/issues/186

[2015-06-23 14:57] raphw commented on #133
Should be fixed with using Byte Buddy's `MultipleParentClassLoader` but this is hard to reproduce. Would be great to test with the new beta.

[2015-06-23 15:24] bric3 commented on #186
At that time CGLIB was still used too. So thanks to ByteBuddy in general as well. It offers many more features than CGLIB.

[2015-06-23 15:25] bric3 commented on #186
If you don't mind, I'd like to close this ticket when we have a test for that.

[2015-06-23 15:39] raphw commented on #186
I do not. Just that this would require a Java 8 source level for building Mockito.

[2015-06-23 16:50] bric3 commented on #186
Yeah that's the issue, I had ideas on that matter regarding CI. However I didn't have time to experiment yet.

[2015-06-23 19:31] szczepiq commented on #186
Perhaps mockito should move to java 8. If someone use java7 he can use
older mockito ;) Thoughts?

On Tue, Jun 23, 2015, 09:50 Brice Dutheil <notifications@github.com> wrote:

[2015-06-23 21:16] uweschaefer commented on #186
+1 for J8 version

[2015-06-23 21:33] bric3 commented on #186
I'd like that too. But ain't happening on 2.x, as this may be too much of a breaking change.

Actually I'm thinking something _à la_ AssertJ i.e. another majoré version, like mockito 3 that will be jdk8 only.

[2015-06-23 21:53] raphw commented on #186
I can offer to implement tests that are precompiled and only executed on Java 8 VMs as I did for Byte Buddy: https://github.com/raphw/byte-buddy/blob/master/byte-buddy-dep/src/test/java/net/bytebuddy/test/utility/JavaVersionRule.java

[2015-06-23 22:09] bric3 commented on #186
Interesting.

I remember I implemented some gradle sub project only activated on jdk8 in gradle some time ago but lost it due to SSD failure. I'm still with mixed feelings about all approaches.

[2015-06-24 16:08] szczepiq commented on #196
Thanks guys for feedback!!!

@fluentfuture ,

1. What it the situation now? I can look into the discrepancy between jar and source jar but I want to make sure this is  still useful.
2. We're considering mockito 2.0 to require java 1.8 (e.g. minimum compatibility 1.8). Is this a problem for google / android?

Cheers!

[2015-06-24 16:17] fluentfuture commented on #196
Hi,

Sorry for the lack of response.

Yes. I believe this would still be very useful (even though I have personally switched to the C++ side of things).

Google will pretty soon move to Java 8. So I don't think the requirement is a problem for us.

[2015-06-25 04:02] szczepiq commented on #196
Does it mean that android goes java 8 too?

Thanks!

On Wed, Jun 24, 2015, 09:17 Ben Yu <notifications@github.com> wrote:

[2015-06-25 19:15] fluentfuture commented on #196
Hi. Sorry I think I jumped to conclusion too early.

Android won't move to Java 8 as soon as I thought.

But I just learned that we do have work-arounds planned so when the regular Java switches to Java 8, we can dance around the restriction and have Android builds use an older version.

In short, it's not a deal breaker but needs some workaround.

[2015-06-25 19:27] raphw commented on #196
To be honest, I would recommend against upgrading to Java 8. Few people have adapted it yet and so far, it would only affect testability. Give it some more months, at least.

[2015-06-26 04:54] szczepiq commented on #196
Ok, thanks for info!

[2015-06-26 18:57] fluentfuture opened #243 "MockUtil.isMock() no longer checks null"
In version 1.9.5, MockUtil.isMock() is defined as:

[code]

In v1.10.19 and HEAD, the ```instance != null``` check is gone.

This method is called by MockScanner when injecting mock instances on fields, where field values can be null.

Is this a bug? Or it's up to MockMaker.getHandler() to check for null?

If it's a bug, I can fix it. But then we'll need to wait for v2.0 before upgrading Mockito f

[2015-06-26 19:20] fluentfuture opened #244 "StackOverflowError in MockitoSerializationIssue.java"
In MockitoSerializationIssue.filterStackTrace(), it calls ```filter.filter(this)```, which then calls getStackTrace() again, causing an infinite recursion.

[2015-06-26 20:37] brcolow commented on #220
2d036ec fixed my original issue indeed! Thanks so much, great work.

[2015-06-26 21:50] fluentfuture opened #245 "Serializable check is too harsh"
Hi, apologies if this has been discussed.

While upgrading my company's Mockito to 1.10.19, I ran into a lot of this error:
[code]

In summary, there are two cases triggering this error.

1. The SubjectUnderTest accepts an object Foo and requires it to be Serializable. And yet Foo doesn't implement Serializable nor has a default constructor.

2. Foo itself is Serializable. But the test calls ```wh

[2015-06-30 05:21] szczepiq commented on #244
Well spotted. We'll fix it. Any chance for PR?

[2015-07-02 04:21] szczepiq commented on #154
This is completed on master.

[2015-07-02 04:21] #154 closed

[2015-07-02 04:22] szczepiq commented on #231
Fixed on master.

[2015-07-02 04:22] #231 closed

[2015-07-02 04:24] szczepiq commented on #226
Great idea.

[2015-07-02 04:25] szczepiq commented on #224
Reopen if needed!

[2015-07-02 04:25] #224 closed

[2015-07-02 04:26] szczepiq commented on #194
Soon. It's next in my queue :) Thank you guys for patience.

[2015-07-02 04:32] szczepiq commented on #84
We will drop support of cglib in 2.*. We will continue to offer cglib-based mockmaker as an external.

[2015-07-02 04:32] #84 closed

[2015-07-02 19:03] fluentfuture commented on #244
Sorry I should really have sent a PR with the bug report.

I'm recently pretty swamped. Spent a day and an evening trying to upgrade Mockito (thought it was a low-hanging fruit) but then had to draw the line because fixing all the breakage in Google's codebase had started to look like a sizable project.

[2015-07-03 18:44] szczepiq commented on #244
Thanks a lot for the reports. This is great stuff. Thank you for pushing
mockito upgrade at G. This helps a lot because you have already fleshed out
a couple of bugs.

On Thu, Jul 2, 2015, 12:03 Ben Yu <notifications@github.com> wrote:

[2015-07-03 20:17] szczepiq commented on #194
Great discussion. Thanks everybody for chipping in. Let's get this sorted out.

dislike of this is having mock.m((String)any()) accept nulls and
mock.m(any(String.class)) reject nulls.

I agree. There is a gotcha: given that any(SomeType.class) is most used matcher method, it will be a pain to users to upgrade to Mockito 2.0.

However, if we tell users that any(String.class) checks type but (Strin

[2015-07-03 20:22] szczepiq opened #246 "Add flexible Matchers.is()"
Use case: there is a single argument matcher method that can satisfy different argument matching scenarios:

1. Any instance of: is(T)
2. Alias to eq(object): is(object)
3. Alias to argThat(matcher): is(matcher)
4. Alias to isNull(): is(null)

Examples:

mock.foo(is(100), is(myMatcher()));
mock.bar(is(String.class), is(null));

The goal is API that is simple to use and very readable.

Thoughts?

[2015-07-03 20:22] szczepiq commented on #194
BTW. what do you guys think about #246?

[2015-07-03 21:50] fluentfuture commented on #245
Here's a real example. The subject under test looks like this:

[code]

The testing framework actually tries to serialize SubjectUnderTest so FooFactory needs to be Serializable too.

The test using Mockito looks like this:
[code]

But when the framework serializes ```subject```, we get an exception, because the line of ```when(mockFactory.createFoo()).thenReturn(foo)``` implicitly adds 'foo' as p

[2015-07-03 23:41] szczepiq commented on #194
I think we're down to following options. Please vote or suggest other options:

1. Shoot down any(T) and anyT() in favor of isA(). This thread seems to be converging on this approach. Consistent and clean. High impact, potential churn.

2. Change any(T) and anyT() methods to reject nulls. Suggested by the community originally, potentially confusing down the road due to inconsistence with any(). Th

[2015-07-03 23:46] szczepiq commented on #245
Thanks for reporting.

I'm ok with removing the check or making it smarter. It seems to be a legit
use case. Brice?

Cheers!

On Fri, Jul 3, 2015 at 2:50 PM, Ben Yu <notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2015-07-05 16:07] folarte commented on #194
Hi
​ ​
Szczepan:

​I think it may have some problems, and be an overload abuse​. If done this
way I would vote for having long named methods with is() being just a
forwarder. And I think there may be some ambiguities if overloaded is() is
used to test overloaded method ( i.e., when you mock m(is(String.class))
are you mocking m(Class c) ( as m(eq(String.class))  )  or m(String s) with
any string?

[2015-07-06 17:10] pimterry commented on #194
Yep, I prefer option 1.

#246 sounds like a good idea to me, but we should definitely market it very clearly as a convenience method (as Francisco mentions), and obviously keep the explicit methods, so people are aware they can opt in to explicitly choosing the relevant option if they need to or they're not sure what the overloading does.

The overload I'm most suspicious of is `is(T)`, just becau

[2015-07-08 04:01] szczepiq opened #248 "push cglib into a separate jar"
Since the default MockMaker / class proxy engine is based on ByteBuddy there is no point in shipping mockito with cglib based MockMaker. This guarantees clean codebase and prevents users from depending on cglib.

If there is need, we will support cglib MockMaker as an external jar. MockMaker is a pluggable mechanism in Mockito to allow different class proxy makers (used in android).

[2015-07-08 05:04] #248 closed

[2015-07-08 05:23] szczepiq opened #249 "use Gradle built-in osgi plugin"
To clean up the codebase, we need to stop using ant for OSGi-fying the jars into valid OSGi bundles. This is a potentially breaking change as Gradle uses newer version of bnd tool. Given that we use modern plugin for creating bundles, it should be easier to improve it so that it the users get good OSGi support, faster.

[2015-07-08 05:35] #249 closed

[2015-07-08 14:25] szczepiq opened #250 "no jars in source code"
Some parts of build logic (dependencies for tests) were legacy and contained checked-in jars. Let's fix it so that the codebase is clean of jars (except for gradle-wrapper, we're ok with this one for now). This means cleaner house and also easier integration for people who repackage Mockito for other packaging systems.

[2015-07-08 14:32] #250 closed

[2015-07-08 15:20] szpak opened #251 "Migrate FEST Assert code to AssertJ"
Triggered by #250.

[2015-07-08 16:16] #251 closed

[2015-07-08 20:06] bonifaido opened #253 "Can't verify on synchronized methods of objects"
Because they are holding the object's lock when verify(object).method() is called, so if another thread tries to call the method it can't.

[2015-07-10 06:19] mat013 opened #256 "task mockitoJavadoc fails when compiling in windows"
When compiling the mockito project using gradle in a command line in Windows following compile error occurs:

javadoc: error - Illegal package name: "<script"
javadoc: error - Illegal package name: "type="
javadoc: error - Illegal package name: "text/javascript"
javadoc: error - Illegal package name: "src="
javadoc: error - Illegal package name: "{@docRoot}/js/jdk6-project-version-insert.js"
javad

[2015-07-10 12:12] raphw commented on #253
Thanks for your pull request. The idea was good but I think this is easier to adress by extending Byte Buddy's API. I added a possibility to transform a method's modifier and adapted the changes: https://github.com/mockito/mockito/pull/257

Your test case should however be kept to avoid breaking this feature in the future!

[2015-07-10 12:31] raphw commented on #123
I am curious: Do you guys have a time-line for the 2.0 release? I am more than happy to support any code-generation releated issues. However, my vacation is approaching so I will be gone for a couple of weeks starting mid-August.

[2015-07-10 14:04] szczepiq commented on #123
It must happen in 2015. I hope we are ready in the next few months. In
theory, there's not much left work :)

Cheers!

On Fri, Jul 10, 2015 at 5:31 AM, Rafael Winterhalter <
notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2015-07-10 14:11] #253 closed

[2015-07-10 14:24] bric3 commented on #123
I think mockito 2.0 is nearly in shape to be released, most work should go in polishing remaining bits of the public API. IMHO current byte buddy version is fine, and already provide subtitle but needed enhancements.

More specifically on generics I believe current support is OK, after all mockito is a TDD tool for a rapid feedback loop, both on the dev workstation and the ci bots. I believe curre

[2015-07-10 18:02] bric3 commented on #256
I think most of us work on Linux/OSX, it probably has to do with the JDK
version and windows line endings.

So minifying this javascript code may work ?

-- Brice

On Fri, Jul 10, 2015 at 8:19 AM, Meang Akira Tanaka <
notifications@github.com> wrote:

[2015-07-10 19:05] bric3 commented on #244
Closed via 817b04b

[2015-07-10 19:05] #244 closed

[2015-07-10 19:06] bric3 commented on #256
Fixed via 34f8c69

[2015-07-10 19:06] #256 closed

[2015-07-11 08:42] mat013 commented on #256
Hi Brice

Unfortunately it did not work... I have submitted an alternative suggestion

br

Meang

[2015-07-11 14:34] carlos-aguayo opened #260 "Typo in documentation"
Very minor thing, there's an extra "at" (@) in the documentation.

If you go to http://site.mockito.org/mockito/docs/current/org/mockito/Mockito.html#33

![image](https://cloud.githubusercontent.com/assets/338917/8634099/6c7f5264-27b8-11e5-93d9-98b725c9f749.png)

[2015-07-11 20:52] mat013 opened #262 "VerificationWithDescriptionTest seems to be in the wrong package"
When importing the Mockito project into Eclipse it has been discovered that there is a wrong package error for VerificationWithDescriptionTest. The class is in package org.mockitousage.verification, however the file location is src/test/java/org/mockito/internal/verification/VerificationWithDescriptionTest.java.

Does anyone have an explanation why it does come with a compilation error when runnin

[2015-07-12 17:30] #260 closed

[2015-07-12 17:33] bric3 commented on #262
Eclipse is wrong !
This test is intentionally in `org.mockitousage`, this package helps us to drive design and api usage via unit test. ;)

[2015-07-12 17:33] #262 closed

[2015-07-12 17:52] mat013 commented on #262
It seems like I am using all the wrong tools (Windows now eclipse *lol*)

However it also have a red squiggle in IntelliJ when you open the file.

Well I guess that pull request is not going in then... may I suggest that a
comment is written then... so someone else will not make the same mistake :)

I did not quite understand what you mean by drive design and api usage via
unit test. Could you exp

[2015-07-12 18:08] bric3 commented on #262
It's all about TDD (Test Driven Development), that is to use tests as a tool to develop code.
You can lookup on google for more, but here's the basic idea :

While this may seem like a non-necessary gimmick, it is very powerful as it allows the developer to think about how his code is used before he even wrote it. This avoid the scenario we all went through during our studies where we write code,

[2015-07-15 09:05] raphw commented on #123
Thanks for the info. I just released Byte Buddy 0.7 but I recommend you to not yet update. Generic types are tricky and I already found a corner case in the bridge method resolution that does not work. I'll try to make it stable until the mid of August, though.

[2015-07-16 09:19] hekonsek commented on #72
The same here. mockito-groovy-support solved the issue for me, however it would be nice to have the root cause of the issue fixed in Mockito, instead of relaying on the 3rd aprty jar. @moss Can you consider issuing the pull request to Mockito with your fixes? You will make many folks happy ;) .

[2015-07-16 11:12] raphw commented on #72
Problem would be that the workarround requires Groovy on the class path. One could avoid this by using reflection. Also, I wonder if there is a better way to check if a method is for retreiving the Groovy meta class than by checking the signature of the method as the current approach would break non-Groovy classes defining a method named `getMetaClass`.

One could however wire this. I do not think

[2015-07-16 11:31] raphw commented on #72
This should do the trick: https://github.com/raphw/mockito/commit/32340365469b99ec5ad2cf2c87b7a79cc472118b

Any objections against this approach?

[2015-07-16 16:26] bric3 commented on #72
I have mixed feelings about these changes, but I must agreed this certainly looks like a simple enough solution. @raphw Make a PR :)

[2015-07-16 16:34] raphw commented on #72
Will do tomorrow. Simply ignoring the methods is actually easier.

[2015-07-16 19:08] hekonsek commented on #72
Many thanks guys!

[2015-07-17 12:02] raphw commented on #72
Okay, I pushed a change and put a pull request on the line. Using this, Mockito should support Groovy out of the box.

[2015-07-18 14:55] bric3 commented on #213
Hi,

Are you looking for `Mockito.mock(type, answer_that_raise_exceptions)` ?

I don't understand really why dummy are brought here, and anyway **mocking
value object is wrong!** INstead have builders or factory that can create
these objects.

Anyway xUnit pattern book may not be up to date regarding mocking or unit
testing. I'd favor other books instead or take some distance with it.

For example

[2015-07-18 15:42] bric3 commented on #243
thanks for reporting this one !

[2015-07-19 11:22] fappel commented on #213
Hi,

thanks and sorry for bothering, I wasn't aware of that possibility - shame on me. Just gave it a try with the snippet

    Runnable runnable = mock( Runnable.class, ( Answer )invocation -> {

      throw new UnsupportedOperationException();

    }  );

    runnable.run();

and it worked as expected. So if needed, a little helper should do the trick.

Agreed the Dummy example in Meszaros' book

[2015-07-19 11:29] #213 closed

[2015-07-19 15:06] BartoszMiller commented on #243
ByteBuddyMockMaker checks for null using instanceof operator
`if (!(mock instanceof MockAccess)) {
    return null;
}`

I presume it is not a bug.

[2015-07-19 21:28] bric3 commented on #243
Nope

[2015-07-19 21:38] bric3 commented on #213
@fappel By the way I remember a blog post by the infamous Uncle Bob about mocks, doubles, etc. Definitely a great read !

http://blog.8thlight.com/uncle-bob/2014/05/14/TheLittleMocker.html

[2015-07-20 03:40] fappel commented on #213
@bric3 Thanks again. Usually I'm a big 'fan' of Uncle Bob and I know this post, but for once I think he's not accurate enough when describing mocks. I tend to go with Authors defining mocks as doubles that cause tests to fail in their excercise phase, in case they are not meeting the expected behavior. This has an advantage when it comes down to the failure trace, as this points directly to the ca

[2015-07-20 07:41] szczepiq commented on #243
How about we document the change in the behavior. Javadoc ok?

On Sun, Jul 19, 2015 at 11:28 PM, Brice Dutheil <notifications@github.com>
wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2015-07-20 14:51] bric3 commented on #243
`MockUtil` is an internal class, I don't think we have to document that one. But I believe we could fix the code there.

[2015-07-20 15:01] bric3 opened #267 "bintray upload broken ?"
Yet the binaries seems to be uploaded to bintray and maven (2.0.29-beta is missing on maven). But there's this failure reported during the build.

https://travis-ci.org/mockito/mockito/builds/71779411#L270-L359

[code]

[2015-07-21 09:07] szczepiq commented on #267
I have seen this. For some reason automatic publish to central fails. Can
be synced manually from bintray api. Javadoc and release notes are not
updated, too. I will look into it.

On Mon, Jul 20, 2015, 17:01 Brice Dutheil <notifications@github.com> wrote:

[2015-07-21 23:30] fluentfuture commented on #243
The public API (or, SPI) is MockMaker.getHandler(Object mock).

The current JavaDoc doesn't mention whether null could be passed in. Although in v1.9.5 it was guaranteed that nulls won't be passed in.

If v1.10.19 drops that guarantee, Android's DexMakerMockMaker is broken because it doesn't make the effort to check for null.

I personally think it's pointless for Mockito to ever call MockMaker.ge

[2015-07-22 08:42] scameronde opened #268 "RETURN_DEEP_STUBS and toArray(T[]) stops working with versions > 1.9.5"
With version 1.9.5 the following test works without a problem:

[code]

With version 1.10.0 and beyond (including 2.0.26-beta) the following exception gets thrown

[code]

Using

[code]
instead of
[code]
works.

[2015-07-22 09:22] bric3 commented on #243
yes agreed with @fluentfuture

[2015-07-22 12:30] turbanoff opened #269 "Add "Download" section to menu in http://mockito.org/"
I don't understand why it wasn't done previously.
Now it's look strange to not have searchable Download links with last/stable version at main site page.

[2015-07-22 13:11] bric3 commented on #269
you can click on the badges

[2015-07-22 13:27] turbanoff commented on #269
@bric3 It's counterintuitive. Badge shows only latest version (not stable). I'm unable to find badge when I search "download"

[2015-07-22 13:33] raphw commented on #268
I looked at the code and it seems like there is no specific handler for generic arrays. The strange thing is that there never was one.

Did you maybe run with a different Java version in the process? Before Java, non-generic arrays were also represented by generic array representations. Since after Java 6, generic arrays with a non-generic component type are properly resolved.

Nevertheless, this

[2015-07-22 15:42] bric3 commented on #269
Github project shows both I'll sync the website. However I don't see that as counter intuitive, quite the contrary. Bintray and maven are our distribution platforms.

[2015-07-22 15:43] bric3 commented on #269
Unfortunately at the moment badge service is having a hard time, it will get back up sometime later.

[2015-07-23 08:51] scameronde commented on #268
The test code is executed using Oracle Java 8 (1.8.0.40-b25) on OSX.
I updated to mockito 1.9.5 to 1.10.0 in the process of updating from Java7 to Java8

[2015-07-23 09:49] raphw commented on #268
You are right, the change came with Java 8. Fixed with my pull request.

[2015-07-23 10:12] bric3 commented on #268
@raphw Nice catch, and thanks for the patch :)
@scameronde Thanks for reporting :)

[2015-07-23 10:14] bric3 commented on #268
By the way @raphw As you may be one of the only person around mockito that can give thorough feedback on the generic support class in mockito, do you see how to improve it ?

[2015-07-23 10:36] raphw commented on #268
Well, as I am currently dealing with generic types a lot I can only tell that it is quite complex to beginn with. But I am deep in the matter these days, I will look at the implementation some time and see if I can improve it. For now, it looks save, apart from the fact that you were missing generic type arrays.

[2015-07-23 10:41] bric3 commented on #268
Yes it was developed on java 7 and missed that.

[2015-07-23 12:16] #268 closed

[2015-07-23 14:58] scameronde commented on #268
you got to love the open source community. Thank you a lot for the fast response and the fix.

[2015-07-24 15:03] #269 closed

[2015-07-25 07:25] catchsvix opened #271 "Mockito spy is unable to verify protected method call from within an anonymous class"
Here's my scenario:

[code]

[code]

[code]

[2015-07-25 07:26] catchsvix commented on #271
mockito 1.9.5

[2015-07-26 03:00] lklots commented on #135
i am running into this issue myself. Is the PluginSwitch supposed to be picked up by mockito through the classpath? And once it finds it, it will filter out the dexmaker plugin based on the logic of PluginSwitch?

[2015-07-26 14:07] Stephan202 opened #272 "JDK 9 compatibility regression in Mockito 2.0.21-beta"
The following TestNG test fails when run on JDK 9 with Mockito 2.0.21-beta or later (including 2.0.31-beta), but passes with Mockito 2.0.20-beta or earlier (including 1.9.5). Tested with the latest JDK 9  early access build ([b73](https://jdk9.java.net/download/) at the time of writing), but have noticed this with earlier builds as well. (Just didn't get around to filing the ticket until now.)

	i

[2015-07-26 17:30] raphw commented on #272
I think this is a consequence of Byte Buddy's byte code version auto discovery which was included in this beta version. Byte Buddy does not yet discover Java 9 appropriately but this is something I am currently working on. I think that I will release a version some time this weak such that Mockito becomes Java 9 ready.

[2015-07-27 10:44] bric3 commented on #271
Unfortunately this kind of code design is not supported by spies.

What's happening here is that when mockito creates the spy it creates a **shallow** copy of `new Foo()`, thus copying the inner class reference. But this inner class has already been constructed with a reference on the original (non-spy) `Foo` hence the call is not intercepted by Mockito.

Mockito probably won't be modified to expl

[2015-07-27 10:45] #271 closed

[2015-07-27 14:20] bric3 opened #273 "Get rid of ReturnValues"
`org.mockito.ReturnValues` has been deprecated for years, it should be removed in mockito 2.0

[2015-07-27 15:03] raphw commented on #133
I have looked at this in further detail and this is difficult Java corner-case:

1. `TestClass` is an anonymous class which *javac* implements as a package-private class. In order to subclass such an anonymous class, one **must** load the subclass with the same class loader as the anonymous class.
2. The context of the class depends on different class loaders which requires using a `MultipleParent

[2015-07-28 08:56] raphw commented on #133
The problem is the following:

1. `TestClass` is an anonymous class which *javac* implements as a *package-private* class. In order to subclass such a package-private class, one must load the subclass with the same class loader as the anonymous class. Otherwise, the runtime package of the anonymous class is not visible to the mock class.

2. The test case implies dependencies on different class lo

[2015-07-31 18:05] JeremybellEU commented on #246
As I currently read it, the implementation would consist of `if`'s and `else if`'s? If that would be the case, it is just a 'smarter' alias of all previous methods. Would you still keep those old methods as stricter aliases?

My 2 cents:
If Mockito would go down this road (and I think I like it a lot), then in my eyes the other methods should be depecrated. This in order to deter any confusion reg

[2015-07-31 21:08] trothwell opened #275 "Backward incompatible change from TestRule to MethodRule"
Per: http://junit.org/apidocs/org/junit/rules/MethodRule.html

`MethodRule` doesn't support `RuleChain` as it only supports `TestRule`.

Consider the usage:
[code]

[2015-07-31 21:11] trothwell commented on #275
Also consider how to solve ordering issue of multiple method rules.
https://github.com/junit-team/junit/issues/383

[2015-08-01 20:01] graffitst888 opened #276 "verify(..., timeout(...).times(...)) It does not work properly!"
I create test:
<pre><code>
 @Test
    public void testFunction1() throws InterruptedException {
        TestClass testClassSpy  = spy(new TestClass());
        testClassSpy.setCount(10);
        testClassSpy.function1();
        verify(callableExampleSpy, timeout(30000).times(10)).function2();
    }
</code></pre>
Other class:
<pre><code>
public class TestClass{
 private int count = 5;
public void

[2015-08-02 19:28] #276 closed

[2015-08-02 21:22] xenoterracide commented on #186
Does mockito support plugins? maybe there could be a separate jar that people could install separately if using java8 that does this. Like Hibernate has an extension for Java 8 types.

Either way having problems with this, more or less blocks me from using Mockito for my probject.

[2015-08-02 22:39] raphw commented on #186
I think you misunderstood. Mockito already supports defender methods, only the tests would require Java 8.

[2015-08-02 22:53] xenoterracide commented on #186
oh, well I guess I read this wrong then, my bad. cool.

[2015-08-03 07:38] raphw commented on #186
No worries. And thanks for trying out the beta. If you experience anything that could be solved better, please drop a line and we'll try to improve the beta before its release!

[2015-08-03 14:27] bric3 commented on #186
I feel like we should close this issue, or do these pre-compiled java 8 tests

[2015-08-03 16:20] DanielZlotin opened #278 "Incorrect default return values for generic Type overridden methods (with fix)"
Using version 2.0.2-beta, observed with previous versions.

Default return values returns null on invocation by mock of methods with T return type, where T is defined as method parameter, even when this method is overridden in subclass with a specific primitive wrapper class.

Example:

[code]

This happens because type erasure of the method return type.

I managed to solve this by checking equali

[2015-08-03 16:58] bric3 commented on #278
@DanielZlotin Thanks for reporting. Generic return type is still a work in progress, have tried the latest beta ?

Could you make a Pull Request ?

[2015-08-03 17:22] DanielZlotin commented on #278
I just realized I'm using `'org.mockito:mockito-all:+'` which is deprecated. I switched to `'org.mockito:mockito-core:+'` but without my fixed `Answers` I'm still getting `null` instead of zeros and empty `List`s etc.

Sure, I'll make a pull request but how is integrating with `TypeToken` from GSON will work? Do I need to provide tests for it? what about licensing?

[2015-08-03 17:39] bric3 commented on #278
I took time to look into your code, rather than on the phone. I'm not sure what this code is supposed to assert as `Moo` is mocked and `Foo` is a concrete implementation.

Anyway, in this code example there is type erasure (the Java compiler clears any generic types you see in the code). And here `<T> T doBar(final BaseFoo<T> foo)`, the type variable `T` is not bounded so the compiler will erase i

[2015-08-03 17:39] bric3 commented on #278
So there nothing really we can do on Mockito. Don't bother do a Pull Request :)

[2015-08-03 18:18] DanielZlotin commented on #278
I disagree about the usage and isolation: In my tests `Moo` is a `Network`ing class, and `Foo` is a specific `HttpRequest`. When I test `Foo` obviously I test only `Foo`. Same thing when I test `Moo`.

But when I test a class which uses the `Network` to call a `HttpRequest` of type `Foo` inside some logical flow of a method, some of the time I specify a response for `Moo` (like your example) , but

[2015-08-04 13:38] JeremybellEU commented on #243
While working on #277, I also fixed this (as tests were failing if you would remove this check). The check can be [found here](https://github.com/mockito/mockito/pull/277/files#diff-5f69ba708be52e3b8f1216aff3582f4aR34)

[2015-08-04 14:02] runeflobakk commented on #186
Typically, default methods are convenience methods which calls abstract methods which must be implemented by concrete classes. They offer some alternate ways to access the regular abstract interface methods, and as such the behaviour of the default methods are directly dependent on how abstract methods are mocked (or not). Trivial example:

[code]

When mocking `A`, I am only interested in stubbin

[2015-08-05 08:17] vanta commented on #155
I can see it still occurring in version 1.10.19 with JDK 1.7. Is it possible or I'm doing sth wrong?

[2015-08-06 11:56] #243 closed

[2015-08-06 11:58] bric3 commented on #278
I'm not sure I follow you, real code sample would explain much better ;)
Also what is RSP ?

[2015-08-06 11:58] #278 closed

[2015-08-06 12:55] bric3 commented on #275
I think this a reasonable change for Mockito 2.0, minimum Junit version would be 4.9 then

[2015-08-06 13:06] bric3 commented on #275
I just checked the signature of `TestRule`, but we have a problem, `RuleChain.outerRule(MockitoJUnit.rule());` cannot work as `TestRule` do not pass the target on which the rule should be applied. And that is for a reason, `TestRule` can be executed on the _"class"_ scope with the `@ClassRule` annotation.

[code]

In my opinion, JUnit `RuleChain` should support `MethodRule`

[2015-08-06 13:06] #275 closed

[2015-08-06 13:24] DanielZlotin commented on #278
I meant SRP (single responsibility), with regards to isolation.

some quick pseudocode:

[code]

Now I know all about `when(mock).thenReturn(...)`  and I use it in every place when I need a special return value in order to test some behavior, or when testing things directly connected to the response. But when I don't care about the response of the mock, and all I want is a smart null return value

[2015-08-07 13:16] T3rm1 opened #282 "Exception when stubbing more than once with when...thenThrow"
If I create a mock and stub a method so it throws an exception and do that twice the first exception will be thrown upon invoking the second stub instruction.

Example:

    @Test
    public void testThrowException() {
    	Object o = Mockito.mock(Object.class);
    	// test behavior with Runtimeexception
    	Mockito.when(o.toString()).thenThrow(RuntimeException.class);
    	// ...
    	// test b

[2015-08-07 14:55] bric3 commented on #282
I don't exaclty know what the actual code is supposed to achieve, but if the mock is supposed to raise different exceptions on subsequent interaction then mockito is misused in this case. Correct code would be :

[code]

This [`assertThatThrownBy`](http://joel-costigliola.github.io/assertj/core-8/api/org/assertj/core/api/StrictAssertions.html#assertThatThrownBy-org.assertj.core.api.ThrowableAssert

[2015-08-10 07:18] T3rm1 commented on #282
My example isn't the best one. Imagine I have a method with an input parameter. Depeding on the parameter it can throw exception A or B.
When I test the calling method of the above mentioned one I have two test cases. As in my example above I first test what happens when exception A is thrown. After that I want to test with exception B.

[2015-08-11 12:55] raphw commented on #272
Fixed with updating to Byte Buddy 0.6.15.

[2015-08-11 12:55] #272 closed

[2015-08-11 19:12] ghostsquad opened #283 "Cannot install in Python 3.4"
[code]

[2015-08-15 11:26] bric3 commented on #283
Hi,

This project is the original mockito project created for the Java ecosysytem / JVM. Other open source developers _ported_ mockito in other language ecosystem, but we are not aware of how it works what are the features and bugs of these projects. So we cannot provide support on these.

Anyhow I suppose you are looking for this project : https://code.google.com/p/mockito-python/

[2015-08-15 11:26] #283 closed

[2015-08-16 15:53] ghostsquad commented on #283
Oh, sorry about that. Not sure how I ended up on this issue tasker.

On Sat, Aug 15, 2015, 4:26 AM Brice Dutheil <notifications@github.com>
wrote:

[2015-08-16 16:21] bric3 commented on #283
No problem :)

[2015-08-19 09:15] diversit opened #284 "Remove invocation from mock after it's being verified"
After an invocation has been verified, it should be removed from the invocations list in the mock so it does not interfere with any further usage of the mock.
(Since I work a lot with actors nowadays, I would expect a similar behavior here as when testing actors. After an expected message has been received by a test actor, it is also removed and any following 'expectNoMsg()' would then succeed. Se

[2015-08-19 09:17] diversit commented on #183
I created a new issue (#284) for removing any invocations which have been verified. In my optioning resetting the invocations would then not been needed anymore and the current reset can stay as-is. This also give you a stronger guarantee that you're really verifying all invocations of the mock.

[2015-08-19 13:06] bric3 commented on #284
Actually this should work with [`inOrder`](http://site.mockito.org/mockito/docs/current/org/mockito/Mockito.html#inOrder(java.lang.Object...))

[code]

[2015-08-21 21:20] vbuell opened #285 ""Argument should be a mock, but is" error when combine @InjectMocks with @Spy"
In mockito <=2.0.12 there was possible to use @InjectMocks on spy object, but seems like this was changed since 2.0.13-beta version:

[code]

Test case:

[code]

[2015-08-22 13:19] JeremybellEU commented on #285
Using the real objects PR, I was able to create a fix for it.

The problem was an internal name-retrieval of mocks during injection to fix a previous issue. The commit that caused this bug was: https://github.com/mockito/mockito/commit/110ffa80070bf54ab8efabdaaa27b193a93d6128

[2015-08-22 22:27] JeremybellEU commented on #282
Should you not create 2 different testcases for this?
* Therefore 1 test case verifies that whenever you provide input parameter X, it throws A.
* The other test case verifies that whenever your provide input parameter Y, it throws B.

Then the stubbing for each case is done in a seperate testcase, causing the correct exception in each case.

[2015-08-23 14:43] T3rm1 commented on #282
Yes, that works.

[2015-08-23 15:01] JeremybellEU commented on #225
Closing this issue as I am now running Linux + IntelliJ. Seems too much work for a marginal result.

[2015-08-23 15:01] #225 closed

[2015-09-01 16:56] pimterry commented on #194
Any progress on this? Are people happy for me to put together a potential PR for option 1, which it sounds like we've settled on, as something concrete to discuss?

[2015-09-03 07:46] tadaskay commented on #185
So basically, `anyString()` should be replaced by `or(isNull(String.class), anyString()`?

[2015-09-08 15:10] JeremybellEU commented on #117
I did some investigation and the problem is at [the GenericTypeExtractor](https://github.com/mockito/mockito/blob/15688023419199b0a27b15a8d782848cdfaa9530/src/main/java/org/mockito/internal/util/reflection/GenericTypeExtractor.java#L78).
When executing the posted testcase, the Matcher that is created is [IsEqual](https://github.com/hamcrest/JavaHamcrest/blob/c47a7b873345ee46073707d35c6f0cc847c4baf

[2015-09-09 20:03] Pr0methean opened #289 "NPE when explicitly casting a deep stub"
In an Android test, I needed my mock Context to return a mock ActivityManager. I tried this:

[code]

This produced a NullPointerException in the when() call.

[2015-09-18 09:22] ningg commented on #209
I hope this feature can be included in mockito.

[2015-09-19 04:08] fluentfuture commented on #245
Hi, is this reasonable? I can send a PR to remove this check, if it's okay with you guys.

[2015-09-19 05:43] szczepiq commented on #245
Let's remove the check unless Brice objects ;)

On Fri, Sep 18, 2015 at 9:08 PM, Ben Yu <notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2015-09-19 07:07] szczepiq commented on #117
Ah, I had high hopes for the type extracting :(. Looks like the argXxx methods need to be included in MockitoHamcrest. Do you want to contribute?

[2015-09-19 08:49] rusmonster opened #292 "java.lang.AbstractMethodError: org.powermock.api.mockito.internal.mockmaker.PowerMockMaker.isTypeMockable(Ljava/lang/Class;)Lorg/mockito/plugins/MockMaker$TypeMockability;"
On 2.0.10-beta I have the same problem as described here:
http://stackoverflow.com/questions/31685267/error-initializing-mockito-everytime-and-for-any-test-cases

Then I try on 1.10.19 and the problem is not happened. So it looks as degradation.

java.lang.AbstractMethodError: org.powermock.api.mockito.internal.mockmaker.PowerMockMaker.isTypeMockable(Ljava/lang/Class;)Lorg/mockito/plugins/MockMake

[2015-09-19 15:40] davidkarlsen commented on #123
Any guess on when 2.0 will be released?

[2015-09-19 21:35] szczepiq commented on #123
It's been silent for past couple of months, everybody busy, etc. Since
yesterday, I'm focusing my spare time on Mockito. I will not stop until 2.0
is out. We cannot guarantee any dates but 2.0 must be released in 2015.

On Sat, Sep 19, 2015 at 8:40 AM, David J. M. Karlsen <
notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at bl

[2015-09-20 20:07] JeremybellEU commented on #117
I can contribute yes (but have a lot of PRs open already, might cause some flooding). But what do you mean with `argXXX`?

Do you mean a signature like `public static long argThat(Matcher<Long> matcher)`? I am not sure if it compiles but I can try it out.

Still I don't think the underlying issue is solved, because `IsEqual<T>` with `T=Long` will not match the `Matcher<Long>`, but that would be le

[2015-09-20 20:15] JeremybellEU commented on #289
I think this is happening because `(ActivityManager) mContext.getSystemService(Context.ACTIVITY_SERVICE)` returns `null` as it was not previously stubbed. However you might have done it in left-out code.

Then you execute `.isLowRamDevice()` on this `null` which generates the `NullPointerException`.

To (presumably) fix this issue, you have to stub `getSystemService` to return a valid object, pref

[2015-09-21 13:12] raphw commented on #292
The problem is that PowerMock has not yet adapted the changed SPI for custom `MockMaker`s. This is of course unfortunate, but a consequence of improving Mockito. I have given a litt broader answer on the StackOverflow answer you have linked.

[2015-09-21 13:12] #292 closed

[2015-09-24 06:47] raphw commented on #273
Fixed by  #294

[2015-09-24 06:47] #273 closed

[2015-09-24 09:01] DariusL opened #295 "initMocks produces NullPointerException"
public class MockitoTest {
        @Rule public MockitoRule mockitoRule = MockitoJUnit.rule();
        @Mock private Interface mock;
        private Foo foo;

        @Test
        public void testName() throws Exception {

        }

        private interface Interface{}
        private static class Foo{}
    }

Causes

    java.lang.NullPointerException
    at com.android.dx.mockito.DexmakerMock

[2015-09-24 09:04] raphw commented on #295
This is due to #243 which is already fixed in master.

[2015-09-24 09:10] DariusL commented on #295
Missed that one. I'll wait for a release then.

[2015-09-24 09:10] #295 closed

[2015-10-04 20:58] mockitoguy opened #297 "Mockito java8 distribution"
There's an open source java8 feature set for mockito developed by Marcin Zajączkowski, see: https://solidsoft.wordpress.com/2015/06/30/more-compact-mockito-with-java-8-lambda-expressions-and-mockito-java8-add-ons

Let's figure out a way to include this in main distribution of Mockito

Discussions on this subject on the dev list:

1) https://groups.google.com/forum/#!searchin/mockito-dev/java8/mock

[2015-10-05 19:07] tomball opened #298 "ObjenesisHelper references in MockMaker-independent code"
A couple of references to org.objenesis classes in code that is otherwise independent of bytecode-based mocks:

src/main/java/org/mockito/internal/stubbing/answers/ClonesArguments.java
src/main/java/org/mockito/internal/stubbing/answers/ThrowsExceptionClass.java

Both of these classes use ObjenesisHelper.newInstance(Class), which differs from Class.newInstance() in that no constructors are called.

[2015-10-05 19:48] benmccann opened #299 "Memory leak"
I get memory leaks in my project whenever I use Mockito. I have a hunch this is because Mockito uses the wrong classloader, but I'm not quite sure. Please see the sample project I made to reproduce this:

https://github.com/benmccann/play-mockito-bug

[2015-10-06 02:18] szczepiq commented on #299
Hey,

Thanks for reporting! Do you have a chance to debug this problem? We don't use sbt and I'm not sure when can we take a look at this problem.

[2015-10-06 02:18] szczepiq commented on #299
What version of mockito do you use?

[2015-10-06 02:27] szczepiq commented on #298
I'm with you.

The interactions with objenesis should be better isolated. MockMaker might be a reasonable idea. Technically, creating instances of things is not MockMaker's responsibility. So perhaps there is a better way? A different extension point? Check out org.mockito.plugins package.

[2015-10-06 02:44] benmccann commented on #299
I'm willing to put in some effort, but I'm afraid that I might have some difficulty finding the problem and could really use some help

I'm using 1.10.19. I tested with 2.0.31-beta also and it appears there as well.

[2015-10-06 06:54] raphw commented on #299
Could you create a heap dump of your program when your application is leaking? This might give us the necessary hint!

[2015-10-06 11:23] JeremybellEU commented on #297
Not sure if it is possible, but could Java 8 specific features be directed to a seperate module. Therefore the 'old' module supports Java <8 and the new + old module support Java >8. I am not even sure if it is able to be compiled.

[2015-10-06 16:59] benmccann commented on #299
Sure. Here you go
https://www.dropbox.com/s/2ioabsh4yw2umcy/play-mockito.hprof?dl=0

[2015-10-06 22:02] szpak commented on #297
The current features can be (and in fact are) simply integrated as a separate mockito-java8 module.

Although I cannot provide a particular feature in Mockito a case study from AssertJ. Long time ago I started implementing AssertJ module for Java 8. It turned up quickly that due to complex class hierarchy of assertions it was not possible to add a new class Assertions8 which depends on a standard

[2015-10-07 05:13] edudar opened #300 "Official support TestNG with mockito-testng artifact"
Is there any chance for resurrection of https://code.google.com/p/mockito/issues/detail?id=304? It looks like it still lives as 3 classes outside of official repository only... Thanks!

[2015-10-08 01:29] benmccann commented on #299
I'm going to close this issue since I was able to reproduce it without Mockito being present. Thank you for the help

[2015-10-08 01:29] #299 closed

[2015-10-10 18:02] szczepiq commented on #151
gc old issues

[2015-10-10 18:02] #151 closed

[2015-10-10 18:04] szczepiq commented on #300
We should do it. It's been postponed for later but we need to deal with this. Thanks for the reminder and an upvote.

[2015-10-10 18:07] szczepiq commented on #267
gc old tickets. We will reopen if this happens again.

[2015-10-10 18:07] #267 closed

[2015-10-10 18:16] szczepiq commented on #297
@szpak, can we have mockito-java8 __1.0__? There seems to be no big changes going on, you already are backwards compatible as you know well enough the power of server, lets do 1.0. This way, we can deemphasize java8 support.

I guess the the goal of this ticket is to pull in @szpak module into mockito codebase (and bring new fantastic team member along ;p). Since mockito-java8 is can be neatly use

[2015-10-10 18:19] #245 closed

[2015-10-10 18:20] szczepiq commented on #199
I'm going to close this ticket as this references Mockito 1.10 which is an old release (we're working on 2.x)

[2015-10-10 18:20] #199 closed

[2015-10-10 18:20] szczepiq commented on #199
The issue is reported very cleanly and elegantly. Thanks a lot and keep them coming! This is very helpful.

[2015-10-10 18:21] szczepiq commented on #179
We don't seem to have time for this. If we want to do it, we can reopen.

[2015-10-10 18:21] #179 closed

[2015-10-11 04:32] mockitoguy opened #303 "New Mockito stubbing api"
## Top Mockito priorities (equal importance):

I. Maximize test's clarity
II. Maximize test's failure output (easy test failure debugging)
III. Guide the engineer toward cleaner, higher quality tests that are easy to maintain
## Use cases, in the order of importance.

1) Unused stubbing is dead code, an irrelevant detail that clutters test's clarity.
2) Unintentionally unused stubbing can make tes

[2015-10-13 08:56] fbaro opened #304 "Problem verifying bridge methods"
Hello, I think there might be a bug in mockito when verifying bridge methods.
The bug is present both in version 2.0.31-beta, and in version 1.10.19.

[code]

[2015-10-13 09:15] raphw commented on #304
The problem here is the following: Byte Buddy does not intercept bridge methods but assumes that these methods should be dispatched *as they are*. Therefore, the `Method` that relates to this interception is the actual method, i.e. `test(String)` and not `test(Serializable)` which is only added as a bridge.

Mockito on the other hand picks up the invoked method from the call site which is `test(Se

[2015-10-13 16:32] tomball commented on #298
It looks like you already did most of the work! The org.mockito.internal.creation.instance package defines Instantiator with the correct method, so it looks like all that's to be done to make this cross-platform is to move Instantiator to org.mockito.plugins, and update InstantiatorProvider to check for a plugin before assigning a ObjenesisInstantiator to InstantiatorProvider.INSTANCE.

If you're

[2015-10-19 15:42] ryanluedders opened #305 "mocking method an interface inherits from its parent interface is not working when the method is re-stated in extending interface"
I was trying to build a function that can return a mock of any interface extending a generic parent interface. The extending interface specifies the generic parameters.

I've found that if the extending interface does not re-declare the method, then it works as expected (the mock object exhibits mocked behavior when the method is invoked.)

If the extending interface does re-declare the method, th

[2015-10-19 17:48] raphw commented on #305
I think that you are suffering the same condition as https://github.com/mockito/mockito/issues/304

The method is intercepted appropriately but the bridge is currently not resolved by Mockito.

[2015-10-20 02:10] ryanluedders commented on #305
Thanks, you're probably right. I can keep an eye on that one too.

[2015-10-20 08:02] fbaro commented on #304
Since somebody else has this issue, I found a workaround to make the test pass:

[code]

[2015-10-23 21:27] anticlockwise opened #307 "Interface method signature for cglib.proxy.CallbackFilter different between github and Maven built Jar"
After trying to use Powermock 1.6.2 with a Mockito 1.10.19 jar built from source on my own laptop led to:

    AbstractMethodError: org.powermock.api.mockito.repackaged.ClassImposterizer$2.accept(java.lang.Method, java.util.List<Method>)

However, with the prebuilt jar for mockito-all 1.10.19 from Maven central works perfectly with Powermock 1.6.2.

After some digging, I found that the method sign

[2015-10-26 22:13] scubbo opened #308 "Matchers for Optional"
Given the existence of `anyCollectionOf(Class<T> clazz)`, `anyMapOf(Class<K> keyClazz, Class<V> valueClazz)`, etc., and the introduction of `java.util.Optional` in Java8, it seems natural to introduce the following methods in Matchers.java:

[code]

However, this would break backwards compatibility, so could probably only be introduced with a major version release.

[2015-10-29 19:12] pwielgolaski opened #310 "Can't mock InetSocketAddress on Java 8 because hashcode throw NPE"
I'm trying to run simple test, but it fail with NPE

[code]

How can I resolve it?

[2015-10-29 22:05] mkordas opened #311 "Add BDD version of verifyNoMoreInteractions()"
Current state:
[code]

Would be great to have BDD replacement for `verifyNoMoreInteractions()`. Then the test would be even nicer:
[code]

If you agree, I will submit a PR.

[2015-10-30 13:30] zbigniewTomczak opened #312 "ThrowsExceptionClass is urealiable - exception doesn't containt stack trace"
The `ThrowsExceptionClass` is using `ObjenesisHelper.newInstance` which happens to have different strategy of creating objects depending on the JVM used.
I'm using Java HotSpot VM. On this machine ,created `Throwable`, is initalized with all nulls.
As a result calling `throwable.fillInStackTrace()` has no effect and there is no chance the stack trace is ever filled. You can easily observe this beh

[2015-11-04 13:51] weinhold opened #315 "Improve exhaustive in-order testing"
Given that there's an `InOrder.verifyNoMoreInteractions()` I suppose the usefulness of exhaustive in-order testing (i.e. verifying that calls have been made in the expected order and that no additional calls have been made) is appreciated. If not, please consider the example of a class that is configured with a builder (interface) object and given a certain input emits method calls to the builder

[2015-11-04 14:09] weinhold commented on #315
I just noticed that `InOrder.verifyNoMoreInteractions()` doesn't what I thought it did and using `Mockito.verifyNoMoreInteractions()` reports the list of all calls made, which makes the first issue I listed moot. The second one still stands, though.

[2015-11-05 05:58] patspam commented on #298
Any updates on this?

[2015-11-05 22:18] tomball commented on #298
Fixed in [current source](https://github.com/mockito/mockito/commit/e8640baba7eeaf4d333696492b6868feb115094f). Mockito's TravisCI continuous build successfully built the change, but for some reason since late last June CI builds can't be posted to [Mockito's releases page](https://github.com/mockito/mockito/releases). I guess someone from the project will need to hand-roll the next release, or fix

[2015-11-06 05:47] astafev opened #316 "modify StackTraceFilter to not strip away "good" elements from the middle"
according to javadoc of org.mockito.internal.exceptions.stacktrace.StackTraceFilter, filter works like this:
[a+, b+, c-, d+, e+, f-, g+] -> [a+, b+, g+]
it would be better to not strip away "good" d and e elements:
[a+, b+, c-, d+, e+, f-, g+] -> [a+, b+, d+, e+, g+]
What do you think about this? For me current behaviour is very inconvenient, I had to turn it off.

[2015-11-08 01:49] patspam commented on #298
Thanks @tomball !

[2015-11-08 18:54] sabram commented on #213
I know this is an old thread, but I too would value a dummy() method. Just a wrapper around the code discussed above. For example:

    /**
     * Creates a dummy that throws an UnsupportedOperationException upon invocation of any method.
     * Typically used when you are forced to pass an argument but you do not expect it to be used.
     *
     * <pre class="code"><code class="java">
     *   F

[2015-11-10 01:38] patspam commented on #123
Any updates on when we might see a 2.0 release?

[2015-11-10 12:27] raphw commented on #307
Cglib has a history of incompatible API changes. As the given builds of Mockito and Powermock use different versions of cglib, these versions can unfortunately clash. Mockito does however repackage cglib into its own namespace to avoid this. You probably did not use the repackaged jar from the build.

[2015-11-10 12:30] raphw commented on #310
You cannot. Unfortunately, `hashCode` and `equals` are declared to be `final` by `InetSocketAddress`. Mockito does however rely on these methods for all of its internal validation. Whenever these methods are triggered, they rely on a state that the mocking circumvented such that the null pointer exception is thrown.

[2015-11-10 12:32] raphw commented on #305
Closed as duplicate of another open issue. (https://github.com/mockito/mockito/issues/304)

[2015-11-10 12:32] #305 closed

[2015-11-10 12:52] raphw commented on #123
2015 is soon over ;) At some point, we need to do a cut in features. I think everybody is quite budy right now. As always, the time before Christmas are busy month for consultant work.

[2015-11-11 07:58] szczepiq commented on #123
Soon. This year for sure. Sorry I was distracted! We will probably deliver
2.0 with what we have, no new fancy features ;)
On Nov 10, 2015 4:52 AM, "Rafael Winterhalter" <notifications@github.com>
wrote:

[2015-11-17 10:16] PascalSchumacher opened #318 "publish new beta version?"
The last published beta version is mockito-core-2.0.31 from 21-Jul-2015. It would be very nice if a new beta version could be published (if it is not too much bother).

BTW: Thanks for creating mockito. :)

[2015-11-17 11:36] raphw commented on #318
There is something wrong with the script. There is already an issue for it but I could not yet figure out what has changed. Maybe the account credentials were changed?

[2015-11-17 17:56] #310 closed

[2015-11-20 18:46] pedr000000 opened #319 "EnhancerByMockitoWithCGLIB$$4f420a56"
Hi guys,

I am getting this strange error which I have no clue about, please note that this error is not happening when using an OpenJDK (1.7) and the error is happening in a 64 bit linux box using :

java version "1.7.0_79"
Java(TM) SE Runtime Environment (build 1.7.0_79-b15)
Java HotSpot(TM) 64-Bit Server VM (build 24.79-b02, mixed mode)

java.lang.NoClassDefFoundError: Could not initialize clas

[2015-11-23 10:45] jedvardsson opened #320 "Mockito keeps references to disposed class loaders in the"
In our projects we have tests that fire up embedded Tomcats + Spring web application context. In the Spring application context we create beans using Mockito mocks.

The problem is that Mockito mock proxy classes gets a class loader based not only on the class being mocked but also the current threads class loader. In our case the current thread is a thread owned by tomcat.

This is not good becau

[2015-11-27 08:28] skabashnyuk commented on #300
Hello
Is there any chance to resurrect this task?
If it helps I can be a volunteer with sonatype negotiation to promote this artifact to maven central.
WDYT?

[2015-11-30 08:06] jabrena opened #321 "Is it possible to use to mock some paths in sysfs?"
I am developing a java library which it interacts with a Linux environment and I would like to know if it is possible to use mockito in testing phase.

The class which interacts with sysfs is:
https://github.com/jabrena/ev3dev-lang-java/blob/master/library/src/main/java/ev3dev/hardware/Sysfs.java

I would like to simulate values using mockito.

any idea?

[2015-12-02 16:17] nathansgreen opened #322 "2.0.31-beta Incompatible with Byte Buddy 0.7.3"
Just by calling `Mockito.mock(MyInterface.class)`, I get the following stack trace when using `2.0.31-beta` in my project that uses Byte Buddy `0.7.3`.

[code]

[2015-12-02 18:03] raphw commented on #322
The current master has the Byte Buddy update incorporated but the Mockito betas are no longer published. Once new betas are build, you would only need to use the latest beta.

[2015-12-03 08:24] szczepiq commented on #322
Thanks for reporting. I'll look into the publication issue!

On Wed, Dec 2, 2015 at 10:03 AM, Rafael Winterhalter <
notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2015-12-04 09:18] Marssmart opened #323 "Mocking classes with package-private parent"
Hello

i have found one bug/feature of Mockito ,which happens when you try to Mock class (in my case an library class) that has an parent class whitch has an package-private access.

What happend is that mockito will show that the class is enhanced by mockito,but in fact it is an <b>real instance</b> of class that i was trying to mock whitch result in that this call

<code>Mockito.when(instance.me

[2015-12-04 09:45] raphw commented on #323
Thanks for reporting this. The problem is already resolved in the current beta. You can either try out the beta already today or wait for the final 2.0 release. Cheers, Rafael

[2015-12-04 10:27] bric3 commented on #323
For reference this issue was in the previous bugtracker ([issue 212](https://code.google.com/p/mockito/issues/detail?id=212&can=1&q=public)). The issue was probably due to the way CGLIB generated proxies. Since mockito uses ByteBuddy from @raphw many other limitations / shortcomings of CGLIB are no more.

[2015-12-04 10:27] #323 closed

[2015-12-05 02:12] rop49 opened #324 "mockito-all includes org.hamcrest classes = bad practice"
I just spent half a day+ tracing down a classloading failure...

java.lang.NoSuchMethodError: org.hamcrest.CoreMatchers.everyItem(Lorg/hamcrest/Matcher;)Lorg/hamcrest/Matcher;
	at org.junit.Assume.assumeNotNull(Assume.java:73)

Finally, I found the root-cause was that mockito-all-1.10.19 includes org.hamcrest* classes.
I don't know which hamcrest-version, but obviously older than current hamcrest-

[2015-12-05 14:15] szpak commented on #324
mockito-all is problematic and shouldn't be used in project with a dependency management tool (like Gradle/Maven/Ivy):
https://solidsoft.wordpress.com/2012/09/11/beyond-the-mockito-refcard-part-3-mockito-core-vs-mockito-all-in-mavengradle-based-projects/
(in Gradle you can exclude it or write a resolution strategy to automatically replace all transitive mockito-all with mockito-core)

However, moc

[2015-12-05 21:41] jpsw commented on #324
OK, thanks for clarification.
And good to hear this toxic artifact is no longer published :)

[2015-12-07 02:10] harishkaparwan opened #325 "issue :- Mockito with ParameterizedRowMapper"
Hi All,

Could you please  share  Mockito example  with Spring Jdbc ParameterizedRowMapper.

I am not able  return anything using below code sample:-

	Mockito.when(jdbcTemplate.query(SQL,ParameterizedRowMapper,SQL_PARAMS )).thenReturn(ListObject);

  It always returns   <b> <i>ListObject.size()=0; </i> </b>

  Expected output  :-  <b>ListObject.size()>0; </b>

[2015-12-08 09:34] #124 closed

[2015-12-08 11:52] #311 closed

[2015-12-08 11:56] bric3 commented on #324
@rop49 yes we know, this artifact was published for the reasons that @szpak mentioned.

For reference to what @szpak said, mockito-all is not anymore generated since this commit : d34597c33d3a5a3971ff1db68ef1cb8a1145ac03

[2015-12-08 11:56] #324 closed

[2015-12-08 11:58] bric3 commented on #319
Mockito dropped CGLIB in favor of the superior ByteBuddy.

However your problem indeed seems strange, what is the context ? VM arguments, etc ?

[2015-12-08 11:58] bric3 commented on #318
cc @szczepiq

[2015-12-08 12:01] bric3 commented on #312
OK thanks for the report, can you make a pull request to document that behaviour for `ThrowsExceptionClass`

[2015-12-08 12:07] bric3 commented on #320
That is correct, mockito may run in different configuration, hence there's a strategy to search for the best classloader. While the main target is unit test mockito is used in context like yours. I don't think we can fix the issue in your context without breaking stuff for everyone else. However documenting the issue and the workaround in the wiki is possible.

[2015-12-08 12:09] bric3 commented on #320
Also you should always mention version, there maybe subtle changes between versions of either spring, tomcat, mockito, or maven plugins

[2015-12-08 12:10] bric3 commented on #308
Yes for now it's a major drawback, there's some discussion in the ML on which strategy should we use to make mockito java 8 friendly.

[2015-12-08 12:16] #307 closed

[2015-12-08 12:19] bric3 commented on #321
Nope `Sysfs` is using `static` methods. in my opinion should create a test util that can create a virtual environment in a temporary folder. More or less like `chroot` for tests.

[2015-12-08 12:19] #321 closed

[2015-12-08 12:20] #322 closed

[2015-12-08 12:20] bric3 opened #326 "Mockito Artefacts are not anymore published"

[2015-12-08 12:24] bric3 commented on #325
Please keep the mailing list for such questions; original : https://groups.google.com/d/msg/mockito/tOgh_6N5gA8/c61Oq_ieCAAJ

[2015-12-08 12:24] #325 closed

[2015-12-08 12:24] pedr000000 commented on #319
It turned out that the problem was happening when compiling using the
OpenJDK and running using a Sun JVM, I can't tell the parameter without
working a bit on it since I have fixed the problem using the Sun'JVM  to
compile as well as to run my tests.

I was writing some unit tests for Android.

2015-12-08 11:58 GMT+00:00 Brice Dutheil <notifications@github.com>:

[2015-12-08 12:29] bric3 commented on #284
Also take a look at @JeremybellEU 's PR #286 that may fit your use case.

[2015-12-08 12:31] bric3 commented on #177
@ianbrandt Would that PR #286 work for you ?

[2015-12-08 12:32] skabashnyuk commented on #123
Can this task https://github.com/mockito/mockito/issues/300 be included in 2.0 release?

[2015-12-08 12:48] bric3 commented on #319
OK, so let's close the issue then

[2015-12-08 12:48] #319 closed

[2015-12-08 12:50] raphw commented on #319
(This is a know problem with cglib.)

[2015-12-08 14:03] #183 closed

[2015-12-08 14:03] #284 closed

[2015-12-08 14:04] bric3 commented on #284
Meanwhile I'm closing this issue, feel free to comment for reopening if you think this is necessary

[2015-12-08 14:11] bric3 commented on #196
@raphw I still would like to see mockito 2 be pure Java 8. Mockito 1.x already works well for previous JDK. And JDK8 pushes types that used on a regular basis, I feel that Mockito should support them in the API, and that's without speaking of the defender method or lambdas.

[2015-12-08 14:18] raphw commented on #196
@bric3 You might just be right about this. Java 8 adoption is pretty high and I assume that it could pay off for supporing easy integration with Java 8 types. Also, tests can run on a JVM v8 without compiling artifacts to v7 or before.

[2015-12-09 09:04] diversit commented on #284
Personally I do not like the 'reset without resetting stubs' solution as I also commented in issue #183.
The InOrder is something I can work with though.

[2015-12-09 09:27] bric3 commented on #284
OK fair enough let's see how that pans out. It still is beta. Eventually we can annotate it with `@Incubating`.

[2015-12-09 09:38] bric3 commented on #299
@benmccann Also on another related topic, at some point with play framework, it was necessary to disable class caching. See [`IMockitoConfiguration.enableClassCache()`](http://site.mockito.org/mockito/docs/current/org/mockito/configuration/IMockitoConfiguration.html#enableClassCache())

[2015-12-16 11:22] bric3 commented on #297
I definately would like to have java 8 only distribution. If you look at java 9 big changes this will make sense due to the modular system where mockito will probably need to be able to work with the module system [JEP 261](http://openjdk.java.net/jeps/261).

And I'm not sure we want to do multi-release JAR files (understand java 8 / java 9 jars) [JEP 238](http://openjdk.java.net/jeps/238)

[2015-12-16 11:26] TimvdLippe commented on #297
++ for Java 8 distribution of Mockito. A lot of Mockito code can also be cleaned up with use of lambda's and Streams.

[2015-12-16 13:24] bric3 commented on #297
I'm also in favor of macking Mockito 2 java 8 only.

[2015-12-16 13:27] vanniktech commented on #297
I'm against Mockito 2 being Java 8 only, the complete android side which is still stuck on Java 6 would then be lost and could not use Mockito 2.

[2015-12-16 13:31] bric3 commented on #297
Mockito 1.x is already available on android.
IMHO we cannot withhold improvements just because Android, especially since there's an alternative that works with well already.

[2015-12-16 14:43] Azuaron opened #327 "@InjectMocks failure based on order of fields"
I have a Spring service facade that routes incoming requests to the appropriate managers. It has a significant number of fields using Spring @Autowired with @Qualifier and looks something like this:

[code]
And a test class that looks like this (Mockito 1.10.19):

[code]

Neither class has constructors or setters. For some reason, during the test payAttentionToThisOne is null in ReportFactory (but

[2015-12-16 17:24] bric3 commented on #327
Hi this has been fixed in #215 it will be available in mockito 2.x, however theres some beta already available if you want to try.

[2015-12-16 17:24] #327 closed

[2015-12-17 03:51] PascalSchumacher commented on #72
@raphw I guess this can be closed because Mockito is now using a byte buddy version with your fix?

[2015-12-17 07:41] raphw commented on #72
You are right.

[2015-12-17 07:41] #72 closed

[2015-12-17 07:51] raphw commented on #318
I managed to make Travis publish a new version. Let us hope the drone keeps running after this one!

[2015-12-17 07:51] #318 closed

[2015-12-17 07:52] raphw commented on #326
It seems like the publication process is running again after manually incrementing the version number from the properties file. We can reopen the issue if it continues to occure.

[2015-12-17 07:52] #326 closed

[2015-12-17 10:10] bric3 commented on #318
Nice thank you @raphw, I planned to look at it next week

[2015-12-17 10:15] bric3 commented on #326
Thanks again @raphw
Linked to #318

[2015-12-17 18:09] PascalSchumacher commented on #318
Thanks!

[2015-12-17 20:49] szpak commented on #297
For me personally it would be probably ok to drop support for Java 7 even in Mockito 2.x. Nevertheless there is a group of libraries (e.g. probably all Spring related things) that still support Java 7. It slows down abandoning Java 7 by end projects, but the fact is that they exist, so I have slightly different proposal.

As the current Mockito 2 codebase is Java 7 compliant and there is a set of

[2015-12-17 21:10] TimvdLippe commented on #297
If there is enough confidence Mockito 2.0 is stable, I agree with @szpak to immediately switch to Java 8 and create Mockito 3.0

[2015-12-18 04:27] szczepiq opened #328 "Kotlin language support for Mockito"
It would be cool to make sure that Mockito can be easily used with Kotlin.

I found this issue so far: http://stackoverflow.com/questions/30305217/is-it-possible-to-use-mockito-in-kotlin It is relatively easy to fix - return new Object() instead of null

[2015-12-18 11:09] bric3 commented on #297
OK let's do that

[2015-12-18 11:11] bric3 commented on #297
So we only have to work on matchers ([2.0 leftovers](https://github.com/mockito/mockito/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0))

[2015-12-18 11:12] TimvdLippe commented on #297
:+1: Glad to see Mockito improving so fast the last couple of weeks, keep it up!

[2015-12-18 11:49] mkordas commented on #297
:+1: for idea to release 2.0 final before end of this year and immediate switch to 3.0-beta afterwards.

[2015-12-22 23:09] emosesSfdc opened #329 "Mocking a function with a default implementation but no concrete implementation generates an error"
This behavior worked in 2.0.26-beta but causes an error in 2.0.33-beta.

See https://github.com/emosesSfdc/mockito-default-mock-repro for a repro case.  Its tests pass in .26, but one of them fails in .33 with the error:

[code]

If you have an interface

[code]

And a concrete implementation that doesn't override `m()`,

[code]

Then if you try

[code]

You'll get the above error.

[2015-12-23 06:42] FrankRaiser opened #330 "Deep stub matchers fail to match correctly."
This issue has already been discussed at [google groups here](https://groups.google.com/forum/embed/#!topic/mockito/WxsDJsr6vyM), but I did not see an official issue being created for it. Since I now ran into the same thing and can confirm that it still does not work for mockito 1.10.19 I decided to open this issue.

The problem occurs when trying to use matchers (it seems the concrete matcher use

[2015-12-23 10:48] raphw commented on #329
I do not have my computer on me but I will check this out and fix it right after new year. Thanks for reporting.

[2015-12-25 09:26] szczepiq opened #331 "Move build and release automation logic to Kotlin"
Move build and release automation logic to Kotlin for better code clarity and maintainability.

[2015-12-25 12:30] nhaarman commented on #328
Is there a workaround users can use for now? The suggested solution the SO answer provides does not work anymore in the latest version of Kotlin.

[2015-12-25 16:49] szczepiq commented on #328
Are you a kotlin user and want to use Mockito?

You could create your own 'anyObject()' method that delegates Mockito's but returns not-null.

Or use spock to test/mock your kotlin code.

[2015-12-25 23:40] nhaarman commented on #328
So it's about creating a non-null value _after_ Mockito's any() has been called right?
I've tried using mock(), but this is not allowed because of Mockito's internal state validation. Is it safe to bypass this validation like so?:

[code]
It works, but I'm wondering whether this may break some things.

[2015-12-26 03:09] szczepiq commented on #328
It should be good. I'd love to have first class support to Kotlin at some point.

[2015-12-26 10:20] bric3 commented on #328
Let's do that in another module then. For example in Scala Mockito is supported thanks to ScalaTest's [MockitoSugar](http://www.scalatest.org/user_guide/testing_with_mock_objects#mockito). And groovy guys it with [mockito-groovy-support](https://github.com/cyrusinnovation/mockito-groovy-support).

[2015-12-26 12:52] szpak commented on #328
Should it be a submodule in Mockito codebase or rather an external module in Mockito ecosystem (like the two previously mentioned)?

[2015-12-26 17:50] szczepiq commented on #328
I don't know. Feels like it should be separate from Mockito GitHub repo so that it has it's own release cycle and maintainers. Unless we get excited about Kotlin enough :)

[2015-12-27 05:19] szczepiq opened #332 "Finalize Mockito Runners"
Currently, we have a couple of Mockito Runners that are a part of public API but they are largely unknown:
 - ConsoleSpammingMockitoJUnitRunner
 - VerboseMockitoJUnitRunner

They attempt to improve the testing / TDD experience by adding warnings for following scenarios:
     - a) unused stubbing
     - b) stubbed method called with different args (and a special variant of a)

Example of a warning:

[2015-12-29 02:11] szczepiq opened #333 "Ensure CI build fails when release task breaks"
Currently, the release task is triggered as a post-action in Travis CI. This means that when release task fails, the CI build is happily green. Let's change it so that release task failures will make the entire build red. This way, we will have motivation to keep the release task well maintained.

[2015-12-29 02:15] szczepiq commented on #331
Let's ditch this idea for now. Down the road, we want to put the release tools as java libraries so kotlin dependency is not really desired (language is pretty cool, though).

[2015-12-29 02:15] #331 closed

[2015-12-29 03:12] #333 closed

[2015-12-29 03:56] szczepiq opened #334 "Improve the custom argument matching documentation"
Let's make sure the NullPointerException caveat while auto-unboxing return values from the argThat method is well documented.

[2015-12-29 03:58] #334 closed

[2015-12-30 06:37] jaydeep17 opened #335 "2.0.31-beta -> 2.0.32-beta Cannot mock RecyclerView.Adapter"
Using `2.0.31-beta` mocking a RecyclerView.Adapter is possible, but with `2.0.32-beta`, the below error is thrown.

[code]

Here's an example RecyclerView.Adapter class

[code]

[2015-12-30 08:23] raphw commented on #335
I will have a look at this at the end of this week but did you test a newer version of Mockito? There were some issues with the generic type resolution in an in-between version of Byte Buddy that was later fixed.

[2015-12-30 09:03] jaydeep17 commented on #335
Same error with `2.0.34-beta`

[2015-12-30 11:50] raphw commented on #335
I just tried this out but I cannot reproduce the issue when using the latest Android SDK:

[code]

The only way I could see this happening would be a divergence of the length of the interfaces returned by `getGenericInterfaces` versus `getInterfaces` what is not allowed in Java, i.e. would be a bug in Android. Can you run the test on your machine and see if it fails?

[2015-12-30 12:36] raphw commented on #329
I found the error, I added a new validation rule for when a default method is invokeable from a generated class and made a mistake. It is now fixed and I push a new version at the end of this week. I will make sure there is a test case for it, sorry for this, we still support Java 6 what makes testing Java 8 specific features a bit tricky.

[2015-12-30 22:03] szczepiq commented on #315
+1

Basically, it boils down to improving the verification error message emitted from the InOrder.verifyNoMoreInteractions() It needs to better handle the use case of the argument mismatch.

[2015-12-30 22:14] szczepiq opened #336 "Mockito Hamcrest integration does not handle argument primitive matching well"
There's a NullPointerException caveat that is handled currently by org.mockito.Matchers but it is not handled by org.mockito.hamcrest.MockitoHamcrest. For more information about the caveat please refer to javadoc on Matchers class.

[2015-12-31 00:41] #336 closed

[2015-12-31 13:28] jaydeep17 commented on #335
yes it fails.
BTW, I'm using Robolectric for testing. Does that mean it's a bug in Robolectric ??

But it used to work before `2.0.32-beta` :confused:

[2015-12-31 13:38] raphw commented on #335
Does the equality assertion already fail? Meaning

[code]

already fails? In this case, any tool processing generic type information will work incorrectly.

Before the release, Byte Buddy did not process generic type information. This made the library a lot simpler but had some heavy disadvantages, for example the target of bridge methods could not be determined reliably. Also, disregarding generi

[2015-12-31 13:40] bric3 commented on #332
Using `JUnitCore`, there's already a few tests that uses it.

Using the plugin switch functionality ?
Note there's some idea in the pull request to toggle stuff per test / test class. However I don't feel this is mature enough to be integrated, in mockito yet.

In my opinion the `Rule` is the the right place to configure mockito per test.

[2015-12-31 15:47] bric3 commented on #328
yes exactly, i wrote _module_ but I was more thinking about repository with a different life cycle indeed.

[2015-12-31 16:01] raphw commented on #304
@bric3 Would it be a feasible solution if I relied on Byte Buddy APIs to resolve this? I implemented a rather elaborate algorithm that I have tried to port to Mockito. However, its not as easy as I thought since the algorithm and related data structure are quite bound into the Byte Buddy APIs. I would of course add an interface that does not rely on Byte Buddy for querying this information but ask

[2015-12-31 16:25] raphw commented on #335
Ok, never mind. I now already added the fallback. Testing is a bit tricky, I will do that after New Year's and hopefully push a new version some time next week.

[2016-01-01 17:42] bric3 commented on #304
@raphw That is possible, maybe in the form of a _`Plugin`_ that ByteBuddy mockmaker implement, maybe we would need a default implementation, i.e. that does nothing.

[2016-01-03 01:33] ashleyfrieze opened #337 "Introduce functional interfaces to improve Java 8 utilisation of Mockito 2"
There are two places where this would be very useful:

1. Custom matchers - used with argThat
2. Custom answers - for situations where you would normally create a subclass of Answer<T>

Some ideas here - https://solidsoft.wordpress.com/2015/06/30/more-compact-mockito-with-java-8-lambda-expressions-and-mockito-java8-add-ons/ - have proposed Java 8 specific extensions outside of mockito, but a small

[2016-01-03 16:21] joecks opened #339 "Last Invocation Verification Mode"
It seems to be pretty convenient to verify if a specific invocation followed a call pattern instead of a generic one. In this case the lastInvocation verification:

[code]

Which could be used:

[code]

I wanted to discuss this here before getting familiar with Mockito code style and sending in a pull request, to see if this is a conceptual fit. Thanks.

[2016-01-04 08:57] raphw commented on #335
@jaydeep17 Could you double-check that this problem does no longer occure with the latest beta?

[2016-01-04 08:57] raphw commented on #329
This problem should now be solved with the latest beta.

[2016-01-04 13:08] #329 closed

[2016-01-04 13:08] #335 closed

[2016-01-04 13:11] bric3 commented on #329
For reference thanks to Byte Buddy 0.7.8, that @raphw fixed in commit 0775458a29740029d60e2c66c9081ab8a66900dd. The fix version is 2.0.36-beta

[2016-01-04 19:41] emosesSfdc commented on #329
Thanks!

[2016-01-04 20:08] jaydeep17 commented on #335
:+1: works perfectly!

[2016-01-08 12:30] boonhui-lai opened #340 "Mockito does not call real method with Scala Trait with concrete methods mocks."
import org.mockito.Mockito
import org.mockito.Mockito._
import org.scalatest.{Matchers, WordSpec}

class FooSpec extends WordSpec with Matchers {

  trait TraitWithConcreteMethods {
    def getTrue: Boolean = true
  }

  private val mockTraitWithConcreteMethods = Mockito.mock(classOf[TraitWithConcreteMethods], CALLS_REAL_METHODS)

  "mockTraitWithConcreteMethods.getTrue" should {
    "return true"

[2016-01-08 12:37] raphw commented on #340
The problem is the way the Scala compiler implements traits: it creates an interface and a dispatcher class that contains concrete methods as static methods. Whenever a class implements a trait, the trait methods of the implenting class forward their calls to the static dispatcher.

Mockito would need to discover this and it currently does not.

[2016-01-18 09:38] nicoruti opened #341 "v.2.0.37-beta - cannot mock interface although it is visible"
After upgrading to v.2.0.37-beta maven release today, I cannot mock an interface anymore. Request is some private class within elasticsearch. Seems to be related to issue #335 . Latest version v.2.0.38-beta does not solve the issue.

[code]

[2016-01-18 09:47] raphw commented on #341
What version of elasticsearch are you using? I cannot reproduce this with 2.0.0.

[2016-01-18 09:48] nicoruti commented on #341
Sorry, forgot to specify. I'm using 1.7.3.

[2016-01-18 09:54] raphw commented on #341
Okay, I reproduced the problem. Seems to be a problem with recursive resolution of generic types. I will have a look at it some time this week.

[2016-01-18 10:01] raphw commented on #341
Its a problem in Byte Buddy. Fortunaltey, a trivial one that I can probably fix tonight: When substituting type variables of a generic super type, method type variables are bound based on the method's declaring type and not on the method. Thanks for reporting.

[2016-01-18 20:54] raphw commented on #341
Fixed in version 2.0.39-beta. Can you confirm?

[2016-01-19 07:50] Stephan202 commented on #341
Yes, I observed the same issue and can confirm that 2.0.39-beta resolves it. Thanks!

[2016-01-19 07:56] #341 closed

[2016-01-19 08:06] nicoruti commented on #341
Thanks for the quick fix. v2.0.39-beta works as expected.

[2016-01-19 08:13] raphw commented on #341
Thank you for testing the beta and thanks for reporting!

[2016-01-20 19:43] nhaarman commented on #328
Would this repository be under control by Mockito? I've been creating some helper functions that make Mockito work a bit better with Kotlin. If not, I'd be happy to create a repo myself.

[2016-01-21 15:46] szczepiq commented on #328
I don't think so. It should be controlled by folks passionate about Kotlin
and using Mockito with Kotlin. We have a slightly different focus.

Cheers!

On Wed, Jan 20, 2016 at 11:43 AM, Niek Haarman <notifications@github.com>
wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2016-01-21 22:48] nhaarman commented on #328
I have created a new repo for this:

https://github.com/nhaarman/mockito-kotlin

[2016-01-21 22:55] raphw commented on #328
Perfect, I cannot promise anything but I will most likely keep an eye on it. I recently started learning Kotlin myself and I must say that I really like the language. Even better if the Mockito integration improves.

[2016-01-21 22:55] #328 closed

[2016-01-23 07:53] alecswan opened #343 ".verify uses the state of reference at time of verification rather than value at time of invocation"
This has been reported on [StackOverflow](http://stackoverflow.com/questions/17027368/mockito-what-if-argument-passed-to-mock-is-modified) and the same problem persists in 1.10.16 version of Mockito.

[2016-01-26 22:23] johhnny opened #345 "Verification using After and ArgumentCaptor returns unexpected size of captured values list"
Hi, I found weird behavior of Mockito (ver. 1.10.19) when verifying method invocation with after() and ArgumentCaptor. The list of captured values returned by ArgumentCaptor has size much bigger than I expect. Moreover this behavior in connection with long timeout leads to exceeding memory limit. Example below.

[code]

[2016-01-30 20:39] mcandre opened #346 "Non-beta 2.x release?"
When can we get an official 2.x release outside of beta?

[2016-01-30 23:04] szpak commented on #346
There is no a clear answer so far, but see the discussions in #123 and #297. Btw, the [mailing list](https://groups.google.com/forum/#!forum/mockito) seems to be a better place to ask questions like that.

[2016-01-31 07:10] szczepiq commented on #346
We'll do it.

On Sat, Jan 30, 2016 at 3:04 PM, Marcin Zajączkowski <
notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2016-01-31 10:28] DanielZlotin opened #347 "ignore"

[2016-01-31 12:50] #347 closed

[2016-01-31 12:55] raphw commented on #346
I am closing this for cleaning up as we already have issue https://github.com/mockito/mockito/issues/123

[2016-01-31 12:55] #346 closed

[2016-01-31 15:56] szczepiq commented on #346
@Andrew, thanks for reminding us. This is helpful, we want to know that the
community is waiting.

On Sun, Jan 31, 2016 at 4:55 AM, Rafael Winterhalter <
notifications@github.com> wrote:

--
Szczepan Faber
Founder mockito.org; Core dev gradle.org
tweets as @szczepiq; blogs at blog.mockito.org

[2016-02-02 09:55] RomainPiel opened #348 "Why does a stubOnly mock keeps reference of the last invocation?"
I was looking at a memory leak caused by a mock in our tests and I noticed that creating a mock this way

[code]
will still keep the last invocation in memory:
https://github.com/mockito/mockito/blob/c303e49b60d10960b4155bc1202483b08fa4ec9d/src/main/java/org/mockito/internal/stubbing/InvocationContainerImpl.java#L141
https://github.com/mockito/mockito/blob/c303e49b60d10960b4155bc1202483b08fa4ec9d/

[2016-02-04 16:46] klevis opened #350 "Can't skip NullResultGuardian to Wrap MockHandlerImpl"
Returning NULL Java Class Primitives like Long is consider a desired behavior in my case. But I cannot get Null Object Primitives because of NullResultGuardian which converts Object Primitives Null to primitives every time. For ex Long=>null is converted to 0.
Is it possible to skip this NullResultGuardian?
EX usage:
Mockito.doAnswer(new Answer<Long>() {
    Longanswer(InvocationOnMock invocation)

[2016-02-05 16:15] 1054522381 opened #351 "A question about mock thenCallRealMethod()"
code as:

[code]

question:why the list1 is empty? why the real method has not been invoked?

[2016-02-05 17:25] thekingnothing commented on #351
Seems to me you have misunderstanding how Mockito works. In the first line you create a mock for `ArrayList.class` and don't pointed default `Answer`, so

(from [docs](http://docs.mockito.googlecode.com/hg/org/mockito/Mockito.html#2)).

So then you call `list1.add(1);` the mocked method is called and nothing is added to list. So next two strings work correct and really method is invoked, but as I

[2016-02-05 18:50] mdebellefeuille opened #352 "use @InjectMocks for final fields"
I'm trying to upgrade the mockito version that we're using (1.8.5) to a newer version but there is a problem with @InjectMocks which since 1.9.0 doesn't inject into final field anymore.

Were there any reasons for that feature to be removed?
Is there another way to achieve this without polutting our class with useless (outside testing context) constructors / accessors?

Is there a possibility to g

[2016-02-11 21:17] UrsMetz opened #353 "@Mock-annotated fields are null for inner test classes (e.g. when using junit-hierarchicalcontextrunner)"
Using the two current versions of Mockito (1.10.19 and 2.x-beta) and the JUnit-Mockito-Rule together with JUnit extensions like [junit-hierarchicalcontextrunner](https://github.com/bechte/junit-hierarchicalcontextrunner/) that use inner classes causes fails with `NullPointerException`s:
[code]

With older 1.x versions that didn't not contain the new JUnit rule API (e.g. where `MockitoJUnitRule` wa

[2016-02-12 07:39] Gautham opened #354 "Subsequent Mocking fails if I give an exception"
[code]

Executing line 2 causes InvalidIdException to be thrown. Writing a try catch doesn't look ideal to me. Any suggestions ?

A workaround Im using for now :
[code]