[2016-12-10 01:09] Piasy commented on #706
Linkedin guys has a dex-maker library works with Mockito 2.x perfectly https://github.com/linkedin/dexmaker:

[code]

[2016-12-10 03:28] SriPalla opened #806 "Unable to Debug Asynchronous block using Mockito 2.2.22"
Below is the source code

[code]

Below is the test case

[code]

Control is not halting at `System.out.println("Inside Async Block");`  in case of above Junit being debug with a break point inside async block

**EDITED by @bric3**: correct snippet code block

[2016-12-10 15:04] TimvdLippe commented on #789
Superseded by #798

[2016-12-10 15:04] #789 closed

[2016-12-11 20:48] TimvdLippe commented on #798
`0.7.8` has been released: https://github.com/jacoco/jacoco/issues/467#issuecomment-266305876

[2016-12-12 11:06] bric3 commented on #799
@snowdream The only thing we want to support at this moment is to allow mocking final classes, which is now possible by the creation of an extension with inlining mockmaker (see [Hadi Hariri's blog](http://hadihariri.com/2016/10/04/Mocking-Kotlin-With-Mockito/)). The artefact that @raphw speaks about is to avoid the _burden_ to create a single file in his own test folders.

[2016-12-12 13:28] bric3 commented on #706
@Piasy thanks for the feedback, we are aware of that ;) we also have a work-in-progress PR to support android as well with mockito and bytebuddy, see : #774

[2016-12-12 13:42] bric3 commented on #806
@SriPalla I don't have the code of `AsyncExecutorImpl` but I suppose that the `submit` method works the same as `ExecutorService.submit` i.e. it takes a task (`Runnable` or `Callable`) reference to be **executed later**. Since `AsyncExecutorImpl` is spied the _real_ code is executed.

I'am pretty sure that the task will be executed if the JVM has enough time to run it, i.e. add a `TimeUnit.SECONDS

[2016-12-12 13:42] #806 closed

[2016-12-12 15:32] yuranos87 opened #810 "Consistent behaviour for @InjectMocks with @Spy"
Based on a lot of discussions I found:
https://code.google.com/archive/p/mockito/issues/489
https://groups.google.com/forum/#!msg/mockito-dev/YFqTPm8yJSc/Y-ty81kLKI4J
and a few threads on SO, it seems mockito doesn't have an intention to support multiple-layer injection. I would like to see it work, but as many justified the decision: "Mockito was never intended to be a fully-fledged injection fra

[2016-12-12 18:04] yuranos87 commented on #810
See: https://github.com/mockito/mockito/pull/812

[2016-12-12 21:18] szpak commented on #798
Fixed by #798.

[2016-12-12 21:18] #798 closed

[2016-12-13 07:12] #802 closed

[2016-12-13 07:14] szczepiq opened #814 "Javadoc links in main Mockito doc are not linkable"
The links to line items in the main [Mockito documentation](https://static.javadoc.io/org.mockito/mockito-core/2.3.0/org/mockito/Mockito.html) are not linkable, e.g. I cannot create a link to item no. 40 in the list.

[2016-12-13 08:46] yujishe commented on #800
thank you,I solved the problem of this method.I suggested use refactoring to the superior.
`public String findUserCodeFromSession() {
		String userCode = (String) getSession().getAttribute("UserCode");
		return userCode;
	}`

use a extract method for create the method ,that I can set a Stub for test the demoMethods();

[2016-12-13 08:47] #800 closed

[2016-12-13 09:33] bric3 commented on #814
I don't see what you mean I have no problem for that :

* https://static.javadoc.io/org.mockito/mockito-core/2.3.0/org/mockito/Mockito.html#40
* https://static.javadoc.io/org.mockito/mockito-core/2.3.0/org/mockito/Mockito.html#strict_mockito

[2016-12-13 10:16] bric3 commented on #784
For information travis updated the [OpenJDK 6 to build 40](https://travis-ci.org/mockito/mockito/jobs/183531262#L197) which seems to fix security issues and probably update root certificates as well.

That seems to fix the `SSLHandshakeException` appearing in some jobs running on OpenJDK 1.6.0_b39 (https://travis-ci.org/mockito/mockito/jobs/180397538)

[code]

[2016-12-13 10:26] ChristianSchwarz opened #815 "Proposal for lambda and void friendly when+then syntax"
This is a API proposal for an "when+then" that can be used to stub void methods (and static calls if they will be suported in the future) with a lambda friendly "then" API.

This ticket relates to #643

Uses case:

 * Stubbing using an instance method reference: `when(mock::voidMethod).then(...);`
 * Stubbing using an Lambda expression:` when(()-> mock.voidMethod(gt(4))).then(...);`
 * Possible fu

[2016-12-13 10:47] bric3 commented on #810
This report does not show what is wrong with mockito here.

Injection with inheritance is supported by mockito.

[2016-12-13 11:33] bric3 commented on #784
Maybe not, it seems there's still issues when uploading some gradle scans.

[2016-12-13 11:53] TimvdLippe commented on #814
At first it seems to be working, but the actual issue is that the first link of @bric3 does work, but the second does not. The problem is that the headers have the second link, so they must be updated to use numbers instead.

[2016-12-13 11:55] TimvdLippe commented on #815
Isn't this duplicate of #643? Adding the interfaces for void methods seems sufficient to include in that implementation to achieve this goal.

Do note that `OngoingVoidStubbing` must have generic arguments to obtain typesafety between the `when` and the `then`

[2016-12-13 12:19] ChristianSchwarz commented on #815
This proposal can be seen as different approach to realize stubbing of void methods, it just a base for further discussions.

Other than #643 the primary goal is not to provide typesafe answers. The goal is to stay as close as possible to the well known when+then syntax for returning methods. Therefore the `when(VoidCall)` API is not meant to replace the existing `when(T)` API for returning method

[2016-12-13 14:09] vyazelenko opened #816 "Release 2.3.1 has broken POM file - no dependencies declared"
Release `2.3.0` has the following info in [mockito-core-2.3.0.pom](http://jcenter.bintray.com/org/mockito/mockito-core/2.3.0/:mockito-core-2.3.0.pom):
[code]
However release `2.3.1` has only the following info in [mockito-core-2.3.1.pom](http://jcenter.bintray.com/org/mockito/mockito-core/2.3.1/:mockito-core-2.3.1.pom):
[code]

[2016-12-13 14:13] TimvdLippe commented on #816
Hm, version `2.3.1` should not be available as the last published version is `2.3.0` according to our git history: https://github.com/mockito/mockito/commits/release/2.x

@szczepiq I think #809 broke the release mechanism and is publishing artifacts in pullrequests

[2016-12-13 14:14] #816 closed

[2016-12-13 14:15] bric3 commented on #816
I'm closing as it should be resolved by #809.

Thanks @vyazelenko for the vigilante update, I will unpublish these artifacts 2.3.1 to avoid further havoc.

[2016-12-13 14:26] szczepiq commented on #816
Thank you very much for reporting! I will double check this behavior today.

Thanks @bric3 for unpublishing the artifacts!

[2016-12-13 14:27] vyazelenko commented on #816
Well, I'm using [gradle-versions-plugin](https://github.com/ben-manes/gradle-versions-plugin) to check if new versions are available and it picked up `2.3.1` from Bintray.
Thanks for quick fix.

[2016-12-13 14:30] yuranos87 commented on #810
@bric3 , do you really think it's Ok that the test result of the test can be impacted by the sheer fact that it inherits something.
Imagine, used inheritance when writing our test suite and then I decided to use an annotation-based approach and refactored my test suites. Imagine my surprise when I saw that dozens of tests started to fail because they used multiple @InjectMocks in the same test cla

[2016-12-13 14:44] bric3 commented on #810
@yuranos87 Nope that's not ok, but without concrete and reproducible proof that it is mockito is doing something wrong, this is not a valid issue, and the problem may come from the codebase you're dealing with. We have loads of tests that actually show `InjectMocks` behavior works as expected with or without inheritance ; the proposed change broke [5 of our tests](https://travis-ci.org/mockito/moc

[2016-12-13 16:24] bric3 commented on #796
I don't think we can do much here, if a member is package visible if some coditions are met in the [JLS §5.4.4](http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-5.html#jvms-5.4.4-200)

and only if the classloader is the same as per [JLS §5.3](http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-5.html#jvms-5.3-300)

In the above code when the context classloader is used the _run-time packa

[2016-12-13 17:53] bric3 commented on #717
@TimvdLippe Yeah agreed. After some tests, and playing with the language I think this is not necessary, may be confusing if mockito tries to find the method, and worse could introduce bugs in user tests.

I would like to keep it open so I can push a test describing the behavior.

[code]

[2016-12-13 18:18] raphw commented on #796
Yes, this is really a limitation of the JVM. When we mock a class, we ideally inject this class into the target class loader. But when the context class loader is set to a different loader, we have to create a new class loader that is a child of both the class's class loader and the context class loader. This way, the mock class's class loader is not equal to the base class's class loader.

In the

[2016-12-13 18:18] #796 closed

[2016-12-13 18:59] folkyatina opened #817 "Mockito mock-inline and Robolectric compatibility"
Hello,
Seems, there is exception with mockito and robolectric if using **mock-maker-inline**
Without mock-maker-inline there is no such problem.
Any help?
Here is the code:
[code]

Here is stacktrace
[code]
Versions
mockito-core 2.3.0
robolectric 3.1.4
jvm 1.8.0_45
macOS Sierra 10.12.1
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The p

[2016-12-13 19:05] TimvdLippe commented on #817
This might be fixed with #805 could you test it with Mockito 2.3.3 which was just published?

[2016-12-13 19:13] raphw commented on #817
There is still a problem in Robolectrics that needs solving: https://github.com/robolectric/robolectric/pull/2761

[2016-12-13 19:13] #817 closed

[2016-12-13 19:20] TimvdLippe commented on #769
@szczepiq could you add list items (`- [ ] ` in markdown) to signify what the remaining action points in this issue are? That gives a clearer overview, especially as multiple open issues are related to this single epic.

[2016-12-13 19:27] TimvdLippe commented on #340
I would say we close this as won't fix, WDYT?

[2016-12-13 19:30] TimvdLippe commented on #682
It seems that most of our builds are stable again. Shall we close it for now?

[2016-12-13 21:17] nhaarman opened #818 "StackOverflow occurs when mocking a HashMap with mockmaker"
As investigated in #752, mocking a `HashMap` halts with a stack overflow when using `mock-maker-inline`:

[code]

This does not occur when mocking `Map`.
Verified against Mockito 2.2.28.

[2016-12-13 22:19] bric3 commented on #682
It works be a useful there's the retry rule, however I still think there could be correct harness for tj se tests.

[2016-12-13 22:23] bric3 commented on #340
This could be possible let for mockito sugar to come up with their own mock maker.
I agree let's close this as wontfix

[2016-12-13 22:24] #340 closed

[2016-12-14 14:40] ChristianSchwarz opened #820 "[VarArgs] unexpected behaviour of returnsArgAt(int)"
I stumble about a test that failed after refactoring an array parameter to an varargs.

The following test succeed:
[code]
Now lets change the parameter _input_ to an varargs.
[code]
The test fails now with:

[code]

This is not expected cause the change is source and binary(?) compatible, an varargs-parameter is still an array. ReturnsArgumentAt interprets the vararg array items as real parameter

[2016-12-14 14:44] yuranos87 commented on #810
@bric3, please tell me what proof is required and I will provide it. Do you want me to create a separate project, push it to my repo and tag you there to take a look?

[2016-12-14 14:47] TimvdLippe commented on #810
@yuranos87 We would need a testcase, preferably here in a PR which we can run to verify it is an issue. You can take a look at existing tests in our repository for inspiration on how to write tests

[2016-12-14 14:49] TimvdLippe commented on #820
I think your second example has a typo, since there are no var args in the example

[2016-12-14 14:50] ChristianSchwarz commented on #820
thanks fixed

[2016-12-14 15:27] bric3 commented on #810
Everything is in the [contributing guide](https://github.com/mockito/mockito/blob/release/2.x/.github/CONTRIBUTING.md)

[2016-12-14 15:59] bric3 commented on #717
OK I've pushed (a6198d55e) a test case with methods activated upon class version, depending if it's java 8. Also I added documention on what's happening. That will be knowledge base.

[2016-12-14 16:24] bric3 commented on #820
Good catch!
By the way, the mock reference is both foo and mock

[2016-12-14 16:29] bric3 commented on #820
While it is source and binary compatible, vararg method are different than plain old array method, reflection allows to distinguish that. The issue is in `ReturnsArgumentAt.returnedTypeOnSignature` where there's a special handling for varargs.

[2016-12-14 16:50] bric3 commented on #820
I'm working on the fix (currently adding some unit tests)

[2016-12-14 20:41] axos88 opened #822 "Bogus NPE if any() is used with primitive type arguments"
Mockito: 2.3.0, Java 8

When mocking a method invocation, if any() is used instead of anyInt() for exampe in the .when method call, a bogus NPE is thrown. There is quite a lot of explanations to the root cause of that, but it does not contain this hint.

I would expect either a compilation error or a more explanatory exception.
Code: https://gist.github.com/axos88/163061ed82fcfdd9756d60d12eba8809

[2016-12-14 20:42] axos88 commented on #822
There is also some weirdness that the mockFoo's value is set to null between the invocation of when() and .foo(), on line 33.

[2016-12-15 10:16] #818 closed

[2016-12-15 10:18] vyazelenko opened #824 "Exception when using mock-maker-inline"
I was trying out `mock-maker-inline` feature with the following example:
[code]

When I run this code I get the following error:
[code]

Environment:
- Windows 7 (64 bit)
- JDK 1.8.0_112 (64 bit)
[code]
- Mockito 2.3.4
- ByteBuddy 1.5.5 (transitive from Mockito)

[2016-12-15 10:30] ChristianSchwarz commented on #822
@axos88
This behaviour can't be avoided cause java doesn't allow return type overloads like `int any()`, `T any()` , ...,  therefore Mockito provides any<primitve>() methods.

[2016-12-15 11:11] bric3 commented on #822
**tl;dr**

This cannot be avoided as @ChristianSchwarz is writing. That's one of corner area of Java itself where can't really do something.

**long story**

With the signature of `any()`, `javac` thinks

* that `any()` can return an `Integer` => insert cast Object to Integer
* that the `Integer` can be unboxed => invoke `intValue`

However `any`

* has return type `T` whose implicit upper bound i

[2016-12-15 14:12] bric3 commented on #799
Without much new information I'd like to close the issue.

[2016-12-15 15:35] TimvdLippe commented on #799
Closing right now until further information is provided.

[2016-12-15 15:35] #799 closed

[2016-12-15 21:23] vyazelenko commented on #824
@bric3 well, it is Mockito 2.3.4 as I've mentioned in the original comment and the corresponding ByteBuddy version which according to [mockito-core-2.3.4.pom](http://central.maven.org/maven2/org/mockito/mockito-core/2.3.4/mockito-core-2.3.4.pom) is *1.5.5*.

[2016-12-15 21:53] vyazelenko commented on #824
@bric3 Unfortunately using [byte-buddy-1.5.9](https://github.com/raphw/byte-buddy/releases/tag/byte-buddy-1.5.9) didn't help. I get similar exception:
[code]

[2016-12-15 22:00] vyazelenko commented on #824
Also fails with release [2.3.5](https://github.com/mockito/mockito/tree/v2.3.5).

[2016-12-16 10:00] bric3 commented on #824
Thanks @vyazelenko
I'm not sure what's wrong here. Maybe @raphw has a better idea. Do you think you can debug the agent installation `net.bytebuddy.agent.ByteBuddyAgent.install(ByteBuddyAgent.java:314)` ? Preferrably with ByteBuddy 1.5.9 as the fix will go after this version.

[2016-12-16 10:03] raphw commented on #824
The problem is here:

[code]

Mockito is typically used on a JDK VM, the regular VM does not support the tools jar which is required for runtime attachment. You can avoid this problem by attaching [the Byte Buddy agent](http://search.maven.org/#artifactdetails%7Cnet.bytebuddy%7Cbyte-buddy-agent%7C1.5.9%7Cjar) manually via `-javaagent:byte-buddy-agent.jar` upon running your program.

[2016-12-16 11:09] bric3 commented on #824
@raphw But the description also says : JDK 1.8.0_112 (64 bit).

[code]

Could come from the command line, and on the comand line maybe the PATH is looking at the JRE instead of the JDK.

[2016-12-16 11:14] raphw commented on #824
Yes, I revised my answer after googling a bit. Seems like an Eclipse debugger issue.

[2016-12-16 11:18] bric3 commented on #824
Ah interesting.

[2016-12-16 13:42] axos88 commented on #822
I understand, but a not in the output of the exception about this possibility would be welcome:

[code]

[2016-12-16 14:48] bric3 commented on #822
I'm not sure this is related, what fails is a NullPointerException that is raised by the JVM on the callsite of the matcher.
The mockito exception message seems related to another issue, and the exception type that have this message can only be `InvalidUseOfMatchersException`.

[2016-12-16 14:56] axos88 commented on #822
It seems like the NPE has an InvalidUseOFMatchersException as its cause

[2016-12-16 14:59] bric3 commented on #822
Ah I see the issue, JUnit Runner performs an additional check after a test, and then report a matcher misuse. Because the matchers were not _consumed_ byt the mock, the NPE is raised first.

Indeed we can mention that in the message.
Thanks for insisting on this !

[2016-12-16 16:26] vyazelenko commented on #824
I have created a reproducer project [mockito-mock-maker-inline-dynamic-attach](https://github.com/vyazelenko/mockito-mock-maker-inline-dynamic-attach).
It provides single gradle command `dist` that will generate scripts to execute test program from command line on Windows and Unix systems.

[2016-12-16 16:35] bric3 commented on #822
Closing this one since there's now the PR #830

[2016-12-16 16:35] #822 closed

[2016-12-16 20:05] raphw commented on #824
I just debugged this on a virtual Windows box and I think I understand what happens:

First, everything went as expected. I could run the program and did not get the exception you experienced. I then installed an additional non-JDK JVM to see if the VM reproduced your problem. This was the case and I thought, this was your problem for sure.

To be sure, I retried it now with the JDK installation a

[2016-12-16 23:21] vyazelenko commented on #824
@raphw you are absolutely right!

If I print `JAVA_HOME` variable I get:
[code]
But when I run test program which prints `System.getProperty("java.home")` I get the following:
[code]
This happens, because I'm always installing JDK with JRE from the same installer. Installer first installs JDK and then installs JRE. What I do then is set `JAVA_HOME` to point to newly installed JDK and always includ

[2016-12-16 23:43] #824 closed

[2016-12-16 23:57] vyazelenko commented on #824
After I uninstalled everything it works now from command line but still fails in Eclipse.
[code]

And it happens when I run it in debug mode (`Debug As -> Java Application`) and without it (`Run As -> Java Application`).

[2016-12-17 12:57] bric3 commented on #824
Could it be that the Eclipse sdk is misconfigured.

[2016-12-18 12:26] vyazelenko commented on #824
@bric3 No, cause I've uninstalled all JRE's from the system and there is only 1 JDK installation on the system which is also configured in the Eclipse's workspace.

[2016-12-19 13:47] bric3 commented on #820
This should be fixed by #821

[2016-12-19 19:14] mattnelson commented on #618
Coming in a little late to this discussion as we just uplifted to Mockito 2 last week and found some quirks with the continuous aspects of this project in the first week. We have a CI job that runs every week and creates a PR to auto update all of our dependencies. When the script ran this week we got prompted to update to 2.3.7[1]. When we attempted to validate the build, it failed with a transie

[2016-12-19 19:19] TimvdLippe commented on #618
@mattnelson Sorry for the trouble that we caused you! There was a problem with releasing `2.3.7` as we are preparing the release procedure for the new `mockito-android`. The plugin we use to push artifacts to Bintray had a bug which was uploading corrupt jars to maven central. We identified the error quickly and retracted the corrupt versions, which was probably what you encountered too.

The rele

[2016-12-20 04:50] szczepiq commented on #618
@mattnelson, very sorry for problems you encountered. We had some hiccups recently as described by @TimvdLippe. Do you happen to have the stack trace of the transient issue? Can you gist it for us?

@TimvdLippe, let's chat on slack channel. Can you formulate the release model that you have in mind when you say "must first test on our Bintray test project".

@mattnelson - thanks so much for taking

[2016-12-21 05:41] szczepiq commented on #815
I lean towards not offering such additional alias.

I really like the fact that it introduces similarly looking API for void methods (and spying, static mocking, edge cases). Thing is, the more aliases the more complex API. We would also need to offer it for given() syntax.

Some options (v3 gives opportunity to change the API):
- get rid of doReturn() API, replace with this api
- get rid of when(

[2016-12-21 15:54] TimvdLippe commented on #815
I do agree that we should try to prevent additional aliases. Still this functionality is included in the other PR (as I took inspiration from this PR) and I think replacing is the best solution. All functionality can be handled in a uniform way with the lambda syntax.

[2016-12-21 21:27] Mrodent opened #838 "Feature request: ArgumentMatchers.matches(Pattern regex)"
you ladies and gentlemen are geniuses by the way.

ArgumentMatchers.match( String regex ) exists... but wouldn't it be slightly better if it were match( Pattern regex )? (i.e. catering for multi-line Strings, etc.).

Also, devising a regex which distinctly does NOT match a given String is non-trivial.  And yet not atypical of a mocking use case.  Hence I suggest you clever people take the heavy li

[2016-12-22 09:45] bric3 commented on #838
As the answer in SO, you can negate matchers using `AdditionalMatchers.not()`.

I think I can close this issue.

[2016-12-22 12:48] Mrodent commented on #838
OK... but this question highlights the fact that the online documentation and tutorials are not optional, they are essential ... and they are currently inadequate.  People who are willing to learn shouldn't have to pose a question for such an obvious use case on SO.

[2016-12-22 13:22] bric3 commented on #838
Hi,

I closed the issue because it is about a feature request that is not valid since the feature is already present in a different form. Now documentation and tutorial is another thing.

`AdditionalMatchers` is mentionned on the first line of the [ArgumentMatchers javadoc](https://static.javadoc.io/org.mockito/mockito-core/2.4.0/org/mockito/ArgumentMatchers.html). The Mockito javadoc gives plenty

[2016-12-22 13:24] Mrodent commented on #838
Yup, understood.

[2016-12-22 13:24] bric3 commented on #838
Also it seems I skipped the part on the `Pattern` class, reopening for the `matches(Pattern)` matcher.

[2016-12-22 13:25] Mrodent commented on #838
Oh... good.  No really!  The multi-line challenge has me foxed... indeed.  :)

[2016-12-22 13:58] #838 closed

[2016-12-22 13:59] bric3 commented on #838
The builds should propagate within an hour

[2016-12-22 14:34] szczepiq commented on #815
@TimvdLippe, can you link to the PR that you promote?
@ChristianSchwarz, this ticket has fantastic description! Minor feedback: "VoidCall" naming family does not seem to be correct because the syntax is essentially for all methods, not only void methods.

[2016-12-22 21:54] szczepiq opened #840 "Tweak JUnit rule strictness at the method level"
Team, I would really appreciate feedback about this enhancement.

There is a feature request reported - a way to exempt from unnecessary stubbing at method level (#792). The feature request makes sense to me. Currently, if the user wants to opt-out from JUnit rule or JUnit runner strictness, he needs to do it at the scope of the entire class. Ideally, we can opt-out from strictness at finer granul

[2016-12-22 21:55] szczepiq commented on #792
See #840 - I created a proposal for solving this use case for JUnit rules

[2016-12-22 22:05] TimvdLippe commented on #840
Instead of a call to the rule (which I would expect to cause side-effects when I see the code) I think it is clearer to use an annotation on the method. Something like `@MockitoStrictness(LENIENT)`

[2016-12-23 00:21] TimvdLippe commented on #815
PR is at #742

[2016-12-23 00:27] TimvdLippe commented on #445
Shall we start with fleshing out the specifications of the extension? Would like to have a working prototype when JUnit 5 is released, ETA Q1 2017.

[2016-12-23 00:31] TimvdLippe commented on #733
It seems that the upstream issue has been resolved: https://github.com/jetbrains/kotlin/commit/004ff86bec23aac7b2e6054ead2e38445c6fb934

[2016-12-23 00:33] TimvdLippe commented on #739
Closing this issue as it does not appear to be an issue with Mockito. Please reply with more information if this remains an issue related to Mockito.

[2016-12-23 00:33] #739 closed

[2016-12-23 01:50] szczepiq commented on #840
Annotations are clearer and they are a good idea, we discussed it in #792, @bric3 was not in favor of annotations.

Call to the rule is something we would offer in the meantime, before we have annotations. Long term, I think annotations are a way forward.

I'm waiting for more feedback and I'm leaning to implement this new rule behavior regardless if we decide to do annotations or not :)

[2016-12-23 06:10] eygraber opened #841 "Failed Resolution of: Ljava/lang/management/ManagementFactory on Android"
I'm using Mockito 2.3.11 and mockito-kotlin 1.0.1 (nhaarman) in my espresso tests on Android, and I have a property in my test class that looks like this (I'm using Kotlin in both the tests and the code under test):

[code]

Running the tests (there is only one and all it does is verify that a call was made using controller) results in a NoClassDefFoundError:

[code]

[2016-12-23 06:10] eygraber commented on #841
I also have dexmaker-mockito 2.2.0 as a dependency

[2016-12-23 09:44] nhaarman commented on #733
The issue is indeed resolved in the `1.1-M04`. It's not included in the `1.0.6-eap` though.

[2016-12-23 13:20] bric3 commented on #840
Yes I'm not in favor of annotation, but I'm not totally against either. However annotation API, is to be carefully designed as there is way less flexibility, override, argument types, etc.

Pros

* I believe a programtic way offers more choice for users and framework developers, including mockito.

That's maybe the biggest issue here. To bypass this the code will need to have some way to define a

[2016-12-23 13:25] bric3 commented on #445
Yes go for it, I'll create a submodule junit 5 at this time since JUnit 5 is a near complete rewrite, with a lot of binary incompatibilities.

[2016-12-23 13:30] bric3 commented on #841
Hi, what is the VM the test is running on.

Also from the look of it, the code is enforcing the inline mock maker, which only works on a Java VM as [documented](https://static.javadoc.io/org.mockito/mockito-core/2.2.7/org/mockito/Mockito.html#Mocking_Final).

You may have to remove that file if the code is running on dalvik.

[2016-12-23 13:55] Mrodent commented on #838
Hi Brice... thanks for doing this so quickly.  I have upgraded my gradle.build and got hold of your new build.  But I am still having problems using "not" with this... if you have a moment maybe you might look at my new edit at [SO](http://stackoverflow.com/questions/41270738/mockito-argumentmatchers-doesnotmatch).

[2016-12-23 14:05] bric3 commented on #838
It looks like an import issue, either for `not` or `matches`. I've tested it yesterday, when I added the API.

[2016-12-23 14:08] Mrodent commented on #838
Yes, you're right: it's an AssertJ confusion: Eclipse imported NotFilter.not() automatically.  Apologies.

[2016-12-23 16:05] eygraber commented on #841
Yeah, it's running on Android; not sure how I missed that in the documentation. Will `mockito-android` allow mocking finals on dalvik?

[2016-12-23 22:08] szpak commented on #297
@TimvdLippe There are 3 main features available in mockito-java8 which I plan to backport *soon*:
 - Mockito API methods available via interfaces (without static imports)
 - Lambda matcher
 - Argument Captor - Java 8 edition

More [details](https://github.com/szpak/mockito-java8/#quick-start).

I also consider rewriting Java 8 default answers support from reflection to default calls.

[2016-12-23 23:32] szczepiq commented on #445
+1

Do we want to completely decouple mockito-core module from JUnit?

[2016-12-23 23:34] szczepiq commented on #840
Great feedback, @bric3

I'll take a stab at making strictness() method working for us. I should be able to use a single test listener inside a rule and make this listener mutable so that it can have different behavior between test runs.

[2016-12-24 10:43] bric3 commented on #841
I don't know enough on that, @raphw as you are the author of bytebudy-android, do you know if it is possible ?

[2016-12-24 12:41] TimvdLippe commented on #445
@szczepiq I am not sure, but supporting both `JUnit4` and `JUnit5` in `mockito-core` seems problematic. We have seen similar issues with `Spring` having to support both Mockito 1 and 2. Therefore I think it is better to refactor Mockito 3 such that we publish 2 new artifact: `mockito-junit4` and `mockito-junit5` which provide the integration layer between Mockito and Junit.

@sbrannen Are you awar

[2016-12-24 12:42] TimvdLippe commented on #840
A solution could be that the Rule also watches for annotations and calls the corresponding method. That would require a follow-up PR of #843. WDYT?

[2016-12-24 12:50] sbrannen commented on #445
In the `spring-test` module for the Spring Framework, we provide support for TestNG, JUnit 4, and JUnit Jupiter (what you call JUnit 5) alongside each other, just in different packages.

That's all within a single JAR, and there are no issues since each of those is an optional dependency (in terms of the Maven POM).

Thus, projects that consume `spring-test` can pick which testing framework they w

[2016-12-24 12:53] sbrannen commented on #445
If you do opt for separate modules (i.e., Maven artifacts), I would recommend against `mockito-junit5`, since what you are really providing is an extension for JUnit Jupiter -- which is the new programming model in JUnit 5.

The problem with naming such an artifact `mockito-junit5` is that there may well be a JUnit 6 or 7 still based on the JUnit Jupiter programming and extension models, and then

[2016-12-24 13:02] TimvdLippe commented on #445
Okay that seems reasonable, so let's take the package approach! My experience with jar configurations is limited, so in terms of the configuration of users' `pom.xml` I do not 100% understand how that is going to work. But I think we can figure that one out. Thanks for the explanation @sbrannen !

[2016-12-25 13:12] szczepiq commented on #840
I like this idea a lot. There are 2 main reasons I like it:
 - annotation looks nice and clean in test code
 - annotation would also work with JUnit runner (when we make it work with runner :). For the runner, we cannot change it's state programmatically because it is a static instance attached to the test class via @RunWith annotation. With JUnit rule the situation is different - we have an insta

[2016-12-25 14:52] raphw commented on #841
Android only supports a subset of the Java APIs, not including the instrumentation API that is required for the inline mock maker. It cannot be used on Android.

[2016-12-25 14:52] #841 closed

[2016-12-26 12:25] raphw opened #845 "Rename MockMethodDispatcher.class to MockMethodDispatcher.raw on build"
The `org.mockito.internal.creation.bytebuddy.MockMethodDispatcher.class` file should be renamed to `org.mockito.internal.creation.bytebuddy.MockMethodDispatcher.raw` on building Mockito. This way, class loaders are no longer capable of loading the class directly what should never happen. Doing so, the bootstrap injection mechanism cannot be superseeded by child-first class loaders which break mock

[2016-12-26 16:11] szczepiq opened #848 "Built-in android support via new 'org.mockito:mockito-android' artifact"
- [x] change Mockito source:
	- update the version of Mockito to 2.6.0 in version.properties
	- change android jar Bintray repostory to be 'maven' (so that we can sync automatically to central) in build.gradle
	- add a javadoc note in main Mockito class
- [x] push changes to GitHub repo
	- wait for them to deploy to Bintray
	- smoke test?
- [x] publish from Bintray web ui
	- "publish" in Bintray s

[2016-12-26 16:24] bric3 commented on #840
There's also another option like :

[code]

[2016-12-26 18:54] raphw commented on #848
#847 is concerned with supporting Robolectrics which implements a custom class loader. While it is typically used by Android developers it runs on a non-Android VM. The latter can be released independently of this effort.

List looks good to me. I already tested the new artifact on all kind of Android devices, works like a charm.

[2016-12-27 11:57] theigl opened #851 "Performance degradation when upgrading from 1.10 to 2.2"
Hi,

I just ran into an issue when I upgraded our codebase from Mockito 1.10 to 2.2. Test execution time nearly doubled for unit tests using Mockito Mocks and Spies. We have around 4000 unit tests, so this increase was very noticeable on my development box as well as our CI server.

I couldn't believe it at first, but I did extensive profiling with Yourkit and significantly more time is spent in M

[2016-12-27 12:00] TimvdLippe commented on #851
Hello Thomas,

This is the very first report we received. We are looking forward to an example project which reproduces the issue!

[2016-12-27 12:22] theigl commented on #851
Hi @TimvdLippe,

I created two extremely simple Maven projects. One with Mockito 1.10.19 and one wich 2.3.11. One empty POJO, and one test class that simply mocks the POJO.

When I run the projects with `mvn test` repeatedly on my box, the execution times converge around:

Mockito 1.10 | Mockito 2.3
------------ | -------------
180ms | 360ms

E.g.
`Tests run: 1, Failures: 0, Errors: 0, Skipped: 0,

[2016-12-27 17:49] #845 closed

[2016-12-27 17:50] szczepiq commented on #840
Thanks @bric3 for feedback! I'd rather stick to strictness() method instead of introducing handler(). It feels the API is simpler and more intuitive to use.

[2016-12-27 18:21] nhaarman commented on #733
Kotlin 1.0.6 has been released with a fix for this.

[2016-12-27 18:21] #733 closed

[2016-12-27 18:39] pedro-otero commented on #706
I had the same problem and solved it the same way. After Googling a lot, what gave me the hint that this might work was this text which shows in my errors too:

`
Java               : 0.9
JVM vendor name    : The Android Project
JVM vendor version : 2.1.0
JVM name           : Dalvik
JVM version        : 0.9
JVM info           : null
OS name            : Linux
OS version         : 3.10.73-g76d746e

[2016-12-28 06:32] szczepiq commented on #851
Thank you very much for reporting the issue!

[2016-12-29 01:31] eygraber opened #855 "Robolectric Inline MockMaker Broken - Mockito 2.5.0"
I have a simple Robolectric (v3.1.4) test that is failing with the inline mock maker enabled. My code and tests are in Kotlin and I am also using mockito-kotlin v1.0.1

The test is:

    @RunWith(RobolectricTestRunner::class)
    class WelcomeActivityTest {
      @Test
      fun test() {
        val foo: Foo = mock()
        whenever(foo.bar).thenReturn("baz")
        assert(foo.bar == "baz")

[2016-12-29 14:25] TimvdLippe commented on #851
Opened #856 to start a benchmarking suite so we can investigate this. The results on my laptop:

[code]

Invoking the mock method is performed 2000 times per second, but the interesting observation is that the first run is 4 times slower than later runs.

[2016-12-29 14:48] theigl commented on #851
Hi @TimvdLippe,

Thanks a lot for investigating!

My uneducated guess from looking at Yourkit was that the issue could be related to class loading. ByteBuddy loads quite a lot of classes. This would explain why the first run is by far the slowest.

But I am by no means an expert in JVM micro-optimization so it might be something completely different.

Thomas

[2016-12-29 14:49] TimvdLippe commented on #851
@theigl yes that was my guess too. CCing @raphw into the discussion as he is the maintainer of ByteBuddy

[2016-12-29 14:59] raphw commented on #851
There is a chance for that. Byte Buddy does do a lot more in terms of processing, for example, it processes generic type information and annotation data what is triggers lazy loading of the related classes of the virtual machine. Generally, Byte Buddy also creates a lot more classes per mock class (one per method) what does decrease the overhead of invoking a mocked method but comes with the cost

[2016-12-29 15:04] raphw commented on #851
I do actually run benchmarks for Byte Buddy, comparing it with cglib etc: http://bytebuddy.net/#/tutorial - There is a benchmark table a bit down. We are using the case where Byte Buddy requires additional time to create a specific super class proxy for any method. As a matter of fact, we could try to avoid this by creating a different super class proxy type. I can create a patch file for testing

[2016-12-29 15:14] raphw commented on #851
Feel free to try this version:

[performance.patch.zip](https://github.com/mockito/mockito/files/677353/performance.patch.zip)

[2016-12-29 15:19] TimvdLippe commented on #851
@raphw Cool thanks for the speedy response! Could you review #856 and then open a PR with the patch? Then I will take a look at the performance improvements :smile:

[2016-12-30 02:35] szczepiq commented on #840
Fixed by #843

[2016-12-30 02:35] #840 closed

[2016-12-30 02:53] szczepiq opened #857 "Strictness without JUnit - New MockitoSession API"
### Background

- Mockito strictness (improved debuggability, cleaner tests) is described in #769
- Strict stubbing is already supported with JUnit rules - #807
- Open PR for supporting strict stubbing with JUnit Runners - #854
- This ticket intends to discuss the goals and implementation of strict stubbing without JUnit Rules / Runner

### Initial design

[code]

### Alternative new public API me

[2016-12-30 16:50] szczepiq commented on #445
@sbrannen thank you for describing and suggesting an approach. I like the idea of separation at the Java package level in the same jar. We can go for separate jars only when we have to (e.g. when JUnit versions clash). Do you have integration tests that demonstrate correct behavior with different test frameworks / different versions of test frameworks?

[2016-12-30 23:03] sbrannen commented on #445
Is that a rhetorical question? 😉

Yes, of course we have tests for the Spring Framework. I'd be ashamed to let `spring-test` ship without an automated test suite.

Regarding the package structure, if you look [here](https://github.com/spring-projects/spring-framework/tree/master/spring-test/src/main/java/org/springframework/test/context) you'll see the following:

- `org.springframework.test.conte

[2016-12-31 14:05] szpak opened #860 "Jacoco 0.7.8 breaks tests for the new plugin mechanism"
Jacoco 0.7.8 breaks the tests for the new plugin mechanism (#811) with:

[code]

The corresponding Travis build: https://travis-ci.org/mockito/mockito/jobs/187043982#L431

[2016-12-31 14:12] szpak commented on #860
@bric3 Can you identify the minimal scenario that reproduce this issue to be able to report it to the JaCoCo team?

[2016-12-31 14:17] szpak opened #862 "Broken InlineByteBuddyMockMakerTest with Java 9"
After #861 merge it turned out that InlineByteBuddyMockMakerTest fails with Java 9 (tested locally with 9-ea+146).

[code]

https://travis-ci.org/mockito/mockito/jobs/187897096#L586

[2016-12-31 15:04] raphw commented on #862
For this to work we stil require a version of ASM that supports Java 9. As Java 9 is still preliminary, this is not yet released.

[2017-01-01 20:35] szpak commented on #862
Ok, I will disable it in master for Java 9 builds.

[2017-01-01 22:42] szpak commented on #862
Btw, I've just found #788 :).

[2017-01-01 22:47] szpak opened #863 "Reenable tests disabled for Java 9 when new ASM is available"
Those tests usually contain:
[code]

Some related issues: #788, #862.

[2017-01-01 22:49] szpak commented on #862
Closing as disabled in master and created #863.

[2017-01-01 22:49] #862 closed

[2017-01-02 13:01] raphw commented on #855
Is Mockito-Kotlin using the latest Mockito version? At this stage, there is not much we can do anymore. Robolectric needs to fix its class loader to make this work.

[2017-01-02 13:06] bric3 commented on #706
@pedro-otero Not an Android developer, so I might abuse names. Indeed it seems ART replaces Dalvik, however it can still reads dex bytecode ([source](https://en.wikipedia.org/wiki/Android_Runtime)).

[2017-01-02 13:45] bric3 commented on #297
@szpak cool thanks !

[2017-01-03 01:12] drewhannay commented on #618
I agree with pretty much everything @dnozay said. Upgrading Mockito is now very painful. There's no good release notes or upgrade instructions, everything is spread out across many many versions. I don't have the time or desire to look at every commit individually to find out what changed.

I understand that following semantic versioning means that we should be able to "trust" and drop in any newe

[2017-01-03 07:42] eygraber commented on #855
I excluded the version it is using from my dependencies, so it should be using 2.5.0 (which I specify).

[2017-01-03 08:29] wuwen5 opened #866 "When custom exception fillInstackTrace() returns null, Exception mock cannot work properly"
[code]

TestCase like this
[code]

[code]

[2017-01-03 10:34] bric3 commented on #866
This is a bug in the user code. Yet Mockito should handle that gracefully.

Thanks for reporting.

[2017-01-04 14:17] fluentfuture commented on #680
If starting from scratch, I couldn't think of a use case that'd benefit from stubbing the default methods by default.

But maybe that use case does exist, or at least for backward compatibility it's too late to change?

Either way, I propose we do not need to add a default Answer or anything to mock().

Default methods in interfaces are much like concrete methods in abstract classes. `spy(AnAbstra

[2017-01-04 15:02] #860 closed

[2017-01-04 16:40] fluentfuture commented on #680
Sure.

Today, if java.util.Consumer were an abstract class defined as:

[code]

I can `@Spy` it to have `andThen()` called by default:
[code]

It doesn't work with Consumer being interface with `andThen()` being an equivalent default method:

[code]

But that is just because we are having a validation that rejects spy(Consumer.class). That validation can be removed because it doesn't hurt even if

[2017-01-04 16:58] #866 closed

[2017-01-04 17:06] bric3 commented on #680
Ah I see.

Imho spying an interface `spy(Interface.class)` is wrong, even when there's default methods, it doesn't feel like a a spy. As spy have more meaning to spy concrete code.

Instead mocking an interface `mock(Interface.class)` to call default methods only seems ok. And maybe backward compatible. Although I would like opt-in/out mechanism.
But mocking an abstract class `mock(AnEquivalentAbs

[2017-01-04 17:09] fluentfuture commented on #680
I agree that the spy() name is kinda misleading for the behavior of "mock only abstract methods".

I originally proposed fake() or other names but spy() was chosen none-the-less.

I don't defend the spy() name but it's what we have, so there may be some value to consistency.

[2017-01-04 17:12] bric3 commented on #680
`spy` is a specialized mock that seems to _speak_ for everyone, maybe `fake` can be another compelling specilization.

At this moment not sure if we will, but maybe in the future.

[2017-01-04 17:15] fluentfuture commented on #680
Here's how I found peace with the spy() name:

Yes it calls the non-abstract methods, which isn't spying (more like fake). But it also allows you to explicitly stub them with `when()` or to `verify()` them, so in that sense, it can still be called a spy.

[2017-01-04 18:06] bric3 commented on #680
Interesting feedback. I still have mixed feeling about relaxing spy to allow an interface.
I'll sleep on it, and think about it as your migration use case is legitimate.

And anyway this address only a part of the original issue.

[2017-01-04 18:12] fluentfuture commented on #680
@bric3 Can you explain which part isn't addressed in the original issue, assuming we put aside the mock() vs. spy() naming difference?

[2017-01-05 13:17] bric3 commented on #680
@fluentfuture I meant regarding configurability of stubbing default method for a mock, not a spy.

Yet the use cases discussed above are defintely additional scenario to account for when we will implement the stuff.

[2017-01-05 23:53] szczepiq commented on #618
@drewhannay, fantastic feedback. Thank you for writing this up. You raised valid points and we will address them.

Is updating minor version of Mockito half day of your work? Why?

[2017-01-06 02:28] drewhannay commented on #618
Mainly because Android tests are slow and we have a lot of them 😉

In the best case, I end up doing at least two full test runs (~45 minutes each), plus time getting a code review and time for importing the new version of Mockito into our internal artifact server.

[2017-01-06 11:14] #820 closed

[2017-01-06 14:41] TimvdLippe opened #871 "Travis builds from non-core developers fail on assertEnvVariables"
Example build: https://travis-ci.org/mockito/mockito/jobs/188911380

Seems that this does not affect core developers, as my build has been succesful: https://travis-ci.org/mockito/mockito/builds/188321204 as well as those in #865 and #859

[2017-01-07 01:36] noelmansour commented on #638
Some additional info that might be helpful: I didn't have this issue with Robolectric v3.1.4 until I added `mock-maker-inline`.

[2017-01-07 13:17] TimvdLippe commented on #871
I think the easiest solution is to not assert the GH_TOKEN if the build is a pull request

[2017-01-09 11:48] gysel opened #873 "UnnecessaryStubbingException instead of MissingMethodInvocationException"
In a certain case mockito fails to report a missing method on a mock instruction:

`when(ormSupport).thenReturn(null);`

The reproducible test can be found here:

https://github.com/gysel/mockito-problem/blob/master/src/test/java/ch/mgysel/mockito/MockitoProblem.java

Mockito fails the test with the following error message which is completely misleading:

[code]

I would expect Mockito to fail the

[2017-01-10 09:20] ePaul commented on #357
Note that this also fails with Eclipse's Java compiler (running under a Java 8 JRE) in Eclipse Neon (4.5), with the same ClassCastException.

[2017-01-10 13:15] bric3 commented on #871
Can't we just disable the checks if the repo is not mockito/mockito ?

[2017-01-10 13:18] TimvdLippe commented on #871
Pull requests always have `mockito/mockito` as repository?

[2017-01-10 13:30] bric3 commented on #873
Hi I can't reproduce the issue with recent mockito versions. Just to be sure I also checked the same version of your project : Mockito 2.5.5. And Mockito behaves correctly.

[2017-01-10 13:32] bric3 commented on #871
No only ours, external contributors have a fork. Since the GH_TOKEN assertion don't fail for our pull request I think this is safe assumption.

[2017-01-10 14:02] gysel commented on #873
@bric3, can we please reopen this one?

I can still reproduce it with Mockito 2.5.5 as well as with 2.5.6...

clone [gysel/mockito-problem](https://github.com/gysel/mockito-problem) and run `mvn clean verify`

[code]

I expect Mockito to throw a `org.mockito.exceptions.misusing.MissingMethodInvocationException` in this case!

Please note that this works in other cases. However the particular `setU

[2017-01-10 14:46] bric3 commented on #873
OK I'll give it another look.

[2017-01-10 16:28] domtoupin opened #874 "Overridden abstract methods using generics are not longer called for partial mock (working with Mockito 1.10.19)"
Hi,

We migrated to Mockito 2.x not so long ago and we came across a test that used to works back in Mockito 1 (1.10.19) and no longer works with the latest 2.x version (2.5.6).

Here is the SSCCE to replicate the issue:

[code]

**Before (1.10.19):**
Used to works

**After (2.5.6)**
[code]

We performed a few side tests and here are the results:
- if we change the method `getRealValue` in class `

[2017-01-11 10:31] bric3 commented on #717
Forgot to close this ticket

[2017-01-11 10:31] #717 closed

[2017-01-11 15:48] bric3 opened #876 "Mockito should return an empty array for default values"
Mockito returns by default interesting default values for some types :

* Long ⇒ 0
* Optional ⇒ Optional.empty
* List => new ArrayList(0)

But it don't return an empty array currently.

[2017-01-12 04:11] dmstocking opened #877 "No way for user to tell Mockito about matchers that take matchers"
I was trying to write a new Matcher that would take a lambda, and a matcher. This might sounds familiar because I am trying to create a PropertyMatcher for Mockito with lambdas. I made the following matcher.

[code]

Now this works ONLY if you use nothing but values. So a working example would be
[code]
However once I start to use a matcher, I get an error saying that I am mixing matchers and real

[2017-01-12 08:55] bric3 commented on #877
Mockito 2 is Java 8 aware, but it is still compiled with Java 6. Many people already use it with their Android code. There's some things to change as well, like use the linkedin version of dexmaker and soon there will be a mockito-android probably with better dex support.

-----

I'm not sure of the imports here as `ArgumentMatcher` seems to be Mockito 2 type, `Matchers` is Mockito 1 type (or even

[2017-01-12 12:56] TimvdLippe commented on #848
@szczepiq I have tried to sync on https://bintray.com/mockito/maven/mockito/2.6.0#central but it required a password. I am not sure if I did it correctly, could you please verify?

[2017-01-12 13:11] bric3 opened #878 "@Spy dosn't report the correct error when it can't instantiate abstract class"
The annotation engine doesn't inform the user correctly when the spying an inner `private static abstract class`.

[code]

Indeed when the class is private, javac still generates a synthetic 1-arg constructor taking the enclosing class.

That should be easy to improve, as the `SpyAnnotationEngine` just needs to report an error message for this case.

[2017-01-12 16:28] dmstocking commented on #877
Ok I'll try changing this matcher to use Hamcrest matchers and try it out. Thanks for the quick response. When I tried, I kind of got the feeling that what I was trying to do wasn't feasible. :)

[2017-01-12 16:28] #877 closed

[2017-01-12 20:35] mureinik opened #879 "Grammar issue in ArgumentMatchers' javadoc."
[`ArgumentMatchers`' javadoc](https://static.javadoc.io/org.mockito/mockito-core/2.6.1/org/mockito/ArgumentMatchers.html) states that:

There's a word missing there. It should read:

Version info:
- First noticed this on 2.5.5
- Confirmed it still existed in 2.5.6, 2.5.7 and 2.6.1
- Probably also existed in previous versions.

[2017-01-12 21:12] mureinik commented on #879
@TimvdLippe should this issue be closed now that the PR is merged, or should this fix be backported to the 2.x branch too?

[2017-01-12 21:33] TimvdLippe commented on #879
@mureinik Oh right it was to the wrong branch 😭 That's my mistake. I will backport it manually

[2017-01-13 04:47] szczepiq commented on #767
This has been fixed.

[2017-01-13 04:47] #767 closed

[2017-01-13 05:02] szczepiq commented on #848
@TimvdLippe, thank you for pushing this forward!!! You did everything correctly, I will share the password with you using a private channel.

[2017-01-13 05:27] szczepiq commented on #769
I will do that once this epic turns into an execution plan. Currently it is intended to scope out the details and I don't know if all of them will be executed (and in what form). I annotated one item as merged by using strikethrough. I hope it is clearer now.

[2017-01-13 09:50] ChristianSchwarz commented on #876
Do you mean argument matcher or mock return values?

[2017-01-13 10:38] bric3 commented on #876
I mean default return value of a mock.

[2017-01-13 10:39] bric3 commented on #877
I'm thinking ways to improve this use case.

[2017-01-13 10:54] #879 closed

[2017-01-13 11:16] ChristianSchwarz commented on #876
Here is a quick fix, sadly I can't push throu the firewall.

[code]

needs to added to [ReturnsEmptyValues::returnValueFor(Class)](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsEmptyValues.java#L79).

[2017-01-13 11:20] ChristianSchwarz commented on #876
Seems like String has also no empty return value.

[2017-01-13 14:51] bric3 commented on #876
Yes the fix is quite easy. I haven't pushed it yet. I'm focused on the selection of the Devoxx France CFP right now.

`String` was discussed, at some point but most people felt `null` was a sane default even for `String`.

[2017-01-13 15:05] bric3 opened #882 "Upgrading to Objenesis 2.5"
Mockito already uses Objenesis 2.4.
However Objenesis 2.5 was just released and supports the latest [JDK 9 build 151 jigsaw](http://objenesis.org/notes.html)

[2017-01-13 18:55] TimvdLippe commented on #871
@szczepiq could you make this high priority on your list? Failing builds discourages external developers from publishing their work

[2017-01-13 18:58] TimvdLippe commented on #874
This is probably a regression after adopting Byte-Buddy. @raphw did you encounter such issues with Byte-Buddy?

[2017-01-13 19:00] TimvdLippe commented on #750
Closing as there was no response. Please reopen if you have a small gist that reproduces the issue.

[2017-01-13 19:00] #750 closed

[2017-01-14 15:02] raphw commented on #874
It is indeed a problem in Byte Buddy when processing raw types (Mockito extends the generic type without implementing the type variable) in the method graph compiler. I already added a test case to Byte Buddy and I will try to fix the problem some time next week.

[2017-01-15 09:31] bric3 commented on #857
Here's my opinion :

* Regarding alternative 1/2/3, I prefer the API with an actual variable. Using static methods requires a hidden thread local state, while it's ok for stubbing, I think this could be bad design choice for the mockiting session. Also without `MockitoSession` variable it's hard to interact with, and always requires some static method.
* Not in favor of option 1, as it kinda dismi

[2017-01-15 19:13] #871 closed

[2017-01-15 21:03] #882 closed

[2017-01-16 02:00] szczepiq commented on #857
@bric3, great feedback!!!

I summarized my POV in (https://github.com/mockito/mockito/pull/865#discussion_r96154733).

All options are using variable, I removed it for clarity (but it became less clear :) I will update the ticket.

Yes. Both approaches have pros and cons. Let's go ahead with Mockito.mockitoSession() at this time.

[2017-01-16 09:33] raphw commented on #874
Tracked in: https://github.com/raphw/byte-buddy/issues/255

[2017-01-16 09:37] bric3 commented on #874
Thanks @domtoupin for the SSCCE !
Thanks @raphw for the quick tracking of the issue.

[2017-01-16 13:52] bric3 opened #888 "Remove class param on AnnotationEngine.process"
The class param was kept for backward compatibility, however it doesn't have any meaningful use.
It should be removed. I propose to remove it in Mockito 3 (master).

[2017-01-17 05:32] szczepiq commented on #888
Sounds good.

[2017-01-18 08:28] SylarChen opened #889 "what's the official pronunciation of "mockito""
As title. Thanks~

[2017-01-18 10:29] bric3 commented on #889
Hi,

I don't know what I can answer here by text. Looking at IPA phonetic transcription site, simply returns _mockito_. Mockito is name is a pun around _mojito_ and _mock_. Wikipedia's article on [_mojito_](https://en.wikipedia.org/wiki/Mojito) gives this IPA : `/moʊˈhiːtoʊ/`.  [_mock_](https://en.wiktionary.org/wiki/mock) alone can be transcribed in IPA by `/mɑk/` , or `[mˈɒk]` ([spellchecker](ht

[2017-01-18 10:37] bric3 commented on #857
ok

That's fine by me :)

[2017-01-19 03:54] vipheyue opened #890 "i use public class but can't mock instance"
[code]

-----------------------------------------------------------------
logcat

[code]

[2017-01-19 03:55] vipheyue commented on #890
this is unit test
[code]

[2017-01-19 03:57] vipheyue commented on #890
compile "org.mockito:mockito-android:2.+"
thanks for your help

[2017-01-19 07:16] vipheyue commented on #890
I debug find this information

mockito-android-1.6.3.jar ->AndroidTempFileLocator->final static File target;==null

i find you code

[code]

but my build.gradle target version 25 not have this field "path"

[code]

![1b522e9f-13bf-4426-be98-772fbc456f4d](https://cloud.githubusercontent.com/assets/11717882/22097001/ac4e5fa8-de59-11e6-9c8c-ddcc0446dfb6.png)

[2017-01-19 09:21] vipheyue commented on #890
I  solve The problem

 1. compile "org.mockito:mockito-android:2.+"   for---> androidTest
  2.  compile "org.mockito:mockito-core:2.+" for---> unit test

but why 1. compile can't use in unit test

[2017-01-19 10:03] bric3 commented on #890
@vipheyue I think mockito-android should be declared like dexmaker was, i.e. with `androidTestCompile `.

[code]

[2017-01-19 10:13] bric3 commented on #890
You were mentionning API level 25, did the test worked well with previous API levels ?

[2017-01-19 10:40] raphw commented on #890
Does calling `getInstrumentation().getTargetContext().getCacheDir().getPath()` work on your emulator/device?

[2017-01-19 11:06] raphw commented on #890
The problem was solved by declaring the dependencies correctly like indicated by @bric3. As for the `androidTestCompile`, the `mockito-core` dependency is implicit by `mockito-android`.

[2017-01-19 11:06] #890 closed

[2017-01-19 11:08] TimvdLippe commented on #890
Then we must update the snippet at http://static.javadoc.io/org.mockito/mockito-core/2.6.3/org/mockito/Mockito.html#0.1 right?

[2017-01-19 11:11] bric3 commented on #890
@raphw I'm wondering if we couldn't build a VM detector in mockito-android, if run on hotspot it delegates to the default Mockito MockMaker

[2017-01-19 11:19] raphw commented on #890
Its probably possible to detect that and yes, we should add this.

[2017-01-19 13:12] #848 closed

[2017-01-19 17:06] #874 closed

[2017-01-20 02:45] vipheyue commented on #890
I suggest to update The document,
it make somebody  dependencies error

[official document](https://static.javadoc.io/org.mockito/mockito-core/2.6.3/org/mockito/Mockito.html#0.1)

change--->
[code]

[2017-01-20 11:32] Stephan202 opened #892 "Mockito 2.6.4 hangs on JDK 1.8.0_31"
We just upgraded to Mockito 2.6.4. When we run our tests on Travis CI without the `oracle-java8-installer`, JDK 1.8.0_31 is used. We then have two threads hanging in the following state:
[code]

The issue reported here does not reproduce with Mockito 2.6.3. It also does not reproduce with JDK 1.8.0_121. I assume it's caused by #891.

(I know upgrading our JDK would be "better", but if at all possi

[2017-01-20 12:18] bric3 commented on #892
@Stephan202 Thanks for filling the issue. There's plenty of bugs with JDK8 prior to u45 that affected Mockito. The first working version of the JDK is u45 it we don't support earlier buggy version of the JDK. This issue is different though, I don't know if there's enough life throughput for this bug, especially given the issue is resolved with later version of the JDK.

[2017-01-20 12:50] raphw commented on #892
Do you have some special setup in your class loaders? I wonder how this could even relate to the update, there should not be a race to loading these classes.

[2017-01-20 13:12] raphw commented on #892
Travis runs on a newer version for the non-dockerized build: https://github.com/travis-ci/travis-ci/issues/3259#issuecomment-130860338 - It is really a pitty how far behind Travis is in this regard, but I am afraid there is little we can do here.

[2017-01-20 13:13] bric3 commented on #892
@Stephan202 Could it be related to Azure libraries ? I saw a `com.microsoft.windowsazure.services.servicebus.ServiceBusContract` ?

[2017-01-20 13:15] bric3 commented on #892
@raphw Yes @travis-ci is disappointing in this regard...

[2017-01-20 14:39] bric3 commented on #890
Thanks @vipheyue for reporting, @raphw is proposing a documenation fix and a code fix for this usage issue. See #893

[2017-01-20 15:07] szczepiq opened #894 "Javadoc generation fails with jdk1.8.0_121"
When I set the jdk to jdk1.8.0_121 the build fails javadoc error.

Full log including steps to reproduce:

[code]

[2017-01-20 15:42] dimosr opened #895 "Documentation missing clarification for consecutive stubbing"
The [documentation](https://static.javadoc.io/org.mockito/mockito-core/2.6.3/org/mockito/Mockito.html#10) for consecutive stubbing is missing a clarification.

When multiple when/thenReturn statements are being used instead of chaining .thenReturn() statements, each stubbing overrides the existing one.

[2017-01-20 15:43] dimosr commented on #895
I am going to submit a Pull Request, adding an additional clarification with code example in the docs.

[2017-01-20 16:29] bric3 commented on #894
I tried to add in previous Open JDK 8 (102) but the option is not recognized

[code]

I'll try later with the same JDK

[2017-01-21 00:08] szczepiq commented on #876
Please consider backwards compatibility when implementing the fix. Thanks!
On Fri, Jan 13, 2017 at 06:51 Brice Dutheil <notifications@github.com>
wrote:

--
Szczepan Faber
Founder @ http://mockito.org | Twitter https://twitter.com/mockitoguy
Author @ https://www.linkedin.com/in/szczepiq/recent-activity/posts/

[2017-01-21 10:04] Stephan202 commented on #892
@bric3, you were onto something. When I disable the two tests that mock `ServiceBusContract`, there rest of the build (821 mock statements across 167 test classes) passes fine. Looking at `ServiceBusContract` (we're using `com.microsoft.azure:azure-servicebus:0.9.7`), the only "interesting" thing about it is that it is a recursive type:

[code]

@raphw, might that be related?

[2017-01-21 10:44] raphw commented on #892
Hey Stephan, you might be on to something, even though Byte Buddy resolves generic types lazily to support generic types. I will have a look and see if I can reproduce something.

[2017-01-21 11:22] raphw commented on #892
@Stephan202 I tried to reproduce your bug by running a u31 version, mocking the `ServiceBusContract` from multiple threads. I do not experience a lock.

Could you:
1. Check what monitor is hold in your setup from the threads in question?
2. Attempt a minimal reproduction of your bug?

I wonder if we should not lock the class for the cache but be a bit more granular by locking the class' loader ins

[2017-01-21 12:19] bric3 commented on #876
That's indeed a good point, I'm hesitating. Since mockito returns non null collections, it seems a consistent to return a non null array by default too.

If merging this one in mockito 2, that may break tests that rely on the default behavior only.
That requires at the very least a minor version bumb. I'm quite enclined to get it right in mockito 2, but it could it wait for mockito 3.

[2017-01-21 12:29] #895 closed

[2017-01-21 13:00] bric3 commented on #876
While cleaning stuff, just noticed there's a `ReturnsMoreEmptyValues` that already do that.

However it does more things than simply retuning non emtpy arrays. It returns empty strings too.

[2017-01-21 15:57] szczepiq opened #898 "Design MockitoSession API improvements for unit test frameworks"
It is desired that JUnit rule / runner uses MockitoSession API (#865) so that they dogfood our public API. In order to do that we need to do more design work.

Mockito Session API (#865) is geared towards using it in 'setup' and 'tear down' methods of the unit test framework. In 'tear down' method, the user does not have access to the exception (test failure). In JUnit rule, we do have access to t

[2017-01-21 16:44] Stephan202 commented on #892
@raphw, I created a Gist with a reproduction case: https://gist.github.com/Stephan202/2a1650945c2c633217d4f30f89e4412e (the `.java` files should be in `src/test/java/com/example/`, but Github Gist doesn't allow me to make that explicit, unfortunately.)

For this reproduction case, the full thread details for the relevant two threads are:
[code]

[code]

[2017-01-22 20:33] ihanjo opened #899 "Matcher Support for Kotlin"
I've recently started using Kotlin and am loving it so far. I've however had to use some workarounds for Mockito matchers, since Kotlin doesn't like null -- a great thing IMO. See http://stackoverflow.com/q/30305217

There is a library out there called [MockitoKotlin](https://github.com/nhaarman/mockito-kotlin) that provides matchers that do work with Kotlin, but I'd rather use Mockito directly si

[2017-01-22 20:43] TimvdLippe commented on #899
I think this usecase can be safely supported with the new lambda when syntax and implementation. Will try it out!

[2017-01-23 00:20] mockitoguy opened #900 "Avoid pom.xml without dependencies"
We hit the problems twice already where the pom.xml was generated without dependencies. Let's put some check in place to avoid that in the future.

 - [ ] When work is started on this issue, add more information to the description of the problem.

[2017-01-23 00:23] szczepiq opened #901 "Review all incubating API and remove or promote to stable"
Let's avoid the situation where @Incubating API stays incubating for too long. In general, we should not have incubating API that is more than 6 months old. If we don't get feedback from users, we need to decide whether to remove the API, promote it to stable or build some kind of plan for the API (like getting more feedback).

[2017-01-23 04:31] szczepiq commented on #876
Nice catch! ReturnsMoreEmptyValues was intended to replace ReturnEmptyValues in the next major version of Mockito. However, it was deprioritized and/or forgotten and we never got to do it.

Including this change in Mockito 2 will potentially break tests. The failure may not be easy to debug / understand (sudden change of behavior of test). Such changes should only be included in major version upda

[2017-01-23 06:32] ihanjo commented on #899
@TimvdLippe Do you think it's a lot of work to support it? What do you envision this snippet would look like with the lambda when syntax?

[code]

[2017-01-23 09:59] bric3 commented on #876
@szczepiq Yes in the end I only pushed the change to target master in #897

[2017-01-23 10:00] TimvdLippe commented on #899
@ihanjo There is an open proposal PR at #742 . The syntax I imagine will be

[code]

Note this is typesafe and Kotlin-friendly because passing the matcher is decoupled from the method invocation.

[2017-01-23 10:06] bric3 commented on #900
Question, do we want to add a check for mockito-core-dependency as well ?

mockito-android don't have such dependency I think it would be nice.

[2017-01-23 10:07] #878 closed

[2017-01-23 10:21] bric3 commented on #899
I'm not sure this should be part of mockito yet. As matchers will create new mocks for types without default values.

[2017-01-23 10:23] TimvdLippe opened #903 "Review usage of linter during build"
Given the amount of stylistic changes lately in primarily @bric3 PRs, I think we should consider installing a linter to make sure the style is enforced project wide. In my opinion this linter should be extremely lenient, just enforce some very simple rules.

We can look into configuring Checkstyle such that it checks a handful of properties. We can always later decide to make the linter more stric

[2017-01-23 10:33] TimvdLippe opened #904 "Remove unnecessary classes"
Looking at https://codecov.io/gh/mockito/mockito/list/e92b0be0c6362157e2c8ae349a2b9d1295065d2e/src and sorting it by coverage, it appears that there are some classes that are completely untested. Taking another closer look reveals some candidate classes that can be removed. For example `MockitoLimitations` is [only used in the Reporter](https://github.com/mockito/mockito/search?utf8=%E2%9C%93&q=Mo

[2017-01-23 11:05] bric3 commented on #903
I have to push the code style decided a few months ago, maybe gradle can generate a section with the mockito style for IDEA (and eclipse and netbeans)

[2017-01-23 12:37] jonfreedman commented on #185
There's a new `nullable` matcher in ArgumentMatchers which does the above

[2017-01-23 13:47] #892 closed

[2017-01-23 13:57] bric3 commented on #889
@SylarChen I'm closing this one, but feel free to reach us if needed.

[2017-01-23 13:57] #889 closed

[2017-01-23 13:58] bric3 commented on #855
@eygraber Can we close this issue since it's a roboelectric bug ?

[2017-01-23 14:47] #814 closed

[2017-01-23 14:49] bric3 commented on #894
Could it be related to #787 ?

[2017-01-23 14:51] TimvdLippe commented on #894
I will also take another look at the service-worker thing, as it does not appear to work with javadoc.io. If I can't fix it (after exams :wink: ) then I will simply revert it.

[2017-01-23 15:09] eygraber commented on #855
Yup

[2017-01-23 15:09] #855 closed

[2017-01-23 15:48] bric3 commented on #894
;)

Contiuous improvements

[2017-01-23 20:07] Stephan202 commented on #892
@raphw, thanks! I've tested with version 2.6.8 and can confirm the fix works.

[2017-01-24 10:46] arend-von-reinersdorff commented on #810
I just came across this problem as well: I found a comment on an empty super class warning not to delete it because otherwise a unit test would fail. See below for a unit test to reproduce this with Mockito 2.6.8 and Java 8.

I agree with @yuranos87 - it's very confusing if a test passes only because it has a superclass. From the comments in https://code.google.com/archive/p/mockito/issues/489 I u

[2017-01-24 10:50] TimvdLippe commented on #810
Forcing an empty super-class does not seem right. Reopening for further investigation.

[2017-01-24 10:54] bric3 commented on #810
@arend-von-reinersdorff I have been able to reproduce, thanks for the SSCCE. That's indeed a valid issue.

[2017-01-24 11:02] bric3 commented on #810
@arend-von-reinersdorff I'd like to add this is a **multilevel injection**, which is **not supported** by mockito, and will probably never be. The only fix will be to make the behavior consistent regardless of the empty class or not.

[2017-01-24 15:15] szczepiq commented on #892
This bug was really tricky. @raphw and @bric3  THANK you for being super fast in reacting to issues reported by our users. It's a pleasure working on open source together :1st_place_medal:

@Stephan202, thank you for confirming the bug is fixed and reporting this issue diligently. It is very helpful to us when we get comprehensive bug reports such as this one.

[2017-01-24 15:49] bric3 commented on #810
I wonder if I should remove this edge case.

[2017-01-27 15:02] RajuSE opened #910 "java.lang.IllegalStateException: Could not initialize plugin"
I'm trying to run instrumentation test on AS.

stuck with this Error:
java.lang.IllegalStateException: Could not initialize plugin: interface org.mockito.plugins.MockMaker at org.mockito.internal.configuration.plugins.PluginLoader$1.invoke(PluginLoader.java:66) at java.lang.reflect.Proxy.invoke(Proxy.java:393) at $Proxy4.isTypeMockable(Unknown Source)

Stackoverflow :
http://stackoverflow.com/q/41

[2017-01-27 15:04] szczepiq commented on #889
Thank you raising this ticket and @bric3 for eloquent and thorough answer!

At the time when I first read it, it just made my day. I literally laughed on the floor.

[2017-01-27 20:55] tmurakami commented on #910
Hi.

Try adding the following snippet to the dependencies section in your build.gradle.
[code]

[2017-01-29 04:31] szczepiq commented on #720
I'll go ahead and close this ticket. The feedback documented here is extremely valuable and it is directly related to Mockito "strictness" (#769).

[2017-01-29 04:31] #720 closed

[2017-01-29 04:44] szczepiq commented on #873
I was able to reproduce the problem. @gysel, thank you very much for fantastic report and super easy way to reproduce the issue.

In this case, we cannot really do much. Mockito syntax is clean but it has trade-offs. Example:

[code]

In above example, Mockito is not aware that there is incorrect stubbing. doReturn() api for stubbing does not have this problem. When we change the syntax, we should

[2017-01-29 04:46] szczepiq commented on #784
Can we close this ticket?

[2017-01-29 04:48] mockitoguy opened #911 "Mockito Continuous Delivery Pipeline 2.0"
Proposed changes on easy-to-grasp diagrams are documented on [Mockito blog article](http://blog.mockito.org/2017/02/mockito-continuous-delivery-pipeline-2.0.html).

## Current release model

Every code change results in a new version in Central repository (not snapshot, a real version). More information on [Continuous Delivery in Mockito](https://github.com/mockito/mockito/wiki/Continuous-Delivery

[2017-01-29 04:52] szczepiq commented on #857
Closed via #865

[2017-01-29 04:52] #857 closed

[2017-01-29 04:57] szczepiq commented on #666
Do we still need this feature? What are the use cases?

[2017-01-29 04:59] szczepiq commented on #694
I'm convinced, let's ship it instead of removing :)

[2017-01-29 04:59] #694 closed

[2017-01-29 12:27] TimvdLippe commented on #666
I want to be able to publish a new version by commit message. This was for example a problem when I was fixing the Android dependency problem. I was unable to publish a new version since the automatic system was unable to detect a meaningful change. Since the automatic system is never 100% correct, we should be able to manually override it via commit message.

[2017-01-29 12:29] TimvdLippe commented on #784
The upstream issue of Travis has not been closed yet. Unsure what we can do from our part.

[2017-01-29 12:52] TimvdLippe opened #913 "Mockito 2.7.0 build did not execute git commands"
The current `release/2.x` branch was not updated by the release bot since the `git` command failed. See https://travis-ci.org/mockito/mockito/jobs/196275405#L596

[2017-01-29 15:50] szczepiq opened #915 "Release process failed on 'bumpVersion' release step"
Mockito build failed on "bumpVersion" release step ([full log](https://travis-ci.org/mockito/mockito/jobs/196275405), [gist](https://gist.github.com/szczepiq/6fe5853d1f31585605c7ffe645347c69)).

### Root cause

"org.mockito.release-workflow" plugin ([GitHub repo](https://github.com/mockito/mockito-release-tools)) adds "incrementVersion" API method that Mockito uses for release automation. The meth

[2017-01-29 15:52] TimvdLippe commented on #915
This is a duplicate of #913

[2017-01-29 16:11] szczepiq commented on #915
Hey @TimvdLippe, I didn't see the other issue reported. I'd prefer to keep this one open because it has more details.

[2017-01-29 16:13] szczepiq commented on #915
BTW. thank you for fast reaction and reporting the issue :) I looking into it now.

[2017-01-29 16:13] TimvdLippe commented on #915
Instead of reopening, you can add the details to the other issue. It does not make sense to keep 2 open

[2017-01-29 16:22] szczepiq commented on #915
I would have to literally copy everything from this ticket to your original report, updating the title, description, etc. I'm not sure if it makes sense right now. I'm using this ticket as a work log. I'll close it once I finish.

[2017-01-29 17:01] mockitoguy opened #917 "Ensure Mockito uses latest version of release tools"
Mockito needs to be able to take advantage of the improvements and bugfixes in  ["org.mockito.release-workflow" plugin](https://github.com/mockito/mockito-release-tools) automatically, without the need to bump version manually.

I've tried to use '+' notation for the 'mockito-release-tools' dependency but it failed with:

[code]

Next step: report to Gradle forums and link the ticket here. Are dyn

[2017-01-30 10:45] mapkuff opened #918 "Mockito matcher for ZonedDateTime."
i have some code like this.

    ZonedDateTime lastSync = ZonedDateTime.now().truncatedTo(ChronoUnit.SECONDS);
    when(service.doSomething(eq(xxx), eq(lastSync))).thenReturn("something");

but matchers won't work correctly.
(ZonedDateTime which is argument for this method mock is from parsed one)

currently I need to do this way.
but code is really ugly.
:(

        when(service.doSomething(eq(xx

[2017-01-30 11:06] mapkuff commented on #918
I think I found a problem.
ZoneId is different string representation.
:(

[2017-01-30 11:06] #918 closed

[2017-01-30 13:54] ChristianSchwarz commented on #815
@szczepiq

Yes it is possible to write a lambda that contains a call to a non void method. It is also possible to call more that one mock method or even to pass a lambda body that is empty. These cases are already covered by the current implementation by throwing an Exception.  So the type `VoidCall` tries to underline the fact that only one void call is allowed.

[2017-01-30 14:44] RajuSE commented on #910
@tmurakami Thanks!

[2017-01-30 14:44] #910 closed

[2017-01-31 03:24] szczepiq commented on #618
I documented draft plan for new release cadence at issue #911 (interesting number, huh? coincidence? :). I would love to get feedback!

[2017-01-31 07:14] lucasvc opened #919 "FAQ is not updated with Mockito 2 new features"
The current [FAQ](https://github.com/mockito/mockito/wiki/FAQ) points that Mockito can't mock final classes or objects.
But [what's new](https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#unmockable) point that can be done now.

One side-question: What about static methods and constructors? Still unmockable?

[2017-01-31 10:10] TimvdLippe commented on #911
I do agree for major, but for minor I am not sure. I think we should not immediately release a new minor version when 1 function was added, most notably because we might want to add a range of functions in all separate PRs (since they are separate logical units). Therefore I would say to not do it automatically, but presumably faster than with patch releases. E.g. minor every week published, patch

[2017-01-31 14:59] szczepiq commented on #911
Great feedback thank you!

"minor" version (e.g. middle number :) is not automatically bumped by the system. It's us (or the PR submitter) that makes a judgement call to explicitly bump minor version. This decision is based on the gravity of the changes. We don't bump minor version unless it has substantial changes. If it does have substantial changes, it probably should be released to mass audien

[2017-01-31 15:04] TimvdLippe commented on #911
Makes sense, 👍

I think for clarity's sake, they should be pushed. It would be weird to browse maven central and see missing versions. Let's see what the others think.

Latest - Stable?

[2017-01-31 15:06] bric3 commented on #919
Thanks for the report.

Yes it still is unavailable for now. We'll see in the future, what is possible with that, **or not**.

[2017-01-31 15:18] micheljung commented on #152
With:
[code]

I'm getting:
[code]

At:
[code]

[2017-01-31 15:23] bric3 commented on #919
Here's the updated FAQ. Note that anyone can update the wiki.

https://github.com/mockito/mockito/wiki/FAQ#what-are-the-limitations-of-mockito

[2017-01-31 15:23] #919 closed

[2017-01-31 17:05] micheljung commented on #769
Since your Javadoc asks for feedback, here's my case:
[code]
It tests auto-completion of an input field.

`getPlayerNames()` is stubbed, but never called in working code - because if the caret is at position 0, there should be no autocompletion. If I remove the stubbing it's possible to break the autocompletion without being detected; the test would succeed not because it's properly implemented, b

[2017-01-31 18:26] adakevms opened #921 "Unused stubbing does not fail when it should under certain conditions"
If I have a test (Foo) that has an unused stub, Mockito detects that the stub is unused and the test fails.
If I add a second test (Bar) that contains a simple verify() on an unstubbed method, Foo will pass, and Bar will run normally.

I am using:

- Mockito 2.7.0
- JUnit 4.12
- JDK 1.8.0_112
- Windows 7 (company forced. out of my control)

There was no stacktrace.

Here is my test class and assoc

[2017-01-31 21:12] arend-von-reinersdorff commented on #911
I can think of two popular projects which sometines skip versions:
- [Maven](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.apache.maven%22%20AND%20a%3A%22maven%22), missing versions eg 3.3.2, 3.3.4-3.3.8 (and upcoming 3.5.0 will skip 3.4.0)
- [Tomcat](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.apache.tomcat%22%20AND%20a%3A%22tomcat%22), missing versions eg 8.5.10, 8.5.7, 8.0.4

[2017-02-01 01:25] szczepiq commented on #769
@micheljung, my recommendation for this scenario is exactly using verify + never :) I will assume that your use case is satisfied. Looks like strict stubbing nudged you to improve this test!

Thank you very much for reporting. This is exactly kind of feedback we're looking for when evaluating strictness feature.

[2017-02-01 02:56] szczepiq commented on #911
@arend-von-reinersdorff, thank you for feedback and examples!
@TimvdLippe, currently, I most like following naming scheme for repositories: "all-versions" and "notable-versions".

[2017-02-02 18:41] andrew-carmichael opened #922 "Byte buddy exceptions cause Android instrumented tests to fail."
Background:
I attempted to upgrade a fairly large project from mockitio 1x to 2x.  I discovered that mockito 2 tests work only when run using the gradle wrapper, not when launched more directly with adb.  The gradle wrapper is sufficient for smaller projects but we are using adb for its ability to shard tests across multiple agents.  Mockito 1.x does not have this limitation.

Environment:
OS: OSX

[2017-02-03 04:31] szczepiq commented on #921
@adakevms, thanks a lot for reporting! We want to make sure unused stubbing and strict stubbing features are rock solid. I will take a look at this problem tomorrow.

[2017-02-03 04:33] szczepiq commented on #913
I fixed it. Thank you for swift reporting (and nice suggestions on how to manage tickets ;).

[2017-02-03 04:33] #913 closed

[2017-02-03 04:42] szczepiq commented on #700
Ticket moved to mockito-release-tools repository: https://github.com/mockito/mockito-release-tools/issues/3

[2017-02-03 04:42] #700 closed

[2017-02-03 13:44] szczepiq commented on #921
@adakevms, I was unable to reproduce your problem. Can we dig into it together? I converted your sample into reproducible, self-contained class ([see gist](https://gist.github.com/szczepiq/f4249b6d655f3286e40f05ec332b7648)).

Can you try importing the class from the gist to your environment and run the test? Do you still observe misbehavior? What version of Mockito do you use?

Thank you again for

[2017-02-03 14:35] mockitoguy opened #925 "IntelliJ IDEA reports some exceptions twice"
When I run following test I see "Wanted but not invoked (...)" message twice in IntelliJ. It clutters the view and makes the errors reported from Mockito less readable / elegant.

[code]

I dig into this problem and found a reproducible sample that does not use Mockito. I suspect this could be a problem of IntelliJ IDEA. Sample without Mockito:

[code]

Next steps: report the issue to JetBrains

[2017-02-03 18:42] thekingnothing opened #927 "Mockito can't unbox Void"
Hi,

The following [bug](https://github.com/powermock/powermock/issues/708) was created for PowerMock:

But PowerMock just delegates call to Mockito in this case and Mockito throws exception:

[code]

I have doubts about expected behaviour. For one side, method return something, but it return a `Void` which always is just `Void` and nothing could be changed.

Anyway, it could be fixed only on Mock

[2017-02-03 23:25] tmurakami commented on #922
I also faced this issue and found a workaround.

### Workaround

Add the following AndroidManifest.xml to your **androidTest** directory.
[code]

Or if using your own AndroidJUnitRunner, you can also set the notPackage option on onCreate().
[code]

[2017-02-04 12:54] tmurakami opened #929 "New 'mockito-inline' artifact does not work"
mockito-inline 2.7.2

build.gradle:
[code]

Test target:
[code]

Test for Foo:
[code]

Test command:
[code]

Test report:
[code]

### Reason

`mockito-extensions/org.mockito.plugins.MockMaker` is not included in the mockito-inline.jar.
[code]

In [the inline subproject](https://github.com/mockito/mockito/tree/release/2.x/subprojects/inline), org.mockito.plugins.MockMaker is in `src/resources/mocki

[2017-02-04 14:03] szczepiq commented on #915
Already fixed! Reference tickets will be worked on.

[2017-02-04 14:03] #915 closed

[2017-02-04 14:05] szczepiq commented on #903
Absolutely great idea. Perhaps it's worth waiting for Mockito3 before we do that to avoid merging problems?

[2017-02-04 14:08] szczepiq commented on #851
Great investigation so far! How can we make progress on this ticket?

[2017-02-04 14:11] szczepiq commented on #713
Let's also link recent article from DZone.

[2017-02-04 14:11] TimvdLippe commented on #851
I was working on the benchmark, but hitting some brick walls with classloaders. You can see the PR at #856

[2017-02-04 14:13] szczepiq commented on #682
I say we close the ticket. Nobody worked on it for almost 2 months and I don't think anybody will. I think there more interesting features and enhancements we can work on.

The retry rule works like a charm :) Let's move on!

[2017-02-04 14:13] #682 closed

[2017-02-04 14:58] mockitoguy opened #930 "Update contributing guidelines"
Goal: get more high quality contributions

Current contributing guidelines are great. I would like to include a list tickets that potential contributors can work on. This requires vetting the tickets and scoping them so they are ready to be worked on by external contributors.

This ticket is a placeholder, more details to be added when one starts working on it. Assigning myself so that I have it o

[2017-02-04 15:03] szczepiq commented on #405
I'll close the ticket because I don't see a clean way of detecting truly unused mocks.

[2017-02-04 15:03] #405 closed

[2017-02-04 15:05] szczepiq commented on #930
Candidate tickets for scoping and delegating:
 - #738
 - #716
 - #697

[2017-02-04 23:03] fluentfuture commented on #685
I've thought about some variant of this feature for a while, so here's some feedback.

It'd be nice if we have some concrete use cases to study.

In my own experience, I have mostly managed to avoid needing this feature by spying non-static abstract class.

For example, if the abstract class I'm spying on needs two constructor parameters, I do this:

[code]

Fwiw:
1. This is static type safe, and

[2017-02-04 23:07] fluentfuture commented on #680
@bric3 Are you okay with allowing @Spy on interfaces? If so, I'll send a PR.

[2017-02-04 23:27] fluentfuture commented on #685
I forgot to mention that it is possible with today's API to pass different constructor parameters, through MockSettings. Like the following:
[code]
Then just call it with:
[code]

Again, this is static type safe and IDE friendly compared to reflection-based API.

The `withSettings()` thing has a bit of discoverability problem and I suppose many people don't know they can do this. Alternatively, I

[2017-02-05 10:26] bric3 commented on #680
@fluentfuture yes. I have worked on it in #906. But I won't have a computer near me for a week still.

[2017-02-05 21:41] cfries commented on #894
From the release notes: http://www.oracle.com/technetwork/java/javase/8u121-relnotes-3315208.html

[2017-02-06 08:28] imod commented on #405
@szczepiq really? well, thats at least a clear statement for us to stay on easymock...

[2017-02-06 08:39] ChristianSchwarz commented on #405
At least logging potential unused mocks should be possible.

[2017-02-06 09:58] ashleyfrieze commented on #405
@imod - can you provide a snippet of what you're currently doing in EasyMock. I'm pretty sure Mockito 2 already supports it, but at least, if we convert it across to Mockito syntax we can see the gap.

As a previous user of EasyMock, I can safely say, I'd never go back and use it!

[2017-02-06 14:43] szczepiq commented on #405
@imod, @ashleyfrieze, I closed this ticket because "detecting unused mocks" is something we cannot cleanly implement. This ticket sidetracked into a different problem - boilerplate code when verifying stubbed invocations (see https://github.com/mockito/mockito/issues/405#issuecomment-260749592). The latter use case is currently addressed with "strict stubbing" feature. See the [blog post](http://b

[2017-02-06 14:48] mureinik commented on #685
I think that overloading `useConstructor()` is a much cleaner approach than adding a new `useConstructorArgs(Object...)` method.
It also makes the method much easier to discover, as it's right there, and the user's IDE will offer the argument list.

I've coded this approach in PR #935. Feedback is more than welcome!

[2017-02-06 17:32] imod commented on #405
@ashleyfrieze

here is an example:

[code]

This is a very simple example, but the essence of it is, that my test cases fails when my expected service calls are not done, or if more then these service calls are done on the mocks.

@szczepiq I will try again, but if this is the same as @TimvdLippe described above, then I fear I will have the same question again: how can I make his example fail?

[2017-02-06 20:24] andrew-carmichael commented on #922
@tmurakami Wonderful.  Thanks for the workaround.  Fixed the issue for me.

[2017-02-06 20:58] fluentfuture commented on #685
Agreed that ```useContructor(args...)``` reads nicer.

Personally, I'm not convinced that the dynamic type support is worth the effort. It seems to be a slippery slope toward defeating Java static type safety, which reminds me of the ancient JMock vs. EasyMock comparison where the former relied on type-less reflection while the latter is static type safe. If Java doesn't allow you to call `new Foo

[2017-02-06 22:57] raphw commented on #922
The problem is that the Android test suite scans all classes and attempts loading all of them. The Mockito and Byte Buddy dependencies should however be off limits as they contain code that the Android runtime does not support, therefore, the explicit exclusion fixes the problem.

I am currently looking for a way of letting Android know from the library that we will not contain any test sources. T

[2017-02-07 02:21] tmurakami commented on #929
Reproducible project:
[mockito_issue_929.zip](https://github.com/mockito/mockito/files/756407/mockito_issue_929.zip)

[2017-02-07 06:08] tmurakami commented on #922
I have made the workaround library for this issue.
https://github.com/tmurakami/mockito-android-fix-922
You can use it if you want.

@raphw If it is possible to change the mockito-android artifact to an android-gradle project, you can solve this issue just by preparing AndroidManifest.xml in the src/main directory.
Please refer to my library.

[2017-02-07 07:49] raphw commented on #922
Thanks for the detailed description of a work-around! I will integrate this tonight. If you find the time, feel free to submit a PR.

[2017-02-07 12:23] raphw commented on #929
Seems like our Gradle build is not set up to include this file on Travis. It does work on my local machine, though. Strange things, thanks for reporting!

[2017-02-07 15:27] #927 closed

[2017-02-07 16:24] adakevms commented on #921
@szczepiq I apologize for the delay in getting back to you.

I imported your self-contained class into eclipse and was able to reproduce the problem. At first, I thought it may have been the m2eclipse plugin acting funny, but I also ran the tests from the command line and got the same result.

I had to do two things to your class, neither of which should cause a functionality change.
- rename the

[2017-02-07 18:09] #929 closed

[2017-02-07 20:35] raphw commented on #922
@tmurakami Could you have a look at the `android-bundle` branch and maybe try to build it? Is this artifact compatible without any additional setup? Thanks for your feedback!

[2017-02-08 04:17] tmurakami opened #937 "'javadoc' task fails on Ubuntu 16.10"
- Ubuntu 16.10
- Oracle JDK 1.8.0_121

[code]

javadoc.options:
[javadoc.options.txt](https://github.com/mockito/mockito/files/759699/javadoc.options.txt)

Do i need any additional settings?

[2017-02-08 05:10] tmurakami commented on #922
@raphw I have tried to build the android-bundle branch.
[code]

I suppose that you have to prepare these files for Android.
- library.gradle
- pom.gradle
- publishable.gradle

In addition, you probably need to change travis.yml to build Android project.
(Sorry, I am not familiar with Travis CI.)

I think I can add gradle files for Android project.
Should I submit PR for the 'android-bundle' branch

[2017-02-08 08:16] raphw commented on #922
Please do! If we get the artifact right, we can adjust the Travis build from there! Thanks a lot!

[2017-02-08 10:09] TimvdLippe commented on #937
This is a duplicate of #894 and should be fixed by #934

[2017-02-08 10:09] #937 closed

[2017-02-08 10:10] #894 closed

[2017-02-08 22:14] tinkerware commented on #911
This looks good! I agree with the model where minor versions are in release channel (notable-versions) and patch versions are in beta channel (all-versions), modulo hot fixes. If patch versions are pushed to notable-versions _at the time they are released_, you defeat the purpose of the release channel; your "notable versions" channel would churn multiple times daily again.

Maybe Mockito can push

[2017-02-08 22:55] tinkerware commented on #618
As an anecdote, I want to talk about what I had to do just today when updating dependencies on a project using both Mockito and ByteBuddy.

I had Mockito on a recent enough `2.5.4` and a separate internal library had ByteBuddy on `1.6.0`. When I upgrade Mockito to its latest as of today, I end up with Mockito on `2.7.5`. ByteBuddy dependency from Mockito is at `1.6.5`, however. Additionally, ByteB

[2017-02-09 04:58] mattnelson commented on #911
I have an alternative opinion from everything proposed so far. I propose introducing the usage of the `classifier` attribute to differentiate between community and production releases. With this proposal the current CD procedure would be left unchanged and consumers who want to subscribe to the latest releases can continue to do so with no changes. For those consumers who want to limit the thrashi

[2017-02-09 05:32] szczepiq commented on #666
Thank you for feedback. Let's keep the ticket open.

[2017-02-09 05:52] szczepiq commented on #405
@imod, here's Mockito equivalent of your EasyMock code sample:

[code]

[2017-02-09 07:28] imod commented on #405
@szczepiq many thanks!
what I don't get by this example, is that I have to call `verifyNoMoreInteractions(...);` I already defined all the calls I expect and the rule is defined as strict - this should be clear enough from my PoV

[2017-02-09 11:41] TimvdLippe commented on #911
@mattnelson That is an interesting concept I had not heard of! I am not sure though if it would be valid for our usecase, but definitely worth investigating.

[2017-02-09 14:48] wongkwokfai commented on #135
@Stuie,
Did you manage to get PluginSwitch working?
If yes, could youd describe what you did?

Thanks

[2017-02-10 08:47] ChristianSchwarz opened #939 "Better error message if mock-maker-inline is used on an Android"
The "mock-maker-inline" is not available on Android, the error message can be optimized so the message "This mock maker is not supported on Android" stands on the first line of the exception.

Currently users must dig in the root cause of the IllegalStateException: _Could not initialize plugin: interface org.mockito.plugins.MockMaker_.

[code]

[2017-02-10 13:26] ChristianSchwarz commented on #939
@raphw I wonder why I see this error at all, since I am running the test locally on a "normal" JVM+JRE not on the device or emulator!

[2017-02-10 14:15] raphw commented on #939
Urgs, we probably should do some unwrapping.... Should be smart enough to understand the message or we need to introduce a specific type.

[2017-02-10 18:36] xenoterracide opened #940 "defender (default) methods under documented"
hmm...

    interface I {
        int i();
        default int f() {
            return i() + 1;
        }
    }

    @Test
    public void testFAddsOne() {
        I h = Mockito.mock(I.class);
        when(h.i()).thenReturn(2);
        when(h.f()).thenCallRealMethod();
        assertEquals(3, h.f());
    }

why do you have to call `thenCallRealMethod()`? probably something to do with the design o

[2017-02-10 20:05] jpenglert commented on #824
Adding this comment in case it helps others who want to use a JRE to run their tests with MockMaker plugin enabled.

Our company uses a JRE checked into VCS to run tests locally and in CI. This is the same JRE we ship embedded with our app installers. This is nice because it allows us to ensure the everyone is using the same JRE that gets shipped in production to run tests. Since MockMaker require

[2017-02-10 22:42] szczepiq commented on #743
This issue will be resolved by: https://github.com/mockito/mockito-release-tools/issues/3

[2017-02-10 22:47] szczepiq commented on #911
@mattnelson, interesting idea! At this point I want avoid using classifiers because they would complicate things. If you get this working for some project or there is a reference project that uses this method, we would like to know the experiences.

@tinkerware, thanks for feedback!

[2017-02-10 23:15] #743 closed

[2017-02-11 05:39] szczepiq commented on #917
Update: bumped topic on Gradle forums: https://discuss.gradle.org/t/why-the-gradle-central-plugin-repository-does-not-support-dynamic-plugin-versions/11788/2?u=szczepan_faber

[2017-02-11 23:54] mockitoguy opened #941 "Improve clarity of release notes"
Let's make Mockito release notes more useful to the community! [Current release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md) are automatically generated by [Mockito Continuous Delivery Pipeline](https://github.com/mockito/mockito/wiki/Continuous-Delivery-Overview).

Main use cases for release notes:
 - to make a decision whether it is worth upgrading. T

[2017-02-12 15:07] szczepiq commented on #680
Great discussion.

+1 to allow spying on interfaces
-1 to adding new public API method like 'fake' - it would make the api more complicated just for the sake of a single use case
+ 0.5 to changing the default behavior of Mockito 3 to 'spy' interface defender methods by default. This way it is the most intuitive behavior users expect. See https://github.com/mockito/mockito/issues/940

[2017-02-12 15:22] szczepiq commented on #680
I attempted to update the ticket description to reflect the outcome of the discussion. Feel free to change if needed.

[2017-02-12 15:23] szczepiq commented on #940
Thank you for reporting! We have discussed this issue at #680.

@fluentfuture wanted to contribute the pull request. If that does not happen, @xenoterracide please step in and help us implementing this enhancement!

[2017-02-12 15:30] szczepiq commented on #618
@tinkerware, this is extremely useful feedback. Thank you very much for reporting. I will start an internal discussion about the idea of shading the bytebuddy jar.

In the early days of Mockito, we used to ship with direct dependency on cglib. However, it was causing similar problems to our users and we started shading cglib. Bytebuddy is getting popular (rightfully so!) and will be used more more

[2017-02-12 16:20] szczepiq commented on #921
Thank you for describing the problem diligently. I was able to reproduce the scenario.

This behavior of Mockito is expected. We only emit the unused stubbing error when there are no other errors because we want to avoid showing "dual" error to the user. Does it explain the behavior? If it does, let's keep this ticket open and update the documentation so that it clearly explains it. Let me know!

[2017-02-12 18:04] xenoterracide commented on #680
If I were going to add another method I would call it `stub` based on [Martin Fowler's]( https://martinfowler.com/articles/mocksArentStubs.html) article describing the 3.

Seems like `@Incubating Mockito.spy( Class<?> clazz )` more or less does what I expect. Ultimately finding that behavior though required quite a bit of research.

Whether or not adding `Mockito.stub( Class<?> clazz )` method wou

[2017-02-12 21:09] raphw commented on #618
@tinkerware Out of curiosity. What API of Byte Buddy do you rely on that broke since then? Typically, Byte Buddy changes its public API because it has to what happens with features that were recently added and had to prove their use in practice. This is a bit of a catch 22 where I consider anything new to be incubating without naming a maturity date or version as I simply do not know.

If there is

[2017-02-13 15:04] mockitoguy opened #943 "Should Mockito shade Bytebuddy dependency?"
The goal of this ticket is to collect user feedback and help making the decision whether to shade ByteBuddy dependency. At the moment, Mockito explicitly depends on ByteBuddy (no shading).

### Should Mockito shade ByteBuddy dependency?

For any dependency of Mockito, we can either explicitly declare the dependency in pom.xml or "shade" the dependency. Explicit dependencies are easier to manage by

[2017-02-13 16:24] ChristianSchwarz commented on #943
@szczepiq Can you add a link to the poll you started on twitter?

[2017-02-13 16:24] TimvdLippe commented on #943
@ChristianSchwarz https://twitter.com/MockitoJava/status/831153451228917760

[2017-02-13 18:53] TimvdLippe commented on #943
The poll is at 32 votes: 66% voted yes. Seems like a majority do want this change.

[2017-02-13 19:46] ChristianSchwarz commented on #680
I somehow missed this ticket. I would like to note that supporting defender methods only via `spy(..)` may break user tests. Therefore it should be re-considered to go with the `mock(..)` API.

If we have Tests that mock an interface that evolves over time using defender methods the test may break, as already described. When this can only be solved by converting 'mock(InterfaceType)' to 'spy(Inter

[2017-02-13 21:02] tinkerware commented on #618
I had code that gathered annotations from multiple "levels" (e.g. declaring type, enclosing types, package) so I used `AnnotatedCodeElement` as the common type across functions that traversed declarations. That got renamed to `AnnotationSource`. Another one is the `isGenericDeclaration` method, renamed to `isGenerified`; that was part of a matcher predicate (to be clear, I like the new names bette

[2017-02-14 00:02] epkugelmass opened #944 "With Inline Mocking enabled, Mockito throws when mocking interface with default method"
Observed:
When Mockito-Inline 2.7.6 is used to Mock an interface with a single default method, the call to Mockito.mock() returns with a MockitoException caused by an IllegalStateException in ByteBuddy

Expected:
Like in Mockito-Core 2.7.6, this call should succeed.

Minimal reproducible example:
[code]

Stack trace on invocation:
[code]

org.mockito:mockito-inline:2.7.6
org.mockito:mockito-core:2

[2017-02-14 03:56] fluentfuture commented on #680
Is it any different from API-evolution of abstract classes?

In template-method pattern, if the SUT calls an abstract method, and then later evolves to call a default method that indirectly calls the abstract method, the exact same problem can happen, no?

This kind of evolution has always been possible. And it's not clear to me that the user always means to only stub/verify the abstract method. S

[2017-02-14 10:05] skabashnyuk commented on #300
@bric3 @szczepiq
I would like to make a PR with ability to deploy TestNG support artifacts to nexus.
I assume  this lines
https://github.com/mockito/mockito/blob/release/2.x/subprojects/android/android.gradle#L17
https://github.com/mockito/mockito/blob/release/2.x/subprojects/inline/inline.gradle#L17
are responsible for that.

Are you ok guys if I'm add it here
https://github.com/mockito/mockito/b

[2017-02-14 11:50] ChristianSchwarz commented on #680
I agree if you see it like that they are pretty equal.

I want to avoid that @Spy is misused to stub in the first place. The word "spying" implies that there is something to spy on (the SUT), but for interfaces the "spying" make no sense we would spy on a mocked interface.

I agreed here too! What about a littel helper that create stubbings that call the real default method:  `Mockito.delegateDefa

[2017-02-14 12:44] mkolesnikov opened #945 "getArgumentAt is removed in 2.7.6"
I could not find this method in 2.7.6 version of InvocationOnMock and there is also no information in the release notes in the [incompatible-changes](https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#incompatible-changes-with-110). Are you going to add it again or what was the reason to remove?

[2017-02-14 15:32] xenoterracide commented on #680
I still suggest stub as the method name for that per previous reasons cited

On Tue, Feb 14, 2017, 5:50 AM Christian Schwarz <notifications@github.com>
wrote:

--
Caleb Cushing

http://xenoterracide.com

[2017-02-14 16:05] adakevms commented on #921
Thank YOU for researching it. I think having the single error displayed is fine, but yes, I agree that the documentation needs to be updated. I appreciate your help.

[2017-02-14 16:05] adakevms commented on #921
Oops. Didn't mean to close.

[2017-02-14 16:29] fluentfuture commented on #680
Did a bit of archeology. #106 has a discussion both about the API and the naming.

In that thread I argued against `spy`: "All the use cases I know of for partial mocking don't need spying".

At the time "stub" wasn't suggested but now I think about it, it seems to make sense.

Although, changing it may mean to introduce a new @Stub annotation, and deprecate @Spy AbstractClass, if we are willing t

[2017-02-14 16:34] fluentfuture commented on #685
I happened to need to dig up the history of @Spy AbstractClass in #106. And I found that all my concerns against constructor-args were already stated in that thread. And it was clear that @szczepiq is fine with the trade-off.

So, while I disagree with the design decision, my apologies for repeating myself over again. :)

[2017-02-14 17:02] TimvdLippe commented on #945
It seems that the deprecated method was incorrectly removed in #404. We have 2 options here: Re-introduce or document as breaking change. Personally I think we should list this as breaking change, which is unfortunate that we didn't list it earlier.

Also as an action point, I propose to always list a "deprecated since" mention to prevent these incorrect removal of deprecated features.

[2017-02-14 22:30] raphw commented on #618
Thanks for your feedback. True, I had to change this with respect to making type annotation resolution lazy which is was not before. Its rather the exception than the rule but in this case, it was a customer-driven innovation which is partly a requirement for keeping the library alive. I agree that I should have not done this in a minor update but the incompatibility was difficult to avoid.

[2017-02-15 15:12] fabienbk opened #946 "Weird mock behavior mix-up on non-multithreaded tests (1.10.19)"
Hi,

So I've got a some annoying randomly failing tests. They happen a lot on our CI server (quite slow, running red hat) and almost never (1 out of 10000 times) on our workstations (windows, much faster cpus).

I read with the utmost attention the error description:

[code]

... But I can't decide which one is applicable here.
- Our tests are run by maven surefire, without any threads or forks.
-

[2017-02-15 21:22] ceki commented on #520
For your information, logback uses Mockito version 1.10.19 which is apparently not Java 9 compatible. It follows that logback build fails under Java 9.

[2017-02-15 21:27] raphw commented on #520
Mockito 2 is Java 9 compatible.

[2017-02-15 21:36] ceki commented on #520
Great. Thank you.

[2017-02-15 22:45] raphw commented on #946
Have you tired a recent version? We do no longer support this version.

[2017-02-15 23:04] raphw commented on #944
Turns out the JVM does not require the generation of visibility bridge methods for default methods.

I already fixed this in Byte Buddy and its gonna be a part of the next release. If the interface is not package-private, the problem goes away.

[2017-02-15 23:09] raphw commented on #944
Turns out, too that this is a bug and the JVM throws an illegal access error when invoking a default method of a package-private type via reflection.

[2017-02-16 08:02] ChristianSchwarz commented on #945
`T getArgumentAt(int index, Class<T> type)` was deprecated with the introduction of `T getArgument(int index) ` in v2.0.51-beta with PR #373.  So yes this is a breaking change, the PR and the corresponding issue #365 should be labeled with [incompatible 1.*].

[2017-02-16 08:53] ChristianSchwarz commented on #945
I changed the "What's-new-in-Mockito-2" wiki page as suggested see -> [c7c9b9c ](https://github.com/mockito/mockito/wiki/What's-new-in-Mockito-2/_history).

[2017-02-16 11:10] yuranos87 commented on #810
@bric3 , this is all I initially asked for - consistency, not deep injection, which in this case, as @arend-von-reinersdorff suggested, would mean disallowing deep injection across all providers.
Sorry for not providing a SSCCE timely. Was distracted with my releases.
Happy to see it back on track.
Added another PR with a couple of examples - failing TestNG example, not failing TestNG example, and

[2017-02-16 13:40] aarangara opened #949 "RunnerFactory InvocationTargetException to return one more possible reason"
Currently, RunnerFactory class returns a nice message in exception.

[code]

Can we have one more line added to it, like below
[code]

I usually forget to mark my test method as public whenever I create new Test class.

[2017-02-16 13:44] TimvdLippe commented on #949
This message is thrown by JUnit if I am not mistaken and therefore we cant do anything here.

[2017-02-16 13:46] aarangara commented on #949
Isn't that coming from here src/main/java/org/mockito/internal/runners/RunnerFactory.java and not JUnit? Apologies if my question is dumb.

[2017-02-16 14:20] TimvdLippe commented on #949
In 30 min I have a laptop available, then I will check. On mobile right now and I thought it was JUnit. Will investigate :)

[2017-02-16 15:04] #949 closed

[2017-02-16 15:04] TimvdLippe commented on #949
Yes I was mistaken and updated the exception message. Thanks for contributing and sorry for my initial misunderstanding!

[2017-02-16 15:30] ChristianSchwarz opened #950 "Recruite more core developers"
Currently there are a lot of PRs and that don't get comments or merge approvals from the core developers. Since contributing mockito it a hobby of all of us it is clear that you the core dev cant do all the work alone. Maybe you should recruite more core developers or grant individuals more priviliges like closing and labeling bugs, approve or merge PRs.

Why not define a requirements lists, for a

[2017-02-16 15:31] aarangara opened #951 "anyString returning an empty string"
Does it make sense to refactor `anyString` method of `Matchers` class to return non-empty string instead of empty?

When checking on string, I (and I have seen others as well) normally use `StringUtils#isEmpty` method so that it covers both `null` and not-empty check for me. So when I test the part of code which uses this method, my test fails as `anyString` returns an empty string.

I would norma

[2017-02-16 15:33] TimvdLippe commented on #950
The current slowdown in development is primarily because both @bric3 and @raphw are heavily involved in organizing their respective conference. Once these conferences are finished I suppose there is a bigger influx in development again. In the mean time @szczepiq is working on several features and it is primarily me looking at community PRs. I am regularly skimming the list, but as I see it right

[2017-02-16 15:38] kiranbiliyawala commented on #190
You saved the day bro!
Thanks. :)

[2017-02-16 19:44] lukasz-szewc opened #952 "Javadoc, Answer1 code example does not compile."
I believe that all interfaces: Answer1, Answer2 and so on have bad code example in javadoc.

For example Answer1 has this:

`   when(mock.someMethod(anyString())).thenAnswer(new Answer<Integer, String>() {
       Integer answer(String arg) {
           return arg.length();
       }
   });`

which does not compile.
First: Answer1 should be there instead of Answer
Second: thenAnswer method does not

[2017-02-17 12:00] bric3 commented on #945
@ChristianSchwarz Thanks ! We missed that change.

I labelled the 3 tickets as 1.x incompatible.

[2017-02-17 12:00] #945 closed

[2017-02-17 12:03] ChristianSchwarz commented on #951
In fact it doesn't matter what `anyString()` returns, what matters is the condition that is checked by the matcher. The return value of any matcher should not find its way to your code under tests, since argument matchers are only passed to mock-object in a when/verify clause. I wonder how you use `anyString()` can you add a code snippet?

[2017-02-17 12:15] ChristianSchwarz commented on #952
Good find!

The example should be:

[code]

[2017-02-17 12:18] ChristianSchwarz commented on #952
The docs all other functional answers are brocken too...

[2017-02-17 12:35] bric3 commented on #943
I'm personnaly in favor to not shade byte buddy at this moment. While CGLIB had serious issues when it was shared for multiple libraries, ByteBuddy does not suffer from it. I would wait on this to have more tangible feedback.

-------------

Regarding the shading I had great difficulty to make work the gradle plugin, and ultimately failed when trying to shade the concurrent set from @raphw.

[2017-02-17 12:59] bric3 commented on #952
Thanks @lukasz-szewc for reporting.

The problem is that the java runtime does not offer a way to express variable arity. So while it is not aesthetic, we are kinda stuck with that naming style until the JVM offers a better alternative. `BiFunction` is not better than `Function2`.

[2017-02-17 15:02] raphw commented on #943
I would also recommend to not shade for the moment. I suggest to see and wait if more than a handful of people get problems. The library has matured a lot over the last year (I worked 50% of my time on the library, project related) and I got to a state where I do not see much to change in the future.

Shading does add additional complexity and size to the library. I do not think that people partic

[2017-02-17 15:56] szpak commented on #943
+1 for not shading and introduce some deprecation policy in BB (whether possible).

[2017-02-17 16:04] #903 closed

[2017-02-17 16:57] bric3 commented on #925
Do you have the link to the intellij youtrack issue ?

[2017-02-17 17:06] bric3 commented on #943
Another thing to consider if we decide to shade, then I think we should shade everything bytebuddy and objenesis.

In the same topic, manually shaded code could be made explicit, the rare apache classes, the concurency set, etc.

[2017-02-17 18:39] TimvdLippe commented on #950
Today I have cleaned up numerous PRs for various reasons: 1. They became stale due to external contributors not responding 2. They became stale because there was no action possible 3. Some small PRs which were approved by others.

As I discussed with the other core developers, I do not think we should merge PRs because they are open for too long. There was a large influx of contributions of the co

[2017-02-17 18:39] #950 closed

[2017-02-17 22:20] fabienbk commented on #946
Thanks for the answer, will do and report.
(It's going to take a while with all these any* methods that suddenly doesn't match `null` :)

[2017-02-18 13:54] lukasz-szewc commented on #952
How about old school approach: `OneParameterAnswer`, `TwoParametersAnswer` ?

[2017-02-19 00:16] enricjaen opened #958 "Document migration path of 'any()' matcher in Javadocs"
### Suggested Javadoc update

It would be useful if the docs where a bit clearer on the migration path. Any( String.class) needs to be replaced with nullable(String.class). Nowhere in the reference for the changed method was this mentioned.

### Original report

Hello,
We were trying to upgrade to mockito 2, but the change in the any() semantics is causing 100s of tests to fail. I understand the r

[2017-02-19 05:02] szczepiq commented on #680
Interesting discussion! Thank you for all suggestions.

You are right. Ideally the tests only fail when a bug is introduced.

I have a feeling the discussion is getting broader and I am not sure if still discusses the issue reported :) My immediate reaction to new @Stub interface and potential deprecation of @Spy is -1 because I don't see clear value. However, please formulate a separate ticket wi

[2017-02-19 05:11] szczepiq commented on #958
Hello! Thank you for feedback!

Do you disagree current semantics of any()? The community was asking for changing it for many years. Mockito was compatible at version 1.* for 8 years. This particular change was not really viable to implement in compatible way.

It's not really viable to offer configurable behavior of matchers (e.g. any() meaning different things depending on configuration). It cou

[2017-02-19 08:51] enricjaen commented on #958
it not a simple search+replace.  The only valid replacement is nullable(Class) , so you need to change manually each any() seeing which is the param clas, and replace by the nullable.

I didn't say I disagree neither I said to change the any behaviour. I said to make the runner configurable. The same way you have the Silent.class option, should be possible to add a Version1Compat.class, or Nullabl

[2017-02-19 12:43] enricjaen commented on #958
ok, it has not been as direct as expected as some tests needed to be fixed manually, but basically the search+replace worked for our 2000 tests. The  replacements were:
 any() --> anyObject() but is a temporal solution, as you indicate will be removed in 3.0 solution.
 any(MyClass) --> nullable(MyClass)
anyString() --> nullable(String.class)

I didn't say I disagree, just suggested a progressive u

[2017-02-19 13:11] szczepiq commented on #958
Can you elaborate on this? In current Mockito anyObject() does exactly the same thing as any() and has exactly the same signature. any() is not deprecated, though. Why don't you use any()?

[2017-02-19 13:19] enricjaen commented on #958
because it fails when the test passes a null parameter

[2017-02-19 13:45] enricjaen commented on #958
you are right, I get confused. Weren't the any() causing problems but any(Class)

[2017-02-19 13:52] enricjaen commented on #958
but its a bit confusing that any() accepts nulls and any(String.class) not

[2017-02-20 08:03] tmurakami commented on #922
FYI, in relation to #943, shading Byte Buddy will probably solve this issue.
Because Android test runner does not scan org.mockito classes.

In the latest test runner `com.android.support.test:runner:0.5`, the following packages are not scanned by default.
[code]
from `android.support.test.internal.runner.TestRequestBuilder#L63-L71`

[2017-02-21 06:49] raphw commented on #944
This is fixed in the latest Byte Buddy release, we just need to update.

[2017-02-21 06:51] raphw commented on #922
I did not know about the explicit exclusion but I did wonder why it did not reject Mockito while investigating this. Ideally, they should exclude Byte Buddy and cglib, too.

[2017-02-21 14:35] ChristianSchwarz commented on #815
Since there is no interest in different API proposals to use lambdas for stubbing I close this ticket. See #742

[2017-02-21 14:35] #815 closed

[2017-02-21 20:27] TimvdLippe opened #960 "Add editor configuration to ease the process of adhering to Checkstyle"
We recently added the enforcement of Checkstyle. @ChristianSchwarz requested in https://github.com/mockito/mockito/pull/908#issuecomment-281468837 to also include a default template or at least provide steps for developers to automatically adhere to the style guide. E.g. no manual labor required, the IDE fixes it for the contributor.

We can probably adopt [EditorConfig](http://editorconfig.org/)

[2017-02-22 15:10] tmurakami commented on #922
@andrew-carmichael Sorry, the above workaround is bad.
If applying that workaround, you will not be able to run a single test.

Instead, run `am instrument` with `package` option.
[code]

@raphw Please do not merge PR #938 to `release/2.x` branch.
I'm sorry.

[2017-02-22 21:54] raphw commented on #922
Thanks for the update. I will put this into the documentation and hopefully, the Android folks can exclude the Byte Buddy namespace, too. I would not know how to file an issue there, but I will look into it. Otherwise, feel free to do it yourself.

[2017-02-23 08:55] tmurakami commented on #922
@raphw If you want, I will report this issue to the AOSP team.
Please give me your permission.

[2017-02-23 10:03] pintiliea opened #961 "Let java.lang.StackOverflowError surface"
`mockito-core-1.10.19`

`Spring Boot 1.4.4.RELEASE`
[code]
[code]

Hello,

I did an infinite recursive call by accident inside the `thenReturn()` which gave me the output bellow. IMO you shouldn't catch `java.lang.StackOverflowError` if that is possible, let it surface so I can locate the mistake.

[code]

[2017-02-23 13:59] TimvdLippe commented on #961
Hm, we do not catch this exception. The problem is that the exception is thrown and caught by Spring/JUnit. Then in the next method we again stub and Mockito detects there was a stubbing issue, since we did not see the finished stubbing. Therefore the stackoverflow is reported by Spring/JUnit and we never know.

I am unsure what we can do here.

[2017-02-23 15:29] cedrik23 opened #962 "MockitoTestNGListener not released yet"
Hello,

This is more of an inquiry rather than an issue. I apologize up front if this is the wrong place to post this.

In our company we use TestNG together with Mockito for unit testing. As such we experience the known issues which are resolved by using MockitoTestNGListener found at: https://github.com/mockito/mockito/tree/release/2.x/subprojects/testng/src/main/java/org/mockito/testng

Perhaps

[2017-02-23 17:27] raphw commented on #922
@tmurakami Please do, thanks a lot!

[2017-02-23 18:04] tmurakami commented on #922
I have just reported to the AOSP team.
https://code.google.com/p/android/issues/detail?id=234887

[2017-02-23 19:51] domtoupin opened #963 "Invalid property reported by mocks and partial mocks"
Hi,

We migrated to Mockito 2.x not so long ago and we came across a test that used to works back in Mockito 2.1.0 and no longer works with the latest 2.x version (2.7.11).

Here is the SSCCE to replicate the issue:

[code]

**Before (1.10.19):**
Used to works

**After (2.7.11)**
Both tests fail on `assertFalse(mockPropertyDescriptors.containsKey("notAProperty"));`

It seems that although the `get

[2017-02-24 03:23] fwonce opened #964 "Verifying spied `AtomicXxx` doesn't show concrete behaviors."
Having the code below running in JUnit should fail according to my understanding about how Mockito works.

[code]

Unexpectedly all the malformed verification actions will pass.

Mockito: have tried both 1.10.19 and 2.7.11
JDK7
OS: macOS Sierra 10.12.3

[2017-02-24 10:41] bric3 commented on #964
Mockito 1 cannot mock final methods and `incrementAndGet` is final.

If you need to mock final methods yu can do it with Mockito 2 and specify the experimental mock maker.

[2017-02-24 10:42] #964 closed

[2017-02-24 11:25] bric3 commented on #961
Let's close the ticket

[2017-02-24 11:26] #961 closed

[2017-02-24 18:41] TimvdLippe commented on #963
This is probably a regression in ByteBuddy as Mockito 2.5.7 was released after #875 was merged.

[2017-02-24 18:43] TimvdLippe commented on #943
Final Twitter poll results: 59 votes. 61% in favor of shading, 39% not.

[2017-02-24 19:00] TimvdLippe commented on #445
This week I had an interesting discussion with 2 of my student colleagues who are currently analyzing and documenting the architecture of JUnit. In this discussion we talked about the architecture in general as well as the extensions and in particular the MockitoExtension.

In this discussion I expressed my concerns regarding the new approach with injecting Mocks based on parameters. My colleagues

[2017-02-24 19:16] marcphilipp commented on #445
How is parameter injection different from field injection?

[2017-02-24 19:25] TWiStErRob commented on #445
@marcphilipp I think he was talking about this error case:
[code]

[code]
The extension can't know if you intentionally want a new mock in your test method or you made a typo, while javac knows that you're referencing a non-existent field.

[2017-02-24 19:27] TimvdLippe commented on #445
@marcphilipp it is possible I am misunderstanding the proposed solution. @TWiStErRob beat me to it with an example testcase which I was indeed referring to.

[2017-02-24 19:49] marcphilipp commented on #445
Thanks for the explanation and the example. That helped! 🙂

With strict stubbing, the example in the error case would throw a "validation error" in the end, right?

Since we cannot force people to compile with `-parameters`, I think there are at least these possible approaches:

1. Treat every mock parameter like a different mock unless it has an explicit name.
2. Treat mock parameters for the sam

[2017-02-24 19:54] TimvdLippe commented on #445
Yes, but at run-time instead of at compile-time. Nonetheless better then nothing :stuck_out_tongue:

I do understand the reasoning, but if you need a Mock that is local to a test method, why not a simple `Mock mock = mock(Mock.class)` at the start of the method? This usually also nicely fits in a `given-when-then` structure of test methods.

Just to note: I would really like to take advantage of P

[2017-02-24 19:56] marcphilipp commented on #445
No worries, I hear you and understand your concerns. We should definitely try to find the best solution. 🙂

[2017-02-24 19:58] LiamClark commented on #445
+1 for locality and Treating every mock parameter like a different mock unless it has an explicit name.

It also discourages complex mocking in interface tests.

[2017-02-24 20:02] TWiStErRob commented on #445
+1 agree with locality, common setup in `@Before` usually creates more problems than solves.

[2017-02-24 20:31] TimvdLippe commented on #445
For locality developers can already call `mock()` themselves. However @LiamClark pointed out during a chat that `@Mock` on a parameter can safely handle generics. For example when mocking Streams. That seems like a valid usecase. If we can solve this issue without ambiguity between multiple mocks, that could work.

[2017-02-24 20:47] LiamClark commented on #445
Also `@Mock` feels a bit more declarative then mock(ClassLiteral.class)

[2017-02-24 20:56] TWiStErRob commented on #445
@LiamClark not to mention all parameters that annotation can have versus the equivalent `MockSettings` builder

[2017-02-25 11:34] raphw commented on #963
We changed Mockito's use of Byte Buddy to make all mock method's public. This was the solution to #688. Byte Buddy has in the meantime however learned to automatically handle the visibility of a method that is declared by an interface but defined by a super class (in this case `Object`), so we can remove the `Visibility.PUBLIC` constraint in `SubclassBytecodeGenerator` in line 74. Do however note

[2017-02-25 12:27] TimvdLippe commented on #963
@raphw Would that break #688? If it does not, I think it is okay. Better solve 2 problems than only 1.

[2017-02-25 13:08] raphw commented on #963
It would not, I think we should remove it, too.

[2017-02-25 18:31] szpak commented on #943
@TimvdLippe it's good to know, however there were too wide context presented as a material to vote. AFAIR in some other issue/discussion @raphw acknowledged the problem and expressed his effort to try to pay closer attention of the backward compatibility issues in the future (especially that BB is getting more and more widely used (e.g. in Hiberante which doesn't shade BB at the moment). Therefore

[2017-02-25 23:20] #944 closed

[2017-02-25 23:21] #963 closed

[2017-02-26 00:44] dclements opened #967 "Collection being changed after call throws off the verify results"
If a collection being acted on is mutated after the verification call, it will cause the verifications to verify against the wrong value (post modification) instead of at the time of the call being verified.

Mockito Version: `org.mockito:mockito-core:2.7.11`, Java Version = 1.8.0_112. Guava version 21.0 (shouldn't matter). OS X 10.12.3. Problem occurs both through IntelliJ and on the command line

[2017-02-26 19:25] raphw commented on #967
This is expected behavior. By default, Mockito compares arguments by their equality. If this is not what you want, compare them by any other matcher, for example by object identity. Have a look at the Mockito class that offers a buch of matters or lookat its argThat method that provides its own.

[2017-02-26 19:25] #967 closed

[2017-02-27 08:49] Nymph-fan opened #969 "Why the mockito is not compatible with jacoco?"
Hello:
      I'm glad to use mockito ,but when I use  jacoco to count the coverage of unit test. The coverage always be 0.Is there any way to solve it?

[2017-02-27 08:58] TimvdLippe commented on #969
Mockito should be compatible with jacoco. What is the version you are loading and could you create a minimal reproducible gist?

[2017-02-27 09:36] Nymph-fan commented on #969
Thanks for reply. In maven configuration I use ` <dependency>
            <groupId>org.mockito</groupId>
            <artifactId>mockito-all</artifactId>
            <version>1.9.0</version>
            <scope>test</scope>
        </dependency>`

the  source code is
`
public HelloWorld() {
    }
    public String testMethod1() {
        return "Hello World";
    }
    public int addMethod(int a, i

[2017-02-27 09:41] TimvdLippe commented on #969
Version 1.9.0 is quite old. Could you upgrade to a more recent version, preferably [2.7.12](http://search.maven.org/#artifactdetails%7Corg.mockito%7Cmockito-core%7C2.7.12%7Cjar) or if you can not, [1.10.19](http://search.maven.org/#artifactdetails%7Corg.mockito%7Cmockito-core%7C1.10.19%7Cjar). Also you are using `mockito-all` which is deprecated. Please use `mockito-core` instead.

[2017-02-27 10:18] bric3 commented on #969
@Nymph-fan Note this may depend on the jacoco version as well.

[2017-02-27 12:05] Nymph-fan commented on #969
@bric3 @TimvdLippe  I update `mockito-core`  version to 1.10.19, `jacoco-maven-plugin` to 0.7.7。But the coverage is still 0. So I think  jacoco can't count the coverage of unit test through `mock`  frame or method

[2017-02-27 14:03] bric3 commented on #958
I think I close this issue as it is a known and documented breaking change.

[2017-02-27 14:31] jOlliv opened #970 "Wrong actual invocation shown using a hamcrest matcher"
I got a strange behaviour using a hamcrest matcher with mockito and I assume this is a bug.
used versions:
mockito-core-2.7.12
byte-buddy-1.6.9
objenesis-2.5
jdk 1.8.0_121
junit-4.10

With the following code wrong actual invocations are shown by mockito and the test failed. But I would expect that it will be successful.
The printed lines shows the executed code:

    ### create: 1
    ### update:

[2017-02-27 14:35] szczepiq opened #971 "Consider using "smart null" answer by default"
Mockito ships with optional Answer [RETURNS_SMART_NULLS](https://static.javadoc.io/org.mockito/mockito-core/2.7.12/org/mockito/Mockito.html#RETURNS_SMART_NULLS) that is useful to tackle problems with incorrect / missing stubbing. Do you think returning "smart nulls" should be the default behavior of Mockito mocks? Smart null pointer exception is always better than regular NullPointerException when

[2017-02-27 15:00] domtoupin commented on #963
Thanks for the quick response and fix!

[2017-02-27 17:16] bric3 commented on #963
Sounds good to me.

[2017-02-27 21:04] szpak commented on #971
+1, I like smart nulls.

Btw, for people wanting to test it right know it was possible to [configure it globally](https://solidsoft.wordpress.com/2012/07/02/beyond-the-mockito-refcard-part-1-a-better-error-message-on-npe-with-globally-configured-smartnull/) for the project using `MockitoConfiguration` even in 1.10.x. I remember that Brice was playing with configuration in 2.x, but MockitoConfigura

[2017-02-28 05:34] #680 closed

[2017-02-28 12:39] #960 closed

[2017-02-28 13:49] ChristianSchwarz commented on #939
@raphw
Can you take a second look? I think this is a bug cause:
* Tests that don't use mockito fails with this message
* I am running the tests localy with OpenJDK, so no Android-VM or JRE is involved

[2017-03-01 10:42] bric3 commented on #969
@Nymph-fan I cannot say what's wrong, however we don't support mockito 1.x anymore, the mock generation engine was CGLIB and may have issues regarding coverage. Mockito 2.x now uses ByteBuddy instead.

[2017-03-01 20:37] jpenglert commented on #688
This bug appears to be back after I upgraded from Mockito 2.2.1 -> 2.7.13. The original test case I posted is failing in the same manner. I ran the above test case with various versions and it appears the 2.7.12 re-introduced this bug. Perhaps #963 is responsible?

[2017-03-01 21:05] raphw commented on #688
We should add it, I originally added a modified version to Byte Buddy but it seems to have missed an aspect. Feel free to send a PR.

[2017-03-01 21:37] raphw commented on #688
I already located and fixed the error. I forgot to adjust the visibility for bridge methods.

[2017-03-01 21:39] jpenglert commented on #688
I'll make a PR for the acceptance test.

[2017-03-01 22:29] raphw commented on #688
I just release a new Byte Buddy version but I did not correctly apply the fix. Next version!

[2017-03-02 07:13] paulblakely commented on #939
I ran into this issue after integrating Robolectric into my tests. Is anybody else who sees this error using Robolectric? Could help explain.

[code]

[2017-03-02 08:06] ChristianSchwarz commented on #939
@paulblakely
Yes I encountered the same issue with Roboelectric!

[2017-03-02 09:50] ghost opened #973 "MockMaker extension and spring boot"
Hi,

I have a gradle project using kotlin, mockito and spring. Due to the nature of kotlin I need to mock final classes. For that I use the MockMaker extension (by using that file"resources/mockito-extensions/org.mockito.plugins.MockMaker"). The mockito version is 2.7.5 (coming with the mockito-kotlin library).

When I try to run a test I get the following exception:
[code]
If I remove the spring

[2017-03-02 20:09] raphw commented on #939
The Robolectric issue is on the list of the Robolectrics team. The above error seems to be a consequence of not having the attach API available. Are you running kn a non-JDK VM?

[2017-03-03 00:09] tmurakami opened #974 "MockitoJUnitRunner.StrictStubs does not detect 'Unnecessary Stubbing' when inline mock maker is enabled"
- mockito-core 2.7.13
- OpenJDK 1.8.0_121
- Ubuntu 16.10
- Enable `mock-maker-inline` (or use `mockito-inline` artifact)

If running the following test, 'Unnecessary Stubbing' is not detected.

[code]

In the above code, 'Unnecessary Stubbing' is detected by changing ArrayList to List.
[code]

This problem does not occur with default mock maker.

[2017-03-03 10:24] TimvdLippe commented on #974
This is working as intended. You should not mock Data classes such as `List`. The new mock maker is stricter in this regard as we could not ship another breaking change for the original mock maker.

We could add an explicit exception when we encounter these classes, instead of silently continueing. WDYT @raphw ?

[2017-03-03 13:50] tmurakami commented on #974
I am sorry that my test case was bad.

The following test **passes** using inline mock maker.
This test does not use data classes.
[code]

Using default mock maker, this test **fails**.
This is the result that I expect.
[code]

Does **new mock maker** mean **inline mock maker**?
According to the results of this test, inline mock maker seems to be less strict than default mock maker.
Sorry if I hav

[2017-03-03 13:54] ChristianSchwarz commented on #939
I am running on a JDK VM.

[2017-03-03 13:56] TimvdLippe commented on #974
Ah that is a better testcase. Definitely a bug!

[2017-03-04 18:01] raphw commented on #974
Just tested this on master and the result is the same for both mock makers where neither test detects the unneccessary stubbung. I do not know this part of Mockito too well but I assume there is a bug in this component.

[2017-03-04 23:34] tmurakami commented on #974
I wrote a new test for this issue.

[code]

To test this test on the master, I put this into the following directory.
1. src/test/java/org/mockitousage/junitrunner (using the default mock maker)
1. inline/src/test/java/org/mockitoinline (using the inline mock maker)

In the first case, this test passed.
[code]

However, in the second case it failed.
[code]

For the abstract method, 'Unnecessary St

[2017-03-05 10:33] tmurakami commented on #974
I thnk I have found the cause of this problem.
When using the inline mock maker, it seems that LocationImpl cannot get the stubbed location of the concrete method correctly.

`UnusedStubbingFinder` which detects 'Unnecessary stubbing' calls `LocationImpl#toString()` to get the stabbed location.

The code below is the implementation of `LocationImpl#toString()`.
[code]

This method filters the stac

[2017-03-05 10:41] raphw commented on #974
Yes, this is expected. The inline mock maker inlines the code and does therefore not add a stack frame. This is a bug in the `UnusedStubbingFinder` which should not rely on the stack shape.

@TimvdLippe Do you have time to look at this?

[2017-03-05 21:43] szczepiq commented on #974
Thank you guys for really thorough debugging!

There is a reason why the finder relies on the String representation of line where the unused stub is declared. I documented it in the [Javadoc](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/junit/UnusedStubbingsFinder.java#L46), hopefully it is more less clear :) I'm not saying we should keep the current imple

[2017-03-05 22:42] raphw commented on #974
With the stack trace filter, I actually did change the implementation to adjust this behavior such that it works. I was not aware that the stubbing finder replicated something similar.

[2017-03-05 23:21] #685 closed

[2017-03-05 23:21] szczepiq commented on #685
Thank you very much for contribution. It's really nice work!

[2017-03-05 23:33] szczepiq opened #976 "Make MockSettings.useConstructor able to choose the right constructor"
## Use case

We recently added a very nice new feature #935 - ability to mock abstract classes / use real constructor for creating mocks. Currently we fail fast when multiple constructors are found matching provided arguments. However, Mockito could potentially do a better job identifying which constructor to use. Example scenario:

[code]

## Implementation

To get started, see CreatingMocksWithC

[2017-03-05 23:34] szczepiq commented on #976
@mureinik, do you want to take a stab at this one? :)

[2017-03-06 10:12] tmurakami commented on #974
@szczepiq, @raphw, I can submit the PR, but this problem seems to have already been fixed by @raphw.
Should I submit the PR?

[2017-03-06 15:54] ffissore opened #977 "Misleading documentation of verifyZeroInteractions"
## Problem

The current behavior of verifyZeroInteractions can be misleading, see the #989.

In current version of Mockito (2.x), we can improve the javadoc for verifyZeroInteractions to clearly describe how it works (and mention the behavior of strict stubs, too).

Please contribute!

## Original report

Original issue reported by @ffissore:

According to the [docs](http://static.javadoc.io/org.m

[2017-03-06 20:46] yeskov opened #978 "AttachNotSupportedException: no providers installed. When using mock-maker-inline extension and jmockit.jar is found in classpath on Windows."
Hello.  We have mixed environment where  some test are written with help of mockito with mock-maker-inline extension and  some test use jmockit.

When test are running under OS X everything works fine. But under Windows  we have following exception:
[code]

 Removing jmockit from classpath solves the problem.  But we are looking for solution which can help us continue using this tools together.

<

[2017-03-06 20:55] ffissore commented on #977
Forgot to say: I'm using version 2.7.13

[2017-03-06 22:09] raphw commented on #974
Please submit, I only fixed the issue partially.

[2017-03-06 22:25] mureinik commented on #976
@szczepiq sure, I'll take a crack at it, but let's first decide what exactly we want to do.

First, a note - `mock(Foo, withSettings().useConstructor(new A()));` most definitely works with the current implementation, contrary to the comment in the above snippet.

I propose the following definition, which is pretty much what the compiler does when facing a call like `new Foo(new B())`:
- An argumen

[2017-03-07 05:39] mureinik commented on #976
@szczepiq feel free to assign this issue to me. I don't think I have the permissions to do so myself.

[2017-03-07 13:46] szczepiq opened #981 "Update documentation about mockito-inline artifact"
Mockito documentation currently does not explain "mockito-inline" artifact that is used for inline mocking (mocking finals). The main Mockito class still contains information on how to configure the inline mocking using a classpath resource.

[2017-03-07 17:08] IgorGanapolsky commented on #910
@tmurakami What is **latest.release**?

[2017-03-07 22:23] tmurakami commented on #910
@IgorGanapolsky, `latest.release` is one way to specify the dynamic version of Gradle.
https://docs.gradle.org/current/userguide/dependency_management.html#sub:dynamic_versions_and_changing_modules
https://docs.gradle.org/current/userguide/dependency_management.html#component_metadata_rules

On Android Studio, when using the Gradle setting described in [Mockito's Javadoc](https://static.javadoc.io

[2017-03-07 22:45] IgorGanapolsky commented on #910
@tmurakami I've been doing Android dev for six years.  And this is first time I've learned of **latest.release**.  Super helpful.  Thanks

[2017-03-08 11:00] harek commented on #285
I've just noticed that there is still this misbehavior (undocumented feature) when you provide spy object by hand. If you run test provided by @vbuell with object created by `Mockito#spy` method then test passes (of course it's not important if there is @Spy annotation on that field).

I've reproduced this issue on latest Mockito version: 2.7.14
[code]

[2017-03-08 11:30] paulduffin opened #982 "Break cyclical compile time dependency on hideRecursiveCall"
I am working on upgrading the version of mockito in AOSP to 2.7.13 using byte buddy and byte buddy android rather than dexmaker.

As part of that I need to exclude a number of classes which will not compile on Android because it does not support Java agents/instrumentation. The mockito code has always been very well organized and made that very simple to do but in the latest version I found a mino

[2017-03-08 12:57] TimvdLippe commented on #982
That seems like a reasonable issue. Looking forward to your pull request @paulduffin !

[2017-03-08 14:31] paulduffin commented on #982
Should I make the change in release/2.x?

On 8 March 2017 at 12:57, Tim van der Lippe <notifications@github.com>
wrote:

[2017-03-08 14:35] TimvdLippe commented on #982
Yes please :)

[2017-03-08 16:38] paulduffin commented on #982
Done.

[2017-03-09 11:56] #982 closed

[2017-03-09 12:08] TimvdLippe opened #984 "Release commits do not trigger code coverage report"
Found out at https://github.com/mockito/mockito/pull/980#issuecomment-285124740
This was initially fixed in #493, but I think the adoption of the new mockito-release-tools repository introduced this regression. All pull requests now have a failing status as CodeCov is unable to provide any feedback.

Commits should instead of `[ci skip]` use `[ci skip-release]`. Therefore Travis will kick off, but

[2017-03-09 16:23] schwiz commented on #910
Using
androidTestCompile 'org.mockito:mockito-android:2.7.14'

and I am getting the same exception when I try to mock a final class in device tests.

java.lang.IllegalStateException: Could not initialize plugin: interface org.mockito.plugins.MockMaker
Caused by: org.mockito.exceptions.base.MockitoInitializationException:
Could not initialize inline Byte Buddy mock maker. (This mock maker is not su

[2017-03-10 05:57] tmurakami commented on #910
@schwiz You cannot use the inline mock maker on Android devices.

This is described in the  [Javadoc](https://javadoc.io/page/org.mockito/mockito-core/latest/org/mockito/Mockito.html#0.1).

If you want to mock final classes on Android devices, try using my [DexOpener](https://github.com/tmurakami/dexopener) library.
Although the performance of test execution may be poor. . .

[2017-03-10 11:52] #981 closed

[2017-03-10 13:51] schwiz commented on #910
Thanks for the tip!

On Mar 9, 2017 11:58 PM, "Tsuyoshi Murakami" <notifications@github.com>
wrote:

[2017-03-10 14:27] ChristianSchwarz commented on #939
relates to #978

[2017-03-10 18:45] szczepiq commented on #977
Looking into it...

[2017-03-10 20:17] TimvdLippe commented on #970
Hm I think we will someday deprecate `MockitoHamcrest`, but is the usage of HamCrest required here? Could you maybe use one of the other matchers available? The sample code is fairly big, so it will be hard to debug this issue as there a lot of factors. Given that HamCrest is discouraged and we are very time-constrained, we would probably need to see the root issue to fix it.

[2017-03-10 20:18] TimvdLippe commented on #969
Since 1.x is not supported anymore and we have not received any issues with Mockito 2.x + Jacoco, I am going to close this issue. If you do encounter any issues with 2.x, please reopen. Thank you for your time!

[2017-03-10 20:18] #969 closed

[2017-03-10 20:20] TimvdLippe commented on #978
`JVM version        : 1.8.0_31-b13` shows that you are using a fairly old version of Java. Could you update to a more recent version? The earlier JVM's are known to have fairly big bugs that affect the usage of Mockito.

[2017-03-14 07:40] yeskov commented on #978
We started update. I will respond when results become available.

[2017-03-14 13:33] szczepiq commented on #977
Thank you for reporting and your patience waiting for the reply!!!

It's a really good report - I was able to reproduce the problem easily. Also, THANKS a lot for using strict stubbing - I'm really happy to see it in use!

At the moment, "verifyZeroInteractions" is an alias to "verifyNoMoreInteractions", intended to be used to improve readability of tests. Let me illustrate it on a couple of examp

[2017-03-14 14:54] ffissore commented on #977
Thank you for the clarification. Then I guess the problem is with the [javadoc](https://static.javadoc.io/org.mockito/mockito-core/2.7.17/org/mockito/Mockito.html#verifyZeroInteractions(java.lang.Object...)) which states "Verifies that no interactions happened on given mocks.". This made sense to me: a class X may have a number of mocked collaborators and I want to be sure that some of them have n

[2017-03-15 16:41] yeskov commented on #978
Hello.
We updated to JVM  1.8.0_121-b13 but issue is still reproducing.

[code]

[2017-03-16 04:44] mockitoguy opened #989 "Misleading behavior of Mockito.verifyZeroInteractions()"
## Problem

Mockito.verifyZeroInteractions() actually does not do what it advertises. The purpose of this ticket is to discuss whether to change the behavior of this method in Mockito 3.

## Details

Based on user feedback at #977, from @ffissore, "verifyZeroInteractions" API can be misleading. When you read that method in test code, you expect zero interactions with specified mocks. However, "ver

[2017-03-16 04:48] szczepiq commented on #977
Interesting idea!

Let's keep this ticket to improve the documentation (want to help out? submit a PR :). I created ticket for discussing change of verifyZeroInteractions: #989

[2017-03-16 19:29] sanyamd commented on #190
Thanks a lot bric3 :)

[2017-03-16 21:25] mureinik opened #990 "Failure to use @InjectMocks with multiple potential mocks"
When annotating a member with `@InjectMocks` in a class that has more than one appropriate `@Mock` for that member, it will silently leave the member as `null`, and not inject any mock. While it's completely possible that there will be more than one appropriate mock, such an erroneous situation should produce a very visible failure, instead of silently doing nothing and leaving the user to later d

[2017-03-18 01:22] paulduffin opened #992 "Help in people migrating from one version to the next"
After having gone through the process of migrating a reasonably sized body of code from 1.10.19 to 2.7.13 I thought it would be helpful to provide some feedback.

The way that I work is generally upgrade the code in question, in this case mockito, and then:

1. Build the code
1. Fix build failures
1. Repeat from step 1 until build works.

While this is an effective, albeit time consuming and tedio

[2017-03-18 13:50] TimvdLippe commented on #992
This is a very nice concept, but I personally have absolutely zero experience with the tool nor with such big upgrades :stuck_out_tongue:

Especially while working on a new API which would probably deprecate an old API, these refactor rules would be very welcome. My current approach would to write a regex that would do the refactor, but using refaster it seems more typesafe.

To be very honest: I

[2017-03-19 14:03] #976 closed

[2017-03-19 17:40] #974 closed

[2017-03-19 21:05] TimvdLippe commented on #973
The stacktrace indicates that [`registry`](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/configuration/plugins/Plugins.java#L23) is `null`. That should not be possible given that it is initialized when the class is loaded. Unsure what could be going wrong here from Mockito. It probably is an issue with Spring Boot?

[2017-03-20 03:33] yujishe opened #993 "Mockito:match any(Class<T>)"
`class A (){
    public B method(Class T,String str){}
}`

`A a = new A();
B b = new B();
when(a.method(any<Class>).thenReturn(b);`

[2017-03-21 13:40] magneticflux- opened #997 "ClassRule/TestRule version of Mockito's JUnitRule"
As it currently stands, `JUnitRule` is only usable through the `@Rule` annotation, not the more powerful `@ClassRule` annotation. This prevents it from solving several issues, such as:
- Using the `@Mock` annotation with static fields
- Using the `@Mock` annotation to initialize before the JUnit Theories runner acquires `@DataPoint` annotated fields

I propose a version of Mockito's JUnitRule that

[2017-03-21 19:11] szczepiq commented on #997
Thank you for submitting this ticket and a very comprehensive description + research! One of the core devs on the team (perhaps myself :) need to dig into the suggested design.

My quick thoughts:

 - it is unlikely that we will change the interface of the rule in 2.x. It would be an incompatible change that we can do only in a major version
 - in Mockito v3 we would need to decide if changing the

[2017-03-21 20:13] magneticflux- commented on #997
Thanks for the response! To clarify some things:
- My current solution of initializing the fields using a static `@BeforeClass` method has been working fine, and I completely understand why you're hesitant to support a little-used/experimental feature such as Theories. However, I _also_ feel that extending support would force the current JUnit integration to become more robust.
- The method `initM

[2017-03-21 20:20] magneticflux- commented on #997
After only a few more minutes of research, I seem to have invalidated several of my assumptions... I realize now that JUnit instantiates a new object of the test class for _each_ test method it will run so that it is not possible to share data from one test to another through instance fields. I will need to go back over my ideas and figure out how they need to be changed, but for now I assume that

[2017-03-22 07:35] Hendrik-AS commented on #973
hm its kind of weird since I do not see how third party code could influence that registry. Anyways my solution now was to put everything I want to test into another module ...

[2017-03-22 09:53] shreyas080 opened #998 "Mock URL.class"
Hi
As per the update for mockito 2.2.x it supports mocking a final class, but when i try to mock the URL.class i get the values of the object null in the debug mode. I am using mockito-core-2.2.16 with java 7. I am not sure what is wrong with my code.

               URL u = mock(URL.class);
	        HttpsURLConnection huc = mock(HttpsURLConnection.class);
	        when(new URL(anyString())).thenR

[2017-03-22 10:16] TimvdLippe commented on #998
Hm, I think this is working as intended? When you mock an URL, all fields are initialized with `null` and method invocations are stubbed.
Now note that you are trying to mock a whole `URL`, but you can not mock a constructor. E.g. `when(new URL(...))` is not supported by Mockito.
Usually this means your source code is not really testable, so try to see if you can extract the constructor invoaction

[2017-03-22 22:15] Mykaelos opened #1000 "Cannot mock Google Analytics Tracker class with Inline Mocks"
Greetings,
I updated Mockito to 2.7.16 to use inline mocks for the seriously awesome feature to mock finals (thank you btw!) but found that the Google Analytics Tracker class wasn't mocking, where it was before without issue.

I found [this post](https://groups.google.com/forum/#!msg/mockito/JnExueUIOFU/DucEfg04FgAJ;context-place=forum/mockito) on the Mockito forum with the same problem, but I don

[2017-03-23 11:47] warabei14 opened #1002 "Mockito spying on kotlin class error"
Hello. I am getting error with a version of Mockito exactly from 2.6.7 (in 2.7.19 reproduced) (in 2.6.6 not reproduced)
With a version of Mockito 2.2.9 my code is working.
Seems something wrong with parsing while mocking, see a stacktrace:

[code]

I am doing this code (an simple class written in kotlin):
[code]

And this code in the test section getting me into error:
`Mockito.spy(Samples())`

[2017-03-24 05:26] podarsmarty opened #1003 "Allow reloading of plugins"
I am working on https://github.com/powermock/powermock/issues/769. With custom extension PluginSwitch's we should be able to allow switches that change whether an extension is enabled or disabled in different tests (such as choosing different MockMakers, default or custom). PluginRegistry can facilitate this if it is not final and has a static method to refresh/recreate itself.

[2017-03-24 08:05] geralt-encore opened #1005 "Test fails after enabling feature for mocking final classes and methods"
I am mocking [GoogleSignInAccount](https://developers.google.com/android/reference/com/google/android/gms/auth/api/signin/GoogleSignInAccount) with the latest Mockito version:
[code]

After enabling mocking of final classes/methods test fails with this error (which is not really helpful):
[code]
Let me know if you need more details from me.

[2017-03-27 13:16] dmak commented on #649
Is there any idea how "strict mocks" feature is going to be combined with "ordered mocks"? Something like that?
[code]

[2017-03-27 15:21] jw44250 commented on #998
How it is possible to mock user defined final class..

public final class FinalClass {
	public final String finalMethod() {
		return "something";
	}

	public static String test(){

		return "test1";
	}
}

//Mock Class
FinalClass finalClassMock = Mockito.mock(FinalClass.class);

		when(finalClassMock.finalMethod()).thenReturn("test");

		Assert.assertEquals("test", finalClassMock.finalMethod());

[2017-03-27 15:35] paulduffin commented on #565
What is the status of this (or #358)?

[2017-03-27 15:37] TimvdLippe commented on #565
Type-safety is still something I am investigating, targeting Mockito 3. It seems that fixing it without strong typing, e.g. dynamically checking the generics, is very hacky and error-prone. It would be nice to have a solution where the compiler can catch these issues and make sure the verification is working, rather than on run-time failing.

[2017-03-27 19:12] TimvdLippe commented on #1005
@geralt-encore Could you build a gist so that we can easily test it? I am not familiar with the Android ecosystem, would like to have a quick install to debug directly.

[2017-03-27 21:37] sdfelts commented on #520
Running on version 1.9.5 with Jigsaw b162 with --permit-illegal-access.

I'm seeing the following warning.
WARNING: Illegal access by org.mockito.cglib.core.ReflectUtils$2 (file:gradle_cache/caches/modules-2/files-2.1/org.mockito/mockito-all/1.9.5/79a8984096fc6591c1e3690e07d41be506356fa5/mockito-all-1.9.5.jar) to method java.lang.ClassLoader.defineClass(java.lang.String,byte[],int,int,java.securit

[2017-03-27 21:43] TimvdLippe commented on #520
It might be fixed with Mockito 2 yes, as we are not using CGLib anymore. No promises though 😉

[2017-03-28 08:53] geralt-encore commented on #1005
Here is a sample project for reproduction: https://github.com/geralt-encore/MockitoBug

[2017-03-28 09:12] TimvdLippe commented on #1005
I have assigned @raphw, as he is probably the most knowledgeable about this bug. However, he is quite busy IRL so it might take some time before he is able to respond. Thanks for your understanding!

[2017-03-28 09:19] geralt-encore commented on #1005
Sure! Let me know if you need more info from me.

[2017-03-28 22:21] raphw commented on #1005
I do not currently have an Android SDK installed but I assume it has something to do with your use of Android? The inline mock maker requires running on a "regular" JVM and cannot be used on Android or on an emulator.

[2017-03-29 00:58] tmurakami commented on #1005
@raphw, I am interested in this issue and I investigated this with the above reproducible project.
This problem occurs on the "regular" JVM such as OpenJDK, not Android VM.

I suppose this is a bug of byte-buddy.

Running the code above causes ArrayIndexOutOfBoundsException.
(However, since Throwable objects are ignored [here](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/m

[2017-03-29 07:07] geralt-encore commented on #1005
As @tmurakami pointed I am not running this test on Android - it occurs on regular JVM.
I am also experiencing the same issue when trying to mock [FirebaseRemoteConfig](https://firebase.google.com/docs/reference/android/com/google/firebase/remoteconfig/package-summary) if it helps somehow.

[2017-03-29 12:51] szczepiq commented on #984
Sorry for slow turnaround. It will get fixed soon!

[2017-03-29 15:11] ChristianSchwarz commented on #1005
I observed the same in #939 and possibly it relates to #978 also.

[2017-03-29 17:55] quezak commented on #939
I encountered this too today, when I was trying to add the MockMaker plugin to our project (to mock Kotlin classes, which are final by default). The error said it's not supported on Android, while I'm testing locally on a normal JVM, similarly to the stack trace above.

It looks like it's working after upgrading robolectric from 3.1.4 to latest release (3.3.2).

[2017-03-29 22:46] tmurakami commented on #1005
@ChristianSchwarz, I think this is not Android specific problem.
It seems to occur while processing the `StackMapTable` attribute with a frame of type `full_frame`.
(The `StackMapTable` attribute is described [in the Java Virtual Machine Specification](https://docs.oracle.com/javase/specs/jvms/se8/html/jvms-4.html#jvms-4.7.4).)

The issue #939 and #978 are that `InlineByteBuddyMockMaker` cannot be

[2017-03-30 03:24] raphw commented on #1005
This is an interesting error. The problem is the full frame that does not specify any local variables. This is incorrect for the method in question which is non-static and should therefore always specify a 'this' value. The compiler that created this method apparently voided this variable.

As a consequence, Byte Buddy cannot longer instrument the method as it requires access to the "this" referen

[2017-03-30 06:11] #993 closed

[2017-03-30 06:12] yujishe commented on #993
use any(CLass.class) is ok.

[2017-03-30 19:12] raphw commented on #978
I assume that you are running a JVM and not a JDK on Windows. Did you check your `PATH` variable and your `JAVA_HOME`? The JVM complains that no attachment providers are available for the current VM what is typically the case for JVM installations.

[2017-03-30 19:15] raphw commented on #939
This was a problem with Robolectric that also uses instrumentation but preloaded a class that we required to inject manually. This should be fixed in recent versions of Robolectric.

[2017-03-30 20:57] tmurakami commented on #1005
@raphw, thank you for your reply.

`GoogleSignInAccount` provided by Google seems to be obfuscated by [ProGuard](https://www.guardsquare.com/en/proguard).
StackMapTable might have been broken due to obfuscation.

@geralt-encore, I tried using `-noverify` option on your reproducible project and it works fine.
Try the following snippet.

[code]

[2017-03-30 21:37] tmurakami commented on #1000
Since `Tracker` seems to be obfuscated by ProGuard, the class file might been broken like #1005.

I tried using `-noverify` option on your reproducible project.
It seems to work fine.
Try `-noverify` option as follows:
[code]

[2017-03-31 01:03] szczepiq commented on #1000
Thank you for an excellent report with repository where we can reproduce the issue. 2 Mockito core developers became (are becoming) fathers this Spring so it might be a while when we have time to investigate this issue :) (ping @raphw).

In the meantime, perhaps you can follow @tmurakami advice? Thanks a lot @tmurakami for jumping in and offering help!

[2017-03-31 03:51] szczepiq commented on #992
@paulduffin, thank you very much for really thoughtful feedback and the links to the super useful tools. Out of curiosity, can you share what company you were upgrading Mockito?

I will be very happy to research those tools and see how applicable they are to future migrations.

Why would this change make the test incorrect? Most users who voted for this change claimed that it would actually flesh

[2017-03-31 04:02] mockitoguy opened #1013 "Enable mocking static methods in Mockito"
# Static methods mocking with Mockito

This is a placeholder ticket for enabling mocking static methods in Mockito. Example action items that are totally negotiable and can ran in parallel. We're looking for someone who can lead this effort.

- [x] Research + discuss whether it is a good idea to enable static methods mocking in Mockito. The theory is that it is useful for legacy code, which is mos

[2017-03-31 05:57] raphw commented on #1000
There should never be a verify error, I will look into this once I find the time!

[2017-03-31 08:22] TimvdLippe commented on #1013
I am torn on this one. If we provide this possibility, we might invite developers into bad practices. Every time a developer uses this feature, it should be very explicit that it is bad practice imo. Would it be possible to come up with a solution that is clear on this front, but still allows the developer to opt-in?

[2017-03-31 10:30] geralt-encore commented on #1005
@tmurakami I just tried it and it didn't work. Did I miss something? Looks pretty straightforward.

[2017-03-31 10:59] tmurakami commented on #1005
Add the `-noverify` option into your `app/build.gradle`.

[code]

Then, run `./gradlew clean test`.

Here is my Java environment:
[code]

If you run test on Android Studio, set `-noverify` as `VM options` in the `Run/Debug Configurations` dialog.

[2017-03-31 12:16] tmurakami commented on #1005
`-noverify` disables bytecode verification, so should not be used if possible.
However I cannot think of any other way.

[2017-03-31 15:39] paulduffin commented on #992
I work for Google in the Android core library teams. I upgraded Mockito in AOSP and am now looking at internal Google code.

Tests that previously used anyX()/any(Class) because it did not care what values were passed to those arguments AND who actually pass null to those arguments will now fail. When that happens it can be difficult to determine what is the cause.

If the 'no longer matchers null

[2017-03-31 19:36] fbourbonnais opened #1017 "ClassNotFound since 2.7.17"
Since the 2.7.17 version when I include Mockito in a project with Maven, I have a `ClassNotFoundException` for `ClassLoadingStrategy` when I run any test (on the `mock(MyClass.class)` line.

**The problem is only when it's a Maven project (a new Gradle project works)**

- Mockito version 2.7.16 is OK
- Mockito versions 2.7.{17,18,19,20} are all broken
- Tried it in Eclipse and running `mvn` on the

[2017-03-31 19:43] TimvdLippe commented on #1017
Could you try out https://github.com/mockito/mockito/issues/638#issuecomment-248005406 ? Corrupt `.m2` repository was the culprit back then :sob:

[2017-03-31 19:48] fbourbonnais commented on #1017
Works now!
😤

Thanks,

[2017-03-31 19:54] TimvdLippe commented on #1017
Glad to hear!

[2017-03-31 19:54] #1017 closed

[2017-04-01 11:02] #952 closed

[2017-04-01 15:07] szczepiq commented on #1013
Great feedback. That's the first thing to figure out when working on this ticket :)

[2017-04-01 17:25] raphw commented on #1013
the way I saw mocking of static methods for myself was to only mock calls to static methods that happen within a mock. This would be useful, for example, for implementing spies in a situation like:

[code]
With Mockito, I would like to see something like:
[code]

What do you think? As for a hack, I am missing a component in Byte Buddy which I was supposed to write for a customer at some point what

[2017-04-03 04:12] szczepiq commented on #1013
Great feedback! Thank you Rafael for sharing your thoughts.

Is the component you mentioned a lot of work in ByteBuddy? Is this something that we can ask the community to help out or you're the best person to take on?

I'd rather see more robust API but your API idea is certainly workable. Mocking statics should be rare and our API should be optimized for common use cases and not edge/rare cases.

[2017-04-03 07:37] TimvdLippe commented on #1013
Should we also send out a Tweet to gather some community insights?

[2017-04-03 09:48] tmurakami commented on #1013
If this feature uses the Java Instrumentation API, it will not work on Android devices, so it might confuse Android developers.
If so, I think it should not be integrated into the `mockito-core` artifact.

[2017-04-03 12:30] bencampion commented on #1013
I came across this issue by chance (I was just curious to know what you were planning for Mockito 3), but I'd like to share my experiences of working with static method mocking.

I used to work on several large codebases that made extensive use of static methods and used PowerMock (and PowerMockito) heavily for testing. My main memories of that time were that the tests were really slow to run (in

[2017-04-03 15:19] szczepiq commented on #1013
Really good feedback, thank you guys. I helps us make good decisions about the features/API we plan.

[2017-04-03 15:48] mockitoguy opened #1019 "Clean Mockito build produces npm related stack trace in the build log"
I noticed that clean and working Mockito builds produce npm related warnings ([full log](https://travis-ci.org/mockito/mockito/jobs/217498617#L332)):

[code]

[2017-04-03 16:00] szczepiq opened #1020 "Use JDK 7 with Java 6 compatibility for building release artifacts"
We need community feedback if it is ok to change the JDK we use to build release artifacts for mockito.

###  Problem

Currently Mockito is build on JDK 6. This ensures it will work with Java 6. However, this causes issues like "sun.security.validator.ValidatorException: PKIX path building failed" (https://github.com/mockito/mockito-release-tools/issues/60). This issues makes it problematic for us

[2017-04-03 16:05] TimvdLippe commented on #1020
This would be a major breaking change, so I am not for this. Can we contact Travis to investigate what the issue is?

[2017-04-03 16:07] TimvdLippe commented on #1019
Hm I will need to investigate. Seems like a package has broken bacjwards compatibility

[2017-04-03 19:41] szpak commented on #1013
In my opinion in general testing static methods is a bad idea and it would be better to refactor the code, however, sometimes it's something that is needed. For instance, testing a default method `given()` in [mockito-java8 interface](https://github.com/szpak/mockito-java8/blob/master/src/main/java/info/solidsoft/mockito/java8/api/WithBDDMockito.java#L68) delegating to a static method in `BDDMocki

[2017-04-04 09:21] warabei14 commented on #1002
any ideas?

[2017-04-04 09:25] TimvdLippe commented on #1002
It seems that a lot of people are hitting this issue, there are 11 upvotes :O @raphw maybe you got a clue here?

[2017-04-04 13:46] szczepiq commented on #1013
@szpak, thank you for the feedback! Interesting use case.

I think we all agree that mocking statics is a bad practice and an anti-pattern in general. The question is whether we enforce the "no mocking statics" policy (e.g. not offer the feature in the tool) or let the user decide to enforce it or not (e.g. offer the feature).

[2017-04-04 13:50] szczepiq commented on #1020
Why would this be a breaking change? We would compile with Java 6 compatibility and generate bytecode that works on Java 6.

[2017-04-04 16:44] Krazybug commented on #1013
Please, consider the legacy code issue. Sometimes you don't have any choice.
Enforcing or not a practice shouldn't be the decision of a framework but of the team.
Also, for now, we're using Powermock as a workaround for this need but it's not compliant with the last versions of Mockito. We're blocked with 1.9.x version of Mockito.
It's another good reason to get this feature: Limit dependencies.

[2017-04-04 16:44] sdfelts commented on #520
I confirmed that the org.mockito.cglib.core.ReflectUtils is gone in 2.x and mockito no longer depends on net.sf.cglib.core.

[2017-04-04 16:54] jlink commented on #1013
Mocking static methods is a different use case, maybe that means it should be a different tool.

Answer the following questions (to yourself):
- Do you want to support a double tool in the long term?
- Does it use the same set of dependencies and only those?
- Does mocking static methods fall nicely into the current design?

If you answer all 3 with "Yes", then go ahead. If at least one is a "No"

[2017-04-04 16:57] karollewandowski commented on #1013
I agree with most of you and think that mocking static methods is not a good idea.
If some method uses static method provided by legacy library/framework, then it can be easily wrapped in object and provided as mockable dependency. It's not perfect solution, but is educational - shows developers that writing too complex static util methods hurts and makes code hard to test. If Mockito had such fea

[2017-04-04 18:05] rdicroce commented on #1013
I had asked about this at some point in the past and was told it was being considered. Glad to see that's actually happening.

In my opinion, support for mocking static methods is a good idea for the simple reason that the standard Java classes that ship with the JRE have tons of static methods. Consider the NIO.2 API as an example. If you want to read a file using that API, you might do something

[2017-04-04 19:06] karollewandowski commented on #1013
Well, in my opinion file name/path from your example is good candidate for passing it to method/setter/constructor instead of hardcoding it and you can just create test file in filesystem. Such Java API methods are considered as simple and reliable and there is no need to mock them like you wouldn't mock `java.util.List` if your method operated on data from given list.

[2017-04-04 19:12] rdicroce commented on #1013
There are at least 2 problems with that argument: a) you can't test behavior when exceptions occur, and b) you can't test behavior if the path is for a different OS. I realize the latter is an esoteric use case, but I actually am working on a project that is developed on Windows but runs exclusively on Linux.

[2017-04-04 21:29] TimvdLippe commented on #1020
Ah, I misunderstood. So we build on JDK7, but set it to be Java 6 compatibility. Afaik, Gradle does not complain about Java 6 incompatible changes on newer JDKs, but the risk is probably low.

Could we maybe remove the release tool from the JDK6 Travis build, thus releasing on JDK7, but still build on JDK6 on Travis too?

[2017-04-04 21:33] szpak commented on #1020
@TimvdLippe https://github.com/xvik/gradle-animalsniffer-plugin can be use to detect constructions not compatible with Java 6.

[2017-04-04 21:39] TimvdLippe commented on #1013
I think the recurring theme right now is: either you are pro or you are strictly against it. Personally, I am for clean tests and therefore consider static mocking very bad practice. However, our users apparently have usecases that require (intrusive?) solutions such as PowerMock. Given that these users opt for such solutions signals that the other solution would be no tests at all, and that is pr

[2017-04-04 21:41] TimvdLippe commented on #1020
@szpak Ah cool, TIL! Yes then let's go ahead and adopt that plugin + switch to JDK7

[2017-04-04 21:53] szpak commented on #1020
I will add that plugin in 2.x branch as a preparation to the switch.

[2017-04-05 06:55] szczepiq commented on #1020
@szpak, animalsniffer looks interesting! Why do we need animal sniffer given that we can compile on JDK7 with **source** and **target** compatibility set to 1.6?

[2017-04-05 07:02] TimvdLippe commented on #1020
Because these are actually not checked. See the recent PR of the diamond generic which locally had not installed the jdk6

[2017-04-05 07:03] TimvdLippe commented on #1020
See this specific comment: https://github.com/mockito/mockito/pull/1014#issuecomment-290741441

[2017-04-05 07:38] szpak commented on #1020
@szczepiq Source/target version result in byte code to be in the correct version/format. It doesn't check if given construction (e.g. a method) was available in a given JDK version.

[2017-04-05 08:10] marcingrzejszczak commented on #1013
I disagree with @TimvdLippe.  I don't believe that in an open source world you can "try it out with the new artifact and discontinue it later if it is significantly misused.". Once it's there in the library users will require it to be there. You'll have to support that feature etc. Either it's there or not. Not often can you easily deprecate sth and roll it back afterwards. Typically it requires a

[2017-04-05 08:20] jlink commented on #1013
@TimvdLippe Just one thing: If you create a new artifact like "mockito-legacy" communicate clearly if you're planning to support it mid/long-term or if it's just an experiment. Some people are willing to experiment together with you, others will be pissed off when you quit support after they have heavily used it.

[2017-04-05 08:34] szpak commented on #1020
E.g. `Objects.isNull("aa");` builds fine with Java 7+ in Mockito (without AnimalSniffer). Created #1021.

[2017-04-05 08:53] marcingrzejszczak commented on #1013
@rdicroce I completely disagree with this statement:

You're design is wrong. If you had

[code]

You could via a constructor inject `myFilePath` to point to your test resources. You don't even need to create any additional classes.

[2017-04-05 11:13] ChristianSchwarz commented on #1013
The Android community would like mock static methods.
Why? : The Android SDK provides many static utility methods with classes like TextUtils. The downside is that there implementation is only provided on the device or emulator. When users run Unit-Test on there local machine they will get the famous "Method not mocked" exception.

They are many workarounds for this issue like PowerMock or Roboele

[2017-04-05 13:38] dbacinski commented on #1013
@ChristianSchwarz I do not agree, using Android static utils or Android framework in your business logic is a bad smell. Well structured Android app do not need mocking static methods, nor Roboelectric. Calls to Android framework must be abstracted and current Mockito implementation helps to enforce that. If you want to test view layer then go with Instrumentation tests and Espresso.

[2017-04-05 13:50] szczepiq commented on #1013
@dbacinski, I am not an expert on Android so bear with me, please :) Adding extra layer introduces more method calls which can be problematic on large apps that hit dex method limit, right?

[2017-04-05 14:02] szczepiq commented on #1020
@szpak, thank you this makes perfect sense! I thought that Java is smarter :)

@TimvdLippe, diamond is detect and flagged when we use sourceCompatibility = 1.6. That's the whole point of the 'sourceCompatibility' setting. The reason it was not detected in the PR you mentioned is that the PR changed the code in extTest and that code is test code without configured source compatibility (it does not

[2017-04-05 14:20] dbacinski commented on #1013
@szczepiq you are right that you need additional methods to abstract Android apis, but this is a cost of good architecture. Dex method limit is not a huge problem anymore because now there is native platform support for multidex apps.

[2017-04-05 14:43] rdicroce commented on #1013
@marcingrzejszczak Your response a) does not address the call to readAllLines(), and b) does not address either of the issues I raised in https://github.com/mockito/mockito/issues/1013#issuecomment-291602703

To all: it seems to me there's a fundamental divide in this thread between people who are of the opinion that it's fine to just make a wrapper class for static calls, and people who are of th

[2017-04-05 14:46] bric3 commented on #1020
The sooner we drop java 6/7 the better. It delays our work on mockito 3 for Java 8 / 9.

[2017-04-05 15:02] marcingrzejszczak commented on #1013
@rdicroce I haven't explicitly but the answer is simple

If the path is a parameter you don't have to mock the call at all. You can pass

a) a path that exist - to test the positive scenario
b) a path that doesn't exist - that way it will blow up and you'll test an exception

You can write a couple of tests that are exclusively executed depending on the OS (example for Windows - http://stackoverfl

[2017-04-05 15:12] pioorg commented on #1013
Static members aren't something good, I hope it's quite obvious. But Java has them and will support them, whether we like it or not. So I'd say that educating and influencing is good, forcing might be not. It's like "oooh, your code is using statics, so it can't be tested with Mockito".
(Not to mention that some people would like to have nice unclebobish tests but aren't allowed to refactor the co

[2017-04-05 15:15] rdicroce commented on #1013
@marcingrzejszczak

That may solve this particular case. What about other static APIs that can throw a variety of different exceptions? Are you saying users should go through the hassle of setting up every possible scenario? What happens if there are scenarios the user can't set up? You may as well not bother with a mocking framework at all in that case.

This makes it impossible to run the tests

[2017-04-05 15:29] marcingrzejszczak commented on #1013
This will be my last answer cause obviously we are not going anywhere with this.

@pioorg

Yes it's obvious. Someone has to afterwards maintain that code. Both the business and the library. Another thing is that you don't have to mock all of those calls. Why would you stub a `StringUtils` class ? Makes absolutely no sense.

@rdicroce

Of course not. You can catch a generic exception and that's eno

[2017-04-05 16:03] pioorg commented on #1013
With all the respect, I don't care about any *Utils classes or any other particular code snippets.
What I mean is that:

1. statics are valid from syntax PoV
2. they already exist in legacy code
3. some folks can't change that code "only because we'd like to have Mockito in tests"

So if one can't change the code, refactor it and add the wrappers around the static calls, they also can't use Mockit

[2017-04-06 07:53] ChristianSchwarz commented on #1013
Just some toughts about  the prevailing opinion "statics methods are evil".
From my experience there are 2 different kinds of static methods "good" and "evil", i wouldn't say that all static methods are evil.

 * Static methods are "evil"  when they alter the state of a of a static member or in other words they depend on a state. When such a method is called the result may be an other when called

[2017-04-06 09:18] pioorg commented on #1013
@ChristianSchwarz

True, there are even some schools in which all private methods should be static, don't depend on anything apart arguments, don't change the state of any object and don't do anything beside computing the result. So they're functions, just like sin(angle) is: the angle isn't changed, and sin is only the result of the angle, always the same (provided the geometry is always the same

[2017-04-06 13:56] ChristianSchwarz commented on #951
@aarangara can this ticket be closed?

[2017-04-06 14:03] aarangara commented on #951
Hi Christian, yes closing it and I can't remember the exact problem that I came across for which I raised this bug.

[2017-04-06 14:03] #951 closed

[2017-04-06 15:33] szpak commented on #1020
@szczepiq As an alternative you can [try](https://docs.gradle.org/3.5-rc-3/userguide/java_plugin.html#sec:java_cross_compilation) to use Java 6 to only compile code while Gradle is executed with Java 7. It would also allow to use newer Gradle in 2.x branch.

[2017-04-07 14:43] szpak opened #1024 ""SyntaxError: Use of const in strict mode" on Travis"
During a build on Travis the following JS error is [emitted](https://travis-ci.org/mockito/mockito/jobs/219709696#L325):

[code]

[2017-04-07 14:44] TimvdLippe commented on #1024
Yes there seems to be a breaking change in the nodemodules. Something something semver... I will take a look soon :)

[2017-04-07 19:59] raphw commented on #1002
This is a bug in the Kotlin compiler. Byte Buddy attempts to resolve generic signatures to find potential bridge methods. And the Kotlin compiler seems ti write an inconsisten signature what confuses the Java reflection API.

[2017-04-08 05:59] szczepiq commented on #1024
Already reported at #1019, closing as duplicate and waiting for fix :)

[2017-04-08 05:59] #1024 closed

[2017-04-08 06:06] szczepiq commented on #984
My understanding is that code cov comparisons need every commit to produce report. Otherwise codecov "cannot find base report".

Running build for every commit defeats the purpose of "ci skip" :) Can we work with codecov tooling to accommodate this? Even if we make automated commits trigger builds, we still want to use "ci skip" at times.

Do you advocate to use "ci skip release" in place of "ci s

[2017-04-08 09:56] TimvdLippe commented on #984
Asked upstream: https://github.com/codecov/support/issues/355#issuecomment-292707657

[2017-04-09 04:26] szczepiq commented on #984
Thank you for asking! I'll unassign myself from the ticket for the time being.

[2017-04-09 20:18] oiavorskyi opened #1026 "Fail to mock Spring Data MongoDB repository interface"
When attempting to mock interface that extends Spring MongoRepository Mockito fails to create one. I have tried mocking simple interfaces and hierarchies of interfaces (both with and without generic parameters) and Mockito behaves as expected. However, there is something in MongoRepository that makes it fail.

I have tried versions 2.7.22 and 2.1.0. This issue does not exist in Mockito 1.10.19.

I

[2017-04-10 09:19] warabei14 commented on #1002
But why i haven't had that error before Mockito 2.6.7 with the same kotlin compiler?

[2017-04-10 14:42] raphw commented on #1002
That's weird, I will look into it once I find the time!

[2017-04-11 03:51] kkapelon commented on #1013
Unfortunately as history has shown multiple times, when developers see a tool and its use cases, they do not always understand the impact and weight of its features. They consider all features equal and do not understand that some of them should only be used as a last resort.

The canonical example in the Java world is the abuse of Java introspection/reflection and AOP for even trivial scenarios.

[2017-04-11 07:02] pioorg commented on #1013
@kkapelon: I also wish all Java code was pure OO design and that everyone actually knows what that means ;-) I hope such a huge warning "you're doing it wrong" could educate and maybe convert a few folks.

It's not about the code itself. I've seen big name companies enforcing policies in which before bugfixing, the case has to be replicated in tests. (Kinda TDD, they claim sometimes.) Then, once t

[2017-04-11 08:38] lukaseder commented on #1013
This would be great! We could finally stop bikeshedding "static is *eeevil*" because not testable.

[2017-04-11 08:42] pioorg commented on #1013
Well, IMHO static is eeevil in many cases not only because not testable :-D

[2017-04-11 09:02] helmbold commented on #1013
The mocking framework shouldn't restrict the design options - it's just not the job of a mocking framework! I've seen a lot of code polluted with mocking-only interfaces. And there are a lot of cases where a simple static method is a perfect design decision. `final` is also rarely used, because mocking frameworks (besides the great [JMockit](http://jmockit.org/)) have trouble with it.

[2017-04-11 13:08] TimvdLippe opened #1028 "Exceptions are caught but not rethrown by the reporter"
I ran SonarQube on the project and it reported numerous issues with the following description: `Either log or rethrow this exception.`

An concrete example is https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/MockitoCore.java#L126 which shows that the Exception is caught, but not passed into the `Reporter.notAMockPassedToVerifyNoMoreInteractions`.

Should we up

[2017-04-11 13:32] ChristianSchwarz commented on #1028
Mockito should better avoid exception where possible rather than abusing them for control flow. In case of your example in `MockitoCore.verifyNoMoreInteractions` the exception can be avoided by calling MockUtil.isMock(..) before, this make the intend clear.

[2017-04-11 13:35] ChristianSchwarz commented on #1028
@TimvdLippe can you provide a list of "Either log or rethrow this exception" issues. It would be interesting to see what can be improved there.

[2017-04-11 13:38] vogella opened #1029 "org.mockito.plugins.MockMaker.isTypeMockable should give reason why a type is not mockable"
If I use Mockito on Android and a type is not mockable I receive a stack traces (see below) but no information why the type was not mockable. Could you add this information?

<details>
<summary>Stacktrace</summary>

[code]
</details>

[2017-04-11 15:40] szczepiq commented on #1029
Nice markdown trick with stack trace!

Hey Lars, I suspect that this is some issue with incorrect version of Mockito (or old version of mocking lingering on the classpath). The isTypeMockable() was a new method introduced in Mockito v2. The AbstractMethodError indicates that it's a classloader / classpath issue rather than internal bug in Mockito.

Thanks for reporting!

[2017-04-11 15:50] vogella commented on #1029
:+1: I saw it last week on Twitter and was happy to use it.

You are correct, I had an older dependency to Mockito somewhere down in my build.gradle file (testCompile "org.mockito:mockito-all:1.10.19").

Sorry for the noise, feel free to close this bug.

[2017-04-11 19:35] trumpetx commented on #1013
DONT DO IT!  PowerMockito exists for those cases where you absolutely need to mock static methods.  Right now Mockito conforms to the commonly held opinion that static is for methods that are testable without mocks (think: StringUtils).  Static for other stuff should be discouraged (there are exceptions, obviously) - in those situations, encapsulating the static calls in a protected @VisibleForTes

[2017-04-11 20:21] TimvdLippe commented on #1029
Glad it has been resolved, enjoy mocking!

[2017-04-11 20:21] #1029 closed

[2017-04-11 20:24] TimvdLippe commented on #618
Would like to give everyone a heads up who is subscribed to this issue: @szczepiq did some great work to implement the new workflow. You can read a detailed description in the (WIP) wiki at https://github.com/mockito/mockito/wiki/Continuous-Delivery-Details#cd

We are planning to ship this new implementation soon, which means you will receive fewer Mockito updates. If you want to use the latest ve

[2017-04-11 20:28] TimvdLippe commented on #1013
@trumpetx I just wanted to note that the reason we are investigating this change is that some companies are in the legacy code situation, where adopting PowerMockito would be too disruptive. Therefore, these companies would be unable to test their classes. Even if they could adopt PowerMockito, the tests become significantly more difficult to understand, just to be able to test their legacy code.

[2017-04-11 20:36] TimvdLippe commented on #1013
Also for reference, I cross-posted this issue on Reddit and there some other arguments/viewpoints posted there: https://www.reddit.com/r/java/comments/64pdk1/mockito_discussion_on_introduction_of_mocking/

[2017-04-11 21:04] pioorg commented on #1013
@TimvdLippe
Thanks for your link. The recent posts have led me to another...
http://mvnrepository.com/artifact/org.powermock/powermock-api-mockito/usages
I'm just wondering why so many of them... And I didn't consider them so far as legacy ;-)

[2017-04-12 05:17] AnEmortalKid commented on #1013
I haven't had experience with ByteBuddy but I'd be willing to give it a shot. As far as names, how do we feel about `mockito-gore` to really indicate you need a strong reason to use this jar?

[2017-04-12 07:50] szpak commented on #1020
Closing as we switched to JDK7 build in #1021.

[2017-04-12 07:50] #1020 closed

[2017-04-12 08:06] szpak opened #1031 "Broken links in notable.md"
The new release notes generation mechanism provides broken links to "authors" and "improvements" in [notable.md](https://github.com/mockito/mockito/blob/76cd29eb7cf361a53a912b7aea42c56fb1603db3/docs/release-notes/notable.md):
https://github.com/mockito/mockito/blob/release/2.x/docs/release-notes/mockito/mockito/blob/release/2.x/docs/release-notes/notable.md
https://github.com/mockito/mockito/blob/

[2017-04-12 09:10] warabei14 commented on #1002
Maybe i am doing something wrong, can't see any errors, btw, i have the bytecode of kotlin class, seems everything ok with $.
[code]

[2017-04-12 12:16] warabei14 commented on #1002
https://youtrack.jetbrains.com/issue/KT-10397

[2017-04-12 12:26] raphw commented on #1002
Great, this is what I thought. We did recently add a fix that made instrumentation errrors bubble up where they were silently suppressed before. This is probably why this has changed.

[2017-04-12 16:42] szczepiq commented on #1031
Well spotted. Thank you!

[2017-04-13 09:12] warabei14 commented on #1002
that's nice! can we temporarily use some flag in gradle or somehow else to turn off throwing instrumentation errors (as a temporary fix)? Cause seems it may take a long time for a kotlin team to fix it up

[2017-04-13 22:25] xdom opened #1037 "Duplicate arguments captured with multithreaded method call"
When invoking method on mock from different thread, verifying it with `after(1000).atLeastOnce()` and capturing arguments, `argumentCaptor.getAllValues()` returns list of nondeterministic size containing lots of duplicate objects.

Tested with version 2.8.2, also tested with #986 applied. Test to prove:
[https://gist.github.com/xdom/4a49b378347af0d25ada8dc1aadab87e](https://gist.github.com/xdom/4a

[2017-04-18 13:39] ChristianSchwarz opened #1042 "Improve explorability of ArgumentMatcher's and Answer's"
In my last projects I found that `AdditionalMatchers` and `AdditionalAnswers` were never used, but some functionality was reimplemented like `find(regEx)` or `returnsFirstArgument()`. Since I observed it on different project/teams I guess they are hard to explore. Possibly users tend to think that all build-in ArgumentMatchers exists in `Mockito` so they don't look for other places.

ArgumentMatch

[2017-04-19 08:48] WhiteCosmos opened #1043 "Want to change default argument matcher"
Hi, I see there's a default matcher `Equals` will be set in `ArgumentsProcess`，any way to change the `Equals` matcher? I want to compare argument by fields.
[code]

[2017-04-19 13:56] pioorg commented on #1013
Just a few more words from me, maybe last ones ;-)
There's a method in Mockito:
`org.mockito.Matchers#isNull(java.lang.Class<T>)`
Isn't NULL considered to be "The Billion Dollar Mistake"? Shouldn't the programmers all around the world be educated that passing a null reference (instead of a `java.util.Optional`) is a very bad practice?
Maybe this `isNull` method should be deprecated and eventually

[2017-04-19 15:19] SeriyBg opened #1044 "Mistake in Contribution guide, Code style example"
In contribution guide, code style, Alignment section the example for points 4 and 5 are identical, even though the point No 5 describes totally different case.

[2017-04-19 18:21] #1044 closed

[2017-04-20 07:28] filiphr commented on #1013
I would like to add some comments from my own experience. I completely understand the people that are saying to add an abstraction to the static methods that you are invoking. However, in a legacy code that is expensive and requires a lot of effort.

Additionally, there are frameworks like [GWT](http://www.gwtproject.org/) that support polymorphism, but not like you would think. One needs to call

[2017-04-20 10:59] ChristianSchwarz commented on #1043
This is the default matcher in case an raw argument was passed to a mock method.  You can define your own ArgumentMatcher and use it like this:

`when(mock.method(Mockito.argThat(myFieldMatcher))).then(..)`

[2017-04-21 11:53] szpak opened #1046 "Investigate Gradle build cache to speed up Travis builds"
Travis could keep local Gradle [build cache](https://docs.gradle.org/3.5/userguide/build_cache.html) in its cache between builds. Possibly also in 2.x branch as Java 7 is used to build those releases (which is still supported by Gradle 3.5).

[2017-04-22 08:46] raphw commented on #1000
I think I have this "fixed" as I added an explicit check to Byte Buddy for inconsistent stack map frames. This seems to be a side-effect of using ProGuard in Android which destroys some metainformation in a way that the JVM can still run a method but that makes it practically impossible to instrument a class.

The irony is that this destruction does not obfuscate a thing as it only removes the typ

[2017-04-22 15:14] vicbell opened #1047 "How to test or mock the private method?"
Is there any practice way to test or mock the private method?
I must change all of the private methods to public in order to test or mock them?
Any suggestions?

[2017-04-22 15:36] TimvdLippe commented on #1047
Please read this wiki page: https://github.com/mockito/mockito/wiki/Mockito-And-Private-Methods

There are also some similar questions and answers available on Stackoverflow.

[2017-04-22 15:36] #1047 closed

[2017-04-23 00:05] vicbell commented on #1047
Thanks!

[2017-04-23 15:13] szczepiq commented on #1046
Great idea! Do you want to take a stab at it? We should also upgrade to Gradle 3.5 because now we build on Java7!!! :)

[2017-04-23 17:03] #1043 closed

[2017-04-24 07:10] ChristianSchwarz commented on #1037
@xdom Thanks for your gist test case! I modified it a bit to be deterministic.

[code]

This issue doesn't occure in the proposed replacement of `timeout(long)`/`after(long)` aka. `within(long,TimeUnit)` see PR #936

[2017-04-24 13:48] szczepiq commented on #984
Created ticket for it: https://github.com/mockito/mockito-release-tools/issues/92

[2017-04-26 14:14] xdom commented on #1037
@ChristianSchwarz Thank you. However, my original intention here was to wait (block) for a second and then verify the method was called at least once. Then I wanted to obtain all captured arguments. This won't be possible with `within(long,TimeUnit)`. I currently use a workaround you suggested in [#472](https://github.com/mockito/mockito/issues/472#issuecomment-261926293). Anyway, as long as `afte

[2017-04-26 21:50] LeftLegAndRightLeg opened #1049 "reset/unmock class after PowerMockito.mockStatic(YOUR_CLASS.class)"
Hi Guys,

I cannot find a way to reset/unmock a class after I do PowerMockito.mockStatic(MY_CLASS.class)

is there gonna be a way to do it ?

Best,
Bailiang

[2017-04-26 21:51] TimvdLippe commented on #1049
I think this is a PowerMockito related issue. Please report the issue on their tracker: https://github.com/powermock/powermock/issues

[2017-04-26 21:51] #1049 closed

[2017-04-26 22:28] tyrel opened #1050 "Can't mock error message is confusing when root cause is ClassNotFoundException"
If you attempt to mock a class which has a dependency that isn't in the test classpath, you will get the standard message:

You have to dig down through the stack trace to see that the root cause was a `ClassNotFoundException`. This can be very confusing for a user (it was for two people in my organization).

My suggestion is to detect if there's a `ClassNotFoundException` as a cause of the failur

[2017-04-28 07:26] Hendrik-AS opened #1053 "Real method on mocked object is always called"
I am trying to mock a class from a kotlin library:
[code]
In the given statement the real function ```kit.getResource()``` is called which leads to an NPE since function calls on ```resources``` are not mocked. Any ideas?

[Sample project to reproduce](https://github.com/Hendrik-AS/MockitoSample)
[androidKit library](https://github.com/hkokocin/androidKit)

[2017-04-28 11:21] tmurakami commented on #1053
I have tried your reproducible project with Mockito 2.8.9 that is the latest version.

Here is the stack trace.
[code]

You must add 'com.android.support:design:25.3.1' as compile scope.
[code]

[2017-04-28 11:40] sazzer opened #1054 "Support for @InjectMocks to inject already-created instances"
Disclosure - I'm doing this from Kotlin, where classes are final-by-default. That's part of the problem.

It would be very useful to have @InjectMocks able to inject fields that are already instantiated, but are not actually going to be managed by Mockito. Especially when these fields are of a final type and therefore can not be annotated with @Spy. As a very obvious example, `java.lang.String` co