[2019-04-01 08:18] techpavan commented on #1381
Figured out that `when` can be made to work by explicitly returning `Answers.RETURNS_DEFAULTS.answer(invocation)` for all the cases other than our pointed target. More on how I landed here and the solution - https://stackoverflow.com/q/55379745/3940047

[2019-04-01 11:48] realdadfish opened #1679 "NPE after upgrading from 2.23.4 to 2.25.1 [2.25.7]"
After upgrading Mockito I get the following NPE in my Robolectric JVM Unit Tests. More specifically, I "bisected" the issue and figured the breaking must have happened between 2.23.18 (still ok) and 2.23.19 (crash):

[code]

This seems to be triggered by this change: https://github.com/mockito/mockito/pull/1430

Is there any new configuration I'm missing here?

[2019-04-01 12:00] TimvdLippe commented on #1679
That NPE is thrown on a line that uses a static variable (`registry`). Are you sure that the MockMaker you are using implements the correct interface? If possible, please provide a reproduction case that we can debug.

[2019-04-01 12:09] realdadfish commented on #1679
I'm using the `inline` MockMaker and that did not change. Let's see if I can come up with a reproduction project.

[2019-04-01 12:19] realdadfish commented on #1679
Ah, I found the culprit! I had a `debugImplementation` dependency to another module that pulled in `mockito-android` for the Instrumentation tests (long story why this isn't a `androidTestImplementation` dependency), overriding the `mockito-inline` MockMaker for the JVM test. Removing that explicit dependency resolved the issue

[2019-04-01 12:19] #1679 closed

[2019-04-01 13:04] SchulteMarkus commented on #1630
I got a similar issue.
I have got a workaround, if only a few of your "Mockito"-test-classes in you testsuite are failing when running JUnit jupiter in parallel. You can execute those problematic tests using "SAME_THREAD" for avoiding Mockito concurrency issues.

[code]

[2019-04-01 18:32] efenderbosch commented on #1606
We are getting this when attempting to upgrade Spring Boot 2.0.x to 2.1.x.

spring-boot-dependencies specifies the version for ByteBuddy and Mockito:

Spring Boot 2.0:
[code]

Spring Boot 2.1:
[code]

We are using ``spy`` on a real class and it is fully public and non-final.

Any version of Mockito newer than 2.15.0 seems to cause this. 2.16.0 uses byte-buddy 1.9.10. Any idea on what I can look fo

[2019-04-01 19:06] TimvdLippe commented on #1606
@efenderbosch Are you sure ByteBuddy is not loaded transitively through a different dependency?

[2019-04-02 13:16] efenderbosch commented on #1606
Yes, running ``mvn dependency:tree`` only shows 1.7.11 or 1.9.10 and only through Mockito.

We are still running Java 8, if that matters. Need Pact to update (4.x is currently in beta) so we can upgrade to 11. Was there a change in Mockito 2.16+ or ByteBuddy 1.8+ that doesn't work w/ Java 8?

[2019-04-02 13:28] TimvdLippe commented on #1606
That version is too low and probably leads to the tests loading the wrong version of ByteBuddy. Could you specify ByteBuddy as a dependency in your root pom to use the correct version?

No, Mockito should work just fine on Java 8

[2019-04-02 13:50] efenderbosch commented on #1606
ByteBuddy 1.7.11 and Mockito 2.15.0 *work*, though. Anything after that uses ByteBuddy 1.9.10+ and fails.

[2019-04-02 14:10] henri-tremblay commented on #1677
I've continued digging. Two things are helpful:
- `Mockito.mockingDetails(mock).printInvocations()` will print the invocation so if you think some mock is not called as expected, you can dig into that
- `Mockito.verifyZeroInteractions(mock)` to make it fail and see the unexpected invocation

They are helpful but when you have a lot of mocks it requires a code change and a bit of guessing and inves

[2019-04-02 14:52] mockitoguy commented on #1677
Thank you for feedback! I think you're right. New feature for legacy tests would be useful.

Let's say we have "strict" mocks. Do you think that "strict mock" should fail early every time, or only when 'non-void' methods are called?

[2019-04-02 14:56] mockitoguy commented on #1677
I see that we have a spec for strict mocks at: https://github.com/mockito/mockito/issues/1097

[2019-04-02 15:25] mockitoguy commented on #1097
@jadeleeuw, it's a limitation of our syntax. In the description, we stated that strict mocking will require using doReturn API.

@henri-tremblay suggested an interesting idea, new method "setStrict(mock)" in https://github.com/mockito/mockito/issues/1677#issuecomment-479013893

[2019-04-02 17:20] bfarka opened #1681 "Make it easier to to mock java.lang.Optional as return value of a Method"
When you do extensive testing/mocking on some APIs which return Optionals on you end up writing somehting like

`Mockito.when(foo.getBaa()).thenReturn(Optional.of(myBaaValue)); `

many times.

this happend to me when writing many test on my Spring Applications and I mockted the Repository types into my Services (https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/r

[2019-04-02 17:26] efenderbosch commented on #1606
Ok, I think I figured it out. The problem seems to be ``default`` methods on interfaces.

The class I'm spying implements ``com.github.benmanes.caffeine.cache.CacheLoader``

If my concrete class overrides the ``default`` methods, then my test runs successfully.

[2019-04-02 17:29] TimvdLippe commented on #1606
@efenderbosch Please open a new issue (or PR if you can :smile: ) to triage your problem there.

[2019-04-02 19:06] raphw commented on #1606
@efenderbosch This was strange. Can you create a small reproduction of the issue?

[2019-04-02 21:20] TimvdLippe commented on #1681
Is this a worthwhile addition? We are not going a lot in terms of readability nor in terms of conciseness. Both statements are fairly long and express the same thing.

[2019-04-03 03:26] henri-tremblay commented on #1677
Reading #1097, my opinion:

Seems ok. Not sure you need to bother yourself about void/non-void. Having void to fail can make the test more resilient to unexpected calls (assuming, the tester forgot to verify for no more interactions)

Probably a good idea

Yes. You might need to some `verifyAllStubsWereUsed` when not using rules or runner

This is a problem because it is needed after the fact. So

[2019-04-03 16:10] bric3 commented on #1681
You can leverage the mockito API this way :

[code]

Where `returnOptionalOf()` is a static factory method that implements `Answer`.

[2019-04-03 16:45] dapengzhang0 commented on #1511
I still have problem with Android Gradle Plugin 3.3.2 and mockito 2.25.1,
[code]
fails. (See the above ref)

[2019-04-03 16:49] TimvdLippe commented on #1511
That's the Proguard bug I was talking about in https://github.com/mockito/mockito/issues/1511#issuecomment-475673168

[2019-04-03 16:50] hiteshbargujar commented on #1562
@bharukaRupesh did you ever find the solution for this, I am getting the same error with Powermock. I update the libs to 2.0.0 of powermock but still getting the error.

[2019-04-04 07:20] xingfudeshi commented on #310
mark

[2019-04-04 14:46] TimvdLippe opened #1682 "2.26.0 release crashed"
It stopped processing the release at the task `bintrayPublish`: https://travis-ci.org/mockito/mockito/jobs/515739785#L1890 However, it successfully uploaded to Bintray: https://bintray.com/mockito/maven/mockito/2.26.0

[2019-04-04 14:47] TimvdLippe commented on #1682
It is unclear if this artifact is being pushed to Maven Central: http://central.maven.org/maven2/org/mockito/mockito-core/2.26.0/ It might require a manual central sync by @mockitoguy

[2019-04-04 20:48] bfarka commented on #1681
@bric3: Thx for you input, but IMHO i don't see the big difference...

since when(foo.getBaa)).thenReturn(Optional.ofNullable(myBaaValue));

use a a static factory method too since ofNullable could be static imported too..

@TimvdLippe / @bric3: the big difference in my suggestion would be it simply would make the API a bit more fluent. The IDE would have a chance to suggest me the

`thenReturnOpt

[2019-04-04 21:01] TimvdLippe commented on #1681
This is a strawman, so forgive me for that, but the same would be true for things like `thenReturnSetOf`. We would introduce an api for the most common types. We did that in the Matchers API (for set, list and map), but we regard that as a mistake.

I do agree that the IDE argument is valid. So it is more an argument of IDE usefulness vs API "bloat".

[2019-04-05 18:35] efenderbosch commented on #1606
I tried w/ a clean project and can't reproduce it. Gave up on Spring Boot 2.1 for now. Tried 2.0.9 (from 2.0.8) and got the same issue. So I'm pretty stumped as to what is going on. At this point, we are fine w/ just overriding default methods on the couple classes that we need to mock/spy.

[2019-04-05 22:10] markusheiden commented on #1630
To be a bit more specific, WantedButNotInvoked exceptions are thrown by verification calls failing, because of not recorded invocations: "Actually, there were zero interactions with this mock.".

[2019-04-05 22:44] markusheiden commented on #1630
The main difference between the current and the simple implementation above is, that the simple one inits the mocks in postProcessTestInstance() whereas the current one inits them in beforeEach(). Any ideas why that might be a problem?

[2019-04-06 01:12] mockitoguy commented on #1630
Hey guys, can you provide us a test that reproduces the problem? Thanks!

[2019-04-06 01:25] mockitoguy commented on #1682
Let's move on. This was the last step of the release so even if it crashed, we are in a good state because Bintray and Maven Central have the version. I don't think this is something we can solve. My theory is that bintrayUpload task got stuck when Bintray server was syncing to Maven. I've seen something like that happening from Bintray UI in the past.

[2019-04-06 01:25] #1682 closed

[2019-04-06 01:26] mockitoguy commented on #1682
Thank your for documenting though! If this becomes a problem again, we may revisit!

[2019-04-06 01:30] mockitoguy commented on #1677
@henri-tremblay, thank you for taking the time and giving feedback on all ideas!

[2019-04-06 01:39] mockitoguy commented on #1681
Very true (and even more: thenReturnListOf, thenReturnMapOf, thenReturnCollectionOf, ...). It does not seem as a good evolution of the API. Also, we would need to add ```doReturnOptionalOf``` and ```willReturnOptionalOf``` methods for consistency.

@bfarka, I hope you understand and you will continue to happily use Mockito :)

[2019-04-06 01:39] #1681 closed

[2019-04-06 13:54] TimvdLippe commented on #1682
Right, yes the Maven Central sync actually succeeded. I was worried it didn't.

[2019-04-07 13:25] JiDarwish commented on #1419
Anyone has an idea how to do this in pom.xml?

[2019-04-07 13:39] bric3 commented on #1419
@JiDarwish It's basic maven dependency management ;)

[code]

[2019-04-07 14:21] yemanaung commented on #1681
support

[2019-04-08 20:24] TimvdLippe commented on #1517
My local development of Mockito becomes more and more problematic with Java 6. It came to the point that I simply locally switch to 8 and do all development and rely on CI to catch all accidental breakages.

I would like to propose a very minimal Mockito 3 release:
1. Switch to Java 8 (since a lot of enterprise users are still on 8 rather than 11)
2. Remove deprecated APIs
3. Promote incubated API

[2019-04-08 20:54] raphw commented on #1517
What about strict mocking in JUnit 4 and JUnit 5? I think those are good ideas to introduce.

[2019-04-08 21:11] TimvdLippe commented on #1517
Strict mocking has several issues right now that I think we should consider as blockers. Moreover, there is a discrepancy between JUnit 4 and 5. I would rather address these concerns before making them the default.

I would mostly strive for different releases to prevent a Mockito 2 beta-phase again. If we try to tackle it all at once, we make it very difficult for us. Jumping to 8 now pays off so

[2019-04-09 05:33] bharukaRupesh commented on #1562
@hiteshbargujar I can't exactly recollect the solution as there were lot of such errors which I have resolved in one go.

could you please try adding ```@PowerMockIgnore({"com.sun.org.apache.xerces.*", "javax.xml.*", "org.xml.*", "javax.management.*"})``` at class level?

Probably this shall resolve your issue.

[2019-04-10 08:23] SamBarker commented on #1540
Does anyone have a view as to wether #1629 is worth taking further? I ask as I have a couple of days available at work to take this forward if its appropriate.

(That and the fact I've spent a bunch of time sprinkling `lenient = true` around tests I've been refactoring today)

[2019-04-10 14:18] SchulteMarkus commented on #1630
@mockitoguy Here you go: https://github.com/SchulteMarkus/mockito.bug1630

[2019-04-11 09:52] SchulteMarkus opened #1684 "Use reflectasm instead of java.lang.reflect"
Hi there,

Mockito is heavily using Java-reflection. As all of us know, reflection is expensive[1].

There is an alternative reflection library https://github.com/EsotericSoftware/reflectasm, maybe you want to give it a try.

[1] Some Java reflection example benchmarks at:
- https://blog.frankel.ch/performance-cost-of-reflection/
- https://github.com/EsotericSoftware/reflectasm
- https://www.optap

[2019-04-11 10:34] TimvdLippe commented on #1684
While reflection is expensive, I wonder if it is the most expensive part of Mockito. We generate class bytecode on the fly with ByteBuddy, which I think would trump any performance issues because of our usage of reflection.

If we were to consider using the library, do you mind performing a little research showing the before and after, if we were to use reflectasm?

[2019-04-11 21:54] raphw commented on #1684
Reflection generates byte code internally after 15 calls. The overhead comes from boxing mostly which we cannot avoid as we have to extract the arguments in a generic manner.

[2019-04-12 08:10] SchulteMarkus commented on #1684
Thanks for the feedback. I did not know, that Mockito is using ByteBuddy, which should/will of course improve the reflection-performance.

Indeed a difficult topic. Is changing from java.lang.reflect to another lib useful? Does it improve the performance (enough)? Would it be future-safe? Can it be measured? Of course, performance while testing is not that important compared to performance of the

[2019-04-13 05:54] raphw commented on #1684
Measuring microperformance is difficult in our context but you can already get rid of the overhead of reflection by using method handles and invokeExact today. However, this requires to know the exact type signature of a method what we do not know since we intercept generic methods.

I do not think there is much to gain here, to be honest, but if you would like to experiment and can provide a vali

[2019-04-15 09:32] SchulteMarkus commented on #1684
Thanks for your feedback here, in my opinion a constructive discussion. I am closing this issue because "not relevant".

[2019-04-15 09:32] #1684 closed

[2019-04-15 20:01] tir38 opened #1687 "Allow verbose logging for spies"
I know I can emable verbose logging via

`SomeObj aMock = mock(SomeObj.class, withSettings().verboseLogging());`

It would be helpful to do this for spy too:

`SomeObj aSpy = spy(SomeObj.class, withSettings().verboseLogging());`

[2019-04-16 13:18] svkaka commented on #1468
@FranziscaZarrai @bric3 Any update on this? how do we do that?

[2019-04-16 14:08] MoodyMudit commented on #1606
Hi I have the same problem. I am migrating from java 8 to java 11. I have updated Mockito to 2.23.0

`[INFO] +- org.mockito:mockito-core:jar:2.23.0:compile`

I have also included byte-buddy as a dependency
[code]
I have checked that byte-buddy is not loaded transitively through a different dependency. I can't understand what the issue is.

[2019-04-16 15:45] raphw commented on #1606
Do you have a stack trace? There can be other errors causing this message.

[2019-04-16 15:50] MoodyMudit commented on #1606
@raphw The stack trace is almost the same as others. Here you go
[code]

[2019-04-16 15:54] TimvdLippe commented on #1606
@MoodyMudit It's unlikely that is the full stacktrace. Could you post the full stacktrace please?

[2019-04-16 15:58] raphw commented on #1606
It still shows the error with *Error invoking java.lang.reflect.Method#getAnnotatedReturnType*. Seems like a problem with your mocked class.

[2019-04-16 17:26] praveenk007 commented on #529
This doesnt seem to work. I am using below powermockito version
[code]

[2019-04-17 03:26] javvajiamani opened #1688 "Mocking error for Kafka RecordMetadata"
Trying to write the unit test using Mockito for the below code, but I'm getting misusing method exception.
Result is not null, verified, entering into loop as well.
if(Result!=null){
result.getRecordMetadata().topic()}

This is what I have written
[code]

Exception:
[code]

[2019-04-17 07:02] MoodyMudit commented on #1606
@TimvdLippe @raphw I was able to solve this issue. I noticed that java 11 does not contain the JAXB APIs. So I included them as dependencies in pom.

[code]
Thanks for your help.

[2019-04-17 11:18] TimvdLippe commented on #1688
You are not mocking the `recordMetadata`:

[code]

You should make this a mock and then you can write stubs for it.

[2019-04-17 11:18] #1688 closed

[2019-04-17 13:50] mockitoguy commented on #1630
Thank you! The sample project looks great!

I looked at the code but I haven't had time to debug it. How does the JUnit5 parallel execution work? Are we sharing the test instance (and thus, sharing mocks, SUTs?).

[2019-04-17 15:52] TimvdLippe opened #1689 "Coverage report is broken since Gradle 5"
We upgraded to Gradle 5 in #1683 to fix our Java 11 build. However, this has now broken our coverage computation because of a breaking change in Gradle 4.10: https://github.com/gradle/gradle/pull/6419

There is no guidance from the Gradle team on how to migrate to a proper configuration. I have spend a couple of hours today to try to fix it, with no result. The TLDR is that Gradle now throws away

[2019-04-17 16:42] javvajiamani commented on #1688
I did try this as well by mocking
RecordMetadata recordMetadata = Mockito.mock(RecordMetadata.class);

Still I got the exception
org.mockito.exceptions.base.MockitoException: Cannot mock/spy class org.apache.kafka.clients.producer.RecordMetadata Mockito cannot mock/spy because : - final class

[2019-04-17 16:46] javvajiamani opened #1691 "CompletableFuture unit tests mocking"
I technically wanted the Execute the unit test for this particular step ```List<CompletableFuture<Data>> futureList= future.join();``` Not sure how to mock the future variable. I have return the tests to validate the ```oracleRepo.extractSpecificNameAndEventTypes(firstName, lastName)``` and ```nameEventTypesMap->sendNameData(nameEventTypesMap.values(),method```

```extractSpecificNameAndEventTypes

[2019-04-17 16:49] TimvdLippe commented on #1688
That is a different exception. `RecordMetadata` is final and can not be mocked.

[2019-04-17 16:50] TimvdLippe commented on #1691
I think this issue is more appropriate for StackOverflow: https://stackoverflow.com/questions/tagged/mockito

[2019-04-17 16:50] #1691 closed

[2019-04-17 17:43] sensei-wu commented on #1419
@bric3 I did exactly the same, still didn't help :-(

[2019-04-17 18:03] sensei-wu commented on #1419
Ok, adding bytebuddy dep. on top of that helped!

[2019-04-18 08:19] SchulteMarkus commented on #1630
You are welcome :-)
I don't know details about JUnit's parallelization.

[2019-04-18 09:32] ming13 commented on #1533
Just checked Mockito 2.27.0. Using the new `Mockito.framework().clearInlineMocks()` call does the trick and helps to avoid OOM. Thanks!

[2019-04-18 09:32] ming13 commented on #1532
Just checked Mockito 2.27.0. Using the new `Mockito.framework().clearInlineMocks()` call does the trick and helps to avoid OOM. Thanks!

[2019-04-22 07:56] spt110 commented on #1606
我也遇到了 快点修复

[2019-04-22 17:07] Stephan202 commented on #1609
Instead of using the reintroduced `getArgument<T>(int, Class<T>)`, IIUC the issue described above can also be solved as follows:
[code]
That's admittedly less obvious, but does keep the API smaller. Has this been considered?

[2019-04-22 17:24] TimvdLippe commented on #1609
While that does work as well, I think consistency with the old API as well as the readability of the former vs the latter would still lead me to conclude that reintroducing is the appropriate solution.

[2019-04-22 17:52] Stephan202 opened #1692 "The new Error Prone plugin isn't service-loadable"
The `MockitoNotExtensible` plugin added in #1669 is pretty cool. However, when `mockito-errorprone` is added to the annotation processor classpath, Error Prone does not recognize/find the plugin. This is because `MockitoNotExtensible` is not declared in a `META-INF/services/com.google.errorprone.bugpatterns.BugChecker` file on the classpath.

[2019-04-23 10:13] ivocosta82 commented on #1630
I'm having similar problems running my tests. the same_thread appears to fixed my tests. Symptoms include marking needed stubs as not needed and mocked classes being null in random test methods.

[2019-04-26 16:56] tlubz opened #1694 "bug: mockito-android crashes instead of warning when running unit tests"
# Bug report
We are seeing a strange crash coming from `AndroidByteBuddyMockMaker` when calling `Mockito.mock` in unit tests. It appears that it's crashing because it is trying to use the `PluginRegistry` logger _during initialization_ of the `registry: PluginRegistry` field on `Plugins`.

It's pretty clear looking at the code in `AndroidByteBuddyMockMaker` that the intended behavior is for a warn

[2019-04-27 16:45] TimvdLippe commented on #1694
I think this is similar to https://github.com/mockito/mockito/issues/1589

Could you provide a sample project that we can clone and debug?

[2019-04-29 17:24] tlubz commented on #1694
Fyi this seems like a recently introduced bug. see this commit from Jan 31st: https://github.com/mockito/mockito/commit/074c06ddaaca1c0b3f12fb11daf7e0fc23b3d198

I'll link to a sample project when I have a few minutes.

[2019-04-29 17:34] TimvdLippe commented on #1694
Are you sure you are loading the correct version of Mockito? That logger should exist just fine if you are loading the latest version.

[2019-04-29 17:42] tlubz commented on #1694
yes we are using 2.27.0, excerpt from build.gradle:

[code]

here's a clonable repo with a minimal test case: https://github.com/tlubz/MockitoAndroidCrash

just clone the repo and `./gradlew :app:testDebugUnitTest` to see the error, or run ExampleUnitTest from Android Studio

[2019-04-29 20:24] jjDevPL commented on #1593
try this as workaround:
`Mockito.when(good.call((String[])Mockito.any())).thenReturn(1L);`

[2019-04-29 20:32] jjDevPL commented on #1593
the problem is matches method from internal class VarArgAware in InstanceOf. It need to be override.

[2019-04-30 14:51] keeganwitt opened #1696 "Mocking classloader with Java 11 crashes JVM"
Mocking a ClassLoader with Java 11 (I tested with Java 11.0.3 and Mockito 2.27.0) causes the JVM to crash.  This works with Java 8.  I raised an issue ([JDK-8223062](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8223062)) with Oracle and was told this is not a Java bug.

Here's the code that produces the crash with Java 11
[code]
[code]

Here's an example project (with code above) that

[2019-04-30 14:56] TimvdLippe commented on #1694
This is working as intended. You need to add `mockito-android` in the `androidTestImplementation` scope per our documentation: https://static.javadoc.io/org.mockito/mockito-core/2.27.0/org/mockito/Mockito.html#0.1

[code]
[code]

[2019-04-30 14:56] #1694 closed

[2019-04-30 14:57] #1692 closed

[2019-04-30 15:17] TimvdLippe commented on #1689
Per https://github.com/gradle/gradle/pull/6419#issuecomment-484178277

I suppose we can use this task, but I am not sure how to configure it properly.

[2019-04-30 15:20] TimvdLippe commented on #1696
I don't think we support mocking a `ClassLoader`. Moreover, you are spying on the test class, which is questionable as well. What requirement do you have that requires to mock a `ClassLoader`?

[2019-04-30 15:21] TimvdLippe commented on #1662
I am closing this issue, as there is currently nothing we can do to tell Maven to not force ByteBuddy in the compile scope. If at some point Maven updates their implementation to make this possible, we can patch our dependency specification.

[2019-04-30 15:21] #1662 closed

[2019-04-30 15:22] TimvdLippe commented on #1657
We fixed a major memory issue in #1683. Are you still seeing this problem?

[2019-04-30 15:25] TimvdLippe commented on #1640
This normally indicates you are missing a dependency in your jar, which was previously silently ignored. If that does not work, you can consider using http://robolectric.org/ to use the appropriate classloader for Android tests.

[2019-04-30 15:25] #1640 closed

[2019-04-30 15:26] TimvdLippe commented on #1623
I would welcome a PR for this :smile:

[2019-04-30 15:30] TimvdLippe commented on #300
This was released on https://github.com/mockito/mockito-testng

[2019-04-30 15:30] #300 closed

[2019-04-30 15:32] TimvdLippe commented on #741
As we are using Shipkit, we now get this for free.

[2019-04-30 15:32] #741 closed

[2019-04-30 15:39] TimvdLippe commented on #992
I will work on this as part of my work on upgrading Mockito in Google. For future breaking changes, we must include the migration path and preferably included automated scripts (using ErrorProne). Sorry that we did not get to this sooner and that we make hard-to-migrate-from breaking changes in the past.

[2019-04-30 15:39] #992 closed

[2019-04-30 15:42] TimvdLippe commented on #990
While the state is not great, I am closing this as wont-fix. We sadly are not a dependency injection framework and `@InjectMocks` tries it best. My personal opinion is that we should just remove `@InjectMocks`, but for now we will keep the feature as-is.

[2019-04-30 15:42] #990 closed

[2019-04-30 15:42] TimvdLippe commented on #962
Closing this per the above comment.

[2019-04-30 15:42] #962 closed

[2019-04-30 15:44] TimvdLippe commented on #970
Closing as wont-fix.

[2019-04-30 15:44] #970 closed

[2019-04-30 15:46] TimvdLippe commented on #917
Let's not do this for now, as we have previously been broken by Shipkit. It just is a safe-handle to manually bump whenever we want to.

[2019-04-30 15:46] #917 closed

[2019-04-30 15:51] #1273 closed

[2019-04-30 15:56] TimvdLippe commented on #1266
I am closing this issue as working as intended. I am open for future discussion of course, but for now we want to make developers more cautious about mocking rather than encouraging more mocking.

[2019-04-30 15:56] #1266 closed

[2019-04-30 15:57] TimvdLippe commented on #1230
Closing per above comment.

[2019-04-30 15:57] #1230 closed

[2019-04-30 16:06] TimvdLippe commented on #1210
Closing as duplicate of #1517

[2019-04-30 16:06] #1210 closed

[2019-04-30 16:07] TimvdLippe commented on #1517
We have released the first 3.0.0-beta.1 to jcenter: https://twitter.com/MockitoJava/status/1121716503274033152

[2019-04-30 16:10] TimvdLippe commented on #1284
Closing as wont-fix. We have updated the documentation to make it more clear.

[2019-04-30 16:10] #1284 closed

[2019-04-30 16:12] TimvdLippe commented on #1383
Could you create an example project that we can debug?

[2019-04-30 16:13] TimvdLippe commented on #1333
This has shipped in https://github.com/mockito/mockito-scala

[2019-04-30 16:13] #1333 closed

[2019-04-30 16:16] TimvdLippe commented on #1311
We don't plan to change this, as we deprecated support for Hamcrest. Moreover, this is an artifact of the *-import which is discouraged for these kind of clashes.

[2019-04-30 16:16] #1311 closed

[2019-04-30 16:17] TimvdLippe commented on #1138
Closing per above comment.

[2019-04-30 16:17] #1138 closed

[2019-04-30 16:19] TimvdLippe commented on #1292
Closing per https://github.com/mockito/mockito/issues/1078#issuecomment-304576840

[2019-04-30 16:19] #1292 closed

[2019-04-30 16:21] TimvdLippe commented on #1424
These are internal classes and are not part of our public API and thus unsupported for external users.

[2019-04-30 16:21] #1424 closed

[2019-04-30 16:22] TimvdLippe commented on #1422
Closing as we don't have enough information. Please reopen if you can supply an example project which shows the issue.

[2019-04-30 16:22] #1422 closed

[2019-04-30 16:23] TimvdLippe commented on #1428
Closing per the above comment.

[2019-04-30 16:23] #1428 closed

[2019-04-30 16:24] TimvdLippe commented on #1423
You should not mock `Method`, it is final.

[2019-04-30 16:24] #1423 closed

[2019-04-30 16:24] TimvdLippe commented on #1427
You can not rely on the class output of Mockito, so we don't support this use case.

[2019-04-30 16:24] #1427 closed

[2019-04-30 16:26] TimvdLippe commented on #1415
This is likely not an issue with Mockito but with `MockMvcBuilders`. Please open an issue on their list if you still run into it.

[2019-04-30 16:26] #1415 closed

[2019-04-30 16:27] #1394 closed

[2019-04-30 16:28] TimvdLippe commented on #1385
This is working as intended per the Java 8 specification. However, you can use `.getArgument(int,Class)` to prevent that from happening.

[2019-04-30 16:28] #1385 closed

[2019-04-30 16:29] TimvdLippe commented on #1403
Closing per above comment.

[2019-04-30 16:29] #1403 closed

[2019-04-30 16:30] TimvdLippe commented on #1510
Glad to hear! Closing per above comment.

[2019-04-30 16:30] #1510 closed

[2019-04-30 16:35] TimvdLippe commented on #1495
Closing as this issue is quite old and lacks a reproduction project.

[2019-04-30 16:35] #1495 closed

[2019-04-30 16:37] TimvdLippe commented on #1467
Closing per above comment.

[2019-04-30 16:37] #1467 closed

[2019-04-30 16:43] TimvdLippe commented on #1491
Closing per above comment.

[2019-04-30 16:43] #1491 closed

[2019-04-30 16:45] TimvdLippe commented on #1568
This was addressed in #1573.

[2019-04-30 16:45] #1568 closed

[2019-04-30 16:58] keeganwitt commented on #1696
I'm testing [this class](https://github.com/groovy/GMavenPlus/blob/master/src/main/java/org/codehaus/gmavenplus/util/ClassWrangler.java) with [this test](https://github.com/groovy/GMavenPlus/blob/master/src/test/java/org/codehaus/gmavenplus/util/ClassWranglerTest.java).  I had logic in that class I wanted to test, but wanted to limit the class under test's ability to access resources on the classp

[2019-04-30 17:00] TimvdLippe commented on #1696
In that case, I would advise constructing a special ClassLoader (probably easiest to use https://docs.oracle.com/javase/7/docs/api/java/net/URLClassLoader.html) rather than mocking.

[2019-04-30 17:30] keeganwitt commented on #1696
Yea, that's an option.  Or use a null ClassLoader.  Is the limitation on mocking ClassLoader documented anywhere?

[2019-04-30 17:40] tlubz commented on #1694
@TimvdLippe It doesn't seem to be working as intended: this is crashing, it's supposed to log a warning. This spec should pass, but log a warning.

[2019-04-30 17:45] tlubz commented on #1694
Also switching to `androidTestImplementation` does not 100% solve the problem.  As I mentioned above, there seems to be a bug in AS 3.4.0 where the mockito-android `androidTestImplemention` dependency is included in the classpath for unit-tests when switching from the `debug` to the `release` build variant and running unit-tests.

I'm not sure if this is an AS bug or a mockito bug, since it doesnt

[2019-04-30 17:47] TimvdLippe commented on #1694
I am not sure if I am following. The command is passing after the patch I posted. What command should I run that does fail?

[2019-04-30 17:58] TimvdLippe commented on #1696
It is not per se limited, we highly discourage it: https://github.com/mockito/mockito/wiki/How-to-write-good-tests#dont-mock-a-type-you-dont-own

[2019-04-30 18:06] larsgrefer commented on #1689
So you wan't a coverage report which calculates the aggregated test-coverage over all subprojects?

[2019-04-30 18:53] TimvdLippe commented on #1689
That is correct. This was working as intended, but was broken in Gradle 5: https://github.com/gradle/gradle/pull/6419 The appropriate solution is `JacocoMerge`, but I was not able to make that work.

[2019-04-30 19:02] marcphilipp commented on #1689
I'm looking into it.

[2019-04-30 19:02] larsgrefer commented on #1689
JacocoMerge alone won't help. You'd also need an additional JacocoReport task.

I can write a grade plugin for this an provide a PR which uses this plugin to solve the problem.

[2019-04-30 19:03] TimvdLippe commented on #1689
Awesome thanks!

We currently already have a custom task in https://github.com/mockito/mockito/blob/0ad4efbeedac050f416c48f22c9a561e31f3cb05/gradle/root/coverage.gradle, so I don't think a plugin is strictly necessary.

[2019-04-30 19:15] tlubz commented on #1694
My reading of the code in `AndroidByteBuddyMockMaker` seems to be that _if you do load mockito-android in a unit test_, it should _log a warning_ and delegate to the default MockMaker implementation, not raise an exception.

A separate issue, which is what led to me discovering this in the first place, is that Android Studio 3.4.0 doesn't seem to be doing the right thing when running tests in the

[2019-04-30 19:26] Godin commented on #1689
You don't need nor merge, nor additional report, nor custom plugin:

https://github.com/gradle/gradle/pull/6419 states

however `JacocoReport` can use data from multiple files.

Was about to open PR after seen https://twitter.com/TimvdLippe/status/1123244630491979776 , however @marcphilipp was faster 😆 :thumbsup:

[2019-04-30 19:32] #1689 closed

[2019-05-01 14:12] standup-jb commented on #1423
So the final method can't be mock.

[2019-05-01 16:11] keeganwitt commented on #1696
I get that.  I just wondered if ClassLoader viewed as a special case from your perspective.  If that's not the case, then feel free to close this issue.

[2019-05-01 16:38] TimvdLippe commented on #1696
It's not treated in any special way.

[2019-05-01 16:38] #1696 closed

[2019-05-02 23:01] #1542 closed

[2019-05-03 07:24] dnsmkl commented on #1188
Scenario when `any(Class)` is inconsistent with `any()`.
1. `any()` is used for all mocks.
2. There is single function with one parameter, but many overloads, so can't be used because of type ambiguity.
3. `any(Class)` seems natural attempt to disambiguate the type.

This does not work.
Type specific equivalent of `any()` is `nullable(Class)`

[2019-05-03 11:38] TimvdLippe commented on #1188
@dnsmkl You can disambiguate with `ArgumentMatchers.<String>any()`.

[2019-05-03 15:36] #1386 closed

[2019-05-03 15:37] TimvdLippe commented on #1656
Closing this per the above comment, as we implemented this in #1667

[2019-05-06 02:22] kriegfrj commented on #1656
Hi @TimvdLippe,

Just FYI, I think that #1667 was only part of the implementation of this. Per the OP, the other part would be to use OpentTest4J's `MultipleFailuresError` as part of the `VerificationCollector` implementation.

[2019-05-06 17:32] #1623 closed

[2019-05-06 17:38] IAmHopp commented on #1013
This really highlights the difference between discussing the needs of the feature and judging the development choices of other teams.

I think @rdicroce got it right. What we see in this issue is that many people are perfectly comfortable buidling wrapper classes for this single, exclusive need [or even PowerMock, which does a bunch stuff, but again for this single purpose] and others wish they co

[2019-05-07 06:25] Maarten-Damen commented on #1610
@bric3 Is there any progress on this issue? We encounter testcases that succeed with JUnit 5, but fail with JUnit 4, which is a problem for us.

[2019-05-07 10:57] bric3 commented on #1593
Hi @jjDevPL

Thanks for tracking the version that changed the behavior ! This was done as part of #635.

For other here's the code in the archive :

[code]

Both `testMockitoVarArgs1` and `testMockitoVarArgs3` are failing.

1. Reagrding `testMockitoVarArgs1`, this is somehow expected, as it is a part of the enhancement of #635, however we probably missed to document this case. The stub should now

[2019-05-08 11:08] luankevinferreira commented on #1606
I have the same problem with 2.27.0, reverting back to 2.23.4 works.

--- Interface that Mockito is unable to mock

import java.util.Set;

import br.com.senior.platform.authorization.UserNotificationPriority;
import br.com.senior.platform.authorization.model.ResourceIntegration;

public interface NotifyResourceIntegration {

    boolean notifyOnError(Set<ResourceIntegration> allResources, Throwabl

[2019-05-09 13:09] T3rm1 commented on #1495
What? All you need to do is copy & paste the above code.
Also, what the above code tries to achieve is quite common. No one wants to mock every return type. Please reconsider to fix this bug.

[2019-05-09 14:07] TimvdLippe commented on #1495
The code in question does not compile with just your lines of code. Please create a reproduction project.

[2019-05-09 16:30] solter opened #1709 "compiling tests using anyList() Java 7 error"
# Bug Description
I am upgrading code from Mockito 1.x to 2.x, using Java 7. Within the code I am using the `anyList()` as an argument matcher for a class method requiring a `List<String>`. When I upgraded from mockito 1.10.19 to 2.1.0 the test no longer compiled, but instead threw the following error:
[code]
whereas previously it had just spit out the following warning
[code]
The error was thrown

[2019-05-09 16:47] TimvdLippe commented on #1709
You can fix this by explicitly adding the type parameter: `Mockito.<String>anyList()`. I am not sure why this is suddenly failing, but this behavior was updated in Java 7 or 8.

[2019-05-09 16:48] TimvdLippe commented on #1606
@luankevinferreira You are loading a too-old version of ByteBuddy. Check the version you are using and upgrade it to the one compatible with the version specified in the Mockito pom.

[2019-05-09 21:02] suprita23 commented on #1589
Hi @TimvdLippe,

Can you please share your code. I am trying to regenerate the issue in my local.
This bug looks interesting.

Thanks

[2019-05-09 21:15] TimvdLippe commented on #1589
I don't have the code available right now, but it is something like the following:

[code]

[2019-05-10 02:13] alexandrofs commented on #1687
I agree, it would be very useful.

[2019-05-10 16:00] suprita23 commented on #1589
Hi @TimvdLippe ,
Thanks for quick response. But I don't get error when I try
 MyMockMaker obj = mock(MyMockMaker.class);

Am I missing something?

[2019-05-11 04:12] TimvdLippe commented on #1589
This issue is about a custom MockMaker, not when you mock a MockMaker. However, I wouldn't advise you to work on this issue, as it is quite complicated and will probably require some changes. I will work on this in the near future. Thanks though for the interest. We would welcome any PRs for issues marked as "please contribute": https://github.com/mockito/mockito/issues?q=is%3Aopen+is%3Aissue+labe

[2019-05-16 20:17] suprita23 commented on #1589
Thanks for your input. I will something simple for the first time.

[2019-05-17 04:38] hanserya commented on #978
I was having the same issue with this image; however, the problem only presented itself when executing gradle test against the running container with a client profile other than root. The resolution was stated prior - simply adding the -XX:+StartAttachListener argument to the jvm during test should be get you past this error.

build.gradle
[code]

It seems that the listener does not start automati

[2019-05-17 11:18] raphw commented on #978
That is a good tip. I think J9 requires this.

[2019-05-18 00:57] tir38 opened #1712 ""description" not printing when verify args don't match"
Mockito version 2.27.0

I have a test that uses `description` inside a `verify` method. The `description` is correctly printing when the test fails because we don't interact with the mock

[code]

Results in this failure message:

[code]

In this case the test failed because there were no interactions with this mock. However if we update the SUT so that it calls the method with the wrong argument:

[2019-05-18 02:02] tir38 commented on #1712
Nevermind, Updating to latest 2.27.0 solved the problem

[2019-05-18 02:41] tir38 commented on #1712
Not pretty but this seems to work if I use a `VerificationListener` and manually log the error:

[code]

now prints out

[code]

[2019-05-19 20:06] jjDevPL commented on #1593
well, the issue got bug label. There are work around but nevertheless it should be fixed. My changes are located in InstanceOf.java
`protected Class getClazz() {
        return clazz;
    }`
and under VarArgAware
`  public boolean matches(Object actual) {
            return (actual != null) &&
                    (Primitives.isAssignableFromWrapper(actual.getClass(), getClazz())

[2019-05-20 12:43] vpchelko commented on #1383
Its working if run/debug separate test. But attempt to run multiple tests using "mvn test" or  "mvn scalatest:test" failed with MockMaker error:

Java               : 1.8
JVM vendor name    : Oracle Corporation
JVM vendor version : 25.211-b12
JVM name           : Java HotSpot(TM) Client VM
JVM version        : 1.8.0_211-b12
JVM info           : mixed mode, sharing
OS name            : Windows 10
O

[2019-05-20 12:45] vpchelko commented on #1383
The problem caused by simple code:

package service

import grizzled.slf4j.Logging
import org.scalatest.FlatSpec
import org.scalatest.mockito.MockitoSugar
import org.Service
//
class ServiceSpec extends FlatSpec with Logging {
  val serviceMock = MockitoSugar.mock[Service]
...
}

[2019-05-20 13:21] vpchelko commented on #939
https://stackoverflow.com/questions/49767683/what-does-no-compatible-attachment-provider-is-not-available-mean

[2019-05-21 23:52] davidgenesiscruz opened #1713 "Typo in Mockito.java javadoc"
The following javadocs refer to `verifyNoMoreInvocations` but link to `verifyNoMoreInteractions`.

[code]

[code]

Javadoc should be corrected to `verifyNoMoreInteractions`.

[2019-05-22 10:32] #1713 closed

[2019-05-23 18:26] tomball commented on #298
New ObjenesisHelper references were added in release/2.x branch to org/mockito/internal/stubbing/BaseStubbing.java and org/mockito/internal/stubbing/StubberImpl.java.

[2019-05-24 08:44] matejdro opened #1716 "mockito-android 2.26+ tries to use missing opentest4j exceptions"
It appears that Mockito `2.26+` on Android tries to use exceptions from OpenTest4j, even when OpenTest4j is not used, resulting in tests crashing due to exceptions classes not being found.

Steps to reproduce:

1. Open [MockitoAndroidDemo](https://github.com/mockito/mockito/files/3215946/MockitoAndroidDemo.zip) project in Android Studio
2. Run `ExampleInstrumentedTest.java` test on android device/

[2019-05-24 11:20] TimvdLippe commented on #1716
@kriegfrj do you mind taking a look at this?

[2019-05-24 11:52] kriegfrj commented on #1716
I can't promise to look at it swiftly. I've never run an Android emulator before, it'll take me a while to get set up.

In the meantime, @matejdro , if you could post the stack trace of the error that would help. I might be able to get a clue without seeing up the whole environment.

[2019-05-24 11:54] matejdro commented on #1716
Here you go:

[stacktrace.txt](https://github.com/mockito/mockito/files/3216729/stacktrace.txt)

[2019-05-24 12:00] kriegfrj commented on #1716
Thanks.

Looks like you've got some funky ClassLoader in there doing something odd. I'll try and look more closely later, possibly later in the weekend.

[2019-05-24 12:36] fpavageau opened #1717 "Incompatibility between the inline mocks and JaCoCo 0.8.4"
# Versions

Mockito 2.27.0
JaCoCo 0.8.4

# Problem

JaCoCo 0.8.4 introduced the use of the Conditional Dynamic instruction when running with Java 11+, which triggers an exception in the [`MethodVisitor`](https://github.com/mockito/mockito/blob/v2.27.0/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java#L314) used to strip the parameters, because it's not configured f

[2019-05-24 12:54] G8XSU opened #1719 "multiple thenThrow doesn't override previous stub, instead throws first stub's exception"
If I create a mock and stub a method so it throws an exception and do that twice the first exception will be thrown upon invoking the second stub instruction.

Ideally i could work by writing multiple testcases but it is inconsistent behavior considering thenReturn will override the previous stub.
(Mentioned n documentation: Warning : if instead of chaining .thenReturn() calls, multiple stubbing w

[2019-05-24 12:55] TimvdLippe commented on #1719
Duplicate of #1237

[2019-05-24 12:55] #1719 closed

[2019-05-24 13:01] G8XSU commented on #1719
Should we edit the previous issue to include Re-stubbing with "exceptional to exceptional" along with "exceptional to non-exceptional" ?

[2019-05-24 13:05] TimvdLippe commented on #1719
The exception is already thrown before, so I don't think that is necessary. They have the same root cause, which is that the `mockDao.get(any(),any())` throws, not the invocation of `thenThrow`.

[2019-05-24 13:09] G8XSU commented on #1237
Should we edit this issue to include Re-stubbing with "exceptional to exceptional" along with "exceptional to non-exceptional" ?

Also, as i read if it is fundamental and unsolvable issue in Mockito 1 & 2.
Can we give warning to user that multiple thenThrows in single Unit Test are not supported.

[2019-05-24 13:46] fpavageau commented on #1717
For reference, the change was introduced in JaCoCo with [this PR](https://github.com/jacoco/jacoco/pull/845).

[2019-05-24 14:33] kriegfrj commented on #1716
I've had a quick look and I haven't been able to get the emulator running easily to reproduce it myself. However, having had a closer look at the stack trace, I suspect that it is some kind of feature in the test harness (perhaps in AndroidJUnitRunner) that is supposed to detect and warn when your code tries to load classes that it can't find on its classpath. Attempting to load the OpenTest4J cla

[2019-05-24 14:42] nzall commented on #1606
I actually encountered this same issue today. What caused the problem for me was a dependency combination misconfiguration: I have a config "compile" that takes Hibernate-osgi 2.5.17Final, which depends on byte-buddy 1.6.14. I have a config "test" that takes mockito 2.27.0, which depends on byte-buddy 1.9.10. When running my unittests from my IDE, it properly combined those dependencies including

[2019-05-24 19:17] #298 closed

[2019-05-24 20:24] #1717 closed

[2019-05-24 22:54] sbdb commented on #1134
Wanted to point out that the issue is not limited to spy. It exhibits with use `mock[Foo]` as well.
It is pretty annoying because scala being very functional you cannot not hit this problem. If you don't hit this problem you are either not using mocks, not testing or writing non-idiomatic scala.

After some struggle I came up with a workaround and wanted to share it with the community:

`  // clas

[2019-05-25 06:35] matejdro commented on #1716
Here is my guess on what happens:

Exceptions catching for missing classes only [surrounds factory creation, not the actual exception creation](https://github.com/mockito/mockito/blob/28012a49cb1b1aab1b957ac5e7507dd8b807a47e/src/main/java/org/mockito/internal/junit/ExceptionFactory.java#L23). It is possible that Desktop JVM verifies all methods on class creation, but Android's runtime does not. An

[2019-05-25 14:12] kriegfrj commented on #1716
I thought about your suggestion, but I don't think it fits with the stack trace that you provided. In the stack trace, there's no mentionit's clear that the line it's complaining about is line 24, in the static initializer for `ExceptionFactory`, when the factory implementation is actually created:

at org.mockito.internal.junit.ExceptionFactory.<clinit>(ExceptionFactory.java:24)

I expect a `Clas

[2019-05-25 15:25] kriegfrj commented on #1716
Ok @matejdro , I still haven't been able to get the Android Studio stuff working, but based on the above educated guess I've made a change that might do the trick. You can find this change under branch `1716-opentest4j-under-android` in my fork of Mockito (https://github.com/kriegfrj/mockito). If you could download, build and install this and give it a try and let me know if it fixes your problem,

[2019-05-26 03:17] markom67 commented on #1249
My account is hacked by an unritchious group of dicks who broke into my home , likely date raped my wife and then broke into all computers and phones years ago and I fear they create many lies and made up stories and misrepresent good I’m society ! Mark Furner ( very new first time
Post )

[2019-05-27 05:16] ming13 opened #1721 "Core 2.27.5 is not published to Maven Central"
Seems like `mockito-core` is not available in Maven Central. The latest version here is [`2.27.0`](https://search.maven.org/artifact/org.mockito/mockito-core/2.27.0/jar). The strange thing is — `mockito-inline`, `mockito-android` and other `org.mockito` artifacts are published and [have the `2.27.5` version](https://search.maven.org/search?q=g:org.mockito). Is it intentional?

[2019-05-27 06:51] szpak commented on #1721
Yes, it is done intentionally. See the FAQ entry in README:
[code]
linking to https://github.com/mockito/mockito/issues/911

[2019-05-27 06:53] szpak commented on #1721
Sorry, I understood your question in the wrong way.

[2019-05-27 06:58] szpak commented on #1721
The sync to Maven Central [failed](https://travis-ci.org/mockito/mockito/jobs/536954384#L2036).

@mockitoguy @TimvdLippe Can you retrigger sync for mockito-core manually from the Bintray UI?

2. I would expect to have the sync operation atomic. I will open an issue/question in Shipkit.

[2019-05-27 12:18] TimvdLippe commented on #1721
Known issue: https://groups.google.com/forum/#!topic/mockito/CR5q00JPpUc I already contacted the Maven Central people. The internal state of their Nexus repository is corrupt for the `mockito-core` artifact.

[2019-05-28 08:00] jjDevPL commented on #1712
I would like to analyze this issue and eventually provide fixes.

[2019-05-28 15:08] TimvdLippe commented on #1721
I received notice from the Nexus repository maintainers that the issue should be resolved. Publishing 2.28.0 to Maven Central, which should be succeeding.

[2019-05-28 15:09] TimvdLippe commented on #1721
Relevant Travis release job: https://travis-ci.org/mockito/mockito/jobs/538288407

[2019-05-28 15:15] mockitoguy commented on #1721
OK, will look into it!

On Tue, May 28, 2019 at 8:09 AM Tim van der Lippe <notifications@github.com>
wrote:

--
Szczepan Faber
Creator of Mockito <http://mockito.org> | Tech Lead at LinkedIn
<https://twitter.com/mockitoguy> | Maker of Open Source on GitHub
<https://github.com/mockitoguy>
Check out how to give great code reviews
<https://thenewstack.io/linkedin-code-review>. You will be glad you di

[2019-05-28 15:16] TimvdLippe commented on #1721
@mockitoguy This issue should already be resolved. No action on your side is required :smile:

[2019-05-28 15:17] TimvdLippe commented on #1721
Travis task failed on `fetchContributors` but that seems unrelated. Restarting the Travis job to try again.

[2019-05-28 15:25] TimvdLippe commented on #1721
Sadly restarting did not resolve the issue:

[code]

However, we have not changed any code for this. Not sure how to proceed.

[2019-05-28 15:47] TimvdLippe commented on #1721
New Travis job is running with `--stacktrace` to obtain more debugging output: https://travis-ci.org/mockito/mockito/jobs/538304500

[2019-05-28 15:55] TimvdLippe commented on #1721
The Nexus repository appears to have crashed:

[code]

[2019-05-28 16:40] TimvdLippe commented on #1721
Latest attempt: https://travis-ci.org/mockito/mockito/jobs/538328033

[2019-05-28 17:02] TimvdLippe commented on #1721
Seems like the core artifact is in a broken state again. Reopening my ticket with the Nexus repository maintainers.

[2019-05-28 19:13] TimvdLippe commented on #1721
The Nexus repository maintainers will restart their server again to hopefully resolve the issue. I will try another publish tomorrow.

[2019-05-29 13:14] TimvdLippe commented on #845
I discovered the Robolectric ClassLoader issue as well while updating the Mockito mockmaker to ByteBuddy internally. My fix now has the correct class hierarchy, but it now fails to properly resolve the `MockMethodDispatcher`. Should we revert this change (and figure out a way to work with both the broken ClassLoader and the fixed version)?

[2019-05-29 13:18] TimvdLippe commented on #845
For now, I have patched the Robolectric ClassLoader to special case the class:

[code]
However, this introduces a version complexity matrix. E.g.:

broken Robolectric works with current Mockito
fixed Robolectric does not work with current Mockito
fixed Robolectric + workaround works with current Mockito

How can we remove the workaround in Robolectric while at the same time remove the workaround i

[2019-05-29 13:37] TimvdLippe commented on #845
Current thinking is (on Mockito build time) keep the `.class` and copying to `.raw`. Then we can update Mockito to just use `.class` and old Robolectric ignores `.raw`, while the new Robolectric uses the original `.class`.

[2019-05-29 17:35] TimvdLippe commented on #1721
The servers have been restarted. Travis is currently trying to publish 2.28.2 at https://travis-ci.org/mockito/mockito/jobs/538866350

[2019-05-29 17:44] mockitoguy commented on #1721
OK, sounds good!

[2019-05-29 17:47] TimvdLippe commented on #1721
The same invalid state message has been returned. Reopening my ticket again.

[2019-05-29 18:38] TimvdLippe commented on #1721
2.28.2 was successfully published however: https://repo1.maven.org/maven2/org/mockito/mockito-core/2.28.2/ So it might be a Bintray issue now.

[2019-05-30 06:15] ming13 commented on #1721
Can confirm, `2.28.2` is available at Maven Central. Thanks!

[2019-05-30 06:15] #1721 closed

[2019-05-31 08:28] mockitoguy commented on #1721
Finally. Thank you everybody!

[2019-06-03 08:55] karthickpdy commented on #1606
I am getting the below error when using Mockito. Is it related to this issue?

[code]

[2019-06-04 11:47] zawadz88 commented on #1511
By applying the fix suggested in https://github.com/mockito/mockito/issues/1511#issuecomment-475673168 I got it working in my Android project.
So in my `build.gradle` I had to add:
[code]
this got rid of `transformClassesAndResourcesWithProguard` issue for me.

However, in the project I'm working on we also use Firebase Performance Plugin and there was a similar issue there:
`META-INF/versions/9/m

[2019-06-04 21:35] gabarise commented on #1606
@karthickpdy Unrelated. Is javax.xml.bind on the classpath? If you're on jdk >= 11 JAXB is removed from the JDK.

[2019-06-05 06:02] matejdro commented on #1716
Sorry for the delay. Any tips on how to build `mockito-android`? Running `gradlew build` only procudes `mockito-core` and I cannot find a way to switch it to android.

[2019-06-05 06:09] matejdro commented on #1716
Never mind, figured it out (android project is in the `subprojects`) folder.

It appears that using your branch fixes the issue. I no longer get the crash.

[2019-06-05 13:19] daweiser opened #1722 "Mocked Kotlin function can not return Array when it also takes a list as parameter"
* Android API 21
* Mockito > 26.0.0

When a Kotlin function returns an Array and also takes a list as parameter, the following exception is thrown for Mockito > 26.0.0 (with the all-open-plugin it works for <= 26.0.0):

`java.lang.IllegalStateException: This was not supposed to happend
at org.mockito.internal.util.reflection.GenericMetadataSupport$GenericArrayReturnType.rawType(GenericMetadataSupp

[2019-06-05 20:31] raphw commented on #1606
Seems like an annotation is loaded during instrumentation that is indeed missing on the class path.

If you just try to load this class where the mock is created, is the same exception thrown?

[2019-06-06 00:57] kriegfrj commented on #1716
Thanks for verifying @matejdro. I have created a PR for this issue now (#1716).

Thank you so much for your help - I was dreading having to go through the process of getting the Android emulator working! I'm sure it would have been fun to try but (like most people) I'm a bit time poor...

[2019-06-06 14:01] wjtlopez opened #1724 "Use of anyString() leads to UnnecessaryStubbingException"
Hello,

I am using mockito-core:2.23.4.

I am testing a method which immediately calls a mocked service that takes three String parameters and returns a boolean. If this boolean is "true", an exception is thrown by the method I am testing.

I have a unit test which tests this exception is thrown, and a bunch of other tests where I explicitly mock the service with three anyString() to return "false

[2019-06-07 16:19] davidjgonzalez commented on #1074
Did this ever get sorted out? Running into the same.

[2019-06-08 01:40] capezzbr commented on #1255
How is still an outstanding issue?

[2019-06-11 13:42] arturdryomov opened #1728 "The future of inline mock maker"
I‘ve been looking through `MockMaker` subclasses and noticed an interesting comment in `org.mockito.internal.creation.bytebuddy.ByteBuddyMockMaker`.

[code]
I wonder — does this still hold true? I’m asking mostly from experience described in #1532 and #1533. This lead to #1614 and [an awkward API](https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#mockito-2250):

[code]
If there are

[2019-06-11 13:54] TimvdLippe commented on #1728
I think we are interested in making it the default, but we are uncomfortable doing that right now. We will probably consider switching the default in Mockito 4, but that won't happen in the near future.

[2019-06-12 15:21] dmitry-timofeev commented on #1630
By default not, and the user must be very explicit to enable sharing of the same test class instance with parallel execution enabled. I.e., even if parallel execution mode is enabled by default, and a test class is annotated with `Lifecycle.PER_CLASS`, its tests will still be executed sequentially _unless_ it is also annotated with `@Execution(CONCURRENT)`: https://junit.org/junit5/docs/current/us

[2019-06-12 21:06] HaloFour opened #1729 "Keep ArgumentMatchers.isNull(Class)"
The Javadoc for `ArgumentMatchers#isNull(Class)` currently shows that the method is deprecated and slated to be removed in Mockito 3.0:

While I agree that Java's improved generic inference has removed many cases in which you might need this overload I am still finding it useful for cases where I need to disambiguate overloads declared on the mocked object.

For instance, say I have the following

[2019-06-13 14:38] walaniam commented on #973
The issue seems to be in org.mockito.internal.configuration.plugins.PluginLoader class. When resolving mock maker plugin class (code below) there is a "mock-maker-inline" returned but I guess there should be a fully qualified class name returned. It results in MockitoException thrown which is next suppressed.
`String foundPluginClass = new PluginFinder(pluginSwitch).findPluginClass(Iterables.toIte

[2019-06-15 10:08] imayank91 opened #1730 "Mockito cannot mock this class: class androidx.navigation.NavController."
Hi,
I'm using version 2.28.2 core and 2.23.0 but it throws an error "Mockito cannot mock this class: class androidx.navigation.NavController.

Mockito can only mock non-private & non-final classes."

Java               : 0.9
JVM vendor name    : The Android Project
JVM vendor version : 2.1.0
JVM name           : Dalvik
JVM version        : 0.9
JVM info           : null
OS name            : Linux
O

[2019-06-16 02:46] wreulicke opened #1731 "mockito-junit-jupiter uses StrictStubs mode as default behavior. MockitoJUnitRunner uses Strict mode."
I seem that mockito-junit-jupiter uses StrictStubs mode as default behavior.
But, MockitoJUnitRunner uses Strict mode as default behavior.
This is intended?

## version

I uses Mockito 2.23.4 and `mockito-junit-jupiter` 2.23.4 and junit jupiter 5.4.2.

check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possibl

[2019-06-19 07:14] imayank91 commented on #1730
I was able to solve this by changing the dependency to

[code]

[2019-06-19 07:14] #1730 closed

[2019-06-21 20:25] erikjara commented on #1517
Any support for Kotlin on Mockito 3? I found a [brainstorming](https://github.com/mockito/mockito/wiki/Mockito-for-Kotlin) since April 2018 but nothing implemented.

Thanks :)

[2019-06-25 09:38] dengkmfromCG commented on #1388
when I mock a package class,it will throw the same exception. My gradle is
    testImplementation 'org.robolectric:robolectric:4.2'
    testImplementation 'org.mockito:mockito-core:2.8.9'
    testImplementation 'org.powermock:powermock-module-junit4:1.7.4'
    testImplementation 'org.powermock:powermock-module-junit4-rule:1.7.4'
    testImplementation 'org.powermock:powermock-api-mockito2:1.7.4'

[2019-06-26 10:39] moleksyuk opened #1734 "Cannot mock wrapper types, String.class or Class.class"
Hi,
Mockito can't not mock `String.class` even with `org.mockito:mockito-inline:2.28.2`, but mocks custom final classes successfully.

Version:
JUnit: `org.junit.jupiter:junit-jupiter:5.4.2`
Mockito-core: `org.mockito:mockito-core:2.28.2`
Mockito-inline: `org.mockito:mockito-inline:2.28.2`

**Steps to reproduce:**
1. Download example project and unzip it: [mockito.zip](https://github.com/mockito/m

[2019-06-26 10:54] TimvdLippe commented on #1734
This is working as intended. You can't mock strings. Use a real string instead.

[2019-06-26 10:54] #1734 closed

[2019-06-28 12:35] TimvdLippe commented on #1657
Closing per above comment.

[2019-06-28 12:35] #1657 closed

[2019-07-02 16:56] #1731 closed

[2019-07-03 04:06] jamesaspence commented on #822
Hi @bric3 , I believe this issue is appearing again, please see my below junit example:
[code]

When running this test I get the following output:
[code]

No mention of the above error or any real indication what is happening - I ended up using trial and error to determine what was going wrong.

[2019-07-03 04:16] jamesaspence opened #1735 "NPE thrown when primitive type is matched with Mockito.any"
Hi all, was testing some code tonight and ran into a weird issue. Please look at this example:

[code]

When the `Mockito.when` is hit, we end up receiving the following NPE:
[code]

This appears to be due to the second parameter being a primitive type `boolean` - when either modifying to type `Boolean`, or converting second `Mockito.any` to `Mockito.anyBoolean`, NPE disappears and test runs as ex

[2019-07-03 09:04] ChristianLutz commented on #1636
@bric3 Is this related to #330

[2019-07-03 11:18] TimvdLippe commented on #1735
This is the same stacktrace in #822, but that stacktrace has additional information in a subsequent test that failed because of left-over static state. Closing as duplicate.

(Note that this is a fundamental issue that we can not solve in the current architecture. See #1264 for more info)

[2019-07-03 11:18] #1735 closed

[2019-07-05 20:59] smac89 commented on #1483
Had to do the following:

[code]

[2019-07-07 19:01] awillinger opened #1736 "(Possible) memory leak in MockitoJUnitRunner"
Hi,

while debugging a memory leak issue affecting the test execution at work, I came across a (potential) memory leak present within the MockitoJUnitRunner.

Basically, when using the runner, it creates a DefaultInternalRunner that itself subclasses the default BlockJUnit4ClassRunner, injecting itself into its lifecycle as well as registering an anonymous RunListener in order to de-register Mocki

[2019-07-07 19:08] TimvdLippe commented on #1736
The listener is intended to be removed: https://github.com/mockito/mockito/blob/220494473031298300a4c47c247c8b778cc39164/src/main/java/org/mockito/internal/runners/DefaultInternalRunner.java#L62 Not sure why it is not removed. If you can, please open a PR on Mockito with reproduction test and (if possible) a fix.

[2019-07-07 20:29] awillinger commented on #1736
Actually, the problematic line is this one:

https://github.com/mockito/mockito/blob/220494473031298300a4c47c247c8b778cc39164/src/main/java/org/mockito/internal/runners/DefaultInternalRunner.java#L73

As in, the registration within the core JUnit RunNotifier (not in Mockito's internal).
Would it also be okay if I simply created a new repository with some test cases I created and linking it here in

[2019-07-07 20:32] TimvdLippe commented on #1736
I am confused, as that is the way the listener should be attached per the javadoc: http://junit.sourceforge.net/javadoc/org/junit/runner/notification/RunListener.html However, the `RunNotifier` method appears to be indicating that the method is internal: http://junit.sourceforge.net/javadoc/org/junit/runner/notification/RunNotifier.html#addListener(org.junit.runner.notification.RunListener)

I am

[2019-07-07 20:42] awillinger commented on #1736
Well, what I meant is that a call to RunNotifier#removeListener is missing, the RunNotifier#addListener is in such way correct that it registers the listener in JUnit itself.

Why the method is marked as internal is indeed interesting, as the RunNotifier itself is passed through to the runner and the method public.. but that lies with the JUnit devs.

[2019-07-08 15:11] gummibjorn commented on #1511
@zawadz88 ``META-INF/versions/9/module-info.class: D8: Unsupported source file type`` is a known issue in Android Studio and is going to be fixed in the next version.

https://issuetracker.google.com/issues/131114388

[2019-07-11 14:43] afridshaikh opened #1737 "Mocks of one Junits affects next junit in queue of buid"
Hi,

let's say there are two different Junits(T1, T2) having their own mocks for Class A.

whenever I execute classes separately. they without any issue. But when I make a build T1 executes perfectly without any issue but T2 fails because of mock are being used from T1 and not T2.

if I change the sequence of Execution in the build by changing the name of T1 to T321, so now Tests execution order i

[2019-07-11 21:17] anilkumarmyla opened #1738 "Release 3.0.1?"
It seems the git tag 3.0.1 is not released to maven central. Expected or tagging made incorrectly?

[2019-07-11 22:27] TimvdLippe commented on #1738
This is explained in https://github.com/mockito/mockito/blob/release/3.x/README.md#how-to-release-new-version

[2019-07-11 22:27] #1738 closed

[2019-07-12 00:28] anilkumarmyla commented on #1738
apologies

[2019-07-12 06:39] ChristianSchwarz commented on #1722
I've made very good experiences with [MockK](https://mockk.io/) a Kotlin Mocking framework, with pretty similar API to mockito but build in support for the Kotlin language features (mocking of object classes, reified generics, ...)

[2019-07-12 09:26] bartsopers commented on #1610
Can anyone please look into this issue? It prevents us from upgrading to JUnit 5. @TimvdLippe could you maybe take a look at this, or do you know anyone who could?

[2019-07-13 18:06] awillinger commented on #1736
Finally managed to upload the example tests to GitHub: https://github.com/awillinger/mockito-memory-leak.
It's set up in an as simple way as possible with the to-be-tested class (BigObject) holding a reference to an Long-array containing 1M entries and the tests themselves keeping a reference to BigObject / initializing it in setUp() - all sharing from a base test: https://github.com/awillinger/mo

[2019-07-13 18:37] TimvdLippe commented on #1736
@awillinger Thanks for the detailed investigation. Could you open a PR and add a new memory-test in the subpackage?

[2019-07-13 21:16] awillinger commented on #1736
Can do that, although I am not sure how I would go about testing memory usage - the VM reportings are more or less estimates. Or do you mean the simple setup I made with the MockitoRunnerTest (no actual asserts, just simple class)?

[2019-07-13 21:20] TimvdLippe commented on #1736
You can do something like https://github.com/mockito/mockito/blob/release/3.x/subprojects/memory-test/src/test/java/org/mockito/memorytest/ShouldNotStarveMemoryOnLargeStackTraceInvocationsTest.java which should pass with only very limited memory: https://github.com/mockito/mockito/blob/2629096960474981558ce133c008410ee46fd529/subprojects/memory-test/memory-test.gradle#L17-L18

[2019-07-14 21:07] awillinger commented on #1736
Alright, I was able to write a test class which allocates an Long-array with 4M entries, using up about 127.9MB of RAM. In order to trigger the memory leak, I let the test class run two times using a test suite - with the same result: the second run fails with a "GC overhead limit exceeded". If I remove the Runner, both runs pass without a hitch.

Now, even after implementing my suggested fix (unr

[2019-07-15 11:31] Druckles commented on #769
More inconsistencies occur when trying to verify mocks. A void method on a mock with side effects needs to be verified, e.g.

[code]

Here I'm stating my intentions explicitly. Part of the test is that `importantCall` is called and nothing else. I can even specify this way how many times it occurs.

However, with Strict mode on, it requires me to write the following:

[code]

Not only is this supe

[2019-07-15 19:59] Jianwei-Wu-1 opened #1740 ""Bad" Test Name Detection (Research proposal, feedback needed)"
Hello Developers for mockito/mockito:

I'm Jianwei Wu, and a PhD student from University of Delaware. I'm conducting an evaluation of my current research work, and the following contents are partial results of my research. In order to evaluate my work, I might need your feedbacks for the following contents.

Explanation of the contents: 
The following contents are some improvements of existing tes

[2019-07-15 20:04] TimvdLippe commented on #1740
Our tests are largely written as integration tests "as if the user would use Mockito". Therefore, I don't think these findings are as relevant for the Mockito test suite as they are for other users. Good luck with your research nonetheless!

[2019-07-15 20:04] #1740 closed

[2019-07-16 07:51] naivekook commented on #1493
I join the question, have similar problem with lambda in mocked class.

This test fails
`open class Foo {
    var foo: String? = null
    var fooLambdaHook: () -> String? = { foo }
}

class FooTest {

    @Test
    fun `test lambda hook`() {
        val mybean = spy(Foobar()).apply {
            foo = "foo"
        }
        Assertions.assertNotNull(mybean.fooLambdaHook())
    }
}`

[2019-07-18 05:31] johanaaharon opened #1741 "org.mockito.exceptions.misusing.UnfinishedStubbingException thrown on void method"
Hey,

We have an issue that UnfinishedStubbingException is thrown randomly while running in a foreach loop.

  @MockBean(answer = Answers.RETURNS_SMART_NULLS)
  private SomeMock someMock;

@Test
    void testUnfinishedStubbingExceptionRandomlyThrown() {
            final AtomicInteger atomicInteger = new AtomicInteger(ids.size());
            ids.forEach(id -> {
                final int index = a

[2019-07-18 20:09] johnmahlon commented on #1716
I am also having this issue. I was running v3.0.0, but switching back to 2.25.0 fixed it.

[2019-07-19 00:08] kriegfrj commented on #1716
Sorry @johnmahlon, the fix for this was supposed to get merged into 3.0 but I dropped the ball. Hopefully it will get merged soon.

In the meantime, as a workaround, if you need Mockito >2.25.0 then you should be able to run it with any version of Mockito if you just put `org.opentest4j` on your runtime classpath.

[2019-07-19 00:21] johnmahlon commented on #1716
@kriegfrj no problem. Our app isn’t production yet, so using 2.25 is definitely fine for now.

[2019-07-19 08:26] jodastephen opened #1742 "Funding with Tidelift"
I noticed you currently run adverts on your home page and ask for feedback for alternatives. One option is [Tidelift](https://tidelift.com), where Mockito could earn [$417 per month](https://tidelift.com/lifter/search/maven/org.mockito:mockito-core) at present. Active maintainers have to sign up individually, but income can be [split](https://tidelift.com/docs/lifting/paying). For info, I'm using

[2019-07-19 10:25] #1716 closed

[2019-07-19 10:26] TimvdLippe commented on #1742
@raphw I recall you having some thoughts on this?

[2019-07-19 11:01] bric3 commented on #1742
Hi @jodastephen, have you tried Github sponsoring feature?

[2019-07-19 18:13] mockitoguy commented on #1742
I was meaning to try it out. I think we should. We can split up for active maintainers. Perhaps this would motivate us for putting more effort.

[2019-07-19 19:11] TimvdLippe commented on #1742
I am not sure if tax-wise and employer-wise I can accept money from an open collective. I would need to figure that out.

[2019-07-19 21:18] jodastephen commented on #1742
@bric3 I have the GitHub sponsor button enabled (links to Tidelift), but I'm not a member of their sponsorship scheme.

[2019-07-20 09:45] cdalexndr commented on #193
Non-sensical error is back in mockito 2.23.4:

[code]

This error only appears when I run the test without debugger attached. When I try to debug, the error doesn't show up, and everything works fine. It's like looking for a needle in the haystack.

[2019-07-20 11:25] TimvdLippe commented on #193
Please upgrade to a newer version of Mockito. That might solve your issue. If not, please open a new issue with a reproduction testcase.

[2019-07-20 20:24] raphw commented on #1742
I am using Tidelift for Byte Buddy and it works perfectly. I had suggested it in the developer Slack channel before but I do not feel entitled to start it but would rather want @mockitoguy to take the lead on this.

If we split it, I am happy to take a cut for the time I am contributing actively. It is not the world but it feels like a token of appreciation. At a minimum, it could pay for the runn

[2019-07-20 21:28] TimvdLippe commented on #1742
While I do appreciate the "contributions for time actively maintained", how do we quantify that? I think a flat split is easier. And if you can't commit the time, maybe just become an emeritus maintainer.

[2019-07-21 07:56] Sam-Kruglov commented on #1597
Please, merge this

[2019-07-21 09:14] raphw commented on #1742
I agree that we need to have a good definition of *active contributor* but I do neither know how we should decide this fairly. I am not very active these days since I do not see many things in my domain to improve right now but I have spent a few days of my time to add support for modules not that long ago. I hope we do not need to introduce a time tracker to make this work ;)

That said, I think

[2019-07-21 21:00] bric3 commented on #1742
I agree entirely with @raphw. On m’y part I’m focusing strongly on family matters during my spare time at this time so I don’t contribute more than few comment since quite a while to be counted as an _active_ maintainer.

[2019-07-21 21:16] TimvdLippe commented on #1742
Rather than trying to determine "a fair share", I would rather keep commitments voluntary, as they have been up to this point. Instead, I would vouch for letting it run our server cost and that's about it. I fear that if we put money in this project, it might have an adversarial effect.

[2019-07-21 21:56] bric3 commented on #1742
Unfortunately there is already ads. But you raise an interesting point that link to the essence of open source software. Money is always a hard thing, Maybe this money can be donated to some animal care or child care associations instead.

[2019-07-21 22:05] TimvdLippe commented on #1742
+1 to donating to a charity.

[2019-07-21 22:10] mockitoguy commented on #1742
Great idea!

[2019-07-21 23:26] raphw commented on #1742
That's a good point, much better then letting it go to waste. One issue is probably that it's taxable income, unless maybe it is paid directly to a foundations account.

[2019-07-22 07:39] venkaDaria commented on #1741
@johanaaharon
Are you sure that someMock isn't null when you try to mock voidMethod?

[2019-07-22 09:25] johanaaharon commented on #1741
@venkaDaria yes the mock is not null for sure...

Sometime the exception is not throw but we have a second unexpected behavior that the mock doesn't really throw the exception instead of that it do nothing, so the test is failing cause the behavior is randomly not as expected.

Seems that there is a race condition (there is something weird that if before doThrow we will add a sleep of 1 ms we will

[2019-07-22 09:34] venkaDaria commented on #1741
Example like that is working for me:

[code]

[2019-07-22 22:11] TimvdLippe commented on #1742
I do have some concerns around language like

There is a lot of information at https://tidelift.com/docs/lifting/tasks-overview with legal stuff at https://tidelift.com/docs/lifting/agreement

Before we sign anything, we should have a lawyer take a look at this. However, I am now more wary of Tidelift. Not so much the terms, but more that if we sign something now, we contractually obligate future

[2019-07-23 00:22] jodastephen commented on #1742
Since it is an individual that contracts with Tidelift not the project, and you can terminate at any time, I don't really see how you are obligating future maintainers at all. I'd strongly suggest one or more of you getting on a video call with them to ask questions and discuss your concerns - they are friendly people and have lots of open source project experience.

[2019-07-23 15:50] mockitoguy commented on #1742
I've read the docs and a couple of articles and I don't think signing up puts other maintainers or a project at risk.

[2019-07-23 15:52] raphw commented on #1742
You can cancle it any month, it is a very light obligation, e.g. to update release notes on their site which is something we should integrate into the CI. Or to report security issues which is rarely relevant to us.

[2019-07-23 19:28] arend-von-reinersdorff opened #1743 "Clarify Javadoc of RETURNS_SMART_NULLS, default answer in Mockito 3.0.0?"
[Javadoc for Mockito.RETURNS_SMART_NULLS](https://static.javadoc.io/org.mockito/mockito-core/3.0.0/org/mockito/Mockito.html#RETURNS_SMART_NULLS) in version 3.0.0 still says:

As Mockito 3.0.0 has been released this could now be clarified. I see #971 is still open, so it looks like the default answer has not been changed?

[2019-07-24 08:06] iemejia opened #1744 "Mockito 3.0.1 and 3.0.2 are not available in maven central"
For ref.
https://search.maven.org/search?q=a:mockito-core
https://mvnrepository.com/artifact/org.mockito/mockito-core

[2019-07-24 08:09] pzygielo commented on #1744
see #1738

[2019-07-24 10:43] TimvdLippe commented on #1744
Closing as duplicate of #1738.

[2019-07-24 10:43] #1744 closed

[2019-07-24 10:43] TimvdLippe commented on #1743
Yes that should be updated to 4.0.0 now, as we decided not to make any API changes in 3.0.0.

[2019-07-24 17:04] iemejia commented on #1738
Mmm this is closed but the jars are not there. Does it make sense to reopen it?

[2019-07-24 17:30] TimvdLippe commented on #1738
This is working as intended. We don't publish all jars to Maven Central. We publish to Maven Central roughly every month.

[2019-07-25 08:55] Druckles commented on #769
While writing an integration test I came across a specific example where this Strictness *may* actually be useful. In this example, I want to explicitly mock a call to a service and ensure it is definitely called. I have, for example, the following method:

[code]

The two things I need to test here are:

 * Were the files unzipped?
 * Was `uploadDirectory` called?

I don't extrinsically care whet

[2019-07-25 20:08] kumarigal commented on #1606
Seeing following with 2.23.0 / OpenJDK Runtime Environment 18.9 (build 11.0.2+9), works fine with Java 8.
org.mockito:mockito-core:2.23.0
   net.bytebuddy:byte-buddy:1.9.0
   net.bytebuddy:byte-buddy-agent:1.9.0
   org.objenesis:objenesis:2.6

org.mockito.exceptions.base.MockitoException:
Mockito cannot mock this class: class javax.ws.rs.core.Response.

Mockito can only mock non-private & non-fina

[2019-07-26 10:40] n-e-0 opened #1746 "Capturing arguments not working for overloaded methods."
I have a use case where I have two methods with same name but different arguments type:
example:
void foo(SomeClass a)
void foo(SomeOtherClass b)

I want to capture the arguments passed to these methods while testing but it is unable to resolve it.

I went through stackoverflow and other sites but did not find any option. If this functionality is not present I can work towards it(After analysis wh

[2019-07-26 12:50] HelenRankin commented on #1687
After looking into this,  I found that using
`SomeObj aSpy = mock(SomeObj.class, withSettings().defaultConstructor().defaultAnswer(CALLS_REAL_METHODS).verboseLogging());
`
will do what you are asking for.
If it's worth making this easier by adding a method that accepts MockSettings and has it set the default constructor/answer, I can work on it.

[2019-07-26 14:18] GBouerat opened #1747 "Typo in error message"
https://github.com/mockito/mockito/blob/885e69420baa2a382f4394b85dc84cb6fe17fff6/src/test/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMakerTest.java#L219

"VM does not not support modification of given type"
should be
"VM does not support modification of given type"

[2019-07-26 14:24] TimvdLippe commented on #1747
Feel free to open a PR with a fix.

[2019-07-26 20:20] #1743 closed

[2019-07-31 01:22] ttanxu commented on #1174
It seems `org.mockito.internal.stubbing.defaultanswers.ReturnsMocksTest#should_return_mock_value_for_generic_class()` is also susceptible to a similar issue with OpenJDK 9, where when the default return value of `classMock.execute()` is returned to `when()`.

That test can be worked around by using `doReturn("return")` series of methods though.

[2019-08-01 13:38] Imbahil opened #1753 "refEq() should use deep comparison also in collections and nested objects"
Hi,
`refEq()` is created for comparing objects that does not override equals and hashcode.
Unfortunatelly current implementation does not work with nested objects neither collections.
Please modify `reqEq` so that it could.

[2019-08-02 08:08] alastairknowles commented on #1610
This is very annoying, it leaves an edge case where our engineers can easily write tests that don't verify stubs properly, yet which still pass.

[2019-08-02 08:30] raouldh commented on #1610
I also stumble on this case regularly where we are not able to verify the stubs correctly.
We really need a fix for this.

[2019-08-03 18:18] hospino11 commented on #1606
This worked for me. I added `byte-buddy` and `byte-buddy-agent` dependencies to my pom file in the version **1.9.7**.

It was like the following:

[code]

Also, I excluded those dependencies in `hibernate-core` and `hibernate-entitymanager` because those dependencies contains the `byte-buddy` and `byte-buddy-agent` in a prior version.

[2019-08-05 23:37] nliu365 commented on #1394
@kamilgregorczyk your solution is working. Thank you.

[2019-08-06 11:10] dijofrancis commented on #1467
@lxyangfan same here

[2019-08-08 09:57] adriangalera commented on #565
What's the status on that?

[2019-08-08 14:43] frextrite opened #1754 "Gradle could not resolve org.mockito:mockito-core:2.+."
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2019-08-08 14:49] TimvdLippe commented on #1754
Could you check if the solution in #1750 would resolve this? I think this is a Travis issue and not a Mockito issue.

[2019-08-08 14:54] frextrite commented on #1754
Sure, I'll report this to Travis upstream aswell.

[2019-08-09 09:50] csapty12 commented on #1394
@kamilgregorczyk Similarly, if you are using mockito-core as your artifact id, remove that dependency your pom.xml, this worked for me

[2019-08-11 13:33] TimvdLippe commented on #1068
Closing per https://github.com/mockito/mockito/issues/1068#issuecomment-446266057

[2019-08-11 13:33] #1068 closed

[2019-08-11 13:40] TimvdLippe commented on #1754
Closing this, as it appears to be a Travis issue outside of Mockito's control.

[2019-08-11 13:40] #1754 closed

[2019-08-11 13:42] TimvdLippe commented on #1741
You are probably running into thread-safety issues, documented at https://github.com/mockito/mockito/wiki/FAQ#is-mockito-thread-safe

[2019-08-11 13:43] TimvdLippe commented on #1737
This issue lacks a reproduction case. There is probably left-over state from your tests that you need to clean up. I would advise you to ask the question on StackOverflow instead for debugging help.

[2019-08-11 13:43] #1737 closed

[2019-08-11 13:46] TimvdLippe commented on #1729
This is an artifact from the Java language specification for the need of casting when using overloaded methods. From Mockito's perspective, both methods read the same and one is not particularly shorter than the other. Since removing is removes API surface and confusion without any clear downside, we will still schedule it for removal.

[2019-08-11 13:46] #1729 closed

[2019-08-11 13:47] TimvdLippe commented on #1724
Please add a reproduction unit test case that we can debug.

[2019-08-11 13:48] TimvdLippe commented on #1709
Closing this, as Mockito 3 now supports 8+

[2019-08-11 13:48] #1709 closed

[2019-08-11 13:50] TimvdLippe commented on #1666
Closing this as working as intended. If you can provide a use case for Mockito where the current API is less than optimal, please reopen.

[2019-08-11 13:50] #1666 closed

[2019-08-12 10:57] vishaldeshmukh007 opened #1756 "Getting java.lang.SecurityException while mocking an interface"
Hi,

Getting **java.lang.SecurityException** while mocking an interface.
The interface is importing two classes from same package but present in different jars.

e.g.
[code]

Where Client is an interface which is importing

[code]

POM Details :
[code]

The exception
[code]

[2019-08-12 11:00] TimvdLippe commented on #1756
This is an issue related to your project configuration and unrelated to Mockito (Mockito is merely the messenger here). Please review your project setup and how jars are loaded to make sure you are loading classes from the same package in the same jar.

[2019-08-12 11:00] #1756 closed

[2019-08-12 11:56] ferstl opened #1757 "DoubleStream.reduce() does always return 0.0 when mocked"
When mocking `java.util.DoubleStream`, the method `reduce(int, DoublebinaryOperator)` does always return `0.0`, no matter how it was configured (The complete JUnit5 test class is [attached](https://github.com/mockito/mockito/files/3492174/MockitoTests.txt) to this issue).

[code]

The same is working fine for `IntStream` and `LongStream` which have similar methods. When I adjust the configuration

[2019-08-12 12:01] TimvdLippe commented on #1757
Please do not mock types you don't own (https://github.com/mockito/mockito/wiki/How-to-write-good-tests#dont-mock-a-type-you-dont-own) nor value objects (https://github.com/mockito/mockito/wiki/How-to-write-good-tests#dont-mock-value-objects). Is there a reason you can't use a normal `Stream`?

[2019-08-12 12:07] ferstl commented on #1757
@TimvdLippe Yes, I am writing my own [stream implementation](https://github.com/ferstl/parallel-stream-support) (which delegates to the JDK streams) and for that I need to mock the underlying streams.

[2019-08-12 12:41] TimvdLippe commented on #1757
I don't think that warrants mocking of the streams. You need to use the real versions to make sure your implementation works.

[2019-08-12 13:26] ferstl commented on #1757
Well, maybe (I'll write a bit more about that at the end). I just wanted to report an issue that I probably found when mocking the `DoubleStream` interface. This looks strange to me because this interface does not have anything special in it, except for some default methods and a generic base interface. As I mentioned, there are no problems at all with `LongStream` and `IntStream` interfaces, whic

[2019-08-12 13:41] TimvdLippe commented on #1757
Please provide a minimal reproduction case with a custom class definition that, when mocked, returns the wrong Double when stubbing. E.g. define a type yourself rather than using one from the JDK and see if you can reproduce it. If you can, it definitely is an issue in Mockito. If it is not, you are relying on an internal implementation detail of `DoubleStream` in the JDK and you should therefore

[2019-08-12 15:00] ferstl commented on #1757
I [attached a JUnit5 test](https://github.com/mockito/mockito/files/3493092/Issue1757Test.txt), that reproduces the problem. I had to rename the class from `.java` to `.txt` in order to attach it here.

The class contains an inner interface that the test tries to mock.

[2019-08-12 15:07] TimvdLippe commented on #1757
Sorry for being unclear. The test would need to not reference any JDK type. E.g. without `java.util.function.DoubleBinaryOperator`. Can you extract the problematic part from `DoubleBinaryOperator` and define that as an inner class of `Issue1757Test` that shows the problem in isolation?

[2019-08-12 15:12] ferstl commented on #1757
[Here](https://github.com/mockito/mockito/files/3493154/Issue1757Test.txt) is another version that does not use any JDK type. The error message for the failing tests is always:

[code]

[2019-08-12 15:16] TimvdLippe commented on #1757
Oh, I see. Does this work?

[code]

(I changed the `eq(0)` to `eq(0.0)`)

My current assumption is somewhere along the lines we are changing the `int` to a `double` in some cast, but I am not sure where yet.

[2019-08-12 15:19] ferstl commented on #1757
Yes, changing `eq(0)` to `eq(0.0)` works!

[2019-08-12 15:35] TimvdLippe commented on #1757
[`eq(double)`](https://github.com/mockito/mockito/blob/7041ad81250c6512d525a84add039cd2dd3441b4/src/main/java/org/mockito/ArgumentMatchers.java#L833-L835) and [`eq(int)`](https://github.com/mockito/mockito/blob/7041ad81250c6512d525a84add039cd2dd3441b4/src/main/java/org/mockito/ArgumentMatchers.java#L863-L866) both call `new Equals(value)` without any casting, so that is not the problem.

The probl

[2019-08-12 15:54] ferstl commented on #1757
I just ran the test in the debugger. `arg` is of type `double` in https://github.com/mockito/mockito/blob/885e69420baa2a382f4394b85dc84cb6fe17fff6/src/main/java/org/mockito/internal/invocation/ArgumentsProcessor.java#L60

[2019-08-12 15:55] LeoNiedermeier opened #1758 "Method GenericTypeExtractor#findGenericInterface always returns first interface"
The Method `findGenericInterface` of `GenericTypeExtractor` ( <https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/util/reflection/GenericTypeExtractor.java>) always returns the first generic interface.

The relevant line seems to be:
<https://github.com/mockito/mockito/blob/220494473031298300a4c47c247c8b778cc39164/src/main/java/org/mockito/internal/util/reflecti

[2019-08-12 16:08] ferstl commented on #1757
Now, I understand. And I do also see what was wrong in my code for the first comment. Thank you for pointing that out!

[2019-08-12 16:08] #1757 closed

[2019-08-13 03:16] kartlaks commented on #1746
I am not a contributor but I can take a look at your test and see if I can help, could you paste the the code block in question?

[2019-08-15 19:24] triceo commented on #1325
Another illegal reflective access, this time to `java.util.HashMap.table`.
This causes all kinds of issues, especially together with Maven Surefire, as it will corrupt its STDIN.

Any plans for a fix?

[2019-08-15 21:07] blackberrybhtg opened #1759 "java.lang.IllegalStateException: Could not initialize plugin: interface org.mockito.plugins.MockMaker"
Hi Mockito project members,

I ran into the exception when using mockito. Here's the stack trace. For some reason, when I run the build target again, this exception doesn't show up.

[code]

The version of mockito I use is 3.0.0. I tested on other 2 versions and had the same exception.

[2019-08-16 14:51] #1513 closed

[2019-08-16 14:51] #1747 closed

[2019-08-19 18:20] #1758 closed

[2019-08-20 04:34] long-forgotten opened #1763 "Any plan to add ResultCaptor"
Hello team,

I've read several articles and posts about adding a ResultCaptor, and i would say it resolves part of my problems. However, what I really want is to use and verify those results during verification stage, just like `ArgumentCaptor` does, similar to below pseudo code

[code]

Regards,
Arthur

[2019-08-21 07:53] YassinHajaj commented on #185
Hi, more info on this  nullable matcher ?

[2019-08-21 10:17] TimvdLippe commented on #185
https://static.javadoc.io/org.mockito/mockito-core/3.0.0/org/mockito/ArgumentMatchers.html#nullable-java.lang.Class-

[2019-08-21 19:23] jimshowalter opened #1764 "Scope LENIENT/Silent mode to methods, not entire classes"
It definitely makes sense to worry about mocks that aren't invoked, because that could mean the test writer assumes something is happening that isn't happening, indicating a problem. Uninvoked mocks are probably as serious as missed mocks (things that need to be mocked and aren't).

However, there are many projects (including ours) that have common testing base classes with shared, recurring mocki

[2019-08-22 13:10] TimvdLippe commented on #1610
Sadly I don't have the time capacity right now to work on a fix, but I am happy to review a PR from the community!

[2019-08-24 00:36] pasku commented on #1504
Any news about this? It also does not catch them when mocks are initialized in a BeforeEach method, regardless of whether it is static or not (i.e. the Junit test class is annotated with @TestInstance(TestInstance.Lifecycle.PER_CLASS) or not).

[2019-08-25 20:33] Stephan202 opened #1766 "Registering additional "empty values""
#### Context

Mockito provides various custom `Answer` implementations. These are very helpful, especially when working with legacy code. The most powerful of these are `RETURNS_SMART_NULLS`, `RETURNS_MOCKS` and `RETURNS_DEEP_STUBS`, because they are "recursive": they produce mocks which can return other mocks which are then governed by the same `Answer`.

Further more, `RETURNS_SMART_NULLS` and `

[2019-08-25 20:41] TimvdLippe commented on #1766
I would be okay with 2. The delegate pattern seems like an appropriate solution here. We use this pattern also in our internal answers.

[2019-08-27 12:03] torakiki opened #1767 "'MismatchReportingTestListener' has already been added and not removed using MockitoJUnitRunner"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
[code]
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
Mockito 3.0.0, AdoptOpenJDK 11.0.4, Linux Mint
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the issue
       (same

[2019-08-27 16:30] bartsopers commented on #1610
Thanks to @krc1504's comment, I found that this is actually not really a bug as it's documented behavior. The MockitoExtension uses a different default Strictness then the MockitoJUnitRunner (STRICT_STUBS vs WARN). From the [javadoc](https://static.javadoc.io/org.mockito/mockito-core/3.0.0/org/mockito/quality/Strictness.html#STRICT_STUBS):

So another "workaround" would be to annotate test classes

[2019-08-28 13:42] lfarkas commented on #1013
what is the current state of this FR? is there any progress is there any decision?

[2019-08-30 20:23] raphw commented on #1013
This is not currently pursued. It is technically possible but it is a bigger venture and I am currently lacking the time for it.

[2019-08-31 11:28] m-titov opened #1768 "StrictStubs doesn't work with @org.junit.experimental.categories.Category"
mockito version 3.0.0

Can't use `org.junit.experimental.categories.Category` annotation  with `org.mockito.junit.MockitoJUnitRunner.StrictStubs#StrictStubs` runner to have all of this runner benefits. Because of `filterRequested` is always `true` in such case so this runner don't report about unused stubs.

[code]

[2019-08-31 15:34] TimvdLippe commented on #1767
A lot of updates exist between 1.10.19 and 3.0.0. Could you bisect the versions and figure out which minor version introduced the issue?

[2019-08-31 15:36] TimvdLippe commented on #1759
The exception lists the error:

[code]

Make sure you can run `java` with the correct permissions for your current user. This is not an issue related to Mockito.

[2019-08-31 15:36] #1759 closed

[2019-09-02 10:24] torakiki commented on #1767
2.26.0 looks like the one introducing this issue

[2019-09-03 19:27] pasku opened #1769 "Are strict stubs really the default in v3?"
The Strictness.STRICT_STUBS javadoc reads: "Planned as default for Mockito v3.".

I'm using "org.mockito:mockito-core:3.0.0" and strict stubs do not seem to be the default behaviour. Are they actually going to be the default in any release soon?

[2019-09-03 21:09] TimvdLippe commented on #1769
It is not. Mockito 3 only requires Java 8 as minimum. No other api changes were made. Could you submit a PR (similar to #1745) thats updates the doc?

[2019-09-03 21:43] pasku commented on #1769
What would be the easiest way of enabling it in Junit 5 given that I’m already using another Junit extension and lifecycle Per class?

`@ExtendWith(VertxExtension.class)
@TestInstance(TestInstance.Lifecycle.PER_CLASS)`

[2019-09-04 02:41] lhholylight opened #1770 "How to use it in gradle"
I used it like this testImplementation 'org.mockito:mockito-core:3.0.6',
, but there was an anomaly.
Failed to resolve: org.mockito:mockito-core:3.0.6

and user testImplementation 'org.mockito:mockito-core:2.28.2' is ok

[2019-09-04 07:16] szpak commented on #1770
From the main (README) page:
![image](https://user-images.githubusercontent.com/148013/64233440-7b733280-cef4-11e9-9307-76d54badb3f8.png)
Plus:

With the more detailed information [down the page](https://github.com/mockito/mockito#how-to-release-new-version).

[2019-09-04 07:16] #1770 closed

[2019-09-04 17:11] carterkozak opened #1771 "Upgrade byte-buddy to a 1.10.x release"
Currently mockito uses an older build of byte-buddy. I don't see any documentation or issues suggesting that there's a reason to avoid using a newer version, though the contribution documentation doesn't mention dependency upgrades.

[2019-09-04 18:06] pasku commented on #1769
@TimvdLippe I just sent the PR. Any chance you could help me with the previous question? Also, is there an ETA for v4? Thanks very much.

[2019-09-04 21:51] #1769 closed

[2019-09-04 21:51] TimvdLippe commented on #1769
The Junit 5 extension should already use strict stubs by default, does it not?

[2019-09-05 15:47] EvgeniGordeev opened #1774 "InlineByteBuddyMockMaker is freezing with static inner mock field"
A SpringBoot test like this is freezing when InlineByteBuddyMockMaker is trying to initialize a mock defined in a static field of an inner class. The execution gets stuck on `ByteBuddyAgent.install()` in static initialization block of `InlineByteBuddyMockMaker`. NB: The default ByteBuddyMockMaker works just fine.

The full example is at https://github.com/EvgeniGordeev/mockito-bytebuddy-freeze

En

[2019-09-05 17:18] pasku commented on #1769
It does in fact seem to use strict stubs but I just double-checked and it does not throw UnnecessaryStubbingException when it should. PotentialStubbingProblem does work perfectly though.

[2019-09-05 19:49] jpasquers commented on #1631
Is there any update on this? This has broken our tests as well attempting to upgrade our version of Mockito. The usage of an @InjectMocks as well as a @Spy & @InjectMocks makes sense from the perspective of integration testing of two components that act as one cohesive unit.

[2019-09-06 12:21] naquden opened #1775 "NPE when spying on android.os.Handler class on Android API 28+"
When using Mockito.spy(handler) the mQueue member variable is not copied over the to spy object.

Sample:
Handler preHandler = new Handler(testApplication.getMainLooper());
spyHandler = spy(preHandler);

^ The preHandler has a mQueue variable set but the spyHandler does not.
When going through source code I noticed that the fields returned from Handler.class.getDeclaredFields() differs from API 28

[2019-09-07 20:16] dfa1 opened #1776 "java.lang.IllegalArgumentException: object is not an instance of declaring class"
In Mockito 3.0/JUnit 5 it is not possible to create a mock of this interface:

[code]

(`State` is a java enum, `Drug` is another interface).

Test code is:
[code]

Exception is:

[code]

[2019-09-07 20:21] dfa1 commented on #1776
Please note that on OpenJDK 11 it works without any problem.

[code]

[2019-09-10 10:33] fkirc commented on #1395
Is there already a reasonable solution for this issue? I still run into the same problems with "MockK", which is a Kotlin-based variation of Mockito.

[2019-09-14 01:59] gilday opened #1778 "Convenience factory for stubs"
A `stub(Class)` factory method on the `Mockito` class would be a convenient way to create stub-only objects:

[code]

Such a factory method improves the clarity of test code by succinctly communicating the test author's intent for the test-double.

[2019-09-14 19:42] TimvdLippe commented on #1778
At a first glance, it was unclear what this would do. I then had to read the JavaDoc to understand what you actually meant. I am not sure if it is worth it shipping this extra method, since the options is succinct. We already have mock/spy as API entry-points and I don't think it is desirable to add convenience methods for various configurations to the existing API.

I also see that in the impleme

[2019-09-16 15:10] magicsign commented on #1606
In **Eclipse** make sure to add as external library byte buddy. Ctrl + right click on project > Java Build Path > Libraries > Add external JARS > byte-buddy-1.**.*.jar

[2019-09-17 14:17] centic9 opened #1780 "File-handle leak in InlineByteBuddyMockMaker"
Using [file-leak-detector](https://file-leak-detector.kohsuke.org/) when running unit-tests using mockito-3.0.0 we see a file-handle-leak being reported in `InlineByteBuddyMockMaker.<clinit>` which can easily be fixed by closing the JarFile after usage properly.

I'll send a PR shortly.

[code]

[2019-09-17 15:06] #1780 closed

[2019-09-17 23:43] dpursehouse commented on #1529
This project doesn't seem to have a master branch any more, so the link in pom.xml results in 404 regardless of whether it's the `raw` URL or not.

[2019-09-18 01:28] gilday commented on #1778
That makes sense, I see where you're coming from. Do you feel the same way about the `spy` methods? I modeled the proposed `stub` method off of the existing `spy(Class)` method

[code]

Like the proposed `stub` method, the `spy` method is a convenience method which delegates to `mock` using preconfigured `MockSettings` that cannot be further customized.

[2019-09-18 19:18] TimvdLippe commented on #1529
@dpursehouse Good catch! Do you mind updating Shipkit to allow us to specify a different license location and then update Mockito with a Shipkit upgrade + configuration change?

[2019-09-18 23:06] dpursehouse commented on #1529
@TimvdLippe Sorry, I don't have time to look into that :(

[2019-09-21 17:07] TimvdLippe commented on #1778
I don't feel the same for `spy`. While the implementation definitely seems familiar, I consider `spies` and `mocks` significantly different from a user perspective. E.g. there are vastly different expectations from `spies` than from `mocks`. Since stubs are basically mocks but you can't verify them, I don't consider them a "separate concept".

Now we have implemented spies and mocks in a very simi

[2019-09-22 19:48] florian-d commented on #1053
Any news on this issue?
I'm using Mockito 3.0.

[2019-09-22 19:51] TimvdLippe commented on #1053
Would be great if someone with Kotlin expertise can determine whether this is problem in `mockito-kotlin` (which we don't maintain) or Mockito itself. PR would be greatly appreciated as well.

[2019-09-22 22:56] tmurakami commented on #1053
@jaychang0917, you need to add the `open` keyword to `Foo.foo`.

In Kotlin, all classes and members are **final**.
If you don't use the inline mock feature, you need to use the `open` keyword for members as well as the class you want to mock.

[2019-09-22 22:57] tmurakami commented on #1223
I close this issue because I have lost interest in this issue.

[2019-09-22 22:57] #1223 closed

[2019-09-24 20:23] szpak opened #1782 "Spying on ArrayList generates Illegal reflective access warning with Java 11"
Spying on `ArrayList` generates Illegal reflective access warning with Java 11 (12):
[code]

Sample code to reproduce the situation:
[code]

Occurs with (at least):
 - Mockito 3.0.0 and 3.0.8
 - ByteBuddy 1.9.10 and 1.10.1
 - Java 11 and 12 (modern versions)

It's just a warning right now, but it could be disallowed one day, so maybe there is some other way to do that with ArrayList (and probably

[2019-09-25 00:54] mockitoguy commented on #1742
Update: I'm making progress on this, will get back soon.

[2019-09-25 14:53] #1655 closed

[2019-09-25 15:07] liptga commented on #1630
I can confirm, that the problem exists. I also have tests using MockitoExtension and they fail in a non-deterministic way randomly only if Junit5 parralelization is used.

[2019-09-25 16:21] liptga commented on #1630
Scenario:

1. JUnit 5 creates a single ClassExtensionContext for a multithreaded test, but each thread becomes an instance of the test class

If the MockitoExtension runs in multithreaded environment, then postProcessTestInstance will be called each time with the same ClassExtensionContext instance, but each time with a different testInstance.

[2019-09-25 17:59] pip25 opened #1784 "Argument mismatch not reported in strict stubs mode if mocked method was already called once before"
This issue occurs if the tested service is calling a mocked method more than once, but with different parameters, and only some of those invocations have actually been declared in the test.

For example, we have the following test:
[code]

The TestedClass and the interface definition:

[code]

The test will succeed, even though there was an argument mismatch for the declared "doSomething" method i

[2019-09-25 20:44] TimvdLippe commented on #1782
I reckon this is unrelated to `ArrayList` in particular, but more that https://github.com/openjdk/jdk/blob/a36b2af52b54f3c9b276555671971ae6ceca772b/src/java.base/share/classes/java/util/ArrayList.java#L138 and https://github.com/openjdk/jdk/blob/a36b2af52b54f3c9b276555671971ae6ceca772b/src/java.base/share/classes/java/util/AbstractList.java#L628 are supposed to be private. It also likely related t

[2019-09-26 04:01] mockitoguy commented on #1659
Verification is not used often, my bet is that we won't allocate time into this. Let's keep the idea open, and see if we are collecting more feedback / upvoters. Thank you for suggestion!

[2019-09-26 04:05] mockitoguy commented on #1768
I don't think we will be fixing this one because we prioritize JUnit Jupiter (JUnit5) over JUnit4 (e.g. runners). Thank you for reporting, though. Good catch!

[2019-09-26 04:11] mockitoguy commented on #1767
@torakiki, can you provide us a simpler test that reproduces the issue? We are looking for a test without dependencies such as InitializeAndApplyJavaFxThreadRule, so that we can run & reproduce it in Mockito project.

Thanks for reporting!

[2019-09-26 10:54] TimvdLippe commented on #1659
Is this a typo and did you mean "lazy verification"? Inside Google, normal verification is heavily used. Lazy not so much, as we are not yet on Mockito 2 :cry:

[2019-09-27 04:36] mockitoguy commented on #1267
@iceberk, you're correct.

[2019-09-27 04:36] #1267 closed

[2019-09-27 04:37] #1308 closed

[2019-09-27 07:58] mockitoguy commented on #1630
This is really painful to debug but I'm making progress. What I found out is that "collectParentTestInstances()" is non-deterministic:

[code]

Notice that AnotherTest@6646267a is processed twice. Effectively, initMocks() is called twice for that test instance, clearing up the invocations.

Do you have an idea how to fix collectParentTestInstances()?

[2019-09-27 08:18] mockitoguy commented on #1630
Perhaps we drop the collectParentTestInstances() complexity and just keep the test instances in static ThreadLocal object in the extension. postProcessTestInstance() feeds the thread local state, beforeEach() consumes it. I don't know enough about the "context store" API, though.

[2019-09-27 10:35] jlocbwork opened #1785 "One object while mocking object with multiple arguments of the same type in constructor"
Mockito trying to resolve the arguments by type and pass the same value in parameterized constructor for all objects. See the following example:

[code]

[2019-09-27 15:43] dmitry-timofeev commented on #1483
Hi,
Bumped into a similar issue when ran our tests with Java 13 (inline mocks could not be created). However, they do work with the property `-Dnet.bytebuddy.experimental=true`. Is it a known issue — I haven't manage to find one?

[2019-09-27 19:58] SimplyDanny opened #1786 "Difference between 'timeout' and 'after' not immediately clear"
The first few lines of the JavaDoc for both methods do not exactly specify their difference. From `timeout` you have to jump to `after` where at the end of the JavaDoc the difference is explained.

I think this can be improved. The first sentence in `timeout` could be more specific to highlight the difference directly.

[2019-09-27 20:54] raphw commented on #1782
This is very expected since we rely on accessing all fields with reflection.

There is not really a good way around it for us, we need to access these fields. We could attempt to generated classes and inject them but this can only be done legally if the module and packages are open which then would also allow reflection.

[2019-09-27 23:17] mockitoguy commented on #1659
Yes, I meant "lazy" verification :-)

[2019-09-28 02:51] mockitoguy commented on #1630
I have a plan how to fix it. First, we need to upgrade junit-jupiter (#1788)

[2019-09-28 11:07] #1786 closed

[2019-09-28 20:21] liptga commented on #1630
@mockitoguy I am not sure why you have closed the issue. In the attached commit I cannot see the fix for the problem.

Context store API seems to be pretty simple to me, it is just a map in the context to store some information. The real question is what is this kind of context hierarchy used for in Junit 5 and how it behaves in case of nested tests or multithreaded tests, or even in multithreaded

[2019-09-30 02:12] mockitoguy commented on #1630
PR #1789 fixes the problem. This ticket got closed by accident. Thanks for looking into it!

[2019-09-30 16:51] #1630 closed

[2019-09-30 19:34] mjustin opened #1791 "Typo in Mockito.java Javadoc: "verification" in wiki link"
https://github.com/mockito/mockito/blob/f8581c6e875dc3fb587fe31e85d025ef4d110a3f/src/main/java/org/mockito/Mockito.java#L2579

There's a missing "i" in the wiki link:

[code]

[2019-09-30 19:52] TimvdLippe commented on #1791
Feel free to send a PR!

[2019-10-01 08:34] liptga commented on #1630
Release is already published. See https://bintray.com/mockito/maven/mockito-development

[2019-10-01 09:49] liptga commented on #1630
@mockitoguy when will this fix be released to maven central?

[2019-10-01 10:33] TimvdLippe commented on #1630
I will publish a release today

[2019-10-01 11:52] SchulteMarkus commented on #1630
I updated https://github.com/SchulteMarkus/mockito.bug1630 - seems to work without problems using Mockito v.3.1.0, thanks a lot!
I will delete https://github.com/SchulteMarkus/mockito.bug1630 within a few weeks.

[2019-10-01 11:54] TimvdLippe commented on #1630
Publish to Maven Central failed yet again. I will need to contact sonatype again...

[2019-10-01 11:56] TimvdLippe commented on #1630
(Although https://repo1.maven.org/maven2/org/mockito/mockito-core/3.1.0/ does exist, so it might just work)

[2019-10-01 12:54] liptga commented on #1630
I can confirm, that the solution of 3.1.0 version works for all of the tests in my project. Still I don't understand how JUnit works, but it is fine now, since the tests work.

Thanks for your fast fix & release!

[2019-10-01 23:13] DaveJarvis opened #1794 "AspectJ cannot find superclass named MockMethodDispatcher"
A side-effect of #845: AspectJ post-compile weaving cannot find the `.raw` file superclass because it doesn't have a `.class` file name extension.

[code]

[2019-10-02 07:17] GGeethanjali commented on #1791
I am ready to pick this up

[2019-10-02 08:14] margussipria commented on #1074
Hello,

After long time I tried to upgrade to our Mockito to 3.1.0 (nice jump from 1.10.19) and everything worked.

Then i did get back to my https://github.com/margussipria/mockito-bug project and started testing.

Mockito had fixed this problem at version `2.24.0`, tried every version from `2.16.0` (last failing version tested 2 years ago) to `2.24.0`.

But I also noticed something with failing

[2019-10-02 08:14] #1074 closed

[2019-10-02 17:55] marcosalis commented on #1606
I am still getting this issue with Mockito (and `mockito-android`) when running Android instrumentation tests:

[code]

[2019-10-02 22:08] raphw commented on #1606
What dex compiler did you bundle with Android here? Seems like the API is not compatible.

[2019-10-03 07:03] surapuramakhil opened #1796 "Receiving Error on usage of OR - Additional Matcher"
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2019-10-03 10:30] marcosalis commented on #1606
I'm using Studio 3.5 and Gradle build tools 3.5.0, so it's using D8 by default I guess.

[2019-10-03 10:38] TimvdLippe commented on #1796
This is a Java language issue, not a Mockito issue. Also, you probably want to use [`nullable(Long.class)`](https://static.javadoc.io/org.mockito/mockito-core/3.1.0/org/mockito/ArgumentMatchers.html#nullable-java.lang.Class-) instead.

[2019-10-03 10:38] #1796 closed

[2019-10-03 18:31] skykelsey commented on #1396
You can't mock spies like this. You are accessing `a` on the concrete class. The proper way to mock this is to do:

[code]

This way, you are referencing the spy, and not the concrete class.

For this reason, I strongly suggest you stick with the `doReturn().when()` style syntax instead of `whenever().doReturn()` style. The latter may work with mocks, but then if you ever switch to a spy, you will

[2019-10-04 05:12] surapuramakhil commented on #1796
@TimvdLippe thanks for helping. but I am trying to understand is that way of having function is useful for JVM based languages like Kotlin, Scala etc?

[2019-10-04 11:19] kajf opened #1797 "Performance degradation after migration to mockito 2"
Hey,

I am facing severe test suite execution performance degradation during Mockito migration
from version 1.10.19 to 2.28.2

Whole migrated test suite (about 12k tests) run takes ~18 seconds while after migration it took around 2 minutes. I have checked previous performance related tickets, but those are supposed to be resolved in version I use for migration.

**Initial setup**
java version: 1.8

[2019-10-04 13:09] TimvdLippe commented on #1796
Sorry, I don't understand your question. Could you elaborate?

[2019-10-04 13:10] TimvdLippe commented on #1797
Could you do a performance trace with https://visualvm.github.io/ and analyze where we lose the most amount of time?

[2019-10-04 13:11] TimvdLippe commented on #1797
And it is not totally unexpected the time has increased, as the ByteBuddyMockmaker actually follow the Java specification, which the CGLibMockmaker did not. However, such a large performance regression is unexpected.

[2019-10-04 16:07] kajf commented on #1797
It looks like most of the time (about 1 minute) is spent in org.mockito.internal.runners.DefaultInternalRunner$1$1.evaluate()
which did not seem to be called in mockito 1 during org.junit.rules.RunRules.evaluate()
See snapshot attached
[slow-mock.zip](https://github.com/mockito/mockito/files/3691355/slow-mock.zip)

[2019-10-05 10:08] #1791 closed

[2019-10-05 12:49] TimvdLippe commented on #1797
That makes sense, as that is the overall wrapping runner. I guess we need a little bit more fine-grained data. E.g. if you ignore the infrastructure related to JUnit, what part of the Mockito internal system is most used.

Maybe to ease the debugging, could you post a screenshot of the flamechart of the methods that are most often called?

[2019-10-07 06:16] kajf commented on #1797
Hope this helps

![image](https://user-images.githubusercontent.com/8957264/66288703-e395a980-e8e2-11e9-8ebe-b9188a23dc1d.png)

See attached full profiler result
[mock-flame.zip](https://github.com/mockito/mockito/files/3695738/mock-flame.zip)

[2019-10-07 09:17] pitschr commented on #1771
:+1:  it should be officially upgraded to newer version of byte-buddy.

I am experiencing "Unsupported class file major version 57" (=Java 13)

[2019-10-07 16:12] TimvdLippe opened #1800 "Deprecated and remove ArgumentMatchers.refEq"
This class uses Apache Commons internally, which we include in `internal/matchers/apachecommons`. It also encourages bad tests that rely on structure rather than `equals`. We should remove this code to reduce maintenance burden and guide users to the better alternative `eq()`

[2019-10-07 16:15] TimvdLippe commented on #1771
We had an attempt in #1772 but Travis was unhappy. If someone could revive that PR and fix the build, that would be greatly appreciated!

[2019-10-07 16:18] TimvdLippe commented on #1797
Thank you for the flamechart. The work in ByteBuddy definitely introduces a large amount of overhead for the simple test. However, this is not totally unexpected for the creation of 30000 mocks.

Assigning @raphw for now who might have some more thoughts on how to speed up ByteBuddy, but in general I think trying to limit the amount of mocks you create in your test suite is a better solution.

Do

[2019-10-07 23:53] raphw commented on #1797
Mock creation is more expensive in Byte Buddy compared to cglib since Byte Buddy processes generic data to get bridges right. This alone takes a lot of additional time. Normally, this is not sn issue since nobody would mock 30k classes in a two second test. The Byte Buddy based mocks are more performant, as a matter of fact and would amortize their costs in a long running applications but this rar

[2019-10-08 08:51] kajf commented on #1797
@TimvdLippe
The flamechart and VisualVM snapshot I provided was for the real suite I am migrating, not for the artificial run provided in issue description.

Real suite I am trying to migrate to Mockito 2 have the following stats
# mocks with Mockito.mock() ~ 4400
# mocks with @Mock ~ 3200
# spies with Mockito.spy() ~ 700
# spies with @Spy ~ 90
# of tests ~ 11800

runtime with Mockito 1 ~ 17 sec
r

[2019-10-08 10:46] TimvdLippe commented on #1797
I think that is the trade-off we accepted. We opted for a more correct Mockmaker in exchange for a small loss of performance on initial mock creation (which the CGLibMockmaker did). However, if your test has a lot of mock creation without a lot of mock interaction, this cost will trump any other cost in your unit test.

At this point, I think the best way forward is to limit the amount of mocks yo

[2019-10-09 18:22] shivam-futurecam opened #1801 "Worst Library."
I've wasted around 2 hours now but still cannot run a simple test.
This is really irritating now.

When I was using `'org.mockito:mockito-android:2.6.3'` I couldn't import the mockito classes in my test. I posted a [question](https://stackoverflow.com/questions/58309445/cannot-find-mockito-in-instrumentation-test) on stack overflow about the same.

Then I used `org.mockito:mockito-core:2.15.0` and

[2019-10-09 18:47] TimvdLippe commented on #1801
Could you post the source code of the classes you are trying to mock?

[2019-10-09 18:50] shivam-futurecam commented on #1801
Sure, here it is the complete source code:
package com.example.trendingrepo.dbUtils;

import android.content.ContentValues;
import android.content.Context;
import android.database.Cursor;
import android.database.sqlite.SQLiteDatabase;
import android.util.Log;

import com.example.trendingrepo.models.Repository;
import com.example.trendingrepo.utils.Utils;

import java.util.ArrayList;
import java.ut

[2019-10-09 18:58] TimvdLippe commented on #1801
Okay, that seems a reasonable class definition. Could you post the full stacktrace including root cause?

[2019-10-09 19:04] shivam-futurecam commented on #1801
Haha, You really thought that It was a private or final class 👎

Below is the complete stacktrace:

[code]

And Here is my class

[code]

[2019-10-09 19:06] shivam-futurecam commented on #1801
Also you can check this issue in stackoverflow https://stackoverflow.com/questions/58309445/cannot-find-mockito-in-instrumentation-test where the import won't work due to which I had to use mockito-core instead of mockito-android.

[2019-10-09 19:09] TimvdLippe commented on #1801
Okay, there are multiple things going on here:

[code]

The stacktrace contains this message, which explains why you are running into the MockException. You have to use `mockito-android` when you run Android tests.

That said, you did try that at first. However, you have to use `mockito-android` on android tests (e.g. `androidTestImplementation`) and `mockito-core` for JVM tests (e.g. `testImpleme

[2019-10-09 19:14] shivam-futurecam commented on #1801
Yes, So if you've seen my build.gradle you'll find that I'm using andoridTestImplementation only
androidTestImplementation('org.mockito:mockito-android:2.6.3') {
    exclude group: 'org.hamcrest', module: 'hamcrest-core'
}

[2019-10-09 19:19] shivam-futurecam commented on #1801
I tried that also, It allows me import mockito inside test folder but inside androidTest it is still giving the same error.

[2019-10-09 19:28] TimvdLippe commented on #1801
I am not sure what other advice I can give you. You need both `testImplementation` and `androidTestImplementation` and we have verified it works in modern IDEs. I recommend you double-check your setup.

Given that this is not a problem for Mockito but a problem in your local setup, I am closing this issue.

[2019-10-09 19:28] #1801 closed

[2019-10-10 07:57] basdebakker opened #1802 "Exception "The mock object was garbage collected.""
We received the following exception while running tests using Mockito, either version 3.0.0 or 3.1.0, and I'm filing this bug as requested:
[code]

I've reduced the problem to the following test program:
[code]

Whether the problem occurs depends on what exactly the JVM does with the code. It looks like the mock object can be garbage collected between the call to the mocked method and Mockito tryi

[2019-10-10 10:02] liptga opened #1803 "Verification is logged as invocation if verbose logging is enabled"
Hi,

First of all thanks for your great work. During debugging my test I noticed a possible bug.

Consider the following test using Mockito 3.1.0 version (along with JUnit 5.4.2 and Assertj 3.11.1):

[code]

The test fails, since 4 invocations were logged instead of 2.

What do you think?

[2019-10-14 06:21] harmittaa opened #1804 "Android: MissingMethodInvocationException only on a specific project with code that should run just fine"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
[code]
 - [x] The problematic code (if that's possible) is copied here;
[code]

 - [x] Provide versions (mockito / jdk / os / any other relevant information)
(abbreviated version of the app/build.gradle file
[code]
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the

[2019-10-14 12:21] eraonel commented on #1488
Is this fixed in release 3.x.x or maybe not valid for for 3.x.x

[2019-10-14 17:46] harmittaa commented on #1804
Got some help and this was the solution: https://hadihariri.com/2016/10/04/Mocking-Kotlin-With-Mockito/

[2019-10-14 17:46] #1804 closed

[2019-10-15 09:05] zugzug90 commented on #1785
@jlocbwork Hi. Could you provide more detailed test please? (provided snippet seems to lead to compilation errors at least).

For instance, below is my case which passes just fine:
[code]

[2019-10-15 19:49] SharonHart commented on #1767
I'm having the same issue, upgrading from 2.23.4

[2019-10-17 16:14] SharonHart commented on #1767
@mockitoguy It works with the current Mockito for me as well, on a clean project.
 But in one specific project it doesn't, after a similar upgrade, as the one mentioned in this issue.

[2019-10-21 09:19] SeriyBg commented on #1803
@mockitoguy if you don't mind, I will try to look into it. I will very much appreciate if you could point me in the right direction if you have time :)

[2019-10-21 09:47] liptga commented on #1803
I took a look into the code. For me it seems to be quite simple. You just grab the org.mockito.internal.progress.ThreadSafeMockingProgress.mockingProgress() method, and get the current MockingProgress instance for the thread. This MockingProgress should have a new method like this:

`boolean isOngoingVerification()`

That method could be implemented in MockingProgress:

[code]

Then in VerboseMock

[2019-10-21 10:34] SeriyBg commented on #1803
@liptga if you have working code you're welcome to create a PR. Just let me know whether I should work on this issue or not :)

[2019-10-21 10:35] liptga commented on #1803
Please go on with the fix. I just took a short look, since you wanted to have a direction ;)

[2019-10-21 10:38] SeriyBg commented on #1803
Thanx for the help!

[2019-10-21 15:06] TimvdLippe commented on #658
This was fixed in https://github.com/mockito/mockito/commit/1df5e49043fb032106f5c0fc0eec97ca9251241f#diff-ddbc0d47e06a589778a6efe24c5d71d3

[2019-10-21 15:06] #658 closed

[2019-10-21 23:24] mockitoguy commented on #1784
There is no argument mismatch here because we matched the stubbing at least once. Mockito assumes that the stubbing is "useful" (hence no "unused stubbing" exception) and it gets a correct argument at least once (hence no "argument mismatch" exception).

I can see why you found this behavior confusing :-) We don't want Mockito to become "too strict". We want Mockito to be "strict enough" for best

[2019-10-22 08:52] SeriyBg commented on #1803
@liptga, unfortunately, this fix doesn't work, I assume that this is because of ThreadLocal. Will look for other possible fixes

[2019-10-22 10:15] liptga commented on #1803
@SeriyBg Could I have a look on your fix somewhere? Maybe as a branch inside your fork.

[2019-10-22 10:40] SeriyBg commented on #1803
@liptga I haven't committed it as it doesn't work. What I have tried is checking the `verificationMode` inside the `MockitoCore#verify` or `VerboseMockInvocationLogger#reportInvocation`. In both cases the `verificationMode` is `null`.

[2019-10-22 11:20] pip25 commented on #1784
@mockitoguy
Thanks for looking into this, but I'm not sure I completely understand. Isn't the point of the strict mode to ensure that no mock behavior is declared that is not actually needed for the test, and also that whatever behavior needs to be declared gets declared?

One of the problems here (to me) is that Mockito seems to think that just because there is a mock for a certain parameter comb

[2019-10-23 11:10] ideskov opened #1808 "ArgumentMatcher any(Class<T>) doesn't work during stubbing"
Hey everybody,

I just stumbled upon a very weird issue with ArgumentMatchers. A bit of background - I'm testing a REST endpoint in a Spring Boot application written in Kotlin and using WebFlux. I have managed to reproduce the issue in a small project and pushed it here -> https://github.com/ideskov/mockito-arg-matcher

Essentially, when I try to do
[code]
I get
[code]
If I replace the argument wi

[2019-10-23 14:52] TimvdLippe commented on #1808
Could you send us a PR with a failing test case that reproduces your problem in isolation? Then we can debug and see what is going on :smile:

[2019-10-23 14:52] TimvdLippe commented on #1808
Could you send us a PR with a failing test case that reproduces your problem in isolation? Then we can debug and see what is going on :smile:

[2019-10-23 17:05] mockitoguy commented on #1784
yes, that's one of the points of "strict stubbing"

no, that's not the goal of "strict stubbing". This is the goal of "strict mocks" - #1097 (not implemented as of writing this comment)

Hope that helps!

[2019-10-23 17:09] mockitoguy commented on #1097
FYI: I'm making progress on the implementation. Stay tuned :-)

[2019-10-23 18:18] pip25 commented on #1784
@mockitoguy
Okay, understood. Nonetheless, I believe the problems of inconsistent behavior and hard-to-debug testing failures, which I described above, still remain.
I'd be willing to submit a PR for this if we could work out a behavior that does not cause such inconsistency, but also does not make Mockito "overly strict". Would the removal of the _UnusedStubbingReporting.shouldBeReported_ call in

[2019-10-24 23:26] tokuhirom commented on #1631
Here's a pseudo code to describe the issues around this issue.

# Before 2.23.15:

[code]
# After 2.23.15:
[code]

# Details

Before 2.23.15, if the `@InjectMocks` field has a field that not listed in the constructor argument will fill by setter/property injection at the 2nd loop 😃
It may not the expected behaviors by Mockito authors, but some users' code depends on this behavior.

My suggestion i

[2019-10-24 23:27] TimvdLippe commented on #1631
Feel free to open a PR with regression test and I will be happy to merge it. Thanks!

[2019-10-28 17:12] rusmonster commented on #1606
Getting this on `mockito-android:3.1.0` (instrumented tests) especially on `release` build, on `debug` it works fine.
[code]

[2019-10-28 23:54] tokuhirom commented on #1802
I tried bisecting. This issue happens after this PR.
https://github.com/mockito/mockito/pull/1544

[2019-10-29 07:48] raphw commented on #1802
That makes sence, if the `BaseStubbing` instance wraps the mocks and the latter instance is referenced via a weak reference then that latter instance can be GC-ed even if the actual mock instance is still in use.

Thanks for the test, since we both have a test for the "too weak" and the "not sufficiently weak" mock applications, I hope that I can come up with a scenario that satisfies both conditi

[2019-10-29 10:36] #1771 closed

[2019-10-29 20:48] marius-bardan commented on #1614
we just updated our testing dependencies to latest version and ran into this OOM.
how is adding an '@After'-annotated function to 3000+ tests practical, of which some already have their own implementation '@After' implementation? Or maybe I'm missing something?

[2019-10-29 22:00] TimvdLippe commented on #1614
There was a lot of discussion about this feature in the corresponding PR: #1619. That should hopefully clear up why we were forced to implement it this way 😢

[2019-10-30 12:30] marius-bardan commented on #1614
got it. so is there a way, that you know of, to invoke that for all tests, without me going into every test and adding that code? Maybe via some Test Listener or reflection?

[2019-10-30 13:19] TimvdLippe commented on #1614
You can write your own test runner that extends from the default Mockito runner and implements the logic.

We might actually consider that as part of the default mockito runner implementation. Do you mind opening a PR to start that discussion? It will mostly revolve around potential issues with multithreaded code.

[2019-10-31 10:17] Maragues commented on #1606
I'm seeing a similar error running Mockito 3.10.0 or 2.23.4, it doesn't make a difference. I've tried running on an Android 10 phone, as well as on a emulator sdk 27

[code]

[2019-10-31 11:55] raphw commented on #1606
Android has been changing its APIs in a non-compatible manner again, this causes these problems. I would have to look into supporting newer API versions in the DEX compiler.

[2019-11-05 16:52] SharonHart commented on #1767
@marcphilipp, @TimvdLippe Maybe this PR is related?
https://github.com/mockito/mockito/pull/1672/files#diff-f266327a2222bf41843bb64e18ba766eL59
It was merged between the versions @torakiki mentioned [here](https://github.com/mockito/mockito/issues/1767#issuecomment-527094823).
Used to removeListener in case of test failure during setup, the same thing as the exception states that needs to be done

[2019-11-05 22:24] TimvdLippe commented on #1767
@SharonHart Which version of JUnit are you using? We had a regression since 4.13 which is why we made the changes. See https://github.com/junit-team/junit4/pull/1599

[2019-11-06 01:27] kluever opened #1815 "FR: add Mockito.timeout(java.time.Duration) and after(java.time.Duration)"
Representing durations as `long`'s is very error prone. We've seen (and fixed) hundreds of unit mismatch bugs inside of Google.

We (Guava) have recently updated most of our public APIs to add `java.time.Duration`-based overloads. [Caffeine](https://github.com/ben-manes/caffeine/issues/221) and [Selenium](https://github.com/SeleniumHQ/selenium/issues/7187) have done so as well.

Basically, I'd lik

[2019-11-06 05:41] SharonHart commented on #1767
@TimvdLippe JUnit 4.12

[2019-11-06 07:53] marcphilipp commented on #1767
@SharonHart Could you please provide a sample project so we can reproduce the issue?

[2019-11-06 09:01] SharonHart commented on #1767
@marcphilipp Unfortunately, I can't. I tried to copy the test to a clean project and it didn't reproduce.
Happening only in command line build, in one project which I can't share due to size and internal dependencies.
I can verify if a fix works though, the same way I've managed to check if reverting the commit fixed the issue.

[2019-11-06 09:24] marcphilipp commented on #1767
Are you running tests in parallel or anything like that?

[2019-11-06 10:03] SharonHart commented on #1767
Yes, in our CI pipeline. But reproduced locally with a single executor.

[2019-11-06 10:49] TimvdLippe commented on #1815
That would makes sense to me. Feel free to open a PR to add these methods.

@mockito/developers We have a lot of evidence of `long`s being misused in common API's. Do you have any concerns if we deprecate the `after(long)` in favor of `after(java.time.Duration)` (and the same for `timeout`)?

[2019-11-06 11:43] spjoe opened #1817 "MockitoHamcrest#argThat does not allow "super" matchers"
IMHO to really follow the hamcrest matchers design philosophy the argThat interface should look like this: `public static <T> T argThat(Matcher<? super T> matcher)`, but unfortunately it is
https://github.com/mockito/mockito/blob/68bc593ebb79efa515a211f8cdff77c7c3746a6a/src/main/java/org/mockito/hamcrest/MockitoHamcrest.java#L60

this change would allow a statement like the following:
`verify(mock

[2019-11-06 12:22] marcphilipp commented on #1767
How are you running those tests? Maven Surefire?

[2019-11-06 12:26] TimvdLippe commented on #1817
Rather than making changes to `MockitoHamcrest`, I think our stance is that we are deprecating it. I will send a PR to do that instead. Users should use `ArgumentMatchers.argThat` instead.

Note that https://github.com/mockito/mockito/blob/68bc593ebb79efa515a211f8cdff77c7c3746a6a/src/main/java/org/mockito/ArgumentMatchers.java#L1204-L1207 probably has the same issue? If so, feel free to send a PR

[2019-11-06 12:36] SharonHart commented on #1767
No, with gradle, without extra plugins

[2019-11-06 13:39] kluever commented on #1815
Ideally we'd plumb the `Duration` all the way through the various layers of Mockito:

- `org.mockito.verification.After`
- `org.mockito.verification.Timeout`
- `org.mockito.internal.verification.VerificationOverTimeImpl`
- `org.mockito.internal.util.Timer`

I assume `After` and `Timeout` need to maintain backwards compatibility, but the latter 2 are in an `internal` package - does that mean I don'

[2019-11-06 13:45] TimvdLippe commented on #1815
Yes, any API in `org.mockito.internal` is not included in our semver policy and we are free to change.

[2019-11-06 14:01] marcphilipp commented on #1767
What happens when you upgrade to JUnit 4.13-rc-1?

[2019-11-06 14:05] bric3 commented on #1815
I second that, now that mockito 3 is java 8 based !

[2019-11-06 14:07] SharonHart commented on #1767
Same

[2019-11-06 16:40] SharonHart commented on #1767
Same.

[2019-11-07 13:59] #1815 closed

[2019-11-09 15:59] ideskov commented on #1808
Solution discussed in linked PR. Thanks

[2019-11-09 15:59] #1808 closed

[2019-11-10 08:42] hotzst commented on #1767
While I cannot provide a sample project to reproduce this issue, here are some observations that I made when running into the same issue:
1. I seems to be related one of the `@Rule`: I use a similar rule to what @torakiki has in his example:
`public class JavaFXThreadingRule implements TestRule {

    /**
     * Flag for setting up the JavaFX, we only need to do this once for all tests.
     */

[2019-11-10 10:02] spjoe commented on #1817
Thanks for the fast response @TimvdLippe

I am very sorry to hear that hamcrest matcher support may get deprecated :-(

With the hamcrest matcher support in mockito it was very easy to share matcher implantations over multiple usecases.

For example I use the same matcher in:
* mockito verify
* junit assertThat
* awaitility until

For me dropping the support would mean to rewrite (and maintain) a

[2019-11-10 12:19] SharonHart commented on #1767
@hotzst Nice! I have managed to find that for me as well, a MethodRule we're implementing is what caused this. Question is, how should it be changed for the updated Mockito version.

[2019-11-10 16:37] marcphilipp commented on #1767
Thanks for the additional info. I think #1821 should restore the old behavior.

[2019-11-10 20:02] #1767 closed

[2019-11-10 21:11] SharonHart commented on #1767
Thanks!

[2019-11-11 11:30] Oduig opened #1822 "Second call to "when" fails when mocking a Spring @Cacheable"
Using Mockito `2.23.0` with Spring Boot `2.0.3`, we cannot get Mockito to work with Spring's `@Cacheable` annotation in an integration test.

**Class under test**
`
@Component
public class MyClass {
  @Cacheable
  public String mockMe(String message) {
    return message;
  }
}
`

**Test configuration**
`
  @Configuration
  public static class TestConfiguration {
    @Bean
    public MyClass myCla

[2019-11-11 14:14] TimvdLippe commented on #1822
Could you create a minimal example and open a PR with a failing test? Preferably without any external dependencies.

[2019-11-14 03:51] custodiojay123 opened #1824 "Someone help me please? I'm using mockito 2.23.4 and Powermock 2.0.4"
Exception in thread "main" java.lang.NoSuchMethodError: org.mockito.Mockito.framework()Lorg/mockito/MockitoFramework;
	at org.powermock.api.mockito.mockmaker.MockMakerLoader.doLoad(MockMakerLoader.java:45)
	at org.powermock.api.mockito.mockmaker.MockMakerLoader.load(MockMakerLoader.java:36)
	at org.powermock.api.mockito.mockmaker.PowerMockMaker.<init>(PowerMockMaker.java:36)
	at sun.reflect.Native

[2019-11-14 10:20] doraeimo opened #1825 "OOM for big loops(>170k)"
Recently I'm upgrading Mockito from 1.10 to 2.25.

There's a failure test case (which was good in version 1.10) that caused by OutOfMemory(Xmx1024m) when it runs a big loop(times > 170k).

I've checked the dump file and found too many StackTraceElement instances there.
Also noticed that for any mock object, it has a property chain of

And there's a StackTraceElement here

I know there's a similar

[2019-11-14 14:17] bric3 commented on #1825
This is not a leak, Mockito stores this information on purpose to identify the location where the stub has been called for verification and of strict mode. In Mockito 2 offers more precise diagnostics thanks to this data.

However the API acknowledges that some use case just need to be stubbed, and allow to skip this data. [`withSettings().stubOnly()`](https://www.javadoc.io/static/org.mockito/moc

[2019-11-15 03:14] doraeimo commented on #1825
I tried jvisualvm, observed that more loops it did,
- for Mockito 1.10, it costed 150m memory on average, and went stable after each GC.(Also stored new StackTraceElement instance after each loop)
- for Mockito 2.25, it went out of memory soon.

If it is not a leak, I hope there's a clear hint or warning to tell us where is the suspicious test case, and sth like "avoid big loops". OOM is not very

[2019-11-15 11:19] bric3 commented on #1825
Indeed  OOMs are not very friendly.
Do you have an idea how to do that efficiently and for every configuration?

-- Brice

On Fri, Nov 15, 2019 at 4:14 AM Anderson Hua <notifications@github.com>
wrote:

[2019-11-16 00:06] TimvdLippe commented on #1824
It is better to ask these kind of questions on StackOverflow: https://stackoverflow.com/questions/tagged/mockito

[2019-11-16 00:06] #1824 closed

[2019-11-16 00:07] TimvdLippe commented on #1825
Am I to understand correctly you are creating 170k mocks in a for-loop?

[2019-11-16 07:43] doraeimo commented on #1825
No, it goes like this,

[code]

[2019-11-17 20:05] MarceloMariduena commented on #1325
Changed the project's assigned JDK from 11 to 8 and it worked. Also made sure the jdk folder was not locked.

[2019-11-18 17:23] tasomaniac commented on #1712
I can also verify the same issue.

[2019-11-18 23:25] dgruntz opened #1826 "Problem mocking a final method with hooks"
I tried to test a template method which invokes two hook methods. The template method is declared `final`. The whole test class is defined in package `mockito`, i.e. stored in the folder `src/main/java/mockito`:

	package mockito;

	public abstract class AbstractBaseClass {

		protected abstract void hook1();
		protected abstract void hook2();

		public final void templateMethod() {
			hook1();

[2019-11-19 16:10] #1776 closed

[2019-11-19 20:41] mockitoguy commented on #1712
Seems like a bug. Please submit a PR. Thanks!

[2019-11-19 20:52] mockitoguy commented on #1540
@SamBarker, what exact API you use to "sprinkle" lenient = true? Thx!

[2019-11-20 07:10] SamBarker commented on #1540
` @Mock(lenient = true)` on a field

Was what I was referring too.

[2019-11-20 22:58] philbrown-mdt commented on #939
@raphw can you add a link to the robolectric issue for this? I am using robolectric 4.3 and am running into these issues.

[2019-11-20 23:03] philbrown-mdt commented on #939
Nevermind - this was caused by using `MockitoCleaner.clearAllMocks()` when also using Robolectric:

[code]

Removing this fixes the issue. Is this memory issue for inline mocking still a problem in newer versions of mockito?

[2019-11-21 16:15] shark300 commented on #1174
It's still failing with openjdk 11.0.2, junit-jupiter 5.4, mockito 3.0. BTW, it cannot be fixed.

[2019-11-24 02:13] mockitoguy commented on #1540
alternative:

[code]

This way, only the specific stubbing is "lenient".

[2019-11-24 02:34] SamBarker commented on #1540
I like the sound of that it’s been a while since I looked at the case I was having issues with. I’ll try and use this version soon

[2019-11-24 10:28] adamretter opened #1827 "Cannot mock this class: class java.io.InputStream with Java 13"
## Versions
* Mockito: 3.1.0
* JDK: 13.0.1+9
* OS: macOS 10.13
* XCode: 10.1-19

## Code causing the error
[code]

## Error:
[code]

[2019-11-25 14:40] Oduig commented on #1822
Hi, here is the minimal example.

https://github.com/Oduig/mockito-cacheable

[2019-11-25 14:52] TimvdLippe commented on #1822
The minimal example has a large amount of dependencies (e.g. the Spring boot eco-system). Is there anything that prevents you from making a minimal example without any external dependencies? Debugging Spring Boot and its semantics would significantly increase our time investment to be able to determine whether Mockito is in the wrong or if the issue is in Spring Boot. If you can provide a minimal

[2019-11-26 07:29] Oduig commented on #1822
I understand that Spring has a lot of dependencies, but as described in the title, @Cacheable is a Spring annotation. It surrounds a class method with a proxy which, when called a second time, diverts to a cached value rather than calling the real implementation. No doubt, that is the cause of the issue: the second call to Mockito.when sees the cached value instead of the real method and fails bec

[2019-11-26 19:01] dmitry-timofeev commented on #1827
We had same issues with Java 13. I just overrode Mockito Byte Buddy dependency to a newer version (1.10.3), and it solved inline mock failures in our tests.

Submitted the upgrade in Mockito itself: #1828

[2019-11-26 19:22] dmitry-timofeev opened #1829 "Consider testing on the latest Java release"
Currently the project is tested with the following JDKs:
* 8
* 9
* 10
* 11

I suggest to add a job to test with the latest release, which is 13 at the moment, and move it as the next version is released, to ensure that Mockito is compatible with the latest JDK.

Don't know if it makes sense to create separate issues, but it could also be considered to:
* Test on early-access builds, to know if Moc

[2019-11-26 21:23] TimvdLippe commented on #1827
Please do not mock Inputstream, but create a real example with fake data instead. That said, we will update Byte Buddy to be compatible with Java 13.

[2019-11-26 21:24] TimvdLippe commented on #1829
Good point, I don't know what our official Java-compatibility matrix is now that Java is releasing every 6 months. @mockito/developers What about testing on the following versions:

* 8
* 11
* latest
* (14 when that comes out)

E.g. we test on every LTS and do a build on the latest as well so that we are aware of canary failures.

[2019-11-26 21:27] TimvdLippe commented on #1822
You can copy the annotation and processing logic and remove all implementation details until you have a minimal example that fails. We have an extensive set of bugs test that are the minimal examples of the original issues (links to the original issues are usually in the source code): https://github.com/mockito/mockito/tree/release/3.x/src/test/java/org/mockitousage/bugs

For example, https://gith

[2019-11-27 02:23] dencesun opened #1830 "@After teardown, sleep 100ms, tests all passed"
my question is when i run all tests with idea, it will occurs random wrong, but when i insert code in
tearDown function, `
        try {
            Thread.sleep(100);
        } catch (InterruptedException e) {
            e.printStackTrace();
        }`
all tests will pass! I don't know why, could anyone can help me explain it?

check that

 - [ ] The mockito message in the stacktrace have useful

[2019-11-27 02:25] dencesun commented on #1830
it is really import for me, thanks

[2019-11-27 05:45] i337911 opened #1831 "java.lang.instrument ASSERTION FAILED ***: "!errorOutstanding" with message transform method call failed at JPLISAgent.c line: 844"
Using Mock
settingsParameters = doReturn(settingsParameters).when(mobileServiceClientTest).getSettingsParameters(anyString(),anyString(), anyString());

the test case can pass, but the error will show
*** java.lang.instrument ASSERTION FAILED ***: "!errorOutstanding" with message transform method call failed at JPLISAgent.c line: 844

[2019-11-27 08:15] Oduig commented on #1822
I've always been very reasonable about my open source contributions, making an effort to help resolve issues. Extracting pieces of a framework into an individually compilable and working unit is not something that I've ever encountered as a requirement for a bug report. I honestly think you are asking for too much, making me jump through hoops just to prove my issue is valid, when I think I've alr

[2019-11-27 15:12] black-snow commented on #1517
This issue seems a little outdated as *atm* v3.1.13 is out.

[2019-11-27 16:53] szpak commented on #1517
For most of the points only the version number is outdated. Mockito 3 has no backward incompatible changes (except for dropping support for Java <8 :) ), so the things are to be considered for Mockito 4.
@TimvdLippe WDYT about updating the issue to reflect Mockito 4 instead of 3?

[2019-11-27 17:02] TimvdLippe commented on #1517
Yes done. Thanks for the pointer!

[2019-11-27 17:13] szpak commented on #1517
:+1:

Btw, I marked to original first point as implemented (instead of removing it) to make your [first comment](https://github.com/mockito/mockito/issues/1517#issuecomment-428914687):

more accurate :).

[2019-11-27 18:23] TimvdLippe commented on #1831
Please provide a minimal reproducible test case that shows the issue. The above message seems like a JDK internal issue on your local machine.

[2019-11-27 18:23] #1831 closed

[2019-11-29 09:46] shahidki31 opened #1834 "Mock HttpServletRequest is failing with an exception due to class loading issue"
Hi,
While testing Mock HttpServletRequest  we were getting the following MockitoException. I would like to know, if it is an issue with mockito

Thanks,

[2019-11-29 15:52] TimvdLippe commented on #1834
Please provide your full test case.

[2019-11-29 16:01] shahidki31 commented on #1834
Thanks @TimvdLippe
For reference (https://github.com/apache/spark/pull/26403/files)
and Jenkins result https://amplab.cs.berkeley.edu/jenkins/job/SparkPullRequestBuilder/114557/testReport/org.apache.spark.sql.hive.thriftserver.ui/ThriftServerPageSuite/thriftserver_page_should_load_successfully/

I would like to know, if the mock has been used correctly or not?
[code]

[2019-11-29 16:03] dmitry-timofeev commented on #1827
Thank you @TimvdLippe ! Would it be possible please to push this release to Maven Central? Creating inline mocks of _any_ classes compiled with javac 13 does not work, not just platform classes like InputStream, so I think this release can be considered 'notable' according to the release policy.

[2019-11-29 16:13] TimvdLippe commented on #1827
It is being released: https://github.com/mockito/mockito/commit/d7c5ac446f156ba6fa913e041441ba4f566f3749

[2019-11-29 16:13] #1827 closed

[2019-11-29 16:14] TimvdLippe commented on #1834
You are writing in Scala so probably need to use `mockito-scala` instead: https://github.com/mockito/mockito-scala

[2019-11-29 16:16] dmitry-timofeev commented on #1827
Wonderful, thanks!

[2019-11-29 16:17] adamretter commented on #1827
Thanks everyone for the quick response :-)

[2019-11-29 16:19] shahidki31 commented on #1834
Thanks @TimvdLippe Let me try that.

[2019-11-29 16:28] shahidki31 commented on #1834
So, Is the classloading issue is due to scala test or due to dependency issue?
[code]

[2019-11-29 21:48] TimvdLippe commented on #1834
Could be both sadly, but I think it is a Scala issue. I am not sure tbh,
this error can have many different root causes :(

On Fri, 29 Nov 2019, 16:28 Shahid, <notifications@github.com> wrote:

[2019-11-30 09:59] shahidki31 commented on #1834
Thanks @TimvdLippe for the reply

[2019-11-30 09:59] #1834 closed

[2019-12-01 01:32] fatboijr opened #1835 "S"
9

check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://ssc

[2019-12-01 01:58] #1835 closed

[2019-12-01 05:33] bwhiting2356 commented on #1522
I'm not sure if I'm on the right track with this, or is this helps anyone else, but I had the same problem and solved it by using the `doReturn().when()` version of mockito instead of `when().thenReturn()`

[2019-12-02 15:05] skis opened #1836 "Test Failure due to Autogenerated Suffix: "<mock>.MockitoMock.123456789""
Hello Team,
When I run the JUnits using IntelliJ/Eclipse the tests are good. However, when I run the same code with Jenkins and run it as part of Automated Tests, One of the tests fails with an IllegalArgumentException (**_thrown from proprietary framework class_**) with a reason that the mock name and the expected name do not match.

The Mock name passed at runtime has some strange suffix ".Mocki

[2019-12-02 15:12] TimvdLippe commented on #1836
Is the testing framework performing reflection on the type? That will likely fail, as mocks are proper subclasses of the type-to-be-mocked. We generate these suffixes to avoid class name clashes when generating these subclasses.

[2019-12-02 15:57] skis commented on #1836
No, there is no reflection in my case. The problem doesn't occur when I run the test on its own. But, when I run it as part of larger test execution i.e. overall test execution for the application which includes all the JUnits using Jenkins, that is when I run into this problem.

[2019-12-02 16:42] TimvdLippe commented on #1836
We will need the full test case to be able to debug this issue sorry :cry: We don't know if this is an issue in Mockito or in the proprietary framework.

[2019-12-02 16:46] skis commented on #1836
Yeah, had a feeling about that... I will try to put something together 😢
Hopefully by EOD.

[2019-12-03 14:57] skis commented on #1836
I noticed deep within the proprietary framework there is a block of code that relies on Reflection.
However, a question: Why would the test run successfully when I run from Eclipse/IntelliJ but, not when I run it from Jenkins? Any clues?

I am still working on to put together a mockup of sort to share here for your suggestions.

[2019-12-04 12:45] Yogyatha9 commented on #945
Has this method been removed in 3.2.0 again ? I've just uplifted to 3.2.0 recently from 1.7.x and the usage of this method is again a compilation error !

[2019-12-04 12:48] TimvdLippe commented on #945
No this method has not been removed. Are you sure you are compiling with the correct version of Mockito?

[2019-12-04 12:53] Yogyatha9 commented on #945
Hi... thanks for the spontaneous reply. Yes I'm using mockito-core 3.2.0 and since then the getArgumentAt method usage results in a compilation error ! I've checked my pom and 3.2.0 is the only mockito version being referred to. Is there anything that I'm missing if its not dropped/deprecated?

[2019-12-04 13:20] TimvdLippe commented on #945
Please create a new issue with a reproduction case that we can debug.

[2019-12-04 13:29] Yogyatha9 opened #1837 "getArgumentAt is removed in 3.2.0"
I couldn't find this method in the 3.x version of InvocationOnMock. Referred to the below :
https://github.com/mockito/mockito/blob/v3.2.0/src/main/java/org/mockito/invocation/InvocationOnMock.java

Found no reference of removal in the release notes . Can you please investigate?

[2019-12-04 13:29] Yogyatha9 commented on #945
Yep raised ::  https://github.com/mockito/mockito/issues/1837. Thanks

[2019-12-04 13:38] TimvdLippe commented on #1837
Oh I see now. This method was removed in `2.0.0-beta.112` (https://github.com/mockito/mockito/commit/dff5510cb3e97dae414e58ba85825ad01b273c72) and is indeed a breaking change. You should use `getArgument` instead. Sorry for the confusion.

The breaking change is listed in https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#incompatible

[2019-12-04 13:38] #1837 closed

[2019-12-04 13:39] Yogyatha9 commented on #1837
yeah moved on to use getArgument. Thanks

[2019-12-04 16:25] skis commented on #1836
@TimvdLippe - It may not be possible to setup a sample that I may share here.
A question about below syntax though

Example:

[code]

When executed, the actual `initializeVehicle` method is run obviously. However, the argument `car` also invokes the real implementation. Is it possible to have the real method `initializeVehicle` executed on the `vehicle` but, not on the `car`?

_Note_: I tried to f

[2019-12-04 16:29] TimvdLippe commented on #1836
I am not sure if I understand. Could you write it as a JUnit test that I can run? You can open a PR and I can fetch your patch and debug it.

[2019-12-04 16:45] skis commented on #1836
Sure, I will do that. Thanks

[2019-12-05 07:00] mdeinum opened #1838 "Improve the error message on contains method"
When using Mockito and in this specific case using `extracting("name1", "name2").contains(val1, val2)` or the functional one `extracting(it -> it.getName1(), it -> it.getName()).contains(val1, val2)`. In case of a value not matching the error message is not as descriptive as one likes to be.

Currently it is :
[code]
And at first glance it isn't apparent what is wrong, as the values appear to matc

[2019-12-05 15:21] lbar commented on #1325
Hi,

Any updates about this issue?

Thanks

[2019-12-05 15:45] Tonyhasaheart commented on #1325
I agree with MarceloMariduena. Changing the JDK works.

[2019-12-05 20:50] proski opened #1839 "Bintray badge is out of date"
The badges in README.md show:
[code]
That makes the project looks sloppy, as if the developers forgot to update their downloads. "Download" is actually a link to Bintray, which should be clarified.

Bintray does have version 3.2.0. The old version is shown because the package name in the link is wrong. It should be "mockito", not "mockito-development"

[2019-12-06 15:25] #1839 closed

[2019-12-07 09:58] onacit commented on #1259
Related to #1763, and vice versa.

[2019-12-07 09:58] onacit commented on #1763
Related to #1259 and vice versa.

[2019-12-10 15:21] skis commented on #1836
Could not put together sample code that could be shared and so, closing the ticket.

[2019-12-10 15:21] #1836 closed

[2019-12-11 14:26] nayeemd commented on #1353
As mentioned on the issue 1496:

It looks like this has to do with calling when the second time. I couldn't find what was going on, but the second when doesn't attempt to add the mock logic, it just calls the method. **Replacing with doReturn().when() works.**

    doReturn(expected1).when(overloadedMethods).getString(any());
    doReturn(expected2).when(overloadedMethods).getString(any(), any());

[2019-12-11 16:12] metalpalo commented on #1753
I have same problem on nested objects without equals methods. I used something like this but I think it should exist better alternative. I don't have good feeling from this line mainly:
`assertThat(argument).isEqualToComparingFieldByFieldRecursively(expected);`

Example:

private static class DeepReflectionEqMatcher<T> extends ArgumentMatcher<T> {

        private final T expected;

        public

[2019-12-11 20:10] villesau opened #1841 "Update byte-buddy to 1.10.5"
Hi,

Byte-buddy had a bug that prevented running tests in IntelliJ due to space in the executable name: https://github.com/raphw/byte-buddy/issues/732 This was fixed in [1.10.5](https://github.com/raphw/byte-buddy/releases/tag/byte-buddy-1.10.5) so it would make sense to update it in Mockito as well.

[2019-12-11 20:49] ahasbini commented on #1496
In reference to @DavidTanner comment https://github.com/mockito/mockito/issues/1496#issuecomment-423265586, I have said the same in #1353. I had a look at it and tried to modify the logic of comparison to include the parameters as well, so my final outcome was like this:

[code]
I've done this about 1 year and half ago with mockito release 2.16.0. If I recall correctly I had some tests setup to ch

[2019-12-12 00:53] #1841 closed

[2019-12-15 18:23] isuPatches opened #1843 "java.time.Duration not present before SDK 26"
Unable to use Mockito 3.1.7+ with Android on lower SDK devices.

Reason:
- https://github.com/mockito/mockito/issues/1815
- https://github.com/mockito/mockito/pull/1818

https://developer.android.com/reference/java/time/Duration <-- This was not added to Android until SDK 26.

https://developer.android.com/about/dashboards <-- here are some distribution stats.  Most noticeably, this would impact t

[2019-12-15 18:25] sevku opened #1844 "build scan plugin is not compatible with Gradle 6.0.1"
[code]

[2019-12-15 18:47] sevku commented on #1844
I guess I am supposed to run it with Gradle 5.3.1, nevermind.

[2019-12-16 10:49] TimvdLippe commented on #1843
This is an unintended breakage. `java.time.Duration` was added in Java 8, which is our minimum supported version. Android is lacking behind in implementing these, which means that we have to come up with a compatibility guarantee for Android SDK versions.

@kluever I would like to revert your change for now until we can resolve this matter.

[2019-12-16 11:47] #1843 closed

[2019-12-16 14:41] kluever commented on #1843
Womp womp...OK!

[2019-12-16 15:15] bric3 commented on #1843
And this would impact backend even more. Mockito 3 is java 8 based, there's no reason to not use java 8 types.

Plus changing the API back and forth introduces loads of compatibility issues.

I'd rather revert https://github.com/mockito/mockito/pull/1845, and instead introduces compatibility  verification modes for pre Java 8 users.

And I believe there's some new game changing feature coming to s

[2019-12-16 15:24] TimvdLippe commented on #1843
Yeah I would like to recommit `java.time.Duration`, but would like to solve the problem of compatibility first. Since it is unlikely anyone used this method in the short period (<1 week) it was unavailable, I think the overall impact has been minimal. Given that the value is minimal, but would break the majority of Android users, I think reverting is the correct choice.

We might be able to add th

[2019-12-16 22:36] andreisilviudragnea opened #1846 "Broken unused stubbing reporting when matching previous stubbed call"
When stubbing the same method call twice, and the second stub setup matches to first stubbed call, the first stub is not reported as unused, because Mockito detects the next stub setup as a usage of the previous stub setup. This is an example test:
[code]

The test above should fail with `UnnecessaryStubbingException` containing two unused stubs, but it does not.

Mockito version: v3.2.4

[2019-12-17 00:35] mockitoguy commented on #1846
Nice catch! I'll review the PR!

[2019-12-17 17:48] dreis2211 opened #1848 "Use Method.getParameterCount() where possible"
Hi,

as of Mockito 3.x and its Java 8 requirement we could make use of `Method.getParameterCount()` to avoid unnecessary cloning caused by `Method.getParameterTypes()`.

I will shortly open a PR with the proposed changes.

Cheers,
Christoph

[2019-12-18 11:03] bric3 commented on #1843
The fact that Android is not real Java is the base of the issue, this is likely that Android API and JDK API diverge or evolve differently. Android is dragging behind every backend library due to this issue with API level.

My opinion with this is :
If application needs to stick with older versions of the API level, then they have to understand the project cannot update some libraries as well, and

[2019-12-18 13:47] ramSilva commented on #1797
I see a huge performance increase (25ms vs 430ms in a very simple test case with just when mock) when instantiating mocks inline `val mock = mock(SomeClass)` vs when using an annotation `@Mock val mock: SomeClass` / instantiating in the setup method.

Is this expected or is it wrong to create mocks inline?

Some further details here https://stackoverflow.com/questions/59390997/why-do-i-see-a-perfo

[2019-12-18 21:42] raphw commented on #1797
Might this be a Kotlin-related thing? This should really not be the case if you instantiate the same amount of mocks. Mockito - like any Java program - is not aware of the caller of its methods, therefore it should not really make a difference.

Could you run both scenarios with a profiler attached and see where the additional time is spent relatively?

[2019-12-18 22:11] margussipria commented on #1843
@TimvdLippe Hello, "anyone" here and I managed to use it. I use compiler flag that treats deprecation warnings as errors and resolve them immediately and not let code rot years until upgrading unsupported libraries becomes yearlong project of its own.

For now I can make revert to over own commit, but it will also cause problems to others writing new test..

[error] (Test / compileIncremental) Com

[2019-12-18 22:19] sklinefelter commented on #1843
Mockito claims no breaking changes for Mockito 3...the Duration addition made this untrue.  The Duration API should be separated so that Android who may not have accessibility to newer versions of Java for years can still function and update.

[2019-12-18 22:22] isuPatches commented on #1843
Mockito claims no breaking changes for Mockito 3...the Duration addition made this untrue. The Duration API should be separated so that Android who may not have accessibility to newer versions of Java for years can still function and update.

[2019-12-18 22:38] margussipria commented on #1843
There wasn't any braking changes, worked fine with Java 8+ when change were combined with deprecation tags. It is point of view what is braking change, and in my point of view, first baking change happened when added API was removed.

I probably can stop my upgrades and wait 4.x. I was stuck to `1.10.19` over 2 years waiting https://github.com/mockito/mockito/issues/1074 to be resolved, now that I

[2019-12-18 22:44] sklinefelter commented on #1843
When it breaks the majority of the market share for a platform and requires an SDK level that only supports the last 2-3 SDK levels, it most certainly is.  Are you claiming in <1 week you have a full test suite that would be rendered useless by this reversion?  This killed 400+ tests for me.

Just use the version before the revert :P

As mentioned above it's not going away forever, it just needs t

[2019-12-18 22:45] isuPatches commented on #1843
When it breaks the majority of the market share for a platform and requires an SDK level that only supports the last 2-3 SDK levels, it most certainly is. Are you claiming in <1 week you have a full test suite that would be rendered useless by this reversion? This killed 400+ tests for me.

Just use the version before the revert :P

As mentioned above it's not going away forever, it just needs to

[2019-12-18 23:21] bric3 commented on #1843
When the project is upgraded to the latest version that is based on Java 8 minimum when the Android SDK that is not even Java 8 compatible, the responsibility is not on the library.

That holds true as Mockito is following Java versions, not Android lifecycle. If you can compile with Java 6 it will compile the same if the consuming project uses with Java 8. Android SDK is another story.

Currently

[2019-12-18 23:47] isuPatches commented on #1843
Why penalize Android developers when it could be a separate API and give both parties what they want?

[2019-12-18 23:48] isuPatches commented on #1843
Again, no one is saying "take Duration and Java 8 away permanently" at the detriment of web/java developers...simply, it needs to be implemented in a compatible manner for both.

[2019-12-19 00:01] TimvdLippe commented on #1843
I dont have time to provide a full comment (1AM here), but will provide one tomorrow.

For now: please accept my apology for those who used the new Duration API and were impacted by the revert. This has been an unfortunate change that broke a lot of existing Android users. Given the widespread usage of Mockito in the Android community and thus the large impact of the breaking change by relying on

[2019-12-19 11:02] bric3 commented on #1843
Android developers are not penalized, this is how software versionning is working. Android devs using a more recent version of the ANdroid SDK can use later versions.

You have to ask yourself if ANdroid SDK pre 26 is not Java 8 compatible, why are your project using Java 8 libraries ?

Also, providing a separate API for Android SDK is certainly feasible, given the pace and the direction of the An

[2019-12-19 11:45] ramSilva commented on #1797
Well, turns out the "performance increase" was just android studio being misleading with test execution times. I used JProfiler and saw that both inlining the method call and doing it in the setup method leads to a call to `Mockito.mock()` that takes the same time to execute.

The only difference is where in the stack trace said call is performed, so I'm assuming android studio only starts countin

[2019-12-19 14:51] TimvdLippe commented on #1843
I started writing a postmortem, which you can find at https://github.com/mockito/mockito/wiki/Android-Java-8-%60java.time.Duration%60-postmortem

Since it is almost Christmas vacation, i won't be able to start working on some of the action items. In the new year, I can hopefully work on that.

[2019-12-19 23:25] mjustin commented on #1089
Here's a workaround I'm currently using, adapted to the example this ticket.

* `myClass.publish(String value)` - The method being tested
* `PublisherService.checkForPublish` - The method to wait for completion
* `spy` - The spy of `PublisherService` which is called by the `myClass.publish`

[code]

[2019-12-23 13:42] MFAshby opened #1851 "Unable to verify when spying on kotlin class"
I have a test class with 2 tests (written in java). The tests are trying to verify the behaviour of the subject (written in kotlin) by spying on it.

Expected behaviour:
tests pass because the expected method call is made.

Actual behaviour:
The first test passes, and the second (identical) test receives an UnfinishedVerificationException

Compilable example here:
https://github.com/MFAshby/spying

[2019-12-24 20:56] #522 closed

[2019-12-26 09:53] warrior107 commented on #1606
if anyone is still getting the error in spring-boot project, it could be because spring provides its version of byte-buddy.
adding `<byte-buddy.version>1.9.7</byte-buddy.version>` will tell maven to use the newer version.

[2019-12-26 12:22] bGorle commented on #1606
Getting same exception for Unit test cases.
Mockito - 3.1.0
Powermock - 2.0.4

[2019-12-29 00:16] raphw commented on #1606
Try using the newest version of Byte Buddy explicitly. I recently adjusted the code to work with Android's newer API versions.

[2019-12-30 09:46] AureaMohammadAlavi commented on #1659
Implementing such an extension for junit5 is lazily easy!

[code]

[2019-12-31 03:09] #1846 closed

[2019-12-31 16:27] #1848 closed

[2020-01-02 11:59] bGorle commented on #1606
Tried but no luck

Here is the log

org.mockito.exceptions.base.MockitoException:
Mockito cannot mock this class: class android.content.Context.

Mockito can only mock non-private & non-final classes.
If you're not sure why you're getting this error, please report to the mailing list.

Java               : 1.8
JVM vendor name    : JetBrains s.r.o
JVM vendor version : 25.202-b49-5587405
JVM name

[2020-01-02 16:57] fabianMendez opened #1853 "Allow @MockitoSettings to be inherited"
- [X] The mockito message in the stacktrace have useful information, but it didn't help
 - [X] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [X] Provide versions (mockito / jdk / os / any other relevant information)
 - [X] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2020-01-02 17:00] fabianMendez commented on #1844
Hi, I am using gradle 7.0 with mockito 3.2.4 and JUnit 5.5.2.

Would you mind providing a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) so I may have a look?

[2020-01-02 17:26] TimvdLippe commented on #1853
Feel free to send a PR with a fix. Awesome issue description :)

[2020-01-02 22:43] #1853 closed

[2020-01-03 19:49] mockitoguy commented on #1778
Hey @gilday!

I'm with @TimvdLippe on this one, we'd don't want a new ```stub()``` method in the API. In addition to @TimvdLippe's arguments:
 - stubOnly() is a performance optimization, that is intended to be used rarely, when one creates lots of mocks and the memory footprint is too large. We avoid adding more public API for rarely needed use cases.
 - having a stub() method may reduce code cons

[2020-01-03 19:49] #1778 closed

[2020-01-04 16:00] mockitoguy commented on #1844
Gradle projects that use wrapper should be built using "./gradlew" command instead of "gradle". For example:

[code]

Hope that helps!

[2020-01-04 16:00] #1844 closed

[2020-01-04 16:07] mockitoguy commented on #1763
Hi! How is your suggestion different from the current ArgumentCaptor API (copy-paste from the docs):

[code]

Please reopen if needed! Thank you for reporting.

[2020-01-04 16:07] #1763 closed

[2020-01-04 16:18] mockitoguy commented on #1259
I've read the linked explanation and I don't think this use case is general enough to warrant a new API. Also, it is very easy to create ResultCaptor so no need for additional public API.

Ideally, we shouldn't care about the object created by the factory mock. The factory should have its own unit tests. Here's a general use case when working with factories:

[code]

I hope this explains my take o

[2020-01-04 16:18] #1259 closed

[2020-01-04 16:47] mockitoguy commented on #1784
Yes. For example, this use case would stop working:

[code]

Implementing your suggestion would break the test above. It would require the test to declare an additional stubbing:

[code]

I understand your point, though. It would be conceivable to implement your suggestion. However, we would have another user asking why the use case describe above does not work (and also argumenting that it is not

[2020-01-04 16:47] #1784 closed

[2020-01-07 05:52] nuxzero opened #1855 "javax.tools.ToolProvider could not be found in InlineByteBuddyMockMaker"
Hi guys

I'm encountering a crash when I run `AndroidTest` that contain mocking class cause the ByteBuddy didn't found `javax.tools.ToolProvider`. I tried to reinstall JDK 8 but doesn't work. It seems to be `javax.tools.ToolProvider` not existing in it.

Could you guys help me please?

Cheer,

Natthawut

## Environment
------------------------------------------------------------
Gradle 5.4.1
-----

[2020-01-07 06:08] mockitoguy opened #1856 "Change main branch to "master"?"
How about we change the main dev branch to "master"?

It will be simpler, more ordinary, easier to type git commands :-)

We can keep release/x.y branches as needed for hotfixes but the main development on master is just simpler.

Thoughts?

[2020-01-07 06:14] mockitoguy commented on #1838
Can you double check that this is a valid Mockito issue? The error message "Expecting... to be equal to..." smells like Hamcrest. Mockito does not produce such Strings.

If this is not Mockito issue, please close the ticket. Thanks!

[2020-01-07 06:14] mockitoguy commented on #1838
Actually, I'll close it and if you believe it's Mockito problem, just reopen. Thanks for reporting and for using Mockito!

[2020-01-07 06:14] #1838 closed

[2020-01-07 07:07] mdeinum commented on #1838
I must have been sleeping or in dire need of a holiday, this should have been an AssertJ issue and not a Mockito issue. Sorry for the inconvenience.

[2020-01-07 17:01] mockitoguy commented on #1838
No problem!

[2020-01-07 21:39] TimvdLippe commented on #1856
I am open to it, but how can we keep `release/3.x` nicely up-to-date with Shipkit? E.g. `master` and `release/Y.x` must be equivalent while we are working on Mockito version `Y`. That way we can be certain we can publish new artifacts for older releases when that is necessary.

[2020-01-08 22:51] sanjaypujare commented on #384
Came across this after running into this in my test :
[code]
It is complaining about this (line 584):
[code]
Now my issue is this: this particular method `getPeerHost()` is indeed not called when the code works as expected e.g. something like this:
[code]
`newMethod()` is the new code being added and should correctly return `false`. However if there is a bug in `newMethod()` and it returns `true`

[2020-01-08 22:53] sanjaypujare commented on #384
Do I need to open a new issue as I cannot reopen this?

[2020-01-09 00:13] mockitoguy commented on #384
Yes, please.

Yes. For example, you can use ```lenient().when(...)``` stubbing to avoid reporting an unused stubbing. However, in your test case, I would simply write ```verify(mockObject, never()).getPeerHost();```.

Hope that helps!

[2020-01-10 00:00] mockitoguy commented on #384
My recommendation is to use lenient() + strict stubbing for this use case.

If you feel we should still discuss the use case ``verify(never())`` vs. ``when(...).thenThrow(...)`` then please open a separate ticket.

Hope that helps and thank you for feedback!

[2020-01-10 07:34] Swoot1 commented on #185
As jonfreedman said there's the nullable matcher:

`nullable(String.class)`

[2020-01-13 08:25] julius-d opened #1857 "RedundantListenerException when updating to mockito 3.2.4 with parallel test execution"
Hi!

I am trying to update a codebase to mockito 3.2.4!

After the update some tests fail with
[code]

I was able to find out that the tests do not fail if I change the configuration of the `maven-surefire-plugin` to not run test in parallel.

The codebase uses
maven-surefire-plugin 2.22.1
maven-compiler-plugin 3.8.0
junit 4.12
java 1.8

I created an example project which reproduces the problem
ht

[2020-01-13 15:10] mockitoguy commented on #1856
Hey!

Shipkit can release from any branch (it's configurable) and it releases whatever version is configured in "version.properties". So we are able to publish new artifacts for older (or newer) releases.

How about this:
 - refresh master so that it points to last ref on release/3.x
 - update main dev branch in GH repo settings
 - (optional) remove release/3.x branch
 - we develop incrementally o

[2020-01-13 15:11] mockitoguy commented on #1857
Thank you for reporting!

[2020-01-13 16:23] bric3 commented on #1856
Hi, I'm totally for it.

The branches `release/x.y` can be kept for older / maintainance only versions.

I think Android devs may be interested by that as they still have a confusing and incompatbile versions scheme, they require Java 6 and depending on their toolchain / api level they may have more modern things from Java 8 but not everything.

[2020-01-13 16:57] TimvdLippe commented on #1856
I do want to keep branches around so that we can make emergency patches to older versions. We have had requests in the past were there were (major) issues on Mockito 1 which we were unable to resolve, because we no longer had the build infrastructure available to make updates.

That said, I am okay with changing to `master`, as long as we can have release branches for older releases. E.g. once we

[2020-01-14 00:20] mockitoguy commented on #1857
What version you are migrating from?

[2020-01-14 04:09] mockitoguy commented on #1857
I dug into this issue here's what happens. When Maven Surefire plugin executes the tests with parallel "suitesAndClasses" feature I see an interesting symptom:

- one thread runs "withBefores" of the test (this is where the listener is created): https://github.com/mockito/mockito/blob/release/3.x/src/main/java/org/mockito/internal/runners/DefaultInternalRunner.java#L42
- different thread runs the

[2020-01-14 11:33] julius-d commented on #1857
Hi!

Thank you for taking a look :)
We use Mockito 2.25.1 at the moment, there we do not have the problem.

[2020-01-15 15:48] pip25 commented on #1784
Quite frankly, the above seems like a buggy test to me, or at the very least it is impossible to tell whether the author forgot to mock the second create call or skipped it on purpose.

But maybe that's just me. For the time being, I think I'll be turning off strict stubs, at least until strict mocks are implemented, because the potential test instability I mentioned above seems like more trouble

[2020-01-15 18:24] kppfn opened #1860 "Constructor Injection is not injecting Optional"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2020-01-15 21:06] TimvdLippe commented on #1860
This is working as intended. Constructor injection works on type-equality. That means that it will only inject if it is of type `Optional`. However, we don't recommend mocking `Optional` and instead use `Optional.of(Foo)`.

[2020-01-15 21:06] #1860 closed

[2020-01-15 21:55] kppfn commented on #1860
Where? You mean:
[code]
?

[2020-01-15 22:01] TimvdLippe commented on #1860
You call the constructor yourself with the Optional. You should not mock Optional.

[2020-01-15 22:08] kppfn commented on #1860
So you mean:
[code]
?
This throws NPE, because `foo` is null while `setUp` is being fired...

[2020-01-15 22:10] TimvdLippe commented on #1860
Yes, but you will need to initialize the mocks before that. In any case, please provide a full test case that we can run.

[2020-01-15 22:17] kppfn commented on #1860
This is the full test case: [mockito-poc.zip](https://github.com/mockito/mockito/files/4067765/mockito-poc.zip)

[2020-01-17 16:32] kppfn commented on #1860
@TimvdLippe, were you be able to get rid of NPE?

[2020-01-17 16:42] TimvdLippe commented on #1860
I have not had the time to look into this further, sorry.

[2020-01-17 16:49] kppfn commented on #1860
So how do you know then, that there is no problem with Mockito?

[2020-01-20 07:21] Sailfishc opened #1861 "Javadoc sort error"
Hey, i'm a mockito beginer, i learn mockito example on https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html , i want to try the lastest version of 2.x，on website, i found lastest  version of 2.x is 2.9.0，but the last version is  2.28.2, the sort is not friendly for beginer. i think this is a sort error . thank you.

![3961579502286_ pic_hd](https://user-images.githubuser

[2020-01-20 11:13] bric3 commented on #1861
Hi @Sailfishc,

This has nothing to do with mockito. We do not manage javadoc.io. If you have suggestions you should report them here: https://github.com/maxcellent/javadoc.io

[2020-01-20 11:13] #1861 closed

[2020-01-20 11:20] bric3 commented on #1860
What @TimvdLippe ment is this

[code]

[2020-01-21 04:59] Sailfishc commented on #1861
thanks

[2020-01-23 13:28] ShriprasadM commented on #1797
Can we use mockito 3.2.4 instead (https://search.maven.org/artifact/org.mockito/mockito-core)? Are there any performan ce issues?

[2020-01-23 14:01] georgy opened #1864 "Allow MockitoExtension to be registered automatically"
JUnit 5 supports [automatic extension registration](https://junit.org/junit5/docs/current/user-guide/#extensions-registration-automatic). This requiers a tiny change in junit-juniper module.

[2020-01-25 08:07] blueacorn opened #1866 "inOrder.verifyNoMoreInteractions inconsistent behavior"
The `verifyNoMoreInteractions` method has an expectation that if will flag unexpected (unchecked) interactions on the related mocks.  For Example:

`verifyNoMoreInteractions(mocks)`
- will correctly flag any unexpected (unchecked) interactions

However, when it is used with an `inOrder` constraint, the code does not behave as expected:
[code]
- correctly flags any unexpected (unchecked) interactio

[2020-01-26 13:07] ityreh commented on #1325
I have the same issue and changing the JDK is not an option for me. Any updates?

[2020-01-27 01:17] mockitoguy commented on #1866
inOrder.verifyNoMoreInteractions() is different than Mockito.verifyNoMoreInteractions(). Take a look at the Javadoc. If the Javadoc is not clear, please submit a PR ;-)

[2020-01-27 13:56] aumarbello commented on #922
Any update on this?

[2020-01-28 00:38] raphw commented on #922
Are you trying with recent version of Byte Buddy? This should no longer be an issue.

[2020-01-28 10:03] aumarbello commented on #922
I was using an old(default) test runner, updating to the new test runner fixed it for me.

Thanks.

[2020-01-30 20:47] arocnies commented on #1325
Looks like version 1.9.3's `io.mockk.proxy.jvm.ClassLoadingStrategyChooser` class is doing illegal reflection
[code]

[2020-01-31 12:02] renatosousa-git commented on #1360
I have the same problem.

[2020-01-31 15:06] jmart1 commented on #1522
@bwhiting2356  This works to resolve the issue, but it causes a new issue.  When I use `doReturn().when()` it turns off the `UnnecessaryStubbingException` that we rely on.  Any idea how to overload method stubbing while still being strict?

[2020-01-31 16:27] zorglube commented on #1419
If your project extend `spring-boot-starter-parent` you might just add :
	<properties>
		<mockito.version>2.23.4</mockito.version>
	</properties>

In your Maven file.

[2020-01-31 23:09] omnipitous commented on #1325
Ooo.. we have a culprit.. hopefully this leads to a resolution?
PS to the above mentions about downgrading the JDK to 8.. yeah, no. That's useful debugging info not a solution. Need to be able to dev on modern versions of Java.. Staying on 8 forever is not an option. Only useful out of that is narrowing down the issue was aggravated by some JDK change between 8 and 9.

[2020-02-01 01:50] MonteCreasor opened #1869 "eq() argument matcher for Kotlin suspend function call matches original call but will not match subsequent continuation resume calls"
Version Mockito 3.2.4
JDK 8
Ubuntu 18.04
Test run in Android Studio IDE 3.5.3

Using the eq() argument matcher when calling any Kotlin suspend function will always match the first (original) call, but will fail to match any continuation resume calls made by the Kotlin coroutine framework.

However, if you change the eq() to any() or anyInt() (if your function argument is an Int value), then the ar

[2020-02-01 19:24] TimvdLippe commented on #1864
Closing this per https://github.com/mockito/mockito/pull/1865#issuecomment-581061384

[2020-02-01 19:24] #1864 closed

[2020-02-06 13:43] gleb-kosteiko commented on #1519
Are there any updates here?

[2020-02-06 17:51] OrangeDog commented on #1666
A default answer of `ThrowsException` would be similar to `verifyNoInteractions()`, but failing immediately instead of at the end.

However, I don't see how it can go in the `Answers` enum as it needs a parameter of what to throw.

[2020-02-07 16:42] marcosalis commented on #1606
Are there any updates on this?
I've tried with Mockito `3.2.4`, any possible combination of Byte Buddy versions and excluding it from other testing libraries that use it, no luck.
Still can't run instrumentation tests if I'm using MockK > `1.9` in the same module.

[2020-02-07 17:34] marcosalis commented on #1606
I think I may have found the culprit: the newer Dexmaker version MockK is using.
I've managed to get rid of the issue in my project with the latest version of the two libs by doing this:

[code]

[2020-02-11 16:27] Sloloem commented on #1785
@zugzug90 I actually just tripped on this as well.  The problem is not that Mockito reuses the same object in the test class itself but that when constructing the @InjectMocks object via the constructor the SimpleArgumentResolver is too naive and injects the same mock twice.  See here: https://github.com/mockito/mockito/blob/release/3.x/src/main/java/org/mockito/internal/configuration/injection/Co

[2020-02-12 22:44] GarthsKidStuff commented on #1053
Still happening with version org.mockito:mockito-inline:3.2.0

[2020-02-17 08:51] AndreaAdvanon opened #1871 "@InjectMocks can't inject both @Autowired and constructor dependencies"
Hopefully this is the right repo to submit this issue.

[code]

This test works, but if I add a constructor dependency to `ServiceC`:
[code]

I get:
[code]

kotlin: `1.3.61`
mockito-kotlin: `2.2.0`
spring-boot: `2.2.4.RELEASE`

I started seeing this error when upgrading from spring boot `2.1.8.RELEASE` to `2.2.4.RELEASE`

[2020-02-17 09:32] tomhydra commented on #1325
In my case, changing the dependency from `mockito-all:2.0.2-beta` to `mockito-core:3.2.4` solved the problem

[2020-02-17 12:27] ryandanielspmc opened #1872 "Mock Fails only in Debug Mode in IntelliJ when using mock-maker-inline"
Mockito version: 3.1.0 with `mock-maker-inline` enabled
IntelliJ version: 2019.3

The below stack track only happens when debugging AND using `mock-maker-inline`.

`mock-maker-inline` + Normal Run Mode = Works
No `mock-maker-inline` + Normal Run Mode = Works
`mock-maker-inline` + Debug Mode = **Fails**
No `mock-maker-inline` + Debug Mode = Works

[code]

[2020-02-17 12:54] bric3 commented on #1825
@doraeimo did you tried to set `stubOnly()` ?

[2020-02-17 14:23] pafeu81 commented on #1570
Not sure if this is the right issue, but I would like to add my thoughts on the name `UnnecessaryStubbingException` itself.
While **sometimes** might suggest the solution (remove the expected call in the test) in general, especially in the context of default mode named `STRICT` is simply not correct and misleading.

It's even more misleading if you follow what seems to be a clear instruction how t

[2020-02-18 13:31] norrisjeremy opened #1873 "StrictStubs incorrectly detects PotentialStubbingProblem for Spy's"
Mockito version: 3.2.4

I believe the following code block incorrectly throws `PotentialStubbingProblem` when a stubbed method call on a `Spy` is not issued before a non-stubbed method call.

If on the other hand the stubbed method call on the `Spy` is issued before the non-stubbed method call or if one explicitly adds a matching `doCallRealMethod()` for the `Spy`, then a `PotentialStubbingProblem

[2020-02-18 18:24] ubhide commented on #1066
Just to keep this bug alive, I am definitely having this issue in v1.10.19

My workaround was to not use InjectMocks and create the object manually in the setup. Kinda messy but it gets around this issue.

[2020-02-19 11:29] radistao opened #1874 "LICENSE URL in pom.xml is invalid"
`mockito-core 3.2.4`

in the generated pom.xml published to Maven repository:
https://repo1.maven.org/maven2/org/mockito/mockito-core/3.2.4/mockito-core-3.2.4.pom

the URL to the license is invalid:
https://github.com/mockito/mockito/blob/master/LICENSE
referring to `master` branch, but presently this repo doesn't have master, but `release/3.x` default branch.

Should be easy to fix (however i get

[2020-02-19 15:59] brettkail-wk opened #1875 "thenThrow(Class) no longer creates new instances"
As of #1162, `thenThrow(Class)` no longer creates new instances for each invocation.  We had tests that were reliant on that behavior; for example:
[code]
These tests now fail:
[code]

[2020-02-19 18:36] sidgate commented on #1255
What is the workaround for this issue?

[2020-02-19 22:20] davidkarlsen commented on #1255
@sidgate https://github.com/nhaarman/mockito-kotlin

[2020-02-20 07:07] ChristianSchwarz commented on #1255
@sidgate for a Kotlin project i suggest https://github.com/mockk/mockk

It supports your use case, suspend functions, extensions and even static functions. It comes with a Kotlin API that feels natural.

[2020-02-20 15:26] Drjacky opened #1876 "Invalid package reference in library; not included in Android: java.lang.instrument. Referenced from net.bytebuddy.agent.ByteBuddyAgent."
- [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [X] Provide versions (mockito / jdk / os / any other relevant information)
 - [X] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2020-02-21 20:21] ngueno commented on #1853
Hi @TimvdLippe

I am currently using the **mockito-junit-jupiter v3.2.4** and I can see that `@MockitoSettings` still does not have inheritance support:

[code]
Do you know when, or, if there is any plans to release a new version of mockito-junit-jupiter containing this improvement?

For now I am including the annotation on each test, but it would be great to refactor and keep it on just my Abstra

[2020-02-21 20:27] TimvdLippe commented on #1853
New version should be pushing to Maven Central as we speak: https://github.com/mockito/mockito/commit/0a3064df2cbfcbf3145db54320c704971600ac6d

[2020-02-21 21:18] ngueno commented on #1853
@TimvdLippe That's awesome!

Unfortunately Travis is not very happy:

[code]

[2020-02-21 21:22] TimvdLippe commented on #1853
That's sadly a known issue with Maven Central, but the artifact should be installable for you: https://repo1.maven.org/maven2/org/mockito/mockito-core/3.3.0/

[2020-02-22 21:53] bbonanno commented on #1846
Hey @mockitoguy @andreisilviudragnea, I think this PR has introduced a new bug (or a regression if you like).

The problem arises when using Deep Stubs, as every call in a deep stub counts as used stubbing, but if you end up stubbing that mock for real this change will change the state of the original stubbing and your test will fail with an `UnnecessaryStubbingException`

The following example is

[2020-02-23 17:03] samanthakem commented on #1325
I am with @omnipitous

This issue happens to me when I use @Spy annotation.

[2020-02-23 21:06] pkoenig10 commented on #1846
This also breaks tests that needs to legitimately stub the same invocation multiple times. Particularly with invocations that have to arguments (since all invocations will match a previous stub). See https://github.com/mockito/mockito/commit/ce1632ddd6c55a7e85bec606536aa582a3b3aea1#diff-90b7e8e4bd136ee96421dc2adde3a918R71.

A simple common example is when stubbing a `Clock`:
[code]

[2020-02-23 21:21] bbonanno commented on #1846
@pkoenig10 yes, although that may not be the best example as you could use a chain of `thenReturn()` and have a single stubbing.
That said, for a non-experienced user that may not be obvious at all, so we'd have to weight it.

[2020-02-24 03:12] pkoenig10 commented on #1846
It's not obvious to me how you would work around this if your code calls `clock.instant()` a large or variable number of times. I find the suggested work around to be pretty verbose and unergonomic:
[code]

I think the best and simplest way to improve this behavior is to not unmark the previous stubbing if it has been used. If the stubbing has not previously been used, then I think the current beh

[2020-02-24 09:22] gaurav9822 commented on #1471
@mstachniuk is it still not possible in mockito?

[2020-02-24 10:04] bbonanno commented on #1846
@pkoenig10 I fail to see how that is less verbose than multiple stubbings, but in any case, that's not the point.
I think this change should be reverted until it can be given a deeper thought. do you agree? @mockito/developers ?

[2020-02-26 12:20] nbarithel opened #1877 "Regression: Overriding stubbing"
Hi,

There seems to be a regression in 3.3.0 from 3.2.4 (published on Maven Central).
The documentation states :

But by simply making a copy of a stub by duplicating its line (or more realistically returning a different value in the second stub), an `UnnecessaryStubbingException` is thrown :

[code]

[code]

 - [x] The mockito message in the stacktrace have useful information, but it didn't help

[2020-02-26 21:28] TimvdLippe commented on #1846
Revert in progress: https://github.com/mockito/mockito/pull/1878

[2020-02-26 22:12] #1877 closed

[2020-02-26 23:50] plaird opened #1879 "Could not initialize inline Byte Buddy mock maker. Linux JDK + Bazel + InlineMockMaker"
I don't have a reproducer to offer, and we could not narrow down the exact issue. But we ported a project from Maven -> Bazel build, and found that on some Linux systems (not all) we had test failures with:

- java.lang.IllegalStateException: Could not initialize plugin: interface org.mockito.plugins.MockMaker (alternate: null)
- Caused by: java.lang.IllegalStateException: Failed to load interface

[2020-02-26 23:52] plaird commented on #1879
Mockito team - feel free to close. I just wanted to flag this for other Bazel users, just in case they hit it too.

[2020-02-27 08:28] TimvdLippe commented on #1879
Interesting, the stacktrace does not include the full details. We probably would need some more information as to why it could not initialize the inline mockmaker.

[2020-02-28 08:51] raphw commented on #1879
I assume that Bazle runs tests with some form of class loader isolation. In Java 8, it is not possible to attach to the same VM multiple times if reloading the tools.jar into the VM. This restriction was lifted in Java 9+ if you can update.

Alternatively, add the `byte-buddy-agent.jar` explicitly to your test VM processes as a Java agent. This should also give you a speedup since the dynamic atta

[2020-02-28 09:10] rillig-tk opened #1880 "Unbalanced HTML tags in Javadoc of UnnecessaryStubbingException"
In the [Javadoc of that class](https://javadoc.io/static/org.mockito/mockito-core/3.3.1/org/mockito/exceptions/misusing/UnnecessaryStubbingException.html), the `<code` is not closed properly. Because of this, the following paragraphs are rendered in monospace font as well.

While here, `effect not` should be `effect of not`.

[2020-02-28 09:56] polq commented on #1394
In case the solution specified here didn't solve the problem, try deleting excessive lines that overlap libraries from .iml file (If you use IDEA).

I had following lines:
[code]

Deleting two first lines worked for me.

[2020-02-28 10:08] TimvdLippe commented on #1880
Could you send us a PR to fix this?

[2020-02-28 10:36] rillig-tk commented on #1880
Wouldn't it be easier if you just added the missing `</code>` and `of`? It's just two words.

[2020-02-28 10:39] TimvdLippe commented on #1880
Yeah, if you could open a PR to make that change we can fix it 😄

[2020-02-28 10:40] rillig-tk commented on #1880
Closed due to too complicated workflow.

[2020-02-28 11:27] TimvdLippe commented on #1880
Let's reopen so that someone else can make the PR.

[2020-02-28 22:20] #1880 closed

[2020-03-02 19:55] mstachniuk commented on #1471
Yes, it's still not possible.

[2020-03-03 08:58] iamdaniu opened #1882 "Erroneously failed tests using @InjectMocks with @MockitoExtension"
Using Mockito 2.23.4 on JUnit 5, Jupiter version 5.6.0.

We encountered the following construct which erroneously fails unit tests.

Two separate interfaces:

[code]

and one class implementing both of them.

[code]

Now we have a service that needs both interfaces. It initially only needed one of them, but when we added the other, we injected the actual implementation class rather than the interf

[2020-03-04 15:25] joevalerio opened #1883 "Mocked annotated class extending Map returns null when accessed as Map"
java-1.8.0_91
mockito-2.23.4
jackson-2.6.7

We have an extension of HashMap to allow jackson to serialize/deserialize.  I wrote some generic code to pull a dot path from nested maps, but ran into an issue where the mock object returns null if the mock is passed to a method as a sub-interface.  Here is a unit test that simplifies the issue.  The first two tests pass, but the third does not.

[code]

[2020-03-04 15:27] joevalerio commented on #1883
I should have tried before submitting, but you can remove the Jackson Annotations and it still fails.