[2020-03-05 12:49] hjohn commented on #1522
I think the `strict` and `lenient` thing has not been thought trough.  It's quite common to stub a method twice with different parameter values.  For example when code needs to fetch two (or more) values from a dependency you would stub for those two values.  Now this generates an `UnnecessaryStubbingException`, while it clearly **is** necessary for proper working of the test.

The solution using

[2020-03-06 17:13] sarod opened #1884 "Properties with Mock annotations are initialized after TestRules since Mockito 2.26.0+"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [X] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2020-03-06 17:23] sarod commented on #1884
I tried to use MockitoJUnit.rule() instead of MocktioJunitRunner but I it fails (in both 2.25 and 2.26+)

[2020-03-06 17:43] sarod commented on #1884
For the record I found a workaround using RuleChain

[code]

[2020-03-08 21:19] TimvdLippe commented on #1884
As I understand it, you are implicitly relying on the ordering behavior of the runner and the rule, which is brittle. The Rule documentation states that if you rely on the behavior of multiple rules/runners, you should use RuleChain. Therefore, I think your solution is valid and WAI.

[2020-03-09 09:18] sarod commented on #1884
Agreed. I'll close the issue.

[2020-03-09 09:18] #1884 closed

[2020-03-09 12:02] cazgp commented on #1855
I think this commit is part of the problem: https://github.com/mockito/mockito/pull/1567/files

[2020-03-09 14:33] kluever opened #1885 "Add java.time types to ReturnsEmptyValues"
Just as `String` and `Optional` are special cased, I wonder if we should have defaults for `Duration` and `Instant` (one might even be able to make a case for doing all of the `java.time` as well actually...)

[2020-03-09 21:26] lgiorcelli-peya commented on #1289
Hi. I was having the same problem in a Kotlin project. I fixed updating the mockito-core version to 3.3.0

[2020-03-09 23:29] rmiller3 commented on #1606
Hi all, I have a similar problem.  I have the error around trying to mock an interface that utilizes JDBI 2.  I've tried various combinations of mockito-core around 2.23.* and 2.24.* and manually setting the byte-buddy version.  I currently have 2.23.4 and byte buddy 1.9.11

I'll include the error and some of the dependency tree.  Any ideas?
[code]

Partial Dependency tree (lines with *byte* and *

[2020-03-11 11:08] facboy opened #1886 "Mockito 3.3.1 has not synced to central"
According to this https://bintray.com/mockito/maven/mockito 3.3.1 should have synced to Maven central, but it does not appear there.

[2020-03-11 23:45] TimvdLippe commented on #1886
I will give it another whirl tomorrow to see if it recovers. Else I will contact Maven Central again.

[2020-03-13 13:36] schauder commented on #1886
Just in case nobody noticed: `3.3.1` and `3.3.2` still aren't on Maven Central.

[2020-03-13 14:18] TimvdLippe commented on #1886
3.3.3 was successfully published: https://repo1.maven.org/maven2/org/mockito/mockito-core/3.3.3/

[2020-03-13 14:18] #1886 closed

[2020-03-15 13:27] SuricateMeli commented on #1883
Hello @joevalerio ,
The issue is resolved is you add this code in the setup method:
[code]
Why ? Actually your method get into the JsonMap don't override the get method in the HashMap class because it not the same signature.
The get method in JsonMap class is set(String key) and in HashMap is get(Object key). Not the same method and as the only mehtod mocked is get(String key) you obtain null for

[2020-03-16 22:30] JoseGbel commented on #1606
Thank you very much.

resolutionStrategy {
            force("com.linkedin.dexmaker:dexmaker:2.12.1")
}

[2020-03-17 05:58] ijuma commented on #1843
@TimvdLippe Note that the market share link you used hasn't been updated for nearly 1 year:

"Data collected during a 7-day period ending on May 7, 2019."

[2020-03-17 09:53] biergit opened #1887 "Deprecation doc is wrong"
https://github.com/mockito/mockito/blob/560adf377677a4a2c658a0b24e2f9c2e0b373c20/src/main/java/org/mockito/Mockito.java#L2252 should suggest using `verifyNoMoreInteractions` instead of `verifyNoInteractions` as discussed [here](https://github.com/mockito/mockito/issues/989)

[2020-03-17 18:44] hamid-nazari opened #1888 "Documentation typo"
I found a little typo in Mockito's latest documentation (javadoc on `org.mockito.Mockito`); at the end of the second sentence under [note #31](https://javadoc.io/static/org.mockito/mockito-core/3.3.3/org/mockito/Mockito.html#serilization_across_classloader) it reads

which must be corrected to

[2020-03-17 19:18] dean-burdaky commented on #1875
Hello, I've taken a look at the issue and it is still apparent in commit 560adf377677a4a2c658a0b24e2f9c2e0b373c20. It appears to be that `thenThrow(Class)` instantiates the Throwable when it is called rather than instantiating it upon mock interaction.

### Background
To why this leads to the behaviour described in the issue is that the Throwable is passed to `thenThrow(Throwable)` which instantia

[2020-03-17 22:08] TimvdLippe commented on #1887
Happy to merge a PR for this 😄

[2020-03-17 22:08] TimvdLippe commented on #1888
I will be happy to merge a PR for this 😄

[2020-03-17 22:08] TimvdLippe commented on #1885
Happy to merge a PR for this 😄

[2020-03-17 22:10] TimvdLippe commented on #1879
Closing this per the above comment. Thanks @raphw for the explanation and @plaird for getting this to our attention so that others can be helped when facing the same issue 😄

[2020-03-17 22:10] #1879 closed

[2020-03-17 22:10] TimvdLippe commented on #1876
This is most likely a problem in your local setup. If you are able to provide a self-contained reproduction case, feel free to reopen this issue.

[2020-03-17 22:10] #1876 closed

[2020-03-17 22:16] TimvdLippe commented on #1875
Happy to review a PR for this. We probably need to make a few iterations on the design, but agreed we can fix this issue.

However, if the necessary changes appear to be complicated, I am inclined to close this as working as intended.

[2020-03-17 22:16] TimvdLippe commented on #1874
Duplicate of #1529

[2020-03-17 22:16] #1874 closed

[2020-03-18 00:06] TimvdLippe commented on #1887
Closing per https://github.com/mockito/mockito/pull/1889#issuecomment-600358917 Sorry for the trouble!

[2020-03-18 00:06] #1887 closed

[2020-03-18 08:20] biergit commented on #1887
A quite confusing but reading all the JavaDoc then it makes sense. Sorry for this :)

[2020-03-18 12:26] ttiganik commented on #1855
I tried with mockito 2.22.0, which should be a release before   commit, but the error is still there. https://github.com/mockito/mockito/releases?after=v2.23.0

[2020-03-19 22:37] nbyrd commented on #1325
I am also experiencing this in JDK 13 with mockito-all version 1.10.19

[2020-03-19 23:15] TimvdLippe commented on #1325
`mockito-all` is old. Please upgrade to a newer version of Mockito.

[2020-03-21 14:37] #1875 closed

[2020-03-21 15:28] mikolajczykmarcin commented on #1885
I can code it, I should finish today or tomorrow, my first gh contribution :)

[2020-03-22 22:46] mrwilson opened #1891 "Build is not reproducible"
Repeated subsequent builds of the project create outputs which are not byte-for-byte identical, and so cannot be reproduced locally (see: [Reproducible Builds](https://reproducible-builds.org/))

This is due to:
 * File modification timestamps in JARs.
 * Non-deterministic file ordering in JARs.
 * OSGi bundle embedding timestamps in JAR manifests.

Given the build environment under which a versio

[2020-03-22 22:57] TimvdLippe commented on #1891
Feel free to open a PR and we can take a look 😄

[2020-03-23 17:50] #1888 closed

[2020-03-24 14:00] #1891 closed

[2020-03-24 19:25] mikolajczykmarcin opened #1894 "Checkstyle error on windows"
Hi, I can't build the project on windows. It ends with error:

<details>
$ ./gradlew clean build --parallel

  Building version '2.28.3' (value loaded from 'version.properties' file).

w: Detected multiple Kotlin daemon sessions at build\kotlin\sessions

FAILURE: Build completed with 5 failures.

1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':deprecate

[2020-03-24 19:34] TimvdLippe commented on #1894
Could you paste the full build output? You can wrap it in `<details></details>` here on github to prevent a wall of text.

Also, feel free to open your PR and happy to take a look.

[2020-03-24 20:23] mikolajczykmarcin commented on #1894
PR created - https://github.com/mockito/mockito/pull/1895
please verify on unix

(there are 2 commits because at first I didnt know that v2 is in maintenance only, so I created new branch from release/3.x hence the second commit)

[2020-03-24 20:37] #1894 closed

[2020-03-25 15:33] tommai78101 commented on #1885
Question to @mikolajczykmarcin

Do you also need `OffsetDateTime` and `ZonedDateTime`?

[2020-03-25 18:07] #1885 closed

[2020-03-25 18:58] mikolajczykmarcin commented on #1885
we decided to remove instant/date/time empty values as it was not obvious that EMPTY value means EPOCH. so only Period and Duration has been left for this issue

[2020-03-26 14:42] tommai78101 commented on #1885
Thanks for the info.

[2020-04-01 10:33] StevenJack666 commented on #185
thank you,Swoot. welcome to china

[2020-04-01 10:55] Maragues commented on #1606
You don't need to exclude or declare the dexmaker dependency. The resolutionStrategy part works just fine

[2020-04-01 22:04] strulovich opened #1898 "RETURNS_DEEP_STUBS override a mock's toString to `null`"
This example describes the issue:

[code]

I'm experiencing this on 2.26.0, (looking at [ReturnsDeepStubs](https://github.com/mockito/mockito/blame/release/3.x/src/main/java/org/mockito/internal/stubbing/defaultanswers/ReturnsDeepStubs.java) looks like it hasn't changed much since then).

I think toString should still return the mock's name, right now it returns a `null`.

[2020-04-02 13:42] RadoslavGavrailov opened #1899 "Issue with initializing inline Byte Buddy mock maker on IBM java"
Hey,

we've recently encountered an issue in one of our tests using mocks when executed with IBM java.

Java               : 1.8
JVM vendor name    : IBM Corporation
JVM vendor version : 2.9
JVM name           : IBM J9 VM
JVM version        : 8.0.6.6 - pxz6480sr6fp6-20200303_01(SR6 FP6)
JVM info           : JRE 1.8.0 Linux s390x-64-Bit Compressed References 20200124_438197 (JIT enabled, AOT enable

[2020-04-02 16:53] noel-yap commented on #1346
I'm seeing this same bug when using `SpringExtension.class` along with `MockitoExtension.class`:

[code]

This is using Mockito 3.1.0, JUnit 5.6.0, and Spring Boot 5.3.0.RELEASE.

[2020-04-04 18:34] AlexeiZenin commented on #1089
Another example where it is just a void method:
`CountDownLatch handleDone = new CountDownLatch(1);
    // we want to know when it returns so that we can then see if the container actually stopped
    doAnswer(
            invocation -> {
              invocation.callRealMethod();
              handleDone.countDown();
              return null;
            })
        .when(batchErrorHandler)

[2020-04-04 18:55] AlexeiZenin commented on #1089
Another example where it is just a void method:

CountDownLatch methodDone = new CountDownLatch(1);
// we want to block until it returns
doAnswer(
            invocation -> {
              invocation.callRealMethod();
              methodDone.countDown();
              return null;
            })
        .when(spy)
        .spyMethodYouWantToWaitForExit(any());
methodDone.await(30, TimeUnit.SECOND

[2020-04-04 18:57] AlexeiZenin commented on #1089
Definitely would be useful to have this part of the Mockito library as a _timeoutTillCompletion()_ style method with _verify()_. Please review this again and look at HadarLevi's push above.

[2020-04-07 00:10] ghenzler opened #1900 "Configure mocks for annotation interfaces with default values from annotation"
Mockito.mock() can quite conveniently be used to not only create instances of interfaces, but also to create instances of [annotation interfaces](https://docs.oracle.com/javase/tutorial/java/annotations/declaring.html). Although normally those instances are created by using the annotations in source code (and subsequently using `class.getAnnotations()`, often in framework code) there are some use

[2020-04-07 11:05] TimvdLippe commented on #1900
Intriguing feature request! Could you elaborate on a concrete example of a test where you would use this? I would assume that any annotation you specify is static and therefore should not be changed. E.g. you should use the real annotation instead of a mock. Would like to know more about that.

[2020-04-08 01:23] ghenzler commented on #1900
See https://github.com/apache/felix-dev/blob/f51a4a870364db5909bae8704548d028c0945d8b/healthcheck/core/src/test/java/org/apache/felix/hc/core/impl/monitor/HealthCheckMonitorTest.java#L108 for where I added this functionality manually to a concrete test (this JUnit test was the trigger to start the discussion here).

In general, everybody developing with the OSGi Metatype Service (see https://osgi.

[2020-04-08 15:22] TimvdLippe commented on #1900
I understand the desire to fully test the annotations. However, my understanding of annotations is that they should always be attached to a symbol. E.g. they should be attached to a variable or field.

Therefore, I don't think allowing instances of annotations to live separate from the symbol they should be attached to is desirable. Instead, using the annotation directly on a Mock can help. Mockit

[2020-04-08 16:24] EngJay commented on #1325
I'm also experiencing this when using a spy with JDK 14 and `mockito-core:3.2.4`.

[2020-04-09 09:27] melihaksoy opened #1902 "`clearInlineMocks` not working with `MockitoJUnit.rule()`"
Hi !

I recenlty updated to `2.25.0` to make use of `clearInlineMocks` but I end up with `NotAMockException` when I use it in combination with `MockitoJUnit.rule()`.

Eg

[code]

ends up with

[code]

and tests fail.

If I use `@RunWith(MockitoJUnitRunner::class)` tests pass, but I still get same exception at end of run.

If I remove rule & use `MockitoAnnotations.initMocks(this)` everything works

[2020-04-10 14:21] dean-burdaky commented on #1826
I did a bit more exploratory testing in a similar vein to the tests described by the author and found the problem seemed to be with **final methods with no return type**. I think the mocking system isn't handling this case properly.

I ran the three tests described the author for three different return types.
**Tests:**
- Final method with two hooks.
- Final method with one hook.
- Non-final metho

[2020-04-10 21:41] ghenzler commented on #1900
Fact is: OSGi Metatype Service (see https://osgi.org/specification/osgi.cmpn/7.0.0/service.metatype.html#d0e17824 ) makes use of annotations *without* ever attaching it to a symbol (not in declaration, not in usage). Java as language chose to implement annotations as a special type of interface (while still having all properties of an interface + some extra traits => immutability, default values,

[2020-04-10 21:56] Freddv2 commented on #1753
Inspired from @metalpalo answer, working in mockito 3.3.3:

[code]

[2020-04-10 23:24] mjustin opened #1903 "Verify that a call happened after the completion of a concurrent call"
I have some code that performs some work in sequence, performs an operation in a separate thread, and then performs some more work in sequence once the parallel work is complete.  I would like to be able to verify that the final bit of work happened after the threaded work completed.

[This Stack Overflow post](https://stackoverflow.com/q/61149975/1108305) explains the problem further, though it h

[2020-04-11 00:17] mjustin opened #1904 "Flexible ordering between some calls, strict ordering relative to others"
I have some code that performs some work in sequence, then performs several additional operations, and then performs some more work in sequence.  I want the additional operations to happen in the middle, but I don't care how they are ordered relative to each other.  I wouldn't want parallelizing or refactoring the code to break the test.

[This Stack Overflow post](https://stackoverflow.com/q/6114

[2020-04-11 09:02] eximius313 commented on #1753
The question is: should we add `deepRefEq` to  Mockito, or rather current behavior of `reqEq` is invalid and should be changed?

[2020-04-11 19:03] sysmat opened #1905 "ArgumentMatchers.matches not working"
* Ver. mockito-core:3.3.3
* Java Pattern and java Matcher

[code]

* Mockito matcher not wrking:

[code]

[2020-04-11 22:39] sergchil commented on #1289
Fixed with `testImplementation "org.mockito:mockito-core:3.3.3"`

[2020-04-13 13:19] TimvdLippe commented on #1902
`clearInlineMocks` (and all `Mockito.framework()` APIs) are not intended to be used in regular tests. Instead, they are exposed for those frameworks who want to integrate with Mockito (think of Spring Boot for example). What made you want to choose this API?

Also, it seems like you are using Kotlin. Could it be that the Rule doesn't work correctly when used in combination with Kotlin?

[2020-04-13 13:21] TimvdLippe commented on #1883
Thank you @SuricateMeli for the great answer! Likely if you add `@Override` to your subclass implementation the compiler will explain what is going wrong. Closing per the above comment.

[2020-04-13 13:21] #1883 closed

[2020-04-13 13:33] raphw commented on #1899
We should probably change the message to something like: *Are you running this code on Android? It cannot work there.* since it is just a suggestion what might be wrong.

J9 does not necessarily support dynamic attachment. If you run a minimal *public static void main* with `ByteBuddyAgent.install()`, does it crash, too?

[2020-04-14 08:15] guruprasadkk opened #1909 "Getting scores with elastic response when using sort"
I am using elasticsearch-rest-high-level-client 7.6.2 version to interact with elastic server from my java application.
Now I am planning to use sorting capability in elastic. When I added the sort in the elastic request. I am not getting the scores back in response.
I understood that it is expected behaviour and suggestion is to use
SearchRequestBuilder#setTrackScores(true)

But I am using RestHi

[2020-04-14 08:16] #1160 closed

[2020-04-14 08:17] guruprasadkk commented on #1909
sorry, wrong window

[2020-04-14 08:17] #1909 closed

[2020-04-14 09:10] melihaksoy commented on #1902
From what's new for `2.25.0` & issue [1614](https://github.com/mockito/mockito/issues/1614) it sounds like something we should use to prevent `mockito-inline` from leaking, and we're using it in all modules so far.

`MockitoJUnit.rule()` worked without any problems, we didn't encounter any anything until we added inline mock clearing.

So `clearInlineMocks` is not for `@After` of tests with mockit

[2020-04-14 10:42] geaden commented on #1493
Hi @naivekook! It looks like https://stackoverflow.com/a/33656445 explains it all

[2020-04-14 15:55] TimvdLippe commented on #1902
Could you open a PR with a reproduction test case? Then I can take a look.

[2020-04-15 09:32] NanjanChung opened #1910 "Documentation of ArgumentMatchers any() is confusing"
https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/ArgumentMatchers.html#any--

The doc says that

But in the note, it says that

This is confusing, so the alias in the doc should exclude any(java.lang.Class) to simply be

The doc of anyObject() also has the same confusing issue.

[2020-04-15 10:18] #1910 closed

[2020-04-17 15:03] dean-burdaky commented on #1905
Hello,

I've taken a look at the issue and after doing some digging I found that `matches(Pattern)` uses [`java.util.regex.Matchers.matches()`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/regex/Matcher.html#matches()) in `org.mockito.internal.matchers.Matches.matches(Object)` which requires the entire region to match, not just some sub-region like [`Matchers.find()`](htt

[2020-04-17 20:37] tarashor commented on #1267
@iceberk Could you please explain in more details? Option 2 works for me.
Thank You

[2020-04-17 21:43] EricBuist commented on #1483
Hi,

This doesn't work either. Mockito-core 2.23.4, byte buddy 1.9.16, tried -Dnet.bytebuddy.experimental=true that makes no difference, OpenJDK 11.0.6. The mockito-core version is obtained from Spring Boot parent POM. Tried to use a different version, seems not to work, maybe I need to get rid of the parent POM and declare all the versions of everything manually?

Without Jacoco, it works correct

[2020-04-18 08:25] sysmat commented on #1905
Thx, that explain a lot.

[2020-04-18 14:23] karthikaiselvan commented on #1346
Yes I am also facing this issue. Mine is also exactly the same scenario.
org.junit.jupiter:junit-jupiter-engine:5.6.0
org.springframework.boot:spring-boot-starter:2.2.6.RELEASE
org.springframework.boot:spring-boot-starter-test:2.2.6.RELEASE
org.mockito:mockito-junit-jupiter:3.1.0

[2020-04-18 17:54] karthikaiselvan opened #1912 "Different mocks are used for @Mock and @InjectMock in the same test class with JUnit 5 extension when using `SpringExtension.class` along with `MockitoExtension.class`"
Yes I am also facing this issue. Mine is also exactly the same scenario. Below are my dependencies,
org.junit.jupiter:junit-jupiter-engine:5.6.0
org.springframework.boot:spring-boot-starter:2.2.6.RELEASE
org.springframework.boot:spring-boot-starter-test:2.2.6.RELEASE
org.mockito:mockito-junit-jupiter:3.1.0

_Originally posted by @karthikaiselvan in https://github.com/mockito/mockito/issues/1346#is

[2020-04-18 18:08] TimvdLippe commented on #1855
The inline mockmaker is not supported on Android (as listed in the exception). However, we should probably not crash before we can show that message to the user. I would welcome a PR to fix this problem.

[2020-04-18 21:54] raphw commented on #1483
It should work but maybe Jacoco breaks something. What error message are you getting?

[2020-04-20 08:26] ghenzler commented on #1900
@TimvdLippe  So I think think this PR would improve Mockito to be in line with the annotation implementation the java platform chose. Also because of the `typeToMock.isAnnotation()` check is quick, there is no performance impact to be expected for all other regular Mock usages. WDYT?

[2020-04-20 08:46] melihaksoy commented on #1902
Sorry for late response !

Code piece in question is from a fresh project, just added mockito & rule to `ExampleUnitTest`, nothing else.

[2020-04-20 09:22] surapuramakhil opened #1913 "MockitoJunitRunner ignores javax annotations"
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2020-04-20 10:20] TimvdLippe commented on #1913
Please open GitHub issues for bugs about Mockito, if you can provide a reproduction case. If you have any questions, StackOverflow is the appropriate forum.

[2020-04-20 10:20] #1913 closed

[2020-04-20 15:44] #1905 closed

[2020-04-20 23:26] noel-yap opened #1915 "@ExtendWith(MockitoExtension.class) does not support @Spy constructor injection."
- [ ] The problematic code (if that's possible) is copied here;

    public class ExampleTest {
      private final List listSpy;

      public ExampleTest(@Spy final List listSpy) {
        this.listSpy = listSpy;
      }
    }

 - [ ] Provide versions (mockito / jdk / os / any other relevant information)

mockito-3.3.3
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (Zulu 8.42.0.23-CA-li

[2020-04-22 07:39] rayintuit opened #1916 "Mockito failed to run on Windows 10 with OpenJDK v11"
Here is the error we run into.  Any suggestion to fix the issue would be greatly appreciated:

Caused by: org.mockito.exceptions.base.MockitoInitializationException:
Could not initialize inline Byte Buddy mock maker. (This mock maker is not supported on Android.)
Java               : 11
JVM vendor name    : Amazon.com Inc.
JVM vendor version : 11.0.6+10-LTS
JVM name           : OpenJDK 64-Bit Serv

[2020-04-22 07:40] rayintuit commented on #1916
By the way, Mockito works fine with Mac running OpenJDK v11.

[2020-04-22 19:08] Antoniossss commented on #1493
Ok so long story short, lambda and method ref contains reference to `this` as real object, not spy wrapper.

[2020-04-22 19:09] #1493 closed

[2020-04-22 23:35] EricBuist commented on #1483
Hi,
Thanks for the reply. It ended up working after updating mockito-core to
the latest 2.x version.

Le sam. 18 avr. 2020 à 17:54, Rafael Winterhalter <notifications@github.com>
a écrit :

--
/------------------------------------------------------------------------
/ Eric Buist                <buisteric@gmail.com <me@ericbuist.com>>
/ Ph.D en informatique
/ Ingénieur de recherche en logiciels
/ N

[2020-04-23 08:31] david0 opened #1917 "MockitoExtension cannot handle multiple generic mocks with different parameterized type"
It looks to me as if `MockitoExtension` just checks the base type and does not respect the parameterized type of mocks.

This test will fail:
[code]

It shows on stdout that the same instance is used for both parameters:
[code]

The test then fails with the following error:
[code]

Any chance to add support for this?

I am using the following versions:
[code]

[2020-04-24 04:59] maald opened #1918 "The project/framework lacks user guide documentation for new users"
As a new end user, I cannot find a single user guide or decent documentation. The javadoc reads like it's written as a quick review for someone who already knows the ins/outs of Mockito and just need some sample code. I don't even know what or how Mockito works and the first couple of lines are talking about "mockito inline".

Most open source projects have really great user guides and documentati

[2020-04-24 10:47] TimvdLippe commented on #1918
From our main website mockito.org we link to our documentation: https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html Were you able to find this documentation? If so, could you explain what is complicated for you? If not, do you maybe know how you missed it and what we can do to prevent that from happening?

[2020-04-24 11:43] maald commented on #1918
I'm looking for a little more explanation on how the framework works. I'm sure I can spend my time browsing the source code to figure it out but that's totally unproductive.

Here's a tiny example:

`
 //You can mock concrete classes, not just interfaces
 LinkedList mockedList = mock(LinkedList.class);

 //stubbing
 when(mockedList.get(0)).thenReturn("first");

 //following prints "first"
 System.

[2020-04-24 12:08] TimvdLippe commented on #1918
Users are not supposed to know how Mockito internally works, that is the job of the maintainers (aka us). The stackoverflow question you linked is a decent explanation of it. But then again, you as a user are not supposed to know about everything that is going on behind the scenes to make the test work as you do.

Our user guide is tailored to explain what you need to do to **express your intent**

[2020-04-24 12:34] maald commented on #1918
I agree that end users generally don't need to understand how the framework is implemented. The issue I'm trying to communicate is the following: when you take something as simple as a method call and turn it on a magic, I think it's reasonable to expect so explanation. That way when I debug some code, I know where to look. Will this code work the same? By Java rules, yes it's just a simple method

[2020-04-25 13:37] theapache64 opened #1919 "Kotlin + MockIto + Android Instrumentation Test"
I am trying to run an `Instrumentation` test `(androidTest)` using `Mockito` in Android with `Kotlin`.

- I've the core library in my dependencies. `'org.mockito:mockito-core:3.3.3'`
- My project is written in `Kotlin` so I've `org.mockito:mockito-inline:3.3.3` to fix the final class issue.
- As I want to run the mocks in `Android`, I've `org.mockito:mockito-android:3.3.3` also in my dependencies.

[2020-04-25 14:08] TimvdLippe commented on #1919
You can't use `mockito-inline` on Android. You probably want to use `dexmaker-mockito-inline` instead: https://github.com/linkedin/dexmaker#mocking-final-classes--methods

Note that the exception happens because you include both `mockito-inline` and `mockito-android`. Since these artifact both define their own Mockmaker, Mockito detects a duplication of the two. Therefore, it throws an error sayin

[2020-04-25 14:39] theapache64 commented on #1919
Okay. I've removed `mockito-inline` and replaced it with `dexmaker-mockito-inline`
[code]
Then am getting the same error
[code]

[2020-04-25 14:42] TimvdLippe commented on #1919
You need to solely use `dexmaker-mockito-inline`, so remove `mockito-android`.

[2020-04-25 14:44] theapache64 commented on #1919
Okay.
[code]

Now am getting another error

[code]

[2020-04-26 08:46] maming123450 commented on #1471
but many  say it suppot for V2.0+,it isn't ture?

[2020-04-28 06:02] bohsen commented on #1851
@MFAshby You have to use `open` on your functions too or use mockito-inline.

Also your `cantVerifySpies2`-test doesn't invoke `doThing2()`. Is this intended?

[2020-04-28 06:10] bohsen commented on #1851
This works:

[code]

[code]

[2020-04-28 06:16] bohsen commented on #1851
Maybe change your dependency on `mockito-core` to `mockito-inline`.

Add this to your pom:

[code]

[2020-04-29 15:39] FWinkler79 commented on #1496
Same problem here. This is quite a nuisance. Since this has been open for quite a while already: are there any plans to change that?

[2020-04-29 15:52] TimvdLippe commented on #1496
This should have been fixed in #1539 but was not automatically closed. Are you still able to reproduce this issue on Mockito 3.3.9?

[2020-04-29 17:21] FWinkler79 commented on #1496
Hi! I am using Mockito-Junit-Jupiter 3.3.3, and made sure that it also uses Mockito-Core 3.3.3 underneath, but the problem is still there.
I am a bit puzzled about you mentioning version 3.3.9 - I could not find that on Maven Central.
Is this already released?

[2020-04-29 17:26] TimvdLippe commented on #1496
No 3.3.9 is the latest version that is available on Bintray: https://bintray.com/mockito/maven/mockito-development. But 3.3.3 is recent enough as well.

Please open a PR with a test case added to our test suite that shows the problem and we can take a look. CC @mockitoguy

[2020-04-29 17:32] FWinkler79 commented on #1496
Just noticed version 3.3.9 on bintray is mockito-android.
I am not using the android version, but using it in combination with Spring Boot on desktop machine. Not sure that makes any difference...

[2020-04-29 19:15] FWinkler79 commented on #1496
I have created a very simple project setup that reproduces the issues:
https://github.com/FWinkler79/Mockito-Issues

Contains 5 Tests, out of which 3 are failing.
The thing seems to be a problem when overloading functions / methods and calling them with `null`-parameters.

Would be great if you could have a look at this. Maybe I am doing it wrong?

[2020-04-29 19:39] TimvdLippe commented on #1496
Which ones are failing and which ones aren't? Please annotate the tests if they are failing and on which line.

Reading the tests, I would expect the following:
Test1: should fail, as you are not stubbing the method with Duration, but you are calling that particular method in `TokenProvider`
Test2: should fail, as `any(Duration.class)` matches non-null `Duration`. You are passing `null`, so that d

[2020-04-29 20:17] FWinkler79 commented on #1496
Sorry, my bad,
the concept of Null-Argument matchers was new to me.
I figured out the solution now and described it in the sample above.

So in short in solution is, to use the `ArgumentMatchers.isNull()` method like so:

[code]

[2020-04-30 14:16] Jack-Overflow commented on #1289
I'm still getting this error what am I doing wrong my dependencies are:
[code]

[2020-04-30 19:32] raphw commented on #1289
Also with `java.lang.management.ManagementFactory`? This class is not available on Android and the instrumentation fails for this reason.

[2020-05-03 21:11] grimreaper opened #1924 "discussion: strict mockito inconsistencies"
I started a similar thread on the mailing list but got no replies. I believe some of these issues are actual bugs so filing this ticket so it doesn't get lost.

Background:
There are 4 levels of strictness in mockito:

1. Silent / Lenient - no additional checking is done
2. Warn - this level is like 4, but only shows in the console and does not error
3. Strict - no unused stubs are permitted
4. St

[2020-05-03 21:25] grimreaper commented on #1924
Some examples here: https://gist.github.com/grimreaper/7bff011fb1c8499a50d36fab54afccb7

[2020-05-03 21:38] grimreaper commented on #1654
Ref #1924 which goes into this and some other inconsistencies.

[2020-05-03 21:50] grimreaper commented on #1540
ref #1924 which goes into this and other related issues

[2020-05-04 19:36] rgg1992 commented on #1899
Hello,

I tried executing the attached java class on the problematic machine and it was successful.

MockitoTest.java :
`import net.bytebuddy.agent.ByteBuddyAgent;

public class MockitoTest {

  public static void main(String[] args) {
	System.out.println("Before install");
    ByteBuddyAgent.install();
	System.out.println("After install");
  }

}

`

Output from the execution after compilation :

[2020-05-05 07:45] Velmurugan-Asokan commented on #1383
I also have same issue

[2020-05-05 14:20] apurvpandey commented on #1468
@FranziscaZarrai @bric3 @svkaka Any update on this?

[2020-05-05 17:27] schuettec opened #1925 "@Mock does not work with Maven and Java 13"
Hi, I tried to setup a minimum example project to get Mockito working with JUnit 5, Maven and Java Open JDK 13 but the mock injection `@Mock` does not work.

The test case is simple:
[code]
But I get the following error when I run Maven Surefire for testing:
[code]

My module seems not to be available for Mockito's reflective access.  Since the documentation does not say anything about `--add-open

[2020-05-06 13:04] smitalm commented on #1089
Are there any plans for implementing this feature? This would be really great for testing asynchronous code, and would be even more flexible than using https://github.com/awaitility/awaitility. Proposed workarounds are too verbose and not very reusable.

[2020-05-08 11:39] hicksjduk opened #1929 "Mock fails to intercept a call to a varargs method, but calls the actual implementation instead"
I have a class which contains the following three methods:
[code]
As you might expect, these all support the adding of zero or more objects, which can be specified individually or as part of an array, a collection or a stream. The first two variants create a stream from their arguments, and pass it to the third variant which actually does the adding.

In testing an object that uses this class, I h

[2020-05-08 20:40] TimvdLippe commented on #1916
Which version of Mockito are you using?

[2020-05-09 23:55] isuPatches commented on #1876
I started to find this after upgrading Mockito to 3.3.3.  The previous version of 2.28.2 did not show this lint warning/error.

[code]

[2020-05-10 23:42] adrianhescalante opened #1930 "Kotlin Result seems to behave weirdly when trying to be returned with Mockito"
I am facing an issue when trying to use the Kotlin Result in my project. I am trying to mock the return value as shown here:
[code]
The exception when trying to use that returned Result is this one: `java.lang.ClassCastException: kotlin.Result cannot be cast to ObjectA`

An interesting thing I found when debugging is that if I check the returned value of that `useCase.getA()` function, it returns

[2020-05-11 08:27] hicksjduk commented on #1929
Sorry, my mistake. I failed to spot that the methods in question had been declared as final.

[2020-05-11 08:27] #1929 closed

[2020-05-12 15:56] ST-DDT opened #1932 "Add name parameter to argThat"
Argument matchers that are created with `argThat` using lambdas create an unreadable output, that does not really help:

[code]

[code]

I searched a bit in the internet whether it is possible to somehow get a useful name for lambdas, but that doesn't seem to be possible, So instead I would like to have an `argThat` method with an additional `name` (or `description` or `message`) parameter.

Examp

[2020-05-13 02:21] fdonascimento commented on #716
Hi. I would like to work on this issue. Could anyone please explain how to reproduce this issue?
I was able to reproduce something similar using this:
[code]

And this gives this message:
[code]

Is this situation that you are referring to?

[2020-05-14 08:41] AstralStorm opened #1933 "Mocking JavaFX classes causes illegal reflective access warning"
I'm working on a project using OpenJFX 14, and tried to mock a controller class:
MyFxController mockController = Mockito.mock(MyFxController.class)

Class contains multiple JavaFX controls annotated with @FXML.

The mock results in the warning in the testcase:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.mockito.internal.util.reflection.Ac

[2020-05-14 13:46] msansm1 commented on #1917
I have the found the same issue when upgrading from 2.15 to 3.1

[2020-05-15 06:42] mochadwi commented on #939
any updates for this?

[2020-05-18 05:13] mochadwi commented on #1447
it's nice-to-have feature to mock a `Nothing` type in kotlin.

[2020-05-18 08:09] tyagikumarvineet commented on #325
Hi @bric3 / @harishkaparwan ,

Could you please advise , how it issue was fixed? I am facing the same issue.

Thanks
Vineet

[2020-05-19 13:21] eratio08 commented on #1597
@konradkluz could revive your pr #1598? Seems quite usefull

[2020-05-20 06:02] xinyi9 opened #1935 "InjectMocks have naive approach in choosing the multiple constructors with same size"
Hey Mockito Team,

Apologies if similar problem has been reported somewhere.

In our test, we have
`
@RunWith(MockitoJUnitRunner.Silent.class)
public class TestCachingBarDao {
    @Mock
    BarIdCache mockBarIdCache;
    @Mock
    BarDaoInternal mockDelegateDao;
    @InjectMocks
    private CachingFooDao cachingBarDao;

    //some other Mock...
    @Mock
    Foo foo;

    @Mock
    FooById fooById

[2020-05-20 11:39] Abdelsattar commented on #1636
I have the same problem when using doReturn with when

[2020-05-20 13:21] andreisilviudragnea commented on #1882
The first two tests: `serviceMethodOneTwo()` and `serviceMethodYesNo()` can fail intermittently because of a bug in `SimpleArgumentResolver` from Mockito.

The iteration over the elements of the `objects` set that happens in `objectThatIsAssignableFrom()` method has an unpredictable order, given the fact that the iterated collection is a `HashSet`.

When the tests pass, the first element given by

[2020-05-20 13:41] andreisilviudragnea commented on #1912
The reason why the test fails is that both `MockitoTestExecutionListener` from `spring-boot-test` and the `MockitoExtension` call `MockitoAnnotations.init()` on the test class instance.

Only the first `init()` call sets the value of the field `spaceShip`, with an object that refers the `@Mock`-annotated field `tacticalStation` injected by the first `init()` call.

The second `init()` call does no

[2020-05-22 17:10] blajoie55 commented on #1188
if the hard line is going to be sentiment such as "anyString will no longer match null values", it would be nice to have an alternative API then. e.g. anyNullableString in addition to anyString. I know we can use nullable(String.class), but I personally prefer the "any" terminology, and it's boilerplate/annoying to have to use the or syntax to null check. In short, it was nice, concise, and conven

[2020-05-23 08:39] grimreaper opened #1937 "feature request: provide a config to prevent mocks returned from mocks"
Returning a mock from a mock is a sign of poor test design. In order to guide users into doing the right thing, we should provide a method to allow mockito to throw an exception when this happens. This is similar to how to strictstubs throws an exception for unused stubs. Since this is a different concern from orthogonal config from the existing "strict" level it should be a different knob.

[2020-05-24 23:23] Nathandriel commented on #1053
Seeing the same issue with mockito:2.28

[2020-05-26 16:56] shaharco opened #1939 "Getting Mockito cannot mock this class: interface java.util.Map. with mockito 3.1.0 and java 8"
Hi, i'm using mockito 3.1.0  (and powermock 2.0.5), with java 8 (JVM version  : 1.8.0_251-b08) on windows

When trying to run a test that mock Map i'm getting the above error with this inner stack trace:

`Caused by: java.lang.NullPointerException
	at org.mockito.internal.creation.bytebuddy.SubclassBytecodeGenerator.mockClass(SubclassBytecodeGenerator.java:101)
	at org.mockito.internal.creation.by

[2020-05-28 09:11] davido opened #1941 "Java 14 support"
I'm trying to build Gerrit Code Review, that is currently using this combination:

[code]

with JDK 14 using Bazel and seeing these test breakages:

[code]

Reproducer is here: [1].

Am I right to assume, that upgrading of Mockito/Byte Buddy/ASM might help?

Since 8.0.0 ASM supports JDK 14 (https://asm.ow2.io/versions.html) and since Byte Buddy 1.10.10 (https://github.com/raphw/byte-buddy/releases

[2020-05-29 06:29] davido commented on #1941
I bumped the versions used to in this [CL](https://gerrit-review.googlesource.com/c/gerrit/+/269572) and kicked CI verification.

[code]

[2020-05-29 09:21] TimvdLippe commented on #1941
Do I understand correctly that the latest version of Mockito works with Java 14 as expected?

[2020-05-29 11:31] davido commented on #1941
Yes. it works as expected.

[2020-05-29 11:31] #1941 closed

[2020-05-29 18:12] thandy1212 commented on #1531
@SerialVelocity why does ArgumentCaptor have two type parameters? That allows something like the following doesn't it:
[code]
which isn't semantically accurate. That's saying you're trying to declare an `ArgumentCaptor` that can take anything from an `ArgumentCaptor` that can only take `Integer`s

If you try something similar with Lists it wouldn't compile:
[code]

[2020-05-30 16:32] fdonascimento commented on #716
@bric3 @mockitoguy Hi!

I was trying to solve this issue, but I have some questions about what is the desired behavior.

1 - Should the type be printed only if the argument is null? We have the same situation with other types. Given the following print `method("toString")`, although the toString can give me the clue of what overloaded method was called it could be more clear if the type was shown

[2020-05-31 12:33] #1898 closed

[2020-05-31 16:02] luckyqiao commented on #1939
Can you provide more information about how you use mockito in your code

[2020-05-31 16:35] shaharco commented on #1939
Apparently it was intelij issue - solved by setting the class path as Jar manifest

[2020-05-31 16:35] #1939 closed

[2020-06-01 04:04] joshallenit commented on #1614
Classes can have as many `@After` functions as they want. In my case we had a base class that all classes inherited from.

[2020-06-01 17:19] SerialVelocity commented on #1531
@thandy1212 I'm just stating what already exists in Mockito, not something new.

I assume it was done because you don't really care about what subclass it is implementing. If you pass `ac.capture()` into something that accepts an object, so be it. All you've done is limited the type you get out when checking what value was passed in. e.g. In the current world, you can do:
[code]

It's the same as

[2020-06-02 18:17] IonelLupu commented on #1013
So, any plans on supporting this?

[2020-06-03 13:09] juv opened #1943 "Mockito-inline fails to choose correct method to mock for Kotlin classes with "reified" methods in Java tests"
Hi,

I am running into a Mockito (mockito-inline) problem when mocking a final Kotlin class in Java.
The method that I want to mock: [`fun header(header: String): String? = req.getHeader(header)`](https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/http/Context.kt#L248)
The method that Mockito is choosing in a random way on execution of the test... which is causing an exc

[2020-06-03 13:10] juv commented on #1943
There is some more detailed information in the Javalin project issue, but it looks like this is a problem of Mockito: https://github.com/tipsy/javalin/issues/979

[2020-06-03 17:14] danielgomezrico opened #1944 "mockito-android fails with AndroidStudio 4"
# Env
Using:
- mockito 3.3.3:
    * `androidTestImplementation "org.mockito:mockito-android:$mockito"`
    * `testImplementation "org.mockito:mockito-core:$mockito"`

- Android Studio 4.0
- kotlin 1.3.72.

# Description
Having `androidTestImplementation "org.mockito:mockito-android:$mockito"` in gradle causes the unit test (which is not what androidTestImplementation is intended for) to fail when

[2020-06-03 17:34] gagarwa-ibm commented on #372
There should be some workaround for those who are interested.  I think adding a method that uses a parameterized list would help.

[2020-06-03 17:35] gagarwa commented on #372
There should be some workaround for those who are interested. I think adding a method that uses a parameterized list would help.

[2020-06-03 17:56] danielgomezrico commented on #1944
Setting

[code]

Make it work, for both unit tests and instrumentation tests.

[2020-06-04 21:00] benze commented on #1662
Why wouldn't `test` scope suffice for that?  It would be then available during the test-compile phase.  With this current setup, my problem is that I now have `byte-buddy` packaged into my application during my WAR generation when it has no business being there.

[2020-06-05 11:55] juv commented on #1943
I have run the tests with `-Dnet.bytebuddy.dump=` VM option.
Four files are being created:
[code]
I've zipped them and attached them below. Hope this helps.

[mockito-net.bytebuddy.dump.zip](https://github.com/mockito/mockito/files/4735867/mockito-net.bytebuddy.dump.zip)

[2020-06-05 12:07] joostheijkoop commented on #1325
The issues seems to be still present in `3.3.3`:
[code]

[2020-06-09 07:40] ChristianSchwarz commented on #1013
As @raphw said it is technically possible. I managed to write [a prototype to stub static methods](https://github.com/ChristianSchwarz/mockito-lambda/commit/a0101976f7af5db5effa39269ec69538eb6f2b78), it also allows to stub `static void` methods using a lambda like that:

[code]

Unfortunatly the idea to use lambda as `when`  argument was rejected years ago (#828 ).

Therefore the first step should

[2020-06-11 10:52] fioan89 commented on #1778
Please reconsider this issue. As [this](https://martinfowler.com/articles/mocksArentStubs.html) blog post from Martin Fowler points out, it's very important to make a clear distinction between mocks and stubs. Even though at a first glance the difference between them is not that significant - `stubs are mocks but you  can't verify them` - from a testing theory point of view the difference is signi

[2020-06-11 10:56] fioan89 commented on #1778
As a follow up, can the issue be re-opened and have the discussion flow continue?

[2020-06-12 03:13] jacky1193610322 commented on #1013
The issue exists for about 3 years, So any plan to support it?

[2020-06-12 07:59] ChristianSchwarz commented on #1013
The OP of this issue is the founder of mockito, so the answer is yes. Due to the lack of time non of the core developers can't work on it.
I would like to work on it but I am afraid that a PR won't get reviewed or merged due to the shortage of time of the core mockito developers. An other option would be to fork mockito, but that undertaking is to much effort for me alone since you need to setup t

[2020-06-12 10:12] TimvdLippe commented on #1013
Getting this feature right takes a lot of effort and time, as Rafael pointed out. Moreover, in the current situation with the pandemic, we are finding ourselves with less time on our hands and are dealing with problems not related to programming 😢

There is consensus in the core team that we do want this feature. We have written prototypes and explored this space. Based on these explorations, we h

[2020-06-12 23:08] danielgomezrico commented on #1944
After updating the Android Build Tools to version `30` mockito does not crash anymore.

To be honest I don't understand why that fixed it.

[2020-06-13 00:32] danielgomezrico commented on #1944
Unit test runs but Instrumentation test still fails.

[2020-06-13 14:52] CharlieReitzel commented on #1013
What is the state of Mockito + PowerMock?   Mostly, I use Mockito.  I end up using different versions on different projects.  My recollection is that, with newer versions of Mockito, it _intentionally_ no longer plays nice with PowerMock.   I.e. all that is required is to re-enable an API or two to re-nable PowerMock.  No need to duplicate that feature set.

[2020-06-13 15:32] TimvdLippe commented on #1013
I am not sure where you got that information from, but that is not our intention. If Powermock 2 and Mockito 3 don't work together, that is a bug.

[2020-06-13 16:13] ghsatpute commented on #1013
@CharlieReitzel I personally don't like using PowerMockito since Coverage tools show zero coverage for the classes in which we've used PowerMockito.

[2020-06-13 16:42] CharlieReitzel commented on #1013
@ghsatpute Hi Ganesh, I have heard that complaint in the past.  But have had a problem getting coverage measurements for the class under test while using PowerMock.    I am assuming, of course, you don't apply PowerMock to the class under test.

[2020-06-13 17:25] CharlieReitzel commented on #1013
@TimvdLippe Forgive me if I have lost the specifics.  It's been a couple years.  Last I checked, I could not use any version of PowerMock with any 2.x version of Mockito and the reason was that certain methods that were public in 1.x became private in 2.x.   If that issue has been resolved in the meantime, I would suggest the following:

1. Verify it is, in fact, possible mock static methods using

[2020-06-13 17:29] TimvdLippe commented on #1013
@CharlieReitzel https://mvnrepository.com/artifact/org.powermock/powermock-api-mockito2 should be compatible with Mockito 2/3. For more info see https://github.com/powermock/powermock/wiki/Mockito-2-Maven

This ticket is about supporting static method mocking in Mockito, without having to rely on Powermock. Since we see merit in supporting that use case in Mockito, we will keep this issue open.

[2020-06-15 14:10] adrianriley commented on #1712
The cause of this is that Reporter.argumentsAreDifferent() returns an ArgumentsAreDifferent, a subclass of org.opentest4j.AssertionFailedError and not, crucially, MockitoAssertionError. Hence the exception is not caught in Description.verify and wrapped in a MockitoAssertionError with the description. I think the catch block there should also catch AssertionFailedError and handle that in the same

[2020-06-15 14:11] adrianriley commented on #1712
... or maybe ArgumentsAreDifferent should extend MockitoAssertionError? I'm not sure which.

[2020-06-15 14:27] tasomaniac commented on #1712
It's extending those because of tooling and IDE support, I believe. In IntelliJ IDEA for example, this error is displayed really nice. You can see and compare the differences on the arguments.

[2020-06-15 15:04] adrianriley commented on #1712
The various ArgumentsAreDifferent exceptions come from org.mockito.internal.junit.ExceptionFactory, which deals solely with that condition. The header comment of MockitoAssertionError suggests it should be the base of all verification errors triggered by verify() methods. So maybe some refactoring is required.

I don't know enough to say whether the solution is to handle the exceptions which are a

[2020-06-15 15:20] adrianriley commented on #1712
Here's a test for the issue: https://github.com/adrianriley/mockito/blob/feature/%231712/src/test/java/org/mockito/DescriptionTest.java

[2020-06-16 13:50] adrianriley commented on #1712
Created a PR with a possible solution: https://github.com/mockito/mockito/pull/1949

[2020-06-16 20:37] jaygehlot commented on #1522
Finding exactly the same issue as described above using MockitoExtensions.class

[code]
version 5.3.2 of the above dependencies and

[code]

[2020-06-18 12:09] TimvdLippe commented on #1944
I think the correct scope is `androidTestCompile` instead of `androidTestInstrumentation`: https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#0.1

[2020-06-18 19:50] raphw commented on #1013
I just had a look at the suggestion of @ChristianSchwarz - nicely done! (Could you squash the commits and remove the formatting/import changes?)

I will try to make this my summer project. I know a lot of people want this and I just had too much Byte Buddy maintenance lately to commit to it but I still really want to do it. I have to have a deeper look at Christian's solution and check all edge ca

[2020-06-18 20:17] raphw commented on #1925
So the issue here is that Mockito is trying to set the values of the fields which are in a module and therefore not accessible to the Mockito framework. We could work around using Unsafe by abusing some internal API but generally, this only works if you allow Mockito into your code by opening it.

When using the inline mock maker, we could adjust the module graph programmatically without using int

[2020-06-18 20:20] raphw commented on #1899
In your code, is there another agent active? Those might compete. Otherwise, I have no known issues with OpenJ9 and Byte Buddy.

[2020-06-18 20:28] solarmosaic-kflorence commented on #1134
I would suggest using https://github.com/mockito/mockito-scala

[2020-06-18 20:36] schuettec commented on #1925
I understand the problem. But I'm confused that JUnit is able to do reflective stuff like processing annotations in my test class without the need for `--add-opens`. So some mechanism is there to get a valid reflective access. But might be that some IDE/Build-Plugin does this.

[2020-06-18 20:39] raphw commented on #1925
So, this is a consequence of the forked VM used for testing. If you set `-DforkCount=0` to disable forking, it will not happen on your VM either. It is a question of running on the module or the class path.

[2020-06-18 20:48] danielgomezrico commented on #1944
@TimvdLippe the scope is not defined as `androidTestInstrumentation` but `androidTestImplementation`. `*Compile` is an old way of defining dependencies

[2020-06-18 20:50] danielgomezrico commented on #1944
It turns out that I was not including the dependency after all, so I confirm that after updating the `Android Build Tools 30` it works fine.

[2020-06-19 11:58] raphw commented on #1013
Alright, something bit me yesterday and I built a POC with a slightly different approach. What always bothered me about static mocks was their potential inferrence with parallel test cases and so forth, but all of this is solvable. I put the working prototype on a branch and suggest this API:

https://github.com/mockito/mockito/blob/static-mock/subprojects/inline/src/test/java/org/mockitoinline/St

[2020-06-19 12:49] rgg1992 commented on #1899
I don't think we have another agent running.

Unfortunately we have not been able to resolve this issue so far and we had to disable the tests that use powermock on some of our machines.

[2020-06-19 14:38] youranshul commented on #1053
Facing the same issue with
mockito_core_version        = "2.0.0-RC3"
    mockito_inline_version      = "2.8.9"

[2020-06-19 14:47] TimvdLippe commented on #1053
Your Mockito version is really old. Please update to Mockito 3+

[2020-06-19 15:21] youranshul commented on #1053
updated to 3.3.3 still the same issue

[2020-06-19 15:21] youranshul commented on #1053
updated to 3.3.3 still the same issue

[2020-06-19 15:38] CharlieReitzel commented on #1013
Hi Rafael,  I like the scoping of the mock via Closable interface.   +1.   Also, Java 8 method references make a lot of sense in this context.

Just out of interest, this looks a bit different than Christian's use of lambdas.  Or does it work out the the same thing (w/ the Java compiler handing Mockito a `Function`  to mock, either way)?

[2020-06-19 15:46] TimvdLippe commented on #1013
Thanks @raphw  for that and glad to see some progress on it. I do want to reiterate that you should not take this project on if you do not have the mental/physical capacity to do so. As a fellow maintainer, I would prefer if you stay in the running, rather than overloading you with this project.

Let us know if we can assist you in any matter possible. Very glad to see an elegant solution this pro

[2020-06-19 19:17] ChristianSchwarz commented on #1869
@MonteCreasor better use [MockK](https://mockk.io/) in a Kotlin project.

[2020-06-19 19:58] ChristianSchwarz commented on #1013
@raphw glad you took some inspiration and motivation out of my attempt. I had quick look into  your branch, looks like you are going full steam ahead.

Some questions and toughts:

-  The scope meant to automatically reset the static mock after usage, right?
   - It is safe when used with "try with resource" but people might use it without, its not possible to enforce it.
   - The try with resourc

[2020-06-19 20:20] raphw commented on #1013
Hi Christian,

thanks for your prototype. It helped me to put the last bits of the puzzle on its place. The thing that bothers me the most with static method mocks is the inability to run tests in parallel. It can really add a lot of confusion since not everybody expects it, for example when adjusting a build script. This way, it is fully safe. I think for now, we leave it this way; it would howev

[2020-06-19 20:41] raphw commented on #1899
Not sure about PowerMockito but does it now also attach an agent? Maybe it's also some class path scanning that triggers a form of premature loading.

[2020-06-20 16:54] #1712 closed

[2020-06-22 11:38] Fernal73 commented on #969
I'm using Mockito 2.0.2-beta and no jacoco coverage is counted via the Maven Surefire plugin.

[2020-06-22 20:06] anuragagarwal561994 commented on #1872
Any updates on this, facing the same issue

[2020-06-22 23:39] ryandanielspmc commented on #1872
@anuragagarwal561994 Given the large number of open issues, it seems unlikely that we will see movement on this in the near future. The project maintainers seem fairly overwhelmed.

[2020-06-23 09:38] TimvdLippe commented on #1872
Please provide a reproduction project that we can test out with.

[2020-06-23 10:08] anuragagarwal561994 commented on #1872
So I checked the documentation and may know the reason behind this:

When the debugger is initiated the -javaagent jar used by IntelliJ is different as far my understanding is and that may be leading to this issue.

@TimvdLippe for reproduction if you have inline-mock setup via resources folder you can just try to run your test case in debugger env. in IntelliJ community edition. I am not sure wha

[2020-06-24 11:17] ChristianSchwarz commented on #1013
@raphw I know I am a little late to the party. Is it possible to simplify the API a bit so users are not forced to use the MockStatic instance like this:

[code]

Once the `Verification`-Lambda is executed you know that `Dummy.foo()` was called. Then you can map the `Dummy.class` to the corresponding `MockedStatic` object. This way users don't need to reference the `MockedStatic` object. This also

[2020-06-25 09:06] TimvdLippe commented on #1013
I don't think I would support a lambda-solution or a solution that relies on a return type. If we would return a special interaction method, where you later have to call `close()` yourself, then you can assign this to any variable/field and make it longlived. This opens up a whole can of worms with working with static method mocking.

Therefore, for me, one requirement for static method mocking is

[2020-06-25 11:04] ChristianSchwarz commented on #1013
When you use the lambda you will be safe, the static mock will only life in the scope of the lambda.

[code]
The mock is generated when you call the `scope(..)` method, then the lambda/scope is executed.After that the mock will be closed/reset. There is no way to escape the scope. But this extra method and lamda add complexity, same goes for the overloaded mockStatic method that accepts the scope/

[2020-06-25 14:33] ChristianSchwarz commented on #1943
@juv For kotlin use mockk instead

[2020-06-25 14:34] ChristianSchwarz commented on #1930
@adrianhescalante You can try mockk instead if you use kotlin

[2020-06-25 14:37] adrianhescalante commented on #1930
Yes, I migrated the project to Mockk in the end. Thank you.

[2020-06-25 16:40] mkq commented on #1013
Replacing `Mockito.mockStatic(klass, () -> { … })` with the fluent `Mockito.mockStatic(klass).scope(() -> { … })` may look nice (to others, not necessarily to me :-)), but then the compiler won't complain when the scope is missing.
If you want to force a scope, please make it a parameter of (all overloaded) `mockStatic`.

[2020-06-25 21:08] raphw commented on #1013
The problem with only allowing it in a given lambda scope is that any alternartive life-cyle management approaches are not supported. Having the construct available for example allows for the use in Junit extensions and rules.

The try-with-resources construct can be forgotten but it is also the most flexible option. I suggest we stick to it for the first release.

[2020-06-26 05:39] viktornordling opened #1959 "Stubbing Order and PotentialStubbingProblems"
Mockito version: 3.3.3

Hi,

I'm trying to get clarity on when `PotentialStubbingProblem`s are being reported and when they are not.

If we have the following test:

[code]

Where:

[code]

Then Mockito will _not_ report any `PotentialStubbingProblem`s. However, if we simply swap the order of the two calls in the `myMethodUnderTest` method, like so:

[code]

Then Mockito _will_ report `PotentialSt

[2020-06-28 21:27] jamietanna opened #1960 "Documentation: `@Mock` on method parameters"
While writing [an article about using `@Mock` as a method parameter](https://www.jvt.me/posts/2020/06/27/mockito-mock-parameter/), I noticed that the [JavaDoc for Mockito](https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#mock_annotation) doesn't mention the ability to use `@Mock` as a parameter to a test method.

How would be best to add that as a PR, given it's depe

[2020-06-28 21:35] TimvdLippe commented on #1960
We mention that information in https://javadoc.io/doc/org.mockito/mockito-junit-jupiter/latest/org/mockito/junit/jupiter/MockitoExtension.html as we don't support initiating Mocks on parameters with JUnit4. Therefore, we should add a parameter something like:

[code]

Other than that, please open a PR 😄

[2020-06-28 22:08] jamietanna commented on #1960
Oh I didn't realise that, thanks! I'll amend my article with that knowledge too.

Am I OK to add a PR for both the v2 and v3 documentation, given it works on both versions?

[2020-06-28 22:15] TimvdLippe commented on #1960
We no longer publish v2 updates, so v3 only.

[2020-06-29 01:01] tomkalafut commented on #368
Was this ever finished?  I am still getting it with Mockito 1.10.19 & PM 1.6.5.  When I upgrade to newer versions like 2.8.9/2.07, I get the ever so annoying "Invalid use of argument matchers!" error.
=====
import static org.mockito.Mockito.when
...
//Line 147:
when(someCacheService.getSomeStringList(anyString())).thenReturn(anyList())
=====
org.mockito.exceptions.misusing.InvalidUseOfMatchersExce

[2020-06-29 16:15] #1960 closed

[2020-06-29 16:17] TimvdLippe commented on #368
@tomkalafut Please create a new issue with a reproduction project that shows the issue in isolation. Then we can take a look.

[2020-06-30 15:53] anumalasri opened #1962 "Ambiguous method overloading - Spring RestTemplate"
- [X] The mockito message in the stacktrace have useful information, but it didn't help
 - [X] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [X] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2020-07-01 17:49] aurelien-minvielle commented on #1325
Issue still present in 3.3.3 with any JDK 9+.

It does happen everytime we use a `spy(...)`.
Here's the stacktrace from `--illegal-access=debug`:

[code]

[2020-07-02 12:32] gitrust commented on #1857
I had the same issue with surefire (3.0.0-M5) parallel execution.
However it worked in my case when I configured surefire to run with `<parallel>methods</parallel>`.

[2020-07-02 13:36] aurelien-minvielle commented on #1325
This comes from a call to java.lang.reflect.AccessibleObject#isAccessible, which is deprecated in Java 9+.

The javadoc suggests to use #canAccess instead:

[code]

Unfortunately this method is only available from Java 9, which would make Mockito incompatible with Java 8.
Not sure if there's a workaround to silence the warning *and* keep Mockito Java 8 compatible.

[2020-07-03 02:36] danielgomezrico opened #1963 "Mockito development does not contain versions from 3.3.9 to up"
Bintray deploys show shows that there are 3.3.13 version deployed but it is not in the maven repository

Check https://dl.bintray.com/mockito/maven/org/mockito/mockito-core/

It just includes versions until 3.3.9.

Maybe something went wrong in the deploy process?

[2020-07-03 02:55] danielgomezrico commented on #1944
Nope, it is failing somewhere, Im still facing this issue.
Related to https://github.com/mockito/mockito/issues/1694

[2020-07-03 15:31] TimvdLippe commented on #1963
Duplicate of #1738

[2020-07-03 15:31] #1963 closed

[2020-07-05 19:06] singh039 opened #1964 "how to handle anystring() with null mockito 3.0"
Since we are migrating from 1.10.19 to 3.0, a statement like: when(someClass.someMethod(anyString())).thenReturn("someValue");

Sometimes, anyString() returns null value and this statement was working fine with mockito 1.10.19 but with mockito 3.0, it is giving below error as:-

org.mockito.exceptions.misusing.InvalidUseOfMatchersException: Invalid use of argument matchers! 0 matchers expected, 1

[2020-07-05 20:15] TimvdLippe commented on #1964
The exception you listed should not be affected by the change that `anyString()` no longer matches `null`. Could you please post a small reproduction case that we can analyze as to what is going on?

[2020-07-06 21:20] craigmiller160 commented on #1053
Really wish there was an answer here. Seeing the same problem myself. I made my class into an "open" class and I'm still having the problem where the real method is being called.

[2020-07-07 08:15] tvinke commented on #70
Far overdue, but for what it's worth: I quoted your reaction at the end of my article, under heading "Edit July 2020":
https://tedvinke.wordpress.com/2014/02/13/mockito-why-you-should-not-use-injectmocks-annotation-to-autowire-fields/#edit-july-2020

[2020-07-08 05:12] Danc2050 opened #1965 "Mockito Mock-Inline"
I am sorry to post here, but I have checked every forum, StackOverflow, tutorial, and message board possible and absolutely zero solutions work. At this point, I can't say that this is a problem with me or the other tens of other users who are experiencing this issue.

My desire is "simple": Mock final classes.

I have tried to use inline mocks to support this. The relevant part of my `.gradle` fi

[2020-07-08 08:37] raphw commented on #1965
Did you try to debug with breakpoints? What does the null pointer stem from? Did you try running a current version of Mockito?

[2020-07-08 21:46] Danc2050 commented on #1965
@raphw Thank you for taking my case.

Yes, I set breakpoints in the test file, but none of my breakpoints are hit. The first line for the nullException (`Plugins.java:17`) is a class file and the second line (`StackTraceFilter.java:21`) has no code on it.

Yes, I have modified the line `testCompile "org.mockito:mockito-inline:3.3.3"`, but still receive the same errors.

I have uploaded here a dire

[2020-07-09 20:13] raphw commented on #1965
This seems to be a result of a conflicting class path. I find Mockito twice, once in a rather old version that still uses cglib (Mocktio 1.*) blended with Mockito 3.* (using Byte Buddy). The API has evolved since then and something seems to break upon initialization. You need to clean up your dependencies.

[2020-07-09 20:50] Danc2050 commented on #1965
@raphw Thank you again for helping.

I think the `Mockito 1` version you are seeing is in one of the dependencies I am using: `battlecode-2020.2.0.3.jar`. This holds one of the final classes I am wanting to mock for one of my tests. The path is: `battlecode-2020.2.0.3.jar/org/mockito/...`.

Is then the solution to try and delete the `org/mockito` folder in the jar (and any tests the dependency has

[2020-07-09 21:27] raphw commented on #1965
Yes, ideally, use the newest version and drop the old dependencies.

[2020-07-10 03:16] rcgonzalezf commented on #1053
@craigmiller160 I had the same issue, the problem is the method is final, if you can set the method to `open` the issue will go away. Isn't ideal but is a `workaround` that I used for a class. I think the solution will be that Mockito should complain about the final *method/function* instead of calling the real method.

[2020-07-10 19:31] #1013 closed

[2020-07-11 15:14] D-Mikh opened #1966 "Mockito treat FactoryBean`s wrong"
- mockito-core 3.3.3. (spring-boot-starter-test 2.3.1)
- java version "1.8.0_241"

I faced a trouble not be able to mock mybatis mapper. Mybatis register it's beans as FactoryBean's.  When I started debugging I've noticed that when MockitoPostProcessor determine names of beans to be replaced in case of FactoryBeans mokito only examine OBJECT_TYPE_ATTRIBUTE attribute of bean which is not mandatory

[2020-07-11 15:22] TimvdLippe commented on #1966
Could you explain what you mean with "wrong"? Reading this issue description, it is unclear what the observed and expected behavior is.

[2020-07-11 15:27] D-Mikh commented on #1966
Hi there! Expected behavior is mocked bean in Application Context:)

[2020-07-11 15:28] TimvdLippe commented on #1966
This is likely an issue in spring-boot instead. Please open an issue on their repository, or ask the question on a site like StackOverflow. From this description, this does not appear to be an issue with Mockito.

[2020-07-11 15:28] #1966 closed

[2020-07-11 15:34] D-Mikh commented on #1966
MockitoPostProcessor try to determine whether factoryBean is appopriate by exmine "attributes" property of beanDefenition instead of metadata

[2020-07-11 15:35] D-Mikh commented on #1966
all regular beans mocked just fine

[2020-07-11 15:48] D-Mikh commented on #1966
it`s definitely a Mockito issue:(

[2020-07-12 09:06] olada opened #1967 "Static method mocks incompatible with MockitoExtension (NotAMockException)"
Hello,

I am experimenting with the newly released functionality of mocking static methods.
It appears that static mocks are not compatible with the `MockitoExtension` designed for JUnit 5.
Following error message is produced when using the extension:
[code]
Full Stacktrace: [static-mock-mockito-extension-stacktrace.txt](https://github.com/mockito/mockito/files/4908237/static-mock-mockito-extensio

[2020-07-12 20:46] Danc2050 commented on #1965
@raphw I removed the dependencies and everything works great! Mockito is a really great library that I favor using above others. I would suggest a feature that lets `.jars` mockito version not conflict with the main project's version, but I know very little about this and don't know the complexity or potentiality of implementing an issue. However, I am deeply glad I reached out to you as my case w

[2020-07-12 20:46] #1965 closed

[2020-07-12 20:54] raphw commented on #1967
Thanks for reporting. We already found the error, it slipped us. I think we can have a release ready fairly soon.

[2020-07-12 21:39] raphw commented on #1965
It's hard to detect and really an edge case. We make breaking changes in major releases of which we had 3 so far so it's not really a common problem. Glad you could resolve it!

[2020-07-13 11:17] david0 commented on #1917
I investigated a little on this problem. The decision is done in [ConstructorInjection.java](https://github.com/mockito/mockito/blob/a0dd0b9968f9a6c7b105dea4c296be1c7095f232/src/main/java/org/mockito/internal/configuration/injection/ConstructorInjection.java). It does not have the type information atm, since it was lost due to type erasure. The constructor type information could be easily obtained

[2020-07-13 17:54] sima-zhu opened #1969 "Unable to use the mockito extension mechanism to mock on final classes for Java 13 and above"
check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't help
[code]
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
[code]

[code]

We use the way of putting single file `src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker` to make it work **for Java 11**.

[2020-07-13 19:44] tomkalafut opened #1970 "InvalidUseOfMatchersException for When...Return"
Very frustrated by this.  I have tried several versions of Mockito.  This is with org.mockito:mockito-core:2.15.0.

I have re-created my problem with a simple class like so:

class OrgHierarchyCacheServiceTest {
  public List<String> getAncestors(String orgCode) {
    List<String> ancestors = ["a", "b", "c"]
    return ancestors
  }
}

In my TestClass:
----
import static org.mockito.Mockito.anyStr

[2020-07-13 19:45] tomkalafut commented on #368
Done: https://github.com/mockito/mockito/issues/1970

[2020-07-14 18:59] lucasholt commented on #939
The error message should be improved as it can happen on other platforms as well.  For example, if tests are run in parallel on a linux oracle jdk of java 8.  Newer versions of java allow duplicate loads of the agent.

[2020-07-15 10:38] mickroll opened #1972 "Update dependency to byte buddy version 1.10.13"
https://github.com/mockito/mockito/blob/release/3.x/gradle/dependencies.gradle#L7

1.10.13 is available: https://github.com/raphw/byte-buddy/releases/tag/byte-buddy-1.10.13

[2020-07-15 10:43] TimvdLippe commented on #1972
Feel free to open a PR with the version bump 😄

[2020-07-15 12:52] #1972 closed

[2020-07-15 14:28] glend1 commented on #1855
@TimvdLippe What should people do for android then? Kotlin uses final classes only.

[2020-07-15 14:39] TimvdLippe commented on #1855
@raphw What is our advice for Android? I don't remember what our final resolution was for inline + android for Kotlin.

[2020-07-15 14:59] mickroll commented on #1830
you did none of that. please close this issue.

[2020-07-16 09:37] tonisives commented on #1855
I just started using https://mockk.io/. Its Kotlin friendly also

[2020-07-16 18:26] #1967 closed

[2020-07-16 18:43] raphw commented on #1855
On Android, the inline mock maker won't work (neither will Mockk which uses the same approach as we do). It does not support the instrumentation API alltogether.

I do agree that the error message is misleading. Currently preparing a PR to improve this.

[2020-07-17 09:58] eraonel opened #1976 "Update FAQ for mocking static"
Since 3.4.0 there is support for mocking static.

Form: https://github.com/mockito/mockito/wiki/FAQ

"Can I mock static methods?

No. Mockito prefers object orientation and dependency injection over static, procedural code that is hard to understand & change. If you deal with scary legacy code you can use JMockit or Powermock to mock static methods."

I guess it needs an update :-)

//mike

[2020-07-17 10:35] TimvdLippe commented on #1976
Updated thanks!

[2020-07-17 10:35] #1976 closed

[2020-07-17 11:24] chmielowiec opened #1977 "Broken documentation"
Documentation generated from Javadoc on Mockito class is broken.
Everything after Java annotation example in section 9 https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#9 is not displayed.

The problem is in wrongly used @ sign in example, it should be escaped to html entity.

Bug was introduced in https://github.com/mockito/mockito/pull/1961

[2020-07-17 11:43] #1977 closed

[2020-07-17 12:44] msteinbeck opened #1979 "mockStatic throws StackOverflowError when mocking Arrays."
Hi,

I tried to mock `Arrays.sort` with your new `mockStatic` function:

[code]
but `mockStatic(Arrays.class)` throws:

`Exception: java.lang.StackOverflowError thrown from the UncaughtExceptionHandler in thread "main"`. I know that the documentation says: "We recommend against mocking static methods of classes in the standard library...". Yet, this behaviour is unexpected.

I included Mockito as

[2020-07-17 15:10] jacky1193610322 opened #1980 "mockito3.4.0 InlineByteBuddyMockMaker can't work with spring cglib proxy, but ByteBuddyMockMaker works"
I upgrade mockito to 3.4.0, and the mockMaker is InlineByteBuddyMockMaker, I use SpyBean to spy a spring bean, and then verify the bean, it throws NotAMockException.
![image](https://user-images.githubusercontent.com/16514353/87801421-4492da80-c882-11ea-8ebc-7f1ee4c80f9c.png)

then i debug, find that the mocks.get(mock) can't find it because the mock is CGLIB proxy, not the original type.

when I

[2020-07-17 20:11] sima-zhu commented on #1969
The issue has been opened for a week. Anyone can take a look?

[2020-07-17 21:34] raphw commented on #1979
The test case causes class loading where the class loader relies on `Arrays`.

I expect that we will run on a few common problems with system classes and I think for now we will just add them to a list of forbidden classes that throw an explicit exception.

On the long run, we might just instrument class loading to avoid the application of static (and construction) mocks during class loading. This

[2020-07-17 21:35] raphw commented on #1980
In this case, the mock is not registered correctly. Mockito has no knowledge of Spring and could not do much about this. Have you adressed this issue with Spring? How do you get hold of this proxied instance?

[2020-07-18 16:34] tomkalafut commented on #1970
Did I leave enough info?  Am I the only person having trouble with when().thenReturn()?  Might it be Spring JUnit related?

[2020-07-18 17:45] Pr0methean opened #1981 "PowerMockito 2.0.7 broken when InjectingAnnotationEngine.injectMocks became private"
PowerMockito 2.0.7 defines the class PowerMockitoInjectingAnnotationEngine which extends InjectingAnnotationEngine and calls its injectMocks method. Commit b3fc349e8e525e41f34ff04aca8c3140ff2b335a makes that method private and changes its return type, causing a NoSuchMethodError. A quick fix would be to make the method protected and, once that change is released, recompile PowerMockito against it;

[2020-07-18 17:52] Pr0methean commented on #1981
See also https://github.com/powermock/powermock/issues/1055, in case it's decided to fix this on the PowerMock side.

[2020-07-18 18:42] #1855 closed

[2020-07-18 20:56] stephan-henningsen commented on #1371
In addition to @ZeLarpMaster's answer, the spy variant was useful to me:

[code]

[2020-07-18 21:02] stephan-henningsen commented on #1371
The latter of @ZeLarpMaster 's snippets helped out with the `doAnswer()` variant for spies.   I completely forgot about the Answer interface, but it does the job here as well:

[code]

[2020-07-19 13:58] jacky1193610322 commented on #1980
[code]
this is the code.  I haven't  addressed this issue with Spring, because it works before mockito3.4.0, I don't know whether the mockito need to be compatible with before？

[2020-07-19 22:54] Pr0methean commented on #1981
This is fixed by commit 12ba5936b736a2886220f9ae4a6492558dba4e14, which is in release 3.4.4.

[2020-07-19 22:54] #1981 closed

[2020-07-20 06:19] raphw commented on #1981
I reverted the regression in the merge commit that added some error messages for system classes that should not be mocked statically.

[2020-07-20 12:42] valfirst opened #1985 "README should refer the latest available documentation"
**Actual:**
README contains link `latest documentation`
http://javadoc.io/page/org.mockito/mockito-core/2/org/mockito/Mockito.html
which redirects to
https://javadoc.io/static/org.mockito/mockito-core/2.9.0/org/mockito/Mockito.html
(Note: version is `2.9.0`)

**Expected:**
The link `latest documentation` should point to the latest available documentation
http://javadoc.io/page/org.mockito/mockito-

[2020-07-20 12:44] TimvdLippe commented on #1985
Feel free to open a PR :)

[2020-07-20 13:08] #1985 closed

[2020-07-20 13:49] raphw commented on #1980
I'd say this issue would need to be adressed in Spring. I assume that the `MockBean` does not actually get the bean injected that Mockito issues.

[2020-07-21 06:37] Dmeghana1 commented on #1325
Using OpenJDK11 and facing the same issue with mockito-core 3.2.4

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.mockito.internal.util.reflection.AccessibilityChanger (file:build-cache/caches/modules-2/files-2.1/org.mockito/mockito-core/3.2.4/cb53dbffde7a79e81b0f79e4a3e5e74ed67afcda/mockito-core-3.2.4.jar) to field java.io.File.path
WARNING:

[2020-07-21 19:49] sima-zhu commented on #1969
Ping for response

[2020-07-24 16:49] bbonanno opened #1987 "Removal of getters in InterceptedInvocation breaks Mockito-Scala"
Hi there,

I was upgrading to mockito-core 3.4.x and noticed my build breaks, after looking at the commit history I can see the commit b3fc349e8e525e41f34ff04aca8c3140ff2b335a removed 3 getters from `InterceptedInvocation` that I rely on to work out some of the Scala magic, is there any specific reason why they were removed? if so, is there any alternative way to obtain access to that info? if not

[2020-07-24 20:20] TimvdLippe commented on #1987
It seems like these methods were not part of our interfaces and thus we dont include them in our public API breakage policy. I suppose we could add them, if there are no alternative APIs that you could use. Could you check if you have any alternatives available? If not, we can reconsider promoting them to a public API for mockito-scala. Cc @raphw

[2020-07-25 09:08] Cybermite opened #1988 "MockitoJUnitRunner causes NPE when using @Mock on MockedStatic fields"
check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2020-07-25 11:56] bbonanno commented on #1987
Right now I have my own `MockHandler` that intercepts the invocations, and does some stuff, for it I'm currently matching on the type `InterceptedInvocation` given the fact that `Invocation` doesn't have all the info I need (these methods being a big part of it).
I also have my own implementation of `Invocation`, to construct it I also need all the information available in the core impl.

It would

[2020-07-25 21:28] Cybermite commented on #1988
Just tried the tests with using MockitoRule and it's working as expected as well.

[2020-07-27 22:06] raphw commented on #1987
We can add the getters again, they are not used within Mockito but I'll mark them as deprecated. They are part of the internal API and should not be used by external dependencies.

[2020-07-27 22:57] bbonanno commented on #1987
mockito-scala is part of the mockito ecosystem, we need a solution that lasts in time...

[2020-07-28 08:09] raphw commented on #1987
Fully agree, it's just problematic for us to retain compatibility within our *internal* package. We marked it as such to avoid clashes like this one being reported. Ideally, we find a way to turn such usage into official API.

[2020-07-28 08:12] bbonanno commented on #1987
Yes, that's exactly why I was suggesting adding those methods to the public API (or maybe we can think in having the concept of an "Integration API" for libs that rely a bit more on the internals?)

[2020-07-28 08:20] raphw commented on #1943
So, the problem is that the `Context` class defines two methods named `header` that accept a `String` argument:

[code]

In Java, this would be illegal due to the ambiguity. I assume that the type inference in Java infers `T` of `when` as `Object` which is why this compiles in the first place. It then chooses the version of `header` that returns `Validator` when the reflection API is used to query

[2020-07-28 08:34] raphw commented on #1987
You are right, this does however require exposing several additional interfaces that currently reside in the internal API. Those are `MockReference`, `MockitoMethod` and `RealMethod`.

Could you prepare a PR where you expose a minimal set of API in `Invocation` that you require to make mockito-scala work?

[2020-07-28 09:37] bbonanno commented on #1987
Sure, I'll raise a PR as soon as I can

[2020-07-29 15:22] #1988 closed

[2020-07-31 02:51] kriegfrj commented on #1013
I'm late to this conversation, and I'm glad to see that there is some movement on this. I am firmly in support of the addition of static method mocking to Mockito. It is true that there are workarounds - someone wrote: "Every problem can be solved with a layer of abstraction" - but then there is the corollary that seems to be forgotten: "...except for the problem of too many layers of abstraction.

[2020-07-31 08:08] raphw commented on #1013
Thanks, this is about my train of thought. Additionally, it is sometimes just not feasible to refactor code. Either the code is not yours or you cannot change a legacy code base (immediately). In these cases, it is very convenient to have the possibility to mock static methods, also to give you safety if you are changing code in intermediate steps to finally remove them.

Construction mocks are in

[2020-08-01 04:14] odravison commented on #1053
I'm facing the same issue here.

[2020-08-01 10:58] bbonanno commented on #1987
I just took a look and the problem is that I need to construct my own invocation, so I need access to those raw values.
The good news is that my invocation lives in the same package, so we could make those methods package protected and that should do the trick right? or you don't wanna have any methods that don't exist in a public interface?

`getMockRef` and `getMockitoMethod` are only used so I

[2020-08-02 16:15] raphw commented on #1987
I don't think package equality is a good thing to aim for since the module system requires exclusive packages.

We should aim for a good, official API that remains stable. Worst case, you'd need to copy some of our internal code. All SPI is public so you have a chance to recreate what we already created without relying on our internals. If you'd like to reuse some of it, we can however try to fact

[2020-08-03 05:06] Cybermite commented on #1988
@raphw this issue still exists in 3.4.6. Was the PR supposed to fix all of this or only a part of it? The linked example above still causes NPE. This one: [MockitoJUnitRunnerWithMockedStaticTest](https://github.com/Cybermite/mockito-static-npe-example/blob/bdd30465632b21c36ce7635929e7825c5878ee83/src/test/java/org/mockito/example/MockitoJUnitRunnerWithMockedStaticTest.java)

[2020-08-03 14:03] raphw commented on #1988
I was under the impression that I fixed it but I will take another look if it is not. I refactored your test and added it to the built but maybe I broke it in the process.

[2020-08-03 19:04] raphw commented on #1988
I just ran the test with the latest Mocktio and it works as expected. Are you sure that you are running the right version?

[2020-08-03 21:21] Cybermite commented on #1988
Yep, just doubled checked. It's using 3.4.6. Are you running my test class (without modification) or your refactored version of it? If you modified it, can you send me modified one and I'll double check it.

[2020-08-03 21:28] raphw commented on #1988
Copy pasted it as it is i to the release/3.x branch.

[2020-08-04 01:43] Cybermite commented on #1988
Okay, sorry for the confusion. When I was investigating this issue on July 25, I must have installed into locally and it got shoved into my local .m2 repo as 3.4.6 without the fix. Then when you fixed it and I updated the pom version to point to 3.4.6 it didn't redownload it because it was already in my local repo.

I deleted it from my local .m2 repo and redownloaded it from maven-central. Everyt

[2020-08-04 07:42] raphw commented on #1988
Perfect, Gradle does not work with snapshot versions, happened to me a few times, too.

[2020-08-05 11:46] QumberAbbas opened #1990 "Static Mocking Facing StackOverflowError Exception"
I am facing the following exception when trying to mock the static method

java.lang.StackOverflowError
	at org.mockito.internal.invocation.MatchersBinder.validateMatchers(MatchersBinder.java:34)
	at org.mockito.internal.invocation.MatchersBinder.bindMatchers(MatchersBinder.java:24)
	at org.mockito.internal.handler.MockHandlerImpl.handle(MockHandlerImpl.java:59)
	at org.mockito.internal.handler.Nu

[2020-08-05 13:08] QumberAbbas commented on #1990
I have updated the version to 3.4.6 and I am getting the following exception, with some code snippet

java.lang.StackOverflowError
	at org.mockito.internal.util.concurrent.WeakConcurrentMap$LatentKey.<init>(WeakConcurrentMap.java:229)
	at org.mockito.internal.util.concurrent.WeakConcurrentMap.get(WeakConcurrentMap.java:57)
	at org.mockito.internal.util.concurrent.WeakConcurrentMap$WithInlinedExpun

[2020-08-06 06:30] schrieveslaach commented on #1382
Is there any update on this issue?

It would be very handy to write following with Junit 5:

[code]

Unfortunately, this does not work because `@Captor` is still not applicable to a parameter.

[2020-08-06 07:49] TimvdLippe commented on #1382
Feel free to open a PR to implement this feature.

[2020-08-06 07:52] TimvdLippe commented on #1382
Also please note this prior discussion on this feature which ideally requires some fixes in JUnit5: https://github.com/junit-team/junit5/issues/1604

[2020-08-07 11:17] wilkinsona commented on #1980
I've [taken a look at this from the Spring Boot side of things](https://github.com/spring-projects/spring-boot/issues/22416#issuecomment-670464669). The TL;DR is that Spring's creating a CGLib proxy of the spy that Mockito has created. This proxied spy is passed into `when` and `SubclassByteBuddyMockMaker` correctly identifies that it's a mock while `InlineByteBuddyMockMaker` does not. You can wor

[2020-08-07 14:57] trancexpress opened #1992 "Update to org.objenesis 3.x"
Hi all,

we are slowly updating our product to Java 11; we've managed to move to Java 11 runtime, now we are trying to also compile with Java 11.

We ran into a problem with `org.easymock` (it doesn't work with Java 11 compiled classes, https://github.com/easymock/easymock/issues/218). The problem is resolved in 4.x versions.

Unfortunately, 4.x versions of `org.easymock` run only with `org.objene

[2020-08-07 15:08] TimvdLippe commented on #1992
I would be happy to review a PR that updates our version of Objenesis 😄

[2020-08-07 18:28] ahmadmoawad opened #1995 "Update the ArrayEquals class in matches() and appendArray()"
Hi all,

I came across the `ArrayEquals` class and I found that the `matches()` method uses the following implementation:

[code]

, And the suggested update to be:

[code]

---

For `appendArray()` method has the following implementation:

[code]

, And the suggested update to be:

[code]

[2020-08-07 18:43] trancexpress commented on #1992
I'll check the contribution guide, though I can't promise much. So far Java 11 compile is not top priority in my team.

[2020-08-08 08:59] wborn opened #1997 "MockitoExtension cannot be used with JUnit 5 in OSGi integration tests"
The Mockito junit-jupiter JAR is missing OSGi bundle manifest entries so it cannot be used in OSGi integration tests.

We run some OSGi integration tests (using bnd) that have `@Mock`s so it would be easier if these mocks can be initialized by annotating classes with `@MockitoExtension` instead of using `MockitoAnnotations.openMocks(this)`, see for example this [FirmwareUpdateServiceTest](https://

[2020-08-09 11:35] #1992 closed

[2020-08-10 14:19] buletti opened #1999 "StackOverflowError when mocking java.lang.ref.ReferenceQueue"
Hi,

when I mock `java.lang.ref.ReferenceQueue` Mockito dies with a StackOverflowError.

Here is a simple test case to verify.

[code]

I ran this test with JUnit 4.12 and Mockito 3.4.6.
I use a `src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker` file with `mock-maker-inline`.

Result is
[code]

[2020-08-10 18:07] TimvdLippe commented on #1999
You should not mock a type you dont own, especially those in the Java lang package. We dont guarantee well-behaved mocking if you mock these types, as Mockito itself is built on top of them.

[2020-08-10 18:07] #1999 closed

[2020-08-11 02:16] menshen commented on #1511
this is worked for me , my error message is
`Illegal class file: Class module-info is missing a super type.`

[2020-08-11 14:16] catch441 opened #2000 "Verify method bug with Maps"
Hey,

I think I found a bug with the verify method. It seems that there is some async action behind the method. Here is a sample code with the main problem:

[code]
[code]
[code]
Every time I execute the test I get the following message:

The arguments are not matching, but the map is filled after the method invocation and should be empty at the invocation time.

My Environment:

JDK 1.8
JUnit 5
M

[2020-08-12 07:12] juv commented on #1943
@raphw unfortunately, setting the type explicitly with `Mockito.<String>when(context.header("Authorization")).thenReturn(test1);` did not help. The same exception is thrown:

[code]

[2020-08-12 10:55] Peter-bytes opened #2001 "Verification with timeout on synchronized method fails"
When using Mockito verify with a timeout to wait for an asynchronous method call, it sometimes fails if the method is synchronized.

I have observed the effect with multiple versions of Eclipse, including 2020-06 (4.16.0), and both Mockito 3.1.0 and 3.4.6. The example below illustrates the problem (both the test and the subject under test are in the same class for simplicity).

[code]

Noteworthy

[2020-08-12 20:44] TimvdLippe commented on #2000
Does the issue also happen when you remove the `.put`?

[2020-08-12 20:56] TimvdLippe commented on #1933
Duplicate of #1325

[2020-08-12 20:56] #1933 closed

[2020-08-13 06:12] catch441 commented on #2000
No. After removing the `put`, the test is working.

[2020-08-13 19:45] raphw commented on #1943
I assume we would need to include the return type in the method location processor. In Java, the return type is not part of the unique signature. This is an incompatibility of Mockito with Kotlin, we would probably need a project like *mockito-scala* for Kotlin to address this.

[2020-08-17 02:49] jacky1193610322 commented on #1980
@raphw can you help?

[2020-08-17 03:49] chao2zhang opened #2005 "Kotlin methods with default arguments requires argument matchers on all parameters"
Hello folks, please allow me for a lengthy bug report.

- Suppose we have a function `foo` with default arguments like following:

[code]

- And we would like to test the behavior of function `bar`:

[code]

- So we write our test code like:

[code]

My understanding is that `Mockito.verify(foo).foo(42)` and `Mockito.verify(foo).foo(eq(42))` are equivalent semantically. However, `Mockito.verify(fo

[2020-08-17 13:23] mdeinum commented on #1857
Had the same issue when upgrading to 3.5.0 from 2.25.1. Changing the surefire `<parallel>` to `methods` fixed it. Leaving the default still makes it fail.

[2020-08-18 00:37] DeuceTheCoder opened #2007 "Android instrumentation test packaging fails for mockito-android 3.5.0 with minSdk < 26"
We've upgraded from `mockito-android:3.4.6` to `mockito-android:3.5.0`. I'm attempting to package up my instrumented tests by running the `assembleAndroidTest` gradle task. The task fails with the following errors:
[code]

and with root cause:
[code]

[2020-08-18 13:23] TimvdLippe commented on #2007
Should be fixed with #2006

[2020-08-18 13:45] amotruk opened #2008 "Mockito cannot mock this class AdoptOpenJDK 1.8.0_265-b01"
Hi getting this error on AdoptOpenJDK, with others JDK this mock works fine.

[code]

[2020-08-18 14:20] raphw commented on #2008
Could you run with -Dnet.bytebuddy.dump=/some/folder and attach all files in it?

[2020-08-19 13:23] kozaxinan commented on #2007
We still have issues with 3.5.2. We are unable to update to new version and use `assembleAndroidTest` task.

[code]

[2020-08-19 13:48] TimvdLippe commented on #2007
@kozaxinan Are you certain that you are using 3.5.2 and aren't accidentally using an older version of either Mockito or ByteBuddy? We have had confirmations from other users that 3.5.2 fixed the issue you are seeing, so it would be good to double check that you have the correct version.

[2020-08-19 14:08] francescocervone commented on #2007
@TimvdLippe I confirm the issue still occurs also in our project with the exact same error.
- mockito-core 3.5.2
- mockito-android 3.5.2
- mockito-inline 3.5.2
- objenesis 3.1
- bytebuddy 1.10.13

[2020-08-19 14:19] francescocervone commented on #2007
Looks like the issue was introduced in objenesis 3.x (upgraded by https://github.com/mockito/mockito/pull/1998)
Forcing objenesis to 2.6 makes `assembleAndroidTest` task succeed.

[2020-08-19 14:50] TimvdLippe commented on #2007
Aha, thanks for letting us know. I will create a revert.

[2020-08-20 10:11] premji012 opened #2010 "Not able to change primitive values if i enable opt in mocking of final methods"
Consider a ClassUnderTest.kt

ClassUnderTest(appContainer: AppContainerInterface) {
   val appContainer
   fun functionToTest() {
       if (appContainer.usermanager.isCredentialSaved) {
           //Logic to be tested
       }
   }
}

Class MockAppContainer(): AppContainerInterface {
    override val userManager = Mockito.mock(UserManager::class.java)
}

There is a primitive value called **isCred

[2020-08-20 11:42] jdussouillez opened #2011 "Stackoverflow error when upgrading to v3.5.2"
I tried to upgrade from Mockito v3.4.6 to v3.5.2 and I'm getting a stackoverflow error (same error with v3.5.0) when running some tests (not all of them, just a few ; even in the same class : some tests pass and others don't).

Stacktrace :
[code]

I didn't succeed in reproduce the error in a small project, but I'll spend more time to try and post the sources here when/if I have a reproducible cas

[2020-08-20 12:06] jdussouillez commented on #2011
I just discovered that the error happens when I launch all my unit tests in the Maven module, but it's fine if I run the test or the test class only.

[code]

[2020-08-20 14:31] premji012 commented on #2010
Before using opt-in final method mocking,
I used to set primitive variables of a mock object as
mockObject.variableInt = 2

And i would verify if a that dependency mock is set properly after a test completes by,
assertEquals(expectedInt, mockObject.variableInt)

But if i use the opt-in final methods mocking (using the org.mockito.plugins.mockMaker),
assignment has to be done as,
`when`(mockObject.

[2020-08-20 14:31] #2010 closed

[2020-08-20 14:47] raphw commented on #2011
Thanks for reporting. Can you supply an example test case? It looks like an exception is supposed to be thrown but the constructor mocking intercepts its creation where something causes another exception which is again passed to the handler.

Do you mock exceptions somewhere?

[2020-08-20 17:02] cmuchinsky commented on #2011
Seeing the same thing myself, although I don't have a stable reproduction scenario

[2020-08-20 19:14] fschmager opened #2012 "Constructor not called when using mockito-inline (3.5.x)"
I'm using `mock()` `withSettings().useConstructor(aParam)` which worked with `mockito-inline` `3.4.6` but stopped working with `3.5.0`.

It seems like the parameter is not being passed to the constructor anymore. I've put a breakpoint in the constructor and it doesn't get hit with 3.5.0 but it does get hit with 3.4.6.

Not an issue with `mockito-core` 3.5.0

I suspect a change as part of PR #2004

[2020-08-20 21:31] #2012 closed

[2020-08-20 21:50] raphw commented on #2011
Could you try the latest release to see if the problem still occurs?

[2020-08-21 02:12] moonfruit opened #2014 "Not all 3.5.3 modules are deployed to maven central"
I found that not all 3.5.3 modules are deployed to maven central.
Only mockito-android and mockito-errorprone are deployed to maven central.
Is this intentional?

[2020-08-21 02:13] cmuchinsky commented on #2011
Sorry I was not clear originally, I saw the problem at first on `3.5.0` but still see it with `3.5.2`.

[2020-08-21 05:00] hoisie opened #2015 "Issues mocking Java framework classes in Robolectric with mockito-inline"
Hi Mockito folks,

Currently it is not possible to mock a Java framework class (e.g. java.io.File) in Robolectric when mockito-inline is used. This issue has come up a bunch of times in Robolectric, mostly when Kotlin is used to write Robolectric tests.

https://github.com/robolectric/robolectric/issues/5522
https://github.com/robolectric/robolectric/issues/5638
https://github.com/robolectric/robo

[2020-08-21 06:00] EdGue42 opened #2016 "Mockito gives wrong exception message when calling mock A while verifying mock B"
Please see this example:

[code]

The failing test throws:

Invalid use of argument matchers!
0 matchers expected, 1 recorded:
-> at com.ibm.hwmca.z.svm.zhyp.managed.Mcve.fails(Mcve.java:43)

    //incorrect:
    someMethod(anyObject(), "raw String");
When using matchers, all arguments have to be provided by matchers.
For example:
    //correct:
    someMethod(anyObject(), eq("String by matcher"))

[2020-08-21 07:07] jdussouillez commented on #2011
@raphw

Yes I mock some exceptions in other test classes but the ones who ends with StackoverflowError. I will take some time today or next week to try to reproduce the bug in a small project.

The full stacktrace :
[code]

[2020-08-21 08:31] raphw commented on #2015
Are you moving `org.mockito.internal.creation.bytebuddy.inject.MockMethodDispatcher` to another class loader? Normally, Mockito injects this class into the bootstrap class loader and then initializes this dispatcher with a random identifier. All inline mocks call this class with the very same identifier to communicate with Mockito. The bootstrap loader is used to avoid any issues with class loader

[2020-08-21 08:39] raphw commented on #2015
This is indeed the problem, the loader of `MockMethodDispatcher` if resolved from the mock type is `org.robolectric.internal.AndroidSandbox$SdkSandboxClassLoader`. The dispatcher must always be loaded by the bootstrap class loader. You need to exclude it from your class loader shadowing for it to work with boot classes.

[2020-08-21 08:50] #2015 closed

[2020-08-21 08:50] raphw commented on #2015
Can you try again with the release from just now? I defined the window of intercpting construction as narrowly as possible.

[2020-08-21 16:31] dpcollins-google opened #2019 "mockito-inline fails to initialize nonstatic class members with explicit initialization"
Mockito 3.5.2, java 8.

When using `@Spy` or spy(Abstract.class), nonstatic members with initializers are not initialized.

[This](https://github.com/googleapis/java-pubsublite/blob/30a276bc600662066839c9e8027856673fc2f1d9/google-cloud-pubsublite/src/test/java/com/google/cloud/pubsublite/cloudpubsub/internal/SinglePartitionSubscriberTest.java#L70) test works with mockito-core but fails with mockit

[2020-08-23 22:07] carlspring commented on #1325
I'm seeing the same issue under:
[code]

Error message:
[code]

Any updates on this?

[2020-08-23 22:10] TimvdLippe commented on #1325
I think we fixed this issue in Mockito 3.5.0. Can you upgrade 3.5.5 and confirm it is indeed fixed?

[2020-08-23 22:11] TimvdLippe commented on #1325
Oh and you will probably need the inline mockmaker (e.g. `mockito-inline`), as there is no non-inline version that is compatible with Java modules. (@raphw please correct me if that statement is wrong)

[2020-08-24 02:36] proverbface commented on #1471
In `org.mockito:mockito-inline:3.5.0` you can do

`Mockito.mockStatic(XX::class.java)`

[2020-08-24 04:23] cheister commented on #2011
I'm seeing the same error when trying to go from 3.4.6 to 3.5.0.
[code]
seems to be related to using a @Spy in the test class, when I change the @Spy to an @Mock the error goes away.  What seems odd in my case is everything is ok until there are more than 15 tests in the class.  15 tests will pass and any additional tests will fail.

The message of the first exception is `Unexpected spy for java.u

[2020-08-24 06:16] jdussouillez commented on #2011
@raphw Same issue with v3.5.5.

Stacktrace :
[code]

[2020-08-24 08:34] raphw commented on #2011
@jdussouillez That gets us one step closer but I needed to add an exception for when the error is thrown. Could you build the *constructor-dispatch* locally and see what exception you get?

[2020-08-24 09:32] aurelien-minvielle commented on #1325
I still get a warning with mockito 3.5.5, but the warning has changed.

Running the following test on JDK 14:
[code]

With mockito-core:3.5.5 I get the following output:
[code]

And with mockito-inline:3.5.5 :
[code]

[2020-08-24 09:35] raphw commented on #1325
That's curious. I probably have overlooked something. I'll look into it.

[2020-08-24 09:43] jdussouillez commented on #2011
@raphw I installed v3.5.6 from the *constructor-dispatch* branch : no more errors, all the tests were executed and passed. So I guess commit https://github.com/mockito/mockito/commit/eaa12bfc018ed00fcd35588dc900d657a9740e32 fixes the issue.

Feel free to ask if you want me to do more tests.

[2020-08-24 09:46] raphw commented on #2011
That's strange since the exception indicates a scenario that should not occur. I merely fixed the recursion.

Can you set a breakppint to see why this happens? What instance is created during spy construction?

[2020-08-24 10:32] raphw commented on #1325
Okay, the check for a module's openness does of course not work as expected when unnamed modules are involved. I fixed the check and this should hopefully be fixed in 3.5.6.

[2020-08-24 10:32] #1325 closed

[2020-08-24 12:17] jdussouillez commented on #2011
@raphw I didn't succeed in setting breakpoints but I added some logs (before [this line](https://github.com/mockito/mockito/blob/constructor-dispatch/src/main/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMaker.java#L268)).

Patch :
[code]

Logs (type is always `java.util.AbstractMap`):
[code]

[2020-08-24 14:42] carlspring commented on #1325
Hi, @TimvdLippe ,

I tried it with:

[code]

... But that didn't help. Any further advice? (I'm using JDK11).

[2020-08-24 22:20] raphw commented on #2011
Could you also add a stack trace at the same spot? (`Thread.dump()`)

[2020-08-24 23:55] kriegfrj commented on #1997
Fragments can be a bit of a pain.

@rotty3000 could offer some advice here - he did the OSGi metadata port for the JUnit 5 project itself. They had a similar problem, in that some of the bundles relied on internal packages of other bundles. I think that they ended up exporting the "internal" packages, but flagged them with an attribute to mark them as "internal use only".

[2020-08-25 01:42] kriegfrj commented on #1658
I would like to revisit this issue.

I have come to love soft-asserting libraries. The "traditional" unit-test approach, with a "one assertion per test" rule, works well when you are testing simple code. However, in more complicated, higher-level testing (eg, integration tests), the overhead in re-running exactly the same the code-under-test from scratch each time just so you can run a different a

[2020-08-25 08:04] jdussouillez commented on #2011
1. Logs using [`Thread.dumpStack()`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Thread.html#dumpStack()) **after** `isSuspended.set(true);`

[code]

2. Logs using [`Thread.dumpStack()`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/Thread.html#dumpStack()) **before** `isSuspended.set(true);`

[code]

[2020-08-25 09:37] carlspring commented on #1325
Thanks, `3.5.6` fixes it for us!

[2020-08-25 09:41] raphw commented on #2011
I thought it would be related to class loading.

I am curious however how you end uo with the reflection member accessor. It should be the instrumentation based one. Are you using the latest build?

[2020-08-25 10:05] jdussouillez commented on #2011
I pulled the *constructor-dispatch* branch this morning before giving you the `Thread.dumpStack()` output. I just switched to branch *release/3.x* (3.5.6, next 3.5.7), applied my logs and run my tests again : same results.

[2020-08-25 10:14] raphw commented on #2011
Strange, I'll investigate. Could you make sure that you don't have a stale version? You are using *mockito-inline* or are you configuring the mock maker manually?

[2020-08-25 12:02] jdussouillez commented on #2011
I already checked using `mvn dependency:tree` but it says I'm using 3.5.7 (I'm using the *release/3.x* branch).
I will try to copy my project, use v3.5.2 and remove code step by step until I can reproduce the bug with only a few files so I can provide you a reproducible example.

----

I'm using mockito-core :

[code]

And I do not configure anything manually. I just have the `src/test/resources/m

[2020-08-25 12:09] raphw commented on #2011
That explains it. You can drop the config and just use the inline artifact which defines the nock maker for you. The member accessor is another plugin which requires manual activation using a similar file if you don't use the other artifact.

[2020-08-25 12:53] jdussouillez commented on #2011
I used mockito-inline v3.5.6, all tests passed but 3. The 3 that fails are new ones (not the ones who failed before) and none of them use Mockito (but all of them are on enums, apparently `MyEnum.values()` returns an array with null values inside). But they're executed correctly when running them manually, class by class ([like I did before](https://github.com/mockito/mockito/issues/2011#issuecomm

[2020-08-25 15:55] mradzinski commented on #1606
Thanks @raphw. I managed to isolate the issue. It seems CircleCI updated their JVM version to 11.0.8 without letting anyone know, and that caused several issues including this. Upgrading to Mockito's latest version and then instructing CircleCI to use JVM 8 fixes it.

[2020-08-25 22:32] #2011 closed

[2020-08-26 05:59] jdussouillez commented on #2011
@raphw Thank you for the fix and the time spent on this. It works great !

[2020-08-26 14:08] alejandrorosas commented on #2007
Still getting this error with 3.5.7

[2020-08-26 16:47] johnknelson commented on #1053
Any updates or resolution on this issue that's been pending for three years?

[2020-08-27 05:43] hoisie opened #2025 "java.lang.NoClassDefFoundError in 3.5.0 (but works in 3.4.8)"
Hi Mockito team,

This is a follow-up to https://github.com/mockito/mockito/issues/2015.

After https://github.com/mockito/mockito/issues/2015 was resolved with a combination of https://github.com/mockito/mockito/pull/2017 and https://github.com/robolectric/robolectric/pull/5875, I am seeing a (perhaps related?) error when running Mockito under a Robolectric environment.

There's a [simple test](h

[2020-08-27 06:04] raphw commented on #2025
We updated Objenesis. Could you manually downgrade to 2.6 with the latest Mockito to see if that's the issue?

[2020-08-27 06:05] hoisie commented on #2025
Sure, I'll try downgrading Objenesis real quick.

Another weird thing is that if I comment out the logic in `InlineByteBuddyMockMaker.java` that attempts to use the native mock maker:

[code]

the test starts passing again.

[2020-08-27 06:08] raphw commented on #2025
That is weird since the exception does not occur in that outcommented part but in the lines benetg.

[2020-08-27 06:12] hoisie commented on #2025
Actually nevermind, that test passes in 3.5.8. So something between 3.5.4 and 3.5.8 fixed the issue. SFTN. 3.5.8 works regardless of Objenesis version.

[2020-08-27 06:18] hoisie commented on #2025
Did another inverse bisect and this issue was fixed in 24d8d790c22913a9a92ea70bad721b06a735cd46. That's great! Closing this now.

[2020-08-27 06:18] #2025 closed

[2020-08-27 07:29] andrei-ivanov opened #2026 "NullPointerException in java.lang.reflect.Method.getParameterTypes"
Trying to upgrade Mockito from `3.4.6` (`3.4.8` wasn't published to Maven central) to anything `3.5.x` (`3.5.7` included) and I get some weird NPEs, which don't happen if I run each test on its own:
[code]

Initially I thought it might be caused by the new `MockedStatic` usage, but I've marked those classes with `@Disable` and the exceptions happen anyway and the test classes that are affected wer

[2020-08-27 07:43] dgqypl opened #2027 "how to mock a static method with parameters and void return type?"
public static void method(String param1,String param2){...}

I want to know how to use mockito 3.5.5 to mock the said situation? Can anyone help?

[2020-08-27 10:00] raphw commented on #2027
Use mockStatic and then specify the mock in the returned instance.

[2020-08-27 10:14] dgqypl commented on #2027
can you show me a code snippet?thx

[2020-08-27 10:17] dgqypl commented on #2027
I use below code can work,but not sure it is correct:

MockedStatic aUtilMock = mockStatic(AUtil.class);
aUtilMock.when(()->AUtil.staticMethod(...)).then(invocationOnMock -> null);

[2020-08-27 11:02] raphw commented on #2027
You should use the mock static within a try with resources block.

You can find more info in Mockito's readme.

[2020-08-27 12:22] azizbekian commented on #2007
Here's the stacktrace that I get when using 3.5.7:

[code]

[2020-08-27 15:33] fschmager opened #2028 "Can't mock enum with annotated constructor arg"
When I try to mock enum with annotated constructor I get this error (more detailed stacktrace further down):
[code]

For background, I've been mocking an enum from a third party. Worked nicely. In the latest version of the library they started adding annotations to lots of their fields and constructors (custom `@NotNull` annotation).

I've been able to repro issue in self contained example further

[2020-08-27 20:38] raphw commented on #2028
It's a known JVM bug. Try reading the annotations of the constructor with the reflection API and you'll get the same exception.

The JVM does not account for the synthetic parameter of the constructor, there's an open ticket somewhere.

[2020-08-27 20:42] fschmager commented on #2028
Wow. So this is really not something you can fix. Thanks for looking at it though.

_`*goes and re-writes test by not mocking enum with annotations on constructor*`_

[2020-08-27 20:57] TimvdLippe commented on #2028
I think this is the JVM bug: https://bugs.openjdk.java.net/browse/JDK-8246586 Closing as duplicate.

[2020-08-27 20:57] #2028 closed

[2020-08-28 01:02] pangivan opened #2029 "Mockito issue with "org.checkerframework" library on Java 8"
Dear developer:

Version: 2.24
Java: 1.8.0_265
OS: Windows 10

Hi, I was using Mockito for the project and somehow we need to use java 1.8 instead of 9+, it triggers new issue when we include org.checkerframework (checker) library as part of the project.

Here's the details

In Attacher.class:

line:53 ->
 `Object virtualMachineInstance = virtualMachineType.getMethod("attach", String.class).invoke

[2020-08-28 02:25] dgqypl commented on #2027
try (MockedStatic mocked = mockStatic(Foo.class)) {
 mocked.when(Foo::method).thenReturn("bar");
 assertEquals("bar", Foo.method());
 mocked.verify(Foo::method);
 }

the above is mock static method with string return type? my question is how to mock static with **void return type**, not the **try with resources block** , of course i know that it should in a try with resources block, but that's not

[2020-08-28 06:02] umashankara commented on #1394
Thanks for kamilgregorczyk  & csapty12.

Exclusion of mockito-all and mockito-core worked for me

[2020-08-28 13:57] rafaelromao commented on #193
I was having this error message when doing `thenReturn(any(Something.class))` and solved by doing  `thenReturn(mock(Something.class))`. The weirdest thing is that the original code works when debugging line by line. Maybe an error message that is more clear would help.

[2020-08-30 13:10] kilaka commented on #1471
Thanks.
Would love an example or link to some tutorial.
Many searches result in PowerMock - not Mockito.

[2020-08-30 21:17] earth001 opened #2030 "Documentation about Java 8 / MethodHandle in Android support"
Hi guys!

Regarding this [Twitter thread ](https://twitter.com/rafaelcodes/status/1295298728367206403) with @raphw where Jake Wharton
mentions the requirements to better Java 8 support in Android. I suggest add a specific entry in the documentation about it.

Affected versions: Android with minSdk<26, Mockito v3.5.0

 - [X] The mockito message in the stacktrace have useful information, but it didn

[2020-08-30 21:27] earth001 commented on #2030
I added this PR https://github.com/mockito/mockito/pull/2031 to solve this issue

[2020-08-31 03:25] fqyuan opened #2032 "how to verify static method with void return called?"

[2020-08-31 11:21] TimvdLippe commented on #2027
If I understand the requests correctly, https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/MockedStatic.html is in need of a `doReturn` method, analogous to https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#doReturn-java.lang.Object-

[2020-08-31 23:06] sjaramillo10 commented on #1606
Hey @raphw, I am having the same issue. Can you please let me know how you instruct CircleCI to use JVM 8? I can't seem to find how to do it.

[2020-09-01 02:32] dgqypl commented on #2027
So, how to write?

[2020-09-01 10:41] raphw commented on #1606
I don't use CircleCI but @mradzinski can maybe help you out.

[2020-09-01 11:25] TimvdLippe commented on #2027
You can't write these yet, as it requires an update to Mockito. I would welcome a PR that adds the required API changes to `MockedStatic` to make that work (assuming that we don't require additional bytecode generators)

[2020-09-01 15:00] true-eye opened #2033 "scala mockito error `value thenReturn is not a member of Nothing`"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2020-09-01 15:50] sjaramillo10 commented on #1606
Oh I am sorry @raphw, I tagged the wrong person. I meant to tag @mradzinski. However I updated the `mockito` libraries (we use `mockito-android` and `mockito-kotlin`) to the latest versions and our tests worked fine once again, I didn't have to mess with the CircleCI configuration. Thank you!

[2020-09-02 01:27] dgqypl commented on #2027
Thank you very much!

[2020-09-02 05:41] tobiasKaminsky commented on #2007
I updated all mockito packages to 3.5.9 but unfortunately I do get still the same error as above.

[2020-09-02 20:24] ghackett commented on #1802
This issue just came up as we tried to upgrade from 3.3.3 to either 3.4.6 or 3.5.9. A large chunk of our unit tests became flaky as a result. Holding onto a strong reference of `MockitoAnnotations.openMocks()` does not seem to have any impact. The only thing that seemed to rectify the issue was creating and retaining a `MockitoSession` like via `MockitoJUnit.rule()` (Using the `MockspressoJUnitRun

[2020-09-02 20:33] raphw commented on #1802
Yes, this needs to be addressed. The alternatives right now are unfortunately a leak or premature discarding. I think a leak is the better alternative, though since you can explicitly clear Mockito's mock store.

The updates within 3 should not have an impact but can have one as a result of changed GC cycles.

I will try to solve this one the next time I find some free time to work on Mockito.

[2020-09-03 12:52] #2030 closed

[2020-09-03 22:20] #1802 closed

[2020-09-04 05:51] tobiasKaminsky commented on #2007
This still seems to fail for me:
[code]

I removed
`androidTestImplementation "org.mockito:mockito-core:$mockitoVersion"`
and changed:
[code]

If you want to test it: https://github.com/nextcloud/android/pull/6768

[2020-09-04 14:00] TimvdLippe commented on #2032
Duplicate of #2027

[2020-09-04 14:00] #2032 closed

[2020-09-04 14:00] TimvdLippe commented on #2026
We are going to need a small reproduction case for us to debug this problem.

[2020-09-04 14:01] TimvdLippe commented on #2008
Closing per the above comment.

[2020-09-04 14:01] #2008 closed

[2020-09-04 14:03] TimvdLippe commented on #1995
Please open a PR with code suggestions like these. Then we can verify all regression tests remain passing as well. Thanks!

[2020-09-04 14:03] #1995 closed

[2020-09-04 14:12] TimvdLippe commented on #1964
Closing per above comment.

[2020-09-04 14:12] #1964 closed

[2020-09-04 14:15] TimvdLippe commented on #1990
This should now be fixed. If you are still encountering this exception, please provide a small reproduction case.

[2020-09-04 14:15] #1990 closed

[2020-09-04 14:17] TimvdLippe commented on #1937
I don't think this is something Mockito should implement. Instead, you can use a checker framework such as ErrorProne (http://github.com/google/error-prone) to turn this in a compilation error.

[2020-09-04 14:17] #1937 closed

[2020-09-04 14:20] TimvdLippe commented on #1959
Yes this is working as intended per #1539. It is difficult to choose the correct behavior, but we think the current behavior is the most intuitive for users.

[2020-09-04 14:20] #1959 closed

[2020-09-04 14:36] andrei-ivanov commented on #2026
Not sure how, since each test ran separatelly is fine and I can't tell which one, when all the suite is ran, creates some sort of corruption, since the `@Origin Method invokedMethod` is injected as some broken object.

![image](https://user-images.githubusercontent.com/6377070/92251239-330a9e00-eed5-11ea-9580-aa33abdf6c67.png)

[2020-09-04 14:48] TimvdLippe commented on #2026
Please create a small reproduction case, e.g. a GitHub project that we can run and debug.

[2020-09-04 15:54] Cybermite commented on #2027
I think the method would be doNothing() since doReturn(Object) requires a return type. If you're not partially mocking the class, then you should be able to just do verify calls to validate the arguments. I'm not seeing a reason why you'd need to set that up (using "when") _prior_ to calling the method-under-test, but might just be my lack of understanding.

@dgqypl @fqyuan

Does this work for you

[2020-09-04 16:20] andrei-ivanov commented on #2026
I'll try to do one next week, after I return from vacation, but, in the meantime, I've commented out tests one-by-one, until I discovered what triggers the problem....

One of them has a `Mockito.mock(Method.class)`.
The test itself, ran by itself, works... but if the whole suite is ran, some tests that follow it get the problem described above.

Removing the mocking of the `java.lang.reflect.Meth

[2020-09-04 18:01] andrei-ivanov commented on #2026
I've managed to get a reproducer 🙂
[test.zip](https://github.com/mockito/mockito/files/5176300/test.zip)

[2020-09-06 20:00] theangrydev opened #2035 "AnswersWithDelay does not restore interrupt flag"
This can be a problem if a thread is reused.

The correct implementation should do this at a minimum:

[code]

[2020-09-06 21:20] hazendaz opened #2036 "Please slow down releases to central"
This was an issue with mockito a few years back.  It seems now mockito team is again releasing to central nearly every update.  This is overwhelming projects such as MyBatis that use dependabot with excessive updates.  While we could block patch updates from mockito, it would be preferable that we don't have to.  Can Mockito team go back to bundling releases and releasing on less frequency?  I don

[2020-09-06 21:24] TimvdLippe commented on #2036
We have had several issues with Maven Central, including several issues in the last minor release that warranted multiple patch releases. We don't expect this cadence to continue for future releases.

[2020-09-06 21:25] hazendaz commented on #2036
@TimvdLippe Thank you!  That helps understand what is going on.  Hopefully this ticket will help others seeing this as well.  Appreciate your quick response.

[2020-09-06 22:01] raphw commented on #2036
That sounds like the use of dependabot is the problem, if you ask me. Maybe just run it once a week from a cron?

Mockito has a large user base and introducing a new feature is often uncovering obscure regressions that we try to fix as quickly as possible, otherwise the number of reported issues can quickly overwhelm us. A row of short-paced update releases

[2020-09-06 22:01] #2036 closed

[2020-09-06 22:04] hazendaz commented on #2036
Correct, I have also followed up with them as well.  It's the load in general that I'm being hit with where I end up with somewhere around 60 emails from mybatis repos and my forks along with other projects usage.  This was good enough for me here to understand the release speed.  I just recalled when mockito was changed few years back to more quickly release to central and thought that was becomi

[2020-09-07 04:56] d-saravanan opened #2037 "Getting nullpointer exception when mocking method with BiFunction and Consumer Generic methods in Java 8"
I have below method in my code in a Helper class which is generic so that I can process and return back any type of data using the responseHandler

[code]
The above method is used as below

`return APIClient.doHttpPost(url, EmptyString, null, null);`

During writing my unit test methods, I am using the mock which is setup as below,

[code]

However, the null pointer exception still occurred, hence

[2020-09-07 07:48] asolntsev commented on #2036
I love Mockito and happy to see any new release.

@hazendaz You probably need to setup Dependabot somehow. Or you don't need at all. Or you should refactor dependencies declaration so that Mockito (and other common dependencies) would be declared in one place, not in all 30 modules.

[2020-09-07 10:32] gnarea commented on #2007
This is still happening in 3.5.10:

- https://pastebin.ubuntu.com/p/rKzc6MVhBf/
- https://github.com/relaycorp/relaynet-gateway-android/pull/120

[2020-09-07 10:39] TimvdLippe commented on #2007
@gnarea You are depending on Objenesis 3, which is incompatible with Android <26. Please downgrade to Objenesis 2 and depend on `mockito-android`. For more info, see the context in #2024

[2020-09-07 11:05] francescocervone commented on #2007
@TimvdLippe looks like `mockito-core` still has objenesis 3.1 as a dependency.
[code]

[2020-09-07 11:12] TimvdLippe commented on #2007
@francescocervone That is correct. For non-Android projects, they can use Objenesis 3 just fine.

[2020-09-07 12:28] fqyuan opened #2038 "Gradle run unitTest throws exception, while right click on test execution runs well"
I'm using gradle 3.4.0 with jdk 1.8.232 and android studio 4.0.1
[code]
build.gradle with dependencies below
[code]
Error messages go as follows, any advice is welcome,  thanks in advance.
[code]

[2020-09-07 13:19] francescocervone commented on #2007
@TimvdLippe it's pretty common for Android projects having some pure JVM Gradle modules, not depending on Android. In that case we must depend on `mockito-core` which depends on Objenesis 3. What do you suggest in that case?

Anyway, even if we don't depend directly on `mockito-core`, we get the same error on `mockito-core` (I suppose that's because `mockito-android` depends on `mockito-core`).
[c

[2020-09-07 15:09] TimvdLippe commented on #2007
@francescocervone That last stacktrace is yet another issue that is new to me, as it complains about private interface methods. That seems to be unrelated to Objenesis. The code in question is https://github.com/mockito/mockito/blob/b6ae6cf12b93ef9445e524224375aab1eb76129d/src/main/java/org/mockito/plugins/MemberAccessor.java#L24-L28

I guess older versions of Android do not support default interf

[2020-09-07 15:24] mohsen2986 commented on #1447
After a few hours of minuts, I found the solution. In the domain module layer, make sure that the GetDataUseCase use case extend ObservableUseCase<List<Project>, Nothing?>

Nothing -> Nothing?

[2020-09-07 15:29] francescocervone commented on #2007
No, because this is a compilation error which depends on the minimum supported Android version. Almost every Android project should use Mockito 2 until android 26 will be the minimum sdk supported version for everyone (probably in at least 5 years 😄).

[2020-09-07 16:51] TimvdLippe commented on #2007
@francescocervone What I mean is that you have 2 test suites. 1 testsuite for all tests >= 26 and 1 testsuite for all tests <26. For the testsuite >= 26 you can use Mockito 3 + Objenesis 3, as they support Java 8+. For the testsuite <26 you can use Mockito 2 + Objenesis 2, as they support Java 6+. By splitting up the test suites, you can use modern Mockito for modern Android and older Mockito for

[2020-09-07 17:01] TimvdLippe commented on #2007
Also to reiterate, we have introduced Animal Sniffer to ensure we don't break Android again. We set the target to 24 per https://github.com/mockito/mockito/pull/2006/files#diff-c197962302397baf3a4cc36463dce5eaR104 which seemed the most reasonable cut-off for Java 8 support that Mockito 3 relies on. Therefore, rather than having a cut-off at 26, we would be talking about a cut-off at 24. I am not s

[2020-09-07 17:12] francescocervone commented on #2007
@TimvdLippe you cannot have 2 test suites in the same android project compiling for two android versions. The minimum Android supported version is a property (`minSdkVersion`) defined in the android project's `build.gradle` file through the Android Gradle Plugin.

Maybe [this chart](https://gs.statcounter.com/android-version-market-share/mobile-tablet/worldwide) can be helpful?

[2020-09-07 17:20] TimvdLippe commented on #2007
We could try to update Animal Sniffer to level 21 and see what the effect is. If we can make `mockito-core` compatible with that, without introducing breaking changes for the wider Java ecosystem, then I am open to that. However, when @raphw tried that previously, it turned out that a large portion of `mockito-core` was *already* incompatible. This led us to believe that we would have already brok

[2020-09-07 17:22] TimvdLippe commented on #2007
Reopening this issue, as I think it is clear by now we are going to need support from developers working in the Android ecosystem on figuring out how to resolve these issues.

[2020-09-07 17:26] gnarea commented on #2007
FYI: at least in my case, the workaround suggested above worked: https://github.com/relaycorp/relaynet-gateway-android/pull/120. But that project doesn't have JVM modules (they're all external deps). We're also supporting API 21+.

[2020-09-08 07:17] francescocervone commented on #2007
@TimvdLippe

I will.

[2020-09-08 07:20] raphw commented on #2007
If I remember correctly, types like predicate and function are not available which are part of our public API. This can be fixed but requires breaking public API.

[2020-09-08 07:29] azizbekian commented on #2007
@gnarea , that didn't work for my setup, minSdk = 21:

[code]

[2020-09-08 12:48] TimvdLippe commented on #2007
@raphw If I remember correctly, we are already shipping `Optional` and `Function` in our public API prior to 3.5.0. Since Android tests were passing with 3.4.0, I don't think including these symbols in our public API is problematic. Therefore, I don't think we should be changing these types in our API. (This is also what confuses me the most, as to why some parts work and why other parts don't wor

[2020-09-08 13:21] ahmadmuhsink opened #2039 "Failed to mock after upgrading Mockito to version v3.4.x or higher"
Upgrading Mockito to version v3.4.x or higher break the test.

[code]

I mock a Stripe SDK class (https://github.com/stripe/stripe-android) in my test.
On Mockito v3.4.x or higher the mock is failed.

[code]

with trace

[code]

I am interested to know what changes from 3.3.x to 3.4.x that causing this

Edit: Added bytebuddy dump from `-Dnet.bytebuddy.dump` command
dump: [bytebuddy.zip](https://gi

[2020-09-08 15:09] henri-tremblay commented on #2007
I'm not an Android expert. `DefineClassHelper` is only used by specific instantiators that are not used in Android. So ideally this class can be excluded from the compilation by Dex it should solve the problem.

[2020-09-08 20:07] francescocervone commented on #2007
@TimvdLippe I played a little bit with mockito and the issue I mentioned [in this comment](https://github.com/mockito/mockito/issues/2007#issuecomment-688321579) is solved by adding in the android project's build.gradle:
[code]
Android Gradle Plugin 3.0 and higher [supports default interface methods](https://developer.android.com/studio/releases/gradle-plugin#j8-library-desugaring).

---

The obje

[2020-09-08 20:14] raphw commented on #2039
Could you run with - Dnet.bytebuddy.dump=/some/folder and add the dumped class files to this ticket?

[2020-09-08 20:16] TimvdLippe commented on #2007
@francescocervone Thanks for the investigation. With regards to your first solution, can we automatically apply that to `mockito-android` or do users of that artifact need to specify it in their `build.gradle`? For the latter, if you solely depend on `mockito-android` you should be good to go. If that is inconvenient, maybe it can be solved in Objenesis 3 instead (not sure if that is possible).

[2020-09-08 21:08] francescocervone commented on #2007
@TimvdLippe

Users need to specify it in their `build.gradle`.

---

True, but I think this "solution" is pretty weak. For example, if the project declares [`mockito-kotlin`](https://github.com/nhaarman/mockito-kotlin) dependency, objenesis must be excluded since `mockito-kotlin` depends on `mockito-core`. In general, if the android project depends on some module/project/library depending on `mock

[2020-09-08 22:37] henri-tremblay commented on #2007
Again, I'm not sure but can't you just exclude `DefineClassHelper`? That will solve the problem and no need to remove Objenesis. I don't think I can solve it from the Objenesis side. If I can please tell me why? Deploy an objenesis-android excluding these classes will just make everything really messy.

[2020-09-09 06:17] francescocervone commented on #2007
@henri-tremblay is there a way to exclude a class from the compilation of a library? How can we exclude `DefineClassHelper`?
Even if we were able to exclude that class, this solution doesn't scale: Objenesis is built with Java 8 and it's likely to introduce similar issues in future. This circle will end when one of these classes using some unsupported Java 8 feature, will be part of the Objenesis

[2020-09-09 06:59] ahmadmuhsink commented on #2039
@raphw Added bytebuddy dump

[2020-09-09 07:29] francescocervone commented on #2007
@TimvdLippe there is a handier workaround for objenesis 3.x, without excluding it from `mockito-core`.
In root `build.gradle` we can add:
[code]

[2020-09-09 11:38] ghackett commented on #1802
Awesome! Thanks so much for addressing this!

[2020-09-09 13:13] henri-tremblay commented on #2007
@francescocervone I don't know. That's why I was saying "Not an Android expert" :-) Let me ask around. It's sad to downgrade to Android 2. The other solution would be to split objenesis in 2. One with the core instantiators and one with the exotic ones. Can you hack the objenesis jar to remote this class and just compile with the new jar to tell me if it works?

[2020-09-09 22:17] ganadist opened #2040 "Mockito.spy(Activity).getBaseContext() returns null on Robolectric 4.4 and Java8"
### Description
Since robolectric 4.4, Mockito.spy(Activity).getBaseContext() returns null

### Steps to Reproduce
[code]
Failed unittest result : https://scans.gradle.com/s/wbmmbnzatcyai/tests/:app:testDevelopDebugUnitTest/com.example.myapplication.UnitTest1/test1#1

### Robolectric & Android Version
- Compile Sdk : 29
- Target Sdk : 28
- Robolectric : 4.4
- Mockito : 3.5.10
- Jvm : OpenJDK 8

##

[2020-09-10 06:59] raphw commented on #2039
Thanks, this is a very strange error and I struggle to see how Byte Buddy could even emmit this bytecode. The library stores an integer where this should be impossible.

Could you force your Byte Buddy dependency to 1.10.14 manually just to see if this fixes the problem?

[2020-09-10 09:36] ahmadmuhsink commented on #2039
That is interesting 🤔
I tried your suggestion and force ByteBuddy to v1.10.14 , unfortunately it does not solve the issue.
I attach new bytebuddy dump with ByteBuddy to v1.10.14
Dump: [bytebuddy-1.10.14.zip](https://github.com/mockito/mockito/files/5200600/bytebuddy-1.10.14.zip)

Not sure this will help but when I put breakpoint here:
https://github.com/raphw/byte-buddy/blob/master/byte-buddy-dep/

[2020-09-11 09:44] marcello-dev commented on #2027
I want to link this issue and this reply to a StackOverflow [question](https://stackoverflow.com/a/63841319/8484783) that has faced the same issue. The question is "How to mock just one static method in a class using Mockito?".

[2020-09-11 13:39] henri-tremblay commented on #2007
Ok. I had some feedback from @mhausherr. The error is in R8. So we could ignore like this in `proguard-rules.pro`:
[code]

[2020-09-11 13:52] andrei-ivanov commented on #2026
Is it ok like this?

[2020-09-11 14:00] francescocervone commented on #2007
@henri-tremblay 🤔 It cannot be R8. R8 obfuscates, optimizes and shrinks the code in release builds. It doesn't run in test unless you don't explicitly enable it also for debug builds.
More info here -> https://developer.android.com/studio/build/shrink-code

[2020-09-12 23:25] hoisie commented on #2040
This seems to work with slightly older versions of Mockito, e.g. 3.4.2. I'll try a bisect and see what commit may have broken it.

[2020-09-12 23:36] hoisie commented on #2040
I did a bisect and this seems to have started failing in 47ef05814784183cd5c1d297078e2ad7e31cce34.

[2020-09-13 19:24] raphw commented on #2040
I just had a look and the problem is likely with Robolectric. Maybe they can have a look at the problem?
Mockito simply invokes the constructor chain and per class and within the constructor, it copies all values field by field. I am wondering if Robolectric does some explicit initialization where this approach now fails.

I am to foreign to both Android and Robolectric to really understand why th

[2020-09-13 19:59] raphw commented on #2039
I reconstructed the problem, the issue is that the method `getAdvancedFraudSignalsEnabled` pushes two values onto the stack but only pops one return value off. This byte code cannot be created by javac and is technically incorrect while the JVM forgives the excess value:

[code]
I need to see why this distracts the byte code enhancer but it is certainly fixable.

[2020-09-13 20:35] raphw commented on #2039
Fixed on master of Byte Buddy, will be fixed in the next release and then updated upstream.

[2020-09-13 21:01] hoisie commented on #2040
Thanks for the initial investigation @raphw, I am one of the Robolectric maintainers and can try investigating this. It's odd that on Java 11 this occasionally works (but it is flaky according to robolectric/robolectric#5916).

[2020-09-13 21:14] raphw commented on #2040
I'd like to understand in what field value the two objects differ to produce this result. They should be identical unless some field is not discoverable.

If you could check what state difference is responsible, I can probably find out how it occurred.

[2020-09-13 22:53] TimvdLippe commented on #2029
Thanks for filing the issue. Could you please provide us a minimal reproduction case that we can clone/download to debug the issue? Thanks in advance!

[2020-09-13 22:54] TimvdLippe commented on #2037
Thanks for filing the issue. Could you please provide us a minimal reproduction case that we can clone/download to debug the issue? Thanks in advance!

[2020-09-13 22:54] TimvdLippe commented on #2038
Thanks for filing the issue. Could you please provide us a minimal reproduction case that we can clone/download to debug the issue? Thanks in advance!

[2020-09-13 22:55] TimvdLippe commented on #1980
Thanks for filing the issue. Could you please provide us a minimal reproduction case that we can clone/download to debug the issue? Thanks in advance!

[2020-09-13 22:56] TimvdLippe commented on #1979
I am closing this as wontfix, as we shouldn't support stubbing `Arrays.sort`. Any implementation of your stub will be wrong for user code, causing it to hide potential problems. Please use the standard `Arrays.sort` implementation instead.

[2020-09-13 22:56] #1979 closed

[2020-09-13 22:57] TimvdLippe commented on #1962
Thanks for filing the issue. Could you please provide us a minimal reproduction case that we can clone/download to debug the issue? Thanks in advance!

[2020-09-13 22:58] TimvdLippe commented on #1944
Thanks for filing the issue. Could you please provide us a minimal reproduction case that we can clone/download to debug the issue? Thanks in advance!

[2020-09-13 22:58] TimvdLippe commented on #1969
Thanks for filing the issue. Could you please provide us a minimal reproduction case that we can clone/download to debug the issue? Thanks in advance!

[2020-09-14 05:17] hoisie commented on #2040
Out of curiosity is there some kind of helper/debug util in Mockito to dump an object to a String? In the meantime I'll try to just serialize it to a json-type format.

[2020-09-14 05:18] ahmadmuhsink commented on #2039
Thanks for the explanation and fixes!

[2020-09-14 06:16] raphw commented on #2040
No, we can dump class files but you could likely use a serializer such as Jackson for this?

[2020-09-14 06:24] raphw commented on #1980
Sorry, I missed this.

The reason this works with the `SubclassByteBuddyMockMaker` is that Spring proxies the (internal) `MockAccess` interface which we implement in the mock to extract the mock state which is stored in a field of the mock instance. We could just as much had read that field directly to avoid the interface; and this wouldn't even be such a bad idea as it less pollutes the reflectio

[2020-09-14 06:35] hoisie commented on #2040
Weird, out of 269 fields, the only difference is a field called 'mBase':

132c132
< class android.content.ContextWrapper:mBase: android.app.ContextImpl@6d340ec8
---

269a270

MainActivity: https://gist.github.com/hoisie/5a7b93acc90a68917fc97de1c8364fc5
SpyActivity:  https://gist.github.com/hoisie/76bbd478520f0bd7ec6f89fe74c0e163

Is there a way to turn on debug logs during this field copy to see h

[2020-09-14 06:42] hoisie commented on #2040
This is the class that contains the 'mBase' field:
http://androidxref.com/9.0.0_r3/xref/frameworks/base/core/java/android/content/ContextWrapper.java

FWIW, it's a long class hierarchy, MainActivity > AppCompatActivity > FragmentActivity > ComponentActivity > Activity > ContextThemeWrapper > ContextWrapper > Context`

[2020-09-14 07:50] wilkinsona commented on #1980
As things stand, I don't believe we can as there's no opportunity for Spring to remove its proxy when the proxied spy is passed into `given` or `when`.

I've [wondered in the past](https://github.com/spring-projects/spring-boot/issues/22281#issuecomment-665762299) if Mockito could offer a low-level API that provides a mechanism for pre-processing the instance that's passed in, but concluded that i

[2020-09-14 08:10] raphw commented on #1980
I could certainly add a mechanism for this, it would not create too much overhead and we already have a plugin mechanism in place for it. We would just add a non-operational mechanism by default but allow frameworks to unwrap "their" mocks. You could declare this by Mockito's default plugin mechanism.

I will look into adding something like this to Mockito.

[2020-09-14 10:48] TimvdLippe commented on #2007
@jakewharton (if I remember correctly, you know a lot more about minification, R8 and problems like this. If that's not the case, please let me know and feel free to ignore this message)

Hey Jake,

Please see the above messages regarding problems with Mockito transitively depending on Objenesis 3 which broke Android compatibility. However, Objenesis compilation broke, despite the class in questio

[2020-09-14 15:30] hoisie commented on #2040
I just noticed [ContextThemeWrapper](http://androidxref.com/9.0.0_r3/xref/frameworks/base/core/java/android/view/ContextThemeWrapper.java), which is the parent of ContextWrapper, calls the ContextWrapper(null) constructor, which could be setting mBase to null:
[code]

Could this be causing `mBase` to be set to null?

[2020-09-14 16:26] francescocervone commented on #2007
@TimvdLippe I didn't say that R8 should not be performing these kind of cleanups. I said that **R8 is not involved at all**, therefore the R8 rule suggested by @henri-tremblay is not a valid workaround.

[2020-09-14 16:37] hoisie commented on #2040
How does one dump the class bytecode of the transient spy class created? I am curious what that looks like.

[2020-09-14 17:07] raphw commented on #2040
-Dnet.bytebuddy.dump=/some/folder

[2020-09-14 17:43] hoisie commented on #2040
For some reason, when I do `spy(object)`, I am not seeing the constructors being invoked. What constructors does mockito invoke? Are there some new/hidden constructors being generated?

[2020-09-14 17:44] Meaaow opened #2041 "InjectMocks is wrongly injecting the same Mock into 2 different fields of similar type despite creating 2 different mocks."
check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2020-09-14 17:53] raphw commented on #2040
No, the constructors are prefixed and then the original chain is shortcut. Basically:

[code]

Is turned into:

[code]

[2020-09-14 18:46] raphw commented on #1980
I just added an API. Could you try the *mock-resolver-plugin* branch where Spring would need to implement the `MockResolver` interface as a public class with a default constructor and add a file *org.mockito.plugins.MockResolver* to the *mockito-extensions* folder with the fully qualified class name. The resolver needs to check if a mock instance can be unwrapped and return this instance if applic

[2020-09-14 22:18] hoisie commented on #2040
Out of curiosity how do you inject print statements to the field copy ByteBuddy logic? I wanted to add some print statements to verify that the before/after values are the same.

How can you tell that? From what I see, it seems like 'mBase' is null for the spy activity:

![image](https://user-images.githubusercontent.com/125547/93143770-6f8c8580-f69d-11ea-9a48-29c7ac4fbc33.png)

Are you saying it'

[2020-09-15 07:20] eheimbuch opened #2043 "JVM Crash with newest mockito version"
Hello guys,

recently we updated our mockito version to the newest (from 2.28.2 to 3.5.10) and now we get JVM crashes when running all unit tests. Running only a couple of tests is fine. This error occurs with java 11 but not with java 8. We have tried different jdks like adoptopenjdk, zulu and openjdk with java 11 but it still crashes. We also tried to update the maven-surefire-plugin and junit t

[2020-09-15 07:40] raphw commented on #2040
You are right, I did not debug properly (IntelliJ refuses to run the sample project for me, I am back on the command line).

When I inspect the transformed `ContextWrapper` constructor, I do however see that the field is copied within it:

[code]

When is the `mBase` field populated? Is this something done after object construction?

[2020-09-15 08:24] raphw commented on #2040
I created a special debug build (*println-constructor*, you can run it by using your local Maven repo and the *publishToMavenLocal* task of Mockito) which shows what is happening by printing all field assignments. It follows the pattern

[code]

This verifies that the field is actually set. It's very strange that the field is null again once it is used. Since this problem occurs only with Robolect

[2020-09-15 08:28] raphw commented on #2040
It's very strange, I optimized the example for output now and the fields seem to be set:

[code]

My gutt fealing is that that's some sort of initialization issue for the original object that is triggered later then Mockito expects it.

[2020-09-15 08:39] raphw commented on #2040
Maybe I turned blind but simply running:

[code]

of the current *release/3.x* branch yields both fields being set correctly. Maybe this is something we already fixed in Mockito by accident?

[2020-09-15 08:49] raphw commented on #2040
Okay, I verified that Mockito creates the spy correctly in any case. But something happens to the object if passed through Robolectics's runner logic.

This test will function correctly:

[code]

While this test will yield yield an empty mock object:

[code]

How can that be?

[2020-09-15 09:02] raphw commented on #2043
Could you try a reproduction? Looks like a JVM bug to me. Does it occur with Java 14?

[2020-09-15 09:05] sdorra commented on #2043
@raphw I can reproduce the bug on osx with java 14.

[2020-09-15 09:12] raphw commented on #2043
Can you share the reproduction? There's one verification error fix in the piprleline already.

[2020-09-15 09:35] raphw commented on #2040
Comparing the output of the println branch: if the mock is created in the `@Before` method, the `ContextWrapper` constructor is never invoked what seems dubious. Something must be done differently here.

[2020-09-15 09:53] sdorra commented on #2043
[hs_err_pid47695.log](https://github.com/mockito/mockito/files/5224048/hs_err_pid47695.log)

[2020-09-15 16:42] hoisie commented on #2040
I added a simpler test case to the Robolectric tree (currently @Ignored).

https://github.com/robolectric/robolectric/blob/master/integration_tests/mockito-experimental/src/test/java/org/robolectric/integrationtests/mockito/experimental/MockitoSpyTest.java

It is very strange, I've also seen situations where the test starts passing randomly, and I usually have to do a `clean` to get it to start fa

[2020-09-15 19:05] hoisie commented on #2040
After adding some additional debug statements, it seems like the mockito instrumentation for `ContextWrapper` constructor is skipped So `ContextThemeWrapper` tries to call the  `ContextWrapper` constructor, but it calls a non-instrumented one.
Maybe the default empty constructor is private?

[code]

[2020-09-15 19:18] hoisie commented on #2040
From looking at the bytecode, I see that ContextThemeWrapper calls ContextWrapper():

[code]

However, in ContextWrapper, the no-arg constructor is not insrumented:

[code]

The one-arg ContextWrapper constructor is instrumented. though:
[code]

[2020-09-15 19:25] hoisie commented on #2040
This seems to be a simpler repro of the issue (non-Robolectric):
[code]

[2020-09-15 20:24] hoisie commented on #2040
The issue seems to be that mockito is not instrumenting the no-arg `public android.content.ContextWrapper()` constructor, yet it is the one being selected to be called from the base class `ContextThemeWrapper`.

The one-arg `public android.content.ContextWrapper(Context)` does get instrumented, but the no-arg one is preferred as the one to be called from the base class.

[2020-09-15 23:07] raphw commented on #2040
Is that constructor added later by Robolectrics? Maybe there's some confusion around the creation order. It instruments the constructors in-flight but takes basis on the reflective model. You can set a breakpoint in the `ConstructorShortcut`'s `wrap` method.  Does the no-arg constructor ever arrive here? If not, walk a bit down the stack into Byte Buddy to see if Byte Buddy was able to resolve thi

[2020-09-15 23:29] hoisie commented on #2040
Yes, it does seem like Robolectric adds the no-arg constructor:
https://github.com/robolectric/robolectric/blob/master/sandbox/src/main/java/org/robolectric/internal/bytecode/ClassInstrumentor.java#L141-L153

(why does it do this? I cannot say exactly, that code was added many years ago...)

[2020-09-15 23:36] raphw commented on #2040
It's certainly related to that. Byte Buddy uses the reflection API to process the members. How is it even possible that the reflection API is unaware of a constructor? A class cannot add members after its loaded, the JVM does not allow it.

I assume this also explains why it makes a difference where the mock is created. Does Robolectrics transform classes from one class loader into another? I have

[2020-09-15 23:37] raphw commented on #2040
As a workaround, Mockito could prefer non-synthetic constructors for the time being.

[2020-09-15 23:43] hoisie commented on #2040
Another possible solution: could Mockito only select super-constructors to call that are known to be instrumented? It should be possible to keep track of that.

[2020-09-15 23:54] hoisie commented on #2040
`ConstructorShortcut.wrap` never hits the no-arg ContextWrapper() constructor. I am not sure how to check if ByteBuddy ever resolved it, but I do not believe it did.

[2020-09-15 23:57] hoisie commented on #2040
Yes, I believe this is happening. When an Android test is run, initially the Android SDK stubs are on the classpath, which contains a small subset of the real Android framework Jar. Robolectric, during runtime, pulls in the real Android framework JARs and instruments the Android classes to use the real Android code (plus mixes in the shadows, which override the framework method implementations).

[2020-09-16 04:53] hoisie commented on #2040
BTW I think preferring non-synthetic constructors seems like a fine workaround for now. I will attempt to stop adding the no-arg constructor to Android objects. I'm not sure to what extent it is still being used.

[2020-09-16 05:19] hoisie commented on #2040
Actually, ByteBuddy does seem to find the no-arg ContextWrapper constructor, but `methodDescription` is null, so the `wrap` method does not get invoked:

![image](https://user-images.githubusercontent.com/125547/93295297-83b9ab00-f7a1-11ea-86e6-38abf11f3642.png)

[2020-09-16 09:44] NikolayKul opened #2044 "InlineByteBuddyMockMaker doesn't mock parent's methods"
Hello there!
It looks like `org.mockito.internal.creation.bytebuddy.InlineByteBuddyMockMaker` doesn't mock parent's methods if the parent is written in Java. Can be reproduced in 3 steps:
1. Create 2 classes:
[code]
2. Enable `mock-maker-inline`.
3. Test classes as follows:
[code]

Interesting details:
1. The test passes if I convert `Parent` from Java to Kotlin though on the byte code level they

[2020-09-16 17:33] timothyjward commented on #1997
I would also like to see a solution to this issue. Making the mockito-junit-jupiter jar into a fragment which exports the `MockitoExtension` package and attaches to mockito-core does sound like a good plan.

[2020-09-16 20:09] raphw commented on #2040
Yes, it's in the changed class file but I wonder why the reflection API does not contain those constructors. I assume that the class is reloaded som

[2020-09-17 02:33] rotty3000 commented on #1997
I've got a set of changes that makes mockito-junit-jupiter work in OSGi using the same strategy that junit5 used to identify "friend" packages that are exported but not intended for public use outside of _mockito_.

@raphw do you think your team would be interested?

[2020-09-17 07:01] raphw commented on #1997
Looks good to me, I had a look at the build and I know too little about OSGi to understand the effect the API guardian dependencies have but since the classes only carry annotations and the dependency is not required, I do not see any chance of a regression.

@TimvdLippe - could you have a second look, you know the build better then me. To me it looks like a good merge.

[2020-09-17 07:40] fqyuan commented on #2038
I'd love to provide the reproduction case if possible, but the project is heavy with too many code, and the source code of my team can not be open-sourced, I'd append more information if I find a way out.

[2020-09-17 13:09] rotty3000 commented on #1997
For your edification:
a) apiguardian does not bring with it any runtime dependencies (confirmed by the OSGi metadata)
b) the interaction between [API guardian and bnd is explained here](https://bnd.bndtools.org/instructions/export-apiguardian.html)
c) the build adds a `verifyOSGi` gradle task glued onto `check` to make sure that future changes do not break the relationship required between mockito

[2020-09-17 13:57] holubec-petr commented on #1597
I've created new PR based on the original one.

[2020-09-17 21:27] #2040 closed

[2020-09-17 21:44] hoisie commented on #2040
Thanks for all your hard work @raphw! I am glad this is fixed.

[2020-09-18 06:42] raphw commented on #2040
Right back at you! Thanks for your patient debugging help!

[2020-09-18 10:01] wilkinsona commented on #1980
Thanks, @raphw. I think this moves things in the right direction and allows almost all of our Mockito-related tests to pass with the inline mock maker.

I am, however, still seeing a failure when calling `Mockito.reset(T)` with a spy that has been proxied with CGLib. The `MockHandler` is retrieved successfully (as our resolver removes the CGLib proxy) but it then fails in `InlineByteBuddyMockMaker

[2020-09-18 11:50] raphw commented on #1980
Good catch! I'll fix that up!

[2020-09-18 19:36] gnall opened #2049 "Missing OngoingStubbing thenReturn(T... values)"
I noticed that in the [OngoingStubbing](https://github.com/mockito/mockito/blob/release/3.x/src/main/java/org/mockito/stubbing/OngoingStubbing.java) class, the method thenReturn(T... values) is missing. This could be useful for cases where you have an array of string values and you want to return in a specific order. The current implementation requires the following which I feel is a weird way of

[2020-09-18 19:40] gnall commented on #2049
Under further examination, I think I can just use..
[code]
Still looking into this though.

[2020-09-18 21:20] sullis commented on #1857
I encountered the same issue when migrating from Mockito 1.x to Mockito 3.5.11

My project uses the maven-surefire-plugin. We utilize this Surefire configuration option:

[code]

I was able to eliminate the RedundantListenerException by setting `parallel` to `methods`:

[code]

[2020-09-18 22:45] raphw commented on #1980
I updated the branch and doublechecked that I did not miss anything else. Let me know if this works for you!

[2020-09-18 23:47] #2039 closed

[2020-09-20 22:03] Meaaow commented on #1056
I am also facing the same issue - https://github.com/mockito/mockito/issues/2041

[2020-09-20 22:11] Meaaow commented on #1066
I am also facing the same issue - #2041
I used reflection to create the object myself.

[2020-09-22 19:46] mjustin commented on #1531
As of this writing, there are 292 upvotes for the [related Stack Overflow question](https://stackoverflow.com/questions/1652692/using-mockito-to-mock-classes-with-generic-parameters/64012894#64012894) around mocking with generic parameters.  This indicates to me that there is definitely an interest in having a clean solution to this problem.

[2020-09-22 20:03] TimvdLippe commented on #1531
Given that `.class` does not play well with generics, I don't think there is any solution we can do in Mockito. You can already do `@Mock` (the JUnit5 extension also allows method parameter `@Mock`s) and that should be a suitable alternative. Therefore, we can keep this issue open, but it is unlikely ever to be fixed, given that `@Mock` is a better API.

[2020-09-22 20:12] mjustin commented on #1531
A problem I've seen with `@Mock` is when there's code which dynamically creates a mock, or wants it to be method scoped.  In this case, a field can be problematic.

[2020-09-22 20:16] TimvdLippe commented on #1531
Since you are dynamically creating the mock, it means you are creating it on runtime. Because of type erasure, at runtime these generics types are not checked. Therefore, I don't think it is possible to create a type-safe API with `.class`.

[2020-09-22 20:23] mjustin commented on #1531
@TimvdLippe Agreed, regarding using `Class`.  What I've seen other libraries do is use a parameterized type reference class for this purpose (based on an [approach by Neal Gafter](https://gafter.blogspot.nl/2006/12/super-type-tokens.html)).

Examples:

* Jackson: [`TypeReference`](https://fasterxml.github.io/jackson-core/javadoc/2.9/com/fasterxml/jackson/core/type/TypeReference.html), [`JavaType`]

[2020-09-24 12:40] kozaxinan commented on #2007
@TimvdLippe I created #2053 to fix this issue. With range usage in `strictly` tag, gradle fails to force dependency. I verified with our project. For androidTest, If we just use moctiko-android and exclude mockito-core from mockito-kotlin (or any dependency that has  mockito-core), there shouldnt be any issue.
This fix still not great but until objenesis supports android sdk < 26, it should work.

[2020-09-24 15:49] igouss opened #2054 "Missing artifacts"
Hello,

On the front page https://site.mockito.org/ it links to
Bintray -> 3.5.12
Maven Central -> 3.5.12

however https://search.maven.org/search?q=g:org.mockito%20AND%20a:mockito-core&core=gav
only has org.mockito:mockito-core:3.5.11

[2020-09-24 16:05] igouss commented on #2054
resolved. thank you.

[2020-09-24 16:05] #2054 closed

[2020-09-24 16:46] rpost opened #2055 "Adding @ExtendWith(MockitoExtension.class) makes ArgumentCaptor broken"
SSCCE:

Starting point: this works:

[code]

Annotating test with `@ExtendWith(MockitoExtension.class)` makes `capturedValues` empty:
[code]

Mockito version: 3.5.11
JUnit version: 5.6.2

[2020-09-25 15:12] nyrygyk commented on #1785
I can confirm the behavior described by @Sloloem. We discovered this in version 3.5.11 by debugging.

[2020-09-25 15:32] TimvdLippe commented on #2007
For anyone who is looking to contribute, please check out the upstream issue at https://github.com/easymock/objenesis/issues/79

[2020-09-28 16:04] Kumar001 commented on #1471
https://asolntsev.github.io/en/2020/07/11/mockito-static-methods/
Static method support in Mockito.

[2020-09-28 21:19] TimvdLippe commented on #1918
Closing this, as I don't think this is worthwhile to include in our main documentation. If the behavior of Mockito is not intuitive, I consider that a bug instead of a lack of documentation.

[2020-09-28 21:19] #1918 closed

[2020-09-28 21:20] TimvdLippe commented on #297
Java 8 is now fully supported and we support regular lambda's as `ArgumentMatcher` and friends.

[2020-09-28 21:20] #297 closed

[2020-09-28 21:20] TimvdLippe commented on #303
Closing per the above comment.

[2020-09-28 21:20] #303 closed

[2020-09-28 21:23] TimvdLippe commented on #713
The URL no longer works.

[2020-09-28 21:23] #713 closed

[2020-09-28 21:23] TimvdLippe commented on #657
The inline mockmaker tackles this problem, as the subclass mockmaker can not do this. Therefore, I am closing this issue.

[2020-09-28 21:23] #657 closed

[2020-09-28 21:26] TimvdLippe commented on #1050
Since there are numerous reasons that this exception can occur, I don't think it is maintainable to hardcode a subset of exceptions. Instead, I would prefer that users file issues. These issues can be more easily searched for, so that we can best provide assistance to users. That way, we can improve handling of any exception that might occur, rather than the ones we are actively aware of.

[2020-09-28 21:26] #1050 closed

[2020-09-28 21:29] TimvdLippe commented on #958
We link to our migration guide in https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#mockito2 now

[2020-09-28 21:29] #958 closed

[2020-09-28 21:31] TimvdLippe commented on #930
We are now using the "please contribute" label on our issue list to invite external contributors to help improving Mockito: https://github.com/mockito/mockito/issues?q=is%3Aopen+is%3Aissue+label%3A%22please+contribute%22

[2020-09-28 21:31] #930 closed

[2020-09-28 21:32] TimvdLippe commented on #1003
Closing per https://github.com/mockito/mockito/pull/1006#issuecomment-294352517

[2020-09-28 21:32] #1003 closed

[2020-09-28 21:34] TimvdLippe commented on #1225
I no longer think we should pursue this effort.

[2020-09-28 21:34] #1225 closed

[2020-09-28 23:27] raphw commented on #2044
I am wondering if Kotlin does something strange and keeps a side object for the parent cast. This sort of breaks Mockitos housekeeping of what is a mock and what not. Is (mocked as Parent) not identical to mocked?

[2020-09-29 08:10] Andavin opened #2056 "Inconsistent Verification of Call on Mocks"
Basically, Mockito is saying that a method isn't called when it was. However, it only says this sometimes. Most of the time the test succeeds, but about 15% of the time it doesn't while the method is consistently called.

Dependencies:
- IntelliJ 2020.2.2
- Gradle 6
- JUnit Jupiter 5.6.2
- Mockito 3.5.13

Example of my test classes:
[code]
[code]
[code]
When I run the tests it's inconsistent, but

[2020-09-29 17:21] sana7 commented on #1606
Hi All,

I'm also seeing this error while mocking
@Mock
private KafkaFactory mockKafkaFactory;

java.lang.RuntimeException: Invoking the beforeTestMethod method on PowerMock test listener org.powermock.api.extension.listener.AnnotationEnabler@770f8c86 failed.

	at org.powermock.tests.utils.impl.PowerMockTestNotifierImpl.notifyBeforeTestMethod(PowerMockTestNotifierImpl.java:84)
	at org.powermock.mo

[2020-09-30 06:41] jglink commented on #1967
Is this already released?
Because I have the same issue with the latest mockito version 3.5.13
Thanks

[2020-09-30 09:58] TehBakker commented on #1540
Any news on this ?
Same probleme 90% of my tests need a when call and the other 10% throw exception.

I do not want to do lenient though as i feel UnnecessaryStubbingException is good just need to check with the whole tests

[2020-09-30 18:12] mitchdennett opened #2057 "Error mocking when using Java 15"
When calling `mock(HttpServletRequest.class)` I get the following error when using Java 15.

Mockito Version: 3.5.13
Java: OpenJDK 15

[code]
If you need more info from me please ask. First time posting an issue here.

[2020-09-30 18:21] mitchdennett commented on #2057
issue with Jacoco not mockito. Sorry for the issue. Update Jacoco to 0.8.6 and it fixed this issue

[2020-09-30 18:21] #2057 closed

[2020-10-01 01:26] SamBarker commented on #1540
I never got a version of #1629 working in a way I was happy with. Looking at the details of #1924 I can see was trying to fix it in too small a scope.

I do still think the original point stands but I think this bug should probably be closed in favour of #1924 .

[2020-10-01 06:50] kriegfrj opened #2058 ""But invoked here" should list the invocation parameters"
Thanks to Mockito, I just had an assertion failure that I just had a failure thanks to Mockito told me of an issue in my code that I need to fix. The error message looked like this:

[code]
It occurred to me that it might be useful debugging to include not only the *place* where the invocation happened, but the arguments that were provided for each invocation. Because of the `anyString()` matcher,

[2020-10-05 02:55] #2056 closed

[2020-10-05 07:18] eheimbuch commented on #2043
Hey @raphw,
did you find out anything yet? Can we help you in any way to find the error?

[2020-10-06 00:31] shikhar commented on #1879
Hmm, also ran into the same error with Bazel 3.3 and JDK11

[code]

Marking the tests relying on `mockito-inline` to be `exclusive` as a workaround

[2020-10-07 12:16] ryanrvldo opened #2059 "java.lang.AbstractMethodError in 2.21.0 ++ version"
I'm using mockito 3.3.3 in android (kotlin) to test my fragment. I'm mock my navController with mockito. But get something error with logcat that I've been posted below. But, when I'm using mockito 2.21.0 below my test passed. I dont know what is wrong with 2.21.0 ++ version.
[code]

[2020-10-07 22:54] Marcono1234 opened #2060 "Misleading error message for failed InOrder argument matcher"
### Version
Mockito version: 3.5.13

### Description
When using `org.mockito.InOrder` and the argument matcher fails for the second or any subsequent verification call (but not the first one), the error is reported as:

Wanted but not invoked:

This is misleading because the method is actually invoked, but the arguments did not match. Normally, when not using `InOrder` or when verifying the first

[2020-10-07 23:15] Marcono1234 opened #2061 "Lambda used as ArgumentMatcher causes decamelized lambda name to appear in error message"
### Version
Mockito version: 3.5.13

### Description
Relates to #1932

When using a lambda or method reference expression as `ArgumentMatcher` and the matcher fails, the error message contains the lambda / method reference class name in "decamelized" form which is rather irritating, e.g.:

    <Mockito test$$ lambda$ 4 8/ 0x 0 0 0 0 0 0 0 8 0 0c 8f 4 4 0>
);

Expected would be that similar to anon

[2020-10-08 00:40] mockitoguy commented on #2061
Sounds like a good idea. Do you want to submit a PR? Thanks!

[2020-10-08 15:55] zxa4fd opened #2062 "Is it possible to give mock objects a name, then inject them by using the names?"
For instance if I have:

[code]
and

[code]

how do I specify if I want to use 'b2' or 'b3'?

[2020-10-08 17:07] mockitoguy commented on #2062
Based on my understanding of your use case, here're your options:

- use consistent naming. InjectMocks respects the mock name and tries to match by name (see the docs for InjectMocks)
- don't use InjectMocks - create the object under test explicitly. It's usually a one-liner so shouldn't impact the clarity of tests.

Hope that helps!

[2020-10-08 18:04] zxa4fd commented on #2062
Thanks!

On Fri, Oct 9, 2020 at 1:08 AM Szczepan Faber <notifications@github.com>
wrote:

[2020-10-08 20:03] #2062 closed

[2020-10-09 01:32] madisoncfallin commented on #2060
I'll look into this

[2020-10-09 01:47] rebeccachild74 commented on #2035
I will look into this.

[2020-10-09 01:51] borisenkotim commented on #1903
I'll look into this issue

[2020-10-09 02:13] rebeccachild74 commented on #2055
I will look into this.

[2020-10-09 04:13] jplaisted opened #2063 "(documentation) Semantic Versioning Page out of date"
The [semantic versioning documentation for mockito](https://github.com/mockito/mockito/wiki/Semantic-Versioning) seems out of date. It mentions a master branch, when there is no master branch :)

This document is linked directly from the repo's main README.

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is

[2020-10-09 14:42] zxa4fd opened #2064 "Is it possible to setup a mock in one method then use the mock in another method"
I'm thinking of a setup method like this

[code]

Then I will use the method like this
[code]

[2020-10-09 15:11] mockitoguy commented on #2064
yes

[2020-10-09 15:13] mockitoguy commented on #2055
@rebeccachild74, thanks!

[2020-10-09 15:14] mockitoguy commented on #1903
@borisenkotim, thank you!

[2020-10-09 16:22] #2064 closed

[2020-10-09 17:05] mjustin commented on #1903
FYI, I just fixed a variable inconsistency and clarified the expectation in my issue summary.

[2020-10-10 09:43] jibidus commented on #1410
ℹ️ I just upgraded `Mockito` (and `JUnit`) to the lastest version (see [POC project](https://github.com/jibidus/jupiter-mockito-performance-issue)) : same behavior

* JUnit 5.7.0
* Mockito 3.5.13

[2020-10-10 20:41] raphw commented on #1606
Seems like you are using a version of PowerMock that is not compatible with the particular version of Mockito. Please check the PowerMock documentation to see what version to use and see if there's a compatible update.

[2020-10-10 20:44] raphw commented on #1980
@wilkinsona Did you have a chance to validate my latest revision of this?

[2020-10-10 21:31] raphw commented on #2043
Sorry for not getting back earlier. The error seems to point out an error around an internal assumption. Do you have a reproduction that I can run to get the same error with executing code? This would allow filing a bug report.

Does the same error occur when using Java 15?

[2020-10-11 11:23] wilkinsona commented on #1980
Not yet, sorry. I'll try and take another look at it this week.

[2020-10-12 03:40] Lansorian commented on #185
@JakeLin @jonfreedman @Swoot1
Could anyone please kindly explain the difference between `Mockito.<String>any()` and `nullable(String.class)`, which is better to use and why? I appreciate that a lot.

[2020-10-12 03:57] mockitoguy commented on #185
The difference is that any() will not check the type. I recommend any() because it is simpler and the java compiler checks types for me (most of the time ;)). nullable() is useful in certain specific scenarios. @Lansorian, consider sending us a PR with javadoc updates if you don't find the javadocs clear.

[2020-10-12 04:17] Lansorian commented on #185
@mockitoguy Thanks!

[2020-10-12 04:17] Lansorian commented on #185
Thanks a lot!

[2020-10-12 04:19] marlonlom commented on #1919
why this is closed? exists a solution for this? or, mockito is just for unit testing without the android said of things? i think you should update the documentation specifying that.

[2020-10-12 04:55] theapache64 commented on #1919
@marlonlom This is still an open issue.

[2020-10-12 07:00] pfeuffer commented on #2043
Hi @raphw , thanks for your answer!

If it is okay for you, you could clone SCM-Manager from GitHub (https://github.com/scm-manager/scm-manager.git). To reproduce the error, you just have to build the module "scm-webapp" and run its tests, all dependencies will be fetched from the internet:

[code]

This can be reproduced in a Docker container, too, just with this simple `Dockerfile`:

[code]

As

[2020-10-12 12:33] ilgrosso opened #2065 "Not working with JDK 16ea"
When running a set of Mockito-enabled JUnit tests, the following error messages are reported:

[code]

This is taken from https://travis-ci.com/github/ilgrosso/syncope/jobs/396234509

Nevertheless to say, the same code works fine with:

* [JDK 11](https://travis-ci.com/github/ilgrosso/syncope/jobs/396234507)
* [JDK 14](https://travis-ci.com/github/ilgrosso/syncope/jobs/396234508)
* [JDK 15](https:

[2020-10-12 13:16] ilgrosso commented on #2065
It worked after following the same advice provided by @raphw in https://github.com/raphw/byte-buddy/issues/934 - see https://travis-ci.com/github/ilgrosso/syncope/jobs/398314951

[2020-10-12 18:06] madisoncfallin commented on #2060
Please assign this to me! 😄

[2020-10-13 06:55] raphw commented on #2043
I followed the steps and got to the point of:

    08:54:15.382 [main] ERROR sonia.scm.web.i18n.I18nServlet - Error on getting the translation of the plugins
      java.io.IOException: failed

[2020-10-13 08:09] pfeuffer commented on #2043
You are right, I get the same error in the log. This results from one of the unit tests, but is of no relevance.

On my machine the relevant part with the build failure follows after these lines and look like the following:

[code]

Do you get a successful build in the end?

[2020-10-13 12:29] cmoiccool commented on #2059
Same issue here while following this codelab : https://codelabs.developers.google.com/codelabs/advanced-android-kotlin-training-testing-test-doubles/#10
The issue can be reproduced following the codelab only changing the versions to the last versions, including Mockito to version 3.3.3 i have received the same error which was solved when changing mockito version to 2.21.0.
In my case the versions

[2020-10-14 19:42] gurappa opened #2066 "Android - Mockito cannot mock this class: class android.content.Context"
Had discussion in mailing list, I am asked to create an issue here.
https://groups.google.com/g/mockito/c/yUtrG93BSx4

**Issue:**
We had Mockito version 2.18.3. Now I upgraded to 3.5.13.
Also Robolectric version is upgraded from 3.8 to 4.4.

So half of 700 tests started failing on different reasons. One of them is as below that mockito can't create Context class.

Other classes it could not mock n

[2020-10-14 20:07] loosebazooka opened #2067 "Mockito fails an otherwise correct(?) test under certain conditions"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
         https://github.com/loosebazooka/mockito-failure/tree/master
 - [x] Provide versions (mockito / jdk / os / any other relevant information):
         JVM:          1.8.0_242 (AdoptOpenJDK 25.242-b08)
         OS:           Linux/amd64

[2020-10-14 20:12] TimvdLippe commented on #2067
I think you are running into the thread-safety issue as documented at https://github.com/mockito/mockito/wiki/FAQ#is-mockito-thread-safe

[2020-10-14 20:17] loosebazooka commented on #2067
Oh so it's a timing thing then, the mock method is being called on another thread and then we verify before it happens?

[2020-10-14 20:18] TimvdLippe commented on #2067
Yes that's what I think is going on here. You would need to make sure you wait the scheduled task has finished before you run the verification.

[2020-10-14 20:20] loosebazooka commented on #2067
Yeah that makes sense. I think we can close this.

[2020-10-14 20:20] #2067 closed

[2020-10-14 22:54] TobiTenno commented on #193
I started getting this when I was otherwise getting an NPE in the expression inside of an `eq()` or other Matcher method.

[2020-10-15 18:36] gurappa commented on #2066
Just to rule out if it is due to incompatibility with java version, I tried with 2.* mockito version. It failed but with different error. I can post error in case if required.

Our releases are blocked. Any quick help/hints will be highly appreciated.

[2020-10-16 10:07] TVHayk opened #2068 "anyUUID() (suggestion)"
I suggest to implement a new function: `org.mockito.ArgumentMatchers.anyUUID()`, which will replace `org.mockito.ArgumentMatchers.any(java.util.UUID.class)`.

[code]

[2020-10-16 13:27] mockitoguy commented on #2068
Indeed it's shorter than any(UUID class). My understanding is that parameterless ```any()``` does not fit your use case because you want to reject null value?

I'm +1 for this change. Can you submit a PR?

Yes, please.

[2020-10-16 13:35] TimvdLippe commented on #2068
I am not in favor of this change. Given that `any(UUID.class)` already works and it rejects `null`. It seems rather arbitrary to add the UUID to our API and it is unclear on what basis it should be included. E.g. why should we add support for UUID but not for any other type?

[2020-10-16 15:00] rimuln commented on #2027
This works for me with Mockito 3.5.13
`    try (MockedStatic<Hibernate> mockedHibernate = mockStatic(Hibernate.class)) {
      mockedHibernate.when(() -> Hibernate.initialize(any())).then(invocation -> null);
      for (Object collection : collections) {
        Hibernate.initialize(collection);
      }
      mockedHibernate.verify(times(collections.length), () -> Hibernate.initialize(any()));

[2020-10-17 13:30] Marcono1234 commented on #2049
#11 actually tried to add that, but it was refused. One of the reasons why it was refused is:

Personally I don't think that this is very important for Mockito since it is a framework for testing, where performance does not play such a big role (though should not be neglected either).

One situation where such a varargs method could become confusing is when the return type is `Object` and the user

[2020-10-17 13:33] Marcono1234 commented on #2060
@madisoncfallin, I would not mind if you gave it a try. Though I do not know whether the maintainers actually consider this a bug. [`CONTRIBUTING.md`](https://github.com/mockito/mockito/blob/release/3.x/.github/CONTRIBUTING.md) might be useful for you in case you have not seen it yet.

[2020-10-17 14:28] Marcono1234 commented on #2061
Sorry for the delay, have submitted the pull request: #2071
Feedback is appreciated!

[2020-10-17 14:42] #2061 closed

[2020-10-17 17:41] mockitoguy commented on #2068
@TimvdLippe, thank you for feedback! You convinced me.

[2020-10-17 17:45] mockitoguy commented on #2068
@TVHayk, we'd like to take conservative approach in adding new methods to the API. Please use ```any(UUID.class)```. You can always introduce a helper static method in your own test utility that provides ```anyUUID()``` method.

We added methods like ```anyString()```, ```anyList()``` to the API because we believed that they are very common use cases. UUID does not seem that common based on the de

[2020-10-18 13:00] TimvdLippe commented on #2068
Let's close this per the above comment. Thanks for the suggestion!

[2020-10-18 13:00] #2068 closed

[2020-10-18 21:41] raphw commented on #2065
Since Java 16 is not yet released, it is still experimental and this option is required.

[2020-10-18 21:41] #2065 closed

[2020-10-18 21:52] raphw commented on #2043
Bug in HotSpot: https://bugs.openjdk.java.net/browse/JDK-8254969

[2020-10-19 06:58] TVHayk commented on #2068
Ok. No problem. I just use `anyString()`, `anyBoolean()`, `anyList()`, `anySet()` quite often, because it is simple and easy. And nowadays more and more applications, especially in DDD use UUIDs. I make such a static method myself for now. I just thought I'm gonna make a suggestion. Further, you know it better if you want to implement that function or not.

[2020-10-19 08:37] neworld opened #2072 "RETURNS_MOCKS causes WrongTypeOfReturnValue occasionally."
Info:

- mockito: 3.5.13 _(The same was with 3.1.x)_
- openJDK: 11.0.8 _(the same was with latest JDK1.8)_
- kotlin: 1.4.10 _(The same was with 1.3.70)_
- Robolectric 4.4 _(The same was with 4.3)_
- with `mockito-inline` _(The same was with mockito 3.1.x, which has not been worked with robolectric)_
- with mockito-kotlin

The problem is:
[code]

The class itself is:
[code]

Creating mock:
[code]

[2020-10-19 10:41] wilkinsona commented on #1980
It took a little longer than I'd hoped, but I've just tried the updated branch and all of Spring Boot's Mockito-related tests now pass with the inline mock maker. Thank you.

[2020-10-19 13:48] #1980 closed

[2020-10-19 13:54] agabrys commented on #1108
I found a working workaround. It requires some code changes, but only in tests. You can add the [groovy.transform.CompileStatic](https://docs.groovy-lang.org/latest/html/gapi/groovy/transform/CompileStatic.html) annotation to the test class. I checked if for the above example.

### Sources
[code]
[code]
[code]
### Broken Test Class
[code]

![failure](https://user-images.githubusercontent.com/10604

[2020-10-21 15:37] rasoulmiri opened #2073 "@spy Mockito for map or switchMap livedata Android"
have a map liveData in view model.

[code]

how can use @spy for open called or not?

[code]
verify for spy and map or switchMap work?

[2020-10-21 18:48] TimvdLippe commented on #2073
This question is probably better suited for StackOverflow: https://stackoverflow.com/questions/tagged/mockito

[2020-10-21 18:48] #2073 closed

[2020-10-21 18:50] TimvdLippe commented on #2072
Could you create a reproduction project that we can run and a debug? My initial thoughts would be that the mock is created by a different ClassLoader and therefore the two don't match. Could you verify that the ClassLoader for both the mock and the `AppGlideModule` are the same?

[2020-10-22 08:40] neworld commented on #2072
Reproduction is complicated because the problem happens on the 250k CLOC project with many robolectric and non-robolectric tests. Let's try to narrow down the problem.

Good idea, I will check.

[2020-10-22 10:58] rasoulmiri commented on #2073
alwasy mockito not work map or switch map

[2020-10-22 15:07] DanielWagner87 opened #2074 "Stubbing in nested test classes in combination with @ParameterizedTest does not work"
## Info

Mockito Version: `mockito-junit-jupiter:3.5.15`
Java Version: `openjdk 14.0.2 2020-07-14`
OS: `macOS Catalina 10.15.6`

## Description

If you use method stubbing in a nested test class in conjunction with `@ParameterizedTest`, the mocked interface always returns `null` starting with the second parameter.

This worked correctly last in the version `mockito-junit-jupiter:3.1.0`.

## Exampl

[2020-10-22 16:11] mockitoguy commented on #2049
@Marcono1234, thank you for good analysis of this feature request.

[2020-10-22 16:14] #2049 closed

[2020-10-22 16:29] NilsDammenhayn commented on #2074
A workaround I found for some cases like these is defining the mocks with `@Mock(answer = org.mockito.Answers.RETURNS_DEEP_STUBS)` and not using `@InjectMocks` but a setup method with constructor for the object that shall be tested.
But looking at the JavaDoc, that does not seem to be the way to go, as it also only works in some cases...

[2020-10-23 17:12] yogurtearl opened #2075 "Andriod API < 24 -> NoClassDefFoundError: Failed resolution of: Ljava/util/Optional;"
With `mockito-android` `3.5.15` on Android API 23 we are getting this error below, it works fine with `3.4.6`

Turning on `coreLibraryDesugaring` would likely fix this for API 23, but that might not be a viable option for all builds.
https://developer.android.com/studio/releases/gradle-plugin#j8-library-desugaring

`java.util.Optional` wasn't added to Android until API 24 (see the Android docs for

[2020-10-23 22:17] TimvdLippe commented on #2075
Is this a duplicate of #2007?

[2020-10-23 22:19] TimvdLippe commented on #2063
Fixed. Thanks for reporting.

[2020-10-23 22:19] #2063 closed

[2020-10-26 05:51] Akshita6 opened #2076 "Mockito error as org.mockito.exceptions.misusing.WrongTypeOfReturnValue on a unit test with doReturn"
I am trying to run this test case but I am getting
[code]

[code]

Full test case
[code]

The actual snippet:

[code]

[2020-10-26 23:24] yogurtearl opened #2079 "Mockito 3.4.0+: VerifyError: InstrumentationImpl.retransformClasses0"
Setup:

[code]

For `/test` in an submodule of an Android project:
[code]

We get this error when mocking a property (getter) of a kotlin class. (kotlin 1.4.10)
Works with Mockito `3.3.3`, but fails with this error on `3.4.0` and `3.5.15`

[code]

I was unable to reproduce on a smaller project.

[2020-10-27 14:13] #1150 closed

[2020-10-27 14:22] mockitoguy opened #2080 "Overhaul CI/CD process"
There are a couple of issues with current CI/CD process:

1. Releases to maven central **always** fail the build even though they actually succeed. The root cause is Bintray plugin bug: https://github.com/bintray/gradle-bintray-plugin/issues/317
2. We cannot release concurrently and version bump commits generate additional CI builds that are confusing. (fix coming: https://github.com/mockito/mocki

[2020-10-27 18:51] abysas opened #2081 "Mockito throws NPE with some combination of mocks"
This is a really weird issue. With Mockito 3.5.15/3.6.0, the following test fails:

[code]

The test fails with NPE:
[code]

If there is no ` java.lang.reflect.Method` mock created (note that it is not used in the test), the test works perfectly.

This test was working with Mockito 3.3.3.

Java JDK: 11.0.3+12-LTS

[2020-10-27 18:52] abysas commented on #2081
Maven project: [annotation-mock.zip](https://github.com/mockito/mockito/files/5447445/annotation-mock.zip)

[2020-10-28 17:37] leonroy opened #2082 "'this' is not available - when enabling mock-maker-inline"
When we enable `mock-maker-inline` in our project and debug a class with `@Spy` annotated on it IntelliJ reports that `'this' is not available`:
![image](https://user-images.githubusercontent.com/325602/97474278-dad7a180-1943-11eb-837a-f6f28a4917a4.png)

When we unset `mock-maker-inline` then things work as expected and we can inspect the class variables:
![image](https://user-images.githubusercon

[2020-10-28 18:23] TimvdLippe commented on #1728
@raphw could you post your thoughts on the status of the subclass and inline mockmakers, given the recent publication of https://openjdk.java.net/jeps/396 ?

[2020-10-28 21:41] joeshannon opened #2083 "Issue with Bundle-Version manifest header when used in Eclipse PDE development"
The MANIFEST.MF currently contains e.g.: `Bundle-version: 3.6.0`

Due to the lowercase 'v' this appears to not be properly recognised by Eclipse PDE so is giving me errors on min versioned require bundle directives.

The standard headers at  https://www.osgi.org/bundle-headers-reference/ define it as `Bundle-Version` (capital V).

After a small amount of research it looks like OSGi specification p

[2020-10-28 21:44] TimvdLippe commented on #2083
Seems like we hit this issue after we fixed an initial typo in #2070. Do you mind sending a PR to change it to a capital V?

[2020-10-28 21:46] #2083 closed

[2020-10-28 21:46] joeshannon commented on #2083
Done, thanks for quick response!

[2020-10-29 00:40] rachmanabdau commented on #2059
I got this error in version 3.6.0 but it works fine in version 2.8.9 while using codelab testing from udacity.

[2020-10-31 19:19] ELTEGANI commented on #2059
yes it works will in 2.8.9 version

[2020-11-02 08:59] raphw commented on #1728
So, the major change that is going to affect us will be the passing of Objenesis. Oracle makes a clear point about this possibility to disappear with serialization being the most common security threat. It will no longer be possible to instantiate any object without calling a constructor.

The inline mock maker avoids this problem by calling the constructor whilst instrumenting them not to run any

[2020-11-02 09:53] david0 opened #2085 "MockitoExtension silently injects same mock twice"
When injecting two mocks of the same type using constructor injection only one mock ends up in the class. I guess its because the parameter names are lost during runtime.
Nevertheless I would rather expect a exception than silently injecting the same mock twice.

Example:
[code]
mockito-junit-jupiter 3.1.0

[2020-11-02 11:49] TimvdLippe commented on #1728
Thanks Rafael for the explanation. Based on that analysis, I guess our question to answer is: Do we want to maintain two mock makers instead of one?

Given the technical details, I would be inclined to choose the inline mock maker over the subclass mock maker, given that it is future-proof. We already hint towards that in our JavaDoc (https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mock

[2020-11-02 21:18] raphw commented on #1728
Well, the inline mock maker is using the subclass mock maker to a large extend. You cannot, for example, mock an abstract class, without creating a subclass of it for the purpose of mocking. Therefore, the maintenance will not be reduced much by removing the official API to the subclass mock maker. As the subclass mock maker can technically be reinstated by tweaking the JVM (to an increasing degre

[2020-11-02 21:42] TimvdLippe commented on #1728
Ah, that is very interesting. I hadn't realized that particular relationship between the mock makers. My ideal solution would be something that is the easiest for users. E.g. it should "just" work. Ideally we have just 1 mock maker for that, but if that isn't possible, then we should at least handle it on the Mockito side.

That said, there seem to be a lot of subtleties involved and I am not sure

[2020-11-03 10:37] usherfu opened #2086 "ClassCastException with mockito when upgrading from JDK8 to JDK12"
Hey,

First of all thanks for the great work.

With following example test case, we are facing an CCE issue when running with JDK12, however with JDK8 there is no problem

[code]

[code]

I understood from previously reported issue #357, that it is due to the bug fix since Java9.   I am trying to follow the discussion (https://github.com/mockito/mockito/pull/1612 and https://github.com/google/erro

[2020-11-05 16:42] #2059 closed

[2020-11-06 10:55] alsutton commented on #2075
I think it's something different because we're seeing a very similar issue and have pinned the version of `objenesis` to 2.6.

We have the following hierarchy; InterfaceA -> InterfaceB -> InterfaceC<Type>, using 3.5.13 we see;

Run all tests in project; Two test classes fail to create mocks of InterfaceA, with `NoClassDefFoundError for InterfaceA$MockitoMock$1225627330`
Run all test methods in bot

[2020-11-07 23:13] yogurtearl commented on #2075
@TimvdLippe  this is because Mockmaker is using `java.util.Optional`.

https://github.com/mockito/mockito/blob/e098342c3cfad32a8b183593aa6719fb66b72674/src/main/java/org/mockito/plugins/MockMaker.java#L93

If you want to support API 23 and older on Android, with `coreLibraryDesugaring` turned off (which is the default), you can't use  `java.util.Optional` at all.

[2020-11-08 18:27] wind57 opened #2090 "Mockito fails (bytebuddy is to blame most probably) with "Could not create type""
This is the sample you can run on your own to see how to re-produce: https://github.com/wind57/mockito-bug-sandbox

It's definitely something with bytebuddy here, because the sample above works in two cases:

if I disable:

[code]

in `Provider.java`

_or_ if I entire remove:

[code]

in `Sandbox.java`

[2020-11-08 18:28] wind57 commented on #2039
@raphw it looks like this one is very much related to :  https://github.com/mockito/mockito/issues/2090 ...

[2020-11-08 22:42] mockitoguy opened #2092 "The target server failed to respond CI issue"
Find solution to this problem on CI:

[code]

Build failure: https://github.com/mockito/mockito/pull/2089/checks?check_run_id=1370793325

[2020-11-08 22:58] plastiv commented on #1919
Android ships with forked java virtual machine tailored for resource limited mobile environments. Historically, Google Android team didn't invest much into keeping android vm on par with desktop jvm. Up until android P (api 28, 2018) android virtual machine doesn't support inlining api. Mockito (or any other mock library) can't rewrite finals at runtime on such androids due to lack of supported ap

[2020-11-08 23:18] mockitoguy opened #2093 "Update CI/CD documentation"
Update CI/CD documentation:
 - release notes location
 - existing release notes file
 - wiki pages
 - README.md
 - CONTRIBUTING.md

[2020-11-08 23:20] mockitoguy opened #2094 "Refactor Gradle wrapper validation workflow to CI workflow"
Refactor Gradle wrapper validation workflow to CI workflow. This way, we CI feedback on PRs is cleaner and easier to use.

[2020-11-09 16:16] mockitoguy opened #2095 "Implement [ci skip release] in the CI pipeline"
Make it possible to skip release when pushing changes to the repo. Our README.md currently documents that we can skip releases by adding "ci skip release" keyword to the commit message.

Reference example: https://github.com/shipkit/shipkit-auto-version/commit/7a8ada573e3d8f183b9101b716a261612db30f87

[2020-11-10 05:43] edubrusch commented on #1471
Hey, I tried this, but no can do.
If you people don't mind I'd like to share my thing to see if you could take a look. Appreciate the attention.

I'm using the embbeded mockito from Spring boot Starter Test and the  annotation

**Bould.gradle** (part of it)

[code]

**Test Class**

[code]

Didn't mock the converter up in the declaration though.
Any thoughts?

[2020-11-10 16:33] mockitoguy opened #2097 "Consider reducing CI execution footprint"
Right now we are running CI for:
 - branch pushes
 - PRs

This causes redundant builds to be triggered (example, see actions triggered for PR #2096). Redundant builds clutter the UI (reducing dev experience) and may count against our quota of free open source builds. This issue has been discussed on GH before: https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both

[2020-11-10 16:33] #2094 closed

[2020-11-10 21:33] MatMercer commented on #1325
Just to give feedback for everyone:

using the 2 dependencies with Java 11 and mockito 3.5.15

mockito-core
mockito-inline

Successfully removes the warning. If I don't add the mockito-inline dependency, the warning continues.

[2020-11-10 22:36] raphw commented on #2090
The problem is your class. `Sandbox` defines these two fields:

[code]

When the `SSLContext` is defined, the methods for it return `null` what causes an exception during class initialization. This prevents the class from being initialized and therefore loaded what fails the instrumentation.

I tried to add an improved error message in this PR: https://github.com/mockito/mockito/pull/2098

[2020-11-10 23:10] raphw commented on #1325
Great, thanks for the feedback. I tested it pretty thoroughly this time and even when prohibiting access, Mockito seems to work without any issues on the inline mock maker. There's one edge cases when mocking a generated class without any constructor but that I don't believe many will run into.

[2020-11-11 00:35] wind57 commented on #2090
Thank you Rafael, but that `return null` was only to simply the test. If i replace with:

[code]

I would get the same problem. What is more weird is if I do not do any changes at all and simply remove one of the providers :

[code]

it would still fail. I still don't think this has anything to do with the example set-up...

[2020-11-11 08:35] raphw commented on #2090
Did you remove both static fields? Try running a test that only contains:

    ClassLoader.forName(Sandbox.class.getName(), true, Sandbox.class.getClassLoader())

And see if it fails. I assume that it still does.

[2020-11-11 12:22] nathanmcdonaldtr opened #2099 "verifyNoInteractions doesn't respect ignoreStubs"
This test works:
[code]

but complimentary test doesn't work:

[code]
get warning:

org.mockito.exceptions.verification.NoInteractionsWanted:
No interactions wanted here:
-> at DomainServiceTests.testDeleteNonDeletableDomain
But found these interactions on mock 'domainClient bean':

found can fix this by changing to verifyNoMoreInteractions, but this seems to not meet expectations.  I really am wa

[2020-11-11 19:01] wind57 commented on #2090
oh! I see your point now, I stand corrected. I also like very much the addition of the actual error that will happen.

[2020-11-11 19:01] #2090 closed

[2020-11-11 23:44] lllewellyn commented on #1873
I encountered a similar issue in Mockito 3.6.0 and JUnit 5 (using MockitoExtension).

My test violated this condition from the error message:

    Please use default or 'silent' JUnit Rule (equivalent of Strictness.LENIENT).

Even adding `lenient()` before the call didn't help in my case. And I could not use `doCallRealMethod()` because one of the overloaded methods was marked 'final'.

I inherite