[2017-11-02 19:55] raphw commented on #1239
Think it makes sense to add a check since we have it. Without it, the project will just always be inconsistent.

[2017-11-02 19:57] tasomaniac opened #1241 "cccccceukbvfknbbjtfcufdcvutdjcfhhkjftkdrcvnl"
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2017-11-02 19:57] #1241 closed

[2017-11-03 00:55] singuva commented on #1102
A simpler example that seems to show this behavior on Scala 2.11.11:

[code]

[2017-11-03 12:32] sormuras opened #1243 "Provide Java 10 compatibility"
I ran the JUnit 5 build on jdk-10-ea and encountered a Mockito-related issue.

[code]

See full log at: https://travis-ci.org/junit-team/junit5/builds/296747184
See JUnit 5 issue that tracks JDK-9+ related issues at: https://github.com/junit-team/junit5/issues/1063

I guess, there's command line switch that transforms the exception into a warning.

[2017-11-03 12:36] TimvdLippe commented on #1243
:cold_sweat: And we were just able to fix compatibility issues with JDK9 :joy: Is there a small reproduction example that we can add to our test suite and debug with?

[2017-11-03 13:26] sormuras commented on #1243
No, no small sample, yet. But I guess you'll similar issues when adding a "jdk-10" axis to your Travis CI build matrix. You're welcome to copy the installation script from https://github.com/junit-team/junit5/blob/jdk-10/src/scripts/install-jdk.sh ... usage in `.travis.yml` could look like:
[code]

[2017-11-03 13:56] sormuras commented on #1243
It's ByteBuddy, @raphw `java.lang.IllegalArgumentException: Unknown Java version: 10
	at net.bytebuddy.ClassFileVersion.ofJavaVersion(ClassFileVersion.java:135)`

[code]

[2017-11-03 13:59] TimvdLippe commented on #1243
Okay, that should be an easy fix: https://github.com/raphw/byte-buddy/blob/032d63eefca08d33b45e85e184dad28f752c6d76/byte-buddy-dep/src/main/java/net/bytebuddy/ClassFileVersion.java#L133 that depends on lines like https://github.com/raphw/byte-buddy/blob/032d63eefca08d33b45e85e184dad28f752c6d76/byte-buddy-dep/src/main/java/net/bytebuddy/ClassFileVersion.java#L72

E.g. if ASM defines an Opcode for J

[2017-11-03 14:01] sormuras commented on #1243
...every 6 month. 🎉

There must be better solution. Mock w/o generating byte code? Proxies? ;)

[2017-11-03 14:14] TimvdLippe commented on #1243
@raphw (I assume you have an OW2 ASM account, if you don't I can do it as well)

Could you open an issue over at their gitlab (https://gitlab.ow2.org/asm/asm/issues) to add support for Java 10 (and to make sure they update on time for future Java releases)?

[2017-11-03 15:49] TimvdLippe commented on #943
I am closing this ticket, as we have no immediate plans to do this at the moment. We might have to revisit later, but we can reopen the discussion then.

[2017-11-03 15:49] #943 closed

[2017-11-03 15:50] TimvdLippe commented on #787
This appears to have been fixed on both master and 2.x.

[2017-11-03 15:50] #787 closed

[2017-11-03 22:55] #1233 closed

[2017-11-04 11:24] TimvdLippe commented on #1243
All right, issue has been filed upstream at https://github.com/raphw/byte-buddy/issues/370 We can close this issue once BB is fixed and bumped in Mockito

[2017-11-04 13:30] mockitoguy commented on #1243
Nice! Thank you for following up on this!

[2017-11-04 13:30] mockitoguy commented on #1233
Happy to see this fixed!

[2017-11-04 13:35] mockitoguy commented on #1239
Absolutely +1. Thank you!

[2017-11-04 14:34] TimvdLippe opened #1246 "Switch Mockito test suite over to JUnit5"
With the MockitoExtension in development for JUnit 5 (#1221), we can then switch over Mockito's internal test suite to JUnit5. We will need to figure out how this all works, as we also have the runner and junit5 is currently proposed as subproject (because of Java 6 vs 8 compatibility issues). This is mainly a tracking issue to make the switch someday.

[2017-11-04 15:25] TimvdLippe commented on #531
I am closing this issue, as with JUnit5 we can now have 1 single implementation with `@ExtendWith`. We can keep the current JUnit4 implementations as-is.

[2017-11-04 15:26] TimvdLippe commented on #611
This has been implemented in https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md

[2017-11-04 15:26] #611 closed

[2017-11-04 15:26] TimvdLippe commented on #666
Closing this as the current file has been removed.

[2017-11-04 15:26] #666 closed

[2017-11-04 15:26] TimvdLippe commented on #668
This should be fixed with our adoption of Shipkit.

[2017-11-04 15:26] #668 closed

[2017-11-04 15:28] TimvdLippe commented on #684
This should be fixed with our adoption of Shipkit with the corresponding algorithm in https://github.com/mockito/shipkit/issues/84

[2017-11-04 15:28] #684 closed

[2017-11-04 15:32] TimvdLippe commented on #766
We are in a lot better state right now. Most of the subproject gradle files are clean, or as clean as they can be. Most of the logic is now in `java-library.gradle`. Other than that, we extracted our common dependency versions in `dependencies.gradle` per #1075 Lastly most of the release logic has been extracted into Shipkit.

All in all, I think most of the issues have been addressed, thus I am c

[2017-11-04 15:32] #766 closed

[2017-11-04 15:33] TimvdLippe commented on #900
This should be fixed in Shipkit now.

[2017-11-04 15:33] #900 closed

[2017-11-04 15:34] TimvdLippe commented on #784
This is now filed in Shipkit under https://github.com/mockito/shipkit/issues/536

[2017-11-04 15:34] #784 closed

[2017-11-04 15:40] TimvdLippe commented on #618
Over the past half year, we have been using Shipkit to enable our continuous delivery story. We published our rationale in https://github.com/mockito/mockito/wiki/Continuous-Delivery-Details and described how we tackled this issue. All versions are still automatically published to Bintray to enable users to opt-in frequent updates. Other users can rely on the Maven Central release, which is publis

[2017-11-04 15:40] #618 closed

[2017-11-04 15:40] TimvdLippe commented on #708
This has been implemented as https://github.com/mockito/shipkit per rationale described in #618.

[2017-11-04 15:40] #708 closed

[2017-11-04 15:41] TimvdLippe commented on #1019
Related issue in #1233 and was recently removed from our build system.

[2017-11-04 15:41] #1019 closed

[2017-11-04 15:42] TimvdLippe commented on #911
Closing this per rationale in #618 and our implementation available at https://github.com/mockito/shipkit

[2017-11-04 15:42] #911 closed

[2017-11-04 15:43] TimvdLippe commented on #941
https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md looks a lot better now. This was probably fixed during work on https://github.com/mockito/shipkit/issues/9

[2017-11-04 15:43] #941 closed

[2017-11-04 15:44] TimvdLippe commented on #710
This issue was filed upstream at https://github.com/mockito/shipkit/issues/75

[2017-11-04 15:44] #710 closed

[2017-11-04 15:46] TimvdLippe commented on #696
The duplicate entries seem to be fixed now: https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md

[2017-11-04 15:46] #696 closed

[2017-11-04 15:58] TimvdLippe commented on #989
This was fixed in #989

[2017-11-04 15:58] #989 closed

[2017-11-04 16:30] TimvdLippe commented on #925
Filed upstream at https://youtrack.jetbrains.com/issue/IDEA-181685

[2017-11-04 16:31] TimvdLippe commented on #1152
Closing per above comment. Thanks for the effort and extra explanation @elizarov !

[2017-11-04 16:31] #1152 closed

[2017-11-04 22:00] szpak commented on #531
@TimvdLippe What do you mean by "come up with a simple story during JUnit5 integration"? There are still many people using JUnit 4. I agree with @ChristianSchwarz that the `@Rule` could be better exposed in the documentation. IMHO it would be a quick win to do some docs update. @mockito/developers What do you think about that?

[2017-11-04 23:09] TimvdLippe commented on #531
As we are building the JUnit5 integration, I would say we should promote JUnit5 from now on. As such, I thought it wouldnt make sense to keep promoting JUnit4 specific implementations.

Given the lack of activity on this ticket, I assumed this was neither a priority, so I closed the issue. Reopening if you still want to pursue it :)

[2017-11-05 09:41] szpak commented on #531
@TimvdLippe I missed the original creation date :(.

@ChristianSchwarz Do you still want to work on it (or having involved in the JUnit 5 integration you don't see it as important thing?

[2017-11-05 10:50] #1239 closed

[2017-11-05 13:33] TimvdLippe opened #1248 "fetchContributors always run, even when not releasing"
The task `fetchContributors` is always run, even when I am not calling `performRelease`. This happens when I execute `./gradlew clean test` or `./gradlew clean build` for example. Would be great if this task is not executed if I am not invoking any release task.

[2017-11-05 13:41] TimvdLippe commented on #1174
So I debugged this issue and it happens because generics are removed on run-time. As such, Mockito can only see that the return type is `Collection`. The whole reference to `T == ArrayList` has been reassured. Therefore, we have no way in knowing what the type should be and we do a best guess. This throws an exception, as it doesn't conform to the actual generics which is thrown in the `CHECKCAST`

[2017-11-05 13:45] TimvdLippe commented on #1223
My 2 cents: I am not sure this is something we as Mockito developers have to pursue. Feel free to write the plugin yourself and maybe we can add a mention of it in our documentation as a potential solution.

[2017-11-05 14:56] TimvdLippe opened #1249 "Investigation public API Mockito"
This ticket tries to summarize which features are similar in our public API. The intention is to give an overview of which code we have to maintain, as well as trying to identify inconsistencies and confusion between various API's

# Stubbing
There are 9 ways to stub a method:

[code]

And there are 2 ways to call the real method:

[code]

The existence of 2+ ways to achieve the same thing, is bec

[2017-11-05 15:26] raniejade commented on #1240
I'm also unable to mock a final class, I'm using JDK 9 and the project is using kotlin. I'm not sure if it's a related issue, I did try to do some debugging but to no avail. Interestingly, only the first mock fails.

[code]

Complete stacktrace:

[code]

[2017-11-06 04:00] mockitoguy commented on #1249
Thank you for submitting this ticket! Some feedback:

- I would love to see how important to our users are changes to Mockito public API. We also have other opportunities to make Mockito great. My intuition tells me that if we have capacity for working on big changes, we should look at all the opportunities to make Mockito better.
- if we want to drive substantial changes to the API, we need to wo

[2017-11-06 15:39] mockitoguy commented on #1223
Thank you for reporting @tmurakami!

It is not clear to me how such plugin would work.

Can you hack on Mockito codebase and submit a PR? This would help us understand what you mean by the plugin. Do you need new public API from Mockito or you can rely on existing MockMaker API (or one of our other extensions).

[2017-11-06 20:05] raphw commented on #1243
This is fixed on master and will be part of the next Byte Buddy update.

[2017-11-06 20:10] TimvdLippe commented on #1243
@raphw Awesome work with the speedy fix. Soon we will need to enable Java 10 testing on Travis too, but let's create a separate issue for that 😄

[2017-11-06 20:35] raphw commented on #1243
I wonder if they already make the images accessible. But I agree: there will probably be regular breakages, what makes monitoring it worthwhile.

[2017-11-06 20:41] sormuras commented on #1243
You can install JDK10 via https://github.com/junit-team/junit5/blob/jdk-10/src/scripts/install-jdk.sh

[2017-11-06 22:14] #1243 closed

[2017-11-06 22:56] sormuras commented on #1243
Thanks for the fix @raphw

Fixed issue from the initial description via https://github.com/junit-team/junit5/commit/68d801aeb34e9964a77d622b0ab3c267151954e1

[2017-11-06 22:57] TimvdLippe commented on #1243
We are publishing a new version as we speak. Should land in maven central by tomorrow or so 🎉

[2017-11-07 07:05] lvc opened #1251 "API changes report for Mockito"
Hi,

I'd like to share report on API changes and backward compatibility for the Mockito library: https://abi-laboratory.pro/java/tracker/timeline/mockito/

BC — binary compatibility
SC — source compatibility

The report is generated according to the article https://wiki.eclipse.org/Evolving_Java-based_APIs_2 by the https://github.com/lvc/japi-tracker tool.

Hope it will be helpful for users and ma

[2017-11-07 10:50] TimvdLippe commented on #1251
We have previously looked at this tool. The main problem back then was that it was unable to remove `org.mockito.internal` classes from the report. It seems that it is able to deal with that now.

Some comments:

1. [2.1.0-2.2.29](https://abi-laboratory.pro/java/tracker/compat_report/mockito/2.1.0/2.2.29/f8d65/bin_compat_report.html) `MockitoFramework.addListener ( MockitoListener p1 ) [abstract]

[2017-11-07 11:06] TimvdLippe commented on #1243
https://bintray.com/mockito/maven/mockito/2.12.0 has been published. Doesn't show up in https://mvnrepository.com/artifact/org.mockito/mockito-core but I think it should "just work".

[2017-11-07 19:09] mbogner commented on #978
Hello,

I tried using Mockito with the MockMaker extension and JMockit in the same project. If JMockit is found on the classpath I get the exceptions below. The build is running on an actual Ubuntu 16.04 LTS with latest Oracle JDK 8u152 triggered by a Jenkins server with gradle 4.2.1.

If someone would tell me how to add `-XX:+StartAttachListener` to my gradle build would be nice - then I would gi

[2017-11-07 20:20] shark300 commented on #1174
If I understood java virtual machine documentation correctly in this case there is an INVOKESPECIAL and erased type before INVOKEVIRTUAL.

[2017-11-08 06:31] realvalkyrie opened #1252 "mock(Class<T> classToMock, String name) name was ignored"
i have run the test named "InjectionOfInlinedMockDeclarationIssueTest"
and try to modfied the name of the mock  failed with testing
, by it always passed test

`
@RunWith(MockitoJUnitRunner.class)
public class InjectionOfInlinedMockDeclarationIssueTest {

    @InjectMocks private Receiver receiver;
    @InjectMocks private Receiver spiedReceiver;

    private Antenna oldAntenna         = mock(Ante

[2017-11-08 06:34] realvalkyrie commented on #1252
opt1 will passed test
opt2 and opt3 should failed with test

[2017-11-08 09:26] raphw commented on #978
That is strange as the exceptions root seems to come from the JVM:

Caused by: com.sun.tools.attach.AttachNotSupportedException: no providers installed

I have no idea how this can be caused by using JMockit other than that it might install its own agent and break the self-attachment mechanism somehow. Have you consulted their mailing list?

[2017-11-08 10:34] tmurakami commented on #1223
What I was considering was a Java Agent which removes final modifier when loading class.
However, I might have come up with a better way to solve this problem.

Problems such as #1000 and #1005 occur because stack map frames are incorrect.
Then, I came up with an idea to compute the frames of those methods before `InlineBytecodeGenerater` redefines them.

As a workaround, when I introduced the fol

[2017-11-08 11:02] TimvdLippe commented on #1252
Yes this looks like a bug. Feel free to submit a PR, as the core team is busy with other tasks at the moment, we will likely not get to this issue soon.

[2017-11-08 13:33] DCRichards opened #1253 "Unable to merge dex error when using Mockito as androidTestImplementation"
Android Studio: 3.0
Gradle plugin: 3.0.0
Mockito: 2.11.0

I encounter the following issue when trying to use Mockito in instrumented unit tests:

I have the following test dependencies in `build.gradle`:

[code]

Has anyone else had this issue? I have also included the [linkedin dexmaker for mockito](https://github.com/linkedin/dexmaker) to attempt to remedy the issue, to no avail. Any help on thi

[2017-11-08 13:41] TimvdLippe commented on #1253
Hm we have not received any other issues in this regard. I have 2 questions that could help debugging:

1. If you remove `mockito` from your gradle file, do you still have the error? (You might need to comment all tests that are using Mockito). If the error persists, it is not an error with Mockito.
2. If removing Mockito removes the error, then we have an incompatibility between packages. I suspe

[2017-11-08 14:18] DCRichards commented on #1253
Thanks so much for being so fast @TimvdLippe! I barely even had time to make a coffee and stare at it longingly 😆

1. Removing `androidTestImplementation 'org.mockito:mockito-core:2.11.0'` does resolve the issue, so it appears to be `mockito` related.
2. Changing to `mockito-android:` does not resolve the issue.
3. Neither does removing the robolectric dependency.

Hmm.....

[2017-11-08 14:26] TimvdLippe commented on #1253
Could you create a minimal reproduction product that we can check out and run? Preferably with as few code as possible, but enough to show the exception.

[2017-11-08 14:28] DCRichards commented on #1253
Sure! I'll post the link to the repo here when it's done.

[2017-11-08 14:50] DCRichards commented on #1253
Ah, adding `multiDexEnabled true` resolved the issue. That's super weird considering I have very few dependencies. These are all I have before my test dependencies:

[code]

[2017-11-08 14:51] DCRichards commented on #1253
It must be that mockito was the dependency which pushed it over 64k? I'm still not sure that can be right though....

[2017-11-09 15:24] ChristianSchwarz commented on #1005
The Android Framework Team is going to provide better mock support with `dexmaker-mockito-inline` see PR: https://github.com/linkedin/dexmaker/pull/68

[2017-11-09 17:57] tmurakami commented on #1005
@ChristianSchwarz, thank you for your information.
However, that PR will not solve this issue.

Generally, an Android project has two kinds of tests.

1. [Local Unit Tests](https://developer.android.com/training/testing/unit-testing/local-unit-tests.html?hl=en) (on JVM)
2. [Instrumented Unit Tests](https://developer.android.com/training/testing/unit-testing/instrumented-unit-tests.html?hl=en) (on

[2017-11-10 09:18] ming13 commented on #1183
Just checked the 2.12.0 and the issue seems to be fixed indeed. Thanks!

[2017-11-10 10:07] ming13 opened #1254 "Wanted but not invoked on 2.12.0, but not on 2.11.0"
After updating Mockito from 2.11.0 to 2.12.0 the following test fails with `Wanted but not invoked`.

The weird thing is this happens only when running tests using Gradle. Android Studio runs the same test as successful. Just like #1183.

[code]
[code]

[2017-11-10 12:24] Stephan202 commented on #1254
I'm observing a similar issue. Only happens with `mockito-inline`. Don't have time right now to distill the affected tests into a minimal reproduction case. Maybe @raphw has a hunch.

[2017-11-10 12:54] Stephan202 commented on #1254
Alright, decided to look for a minimal reproduction case after all. This is what I came up with:
[code]

Causes:
[code]

This test does pass with Mockito 2.11.0. It also passes with Mockito 2.12.0, provided `mockito-inline` is disabled.

[2017-11-10 14:05] TimvdLippe commented on #1251
Closing this issue as there is no actionable item for us. Hopefully our feedback was useful @lvc

[2017-11-10 14:05] #1251 closed

[2017-11-10 15:33] mockitoguy commented on #1248
I agree completely. Thank you for reporting!

Can you report issues and feature requests directly to Shipkit issue tracker? This helps us manage the tickets :)

[2017-11-10 21:54] olivierg13 opened #1255 "ArgumentMatchers support for @NonNull / Kotlin non-null"
Hello folks,

There is an issue when using ArgumentsMatcher.eq() method with either:
- A Java @NonNull annotated param
- A Kotlin non-null param

Example (in kotlin):
- Let's say you have a method:
`doSomething(test: String) {...}`
- When trying to do:
`Mockito.verify(mock).doSomething(ArgumentMatchers.eq("toto"))`

At runtime the test is going to fail with message:
`java.lang.IllegalStateExceptio

[2017-11-10 22:12] TimvdLippe commented on #1255
I am going to publish a prototype soon that can probably address this issue.

On Fri, 10 Nov 2017, 22:54 Olivier Goutay, <notifications@github.com> wrote:

[2017-11-11 04:56] lvc commented on #1251
Hello,

    2.6.9-2.7.22 MockSettings.useConstructor ( ) [abstract] : MockSettings now has varargs argument Object... which is also backwards compatible.

Yes, both cases are source-compatible. And this is stated in the report in the `SC` section. But both cases break binary-compatibility with the `NoSuchMethodError` exception when trying to call these methods by old clients without recompile.

I'

[2017-11-11 09:58] Stephan202 opened #1256 "Unbounded recursion when spying with `mockito-inline`"
Consider the following code:
[code]

Running it causes a `StackOverflowError`:
[code]

Tested with Mockito 2.11.0 and 2.12.0. Do not happen if I disable `mockito-inline`. CC @raphw.

[2017-11-11 14:37] TimvdLippe commented on #1248
Ah right. Done at: https://github.com/mockito/shipkit/issues/566

[2017-11-11 14:37] #1248 closed

[2017-11-11 16:31] rgroothuijsen commented on #1196
From what I can see, the matcher explicitly excludes a method from being stubbed in a child class if one of the parameters is of a type which is not visible to that class. This is part of the matching rule for the method, and as far as I can tell, the part where it fails.

`hasParameter(not(whereOne(hasType(erasure(not(isVisibleTo(class org.mockitousage.bugs.packageprotected.bar.ChildClassInAnothe

[2017-11-12 18:03] raphw commented on #1254
Probably another error in the logic for self-invocation detection. I will have a look!

[2017-11-12 18:03] raphw commented on #1256
I will have a look, thanks!

[2017-11-12 21:30] TimvdLippe commented on #697
Filed upstream as https://github.com/mockito/shipkit/issues/567

[2017-11-12 21:30] #697 closed

[2017-11-13 00:25] tkruse commented on #1207
Reported to Powermock, they suggest to try PowerMock2 Beta

https://github.com/powermock/powermock/issues/867

[2017-11-13 21:18] raphw commented on #1256
The problem is that we use a hash map internally to store mock dispatchers. We need to exclude this map from checking for being a mock explicitly as the check involves reading from the map what triggers the recursion.

[2017-11-13 21:19] raphw commented on #1254
Ok, this was just me forgetting how my implementation intially worked.

[2017-11-13 21:23] raphw commented on #563
I siggest to add a property `org.mockito.lock.singleton` that allows to use a single lock for all mock classes as it was done before. This reduces concurrency and can therefore reduce performance but I cannot see how our locking is the root cause for these locks. I assume that there is a tricky scenario with regards to class loading that is not caused by us but triggered via our explicit loading w

[2017-11-14 03:28] eetech commented on #1207
Thanks guys

[2017-11-14 09:33] digulla commented on #792
I also found a use case:

I'm mocking ZK which uses a lot of map-like structures which are exposed via accessors (`getAttributes()`, `getAttribute(String)`, `getAttribute(String, boolean)`, `setAttribute()`, ...).

In my test setup, I create a map and I'm using `thenAnswer()` and `doAnswer()` to link the accessor methods to my test map. The code then looks like this:

[code]

I need this code bloc

[2017-11-15 22:13] TimvdLippe commented on #925
Response of JetBrains at https://youtrack.jetbrains.com/issue/IDEA-181685#comment=27-2527142

[2017-11-17 05:23] saikumar-a opened #1259 "Create class to assert return objects"
Create a class `ResultCaptor `the one like below to assert return objects. Check [here ](https://stackoverflow.com/questions/7095871/mockito-spy-how-to-gather-return-values/25694262#25694262) for detailed explanation.

[code]

[2017-11-17 09:42] ryandm opened #1260 "anyInt() neither fails nor takes effect when used as long"
This issue slows down adoption of Mockito2. I've recently upgraded a reasonably large amount of code onto Mockito2, and a significant pain point (time drain) has been that `anyInt()` could be passed as a `long` argument to a method being mocked with no failure, yet the mock does not take effect.

Similar to the options outlined at #1204, it would be less confusing if either (1) there is a failure

[2017-11-17 13:59] StanislavChumarin commented on #1254
Same for mocked methods on Spy. On 2.12.0 real method is called.

[2017-11-17 20:46] StephenSeltzer opened #1261 "re-Passes"
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2017-11-17 21:12] TimvdLippe commented on #1261
I think opening this issue was a mistake, as none of the information is filled in.

[2017-11-17 21:12] #1261 closed

[2017-11-17 23:34] pardisb opened #1262 "Documentation mistake"
I think the documentation here is wrong:
https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/Mockito.java#L1646

I believe the doReturn() syntax should be used there instead. At least when I do that it works but when I do the when(myFoo.myMethod()).thenReturn() that line itself runs the real impl of myMethod.

[2017-11-19 15:28] mbogner commented on #978
@raphw Not yet. I was looking into this because I could remember something about IBM JDK and stuff like that. But its a simple Ubuntu VM with Oracle JDK. No clue yet. But found out, that using powermock with an actual milestone works good enough for mocking static classes (hint for the others!!).
I think everybody would really appreciate having the possibility to do this in mockito directly instea

[2017-11-19 18:32] mockitoguy commented on #925
I glossed over the upstream ticket and it seems JetBrains folks suggested a strategy that we can try out. Can you explain why do you want this ticket to be closed?

BTW. thanks a lot for filing the ticket to JetBrains guys!!!

[2017-11-19 18:33] TimvdLippe commented on #925
I closed it expecting it to be fixed upstream. However, upstream indicated they wont fix it, so we can reopen.

[2017-11-20 03:06] mockitoguy commented on #792
@digulla, thank you for reporting! Some feedback:

- The code looks really hard to read (many lines of mock interactions). I suggest to rethink testing strategy, refactor the code under test so that it is easier to test, or roll out hand mocks.
- Given above, we cannot consider it as a legit use case. We want to avoid implementing features / API for code that should be cleaned up / refactored for

[2017-11-21 10:04] mbogner commented on #978
Wrote a simple reproducer for this. It is working on my Mac running with High Sierra and Java version (8u152). The build server (ubuntu 16.04LTS with all updates) has the same.
Also attached the whole build output from "./gradlew clean build --debug --stacktrace".

[reproducer.zip](https://github.com/mockito/mockito/files/1490837/reproducer.zip)
[error.log.zip](https://github.com/mockito/mockito/f

[2017-11-21 13:12] tpd-opitz opened #1266 "Documentation: Don't mock types you don't own!"
I'd say the "Don't mock type you don't own!" is the false conclusion out of the right reasoning.

Unittests should only need to be changes if *your API* changes or the part of an API of a dependency *your code uses*.
#### example:

Furthermore your Unittest should only fail because the behavior of *your code* changed, not because of a change in the dependencies behavior. Changes in a dependencies

[2017-11-21 14:30] bric3 commented on #1266
In practice nobody does that.

That's precisely the point, with mocks the unit tests won't fail, while the third party library or the JVM, changed in behavior.

[2017-11-21 15:40] digulla commented on #792
@mockitoguy  Sorry, that doesn't help at all.

With ~200K on StackOverflow, that was the most simple solution I could come up with. You're welcome to show me a better solution.

The testing strategy is sound. It doesn't break easily or unexpectedly and is easy to understand for new members of the team. I could copy only the necessary lines to new tests but that would mean I would be the only one w

[2017-11-21 17:48] tpd-opitz commented on #1266
Sure, because it is quite unlikely that dependencies change in a way that affects the correctness of my application. This is at least my experience in 15+ years Java development.

I argee.

But I argue that this is a bad thing.

[2017-11-21 21:15] raphw commented on #978
Ok, it seems like the JMockit library copied some classes from the VM into its jar file and this blows up the attachment attempt as Byte Buddy (and therefore Mockito) gets to see this bogus code. The jar contains classes that are not supposed to exist on the JVM and goes down the wrong path.

The reason this fails from gradle and not from IntelliJ are subtleties in class loading.

I suggest to rep

[2017-11-22 04:14] mockitoguy commented on #792
Thank you for describing your context! Let me think about this and I'll get back.

[2017-11-22 16:08] radsz opened #1267 "test passes normally, however during debuging an exception is thrown by Mockito"
Hi,

I moving test code from Mockito version 1.10.19 to 2.12.0.

I am not using Mockito runner. @RunWith(SpringJUnit4ClassRunner.class)

My @Before method has the following
mockitoSession = Mockito.mockitoSession().initMocks(this).strictness(Strictness.STRICT_STUBS).startMocking();
My @After method has
mockitoSession.finishMocking();

In my test class I have
@Mock
private IStockService stockServic

[2017-11-22 19:30] digulla commented on #792
I guess my use case is "I'm writing a mocking framework for some commercial API which helps other developers to write tests." That means I'll always overmock. In my case, I have to mock several Map-like APIs which are exposed in several beans without a common interface (just like the attribute maps in J2EE ServletContext and ServletRequest and the headers in ServletResponse).

[2017-11-22 19:54] GregDThomas commented on #792
@digulla that pretty much matches my use case too. IMHO a good solution would be to be able to specify ‘Silent’ at mocked object level rather that the test class level.

[2017-11-24 12:52] lemartin commented on #1255
The `eq` problem can be addressed quite easily. A different name was only chose to not get into import hell.
[code]

[2017-11-26 23:36] mockitoguy commented on #792
I like the idea of adding new public API for this use case.

@digulla, with my earlier reply, I did not intend to depreciate your efforts in getting clean tests for your entire team. It’s great that you’re pushing for this!

The use case you describe could be solved more cleanly with hand stubs. Sometimes simpler code is actually more code :) What do you think about this idea:
 - noop implementati

[2017-11-27 08:34] GregDThomas commented on #792
I did wonder about something like ...

[code]

as well, but I wonder if that syntax would over-encourage people to use the feature; IME I think the sort of test frameworks, fixtures etc. where I see this to be most useful probably use the mock(Foo.class) mechanism for instantiating mocks.

[2017-11-27 08:41] ChristianSchwarz commented on #792
@mockitoguy

I see a third one. As discussed in the JUnit 5 PR (#1221) and the [mockito google group](https://groups.google.com/forum/#!topic/mockito/R1L1aG2RgBQ) I would like to propose an annotation base approach that can be applied also at test-class and test-method level. This keeps the API consistent and slim (at least when JUnit5 is used).

[code]

[2017-11-27 10:53] about-midnight commented on #1053
Any progress?

Experiencing the same issue:
1) Create a kotlin class with a public method
2) Mock this class
3) Real public method gets called instead of the mocked one.

testImplementation 'org.mockito:mockito-core:2.11.0'

[2017-11-27 10:57] liangxianshen commented on #910
All the solutions above have been tried, or not

[2017-11-27 16:15] eder7 opened #1269 "Consecutive stubbing fails when using `thenThrow` at first"
Hi,

basically it's possible to change one stub's behaviour by again stubbing the same method of the same mock. Here an example:

[code]

But when you do this...

[code]

...it throws the `IllegalStateException` right away during stubbing. Note that it's just a problem with `thenThrow`, not when you use `thenReturn` as the first line. This is due to mockito calling the stub answer instead of just

[2017-11-27 16:36] TimvdLippe commented on #1269
This is a duplicate of #1237 and a prototype is available in #1264. Thanks for reporting though! Apparently multiple people are hitting this issue.

[2017-11-27 16:36] #1269 closed

[2017-11-28 03:35] mockitoguy commented on #792
@ChristianSchwarz, you're right! Sorry for discounting the annotation option.

[2017-11-28 09:13] eder7 commented on #1269
Thanks for having a look! @TimvdLippe

[2017-11-28 16:47] #904 closed

[2017-11-28 21:54] #1254 closed

[2017-11-28 21:54] #1256 closed

[2017-11-29 03:47] mockitoguy commented on #792
I plan to tidy up this ticket in the next few days so that it documents the use case, the implementation options and the desired implementation.

@ChristianSchwarz, strictness per method is not an ideal solution for the use case described in this ticket:
 1. every time someone uses shared stub object, he needs to remember to use lenient strictness on the method level
 2. method level strictness tu

[2017-11-29 11:27] ChristianSchwarz commented on #792
@mockitoguy

Thats why I proposed to use the `@Strictness` annotation at field level for this use-case too.

The `@Strictness` annotation at field level would also fit into the annotation proposal for JUnit5.  This in return would lead to a clean single API, where strictness is defined at field, method and class level the same way using `@Strictness`.

I would prefer option 1 cause:
 * It feels co

[2017-11-29 17:43] mockitoguy commented on #792
That's fair!

Let's discuss the 2 contention points:

1. It is awkward that some mock properties are configured as parameter of the existing @Mock annotation, while some other (Strictness) is a standalone annotation.
2. We need to support Strictness at mock level via imperative API, e.g. "withSettings().lenient()" method (or something like that). This is one of our principles of API development (w

[2017-11-29 20:11] digulla commented on #792
@mockitoguy  Re "hand stubbed": That doesn't work since Java doesn't allow multiple inheritance. I just pasted a small part of the actual test setup. My setup class can mock several aspects of the ZK API: Session and request attributes, event queues, view models, injection. What I end up with a mix of lenient and dedicated mocks.

With a hand stubbed approach, I would have to copy a lot of code fr

[2017-11-30 04:44] mockitoguy commented on #792
Thank you for reply! I'm still interested in your use case hence my further questions.

Why? Hand stub implementation should have all the common reusable code. In the test, you can just call "mock.setupEventPublishing()" or something like that.

Provided that we add both: stubbing + mock level strictness setting, then you have 2 options:

1. Only add "withSettings().lenient()" at mock creation tim

[2017-11-30 14:27] digulla commented on #792
@mockitoguy Thanks. I feel that I don't have a completely clear picture, yet.

So a base class with a lot of empty methods and then using spy() to overwrite them? That might work but I don't like spy() (had too many problems with that approach in the past).

It still feels like more effort than simply wire a map methods to API methods using `Answer`.

Option #1 is too coarse for me. With option #2

[2017-11-30 16:13] SeriyBg commented on #1260
I can try to work on this one. Is it confirmed as an issue? What is the desired behavior? And, maybe someone can point me to the right direction.

[2017-11-30 16:21] TimvdLippe commented on #1260
Hm, I am torn on this one as this is actually intended behavior imo. While I do agree that the difference between Mockito 1 and 2 is annoying, per https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#incompatible the types passed are now actually checked. This means that a long is not of type int and thus `anyInt` will not match.

The problem with not getting any compiler warning is a

[2017-11-30 17:09] mockitoguy commented on #792
Hand stub/mock is a class that is completely tailored for the business of your tests. Sometimes referred as "test fixture code", "test utils", "test support classes". Hand mocks don't use Mockito, not even spy(). Hand stub needs to be coded and maintained but it provides superior readability and usefulness because it is tailored to your domain.

We could potentially provide a method like:

[code]

[2017-12-01 14:06] TimvdLippe commented on #1225
Intellij 2017.3 has been released: https://www.jetbrains.com/idea/whatsnew/#v2017-3

[2017-12-01 15:43] mbogner commented on #978
see https://github.com/jmockit/jmockit1/issues/480#event-1349779862

Tried, but seems like nobody is interested in that there. My question why they simply close the issue was deleted and the issue locked... But as stated above - actual powermock milestone works fine with latest mockito for us. So no need for JMockit anymore. Dependency removed and blacklisted.

[2017-12-02 06:32] mockitoguy commented on #792
Updated the description with the problem statement and proposed API changes. Feedback before we start coding?

[2017-12-04 14:45] isplendid commented on #951
ava.lang.RuntimeException:    is empty for:

[2017-12-05 15:38] hho commented on #1254
When is this going to be on Maven Central?

[2017-12-05 19:55] raphw commented on #1254
We could trigger a new release, @TimvdLippe, would you find some time?

[2017-12-05 19:57] TimvdLippe commented on #1254
Yeah I can try it tomorrow :)

Op di 5 dec. 2017 om 20:55 schreef Rafael Winterhalter <
notifications@github.com>:

[2017-12-06 08:18] SeriyBg commented on #1252
Hello, I would like to work on this issue, if it's ok :)

[2017-12-06 08:43] SeriyBg commented on #1252
Looks like the same issue is reproducible with the `@Mock` annotation.
Here is the test for it:
[code]

[2017-12-06 10:31] TimvdLippe commented on #1252
@SeriyBg Sure go ahead :smile:

[2017-12-06 10:45] TimvdLippe commented on #1254
Version 2.13.0 should be published and available soon in Maven Central!

P.S. @mockitoguy the `[ci maven-central-release]` was working flawlessly :tada:

[2017-12-06 12:39] hho commented on #1254
Danke! Bedankt! Many thanks!

[2017-12-06 15:35] SeriyBg commented on #1252
@TimvdLippe I have done some research on this issue, so I want to confirm that the current behavior is wrong.
So it looks like on the injection of `firstField` is ambiguous by type so it considers the mock name. But when injecting `secondField ` the only available option is `beanB` as `beanA` was already injected by name. Is this behavior wrong or am I missing something?

[2017-12-07 07:33] ming13 commented on #1254
Can confirm that finally our suite of 13+ K Kotlin tests work after fixing #1183 and this one ✨ Thanks!

[2017-12-07 11:16] TimvdLippe commented on #1252
@SeriyBg that sounds oddly familiar to #215. This bug should have been fixed already? 😮

[2017-12-07 13:06] SeriyBg commented on #1252
@TimvdLippe not exactly. The #215 describes the issue when you have multiple fields but only one mock. Here the behavior looks to work correctly. So the `beanA` is injected to the `firstField ` by name, and the `beanB` is injected to the `secondField` by type ignoring the name. This matches the documentation that says:

Isn't it exactly what we have here?

[2017-12-07 13:12] TimvdLippe commented on #1252
Hm yes you are correct. Our injection mechanism is rather rudimentary and confusion like this issue makes us believe it is not something we should do.

In the end, it is probably working as intended, although unfortunate. I am hesitant to add even more logic to this component, as it is already very complicated. Modifying might mean we regress in other cases, meaning we are backwards incompatible.

[2017-12-07 13:26] SeriyBg commented on #1252
@TimvdLippe so you suggest not to change the current logic for with this issue, right?
(Sigh) I was hoping to get the first code contribution to mockito :pensive:

Thanks for your help here!

[2017-12-07 13:30] TimvdLippe commented on #1252
@SeriyBg I think this is working as intended, but maybe one of the other @mockito/core can chime in as well.

If you would like to help us out, we are eagerly looking for contributions! Check out this list of issues to find an easy one to start (or participate in the discussion): https://github.com/mockito/mockito/issues?q=is%3Aissue+is%3Aopen+label%3A%22please+contribute%22

[2017-12-07 15:46] ChristianSchwarz commented on #1255
This can be fixed in mockito by changing

[code]

to

[code]

[2017-12-07 16:34] gurghet commented on #1074
+1

[2017-12-09 19:10] matteobanerjee commented on #1240
We are seeing the same issue using JDK 9 and Kotlin

[2017-12-10 16:10] mockitoguy commented on #1255
I really like @ChristianSchwarz's idea because it simplifies the code. Problem is that it is a breaking change because there could be client code depending on the value returned from ```eq```. When working with test spies, the real behavior is invoked during stubbing with ```when``` syntax. That real behavior may depend on parameters. Example:

[code]

I like the idea of including @ChristianSchwar

[2017-12-10 16:13] mockitoguy commented on #1254
Awesome! Thank you for pushing out the version!

[2017-12-10 23:12] Diolor opened #1271 "Verify Higher Order Function"
[code]

The above test will fail with:
[code]

I guess it's not possible yet to verify the high order `doSomething`. Is it possible to implement this feature? If not a explicit error would be helpful I think

[2017-12-11 00:23] mockitoguy commented on #792
Update: work in progress in PR #1272.

Friendly ping for review of the design outlined in this ticket description!

[2017-12-12 06:22] nicolasps commented on #939
I thought I was running a jdk when this issue happens to me but instead I was using a the jre.

Running the test using the jdk solved the problem for me.

[2017-12-12 23:11] moltmann commented on #1013
**tl;dr:** mocking static methods can be implemented mostly like regular mocking with [a few quirks when spying on static methods with side-effects](https://github.com/moltmann/dexmaker/wiki/Experiments-with-mocking-static-methods-via-mockito#spying-and-doreturn).

I implemented a [prototype](https://github.com/linkedin/dexmaker/compare/master...moltmann:staticMock) of this for the dexmaker based

[2017-12-13 19:29] GEllickson commented on #1082
Curious, is there anything in the works to allow for easier mocking in Android Instrumentation tests besides the two approached above?

I see the "cannot use the inline mock maker on Android due to limitations", but just wondering if some other workaround will be part of Mockito one day.

[2017-12-14 12:55] WhiteCosmos opened #1273 "Mockito lose generic info on mocked object's return method"
Hi, I use Mockito.mock() method to get a mocked object, but then I found the generic info is lost when using java reflection to get a method.
before mock: `List<Foo> getSomething()` after mock: `List getSomething()`
It's disappeared from method.returnType

[2017-12-14 15:03] jacek-marchwicki opened #1274 "Mocking constructor of inner class with annotated parameter will fail"
## Versions:
[code]
Issue happens with and without `mock-maker-inline`

## Test case
[code]

## Error message
[code]

## More investigation
The problem happens only if a mocked class is an inner class and have a constructor with annotation so

*SUCCESS*:
[code]

*SUCCESS*:
[code]

*FAIL*:
[code]

## Deeper findings
I think the problem lays in extracting annotations because if a class is abstract,

[2017-12-14 16:54] MatDls opened #1275 "Error misspell"
Console error:
"org.mockito.exceptions.misusing.NotAMockException:"
                                             ^
                                        misspell

i think it should be:
"org.mockito.exceptions.missing.NotAMockException:"

[2017-12-14 23:27] moltmann commented on #1013
I think I found a [nicer version for mocking static methods via doReturn().when()](https://github.com/moltmann/dexmaker/wiki/Experiments-with-mocking-static-methods-via-mockito#create-temporary-object-just-for-calling-static-methods). So the total interface for static methods could be designed as:

    try (StaticMockingInProgress<MyClass> token = spyStatic(MyClass.class)) {
        when(MyClass.a

[2017-12-15 15:18] SeriyBg commented on #1275
@MatDls I don't think so :)
The word misusing mean to use something in the wrong way. This exception should appear when you try to mock an instance which is not a mock. So you are misusing `when(mock)` method by passing not a mock to it as an argument.

[2017-12-15 15:28] SeriyBg commented on #1262
Fixed here: #1268

[2017-12-15 16:56] digulla commented on #792
I'm pondering the two API designs: `mock(..., withSettings().lenient())` and `lenient().when(...)`
I feel it would be better if the two were more similar.

Why not `when(..., withSettings().lenient())`? That way, the API would be more symmetric. When adding more settings, they would naturally flow into the existing code. But it would be hard to add options only for `mock()` (= problems can only be

[2017-12-15 17:19] jaredsburrows commented on #1082
@GEllickson Honestly, what I have found is that Espresso should only be asserting the views have the proper data and visibility. Id add cases, I have used stubs or local mock data.

[2017-12-15 20:03] pardisb commented on #1262
Thanks!
On Fri, Dec 15, 2017 at 7:28 AM Serge Bishyr <notifications@github.com>
wrote:

[2017-12-16 16:00] mockitoguy commented on #792
I feel it would be better if the two were more similar.

Yeah, possibly. We also want to have those new API methods consistent / similar with the existing API:
 - currently the way to configure mocks is: withSettings() or annotation
 - stubbing is inconsistent (when vs. doReturn, when vs. given) due to the API evolution and Java limitations. There is no concept of configuring a "stubbing" in Mocki

[2017-12-17 15:00] teanlime opened #1276 "When mock-maker-inline is on, some tests with spies fail"
HI!
When I enable mock-maker-inline in my Android project, some tests begin to fail when executed from Android Studio (all failing tests have spies). Tests pass when executed form gradle command.

Android Studio version: 3.1 Canary 5
Gradle version: 4.3.1
Android Gradle plugin: 2.3.3
Firebase (google play services): 11.6.2

THE TESTED CLASS (stripped to minimum):
[code]

THE FAILING TEST:
[code]

[2017-12-18 11:07] SanjayMallur commented on #973
@TimvdLippe I am able to reproduce this issue with 2.10.0, below are my logs:

java.lang.ExceptionInInitializerError
	at org.mockito.internal.exceptions.stacktrace.ConditionalStackTraceFilter.<init>(ConditionalStackTraceFilter.java:17)
	at org.mockito.exceptions.base.MockitoException.filterStackTrace(MockitoException.java:30)
	at org.mockito.exceptions.base.MockitoException.<init>(MockitoException

[2017-12-18 17:08] moltmann commented on #1276
Hi,

byte buddy cannot mock classes on Android devices as the Android uses a
different byte code format. I am working on making the dexmaker mockmaker
<https://github.com/linkedin/dexmaker> capable of doing that but this
currently relies on yet not released Android P builds.

For now you can
- only mock final classes in host based tests, and
- mock non-final classes in on-device tests using the cu

[2017-12-19 09:46] santanaluiz commented on #1253
@DCRichards  @pykaso  did you manage to fix that? Same problem here

[2017-12-19 13:51] SeriyBg commented on #1274
I've done a little research and find out that this is a bug in byte buddy and this has been confirmed as a bug [here](https://github.com/raphw/byte-buddy/issues/385#issuecomment-352753399).
Why does it work on version 1.9.5? As I know, mockito switched to ByteBuddy from version 2.x.

[2017-12-19 14:33] jacek-marchwicki commented on #1274
@SeriyBg Thanks for investigating this issue

[2017-12-19 15:12] teanlime commented on #1276
Yes, I can see that the actual source of the issue is in this line:

`com.google.firebase.messaging.FirebaseMessagingService.handleIntent(android.content.Intent)`

And I am presuming it's the `Intent` class that causes the issue.

Thanks @moltmann. Looking forward to P coming out :)

[2017-12-20 00:58] moltmann opened #1277 "spyExisting(Object o): Turn an existing object into a spy"
**tl:dr** I want to add a new API to make an existing object a spy. One use case is spying on Android Activity-objects: These objects provide access to Android's system services. It would very useful for testing to replace a system service with a special testing service.

_This is about mocking on Android devices. If you can fully mock the environment you should run your test on your workstation.

[2017-12-20 10:34] digulla commented on #792
How about a fluent API to mock several methods of a mock at once? That way, I could specify the lenient once at the top?

[2017-12-20 18:01] jrumbinas opened #1278 "Verify is not working with argThat"
I'm getting `java.lang.ClassCastException: java.lang.String cannot be cast to [Ljava.lang.Object;
` attempting to use `Mockito.argThat()` with `Mockito.verify`. `Mockito.any()` works as expected. Please run the test bellow:
[code]

Here's a full stacktrace:
[code]

Version:

- junit 4.12
- mockito-core 2.2.8
- Java(TM) SE Runtime Environment (build 1.8.0_152-b16)
- macOS 10.13.2 (17C88)

[2017-12-20 20:44] moltmann commented on #1013
Addendum to previous comment. I think we should also have a `resetStatic(Class<T> class)` method. Then using the StaticMockingInProgress object becomes optional but recommended.

[2017-12-21 01:26] r-smirnov opened #1279 "Cannot override stubbed method that calls a stubbed method"
Mockito 2.13.0

Overriding stubbed method that calls a stubbed method in its answer may result in a number of different failure modes:

1) WrongTypeOfReturnValue is thrown.

[code]

2) Wrong method is stubbed.

[code]

3) StackOverflowError is thrown.

[code]

The cause is that in the MockingProgressImpl the OngoingStubbing for doFoo() invocation is replaced with the OngoingStubbing for doBar() in

[2017-12-25 04:11] Brianhedgecock commented on #1277
all"o" spy.

[2017-12-27 16:14] #1086 closed

[2017-12-28 00:20] r-smirnov commented on #1279
One potential solution is to restore the OngoingStubbing after evaluating the answer.
[MockHandlerImpl.java.patch.txt](https://github.com/mockito/mockito/files/1590092/MockHandlerImpl.java.patch.txt)

[2017-12-28 17:04] mockitoguy commented on #1279
Wow, thank you for reporting and digging deep into this problem. You nailed down another edge case of Mockito syntax! (ping @TimvdLippe, you're collecting problems with existing syntax).

One solution to this problem is using "doReturn" syntax. However, it does not really help the user. At minimum, the error message of WrongTypeOfReturnValue and friends should indicate this potential problem.

Thi

[2017-12-28 21:16] alexandroid commented on #372
Is it correct to say that `thenThrow(Class<? extends Throwable> throwableType)` ([code](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/stubbing/OngoingStubbing.java#L114)) overload fixes this problem at least for single args? And for the rest, chaining of `thenThrow` calls would be a workaround?

[2018-01-04 16:32] mockitoguy commented on #372
Currently Mockito is built with Java8 (albeit we still compile with 1.6 runtime compatibility). Reading Rafael comment again (https://github.com/mockito/mockito/issues/372#issuecomment-227073725), can we now use the annotation while still be 1.6 compatible at runtime? If so, let's make it happen (PR is welcome :).

[2018-01-05 01:29] epkugelmass opened #1283 "Type-safe Answer stubbing"
I'm proposing an additional method on the OngoingStubbing interface that enforces type-safety for a stubbed Answer. Right now, none of the available methods allow the user to enforce that an Answer's return type matches the stubbed method's return type.

The new method has this signature:
`OngoingStubbing<T> thenAnswerSafely(Answer<T> answer)`
to contrast with the existing
`OngoingStubbing<T> then

[2018-01-05 09:27] holubec-petr commented on #1166
Hi guys,
I hope that this issue is not stucked :-) We have quite big project in Kotlin and because of this issue we cannot use actual version of Mockito (last usable is 2.10.0). We don't want to use @Throws annotation everywhere, it's against Kotlin ideology.

[2018-01-05 11:50] makovkastar commented on #1082
The DexOpener library worked great for me, thank you @tmurakami for creating it!

[2018-01-05 12:39] TimvdLippe commented on #1283
While type-safety is definitely a huge improvement over the current answer structure, I fear that just updating the return type gives a false sense of security. Since the `Answer` receives an `InvocationOnMock`, its parameters are all `Object`. That means that any kind of logic requires casting, including to return the value.

If we would update just the return type, we would introduce other casts

[2018-01-06 02:23] epkugelmass commented on #1283
#1264 looks awesome.

I do think there's room for adding a little bit more safety for the existing thenAnswer method. I tend to use https://static.javadoc.io/org.mockito/mockito-core/2.12.0/org/mockito/Mockito.html#Java_8_Custom_Answers and would at least like the compiler to help me a little bit when my custom answer return type no longer lines up. Clearly, using an InvocationOnMock is still not

[2018-01-06 21:53] nickcaballero commented on #1273
+1

[2018-01-07 07:21] raphw commented on #1273
What version are you using?

[2018-01-08 17:02] TimvdLippe commented on #1279
I can confirm that the prototype in #1264 does not require any changes to make this work. You can see the full passing test suite at https://github.com/mockito/mockito/pull/1264/commits/a479368f17c1d2ea2e48e96b68559e457fb2d1a0

[2018-01-09 21:09] TimvdLippe opened #1284 "Automate files populated in Bintray download list"
On https://twitter.com/Tustin2121/status/950832119730835462 we received feedback that for non-Maven users, the manual download of Mockito is hard to find. The end result of that Twitter discussion was that the reporter glanced over the files tab.

It appears that Bintray supports a feature called ["Download List"](https://bintray.com/docs/usermanual/downloads/downloads_manualdownloads.html#_downlo

[2018-01-09 21:17] TimvdLippe commented on #1275
Yes this is intentional. We mean the [present participles](https://www.ef.com/english-resources/english-grammar/ing-forms/) (TIL the name of this form 😄 ) of the verb `misuse`.

[2018-01-09 21:17] #1275 closed

[2018-01-09 21:20] tustin2121 commented on #1284
I'll also suggest adding a link to the bottom of the website's "How?" section with a link to said Bintray page, in cases where people (like me) overlook the fact that you can click on the "Download" split button at the top of the site to get to the Bintray page.

[2018-01-09 21:22] TimvdLippe commented on #1284
@tustin2121 Could you open a PR with your suggestion with an update of https://github.com/mockito/mockito.github.io/blob/master/_posts/2000-01-10-how.md ?

[2018-01-09 21:34] tustin2121 commented on #1284
https://github.com/mockito/mockito.github.io/pull/36

Done. Github made it far easier than I expected.

[2018-01-10 08:20] Colibridev opened #1285 "I'm using org.mockito:mockito-core:2.12.0. I realized strange behavior."
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2018-01-10 08:27] Colibridev opened #1286 "I'm using org.mockito:mockito-core:2.12.0. I realized strange behavior: library capturing argument"
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2018-01-10 08:37] #1286 closed

[2018-01-10 08:37] #1285 closed

[2018-01-10 08:39] youngam opened #1287 "Capturing arguments when calling verify, not when real method executed"
I'm using org.mockito:mockito-core:2.12.0. I realized strange behavior.

[code]

I don't know if it is issue. Maybe it is normal behavior of library. But it wasn't obvious for me.

[2018-01-10 10:32] TimvdLippe commented on #1287
This is a duplicate of the issue as posted in #1153. You are modifying the object that is being passed on to the stub after the fact (with `items.add("2")`). Since Mockito only maintains a reference, the actual passed object will be modified and thus also in the Mockito cache.

To prevent this, we would need to clone every single object passed to Mockito, but this is brittle and non-performant. I

[2018-01-10 11:06] TimvdLippe commented on #1271
I just tried this out. I am not an expert in Kotlin, but if I understand correctly Kotlin high order functions are similar to static methods in Java in the sense that they are not related to an object?

[2018-01-10 11:33] TimvdLippe commented on #1278
This probably happens because to match `VarArgs`, we need to annotate the matcher with `VarArgMatcher` (https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/matchers/VarargMatcher.java) to understand you intended to match on actual var args. `Any` implements this interface, but a custom matcher passed to `argThat` does not, as `VarArgMatcher` is an internal interf

[2018-01-10 11:48] TimvdLippe commented on #1260
I have updated #1264 with an example of how these kind of errors can be caught by the compiler. You can see the added test case in https://github.com/mockito/mockito/pull/1264/commits/c7a326c85d7eb446f29b2e772d9ec218ab0d91cb#diff-ec18c77ddd391ac4420ccce995a42dd4 If you uncomment line 213, the project will not compile. This makes the matching fail-fast instead of swallowing the error.

[2018-01-10 11:54] Diolor commented on #1271
They are not always resolved statically as they can be also inside a class.

They are simply methods whose receiver object's clads (above example A in the `fun A.doSomething()`) is the `this` inside the function (method)

[2018-01-10 14:22] youngam commented on #1287
@TimvdLippe thank you for response. I think that displaying this limitation in doc will prevent many developers from stupid mistakes

[2018-01-10 14:23] TimvdLippe commented on #1287
@youngam Feel free to update the documentation by adding a clarification at https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/Mockito.java#L324

[2018-01-11 18:30] prasadsriram opened #1289 "Exception in macOS Sierra - Could not initialize plugin: interface org.mockito.plugins.MockMaker"
Recently we upgraded mockito from org.mockito:mockito-core:2.7.10 to org.mockito:mockito-core:2.8.47. After this upgrade, we found the compilation to fail in macOS Sierra - Version 10.12.6
We didn't see the issue with 2.7.10. Is 2.8.47 not supported to build macOS Sierra?

[code]

[2018-01-11 22:23] TimvdLippe commented on #1289
This seems like a corrupt jar being published. Could you verify the integrity of the Mockito installation and maybe force a re-download?

[2018-01-15 16:05] Budincsevity commented on #1053
Hi All

We are experiencing the same issue with Spring Boot and Kotlin.
Kotlin version: 1.2.0
Mockito version: org.mockito:mockito-all:1.10.19 and 2.0.2-beta

And the ` when(mockedService.sum()).thenReturn(actualSum)` line calls the real sum() method.

[2018-01-15 16:10] TimvdLippe commented on #1053
@Budincsevity Mockito 2.0.2-beta is rather old. Please update to 2.13.0 and see if that works.

[2018-01-15 18:50] marcphilipp commented on #445
Any news on this issue?

[2018-01-15 19:32] TimvdLippe commented on #445
@marcphilipp Development started in #1221. There we hit #1232 which is an internal issue. There are several implicit assumptions in our internal API that were true for JUnit4, but are no longer valid for JUnit5. If I understand the issue correctly, the current extension has to supported nested classes. With JUnit4 we did not support this, but with JUnit5 we have to do this.

Timeline-wise, I am no

[2018-01-15 19:55] marcphilipp commented on #445
Thanks for the update! Let me know if I can help in any way. 🙂

[2018-01-16 00:44] mockitoguy commented on #792
Can you write a comment with an example how it would look? This would help us make a decision. Sorry for late answer. Xmas break :) I made progress on the ticket, though!

[2018-01-16 00:48] mockitoguy commented on #445
Thank @marcphilipp for a friendly ping and @TimvdLippe for recapping the status.

I'm making progress on getting Strictness configurable: #792. This should remove a complexity from the JUnit5 extension PR that @ChristianSchwarz was working on. I hope that Christian can resume work. If not, we can review the design and someone will take a stab at it. How about you @marcphilipp?

[2018-01-16 00:57] #1262 closed

[2018-01-16 02:17] maryroseMXXXVI commented on #1191
I didn't see what is the major concern of mockito it appears 404 not see on my Github

[2018-01-16 08:18] ChristianSchwarz commented on #445
I can resume to work on it . Actually I am short on time so a "pre"-review of  #1221 would help. Maybe some one can start with #1232 in the mean time.

[2018-01-16 10:32] TimvdLippe commented on #445
Regarding #1232: another option would be to not support nesting of test classes. I think we actively have to consider this option, given our public API was apparently coupled to the JUnit4 implementation and we can not ship breaking changes per our policy.

[2018-01-16 12:22] sleekweasel opened #1291 "Example for matcher-based mocking should show, not merely state, that non-matched arguments must use matchers."
The documentation has an example of matcher-based mocking with a single argument, and then gives a warning that all arguments must use matchers.

Seems it would be much better to have two arguments in the example, one that uses an obvious matchery matcher, and one that uses the trivial matcher to illustrate the requirement, rather than folks stumbling into the 'must not be null' error and having t

[2018-01-16 21:02] thalissondev commented on #1289
I have the same error and I tried make re-download but not solved the error.

[code]

[2018-01-16 21:04] elyashivlavi opened #1292 "Cannot Mock GcmNetworkManager on Android"
Hi,
I'm trying to mock GcmNetworkManager, using the simple following code:
`Mockito.mock(GcmNetworkManager::class.java)` (this is actually a kotlin code).
I'm using Mockito version 2.10.0.
Any idea how to solve it?

EDIT:
Note that the real exception is: `Caused by: java.lang.IllegalStateException: final synchronized boolean com.google.android.gms.gcm.GcmNetworkManager.zzaa(java.lang.String,java.l

[2018-01-16 21:07] TimvdLippe commented on #1289
@thalissondev I think the issue is described in the error message:

[code]

[2018-01-16 21:09] marcphilipp commented on #445
Well, it's `@Incubating` so you could still change it, right? 😉

Besides, I think neither of the two proposals would break compatibility, would they? But then again, we should discuss this over at #1232. 🙂

[2018-01-16 21:09] thalissondev commented on #1292
@elyashivlavi Did you try this?

[https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#mock-the-unmockable-opt-in-mocking-of-final-classesmethods](https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2#mock-the-unmockable-opt-in-mocking-of-final-classesmethods)

[2018-01-16 21:12] thalissondev commented on #1289
@TimvdLippe I have this dependency in my module.

[code]

[2018-01-16 21:13] elyashivlavi commented on #1292
Thanks for the quick response!
So I added this plugin, and it didn't solve the issue.
Also, note that the `GcmNetworkManager` is not final

[2018-01-16 23:09] da-na opened #1293 "Feature request for mocks to have thenThrowUnchecked, as the updated thenThrow is troublesome when used with RXJava"
check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
project uses gradle '4.4.1', mockito '2.8.47', RXJava '2.1.8', RXAndroid '2.0.1'
 - [

[2018-01-16 23:51] prasadsriram commented on #1289
@TimvdLippe I am not sure how to verify the integrity of the jar. Can you provide some pointers? I also tried with other versions of jar like 2.11.0, 2.12.0 and 2.13.0 and still get the same problem. I use gradle and it fetches from internal artifactory.

[2018-01-17 12:13] TimvdLippe commented on #445
Hm, looking at it again, it seems that the breaking change is actually in an internal API, namely [`TestFinishedEvent`](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/junit/TestFinishedEvent.java#L11), which is created in `MockitoSession`. As such, I think we should be okay actually. I will do a proper investigation this weekend (hopefully, else next week) a

[2018-01-17 12:15] TimvdLippe commented on #1289
@raphw The configuration of @thalissondev looks valid, still the wrong mock maker ends up in the Android ecosystem. Do you have an idea what might be going wrong?

@prasadsriram Hm, if multiple versions are an issue that is more suspicious. Could you create a standalone reproducing project such that we can debug this issue?

[2018-01-17 16:00] da-na commented on #1293
I guess this would also resolve Kotlin's issue #1166 :)

[2018-01-17 19:02] marcphilipp commented on #445
`TestFinishedEvent.getTestClassInstance()` and `TestFinishedEvent.getTestMethodName()` are currently only used (twice) like this:
[code]

Currently, `DefaultMockitoSession` always uses `null` for `TestFinishedEvent.getTestMethodName()` which strikes me as odd. I think it would be better if `TestFinishedEvent` only had two methods: `getFailure()` and `getTestName()`. Then, `MockitoSessionBuilder` c

[2018-01-17 21:33] raphw commented on #1289
Are you trying to use the inline Byte Buddy mock maker? It seems like both the Android and the inline mock maker are available but they exclude each other. I assume both are on the class path and the inline one is picked first by their inclusion order.

[2018-01-18 01:03] tmurakami commented on #1293
Have you tried [`Observable#error(Throwable)`](http://reactivex.io/RxJava/2.x/javadoc/io/reactivex/Observable.html#error-java.lang.Throwable-)?

[code]

https://stackoverflow.com/questions/44690008/how-to-handle-mocked-rxjava2-observable-throwing-exception-in-unit-test

[2018-01-18 08:00] elyashivlavi commented on #1292
Seems like the same issue as https://github.com/mockito/mockito/issues/1078 and https://github.com/mockito/mockito/issues/1138

[2018-01-18 09:40] ChristianSchwarz commented on #1232
Related discussion from #1221
----

@TimvdLippe https://github.com/mockito/mockito/issues/445#issuecomment-357918936

----

@marcphilipp https://github.com/mockito/mockito/issues/445#issuecomment-358106441

----

@TimvdLippe https://github.com/mockito/mockito/issues/445#issuecomment-358286590

----

@marcphilipp https://github.com/mockito/mockito/issues/445#issuecomment-358407562

[2018-01-18 09:43] ChristianSchwarz commented on #445
@marcphilipp
@TimvdLippe
Good idea to continue the discussion about #1232 in that ticket, i copied your the relevant comments over there.

[2018-01-18 09:52] ChristianSchwarz commented on #1232
@TimvdLippe

Of course,go ahead!

[2018-01-18 10:09] ChristianSchwarz commented on #1232
@marcphilipp

Make sense, should be a new issue.

[2018-01-19 19:56] ritikrishu commented on #1253
adding `multiDexEnabled true` is not helping

[2018-01-22 10:15] marat-gainullin opened #1295 "Reflection compatibility issues with Java 9"
The following warnings occur while runnting tests on Java 9:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.mockito.cglib.core.ReflectUtils$2 (file:/C:/Users/mg/.gradle/caches/modules-2/files-2.1/org.mockito/mockito-all/2.0.2-beta/3e24f450275812fb354d29a58b66b8f26e13002f/mockito-all-2.0.2-beta.jar) to method java.lang.ClassLoader.defineClass

[2018-01-22 10:20] TimvdLippe commented on #1295
Please use mockito-core version 2.13.0 which should not have this issue.

On Mon, 22 Jan 2018, 11:15 marat-gainullin, <notifications@github.com>
wrote:

[2018-01-22 16:04] thalissondev commented on #1289
I solved this error. I don't know if is a best solution.
For tests executed in terminal, I add this lines in my gradle:
[code]
and for tests executed with AS, I needed add in the field `VM Options` in `Run/Debug Configurations` the command:
[code]
After add this command, the tests work perfectly.

[2018-01-23 00:04] r-smirnov commented on #1279
Created a PR #1296 with [the above patch](https://github.com/mockito/mockito/files/1590092/MockHandlerImpl.java.patch.txt) applied.

[2018-01-23 21:25] da-na commented on #1293
@tmurakami Thanks for the suggestion! Yes, it works.

[2018-01-23 21:26] da-na commented on #1293
So I guess no need for having that particular feature request. I'm closing.

[2018-01-23 21:26] #1293 closed

[2018-01-25 13:44] matejdro opened #1297 "Using Mockito with Roboletric causes ClassCastException when attempting to mock Kotlin's function interfaces"
When using Roboletric as test runner, mocking any Kotlin's function interfaces (`Function`, `Function1`, `Function2` etc.) will crash the test with ClassCastException.

For example this code:

[code]

will crash with this exception:

[code]

If I make local extension of these interfaces, for example like this:

[code]

then crash does not happen. So something weird is going on in relation to how M

[2018-01-27 05:11] mindawei opened #1298 "Exception occurs when change Java 8 to Java 9 in IDEA"
when I change the JDK 8 to JDK 9 in IDEA , the follow code can't run.

[code]

and my configure is

[code]

and the exception is

[code]

How can I solve the problem?

[2018-01-28 05:27] mockitoguy commented on #1232
Hey guys! What's the next step for closing this issue getting us closer to supporting JUnit5?

@ChristianSchwarz - can you update the ticket and clarify the public API change? Do you suggest adding new "initMock()" method? Do you suggest vararg, or consecutive invocation, or both? I would suggest to go for the simplest compatible API change - keeping the existing method, just making it vararg. Wil

[2018-01-28 05:59] prasadsriram commented on #1289
The fix suggested by @thalissondev didn't work for me. Does it apply only for android projects? My project is not an android project.

@TimvdLippe Unfortunately, I am unable to reproduce the problem in a standalone project.

[2018-01-28 10:46] Tibor17 opened #1300 "Exception occurs when using Java 10 and Windows"
This is a hint for Mockito team to improve class loading via Bytebuddy.
I am a developer of Maven Surefire and have to support Java 10 in build process:
https://builds.apache.org/view/M-R/view/Maven/job/maven-surefire-pipeline/job/SUREFIRE-1463/83/console

I found this issue. I have to skip the unit class from test set.
This is the error:

[windows-jdk10-maven3.5.x] Caused by: java.lang.IllegalArg

[2018-01-28 10:59] Tibor17 commented on #1300
After updating to version 2.12.3 the issue was gone!

[2018-01-28 10:59] #1300 closed

[2018-01-28 12:43] TimvdLippe commented on #1232
I would say we can change it to a vararg. This ticket basically addresses https://github.com/mockito/mockito/pull/1221/files#diff-6d0d68d3f3e6a783328fbe723a822668R36 which is unfortunate to do right now. If we change it to vararg, we can transform the `testClassInstances` List to an array and make it work :tada:

[2018-01-28 15:57] mockitoguy commented on #1277
Hey @moltmann, thank you for reporting!

Can you elaborate why the existing method ```Mockito.spy(object)``` does not work for you? This would really help us understand the use case!

[2018-01-28 16:03] mockitoguy commented on #1013
Hey @moltmann, thank you for taking a stab at the prototype!

Given that we provide an API for mocking statics in mockito-core, will you be able to come up with the implementation in dexmaker?

Can you implement static mocking in dexmaker right now, with current version of mockito-core API? For example, can you add ```MockitoStatic``` class to dexmaker and offer static mocking to dexmaker users? I

[2018-01-30 15:17] adamvoss commented on #769
Can this be exposed by `MockSettings` or otherwise be made available without requiring the `Mock` instance be a class member.

The following "works" but uses a whole lot more internal stuff than I like:

[code]

[2018-01-30 15:59] adamvoss commented on #769
If possible, the failure message around passing null and collections could use improvement.  As is, we can get errors like the following:

[code]

It is not clear from the failure message that only the middle argument is the source of the problem.  One is likely to expect the final argument is the problem because it is the entry that is different.

Code to reproduce the above:

[code]

[2018-01-31 05:25] mockitoguy commented on #769
Hey @adamvoss! Thanks for checking in!

Mocks don't have to be class members to leverage strictness. You can use MockitoSession object to start mocking _before_ you create mocks. Would that solve your problem?

[2018-01-31 21:27] kwilliams3 commented on #1207
Confirmed, upgrading to `2.0.0-beta.5` does solve the problem. I had to do this for both `powermock-api-mockito2` and `powermock-module-junit4`

[2018-02-02 03:19] september669 opened #1302 "java.lang.NoSuchMethodError when try mockito 2.13.0 with kotlin"
Hi guys, I found an issue, when I try to mock kotlin interface with 2.13.0 i get an exception

`java.lang.NoSuchMethodError: net.bytebuddy.implementation.MethodDelegation.appendParameterBinder(Lnet/bytebuddy/implementation/bind/annotation/TargetMethodAnnotationDrivenBinder$ParameterBinder;)Lnet/bytebuddy/implementation/MethodDelegation;`

But when i downgrade to 2.9.0 all works perfect

Thanks!

[2018-02-02 06:27] raphw commented on #1302
It seems like you are mixing up Byte Buddy versions somehow. Mockito 2.13 relies on a newer Byte Buddy version. If you force usage of an older version things should work out again.

What other library is in conflict here, out of curiosity.

[2018-02-02 17:16] Helias-Criouet commented on #969
For me the issue was in the Jacoco gradle task. The `classDirectories` needed to point to the `${buildDir}/intermediates/classes` folder.

[2018-02-05 13:25] PandaMonkey commented on #1302
@september669 Hi, Could you show your pom file? I am interested in such version conflict problems. Maybe I can help you identify the root cause.  If you concern the privacy problem, you can also send it to my e-mail:  pandamonkey1@sina.com

[2018-02-05 13:43] 1028332163 commented on #1302
keyi

[2018-02-05 23:50] moltmann opened #1303 "Make org.mockito.internal.creation.instance.Instantiator a public API"
The public API org.mockito.plugins.InstantiatorProvider#getInstantiator returns an Instantiator object. The Instantiator is no public API though.

[2018-02-06 14:03] TimvdLippe opened #1305 "Implement reusable Strictness ordering"
In various pull requests, we are working with the new Strictness API. However, looking at each implementation, there appears to be a discrepancy between the handling of multiple levels of strictness and what the order of priority is.

Examples include the discussion in #1272 in which methods are allowed to specify strictness and #1221 where we have to implement a new runner which has to handle Str

[2018-02-06 21:31] moltmann opened #1306 "InvocationFactory.createInvocation's realmethod cannot throw a Throwable"
InvocationFactory.createInvocation takes a Callable that is used to call the real method of the Invocation. If the Invocation throws an Exception the Exception is forwarded from the Callable. Unfortunately Callable can only throw an Exception, not a Throwable.

Hence if the real method throws a Throwable that is neither an Error, RuntimeException or Exception it cannot be forwarded.

I recommend f

[2018-02-08 01:58] mockitoguy commented on #1305
@TimvdLippe, thank you for opening the ticket!

I like the hierarchy that you have described - this is exactly what we want. Is this ticket a suggestion of internal implementation or public API / public behavior? If you are concerned about managing nulls in the internal implementation, what are the other options we have, like Optional<T> or @Nullable annotations?

Do you have a compelling use case

[2018-02-08 03:05] september669 commented on #1302
Thanks a lot! I found conflicted lib.

[2018-02-08 03:05] #1302 closed

[2018-02-08 14:03] mockitoguy commented on #1305
Got it now.

This ticket could be confusing to our users. When discussing internal implementation only relating to specific PR, I'd say that keeping the discussion within a PR is a better option.

The problem with passing around reusable hierarchy of Strictness is that it complicates the implementation quite a bit:
 - the hierarchy is mutable - when the user calls ```rule.strictness()``` or ```ses

[2018-02-08 17:40] siosilvar opened #1308 "JUnit rule: Unused consecutive when/then calls don't fail with strict stubs"
Using Mockito 2.13.0, Spring 3.2.3, Java 7, and the JUnit rule as
`@Rule public MockitoRule rule = MockitoJUnit.rule().strictness(Strictness.STRICT_STUBS);`

The following test passes without reporting an unused stub (service is the class under test, dao is mocked):

    @Test
    public void testAddObject()
    {
        when(dao.save(any(Model.class)))
            .thenReturn(GOOD_MODEL_OBJECT)

[2018-02-08 17:59] marcosalis commented on #1253
Just my two cents.
In my case adding `multiDexEnabled true` worked, but I had to add it to all the modules which the application was made of, not only the application module.

[2018-02-08 19:41] SinnoriTeam commented on #1017
2018.02.09
bug? I don't know.
but I look at the same text "Caused by: java.lang.NoClassDefFoundError: net/bytebuddy/dynamic/loading/ClassLoadingStrategy
";

------------------
mockito-core-2.13.4.jar

--------------
java.lang.IllegalStateException: Could not initialize plugin: interface org.mockito.plugins.MockMaker
	at org.mockito.internal.configuration.plugins.PluginLoader$1.invoke(PluginLoader.

[2018-02-09 13:55] #1306 closed

[2018-02-10 13:03] TimvdLippe commented on #1305
@mockitoguy I can work on this next weekend. Will take a stab at it!

[2018-02-10 15:48] #1232 closed

[2018-02-10 15:52] mockitoguy commented on #1305
Fantastic! I love clean code and I'm very curious how you approach it. The tests around the new API are solid so you should be able to safely work on the internal implementation.

[2018-02-11 16:44] mockitoguy commented on #1279
@r-smirnov, thank you very much!!! I've opened a separate PR with your commits #1310, please take a look, read the description and let me know if something is amiss.

Your PR is a fantastic contribution (I thought that his problem is not fixable!!!) and I'm really looking forward to merging!

[2018-02-12 14:05] #1279 closed

[2018-02-14 13:09] ritikrishu commented on #1253
In my case, it was because the app was using `protobuf java` dependency while some other dependency from the app was using `protobuf lite` and both were declaring same classes under same package name. This was resolved by migrating the SDK to `protobuf java`.
To anyone facing this error, I suggest you take a dive into dependencies of your app and it's dependencies, that might help!

[2018-02-14 17:53] alb-i986 opened #1311 "Ambiguous method call: Mockito.any(Class) vs. Matchers.any(Class)"
A pretty common setup is to have JUnit + Hamcrest + Mockito altogether.

We also like to have static imports for Matchers, Assert and Mockito (or BDDMockito) classes, don't we?

[code]

Unfortunately this won't compile because of a naming collision between `Mockito.any(Class)` and `org.hamcrest.Matchers.any(Class)`.

If we are lucky, we don't need to use both in our test class, so we can solve by

[2018-02-15 06:07] Pr0methean opened #1312 "initMocks() fails when a @Mock field is of generic type"
In this class:
https://github.com/Pr0methean/Glowstone/blob/a47852ef99bb6e3dd9822302030e1c36ccaf79c3/src/test/java/net/glowstone/block/itemtype/ItemProjectileTest.java
The version linked above works fine, but if I annotate the field `projectile` with `@Mock` and replace `projectile = Mockito.mock(projectileClass);` with `MockitoAnnotations.initMocks(this)` I get the following error. I would've exp

[2018-02-15 09:29] mebibou commented on #1253
I'm using mockito in my Android tests and it works, I use:
[code]

[2018-02-15 17:35] mockitoguy commented on #1305
Hey @TimvdLippe, friendly ping ;)

[2018-02-15 21:57] TimvdLippe commented on #1305
As I said I will investigate coming weekend

[2018-02-15 22:22] #1312 closed

[2018-02-15 22:22] Pr0methean commented on #1312
Found the real cause: initMocks was undoing inherited when() calls.

[2018-02-15 23:19] moltmann opened #1313 "InlineByteBuddyMockMaker does not clean up stale mocks"
**Repro:**

1. Mockito 2.15.2 using mockito-inline
2. With -Xmx64m run
[code]

**Expected:**

The test eventually finishes

**Observed:**

**Analysis:**

The `InlineByteBuddyMockMaker` uses a Map<WeakRef\<Mock\>, Handler> in the `mocks` field to store the mocks and their handlers. It relies that the mocks get garbage collected to remove the entry in the map. Unfortunately if there is an invocation

[2018-02-16 07:53] ming13 opened #1314 "Undesired invocation message improvements"
Let’s take a look at the following code.

[code]
The `test` will fail, of course. The following message will be shown.
[code]
It is kind of fine, but the undesired call (for me) is actually inside the `SideEffect` class.

Is it possible to extend the message to show all undesired invocations somehow? It would be extremely helpful when debugging failed tests similar to the sample above — i. e. when

[2018-02-16 07:57] ming13 commented on #1292
Just a suggestion — you’ll be better off providing some sort of abstraction on top of the `GcmNetworkManager`. Yes, it might look redundant, but you’ll control the environment and hide platform-related components using an `interface`.

[2018-02-16 15:17] mockitoguy commented on #1313
Fantastic analysis, thank you! Do you want to take a stab at fixing it?

(ping @raphw, original author of the this mock maker).

[2018-02-16 18:10] raphw commented on #1313
I will have a look. Great analysis indeed. We will have to weakly reference any mock instance stored in Mockito. This is a straight forwars fi, I hope.

[2018-02-16 18:10] raphw commented on #1313
I will do it once I have time. (The kid, you k ow.)

[2018-02-16 18:31] moltmann commented on #1313
I saw two problems we need to keep in mind:
- How to weak references interact with serializability
- We have to be vigilant to prevent premature cleaning up of the mock. Is there any possible case where we can gain access to the the invocations / handler without a reference to the mock?

[2018-02-16 21:49] adamvoss commented on #769
@mockitoguy Sorry, I missed the notification on this one.

Here is what that looks like:

[code]

I would say that is more flexible, but not exactly what I was looking for.  One of the motivations being able to specify it on a per-mock setting is to be able to introduce them gradually.  That way I can use strict when I want to (including existing tests) without changing any of the existing mocks.

[2018-02-16 23:56] moltmann commented on #1313
I uploaded a fix as fb37a2e proposal even though
- I don't like that we use different kind of invocations for some tests
- The tests pass and I think I serialize properly, but I am not 100% sure as I never dealt with serialization before

[2018-02-17 10:32] paulmiddelkoop commented on #445
it would be nice if the MockitoExtension works together with `@TestFactory` based methods. When I use the extension created by the JUnit team, I need to manually reset mocks within the dynamic test method.

@sbrannen you guys already thought about how to integrate that?

[2018-02-17 11:14] marcphilipp commented on #445
@paulmiddelkoop There's no lifecycle support for dynamic tests and we currently have no plans to add any, i.e. there's no hook to reset mocks after a dynamic test. You could use `MockitoSession` in your `@TestFactory` method directly. 🤔

[2018-02-17 12:25] sbrannen commented on #445
I agree with @marcphilipp: due to the lack of lifecycle support for dynamic tests (see the [Dynamic Test Lifecycle](https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests) _note_ in the User Guide), you'll have to reset mocks manually.

Note, however, that you'll likely want to reset them within each `Executable` (i.e., lambda expression or method reference) returned by your

[2018-02-17 13:37] paulmiddelkoop commented on #445
Thanks @marcphilipp and @sbrannen for the explanation. Any reason why there is no lifecycle support for dynamic tests?

For now I ended up with a utility function for this:
[code]

However this will not work if I also have regular `@Test` methods and implement the MockitoExtension to also use the MockitoSession instead of `MockitoAnnotations.initMocks(testInstance)`. It will result in a "Previous

[2018-02-17 14:32] sbrannen commented on #445
Dynamic tests are intended for simple use cases that do not need lifecycle callback support. If one needs lifecycle callback support, it is then recommended to use parameterized tests.

Actually, that won't work at all, not even for dynamic tests.

Your current code example initializes and resets mocks around the _construction_ of the `DynamicTest` instance; whereas, it must do that at _execution_

[2018-02-17 15:14] TWiStErRob commented on #445
@paulmiddelkoop if you create an extension method you don't need to pass in `this@FooTest` every time:
[code]
and the usages of `dynamicTest` and `dynamicMockitoTest` should look the same. (This version also includes what @sbrannen said to delay the try-finally execution.)

Well, now you have two votes for mocking in dynamic tests.

[2018-02-17 15:56] sbrannen commented on #445
@paulmiddelkoop & @TWiStErRob, if you want support for lifecycle callbacks for dynamic tests in JUnit Jupiter, the best place to make your wishes heard is https://github.com/junit-team/junit5/issues/378.

[2018-02-17 21:19] davidkarlsen commented on #445
What is the ETA for Mockito 3.x? I'd love to see this feature.

[2018-02-17 21:47] TimvdLippe commented on #445
The intent now is to ship junit5 support in a separate artifact with mockito 2

[2018-02-18 17:07] #1197 closed

[2018-02-18 20:31] raphw commented on #1252
Sorry this took so long. As a matter of fact, I would suggest that Mockito should throw an exception if mocks of the same type are in conflict to one another. This is always better then undefined behavior.

We could also add a boolean property to `@InjectMocks` that allows to fall back to the old behavior but in this case, I would actually suggest to just throw the exception as this behavior might

[2018-02-18 22:04] davidkarlsen commented on #445
@TimvdLippe That is great news - maybe the milestone should be updated to reflect this?
For any others waiting for this https://github.com/JeffreyFalgout/junit5-extensions/tree/master/mockito-extension might be of help in the meantime.

[2018-02-19 05:44] #1303 closed

[2018-02-19 05:46] mockitoguy commented on #1314
Good idea. Do you want to submit a PR?

[2018-02-19 14:32] zetzer opened #1318 "Consecutive doNothing() on spies lead to UnfinishedStubbingException"
The following code comes from JavaDoc for spy() and was modified by me:

        List<String> messages = new ArrayList<String>();
        List<String> spyMessages = spy(messages);

        doReturn(false).when(spyMessages).add(null);
        doNothing().when(spyMessages).clear();
        doNothing().when(spyMessages).notify();

If I want to mock two void-methods and write it like that, the second

[2018-02-19 14:46] #1318 closed

[2018-02-19 14:48] zetzer commented on #1318
Damn, it must be something esle. The example here was extrapolated from my real case. Then I tried to simplify it, but then it works. Aarrghh. In my real case I am still getting the 'unfinished stubbing' with the second invocation. It involves Spring beans, so I having hard time finding out what am I missing.

[2018-02-19 16:00] mockitoguy commented on #769
Yes. Strict mocks (different beasts than strict stubs): #1097. You may want to check out the overview of strictness: #769

[2018-02-19 16:02] mockitoguy commented on #769
We started working on per-mock / per-stubbing strictness in: #792, check it out!

Thank you for insightful feedback!

[2018-02-20 16:52] SeriyBg commented on #1314
@mockitoguy I can work on it.
Also, to make it consistent I would suggest to extend the message to include all the invocations for other cases. As example for `TooLittleActualInvocations`.

[2018-02-21 08:52] radsz commented on #873
@TimvdLippe On few occasions I saw stubbing done in @Before function for all tests. Therefore, the unnecessary stubbing may be for one test but not the other. Blindly removing those stubs can potentially have bad impact on tests that were admittedly already not perfect. It is a pity that the unnecessary stubbing is not reported per test as this will allow to see if it makes sense to refactor tests

[2018-02-21 17:16] moltmann commented on #1112
I am not quite sure about the long term relationship between mockito, mockito-android and dexmaker.

For now we have three mockmakers with different properties:

**mockito-android** using bytebuddy
\+ fully integrated with mockito
\- slowest mockmaker for Android
\- not an inline-mockmaker

**dexmaker-mockito**
\+ fastest known mockmaker for Android
\- not integrated
\- not an inline-mockmaker

**

[2018-02-22 18:47] dmitry-timofeev opened #1322 "Consider making throwing answer awailable through public API"
Consider making `ThrowsException` answer available through _public, easily discoverable_ API.

Such answer is useful as a default mock answer when testing error handling in a SuT (e.g, in a proxy, adapter, decorator or internal framework code that must handle exceptions gracefully). Consider the following code:
[code]

Having to write when/thenThrow for each method is repetitive and tedious, there

[2018-02-22 18:51] dmitry-timofeev commented on #1322
If you think it might be useful to other users but there isn't a good place in 2.x (will break APIs), I think they might be added to `Answer` as static interface methods or to `Answers` as regular static methods.

[2018-02-22 22:31] lorochka commented on #973
I want to add some information: this extension does work with mockito-core 2.10.0 and Springboot. Everyone, who experience this behavior, should build the dependency tree and see which version of Mockito you have.

[2018-02-23 10:59] SeriyBg commented on #1314
Submitted PR #1319

[2018-02-23 15:00] paweljanikowski commented on #537
I have faced the same situation.
We need serializable spy!

[2018-02-23 17:19] eximius313 commented on #537
I think that if the subject of `spy` and `mock` method implements `Serializable`, then Mockito should return serializable instance with no exceptions.

[2018-02-23 17:22] eximius313 commented on #537
Dear @bric3,
I think that if the subject of `spy` or `mock` method implements `Serializable`, then Mockito should return serializable instance with no exceptions and current behavior should be treated as a bug!

While this:
[code]
indeed works, it should be treated only as a workaround until the framework fixes it's behavior.

[2018-02-23 18:55] dmitry-timofeev opened #1323 "Improve BaseStubbing & ThrowsException internals"
I'd discovered some exception-stubbing related code that may express its intent more clearly during #1322 investigation.

Please see the PR for more details: #1324

[2018-02-24 05:11] mockitoguy commented on #1112
Hey @moltmann thank you for feedback! What do you mean by "not integrated"?

[2018-02-24 05:13] mockitoguy commented on #1112
Guys, if mockito team shipped a new artifact "mockito-base" (say), that would not depend on any mockmaker (e.g. would not depend on bytebuddy), would that be helpful? (I'm not pitching an idea at this point, but rather I'm trying to understand the problem better... by offering a solution :).

[2018-02-24 09:46] raphw commented on #1112
I think that offering a core module is a good idea. Byte Buddy relies on the fact that most classes are never loaded what works for a standard VM but not for Android where all method are merged into one giant blob. Also, Byte Buddy aims to support the standard first and I do not think that I will work towards a native creation of dex classes, the library is complex enough as it is. Since Byte Budd

[2018-02-25 06:11] mockitoguy commented on #1313
Hey guys! I was reviewing @moltmann's PR and I'm wondering what are the alternative options to solve the problem. Can we attach a state to the mock object so that MockMakers can do their magic without keeping weak maps of all mocks? @raphw, thoughts?

[2018-02-25 08:57] raphw commented on #1313
Unfortunately, I do not think that there is an alternative to weak references.

The Java instrumentation API allows the retransformation of Java byte code, it does not allow changing the shape of a class, e.g. adding fields. Naturally, the dispatcher would be placed in such a field such that the life time of a dispatcher would be implicitly bound to the mock instance. But since we cannot add this

[2018-02-25 16:58] mockitoguy commented on #1313
Thank you for explanation!

One alternative/supplemental option is to make the lifecycle of mocks more formal. For example, JUnit rule / runner / mockito session can inform the mock maker that "we're done with mock x".

[2018-02-26 12:18] lviggiano opened #1325 "illegal reflective access operation: AccessibilityChanger"
Hi.

I'm using IntelliJ Community 2017.3 and when I run junit tests using "Menu>Run>Run All In Owner" in my project (https://github.com/lviggiano/owner/) I get the following warning at the console:

[code]

I cannot identify the problematic test, since I have hundreds and this happens when I run them all at once. But eventually if I find the problematic one, I'll update this issue.

I'm using mock

[2018-02-26 17:53] moltmann commented on #1112
@mockitoguy With "not integrated" I mean: Built, tested and developed inside of mockito. Hence all new features will work and there will no bugs

I looked into building such a plugin-free or at least mockmaker-free version of mockito and there are some issues:
- You need pull request 1320 to clean up the internal directory structure
- Currently default plugins are required to live inside of mockit

[2018-02-26 18:05] moltmann commented on #1313
@mockitoguy If you can make this work, great. I see my mockmaker to be used to a legacy test suites though as they want to just mock one final method and not create a new test suite. Some older suites might not use junit or any other fancy feature.

Hence I would like to find a solution that does not require any changes outside of mockito.

[2018-02-28 07:16] tmccombs commented on #1067
@raphw

This seems to be happening for every travis build for https://github.com/lucidsoftware/xtract

However, it doesn't happen when I build locally.

I was able to reproduce by building it in the travisci/ci-garnet:packer-1512502276-986baf0 docker image. Which is how I was able to get a thread dump and figure out that this is a likely cause.

Now that I have identified what the problem probably

[2018-03-01 06:03] tmccombs commented on #1067
In my case I had to fix it by adding `sequential` to the Specification to preven examples from being executed in parallel.

[2018-03-01 07:12] mockitoguy commented on #1067
Hey guys, we're planning to merge the fix soon. Thank you for patience and reporting another use case here!

[2018-03-01 17:49] Sanne opened #1326 "Reduce memory consumption of the typical LocationImpl"
I recently noticed very heavy memory usage on our testsuite (which is using mockito) so I started profiling.

I eventually found #1313 but that's already being worked on. Also spotted a low hanging fruit: our testsuite is allocating about 6 *million* instances of `LocationImpl`.
It looks like I can't avoid that easily, however each `LocationImpl` also allocates a new `StackTraceFilter`, which can

[2018-03-01 21:38] kobbikobb opened #1328 "Returning a mocked object from a mocked service"
`thenAnswer` does not work with a mocked object created inline in a method.

 See below, do you think this should work?

   @Test
    public void doesNotWork() {
        ToyFactory toyFactory = mock(ToyFactory.class);
        when(toyFactory.create()).thenReturn(createToy()); // DOES NOT WORK
    }

    @Test
    public void works1() {
        ToyFactory toyFactory = mock(ToyFactory.class);

[2018-03-02 15:14] #1326 closed

[2018-03-04 11:17] carloxavier commented on #1142
is there any way to improve times yet when using mock-maker-inline?
We have around 7K junit tests, and the impact is very high (seeing +3x times on testing times)

[2018-03-05 13:34] ClaudeHangui commented on #1289
For anyone still facing this issue, here how my app module is defined (for mockito anyway), currently I'm still using the old dependencyNotation.

`    testCompile "org.mockito:mockito-core:$rootProject.ext.mockitoCoreVersion"`
` androidTestCompile ('org.mockito:mockito-core:$rootProject.ext.mockitoCoreVersion'){
        exclude group: 'net.bytebuddy'
    }`

where (in my project's build.gradle fi

[2018-03-05 15:50] mockitoguy commented on #1112
Thank you for explaining!

Our long term strategy will focus on building strong API / platform and keeping non-core plugins external. We don't have sufficient Android expertise to confidently "own" the android integrations. We want to ensure that we have comprehensive test coverage and the features work 100% for all externally maintained plugins.

I merged the directory structure PR. Let's work on

[2018-03-05 16:09] YLombardi opened #1329 "Session Attributes not found by Spring MVC"
I'm migrating my spring boot application to spring boot 2.
Previously, I had spring boot 1.5.9, Spring 4 and Mockito 1.10.9.
Now I have spring boot 2.0.0, Spring 5 and Mockito 2.15.0.

I have an issue with a test that use Session Attributes. It was working fine before the migration, but now it fails.

Here is the Controller that I want to test :

[code]

And the test :

[code]

The "getSessionAttr

[2018-03-05 18:50] moltmann commented on #1313
@mockitoguy Is there any further change you want to c0ad83a?

[2018-03-05 20:39] raphw commented on #1142
Unfortunately, this is the price to pay. We do already cache the more expensive parts but using the instrumentation API is very expensive, therefore, the subclassing mock maker will always be much cheaper.

In the future, there might be an extension that asserts if the mock really needs to be final but right now this is not a priority.

[2018-03-06 17:12] BraisGabin commented on #1142
I found a different option to mock Kotlin classes where you don't need `mock-maker-inline` so there isn't any performance impact: https://engineering.21buttons.com/mocking-kotlin-classes-with-mockito-the-fast-way-631824edd5ba

The main idea is use the [allopen plugin](https://kotlinlang.org/docs/reference/compiler-plugins.html).

[2018-03-07 16:05] AAverin commented on #973
The only solution for us so far have been extracting everything to another module
The problem is that when ApplicationContext class is in a different module `@SpringBootTest` can't discover it and I can't write integration tests.
Any fixes for this problem?

[2018-03-08 10:02] cesar1000 opened #1330 "Performance regression in 2.11.2"
Hey,

We noticed a significant performance regression after upgrading mockito from 2.8.9 to 2.13.0. I ran a small test suite using the gradle profiler on all versions in maven from 2.8.9 to 2.15.0, and then I ran in all incremental versions between 2.11.0 and 2.12.0, and in 2.15.6. These are the results (running the same suite six times on each version):

[code]

Between 2.11.1 and 2.11.2 there's

[2018-03-08 12:37] lindzh opened #1331 "Mockito.mock CallRealMethod didn't work with void method"
I am using mockito for unit test, When I using Mockito.mock for an object, and add callRealMethod for void method ,but it didn't work. And my code is as below:

[code]

In this test case, execute method has never invoked,but commandName and buildCommandlineOptions callRealMethod worked.

[code]

[code]

check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't

[2018-03-08 19:09] hth opened #1332 "With Inline Mocking enabled, Mockito throws when mocking interface with default method"
Similar to issue https://github.com/mockito/mockito/issues/944

org.mockito.exceptions.base.MockitoException:
Mockito cannot mock this class: interface xxx.XXX.MMM.SomeInterface.

If you're not sure why you're getting this error, please report to the mailing list.

Java               : 9
JVM vendor name    : Oracle Corporation
JVM vendor version : 9.0.4+11
JVM name           : Java HotSpot(TM) 64-

[2018-03-09 08:05] raphw commented on #1330
Thanks for the detailed report. I got to do some testing myself snd the regression is caused by a bug fix for a rather obscure case. I did not anticipate that it would influence the happy path in this severe way, too. I will look into how this can be solved in a better way! Thanks for reporting.

[2018-03-09 08:06] cesar1000 commented on #1330
Awesome, thanks! :)

[2018-03-09 15:47] raphw commented on #1330
@cesar1000 I did a small change. Could you try to build Byte Buddy from GitHub and run your performance tests against the latest version? I wonder if this already resolves the regression.

[2018-03-09 18:00] cesar1000 commented on #1330
Ah, that works :). I ran a baseline without the fix, and then I replaced the dependency and tried again. The timings are back to what they used to be before 2.11.2:

[code]
Thanks for the fix!

Incidentally, I noticed that enabling inline mocks in this same test suite runs ~30% slower. Are inline mocks expected to be slower, or is that a sign of a performance issue?

[2018-03-12 16:08] bbonanno opened #1333 "Add mockito-scala"
It would be nice to have a separate module (?) with Scala specific features and syntax sugars
I've been working on this for a while now and I think I could improve the experience of using Mockito with Scala

I'm not sure what the community thinks about a separate module for it, I think it's right to keep it clean and separated as they will be some .scala files

Things I'd initially put there would

[2018-03-12 16:11] TimvdLippe commented on #1333
I do not have a lot of Scala experience nor am actively developing Scala. Could you publish a very small PR with 1 example API to show: 1. what the original problem/annoyance was and 2. how this prototype would fix it? That way we can make a judgement call whether we want a full-blown module :smile:

[2018-03-12 16:26] bbonanno commented on #1333
@TimvdLippe sure

[2018-03-12 16:47] TimvdLippe commented on #1333
@szpak Oh yes I forgot to point that out. @bbonanno for the first PR, you can create a new subproject just like https://github.com/mockito/mockito/tree/release/2.x/subprojects/kotlinTest to have this as a separate module.

[2018-03-12 16:59] bbonanno commented on #1333
@szpak @TimvdLippe Yeah, I was thinking in doing that as adding the Scala dependencies to mockito-core looks bad from the beginning.
Keep tuned, as soon as I have something decent to show the problem and solution I'll raise a PR so you guys can check it out

[2018-03-12 18:13] raphw commented on #1330
Yes, inline mocks make heavy use of the instrumentation API what regularly triggers full GC and JIT deoptimizations. Unfortunately, this is a cost the backing technic implies.

Thank for double-checking. I am preparing a release of Byte Buddy this week that also supports Java 10 and 11 and the performance fix will come along with it.

[2018-03-12 20:45] cesar1000 commented on #1330
Ah, thanks, that's good context. And thanks for the fix!

[2018-03-13 04:00] #1313 closed

[2018-03-13 13:37] marcosalis opened #1334 "[kotlin] RETURNS_DEEP_STUBS not working in instrumentation tests with kotlin-allopen"
Mockito 2.15.0
supportTest 1.0.1
Kotlin 1.2.30

I'm trying to mock (using `RETURNS_DEEP_STUBS`) some Kotlin data and normal classes in a library module that uses the `kotlin-allopen` compiler plugin in an Android instrumentation test.
Standard mocking works fine, but no deep stubs are created, i.e. a String getter for a `val` constructor parameter still returns null. Is this a known limitation or

[2018-03-13 15:33] YLombardi opened #1335 "Issue with Mockito and JpaRepository"
Hello,

I don't know if this an issue with Spring JPA or with Mockito but I encountered a strange behaviour.
I create 2 Controller. In the first, I inject a Service. In the second, I inject a JpaRepository.

Now I create UnitTests for both this Controller.
For the second Controller, I mock the Repository. Everything works fine.
For the first Controller, I mock the Service. The test fail.
It seems

[2018-03-13 15:37] TimvdLippe commented on #1335
I think this is an issue with Spring, not with Mockito. There is probably an issue with the dependency injection on the fields, but that is pure guessing. From a Mockito point of view, I see nothing wrong with this test.

[2018-03-13 16:20] YLombardi commented on #1335
Thanks for this quick answer.
I will post the same issue in Spring repo.

[2018-03-14 15:36] #1335 closed

[2018-03-14 22:39] charlesmunger commented on #1297
I encountered this issue with mockito 1.9.5, and was able to fix it by changing SearchingClassLoader's implementation.

The returned classloader has a null parent, and checks a map of mockito classes before delegating to the next one:

[code]

This solves the issue; the mock itself uses the classloader that the mocked interface uses, and it implements interfaces loaded by the classloader that load

[2018-03-15 04:40] mockitoguy commented on #1333
Hey @bbonanno! Thank you for suggestion! Given that the core team has no expertise in Scala, most likely we won't be publishing mockito-scala from our project. Please get the prototype working in a separate project. Make it great, then for sure you will attract community!

Thanks for suggestion! I'll close this ticket to keep our issue tracker clean.

[2018-03-15 04:47] mockitoguy commented on #1329
Sorry about the issue! The core team is busy at the moment. Please reach out to SO community, and or Spring Boot community. I wished I had a better answer for you :/ Good luck debugging!!!

[2018-03-15 04:50] mockitoguy commented on #1298
Hey guys! Sorry about the issue!

@raphw, can you shed some light on this problem? Any hints would be useful!

@mindawei, I suggest to reach out to SO community. Core Mockito team is spread thin at the moment.

[2018-03-15 04:51] mockitoguy commented on #1305
@TimvdLippe, do you want to keep this ticket open? It is very technical and doubt we will have time to work on this in the near future.

[2018-03-15 08:38] TimvdLippe commented on #1305
I would like to keep this open for future me

On Thu, 15 Mar 2018, 05:51 Szczepan Faber, <notifications@github.com> wrote:

[2018-03-15 10:50] marcosalis commented on #1334
I've just realised my example test also fails on normal unit tests, even with the `/resources/mockito-extensions/org.mockito.plugins.MockMaker` configuration with `mock-maker-inline`.

[2018-03-15 15:38] #1067 closed

[2018-03-15 21:18] raphw commented on #1298
I suspect Windows 10 in combination with Java 9 to ve the problem.

Java 9 made the self-attachment harder but I think I fixedit in Byte Buddy 1.8.0.

Basically Mockito just needs to update Byte Buddy and it should work again. Just busy with the kid these days but there should be nothing to the update.

[2018-03-15 21:56] bbonanno commented on #1333
That's a problem then, I only have permission to contribute to an existing project, not to start a new one...

[2018-03-19 11:24] SeriyBg commented on #1331
In your case the method isn't call because you call it with `null` parameters:
```getTimedKvConfigCommand.execute(commandLine,null,null);```

But you stubbed it for the following parameters:
```Mockito.any(CommandLine.class),Mockito.any(Options.class),Mockito.any(RPCHook.class)```
Use `Mockito.any()` instead to match for `null`s.

[2018-03-20 17:12] TimvdLippe commented on #1331
@SeriyBg is correct, we no longer match on `null` with `any`, to catch a wide range of bugs earlier. If you change it to [`isNull`](http://static.javadoc.io/org.mockito/mockito-core/2.16.0/org/mockito/ArgumentMatchers.html#isNull--) it should work

[2018-03-20 17:12] #1331 closed

[2018-03-20 17:13] TimvdLippe commented on #1332
@hth the stacktrace appears to be an issue with your JDK configuration, as it reports `Caused by: java.lang.NoClassDefFoundError: java/io/Serializable`. Could you provide us a with a minimal reproducible case that shows the problem?

[2018-03-20 17:15] TimvdLippe commented on #1328
This is probably related to our state-management with mocks and stubs. I wonder if #1264 addresses this issue.

[2018-03-20 17:22] TimvdLippe commented on #1295
Closing per above comment. Feel free to reopen if you are still encountering this issue with the latest version of Mockito.

[2018-03-20 17:22] #1295 closed

[2018-03-21 11:15] escitalopram opened #1336 "verboseLogging breaks some stubbing"
When stubbing a method call with the original mock as an argument, this fails, because the logging code seems to calls the toString() method on the mock at the wrong time.

This test gets me an exception and works fine when I either remove the logging or change the argument for the stubbing.

    import static org.mockito.Mockito.mock;
    import static org.mockito.Mockito.when;
    import static

[2018-03-21 16:46] escitalopram commented on #1336
I did some more research:

* I noticed that the problem not only appears when the mock is supposed to return itself, but with any mock as return value.

* The problem goes away when using the `Mockito.do*` methods, as recommended for spies.

[2018-03-21 22:20] moltmann commented on #1013
I am trying to sum up all discussion I had and what I learnt from this thread.

I updated my prototype at https://github.com/moltmann/dexmaker/tree/staticMock using
- whenStatic
- explicit finishStaticMocking

# Stubbing

How does "when" work for static methods?

## when(λambda)

### Suggested APIs

[code]

### Problems

#### Not clear what method is called

If the lambda calls two methods, e.g.:

[2018-03-22 12:20] TimvdLippe commented on #1333
@bbonanno Sorry for the confusion. @mockitoguy and I had an internal chat regarding this topic and I would like to clarify some things:

First of all, we have to acknowledge that the current Mockito core developers have little to none Scala programming experience. Therefore, we are reluctant to incorporate sophisticated Scala code in the Mockito core project, as we would have trouble maintaining.

[2018-03-22 16:38] moltmann opened #1337 "org.mockitousage.bugs.varargs.VarargsNotPlayingWithAnyObjectTest#shouldNotAllowUsingAnyObjectForVarArgs reaches fail"
org.mockitousage.bugs.varargs.VarargsNotPlayingWithAnyObjectTest#shouldNotAllowUsingAnyObjectForVarArgs reaches the fail statement.

[2018-03-22 16:40] moltmann opened #1338 "Statements in org.mockito.internal.util.PrimitivesTest#should_check_that_value_type_is_assignable_to_wrapper_reference are not true"
Statements in org.mockito.internal.util.PrimitivesTest#should_check_that_value_type_is_assignable_to_wrapper_reference are not true

[2018-03-22 16:45] moltmann commented on #1338
E.g. Primitives.isAssignableFromWrapper(int.class, Integer.class) is false

[2018-03-22 16:45] moltmann commented on #1337
mock.run("a", "b");
verify(mock).run((String[]) anyObject())

does not throw an AssertionError

[2018-03-22 16:49] moltmann commented on #1337
See pull request 1339

[2018-03-22 16:49] moltmann commented on #1338
See pull request 1339

[2018-03-24 15:42] #445 closed

[2018-03-24 22:51] TimvdLippe commented on #445
@smoyer64 That is correct. I wanted to publish the extension as it was lingering for too long and thus did not want to wait on discussion about "new features" (compared to the 4 runner). Please open a new issue to discuss that change.

[2018-03-25 10:51] szpak opened #1345 "Mockito 2.17.0 is not available in Maven Central"
Despite of having a `[ci maven-central-release] Release 2.17.0` [commit message](https://github.com/mockito/mockito/commit/a269394a73a7859ebb33a8e50090196559b8a785) the release is not available in Maven Central - [404](https://repo1.maven.org/maven2/org/mockito/mockito-core/2.17.0/) (as for now - 18 hours after the release) .

Looking at the Travis [logs](https://travis-ci.org/mockito/mockito/jobs

[2018-03-25 11:44] TimvdLippe commented on #1345
If I understand correctly, Maven Central can take up to a couple of days to
sync. Lets see if it is pushed in the next 48 hours.

On Sun, 25 Mar 2018, 12:51 Marcin Zajączkowski, <notifications@github.com>
wrote:

[2018-03-25 11:49] szpak commented on #1345
@TimvdLippe Not exactly. The cache for their search index can be updated with some delay. However, the artifacts are usually available in the repository after a few (several minutes). My link point directly to the repository.

Nevertheless, if you don't have any other idea how to track it down (at the Bintray side), we can wait a little bit and later on asked the Sonatype guys how their see it.

[2018-03-25 11:49] TimvdLippe commented on #1345
This is the information in Bintray:

[code]

[2018-03-25 11:51] szpak commented on #1345
Looks good. Would you mind to ask the Sonatype (using their mailing list?) at the evening about the status (unless the artifacts appears automatically)?

[2018-03-25 12:31] szpak opened #1346 "Different mocks are used for @Mock and @InjectMock in the same test class with JUnit 5 extension"
I've been playing with the new JUnit 5 support in Mockito 2.17.0. I have found that with `@Mock` and `@InjectMocks` used in the same test class different mocks are injected. I would expect to have the same mock reused (as it works with JUnit 4 or manual `@Mock` initialization).

Sample code:
[code]

Error message:
[code]

The minimal (non-)working example is available [here](https://github.com/szp

[2018-03-25 12:42] #1314 closed

[2018-03-25 13:02] TimvdLippe commented on #1345
I have filed https://issues.sonatype.org/browse/OSSRH-38658

[2018-03-25 13:04] TimvdLippe commented on #1346
Hm that seems really weird. Could you please post the implementation of `TacticalStation` and `SpaceShip` (although I am assuming they are simple POJO's?)

[2018-03-25 13:17] TimvdLippe commented on #1346
(Oh never mind, I missed the small link at the end of the example to https://github.com/szpak/code-examples-and-poc/tree/mockito2junit5-bug/mockito2-junit5/src/main/java/info/solidsoft/blog/mockito/junit5 )

[2018-03-25 13:37] TimvdLippe commented on #1346
@szpak Please see https://github.com/mockito/mockito/blob/5e9a3c62fc1ca4cf12d5d19580613f418cebc895/subprojects/junit-jupiter/src/test/java/org/mockitousage/InjectMocksTest.java for a working test. I could make these tests fail with adding `final` to the field declaration, so that is what is going wrong. Removing `final` makes the tests pass.

What I do not understand is how this could work with JU

[2018-03-25 13:54] szpak commented on #1346
It also works with `final` if `MockitoAnnotations.initMocks(this);` is used. Therefore, I would suspect the way how it is triggered/executed in JUnit 5 extension.

[2018-03-25 18:02] ahasbini commented on #769
Hello,

I'm having a hard time figuring this out and would hope if someone could help me as I am using Strict Stubbing with slightly complicated case.

I'm currently writing instrumentation test cases for an Android application which uses mockito to "sort of" unit test certain components such fragments. On top of that I have obfuscation enabled as I am trying to automate testing of the entire code

[2018-03-25 20:12] smoyer64 commented on #445
@TimvdLippe

I haven't had a chance to try out the official ``MockitoExtension`` you published yesterday (I'm watching for it in Maven Central but rereading your post perhaps I should be watching Sonatype's OSS-SNAPSHOTS), so I wasn't aware that the version you published was missing this functionality.  I just thought it was important to lump these two requests together.

The ``MockitoExtension``

[2018-03-25 21:08] smoyer64 opened #1348 "Support @Mock injection in JUnit 5 method parameters"
JUnit 5 has the ability to "inject" parameters into test methods via an extensible ``ParameterResolver`` interface.  The JUnit 5 users guide provides an example that shows how such a ``ParameterResolver`` can supply mock objects as test parameters as follows (shamelessly copied from https://junit.org/junit5/docs/current/user-guide/#writing-tests-dependency-injection):

[code]

The prototype ``Mock

[2018-03-25 21:11] smoyer64 commented on #445
@TimvdLippe Sorry I wasn't clear in my last comment.  I do realize that this issue is closed and went off to write the feature request you asked for (and got side-tracked by an emergency with one of the non-profits I help run).

I've added #1348 ... please let me know if additional information is needed.

Thanks for all the hard work you've done to provide official JUnit 5 support in Mockito!

[2018-03-25 21:27] TimvdLippe commented on #1348
I am 👍 for this feature with the following use case:

Initialization of local variable mocks. Previously this would be `Mock<Generic> mock = mock(Mock.class)`. However, this loses the type-signature of `Generic`. With parameter mocks, we can do `@Mock Mock<Generic> mock` and still maintain the generic type signature.

[2018-03-25 21:35] smoyer64 commented on #1348
I should also note that I haven't personally used parameter resolution the way it's shown above.  Our team generally either injects the mock object at the class level and configures it in ``@BeforeEach`` **OR** we inject the mock object in the test method and configure it at the top of the test method's block.

[2018-03-25 21:58] TimvdLippe commented on #1348
Yes agreed. Rather than some "magic" shared by methods, I think a generics-type-safe replacement for local mock initialization is a lot better.

[2018-03-25 22:28] smoyer64 commented on #1348
I just edited the description of this issue to include a link to the sample ``MockitoExtension`` (I had intended to provide that reference originally).  I don't know if I'd refer to the the methods sharing the parameter instance as "magic" but without looking at the code it certainly isn't clear that the parameters are the shared if the types and names match.  I definitely think that there are use

[2018-03-26 04:07] mockitoguy commented on #1345
Thanks guys for reporting and tracking this problem down!

[2018-03-26 08:55] SeriyBg commented on #1346
@TimvdLippe @szpak I have debugged this issue a bit. Here is what I found: it does look like the problem is with triggering the same logic from `MockitoExtension.class`.
The root cause of the problem is that `beforeEach` creates two `testInstances` of the same test class for each test.
Looks like method `collectParentTestInstances` is adding the same testInstance to the list of test instances.
I c

[2018-03-26 09:03] TimvdLippe commented on #1346
PRs appreciated!

On Mon, 26 Mar 2018, 10:55 Serge Bishyr, <notifications@github.com> wrote:

[2018-03-26 09:45] SeriyBg commented on #1346
Have added PR #1349 with the fix for the issue

[2018-03-26 10:28] #1346 closed

[2018-03-26 11:10] TimvdLippe commented on #1348
In Junit 4, local mock initialization would be

[code]
This would issue a warning saying that the generic type of `String` is not correctly created by `Mockito.mock`. (Even though we know that our mocks will work)

With this feature, in JUnit 5, we can have:

[code]
And the compiler will not warn any longer.

[2018-03-26 12:12] smoyer64 commented on #1348
I don't remember ever seeing that warning - Perhaps because I've always used the Mockito runner or rule?

[2018-03-26 12:14] TimvdLippe commented on #1348
Correct. You do not get that warning when using the runner. But then you have mocks that are used in every single test. This targets the use case where you need 1 extra mock in only 1 testcase.

[2018-03-26 12:27] smoyer64 commented on #1348
And if the ``MockitoExtension`` is the JUnit 5 replacement for the runner or rule, why wouldn't those warnings also be suppressed?

[2018-03-26 12:28] TimvdLippe commented on #1348
Because the point of Mock initialization is different. JUnit 4 only supported for attributes. We are now talking about method parameters. Hopefully when I implement this logic, it is more clear to you 😄

[2018-03-26 12:38] smoyer64 commented on #1348
I'm not trying to be argumentative ... but as a pretty heavy user of the prototype ``MockitoExtension`` in the https://github.com/junit-team/junit5-samples project we'd have a lot of tests to update with this syntax.  We'll also need to make sure the example in the users guide and (if they're kept) the code in the junit-samples project matches the official implementation.  At this point I should p

[2018-03-26 12:42] TimvdLippe commented on #1348
Looking at the source of https://github.com/junit-team/junit5-samples/blob/7bf40178345d5ca837579c8ddb8c025401a98788/junit5-mockito-extension/src/main/java/com/example/mockito/MockitoExtension.java I think we should be fine. I will let you know when the PR is open so that you can test that out.

One note: the Mockito team was not involved with the development of the prototype, but I think we will a

[2018-03-26 12:51] smoyer64 commented on #1348
I was looking at https://github.com/junit-team/junit5-samples/blob/master/junit5-mockito-extension/src/test/java/com/example/mockito/MockitoExtensionWithNestedTests.java because it's got a bunch of use cases including test-local mocks and the "magic" you referred to above.  Thinking though the syntax change you're describing, I'll assume that the tests would still run but with the same warning?

I

[2018-03-26 13:38] TimvdLippe commented on #1348
Opened #1350 with a proposal implementation.

[2018-03-26 15:35] TimvdLippe commented on #1345
This has been resolved per https://issues.sonatype.org/browse/OSSRH-38658?focusedCommentId=470757

[2018-03-26 15:35] #1345 closed

[2018-03-26 19:38] sinwe commented on #1152
I'm getting this again with 2.17.0. It works with 2.16.0

[2018-03-26 19:40] TimvdLippe commented on #1152
@raphw @elizarov Hm, this might be a regression between Kotlin and Bytebuddy?

[2018-03-26 19:43] sinwe commented on #1152
@TimvdLippe Sorry, I forgot to mentioned that I don't use Kotlin, but I'm using scala

[2018-03-26 20:04] sinwe commented on #1152
Just to give update, I think it is related to bytebuddy 1.8.0. I force mockito 2.17.0 to use bytebuddy 1.7.9 and it works properly.

[2018-03-26 20:09] TimvdLippe commented on #1348
Okay, to write down the reason I think mock sharing by parameter is not a good idea:

First of all, there is a lot of duplicate code. For every test method, you need to list the mocks, which results in duplicate. Rather, using fields for these mocks removes the duplication.

Secondly, by relying on fields, the compiler will complain when you make a typo (or change a type). With parameters, you rel

[2018-03-27 00:27] szpak commented on #1346
It works flawlessly. Thanks @SeriyBg!

@TimvdLippe As this bug can impact all those people prefering constructor injection, what do you thing about releasing the new minor version (e.g. after #1350 is hopefully merged :) ) to Maven Central?

[2018-03-27 08:04] raphw commented on #1152
I will look into this, I did a complete rework of the stack map frame handling but I assume there is a regression somewhere. The idea is that this should no longer be a problem alltogether.

This rewrite was really complex and its impossible to catch everything. Could you do me a favor and try with Byte Buddy built from master? I already fixed a few bugs I was made aware of. I wonder if the one yo

[2018-03-27 11:05] sbrannen commented on #1348
I totally understand the rationale. 👍

[2018-03-27 11:14] TimvdLippe commented on #1346
@szpak Yes after #1350 we will probably publish a new version. You can however already use the latest version from Bintray

[2018-03-27 13:28] ahasbini commented on #769
Hi @mockitoguy, sorry to bother you if any. Was just hoping if you could provide me some feedback whether I'm on the right path with this issue or not.

I've done another test with obfuscation completely disabled, but a class has two methods with the same name but different parameters signature. I've applied the Strict Stub rule and got the same error below:
[code]

Here's my test:
[code]

and the

[2018-03-27 13:32] ahasbini commented on #769
Hi @mockitoguy, hope I'm not bothering you at a bad time. Was just hoping if I could get some feedback to whether I'm on the right path with the issue I'm facing.

I've tested the problem again without having the obfuscation enabled but to have a mocked object which has two methods with the same name and different parameter signatures.

Here's the error that I am facing:
[code]
Here's my test:
[co

[2018-03-27 13:33] ahasbini commented on #769
Sorry, might have send the comment twice by accident.

[2018-03-27 13:41] sinwe commented on #1152
How can I get Byte Buddy from master?

[2018-03-27 15:13] raphw commented on #1152
Check it out from GitHub and build it with Maven locally.

[2018-03-27 15:36] sinwe commented on #1152
The master failed to build?
[![Build Status](https://travis-ci.org/raphw/byte-buddy.svg?branch=master)](https://travis-ci.org/raphw/byte-buddy)

[2018-03-27 17:17] ssoloff commented on #1325
Not sure if this helps, but I'm seeing the same issue in a different project.  We've tracked it down to spying on types from the `java.base` module.  The following MCVE demonstrates the issue:

[code]

Running the test as-is reports the following warnings to the console:

[code]

Commenting out the initialization using the spy and uncommenting the initialization using the mock produces no warnings

[2018-03-27 21:12] szpak commented on #1346
I know Tim that I can, but JUnit 5 support is a notable feature and having it working correctly in the latest non-development version (available in Maven Central) seems very sensible for me. Great, that we agree on releasing a new stable (but IHMO still 2.17.x) version soon.

[2018-03-28 17:44] aam opened #1352 "Please consider release of non-alpha version of mockito for 3.0.0-alpha+2"
flutter's automatic dependency tracking doesn't support tracking `alpha` version of packages, so it will need proper release of mockito that is at 3.0.0-alpha+2.

[2018-03-28 17:58] jonahwilliams commented on #1352
@aam you want https://github.com/dart-lang/mockito/issues

[2018-03-28 18:03] aam commented on #1352
Thanks @jonahwilliams !

[2018-03-28 18:03] #1352 closed

[2018-03-29 03:47] lindzh commented on #1331
Thanks for your help.

[2018-03-29 09:33] ahasbini opened #1353 "Strict Stubbing and Overloaded Methods"
Hello,

I've been trying to reach out about an issue that I'm facing with overloaded methods in certain class in #769. The problem appeared when I was applying obfuscation on source code and running tests on them since in obfuscation aggressive overloading is used. However the problem also occurs without obfuscation. If two overloaded methods within the same class are being stubbed with strict stu

[2018-03-30 07:22] guenhter commented on #1240
Same issue for JDK10 and Kotlin (and Java)

[2018-03-30 12:36] ming13 commented on #1240
@raphw, I’ve just tried `2.17.3` from `dl.bintray.com/mockito/maven` with `bytebuddy:1.8.1` and this kind of errors still happens. This happened for me after migrating from JDK 8 to JDK 9. A coworker of mine updated his Android Studio from 3.0 to 3.1 and observes the same thing in IDE (running tests via Gradle works fine though). This version of AS actually bundles JDK 8, but the updated revision

[2018-03-30 12:40] raphw commented on #1240
Seems like some JDK internals were switched out such that Byte Buddy tries to instrument classes that it needs itself to apply the instrumentation. This requiressome whitelisting on our side, I believe.

[2018-03-31 14:46] mockitoguy commented on #1337
Thank you for pointing this out! Just finishing reviewing so that it's ready to merge!

[2018-03-31 15:19] #1337 closed

[2018-03-31 15:19] #1338 closed

[2018-04-03 09:23] TimvdLippe opened #1359 "Update Gradle files to Kotlin"
Whenever I have to update our Gradle files, I have trouble expressing it in Groovy. Since Gradle now also supports Kotlin files, it might be better to upgrade our files to be built with Kotlin instead. This would be type-safe and have improved editor support (e.g. autocomplete).

[2018-04-03 12:16] Arvalon opened #1360 "Error with mock RealmObject class"
Greetings!
How to use the classes of the model Realm when testing in Mockito?

`public class Foo extends RealmObject {`
`    @PrimaryKey`
`    private String PK;`
`    public int getNum(){ return 1;}`
`}`

Wrapping in mock for tests

`@Test`
`public void clearObject(){`
`    Foo mock = mock(Foo.class);`
`}`

And even if I wrap in spy

`@Test`
`public void SpyOnRealmObject(){`
`    Foo foo = new Fo

[2018-04-04 02:18] #1323 closed

[2018-04-04 17:42] bbonanno commented on #1333
@TimvdLippe Sorry for the lack of answers, I've been off and busy, but I expect to have something to show soon!

[2018-04-04 22:50] moltmann commented on #1013
I implemented the recommendation of https://github.com/mockito/mockito/issues/1013#issuecomment-291045005 in :
- Code: https://github.com/moltmann/dexmaker/tree/staticMock
- JavaDoc: https://moltmann.github.io/dexmaker/com/android/dx/mockito/inline/extended/package-summary.html

It mostly works even though some parts of the implementation use nasty reflection.

[2018-04-04 23:42] gazeing opened #1361 "How to mock application context in inline mode?"
I switch to inlined mock cuz I wanna write unit test for my Kotlin data class. Then I found I can not mock context anymore.

What I am doing is:
`Context contextMock = Mockito.mock(Context.class);    Mockito.when(contextMock.getString(R.string.blabla)).thenReturn("blabla");

       `
Then I got:
`org.mockito.exceptions.base.MockitoException:
Mockito cannot mock this class: class android.content.Co

[2018-04-06 16:26] bbonanno commented on #1333
Hi @TimvdLippe @szpak @mockitoguy

I've raised a PR as a draft example of what I'm proposing, if you think is ok, it needs a little bit more polishing before it can be merged, but I think the code and the tests show the intention

Please let me know your thoughts

https://github.com/mockito/mockito/pull/1362

[2018-04-08 09:03] wolfgang-wdw opened #1363 "Simple test taking too long to run"
Hello,

I am using mockito 2.18.0 and the test below takes almost a second to run in IntelliJ:

[code]

Notably, the CanStub part takes about 900ms and CanStubAgain only 80ms so I suppose it is some kind of initialisation issue. I don't use any inline mocking, just freshly added the library and wrote this code as a smoke test.

This performance sadly makes a write test/fix test/refactor cycle pret

[2018-04-08 09:13] wolfgang-wdw commented on #1363
Nevermind, seems to be an IntelliJ issue. Tests run fine in a gradle build.

[2018-04-08 09:28] TimvdLippe commented on #1363
Are you using junit 4 or 5?

On Sun, 8 Apr 2018, 11:20 Wolfgang Deutsch, <notifications@github.com>
wrote:

[2018-04-08 09:48] wolfgang-wdw commented on #1363
Oops, forgot to add that. I'm using Junit 5.

[2018-04-08 10:56] wolfgang-wdw commented on #1363
I ran the same test using JUnit 4 and the result is pretty much the same. I will see if I can do some profiling.

[2018-04-08 21:46] patrickpilch commented on #1240
Also seeing this when running tests for Spek 2.x (spekframework/spek#318) on JDK9 https://travis-ci.org/patrickpilch/spek/jobs/346058522

<details>
<summary>Complete stacktrace</summary>
<p>

[code]
</p>
</details>

[2018-04-09 01:57] ZOlbrys opened #1364 "Unable to mock interfaces in Android instrumentation tests"
Consider the following Android instrumentation test:

[code]

When run, I see the following output:

[code]

This only occurs when using mockito-android 2.18.0:

[code]

Downgrading to 2.17.0 fixes this issue.

This occurs on a Windows 10 dev machine running Android Studio 3.1.

[2018-04-09 07:34] namig-accenture commented on #1364
The same is happening for me on Mac either. Downgrading to 2.17.0 resolved the issue but I am facing with issue on version 2.18.0.

[2018-04-09 09:38] TimvdLippe commented on #1364
This appears to be regression introduced in ByteBuddy. @raphw would you mind investigating?

[2018-04-09 09:39] TimvdLippe commented on #1298
@mindawei Could you confirm/deny that ByteBuddy 1.8.0 (shipped with Mockito 2.18.0) has fixed this issue?

[2018-04-09 09:39] TimvdLippe commented on #1330
@cesar1000 Could you confirm this has been fixed with ByteBuddy 1.8.0 (shipped with Mockito 2.18.0)?

[2018-04-09 10:54] ming13 commented on #1298
Seems to be fixed for my usecase, but let’s hear @mindawei out.

[2018-04-09 12:34] FlappyElephant commented on #1364
I have same question, can anyone help?

[2018-04-09 20:26] raphw commented on #1364
I identified the issue. It has to do how hashCode and equals are invoked on interface types. OpenJDK allows for a different convention then what Android accepts. I will fix that with the next release, stick to the old version until then.

[2018-04-10 00:06] odin-delrio commented on #1152
@sinwe maybe is not your case, but I found this issue by searching in google... so this comment could be helpful for somebody else:

In my case, errors started after installing JAVA 10 in my laptop.
Switching back to JAVA 8 made mockito working as expected again.

(I'm using kotlin).

[2018-04-10 11:11] wlsc commented on #297
Any news on this issue?

[2018-04-10 15:58] djechelon opened #1365 "Verifying class-level @Transactional-annotated Spring bean"
Hi,

this is related to #529. I have an abstract BaseDao class that is annotated @Transactional to demand that every method invoked on the tool is wrapped in a transaction.

I am making caching tests to ensure that the DAO is (not) invoked on a cache miss (hit). I am invoking methods on a Manager class that @Autowires the DAO I want to spy.

I have tried to create a spy on my DAO in the following

[2018-04-11 10:29] djechelon commented on #1365
Okay I have thought more on the issue and want to share my findings.
It looks like this is caused by both Spring proxying and Bytebuddy subclass mocking.

Look at the stack trace

[code]

And the [source code](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java#L129)

[code]

Basically the argument `mock` is an i

[2018-04-12 09:03] ahasbini commented on #1353
@TimvdLippe hope I'm not bothering you but would if you could advise me on this.

Thanks!

[2018-04-12 09:17] TimvdLippe commented on #1353
@ahasbini This is working as intended. You are using `Strict` stubs, but are also invoking `myInterface.myMethod()` which is not stubbed. Since the invocation does not encounter a stub, it throws an exception. Update your test code to either stub `myMethod()` or instead call `myMethod(String, String)` as that method is already stubbed.

This test is working as intended:

[code]

[2018-04-12 09:17] #1353 closed

[2018-04-12 10:25] ahasbini commented on #1353
Sorry @TimvdLippe but I have not understood your changes. The ```Example``` is not meant to modified and is a resemblance of typical code implementation in other classes that need to be tested which contains references to interface objects that have overloaded methods. Modifying ```Example``` is not what I am looking for.

[2018-04-12 10:27] TimvdLippe commented on #1353
In that case you have to do the other option: make a stub for `myMethod()`. E.g. `Mockito.when(myInterface.myMethod()).then....`. Another option is to not use `StrictStubs`, but `lenient` instead as described in the exception message.

[2018-04-12 10:32] ahasbini commented on #1353
But my intention is to use ```StrictStubs``` since it will make my code cleaner and efficient. I'm not sure if I'm I made myself clear, there are possibilites where we could face overloaded methods in an interface that needs to be stubbed as there are no restrictions that prevents us from doing that, shouldn't the ```StrictStubs``` handle that as well?

[2018-04-12 10:37] TimvdLippe commented on #1353
The `StrictStubs` is very strict in that sense. Any invocation on a mock that is not stubbed is regarded as invalid and will throw an exception. This includes invocations on overloaded methods for which the particular overload is not stubbed (even though others could be).

E.g any invocation that is not stubbed throws. If you have an overload that is not stubbed, it throws. If the obfuscator gener

[2018-04-12 10:50] ahasbini commented on #1353
Yes but I'd like to suggest that there is a way to identify the overloaded methods based on the parameter signature. Shouldn't Mockito have it's verfication include that as well while checking invocations to ensure if the correct method is being invoked? My suggesstion is related to the logic here as stated before:

https://github.com/mockito/mockito/blob/71f265568f24e2d690b0212ec5c177b7dd1b4c2b/s

[2018-04-12 10:53] TimvdLippe commented on #1353
My personal opinion is that we should not, as that is quite some "magic" behavior. Personally I would prefer to keep our "strict" as pure "strict" without several special corner-cases. I do acknowledge that this requires a little bit more work by our users, but I think that makes the code more understandable than if we would not enforce this rule. However, let's see what @mockitoguy thinks about t

[2018-04-12 15:55] eximius313 opened #1366 "Using any() instead of anyInt() should raise meaningful warinig instead of NPE"
This piece of code
[code]
throws:
[code]
Instead, it should notify user what's wrong: "You should use `anyInt()` instead of `any()`"

[2018-04-12 16:01] cesar1000 commented on #1330
Thanks, @TimvdLippe, I ran my tests again in both 2.11.0 and 2.18.0 and found performance to be similar or even slightly better :)

[2018-04-12 18:39] sinwe commented on #1152
@raphw, I tried to use master and it is passing for me.

[2018-04-12 18:59] TimvdLippe commented on #1366
I am not sure if we can fix this in the current scenario. However, I would like to point out that this is working in #1264 where [this test](https://github.com/mockito/mockito/blob/c7a326c85d7eb446f29b2e772d9ec218ab0d91cb/subprojects/lambda/src/test/java/org/mockitousage/MockitoLambdaStubTest.java#L68-L75) shows the `AutoBoxingNullPointerException` that is created at https://github.com/mockito/moc

[2018-04-13 09:58] mp911de opened #1367 "Interface mock in a child class loader fails since Mockito 2.18.0"
Mocking an interface in a child classloader fails if the interface was already mocked in a parent class loader after upgrading to 2.18.0.

I can't currently provide a reproducer as tests pass in isolation. The test failure can be observed only running the whole test suite. The issue occurs only with 2.18.0, 2.17.0 works.

Exception message:

[code]

Link to test code:
[PersistenceProviderUnitTests

[2018-04-13 17:57] raphw commented on #1367
Ah, of course. We must not define a protection domain for the codegen package anymore since we have already defined a class in this package in order to resolve the method handle lookup in case of Java 11 where the class now has Mockito's protection domain.

That is a trivial fix.

[2018-04-13 21:07] #1367 closed

[2018-04-13 21:14] rodrigocprates commented on #1311
I get that using static imports make our code more readable, but if we think that every library shouldn't conflict on names we'd get on chaos.
The problem comes when, for example, it changes to "anyObject(Class)" but another dev complains that it's conflicting the name with a lib that he is using, you know?

[2018-04-15 20:50] #1364 closed

[2018-04-15 21:04] szpak commented on #1364
Should be fixed in 2.18.2.

[2018-04-16 08:53] alb-i986 commented on #1311
True. But I think this is a special case, as hamcrest is referenced from the official documentation, e.g.
http://static.javadoc.io/org.mockito/mockito-core/2.18.0/org/mockito/hamcrest/MockitoHamcrest.html

[2018-04-16 14:41] johnygeorge opened #1370 "Mockito android IllegalStateException"
I am trying to mock a class using `Mockito-Android`. But I am getting `IllegalStateException` when I do so.

I just mock a class like this `Wrapper wrapper = mock(ClassName.class);`

Tried different versions of the library, still I have the same issue. At present I am using version `2.18.0` the latest release. I have the following dependency in my gradle file.

   `androidTestImplementation "org.m

[2018-04-16 14:43] TimvdLippe commented on #1370
The exception points to https://github.com/mockito/mockito/blob/3f842f139731e9bb64ef476d9500beadb1ddf298/src/main/java/org/mockito/internal/configuration/plugins/Plugins.java#L24 where `registry` would be `null`, but that makes no sense at all :thinking:

[2018-04-16 15:37] Bekreth opened #1371 "Update OngoingStubbing to take a Supplier<T>"
Currently the OngoingStubbing interface only supports single values or varargs as part of the `thenReturn()` method.  This method should be overloaded to include `thenReturn(Supplier<T>)`.  This feature will users testing streaming processes by being able to have new objects generated for each iteration through their pipeline.

[2018-04-16 15:39] TimvdLippe commented on #1371
Could you provide an example of this? I am having a hard time figuring out in which use-cases this feature would be used.

[2018-04-16 15:46] Bekreth commented on #1371
[code]

Then, every time that the method gets hit, it evaluates the supplier and can return a new value for every instance.  With the current implementation of Mocktio, I could only set 1 object, or a varargs list, and only those object would be returned.

[2018-04-16 17:04] marcosalis commented on #1334
Any updates on this?

[2018-04-17 03:09] bolerio commented on #973
I have this problem without any extra frameworks with a special init sequence (like Spring Boot etc.). A plain main program using gRPC as a communication protocol. Doing it at the beginning of the test itself (as opposed to @BeforeClass or even @Before method) doesn't help either.

[2018-04-18 02:05] ZOlbrys commented on #1364
When will 2.18.2 be available? My project is unable to pick this version up:

[code]

which makes sense since from the looks of it there is no `ci maven-central-release` commit for 2.18.2.

[2018-04-18 12:45] eldae commented on #1364
I've downloaded the jar from here: https://bintray.com/mockito/maven/mockito-development/2.18.2 and added it to my project, but the problem persists.

[2018-04-18 14:02] AdeshAtole commented on #1363
What are you planning to use for profiling?

[2018-04-18 14:15] plamenkolev2 opened #1374 "Mockito 1.10.19 mock returns null instead of result"
Mocking rest template to return a response entity fails, instead of receiving a response entity, the value returned by the mock is null.

The following snippet should make it possible to reproduce the issue

[code]
This issue has been observed in mockito `1.10.19`

[2018-04-18 15:54] raphw commented on #1364
With the same exception message?

[2018-04-18 18:25] wolfgang-wdw commented on #1363
Sorry I gave up on that

[2018-04-18 18:25] #1363 closed

[2018-04-18 18:30] raphw commented on #1364
It seems like you are using a new version of Mockito but an old version of Mockito Android. We had to change an internal API that both versions require to communicate to fix another bug.

[2018-04-20 00:53] Albert-Gao opened #1376 "Can't mock on Android for Kotlin even I already mark everything as open"
First I got error with something can't mock final class. Then I mark the class as `open` even for private property. But then I got a similar error with different text: `Mockito can only mock non-private & non-final classes.`

**This is the generated code.**

[code]

**This is mockito in my build.gradle, I only use it for espresso ui test**

[code]

**This is the test**

[code]
` val authHelper = m

[2018-04-20 12:49] wengelef commented on #1271
those are extension functions dudes, not high-order functions.

[2018-04-21 20:04] raphw commented on #1240
Could someone create a reproduction of this issue in a small isolated repository? It seems like I cannot reproduce the issue.

[2018-04-22 21:42] Albert-Gao commented on #1376
I think maybe this is the reason, because I packaged part of the code in a `jar` file. And mockito can't mock the method from a `jar` file on Android even it is `open`, right?

[2018-04-23 08:47] guenhter commented on #1240
@raphw I created a repo which reproduces the problem: https://github.com/guenhter/mockito-final-class-kotlin-problem

[2018-04-23 18:26] raphw commented on #1376
This bug is already fixed in a recent release. Please update!

[2018-04-23 18:27] raphw commented on #1374
We do no longer support older versions of Mockito. Please update to 2.x.

[2018-04-23 18:28] raphw commented on #1370
What Android version are you using?

[2018-04-23 18:29] #1330 closed

[2018-04-23 20:24] vikky49 commented on #1376
I have the latest dependencies as

mockito               : "org.mockito:mockito-core:2.18.3",
mockitoAndroid        : "org.mockito:mockito-android:2.18.3",

And i still get

org.mockito.exceptions.base.MockitoException:
Mockito cannot mock this class: class com.atlassian.mobilekit.module.authentication.AuthInternal.

Mockito can only mock non-private & non-final classes.
If you're not sure why you

[2018-04-23 21:35] vikky49 commented on #1376
@raphw in my case i even tried with the mock-maker-inline and still failing .On the other note the class thats failing which is "AuthInternal" is not a final class ..

[2018-04-23 22:29] Albert-Gao commented on #1376
Update to `2.18.3` and solved the problem.
At least in my case.

So should I close? Seems @vikky49 still have troubles on this.

[2018-04-24 14:16] wengelef commented on #1271
anyway, this works for me.

`class A

    fun A.foo(): String {
        return "test"
    }

    init {
        val a = mock<A>()

        "when extension A.foo Function is called, it should return '\"test\"" {
            a.foo() shouldBe "test"
            verify(a, times(1)).foo()
        }
    }`

are you using mockito-kotlin?

[2018-04-26 13:50] ChristianSchwarz opened #1379 "ByteBuddy pollutes the temp folder with agent jar's"
ByteBuddy leaves hundres of `byteBuddyAgent############.jar` files in Win10 under

C:\Users\<username>\AppData\Local\Temp

![grafik](https://user-images.githubusercontent.com/1437411/39305875-e43cc99c-495e-11e8-9b72-23867fa6a74d.png)

Maybe it is a good idea to check for this specific pattern at startup and delete them.

FYI @raphw

[2018-04-27 05:33] raphw commented on #1379
This file is marked for deletion on exit if it cannot be deleted directly after its use. It is only required when using the inline-mock-maker: https://github.com/raphw/byte-buddy/blob/master/byte-buddy-agent/src/main/java/net/bytebuddy/agent/ByteBuddyAgent.java#L437

[2018-04-27 12:25] raphw commented on #1379
This did however inspire me to add a mechanism to Byte Buddy that tries to use the current Byte Buddy jar as an agent jar if that is possible what should be the case for most Mockito use cases.

[2018-04-27 18:10] raphw commented on #1379
I implemented this, in the next version, I have fixed this for Java 8 and older, the upcoming one will support Java 9 and newer without an additional jar generation.

[2018-04-28 08:46] raphw commented on #1379
I included a Byte Buddy update in https://github.com/mockito/mockito/pull/1378 - This should avoid the jar creation.

[2018-04-28 09:39] #1240 closed

[2018-04-30 10:00] fheinrichs commented on #1371
In addition to what @Bekreth gave as example, it is hard to mock methods that return streams with the current setup. Assume that we have an interface like this

    public interface MyInterface {
        Stream<Foo> streamMyFoos();
    }

which we have mocked. Now we want to give the mock some results, like so

    when(myInterfaceMock.streamMyFoos()).thenReturn(Stream.of(foo1, foo2, foo3));

Now

[2018-05-01 12:35] giovannicandido commented on #1255
`any` and `isA` have the same problem

[2018-05-02 07:06] ChristianSchwarz commented on #1255
You might want to take a look at https://github.com/nhaarman/mockito-kotlin, they solved the null-return problem and other's too, like the "when"-keyword issue.

[2018-05-02 12:44] giovannicandido commented on #1255
Thanks @ChristianSchwarz,

I'm using mockito-kotlin to work around this issue.

[2018-05-03 09:47] aidangrabe commented on #1334
I'm also hitting this issue. For big data classes it's a pain to have to mock everything manually

[2018-05-03 09:56] marcosalis commented on #1334
This is still happening with Mockito `2.18.3` and `kotlin` / `kotlin-allopen` `1.2.41`

[2018-05-03 12:33] runeflobakk opened #1381 "Default answer can be overridden by doReturn(..), but not when(..)"
I just discovered that mocks with default `Answer`s can not have their behavior overridden using stubbing with `when(..)`, only with `doReturn(..)`. The javadoc for [Mockito.mock(Class, Answer)](https://static.javadoc.io/org.mockito/mockito-core/2.18.3/org/mockito/Mockito.html#mock-java.lang.Class-org.mockito.stubbing.Answer-) says that "It is the default answer so it will be used only when you do

[2018-05-03 12:37] runeflobakk commented on #1381
This is embarassing, but I of course see what the problem is. The exception is of course thrown when doing the stubbing with `when(..)`, not at the last `mock.getSomeData()`.

I am closing this. Sorry for the noise.

[2018-05-03 12:37] #1381 closed

[2018-05-04 10:06] TimvdLippe commented on #1381
Not an embarrassment at all! We have had multiple of these reports and we are looking for alternatives to resolve this situation. Good luck mocking :)

[2018-05-07 06:58] filiphr commented on #1348
What about support for `@Spy` and `@Captor`? Should new issues be created, or can it be part of this one?

[2018-05-07 11:11] TimvdLippe commented on #1348
`@Spy` makes no sense, as it requires a concrete instance. `@Captor` could be done. Let's discuss that in a different issue :+1: as this issue has been resolved.

[2018-05-07 12:15] TimvdLippe commented on #1348
My memory was incorrect, as #1350 has NOT been merged yet.

[2018-05-07 17:49] filiphr opened #1382 "Support @Captor injection in JUnit 5 method parameters"
There is already an open PR #1350 that proposes and adds support for `@Mock`. This issue is to extend on that PR if / when it gets merged to also support the `@Captor` annotation in method parameters. This would allow to inject method specific generic `ArgumentCaptor` that can't be caught with `ArgumentCaptor.of(Class)`.

[2018-05-07 17:50] filiphr commented on #1348
You are completely right 😄.

I've created #1382 for adding support for `@Captor`

[2018-05-07 19:18] marcphilipp commented on #1348
There's `Mockito.spy(Class)` which would work for a method parameter.

[2018-05-09 20:55] khmarbaise commented on #1150
Unfortunately the newest release are not available in Central would be a good idea to have them there...

[2018-05-10 01:49] SupperMutton commented on #638
I have the same problem,my "mockito-core" version is 2.15.0,so I try to added "mockito-core" to maven dependencies,there is still this mistake,and after this miastake I try to change version 2.15.0 to1.10.19, success!     ~~sorry, I can't use English too much,I hope guys can understand this solution.

[2018-05-10 03:20] rcornell opened #1383 "[W7/Java8] Could not initialize plugin: interface org.mockito.plugins.MockMaker"
I've seen this issue occur in other Issues posted here as well as on StackOverflow, but mine seems particularly weird and none of the other posts' resolutions have worked for me.

My current project at work has ~80 tests that use Mockito 2.18.3 + Scalatest 3.0.5 together, including the `mock-maker-inline` config to be able to use the new engine and mock/spy on final classes.

All of the tests run

[2018-05-11 06:23] gadieichhorn opened #1384 "Question: How to mock Consumer<> Lambda in java 8"
This is more of a question than a bug report. I cannot find an example for this scenario.

I need to test a calss that is using another interface as dependency injection with a lambda Consumer .

    @Builder
    public class Interactor {

        private final Gateway gateway;

        void process(String message, Consumer<String> response){
            gateway.process(message, uuid -> {

[2018-05-11 14:17] coldwarrl commented on #1298
have a similiar issue with Win10/JDK 10

	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:564)
	at

[2018-05-13 17:57] xenoterracide opened #1385 "spy with then invocation ClassCastException"
`java.lang.ClassCastException: com.xenoterracide.rpf.sec.entity.PasswordCredential cannot be cast to java.lang.Class`

[code]
this or casting fixes it

[code]

not sure what is to be done about it, maybe a different method name for `spy( Class<T> )`, that isn't overloaded.. running v 2.15.0

[2018-05-13 21:23] Ingvir opened #1386 "Add AtMostOnce(),rename one testClass and one TODO."
Hi,

I would like to make a quick contribution on this project.

I add atMostOnce(), it seem's not to be a big feature. I just want to highlight the fact you have the function atLeastOnce() but nothing for the atMostOnce case.

I rename the testClass ThreadVerifiesContinuoslyInteractingMockTest on ThreadVerifiesContinuouslyInteractingMockTest and the TODO on toString() from HamcrestArgumentMatcher

[2018-05-15 07:57] johnygeorge commented on #1370
Latest. Android 8.1

[2018-05-15 16:10] SammyOdenhoven commented on #1376
I'm experiencing the same issue as @vikky49

[2018-05-16 03:49] JavaHello commented on #1374
[code]

[code]

[2018-05-16 08:39] SammyOdenhoven opened #1388 "Unable to mock (non-final) classes in Android Instrumentation tests, as they're seen as final."
I'm unable to mock classes in Android Instrumentation tests, because they're recognised as final, even though they are not.

`androidTestImplementation "org.mockito:mockito-android:2.18.3"`

[code]
and
[code]
Error:
[code]
I've tried using alternatives to just marking the class as `open`, as described here: https://github.com/mockito/mockito/issues/1082, but none of them work. I assume because the

[2018-05-17 08:25] b4sus opened #1389 "InjectMocks doesn't re-inject new mocks to final fields when constructor injection is used"
Hello,

My class under test uses constructor to set final field(s), which (in test) I want to create/inject by @InjectMocks and @Mock annotation before every test method. Everything works nice in first test. Second however, the @Mock is recreated, but the @InjectMocks instance is not. As a result, if I stub in second test method, it is actually different mock then class under test is using.
Exampl

[2018-05-17 09:25] anuraaga opened #1390 "MockitoExtension cannot be registered as a global junit5 extension."
`MockitoExtension` doesn't expose its constructor so it can't be loaded by `ServiceLoader.`

When trying to register `MockitoExtension` for automatic use using a file named `META-INF\services\org.junit.jupiter.api.extension.Extension` and content `org.mockito.junit.jupiter.MockitoExtension`

the below error is thrown, using mockito-junit-jupiter 2.18.3

[code]

 - [X] The mockito message in the st

[2018-05-17 10:51] #1390 closed

[2018-05-17 23:12] eyalroth commented on #1151
Kind'a late into the party, but I just encountered this behavior myself. I'm using Mockito to test akka actors (in Scala), which are inherently asynchronous, and I'm trying to avoid akka's testing framework since I believe it just alienates the actors even further away from "regular" code.

Anyhow, this might not be the most common use-case, but I did stumble upon it just now. I've also been doing

[2018-05-18 05:41] bhchandra opened #1392 "Add anyStream() argument matcher."
Currently an explicit cast of  `(Stream<T>)` to  `any(Stream.class)` and a @SuppressWarning("unchecked") annotation at the method level is required to create a generifed argument matcher for `Stream`.

Adding `anyStream()` to the argument matchers would be nice.

Thanks!

[2018-05-18 09:48] nsphung commented on #1298
Hello, I have a similar issue on Windows 10 with Windows Subsystem for Linux with a jdk 8 update 172 with mockito-core version 2.18.3.

[code]

[2018-05-18 22:59] oiale opened #1393 "Mockito 2.18.3 incorrect invocation records"
I am sorry if the code snippet I provided is too complex for the purpose of showing the bug (?).
The short description would be: If I try to record invocation of a dependency method which is called with a keyset of a map and that map changes afterwards, then the invocation records are incorrect.

Versions:
 - java 1.8.0_162 (for a certain reason I cannot go to 172 yet)
 - mockito 2.18.3
 - hamcres

[2018-05-21 15:18] svichkar opened #1394 ""java.lang.NoSuchMethodError: org.mockito.Mockito.mockitoSession()" error in 'beforeEach' method inside MockitoExtension"
Dependecies:

junit-jupiter-api:  5.2.0
junit-jupiter-engine: 5.2.0
mockito-core: 2.18.3
mockito-junit-jupiter: 2.18.3

Test:

[code]
![selection_267](https://user-images.githubusercontent.com/13480692/40347169-ef77e050-5da7-11e8-9cea-7bdcc247ca0e.png)

**Actual result:**
[code]

[2018-05-21 17:15] oiale commented on #1393
The same problem occurs when you use a different collection (set) and modify it after the call.

If it is not a bug, but a suggestion to not pass objects that can be modified inside of the called method (???) then the exception should contain additional information.

[2018-05-22 08:59] jrobinson3k1 commented on #1376
Experiencing the same thing with:

[code]

Doesn't matter if it's a Kotlin class or Java class, same result.

Tomorrow I'm going to try it on a new project to see if I get the same results.

[2018-05-22 09:17] mkmaier commented on #1293
I'd love to have this feature as I'm currently upgrading an old codebase to use Mockito 2 (because we need to test with Java 9) and this is used quite a bit. Any chance of implementing this?

[2018-05-22 13:03] khamulbr commented on #1053
Any news on this issue? I am experiencing the same issue, and I'm using mockito 2.18.3

[2018-05-22 20:11] moltmann opened #1395 "mockito-android cannot copy hidden fields and call hidden methods of Android system classes"
# Backgroud

Android uses a Java-based API and some methods declared as _public_ in Java are official APIs, while others are only for Android system components to call. Reflection allows apps and libraries to call about everything, public API or not. Then every release the underlying platform changes and some apps or libraries are broken because the used hidden APIs via reflection.

With Android P

[2018-05-22 20:16] TimvdLippe commented on #1395
As we are relying on ByteBuddy for this behavior, I think this should be fixed over there. WDYT @raphw ?

[2018-05-22 21:48] raphw commented on #1395
Actually, this only affects out spies and has nothing to do with the byte code. Android P is disallowing access to some fields even though standard Java does not give any notion of not allowing this. This is manual blacklisting in Android and we would need to avoid accessing certain fields. However, I am rather unsure how to find out what fields not to access at the moment. Does Android offer an A

[2018-05-23 01:35] jrobinson3k1 commented on #1376
Found my issue. With declaring regular mockito for vanilla junit tests, and mockito-android for instrumentation tests, I was getting a duplicate file error on mockito-extensions/org.mockito.plugins.MockMaker, which I was excluded (whoops). I changed my packaging options to this to fix it:

[code]

[2018-05-23 02:53] mockitoguy commented on #1151
Hey @eyalroth! Thank you for your feedback. I checked what I wrote before and my preference has not changed. I'm not sure what is your suggestion/recommendation. We already have doReturn() syntax in our public API.

[2018-05-23 03:04] mockitoguy commented on #1293
@da-na, is this still useful? I don't quite understand the use case. How is it possible that a Java method throws a checked exception that is not declared in method signature? Can you provide a minimum reproducible sample (without RxJava :) and create PR for us so that we can quickly try it out. Thanks!

[2018-05-23 09:49] mkmaier commented on #1293
Since I was the one stirring this up again, I'll answer for my use case of  porting legacy code to mockito 2.x (for java 9 support):
A conveniently placed mock was abused to throw an `IOException` that it would otherwise not have been so easy to cause. The mocked call was inside the same try-catch block, so the original developer must have felt that this was good enough. That's where I had to use

[2018-05-23 11:34] eyalroth commented on #1151
@mockitoguy My suggestion is quite a re-factor to underlying mechanism; that is, to break the mock-handler into 3 separate handler (per mock), which will be able to "communicate" with each via synchronized methods. This way each handler could handle invocations on its own separate from the other handler, thus making each of the use-cases (real, stub, verify) much more independent.

In order to ach

[2018-05-23 15:30] moltmann commented on #1395
- We need to copy all fields as the real methods might need them to be initialized
- There is no direct API to figure out the blacklisted methods. The actual list might be different from phone to phone.

[2018-05-24 11:35] takahirom opened #1396 "Mockito.spy and doReturn() does not work when using Kotlin by lazy"
Version
2.18.3

[code]

[code]

[2018-05-30 21:10] szpak commented on #1392
It's some somehow problematic in Mockito 2.x which is Java 6 compatible.

Marking as proposed Mockito 3 feature.

[2018-05-31 20:14] raymon-02 opened #1397 "InOrder is not consistent with times"
Mockito version: 1.10.19
JUnit version: 4.12

Test class with one single test that fails:
[code]

It fails with `VerificationInOrderFailure`:
[code]

But if I uncomment two lines and comment line above it will pass:
[code]

If I understand right Mockito uses greedy algo for `InOrder` verification though both cases should fail but the second one doesn't. Intuitively they looks identically and I exp

[2018-05-31 23:49] eyalroth opened #1398 "Allow partial mixing of concrete values with matchers"
I'm pretty sure we're all familiar with the dreadful message "Invalid use of argument matchers" which is caused (most of the time) due to mixing of concrete values and matchers. After using Mockito for several years, I gotta say that this is one of the most annoying drawbacks of the framework.

Recently I've been getting more and more into the code of the framework, and started wondering why this

[2018-06-01 05:08] ryandm commented on #1260
My goal was to share feedback on the upgrade experience. Thanks for hearing the feedback and incorporating it into broader API thoughts/discussions. Closing since there doesn't seem to be anything concretely actionable on this issue.

[2018-06-01 05:08] #1260 closed

[2018-06-01 11:14] TimvdLippe commented on #1398
Yes, this is indeed one of the gotchas I consider most negative of Mockito. That said, I think solving this with the current implementation is near impossible. Matchers currentlly return default values, to make sure method invocations compile, while in the background we register the matcher. There is technically no way we can differentiate between a regular value and the default value of a matcher

[2018-06-02 14:21] bhchandra commented on #1392
thanks

[2018-06-05 02:39] Sarev0k commented on #1397
I want to add that the section in the wiki under [more complex examples](https://github.com/mockito/mockito/wiki/Greedy-algorithm-of-verification-InOrder#more-complex-examples) is also unhelpful.

If I have the following code:
[code]

How am I supposed to verify that the last add("A") occurs after the add("B")?

If I write the following:
[code]

It fails at the first verification, because add("A")

[2018-06-05 10:56] cburns93 commented on #1394
I also get this when doing something has basic as above.

[2018-06-05 12:03] ChristianSchwarz commented on #1398
@eyalroth Your proposal to distingush matchers from plain values by default values is doable, but as you already said there is still a hole when plain-values have the same value as the matcher return value. This may become more problematic in case mockito decides to return non null values for machers to support e.g. Kotlin.

I see 2 different solutions (both costly):
 * Provide a IDE or compiler p

[2018-06-05 14:36] mockitoguy commented on #1371
I like this, this is a useful improvement. Thanks!

I am tentatively planning to work on Mockito 3 after the Summer.

[2018-06-05 15:18] syhily opened #1400 "Bugs in mocking interface with default method"
[code]
A code for reproducing this bug.

`mock.doubleValue()` should throw a `NumberFormatException`, but this test passed and the `result` was `0.0`.

[2018-06-05 15:48] #1400 closed

[2018-06-05 19:00] raymon-02 commented on #1397
One more example:
[code]
It suddenly passes.
But with
[code]
it fails.
And it's the opposite situation that you've described above.
How is that happening? And what did I wrong? It's really confusing.

[2018-06-05 19:44] eyalroth commented on #1398
@TimvdLippe I took a look over your PR and it looks like it ain't gonna become the go-to way of mocking in Mockito anytime soon. I'm guessing that at it current state it doesn't support Scala, which is what I'm using in my current project, so I'm biased :)

@ChristianSchwarz It's good that you've mentioned the case with Kotlin; this may actually be the solution here (for the most part).

Mockito i

[2018-06-05 20:08] Sarev0k commented on #1397
Huh, you're right.  I was completely wrong about the way that this worked.  The use case I described as not working completely works, I must have run into a test error to make me think otherwise.

The reason your second use case fails is due to the greedy matcher.  If two calls happen in succession, verification will fail unless you explicitly match both calls.  [This wiki](https://github.com/mock

[2018-06-06 09:06] ChristianSchwarz commented on #1398
@eyalroth

Returning "marker-mocks" sounds like good idea, I guess the inline-mockmaker is a requirement here in order to mock every kind of type (enum, non static inner-classes, final classes, ... ). The inline-mock-maker should be the default then.

Primitive default values with a abitrary value can help to distinguesh but may leave some cases that won't work, e.g. for primitives with a small va

[2018-06-06 16:29] aj-jaswanth opened #1401 "VarargsMatcher doesn't work correctly when using HamcrestMatchers in Mockito 2"
[code]

[2018-06-07 02:41] kevinKaiF opened #1403 "why not LenientCopyTool methods use static modifier?"
see org.mockito.internal.util.reflection.LenientCopyTool.
LenientCopyTool class is a stateless tool which has no fields.
So I can't understand why not LenientCopyTool methods use static modifier instead creating a LenientCopyTool instance when using LenientCopyTool.

Besides, org.mockito.internal.util.reflection.FieldCopier like this.

[2018-06-08 12:06] #1401 closed

[2018-06-12 03:01] yelite commented on #1389
It's a known issue with InjectMock + TestNg. See https://stackoverflow.com/questions/20046210/mockito-injectmocks-strange-behaviour-with-final-fields?answertab=active#tab-top

[2018-06-12 13:57] ChristianSchwarz opened #1405 "Make InlineByteBuddyMockMaker the default mock maker"
Make InlineByteBuddyMockMaker the default mock maker. I see no point why we need an extra dependency here.

[2018-06-13 13:49] rkraneis opened #1406 "No release artifacts on jcenter or maven central since 2.18.3"
There have been no uploads of release artifacts to either jcenter or maven central since mockito 2.18.3. Would be nice to have these :-)

[2018-06-13 16:02] theigl commented on #851
I just upgraded to Mockito 2.18.3 and test performance is now the same as with 1.10.

[2018-06-13 16:02] #851 closed

[2018-06-13 17:35] raphw commented on #851
I have done a lot of benchmsrking for "class ceation intensive" libraries recently and the newer versions of Byte Buddy should have improved performance by a lot.

[2018-06-14 09:08] ChristianSchwarz commented on #1398
@TimvdLippe
@bric3
@szpak
@mockitoguy
@mockitocore

What do you guys think of a limited support for mixed values/matchers?
There is a good chance that Mockito can support mixing for more than 90% of all method calls (just a pessimistic guess). The famous "Invalid use of argument matchers" can become a corner case, were users are still forced to apply matchers everywhere. This would make test code

[2018-06-14 11:00] TimvdLippe commented on #1398
The core problem I see is that it is impossible to distinguish a primitive value returned by a matcher to a primitive value passed in from the user. Given this inability to detect, we can only rely on heuristics and such heuristics will get it wrong. I think this would actually worsen the situation, as we now move these errors to an even more complicated feature to debug.

That said, I think the o

[2018-06-14 11:44] ChristianSchwarz commented on #1398
The proposed solution allows to distiguish values from matchers in the most uses cases. Those cases that can't be distiguished will still throw a "Invalid use of argument matchers".  The user is then (like now) forced to use matchers only. From a user perspective it is getting better.

[2018-06-14 11:47] TimvdLippe commented on #1398
I respectfully disagree. Right now the problem is strict in all cases: we disallow all mixing. This is clearly documented [in our JavaDoc including examples](http://static.javadoc.io/org.mockito/mockito-core/2.18.3/org/mockito/Mockito.html#argument_matchers). Relaxing this requirement would be a lot more difficult to document clearly and will introduce confusion.

Yes, agreed fewer cases will trig

[2018-06-14 12:18] ChristianSchwarz commented on #1398
Well I think doc/confusion problem can be solved, so even John Doe will know what to do 😎.
I doesn't need to be over complicated:

[2018-06-15 12:19] GodPlaysChess opened #1408 "remove redundant thenReturn from OngoingStubbing"
There are two methods in  `OngoingStubbing`.
[code]
The one, with a single argument is redundant, because based on both documentation and implementation - it is covered by the one with varargs.

On top of that, such overloading might cause interoperability issues (at least in Scala it causes compilation error due ambiguous reference), where one needs to pass empty List as the second argument expli

[2018-06-15 12:33] bric3 commented on #1408
I'm opposed to this change in 2.x, because it may break exernal libraries that require binary compatibility.

I'm OK for 3.x though. Note however that requires to allocate _de facto_ an array for each `thenReturn` / `willReturn`.

Regarding scala stuff, what about _mockito sugar_ ?

[2018-06-15 12:35] bric3 commented on #1374
Sorry mockito 1.x is not anymore supported.

[2018-06-15 12:35] #1374 closed

[2018-06-15 12:41] GodPlaysChess commented on #1408
I am not sure how `MockitoSugar` helps. We are indeed using it - it just creates mocks (by delegating it to Mockito), but actuall `thenReturn` is still called on `OngoingStubbing` from Mockito framework.

[2018-06-15 12:41] TimvdLippe commented on #1406
We always have the latest version available on jcenter: https://bintray.com/mockito/maven/mockito-development We still need to publish to Maven Central. Will do that!

[2018-06-15 12:53] #1408 closed

[2018-06-15 12:54] bric3 commented on #1408
I'm closing the PR/issue. I'd like to thank you for contributing to this project @GodPlaysChess. It's relly nice to take some time and contribute. Thank you !

[2018-06-15 13:12] TimvdLippe commented on #1406
2.19.0 has been released at http://central.maven.org/maven2/org/mockito/mockito-core/2.19.0/

[2018-06-15 13:12] #1406 closed

[2018-06-15 18:57] #1379 closed

[2018-06-18 20:28] Trinova commented on #345
Will this be fixed? Mockito 2.19.0 still has this problem and the mentioned pull request which could resolve this https://github.com/mockito/mockito/pull/936 was put on hold. Please either fix this or provide a way to express the after(x).atLeast(y) without having the argument captor returning a collection with millions of items although the method was called only 5 times.

[2018-06-19 15:01] jibidus opened #1410 "Performance issue with JUnit5 Jupiter MockitoExtension"
Hi Mockito team,

I noticed performance issue when migrating my `JUnit5 Vintage` tests to `JUnit5 Jupiter`.
[You can find a small project which illustrates this behavior](https://github.com/jibidus/jupiter-mockito-performance-issue)

To sum up, with a dummy test class, when `Vintage` tests take about **10ms**, first Jupiter test took about **700ms**, and next ones about **20ms**.

`Vintage` tests

[2018-06-19 16:12] rdp commented on #1398
I suggested something similar once.  So obviously +1 from me.  The question is would it cause more confusion than not...but it certainly might clear up code, especially if you have multiple parameters and have `eq` in front of...almost...all...of...them.  https://groups.google.com/forum/#!topic/mockito/4W-PFmG5jTM :)

[2018-06-20 20:25] caltseng opened #1411 "Possible to disable MockMaker extensions?"
Like many people, I've been running into the below AbstractMethodError. I get that there is an incompatibility with older versions of Powermock and Mockito, but those dependencies are out of my control, as I'm working on a large code base run by many teams with external dynamic dependencies pulled in.

Is it possible to prevent the MockMaker extensions for our tests? I fixed this issue previously

[2018-06-21 07:45] jibidus commented on #1166
Here is a workaround :
[code]

[2018-06-21 08:58] ChristianSchwarz commented on #1392
@bhchandra

since you are on Java 8 or higher `Mockito.any()` does the trick. So anyStream() or other non-primitive specializations are not required anymore.

[2018-06-22 15:22] djole103 commented on #1102
help please

[2018-06-24 04:04] mockitoguy commented on #1102
Please see my earlier comment.

cc @bbonanno, Scala developer who offered to maintain "mockito-scala" library.

[2018-06-24 04:07] mockitoguy commented on #1392
Thank you @ChristianSchwarz for finding a viable solution! I'll close this ticket since 'any()' can be used.

[2018-06-24 04:07] #1392 closed

[2018-06-24 04:18] mockitoguy commented on #1166
@jibidus, thank you for providing a workaround!

Can someone summarize the state of this problem? Is it a big issue, how people deal with it at the moment? What would be the preferred solution from the standpoint of a Kotlin user?

[2018-06-24 04:33] mockitoguy commented on #1411
Please work with PowerMock team and community to resolve this problem.

AFAIK, latest PowerMock does not use internals of Mockito so this sort of error should not happen.

I totally sympathize with your situation. You want your teams to be able to write tests uninterrupted. Please understand that we are not responsible for other projects (e.g. PowerMock) that use Mockito APIs incorrectly, and expo

[2018-06-24 04:33] #1411 closed

[2018-06-24 04:58] mockitoguy commented on #1398
If we can improve the user experience at some cost of internal complexity we should do it.

1. Are we improving the user experience?
2. What's the cost/complexity?

1) I think we are. If the exception becomes less likely to occur it improves user experience. We can document that "Mockito tries hard to guess the types but...". This is a pattern that we already leverage elsewhere - InjectMocks, Mock

[2018-06-24 13:38] tpdi opened #1412 "Fixes for issues #188, #211 not back-ported to Mockito 1.x"
We still use Mockito 1.x because PowerMock only "experimentally" supports Mockito 2.x.

However, we can't upgrade from Mockito 1.9.5 to 1.10.x (any version of 1.10.x) because the bug described in #188 and fixed by #211, failure to capture arguments in mock varargs methods, was introduced in 1.10.5.

Would it be possible to back-port the fix introduced in #211 and release a version 1.10.20 with the

[2018-06-24 14:13] TimvdLippe commented on #1412
We no longer release and support Mockito 1, so we are not making special releases sorry.

[2018-06-24 14:13] #1412 closed

[2018-06-24 16:31] based2 commented on #1410
you may try with versions updates:

https://github.com/based2/mockito/commit/ad04b6a96b6227c8dcb6d93c7f9b5710f3fb026b

[2018-06-24 18:57] bbonanno commented on #1102
@djole103 I'm putting together a Mockito wrapper that will solve (ideally all) those issues, but in the meantime, is there any reason the prevents you to use newer versions of both, Mockito and Scala?

[2018-06-25 06:59] jibidus commented on #1410
If you mean `Jupiter 5.2.0`, benchmarks were done with this persio (see [build.gradle of example project](https://github.com/jibidus/jupiter-mockito-performance-issue/blob/master/build.gradle)) :
[code]

If not, please let me know which artefact can be upgraded.

[2018-06-25 07:46] TimvdLippe commented on #1410
@raphw 2.19.0 is our latest version. Did that include your perf improvements on bytebuddy or are you still working on that?

[2018-06-25 08:19] bogdanzurac commented on #1370
This happens with 2.19 as well, Android P Developer Preview. I've seen several issues open on this issue tracker regarding this problem, dating from several months back. Does that mean that instrumentation tests have never worked on Android with a Kotlin code base? Because we are required to use the inline mock maker for closed classes on Kotlin.

[code]

Error Log:

[code]

[2018-06-25 10:35] ChristianSchwarz commented on #1166
@mockitoguy

 * Some users reject Mockito versions with "throw-type-checking" because the workarounds are not known or inaccepable for there project. The expectation is that the same API as for java can be used.
 * I guess [Mockito-Kotlin](https://github.com/nhaarman/mockito-kotlin) doesn't solve it too, cause its [OngoingStubbing ](https://github.com/nhaarman/mockito-kotlin/blob/2.x/mockito-kotli

[2018-06-25 11:00] Th4n opened #1413 "[Kotlin] Stubs with named argument ordered differently than method signature returns null"
I'm using mockito-kotlin here for all imports, however I don't think it is changing anything.

It seems like that using named arguments that are ordered in a different way compared to method signature breaks stubs so they return nulls only. Once I managed to get a class cast exception as Mockito was trying to cast my Arg2 into Arg underneath, however now I'm not able to reproduce it.

Here are cou

[2018-06-25 12:56] djole103 commented on #1102
@bbonanno I'm using play2 framework which has specs2 testing framework integrated. The version I'm on uses mockito 1.9.5 as a dependency. I'm just trying to get the bottom of this NPE, it's a little vague and I can't seem to understand why it's being thrown.

[2018-06-25 17:38] kshep92 commented on #1108
Might be a little late to contribute, but I was running into a similar issue with the following code:

[code]

What worked for me was converting the abstract class (`DAO`) to Java 🤷‍♂️

[2018-06-25 18:32] bbonanno commented on #1102
@djole103 I just tried this code

`object MyClass extends App {

  import org.mockito.Mockito._

  trait MyTrait {
    val DefaultString = "myDefaultString"
    val DefaultInt = 42
  }

  val mt = mock(classOf[MyTrait])

  when(mt.DefaultString) thenReturn "Hi"
  when(mt.DefaultInt) thenReturn 7

  def printDefaults = {
    println(mt.DefaultString)
    println(mt.DefaultInt)
  }

  printDefaults

[2018-06-25 22:11] Clockwork-Muse opened #1414 "Repetitive calls due to shrinking result in strange error messages."
I've been banging my head against a wall relating to trying to set up a test project.  I believe that Mockito is the culprit, although I haven't looked through the code to find the root cause.

This started because I was getting messages like this:

[code]

... what?

From the look of things, my guess is that Mockito is capturing whatever the (first?  last?) erroring argument is, or that invocatio

[2018-06-26 20:48] crsmith20 opened #1415 "Not Stubbing Mocked Abstract Class"
I am using Mockito along with Spring's testing tools to test a controller class. In the controller class I am mocking an abstract class that has a method called in the controller. So I use when().thenReturn() to stub the method for the expected outcome. However, the given answer is not found in the stubbing procedure so it stubs the default answer. I have used almost the exact same set up on previ

[2018-06-28 07:19] dnouls commented on #191
Is this still not merged in Mockito ? I’m currently using 2.8.9 and I still get null iso Optional.empty()

[2018-06-28 11:32] mdeinum opened #1416 "Return Optional.empty instead of null for Optional return type"
Currently when using Mockito the default behavior is to return `null` for regular objects including `Optional` return types. Instead of returning `null` it would be better to return `Optional.empty()` in those cases.

[2018-06-28 19:53] szpak commented on #1416
Hmm, strange. It was [implemented](https://github.com/mockito/mockito/issues/191) long time ago. What Mockito version do you use?

[2018-06-28 20:02] mdeinum commented on #1416
Interesting. It wasn't actually my code, but rather after a question I answered on Stackoverflow (see https://stackoverflow.com/questions/51058898/spring-data-jpa-findbyid-method-returning-null-instead-of-empty-optional/51059172#51059172).

Judging from the fact that he was using Spring Boot with a recent Spring Data JPA version I (probably wrongly) assumed it was an omission in Mockito.

[2018-06-28 20:06] szpak commented on #1416
You might be right. There is no Mockito mentioned in the question. Closing.

[2018-06-28 20:06] #1416 closed

[2018-06-28 20:08] szpak commented on #191
@dnouls It should work. Please open an another ticket with a test case.

[2018-06-29 07:06] dnouls commented on #191
False report! I had a NPE elsewhere. Using stream API's and Optionals sometimes make it hard to debug properly.

[2018-06-29 23:05] HonoluluHenk opened #1417 "Allow @InjectMock into static/final fields"
For some of my projects it would be nice if @InjectMock would work with spies on final/static fields.
Unfortunately I cannot refactor the code to use constructor/setter injection since this would alter the API (package-private is not sufficient).

I can see that injecting into static final is problematic (unexpected test behavior on subsequent tests)...
but injecting into just static *or* final fi

[2018-06-30 20:05] TimvdLippe commented on #1417
I am inclined to not support this feature, as it encourages bad mocking behavior. Moreover, I think `PowerMock` already handles this case. In general, relying on static state during tests is bad, especially if mocks are mixed in. Writing adapters in that case improves readability.

[2018-07-02 11:12] andrepdo opened #1419 "Provide Java 11 compatibility"
I ran tests with JAva 11 and getting the follwing exception. may be asm 6.2 fixes this?

org.mockito.exceptions.base.MockitoException:
Mockito cannot mock this class: interface de.espirit.firstspirit.access.Language.

If you're not sure why you're getting this error, please report to the mailing list.

Java               : 11
JVM vendor name    : "Oracle Corporation"
JVM vendor version : 11-ea+18

[2018-07-02 15:24] cristan opened #1420 "Add JSR 305 annotations (@NonNull / @Nullable)"
In Kotlin, I have the following code:

`@get:Rule val mockitoRule = MockitoJUnit.rule()`

This gives the following warning (on the currently latest version of Mockito: 2.19.0):

The issue is that Kotlin doesn't know whether the return value can be null or not. I can solve the warning by specifying my rule as non-null:
`@get:Rule val mockitoRule: MockitoRule = MockitoJUnit.rule()`
This is boilerpla

[2018-07-02 15:41] TimvdLippe commented on #1420
Sounds like a good idea. Feel free to submit a PR with the annotations and the corresponding tests in the kotlin subproject.

[2018-07-02 17:59] moltmann commented on #1395
For dexmaker-mockito I fixed this in https://github.com/linkedin/dexmaker/pull/111/commits/4618994794bc3b2ae20ec44efb9d3f037ca7f340 . Please note that the methods called via reflection are guaranteed to be available on any Android device.

[2018-07-04 07:55] ChristianSchwarz opened #1421 "Deprecate VerificationStrategy, it is possibly leaked as public API"
The interface `org.mockito.verification.VerificationStrategy` seems not to be intended to be available to the public.

 * It can only be consumed by the non public <code>org.mockito.<b>internal</b>.progress.MockingProgress</code>.
 * `VerificationStrategy` implementations are realized as anonymous classes in Mockito.
 * A use case outside of Mockito is not known it is an detail of Mockito internal

[2018-07-04 08:08] ChristianSchwarz commented on #1384
@gadieichhorn can this ticket be closed? Seems you found a solution in the [user group](https://groups.google.com/forum/#!topic/mockito/TsmWevThhrk)

[2018-07-04 10:38] paolomoschini opened #1422 "Mockito cannot mock this class: class com.pspdfkit.document.PdfDocument"
[code]

And the line that throws this exception

[code]

Thank you!

[2018-07-04 21:30] kirillzh commented on #1361
I'm having the same issue, where you able to resolve it, @gazeing?

[2018-07-05 02:00] gazeing commented on #1361
Hi @kirillzh We go another way: using plugin "kotlin-allopen", we are able to open kotlin class to unit-test which solve the problem.

[2018-07-05 05:33] standup-jb opened #1423 "Mockito mock java method class NullPointerException"
I use the powermockito mock a final class .but the mock object is the null .I can't find out the reason. Could you please help me to solve this issue. My code like below.

@RunWith(PowerMockRunner.class)
@PrepareForTest(Method.class)
public class MnslistenerParserTest {

    @Test
    public void testOnApplicationEvent() {
   Method methodMock = PowerMockito.mock(Method.class);
}
}
I use the IDE d

[2018-07-06 02:02] liurq93 commented on #939
i see this too
it was happened when I run testng test on a Linux machine
it's ok locally(Mac OS 10.11.6)
anyone konw how to fix it @raphw
-------------------------------------------------------
 T E S T S
-------------------------------------------------------
Running com.alipay.fc.fluxnet.biz.cons.action.exserial.ExternalSerialEventLogSendFailBuildActionTest
Tests run: 2, Failures: 0, Errors: 2,

[2018-07-08 00:10] hendisantika opened #1424 "Where is interface org.mockito.internal.runners.RunnerImpl now"
Where is interface org.mockito.internal.runners.RunnerImpl and org.mockito.internal.runners.util.FrameworkUsageValidator now?

Thanks

[2018-07-09 12:59] antlechner commented on #1140
Are there any updates about this bug? I'm having the same problem (same error message when trying to mock `Calendar.getTime`) with Mockito version 1.10.19 and Powermock version 1.6.5. I know those versions are quite old but I haven't been able to get Powermock to work with recent versions of Mockito yet.

[2018-07-10 12:00] snazy commented on #1419
asm 6.2 alone does not fix this, neither does upgrading to latest bytebuddy help here.
The combination of asm 6.2, latest bytebuddy, a minor code change in mockito and setting `-Dnet.bytebuddy.experimental=true` helps here.

[2018-07-11 03:59] lovoop opened #1427 "Mockito.spy change the behavior of getDeclaredMethods."
Mockito version: 2.19.0
[code]

Output is:
[code]
`preDestroyChild.getClass().getDeclaredMethods()` ***should not*** return parent method `anotherShutdown`.

[2018-07-13 17:27] black-snow opened #1428 "Cannot mock org.json.simple.JSONObject in full suite"
check that

 - [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the issue
 - [x] Read the [contributing guide](https://github.c

[2018-07-13 22:20] #1419 closed

[2018-07-16 07:00] #91 closed

[2018-07-16 09:15] jankoprowski commented on #1394
Which version of the InteliJ IDEA you are using?

[2018-07-16 09:31] cburns93 commented on #1394
2018.1 however I don't have this issue anymore.

[2018-07-17 18:19] MarkNBroadhead commented on #445
Since this is one of the top Google results for trying to get this working, and I'll likely Google it again, I'd like to add that this is in the mockito-junit-jupiter project. [Maven Central link mockito-junit-jupiter](https://mvnrepository.com/artifact/org.mockito/mockito-junit-jupiter)

[2018-07-18 01:44] junguoj opened #1431 "Mockito not able to be built with OracleJDK8u181-b13"
Oracle has released [JDK8u181-b13](http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html) today. I tried to build Mockito with JDK8u181 but some of the Mockito unit tests failed at the build.

[code]

I roughly looked at the cause of the failure and found that `org.mockito.internal.matchers.Any` class has a private constructor. In [Oracle doc for Serializable interfac

[2018-07-18 07:40] bric3 commented on #1431
Interesting. Thanks for the bug report.

I noticed a change  in serialization in the release notes (http://www.oracle.com/technetwork/java/javase/8u181-relnotes-4479407.html) yesterday.

I'll verify that asap.

-- Brice
Misplet on my phone

[2018-07-18 13:04] bric3 commented on #1431
I confirm that disabling the constructor checks works.

Running the tests with the following properties make them pass.

[code]

[2018-07-18 13:34] mockitoguy commented on #1431
Created PR to fix this problem: #1433

[2018-07-18 14:08] bric3 commented on #1389
Hi, this behavior is intended and [documented](http://static.javadoc.io/org.mockito/mockito-core/2.19.1/org/mockito/InjectMocks.html).

1. Mockito respects constructor injection, as it should be in object oriented programming, that means it won't modify an object if this object has been created using constructor injection.
2. When mockito's code read the `@InjectMocks` annotation, the field might

[2018-07-18 14:14] bric3 commented on #1389
Closing as won't do, because injectmocks behavior should never override final fields.

[2018-07-18 14:14] #1389 closed

[2018-07-18 15:13] TimvdLippe commented on #1431
Fixed on master :tada:

[2018-07-18 15:13] #1431 closed

[2018-07-18 15:13] TimvdLippe commented on #1431
@mockitoguy can you make a patch release to maven central for this?

[2018-07-18 16:23] bric3 commented on #1431
@TimvdLippe the fix in #1433 only affects mockito's build

Mockito users will see the same errors in their build if they are in the same conditions.

[2018-07-19 20:58] moltmann commented on #1277
Simplifying a little bit:
- Usually in Android there is no continuously running method, everything is callback based.
- In Android each screen is usually internally represented by a different subclass of the Activity class. The behavior of this screen is defined by overriding the methods of the Activity class.
- One set of important methods of Activity are the lifecycle methods. E.g. `Activity#onC

[2018-07-20 23:59] HonoluluHenk commented on #1417
Actual use case:
my instance does have an internal cache of some sort:
`private final Cache cache = new Cache();`

I do not ever want to expose this cache in the API of the containing class (not event package-private) since this is a very private implementation detail no one else should know/care of.

Fully agree, but not being able to easily test the classes containing static state is (imho) even

[2018-07-21 10:19] davinkevin opened #1437 "Different mocks are used for @Mock and @InjectMock when using @TestInstance(TestInstance.Lifecycle.PER_CLASS) of jUnit5"
Hi,

I have a problem which seems to be very similar to this one https://github.com/mockito/mockito/issues/1346 but it is happening when I run test with `@TestInstance(TestInstance.Lifecycle.PER_CLASS)` (which is a better thing to do in Kotlin).

For the following code, the first iteration is working and the following are not because the behavior of another mock is changed 😰(`foo.bar` isn't the sa

[2018-07-21 12:43] mockitoguy opened #1438 "ignoreStubs documentation should be updated for strictness"
Driven by #1436, we need to update 'ignoreStubs' docs to include information about Mockito strictness (effectively replaces the need for 'ignoreStubs').

[2018-07-23 11:05] davinkevin commented on #1437
👍 thanks

Le lun. 23 juil. 2018 à 10:26, Serge Bishyr <notifications@github.com> a
écrit :

[2018-07-23 12:09] ChristianSchwarz commented on #1398
@mockitoguy her you can find a hack for type `int` only, same can be applied to other types too: #1441

[2018-07-23 15:01] marchpig opened #1442 "NPE occurs when the same type of ArgumentMatcher is used more than once"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [x] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2018-07-24 04:05] mockitoguy commented on #792
I'm finalizing the implementation in #1272, it will be released within days.

[2018-07-24 04:14] #792 closed

[2018-07-25 08:09] ming13 opened #1444 "Artifact ID changes"
Since `2.20.0` Mockito Maven artifact IDs [have changed](http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22org.mockito%22).

* `mockito-android` → `android`
* `mockito-inline` → `inline`
* `mockito-junit-jupiter` → `junit-jupiter`

Not sure if it is an intended change or not, so decided to clarify things a bit. So... Is it an intended change? It isn’t mentioned in the changelog.

[2018-07-25 10:36] Farubaba opened #1445 "NeverWantedButInvoked"
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2018-07-25 10:37] #1445 closed

[2018-07-25 14:20] fabasoad commented on #1423
Just tried this code on my machine. Here is the output message:

Mockito cannot mock this class: class replica.java.lang.reflect.Method$$PowerMock0.

If you're not sure why you're getting this error, please report to the mailing list.

Maven configuration:
[code]

[2018-07-25 14:38] fabasoad commented on #1428
Just tried it on my machine via Intellij IDEA Community 2018.1 - both cases (run single test and run all tests in project) works fine.
I propose you to check it via another IDE or via command line to exclude Eclipse option. If error still happens - maybe you have some tests which somehow can break usual behavior, try to skip (or comment) all the tests and then uncomment one by one to understand wh

[2018-07-25 17:45] mockitoguy commented on #1444
It's a bug. Thank you for reporting!

[2018-07-25 17:50] mockitoguy commented on #1444
@epeee, can you take a look at this?

[2018-07-26 03:37] mockitoguy commented on #1444
Upstream bug in Shipkit: https://github.com/mockito/shipkit/issues/741

[2018-07-26 04:12] epeee commented on #1444
@mockitoguy sorry, I was busy yesterday.
I can have a look at the upstream bug in shipkit tomorrow.

[2018-07-26 16:33] mockitoguy commented on #1444
There is some delay. Bintray log shows that the sync was successful. Let's wait until the end of the day.

Thanks for checking!

[2018-07-26 16:34] garrytrue opened #1447 "Have java.lang.IllegalStateException when trying to mock Kotlin class with nullable generic"
Hey I'm using
[code]
in my project.
I have a abstract class like this
[code]
And implementation of abstract class
[code]
The problem: When I try mock my implementation of abstract class I get
[code]
Seems like bytebuddy doesn't know about nullable generics or I do something wrong
Also you can find project [here](https://github.com/garrytrue/CrashWithKotlinNull)

[2018-07-26 16:37] mockitoguy commented on #1444
OSS repo has the right artifacts so I think it's just a delay before it's searchable in central. Proof - [pom.xml](https://oss.sonatype.org/service/local/artifact/maven/redirect?r=releases&g=org.mockito&a=mockito-inline&v=2.20.1&e=pom) in the Sonatype OSS 'release' repo.

Let's keep the ticket open until we add tests for the artifacts. @ming13, do you want to contribute a test that would verify ar

[2018-07-27 02:38] mikeb01 opened #1449 "Throws IllegalStateException when mocking interface"
Using Mockito 2.20.1

[code]
Definition of MetricPublisher:
[code]