[2017-04-29 10:15] solairerove opened #1056 "There is issue with generics and mock"
So issue:

I have some generic interface:

[code]

The first implementation:

[code]

The second implementation:

[code]

These both services use in some manager, that i want to test:

[code]

Manager mock test:

[code]

So here is a lot of problems with tests passing, class loader and casting. But when i use old style like this:

[code]

It's ok, and all tests pass, and i have any troubles.

Fail

[2017-04-29 10:31] raphw commented on #1056
Have you tried with a more recent version? We fixed a lot of bugs since.

[2017-04-29 10:41] solairerove commented on #1056
@raphw yep. I use `mockitoVersion=1.10.19 or mockitoVersion=2.0.2-beta`

[2017-04-29 10:54] raphw commented on #1056
We are long past the beta.

[2017-04-29 12:21] solairerove commented on #1056
@raphw now i use `mockitoVersion=2.7.22` and i have the same issues

[2017-04-29 12:23] TimvdLippe commented on #1054
Closing this as a duplicate of #174. Please subscribe there for updates.

(note that we are hesitant to add this behavior, as we try to refrain making Mockito an injection framework).

[2017-04-29 12:23] #1054 closed

[2017-04-29 14:04] TimvdLippe commented on #1013
This discussion has been very active and helpful, thank you everyone for participating!

I think we have sufficient background information to make a final decision @mockito/core Shall we discuss this on Slack and write a wiki page on our full analysis and final verdict? Then we can inform the community for a final review (of a potential implementation) and round up this feature.

[2017-04-29 14:05] TimvdLippe commented on #1028
Small note by me: I tried to extract the list, but haven't been succesful just yet. If anyone knows how to extract a list from SonarQube, that would be greatly appreciated. I haven't found an option to do so just yet :sob:

[2017-04-30 17:50] szczepiq opened #1059 "Release automation endless loop issue"
Recently I introduced a problem (PR: https://github.com/mockito/mockito/pull/1057) that created endless loop with our releases. Fallout / clean up needed:
 - [x] - stop the endless loop by reverting the commit. Thank you @TimvdLippe spotting the issue and reverting the change!
 - [x] - remove unnecessary tags
 - [x] - discard versions/artifacts that were pushed to Bintray (not "published" yet, saf

[2017-04-30 22:14] szczepiq commented on #1059
Waiting for review / merge: https://github.com/mockito/mockito-release-tools/pull/103

[2017-04-30 22:44] TimvdLippe commented on #1059
Fix seems fine to me. Have not executed it locally though.

[2017-05-01 18:34] kobbikobb opened #1063 "Usage of the final keyword"
In the source code the usage of the final keyword is not consistent.
It is not mentioned in CONTRIBUTING.md.

Do you have a guideline for this and should it be included in CONTRIBUTING.md?
Do you feel it does not matter?

check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note

[2017-05-01 18:55] TimvdLippe commented on #1063
I think it is applied rather arbitrarily, where we see it fit. No harsh guidelines or so.

[2017-05-01 18:55] TimvdLippe commented on #1063
For Java 8 we have to adopt final btw, if we want to access variables outside of lambdas. So then it would become required.

[2017-05-01 19:09] szpak commented on #1063
@TimvdLippe Java 8 relaxed a need to use the `final` keyword - variables can be [effectively final](https://docs.oracle.com/javase/tutorial/java/javaOO/localclasses.html#accessing-members-of-an-enclosing-class).

[2017-05-02 14:07] kobbikobb commented on #1063
Ok, thank you.

[2017-05-02 14:07] #1063 closed

[2017-05-02 14:24] bparent opened #1064 "Cannot Mock Android's View class with mockito-android 2.8.9"
When using mockito and mockito-android 2.8.9  I cannot mock the View class from Android.

This is not an issue using dexmaker and mockito 1.10. This seems to work with dexmaker 2.2.0 (which uses mockito 2.2.0) as well.

Repro:
1. Create a new project using Android Studio
2. Add mockito and mockito-android to app/build.gradle
[code]
3. Try to mock `View.class` in `ExampleInstrumentedTest` example t

[2017-05-02 15:36] haarts commented on #773
Sorry to comment on this closed issue. But I can't seem to grok this.
I have simple test class which defines a `@Before` method. Therein I mock a certain call. This mock is good for all but two of my `@Test`s. That looks something like this:

[code]

In the two deviates I overwrite (or so I thought) the stub like so:

[code]

This fails. `someMethod` is still only called once (I expected twice, on

[2017-05-03 09:05] Somewater opened #1065 "Complement error message"
Exception from [cannotStubVoidMethodWithAReturnValue](https://github.com/mockito/mockito/blob/aeed5fe3b06912c35a4fd70fa61b45e1feedc9a1/src/main/java/org/mockito/internal/exceptions/Reporter.java#L447) does not inform about `doNothing()` method. But I think in many cases it is what user want to do.

[2017-05-03 09:08] TimvdLippe commented on #1065
Feel free to open a PR to fix this issue :smile: Thanks for the report.

[2017-05-03 10:45] Ghedeon opened #1066 "@InjectMocks ignores @Mock's name of generic types"
When injecting two fields of the same type with `@InjectMocks`, the `@Mock`'s name is not taken into account.

[code]

[code]

[code]
**Expected result**: f1 mock --> f1, and f2 mock --> f2.
**Actual result**: f1 mock is getting injected into both fields.

Version: mockito-core:2.7.22

[2017-05-03 11:04] TimvdLippe commented on #1066
Hm, not sure if we can cope with that. We are not aiming to be a full injection framework. If there is an easy fix, we can do that. Else we have to document this deficiency :(

[2017-05-03 15:39] Ghedeon commented on #1066
@TimvdLippe Totally understand your point, but what is the name attribute for if not for this? It's literally documented as expected behavior for `@InjectMocks`. It's a canonical example from @InjectMocks javadoc (https://static.javadoc.io/org.mockito/mockito-core/2.7.22/org/mockito/InjectMocks.html) and it's not working. It's a trivial use case, there is nothing tricky or hackish about this injec

[2017-05-03 15:41] TimvdLippe commented on #1066
Oh right. Hm yes that should be easier to fix and we should do that. Do you have time to submit a PR?

[2017-05-03 22:52] mmlac opened #1067 "Deadlock after upgrading to Mockito 2 and parallel tests execution"
I updated Mockito and ScalaTest today from ScalaTest 2.x and Mockito 1.x and my tests suddenly froze in SBT (not in IntelliJ). After some playing around, I noticed every test class by itself passes and when I disabled running tests in parallel in SBT, the tests would work again.

I used jstack and came across this deadlock:
[code]

ApiKeyVerificationFilter, line 77 is `val apikey = mock[ImmutableM

[2017-05-04 06:29] raphw commented on #1064
Seems like a package-private class is referenced that would only be accessible if Mockito could inject the class into the target class loader what is not always possible on Android. I will look into how to solve this better. Thanks for reporting!

[2017-05-04 06:39] raphw commented on #1067
It seems to me as if you are defining circular class loading hierarchies. With Mockito 2, we are applying more fine grained locking to improve concurrency. The difference is displayed in the stack trace where `findOrInsert` aquires a lock for the class loader of the mock class before creating a mock. The previous solution always aquired a global lock what made it impossible to create to mock class

[2017-05-04 13:31] danwallach opened #1068 "feature request: spying on lambdas"
Here's some Java8 code that works today (even with Mockito 1.x):

[code]

I then use `spyIncrementer` as an argument to the code that I really want to test and write a series of `verify` calls to check how `spyIncrementer` was used. In particular, I'm testing a memoization system that should only ever call call this lambda once with any given argument, so there are a series of Mockito calls along

[2017-05-04 14:03] bparent commented on #1064
Thanks - sorry I thought I had put in the report that AttachInfo was package-private - let me know if I can be of any help.

[2017-05-05 00:58] mmlac commented on #1067
So both Maps are abstract, I'll try mocking concrete implementations. That might have caused the classloaders to kick in. I try to rewrite some of the tests to use specific implementations instead of abstract classes, but for i.e. ImmutableMap that's gonna be difficult as far as I can see.

[2017-05-05 12:38] TimvdLippe opened #1070 "Fix coverage for subprojects"
In #1032, the new coverage was incorrectly tracked by jacoco. A quick search showed this TODO (https://github.com/mockito/mockito/blob/release/2.x/gradle/root/coverage.gradle#L3) that points out it is actually not generating coverage for subprojects. Would like to see this fixed!

[2017-05-05 13:31] troig opened #1071 "Mockito AdditionalAnswers.returnsFirstArg() doesn't work with generic first arg"
_Issue concerning [this stackoverflow question](http://stackoverflow.com/questions/30670275/mockito-returnsfirstarg-doesnt-work-with-generic-first-arg).
I've checked it's not working both Mockito 1.x and 2.x._

-------------------

I'm trying to mock the typed method `getNameElement` of Interface `RoomGeneralService` to return the first arg, using Mockito `AdditionalAnswers.returnsFirstArg` functi

[2017-05-06 00:17] abhsrivastava opened #1072 "Using Mockito to mock objects created by Google Guice"
I am using Mockito inside of ScalaTest. I am trying to spy on a object which is created via Google Guice. when I run my test, I see that the method is invoked twice.

[code]
Here is my build.sbt

[code]

When I run the code I see that the method being tested is invoked twice

[code]

I have also posted this issue

http://stackoverflow.com/questions/43774306/scala-mockito-guice-and-partial-mocking-

[2017-05-06 11:43] Ghedeon commented on #1056
It's actually a duplicate of #1066. It's not fixed in 2.8.28. From what I see, `PropertyAndSetterInjection` takes generic types and `@Mock`' name attributes into account, so it works as expected for the field injection. But it doesn't work with constructors because `ConstructorInjection` is using only `SimpleArgumentResolver` which is well... very simple and doesn't have any `MockCandidateFilter`

[2017-05-07 14:33] margussipria opened #1074 "Mock creation does not work for JSch projects ChannelSftp class with Mockito 2.7.22"
Hey,

We have project with Scala and use ScalaTest for testing Framework and Mockito for mocking.

After upgrading to 2.7.22 (tested with all 2.x branches - including using tag v2.8.28), only one class cannot be mocked anymore.

[code]

Exception:
[code]

[Example](https://github.com/margussipria/mockito-bug) failing project after upgrade (online line example with dependencies)

For running test y

[2017-05-07 20:38] margussipria commented on #1072
It seems that adding `when(x.workHorse()).thenCallRealMethod()`to object that is is wrapped with spy adds extra call to real method... when using null this is must, but with spy only if you are overriding values?

It seems that if you add that line multiple times every time adds one real call, and 2nd even changes result (returning real values).

-- Only relevant for Guice START --

And about your

[2017-05-09 08:01] ChristianSchwarz commented on #1071
@troig Mockito checks if the argument type is compatible with the return type to make a misuse ot the API as soon as posible visible.  In this case the argument-type Object is inferred from the generic type T, due to type erasure. Since Object is not a subtype of String Mockito throws the exception you see.

Solution: The issue can by fixed by inferring the argument-type of the actual argument-ins

[2017-05-09 14:30] abhsrivastava commented on #1072
You nailed it my friend. you did it. Man this was a hard one..... thank you so much.
I don't know if you are present on stackoverflow, but I have opened a bounty question with 50 points here http://stackoverflow.com/questions/43774306/scala-mockito-guice-and-partial-mocking-methods-get-called-twice

If you want, you can claim the bounty.

[2017-05-09 14:37] #1072 closed

[2017-05-10 18:03] #1071 closed

[2017-05-11 09:06] ChristianSchwarz commented on #1066
Indeed it would be nice if Mockito would support construtor injection by parameter name! Constructor injection is different beast that field injection. For field injection the name of the target field can be used to match to the mock of the same name. For parameters this is not always possible, it depends on how the code was compiled  and on the java version that run the code:
 * till Java 8 there

[2017-05-11 13:07] ChristianSchwarz commented on #1037
@xdom

It is possible that it will be deprecated once within(..) aka #936 is reviewed and merged. The MockitoCore members [gave green light for the within-API](https://github.com/mockito/mockito/pull/936#issuecomment-284273468).
I think the within-API will not be available before September (feel free to review it).

I don't think so timeout/after has several other issues, it would take too much ti

[2017-05-11 13:38] andreas-lundgren-storytel opened #1077 "Mockito should automatically reset @MockBean's before each test case"
[SORRY, please delete this...]

[2017-05-11 13:41] #1077 closed

[2017-05-11 21:13] raphw commented on #1026
I assume its a bug in thje VM, Byte Buddy checks for the generic type and assumes the annotated generic type is of the same shape. Did you try updating your VM? It s quite old.

[2017-05-11 21:14] solcott opened #1078 "Can't mock FirebaseRemoteConfig using mockito-inline"
This occurs when using mockito 2.7.22, openjdk version "1.8.0_112-release", and Mac OS 10.12.4

When using mockito-inline in unit test on an Android project it is unable to mock FirebaseRemoteConfig.  When I try to call when(mockFirebaseRemoteConfig.getBoolean("test_key")).thenReturn(true) I get a null pointer exception in the actual FirebaseRemoteConfig code:

`java.lang.NullPointerException
	at

[2017-05-12 13:28] #1065 closed

[2017-05-12 14:06] szpak commented on #1059
I don't know if this is related, but the release process currently [fails](https://travis-ci.org/mockito/mockito/jobs/230865593#L796) with:

on a git push.

[2017-05-12 15:06] TimvdLippe commented on #1059
It is sadly unrelated. It seems that @szczepiq password was reset for some reason :sob:

[2017-05-12 19:20] oiavorskyi commented on #1026
This was indeed the JVM bug. I have updated to the latest version and this issue is gone. Thank you for the hint!

[2017-05-12 19:20] #1026 closed

[2017-05-13 18:05] szczepiq commented on #1059
There is something weird going on with GitHub auth tokens. They seem to be expiring or something. I've tested locally a new token, updated Travis configuration and restarted Travis Job. We'll see if it helps.

[2017-05-14 21:52] magnumrocha opened #1082 "Mockito 2.x on Android Instrumentation Tests with Kotlin is not working"
Hi guys,

I am current working on a Android project using the [Kotlin language], and I’m trying mock some classes on Instrumentation Tests. As everything in Kotlin is final by default, we have the known problem of mock final classes, that only works if we apply the "mock-maker-inline" on file “org.mockito.plugins.MockMaker” inside test resources folder (eg.: src/test/resources/mockito-extensions/)

[2017-05-15 00:56] mina-asham opened #1083 "Mockito 2 mock-maker-inline not able to mock Object methods on an interface"
Hi there,

I recently upgraded from Mockito `1.9.5` to `2.7.22` (mockito-inline), and some tests started failed as Mockito is unable to mock `Object.toString()` method on an interface.

It appears to be that the inline mock maker cannot mock Object methods on an interface, using a class (HashSet for the below example) or mockito-core instead of mockito-inline makes it work.

***System:***
[code]

[2017-05-15 07:05] juergenzimmermann opened #1085 "Mockito 2.8.9 available at JCenter, but not at Maven Central"
Therefore, Spring Boot is still using Mockito 2.7.22, but not 2.8.x. Please see https://github.com/spring-projects/spring-boot/issues/9228

[2017-05-15 08:12] TimvdLippe commented on #1083
Your jdk seems fairly outofdate. Could you update to a more recent version?
That should probably fix the issue.

On Mon, 15 May 2017, 02:56 Mina Asham, <notifications@github.com> wrote:

[2017-05-15 08:18] mina-asham commented on #1083
Sorry for that was writing this from my out-dated desktop, it still happens with the latest JDK:
[code]

[2017-05-16 01:07] tmurakami commented on #1082
I think there are two ways.
1. [Kotlin all-open plugin](https://kotlinlang.org/docs/reference/compiler-plugins.html#all-open-compiler-plugin)
2. [DexOpener](https://github.com/tmurakami/dexopener)

## Kotlin all-open plugin

This plugin makes classes annotated with a specific annotation open without the `open` keyword.

First, you put these files into your project:

- app/src/ **debug** /java/your

[2017-05-16 06:56] troig commented on #1071
Thanks @ChristianSchwarz for you quick answer!

[2017-05-16 08:34] vanniktech opened #1086 "Documentation update - MockitoJUnit.strictness(STRICT_STUBS) does not do verifyNoMoreInteractions"
### Problem

Our documentation about "strict stubs" does not clearly indicate the difference between "strict mocks" (described at #1097). In short, "strict stubs" are not "strict mocks", e.g. we detect unused or incorrectly declared stubs but we don't force the user to verify all interactions.

### Suggested implementation

Suggest an update to the Javadoc that would make things clear? Perhaps on

[2017-05-16 19:02] magnumrocha commented on #1082
Thank you @tmurakami,

The first solution worked as I wanted.

[2017-05-16 19:02] #1082 closed

[2017-05-17 03:35] szczepiq commented on #1085
Thank you for reporting. We will fix this!

[2017-05-17 10:13] michaelilyin opened #1087 "Timeout does not work with already affected mock"
I have the following problem in mockito 1.9.5:
- I have an one mock method call with arg A
- I have an one mock method deffered call with arg B
- I tried to verify method invocation with arg B using timeout, but mockito fails with nessage that method was invoked with arg A and do not wait specified timeout.

Code:
[code]

Output:
**26**

Argument(s) are different! Wanted:
s.test(1);
-> at Test.tes

[2017-05-18 00:46] Abasifreke opened #1088 "Javadoc Example Throws Unexpected Exception"
Verify(mockedList, atLeast(2)).add("five times"); - would throw
org.mockito.exceptions.verification.TooLittleActualInvocations

Correcting this would help to make sure new devs are not confused by the verify use case there.

<img width="678" alt="screen shot 2017-05-17 at 8 40 03 pm" src="https://cloud.githubusercontent.com/assets/10499046/26181818/2241904c-3b41-11e7-8f71-6974d46d5579.png">

[2017-05-19 10:39] myrle-krantz opened #1089 "Mockito.verifyCompletion for spies in an asynchronous environment."
This is not a bug. I already have a workaround, so it's a low-priority feature wish:

I'm writing a component test (not a unit tests) against some code which is doing some asynchronous processing. In the test, I want to wait until a function is called, before checking that the state it creates is created correctly. Currently it is possible to wait until a spy is called, but it is not possible to w

[2017-05-20 19:37] szczepiq commented on #1085
Fixed. Thank you very much for reporting. I also emphasized this version in [release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md#289-2017-04-26-published-to-jcentermaven-central)

[2017-05-20 19:37] #1085 closed

[2017-05-20 19:39] szczepiq commented on #1089
Thank you for reporting! What's your current workaround? The code snippet above does not seem to address the use case (given my understanding of the use case :).

[2017-05-20 21:32] myrle-krantz commented on #1089
The workaround was that I just verified a call after the call in question.  Not really ideal for a component test, but good enough.

[2017-05-22 12:32] johnjohndoe commented on #1083
@TimvdLippe Is running a recent JDK version a hard requirement for mocking `final` classes/methods via `org.mockito:mockito-inline`? If so please state the minium version needed.

[2017-05-22 12:35] TimvdLippe commented on #1083
@johnjohndoe There is not a minium JDK version for Mockito, but there are a small subset of errors that are JDK related and fixed in more recent versions. I think all versions > 1.8.45 are good enough for this subset.

[2017-05-22 12:41] mina-asham commented on #1083
This is failing on 1.8.131 anyways, so I don't think it a JDK issue.
This only fails with `org.mocker:mockito-inline` but works fine on `org.mockito:mockito-core`, I suspect the inline mocker is not able to extend interfaces properly?

[2017-05-22 12:52] TimvdLippe commented on #1083
If it is also failing with the latest JDK, it probably is an issue with ByteBuddy-Android. CC @raphw

[2017-05-22 21:05] raphw commented on #1083
Yes, its a bug in the inline mock maker. See PR.

[2017-05-22 22:40] #1083 closed

[2017-05-23 11:51] trcooke commented on #1088
What would you consider to be the correct behaviour here? At a push I might propose a slight change in naming to "TooFewActualInvocations" but the core behaviour is the same.

Your example is confusing because your "atLeast(2)" verification is on .add("five times"), which suggests five invocations of add() with that String, but there are no invocations with that String.

What do you expect to see

[2017-05-23 12:36] trcooke commented on #1087
This is expected behaviour. Your test says "Verify that method 'add()' is called with argument '1', I'll wait 5 seconds for it" but the first call to 'add()' is with argument '2', hence Mockito reports a failure.

The 'verify' feature defines exact expectations on interactions with a mock. It sounds like you expect it to verify that a particular interaction happens regardless of all other interact

[2017-05-23 22:14] michaelilyin commented on #1087
Sounds reasonably, but.. Without async inocation there is no failure. If I call method 'add()' with both '2' and '1' arguments, expression `verify(s, timeout(5000).times(1)).test(1);` works fine and dont fails testcase. And it is right behaviour, yes? In this case mochito does not see that '2' was passed. Presence of '1' switched verification into passed state. But.. in this case we timeout does n

[2017-05-24 07:24] trcooke commented on #1087
I have observed the inconsistency that you present. If I modify your example as follows then no failure is reported by Mockito v1.9.5:

    class S {
        void test(int a) {}
    }

    @org.junit.Test
    public void test() {
        final S s = mock(S.class);

        sendTestData(s);

        long start = 0, end;
        try {
            start = System.currentTimeMillis();
            verif

[2017-05-24 08:15] michaelilyin commented on #1087
Ok, I'll try it. Thanks!

[2017-05-24 08:15] #1087 closed

[2017-05-25 15:42] szczepiq commented on #1088
I think the expectation is that the code works when it is copy pasted to IDE and executed. Why don't we fix it by changing "five times" to "three times"? Do you want to contribute? Please do! :)

[2017-05-25 15:46] szczepiq commented on #1086
Yes, it is by design.

"Strict stubs" are not "strict mocks", e.g. we detect unused or incorrectly declared stubs but we don't force the user to verify all interactions.

If above is not clear in the documentation, can you suggest and update to the Javadoc that would make this clear? Perhaps on Strictness type or on Strictness.STRICT_STUBS enum value.

[2017-05-25 15:53] szczepiq commented on #1078
Thank you for reporting and for offering us reproducible sample! What version of Mockito do you use?

When we have a chance we will look into this problem. In the meantime, if you (or somebody else) has the courage to dive into Mockito codebase and push a bit harder to identify the problem, that would be AWESOME. Reproducible sample will be very helpful - thanks again for that!

[2017-05-25 16:00] solcott commented on #1078
This happened on 2.8.9 and 2.7.22

[2017-05-25 16:07] szczepiq commented on #1074
It's been a while since this issue was reported. Have you found any solution or a workaround? We don't work with Scala so I am not sure when any of the core team members will be able to dig into this problem.

Thank you for supplying the sample project and testing with all versions of Mockito! My gut feel is that there is something in the hierarchy of ChannelSftp that makes it break with Mockito.

[2017-05-25 16:27] vanniktech commented on #1086
Are there any plans for `Strict mocks` where the above would be detected?

[2017-05-25 17:50] trcooke commented on #1088
Oh wait, I see now. It's a problem with [the documentation](http://static.javadoc.io/org.mockito/mockito-core/2.8.9/org/mockito/Mockito.html#4). Sure thing, I can update that no problem.

[2017-05-27 04:18] #1088 closed

[2017-05-27 04:23] szczepiq commented on #1086
Yes, we should start supporting strict mocks. I gave a talk at Devoxx conference in San Jose in March and I collected even more feedback for offering strict mocks as an alternative. We have a ticket open at #649 on this but so far we didn't accumulate enough energy to get started on this.

You motivated me to start working on this. I'll commit to produce a design spec for #649 so that it is ready

[2017-05-27 05:42] szczepiq commented on #1059
It was fixed!

[2017-05-27 05:42] #1059 closed

[2017-05-27 08:08] trcooke commented on #1074
This might be a Scala specific thing. I threw together a tiny Java example and observed no failure.

`'org.mockito:mockito-core:2.7.22'` (same outcome with 2.8.9 also)
`'com.jcraft:jsch:0.1.54'`

    import com.jcraft.jsch.ChannelSftp;

    import static org.mockito.Mockito.mock;

    public class ChannelSftpTest {

        public static void main(String[] args) {
            ChannelSftp mockChann

[2017-05-27 08:41] frapontillo commented on #1078
I believe I have a similar issue mocking `FirebaseAuth`:

[code]

[2017-05-27 08:47] emarc-m commented on #1078
I've got this to work by disabling bytecode verification, as suggested [https://github.com/mockito/mockito/issues/1000](here). This might not be the best solution but the issue is still being investigated by the team.

BTW, to make it work for Android Studio, you need to manually add -noverify to the run configuration's VM options. Android Studio does not pick up the gradle option.

[2017-05-27 09:10] frapontillo commented on #1078
@emarc-m I can confirm your fix works, even if I leave inline mocks enabled (which I need since I'm testing Kotlin classes, which are `final` by default).

Put this in your `build.gradle`:

[code]

And, if you run tests outside of Gradle (from Android Studio or, in my case, IntelliJ IDEA) set `-noverify` in the VM options of the test configuration.

[2017-05-27 10:32] raphw commented on #1078
The answer lies in the stack trace already: Caused by: java.lang.IllegalStateException: Inconsistent frame length for public void com.google.firebase.auth.FirebaseAuth.zza.

This happens for example when instrumenting obfuscated classes that do not correctly retain type information within a method what is triggered by tools like ProGuard. This makes it impossible to add code at the end of a method

[2017-05-27 10:37] vanniktech commented on #1086
That's also where I learned from the `MockitoRule` and the different options. Thanks for that!

Awesome.

I'd also very much prefer something along the lines of:
 `Mockito.enableStrictMode();`

Where you opt in for strict modes by default and then maybe can opt out for particular mocks.

Do you plan to integrate the above static method call into the MockitoRule so that you can maybe do something l

[2017-05-28 05:39] szczepiq opened #1097 "Strict mocks support"
## Introduction

**Supporting "strict" mocks will help with test debuggability in certain scenarios.**

This design note explains the rationale and suggested implementation plan to support "strict" mocks. **Please contribute!** If you want to help our community and implement this feature, please read the design spec carefully and let us know if something is unclear. This feature has been asked for

[2017-05-28 05:41] szczepiq commented on #649
I'm closing this ticket and opening a new one for fresh discussion. This issue contains too much discussions around the API that we probably won't use because we currently have the new "Strictness" API. New ticket is #1097, please leave feedback there!

Thank you for all the discussions in this ticket!

[2017-05-28 05:41] #649 closed

[2017-05-28 15:19] mockitoguy opened #1101 "Release only if all builds ended successfully (wuth Travis build stages)"
I noticed today that Travis CI publishes new release even though the Java8 jobs have not completed yet. This seems odd. I would assume that 'after_success' would wait for all matrix jobs to complete first. @szpak - do you know why it works like that?

[2017-05-28 15:58] dmateusp opened #1102 "Mockito with Scala does not mock "val" functions"
I am using `Mockito`, (`"org.mockito" % "mockito-core" % "1.8.5"`) in my Scala (version 2.11.11)-tests (Play Framework project)

Mocking a trait would always throw a `JavaNullPointerException`, the error was not helpful so I tried a several different things before someone suggested I try to change my `val` functions to `def` methods. (see my stack overflow question https://stackoverflow.com/q/4422

[2017-05-28 20:26] TimvdLippe commented on #1101
Seems like an upstream issue at https://github.com/travis-ci/travis-ci/issues/929 A solution linked there is https://github.com/dmakhno/travis_after_all as well as the official Travis solution at https://docs.travis-ci.com/user/build-stages which has been in open beta 3 weeks ago: https://github.com/travis-ci/beta-features/issues/11

[2017-05-28 20:29] TimvdLippe commented on #1078
Closing this issue per above comment. Sadly there is nothing actionable here as we are hit by the bug in ProGuard. The workaround is to use `-noverify` as posted 2 comments above.

[2017-05-28 20:29] #1078 closed

[2017-05-29 05:42] raphw commented on #1078
I filed a bug report at Proguard. I did some tests and this also breaks APM tools, for example.

[2017-05-29 07:32] imod commented on #1097
I think it would be very beneficial to have a system property to switch Mockito to strict mode on global level. This would allow enforcing strict mode via CI (e.g. Maven) on a whole project.

[2017-05-29 15:48] szczepiq commented on #1097
@imod, thank you for feedback! I haven't thought about the idea to use system property.

That's correct, the the api for using mocks is the same. The difference lies in how [JUnitRule](https://static.javadoc.io/org.mockito/mockito-core/2.8.9/org/mockito/junit/MockitoRule.html) or the [MockitoSession](https://static.javadoc.io/org.mockito/mockito-core/2.8.9/org/mockito/MockitoSession.html) objects

[2017-05-29 15:55] szczepiq commented on #1101
Thanks a lot for investigation. I suggest that we use the Beta feature of Travis. What do you guys think? If you are ok with that let's update the description of this ticket and mark it 'please contribute' ;)

[2017-05-29 15:56] szczepiq commented on #1074
@trcooke, thank you for investigation! It would be good to to get to the bottom of this issue. Tackling those subtle mock creation problems, one by one, would really help Mockito.

Let us know if you find anything!

[2017-05-29 16:00] szczepiq commented on #1102
Hi! Thank you for reporting this issue.

Currently, there are not Scala developers on the team and we have quite a bit of work with Java code :) Can you try to debug the problem a bit more? Why is the NPE triggered, what is null and why? What is the behavior of your example if you translate to Java?

We are happy guide the resolution of this problem. In order to make progress, we need help with Sc

[2017-05-29 16:01] TimvdLippe commented on #1101
Yes lets do that

On Mon, 29 May 2017, 17:55 Szczepan Faber, <notifications@github.com> wrote:

[2017-05-29 16:02] szczepiq commented on #1086
The design spec is ready at #1097. Do you want to contribute? :)

[2017-05-29 16:04] vanniktech commented on #1086
I'm definitely interested. I might have some time. Would it also be okay to start with a POC and from there go and implement out all of the details?

[2017-05-29 16:06] szczepiq commented on #1086
Absolutely! Feel free to submit PR with a POC for early review.

[2017-05-29 16:14] szczepiq commented on #1089
I'm trying to figure out a way to move forward with this idea.

Can you create a minimalistic sample test case and submit it as PR to our code? This way we can better brainstorm on the solution.

One other alternative that comes to my mind is to use custom [Answer](https://static.javadoc.io/org.mockito/mockito-core/2.7.9/org/mockito/stubbing/Answer.html) implementation when stubbing spies. You cou

[2017-05-29 16:14] vanniktech commented on #1086
`release/2.x` is the correct branch to do so, right?

[2017-05-29 17:27] TimvdLippe commented on #1086
Yes please :)
Op ma 29 mei 2017 om 18:14 schreef Niklas Baudy <notifications@github.com>:

[2017-05-29 18:19] trcooke commented on #1074
Turns out it's the class that `ChannelSftp` extends, `ChannelSession`, that Mockito is having bother with.

    package com.jcraft.jsch;
    class ChannelSession extends Channel{
        ...
    }

Trying to mock this in the context of a ScalaTest setup yields:

    [info]   org.mockito.exceptions.base.MockitoException: Mockito cannot mock this class: class com.jcraft.jsch.ChannelSession.
    [inf

[2017-05-29 19:59] szpak commented on #1101
@szczepiq No, it doesn't. As Tim already mentioned Travis (at last) started providing some solution for that. I gave it a first try some time ago, but there were multiple issues and Travis' team is working on it (see very long discussion and reports - https://github.com/travis-ci/beta-features/issues/11). I plan to give it the second try in one of my projects in the foreseeable future, so there is

[2017-05-30 08:32] imod commented on #1097
@szczepiq I agree, it could be confusing - but to be honest: I think this is a decision not a library has to make. If you are responsible for the development of a product, then I think it is not uncommon to define such rules and this for sure would be one I would set - in fact we don't use mockito because of the lack of it.

[2017-05-31 02:52] szczepiq commented on #1101
@szpak, thank you for useful information and warning :) Perhaps we should switch to circle ci or something else? :)

[2017-05-31 20:40] szpak commented on #1101
The issues are just with the net beta feature. Not with the Travis in general. It's good to make it available after all those years :). Nevertheless, @szczepiq you can do some PoC and comparison between lightweight CI/CD servers/services. Maybe there is something better :).

[2017-06-01 07:34] dnouls commented on #958
It would be useful if the docs where a bit clearer on the migration path. Any( String.class) needs to be replaced with nullable(String.class). Nowhere in the reference for the changed method was this mentioned. Thanks you stack overflow!

[2017-06-01 08:33] bric3 commented on #958
@dnouls Look at this page ;)
https://github.com/mockito/mockito/wiki/What%27s-new-in-Mockito-2

[2017-06-01 08:36] dnouls commented on #958
I meant the JavaDocs, the first source where developers look. Release notes are probably the last resort (after StackOverflow) where you would expect info about deprecated or modified behavior. There was as attempt to warn about incompatibility but it does not explain the alternative method should be used if the intent was for null or a specific type.

[2017-06-01 14:46] martofeld opened #1105 "mockito-inline can't mock finals"
Im trying to mock [JsonObject](https://github.com/google/gson/blob/master/gson/src/main/java/com/google/gson/JsonObject.java) using mockito-inline. When running from console it runs perfectly but when trying to use Android Studio i get
[code]
I tried using both `@Mock JsonObject jsonObject` and `Mockito.mock(JsonObject.class)` but none of them work. Am I missing something?

Versions:
- mockito-inl

[2017-06-01 15:16] westonal opened #1106 "Rule causes verification to never fail"
Tried with Mockito 2.8.9 and Mockito 2.1.0

The following is a minimal example of this issue. It will fail from a gradle run. For what it's worth, I have placed this in a new Android project and test via Android Studio and `./gradlew test` and both pass when the rule is present and fail when it is not.

SSCCE:

[code]

Where the empty rule is:

[code]

[2017-06-01 15:23] westonal commented on #1106
Full example project here: https://github.com/westonal/MockitoVerifyBugExampleRepo

[2017-06-01 15:28] westonal commented on #1106
`@RunWith(MockitoJUnitRunner.class)` does not help.

[2017-06-01 15:29] TimvdLippe commented on #1106
I think you always have to call `base.evaluate()` in your rule. That rule is JUnit specific and has nothing to do with Mockito. If the rule does not actually invoke the test (in this case the `base`), it will not do anything at all. You can test it by adding a `System.out.println()` inside your test. It should not be called.

[2017-06-01 15:31] westonal commented on #1106
@TimvdLippe Thank you very much, that's fixed it!

[2017-06-01 15:31] #1106 closed

[2017-06-01 17:03] szczepiq opened #1107 "No release build for 2.8.39 - possible bug in Travis CI"
For some reason, Travis CI did not trigger the main build for version 2.8.39. In the travis dashboard for that build I can see only [3 child jobs](https://travis-ci.org/mockito/mockito/builds/237813636) whereas normally there are [4 child jobs](https://travis-ci.org/mockito/mockito/builds/237433149).

@szpak, have you seen something like that before? I'm restarting the build, let's see what happen

[2017-06-01 20:33] szpak commented on #1107
No, I haven't seen. There were no changes in .travis.yml and I have no idea what one of the jobs is missing. Probably (I hope) it will be automatically fixed by the next commit. It may be good to report it to Travis.

[2017-06-02 05:02] vadim-ag opened #1108 "Mockito with Groovy fails to create stubs for partial mock for abstract class derivative"
I am using Mockito 2.8.9  with Groovy 2.4.1 and JUnit 4.12 (openjdk version "1.8.0_131")

The setup:
* I have an instance of the `Failure` class that is derived from `abstract` `AbstractBase` parent.
* I am stubbing partial mock (`spy`) using `doXxx` methods.
* => failure

* For contrast, the above steps are repeated with `Success` which is derived from  regular `Base` parent.
*  => success

The t

[2017-06-02 12:55] szczepiq commented on #1101
Good idea! In your experience, Travis CI is currently the best option for open source?

[2017-06-02 13:33] szczepiq commented on #1107
Just merged another PR, will see how many child jobs Travis job triggers this time :)

[2017-06-02 13:43] szczepiq commented on #1107
Another instance of this problem. I've contacted Travis CI support, put you guys on cc.

[2017-06-02 22:19] szpak commented on #1101
On a daily basis (for in-house development of µservices and other stuff) I use Jenkins powered by job-dsl (and a custom framework on top of it) to provide pipelines (and jobs) managed in code. It works very well. Unfortunately, although CloudBees offers a hosted Jenkins version (which is in general free for FOSS projects) it has its limitation (such as blacklisted Gradle plugins - mostly due to se

[2017-06-05 04:26] szczepiq commented on #1108
Thank you for reporting! We don't normally use Mockito with Groovy code because the best unit testing framework for Groovy is [Spock framework](http://spockframework.org) which already contains [great support for mocking](http://spockframework.org/spock/docs/1.1/interaction_based_testing.html).

By now, did you find a way to resolve the problem? If not, do you want to help identifying the root cau

[2017-06-05 04:34] szczepiq commented on #1105
Thanks for reporting! Did you find a solution / workaround to the problem yet? It might we worth reaching out to Android community in case this is some known issue.

It looks like when you're running tests in Android studio, Mockito is not using inline mocking for some reason. Perhaps the classpath is stlightly different when you run tests in studio VS from command line.

[2017-06-05 04:54] lenguyenthanh commented on #1105
@martofeld do you have sample project for this issue? I can take a look.

[2017-06-05 04:55] szczepiq commented on #1107
Commented on the ticket in Travis issue tracker (https://github.com/travis-ci/travis-ci/issues/4681#issuecomment-306102865). Here's the message from Travis CI support:

[code]

I'm trying it now ;)

[2017-06-05 07:55] #1107 closed

[2017-06-05 13:36] martofeld commented on #1105
@szczepiq Found a workaround, quiting and opening AS again somehow makes this work. Still haven't found what causes this.

[2017-06-06 01:34] vadim-ag commented on #1108
First and foremost, thank you very much.

Legacy codebase dictates options. :-(

I was able to convert class to non-abstract, but it was sub-optional.

Absolutely!

I had troubles running 1.9.5 (but probably for unrelated reasons). Let me give it a try.

It is a bit difficult. I am new to Groovy / Java / Mockito world, and not quite sure how to run local build dependency. Decompiled code is not fu

[2017-06-06 03:44] szczepiq commented on #958
Great feedback, thank you! Can you help us improve the documentation? Even small edits / additions to the Javadocs are very useful.

[2017-06-06 03:48] szczepiq commented on #958
This is a decision we made, mostly based on feedback from the community. We tried to balance out the elegance of API with the full intuitiveness/zero surprises. You can find the discussions about this in the older jira tickets on ```any()``` type modification. I don't claim the API is perfect - it is best we could think of at the time :)

[2017-06-06 03:49] szczepiq commented on #958
Reopening with request to update the documentation.

[2017-06-06 03:57] szczepiq commented on #1108
Mockito ships source code to Maven Central. So long you configure your project using model build tools like Gradle or at least Maven, the source code should be picked up automatically by the IDE. Just run test with debugging, and step to the code to debug issues like this one. If you don't feel bold enough to dive into debugging, consider creating a tiny project / repository where the problem can

[2017-06-06 04:07] szczepiq commented on #1097
@imod, thank you for feedback!

This ticket is to add support for strict mocks. It does not offer globally configurable "strictness level". We will see if there is more feedback from the community to add this sort of 'global' setting. At the moment I'd rather not create implicit ways of configuring default behavior of the framework.

Ok, who wants to work on this feature? The design spec is ready

[2017-06-06 07:14] thekingnothing opened #1110 "PowerMock and MockMaker: API change request."
Hi guys,

I've taken a time for reviewing PowerMock code to find place where it use internal Mockito API. I'd like to discuss what could be done to avoid.

First think that I'd like to talk about it's MockMaker. PowerMock uses it custom MockMaker, which it past was used only for two things:

- cache a class create by CgLib
- return fake `InternalMockHandler` for static mocks.

The first case is no

[2017-06-06 09:21] sebastientromp opened #1111 "Upgrade request: throw exception when calling unstubbed methods"
Hello,

One of the arguments I hear against using Mockito (over implementing interfaces all the way down) is that you run the risk of forgetting to stub a method. The default "return null" behavior can then, in some cases, make a test pass while there are errors in the functional logic.

I saw https://github.com/mockito/mockito/pull/54 which seemed to provide, at least in part, an answer to that.

[2017-06-06 09:35] TimvdLippe commented on #1111
Thanks for your feature request. We are actually working on that right now! You can follow the progress in #1097, thanks :smile:

[2017-06-06 09:35] #1111 closed

[2017-06-07 15:47] drewhannay opened #1112 "mockito-android has extremely large method count"
I've been investigating why my test apk has hit the 65k "multidex" method limit. It seems like `mockito-android` is by far the dominant contributor to method count.

To help get cleaner data, I created a brand new empty project in Android Studio 3.0-alpha3 and removed all dependencies except the following:
[code]

After this, I built the test apk using `./gradlew assembleDebugAndroidTest` and used

[2017-06-07 16:00] szczepiq commented on #1110
@thekingnothing, do you live in Krakow? I spent most of my adult life in Krakow ;)

Thank you for reaching out to us so that we can work together. That's how this should be done - we design the APIs between open source components so that our users get higher quality products (e.g. products that don't break on version upgrade :).

I'm also surprised that those are the only issues with using Mockito

[2017-06-07 23:17] Pr0methean opened #1113 ""Warn when these classes are mocked" options"
On a project where I recently worked, the management complained a lot about unit tests unnecessarily mocking POJO-like classes when they could just as easily use the real class. It'd be nice if it were possible to configure Mockito to raise warnings whenever classes with a specific list of annotations and/or ancestor classes were mocked. If there is general agreement that mocking POJOs is usually

[2017-06-08 07:43] thekingnothing commented on #1110
Yeah, I'm living in Krakow for one year. Nice city, except winter time. I mean issue with air in winter :)

It's just begin, I only started (demon laughing). There a lot of issue and thing todo. PowerMock has been being developed for 9 years in isolation and there are a lot of hacks (sometimes really dirty).  I started with easiest issue. All other could take more time to explain and fix: directly

[2017-06-08 11:47] rarathore opened #1116 "Java 9 compatibility"
Hi Team
	As you know Java9 release date is coming near (End of July 2017), So Please let me know whether you have any plan to incorporate Java 9 related changes in your libs,
Thanks a lot
Rajendra Rathore

[2017-06-08 11:49] TimvdLippe commented on #1116
Closing as duplicate of #520

[2017-06-08 11:49] #1116 closed

[2017-06-08 13:39] bric3 commented on #1116
So the answer is yes. Also note that Java 9 release has been postponed to septembre in order to fix remaining module system issues. The news came yesterday.

[2017-06-08 15:22] myrle-krantz opened #1117 "Answer with delay in mock or spy to improve testing of asynchronous code"
I'm currently using Mockito for component testing of microservices.  All code should be run, up to the boundary at which another microservice is called.  In the component test, the mocks return very quickly, but obviously in integration testing, the real calls return much more slowly.  Some threading problems are revealed by the slow returns that would have been revealed in the component test if t

[2017-06-08 15:23] martofeld commented on #1105
@szczepiq After further investigating the issue I found the cause, if you include both mockito-android and mockito-inline as testCompile AndroidStudio does magic stuff and creates this issue. Removing the mockito-android dependency seemed to permanently fix this issue.

[2017-06-08 15:23] #1105 closed

[2017-06-08 15:38] TimvdLippe commented on #1117
If the implementation is clean and generic, I would be in favor of it

[2017-06-09 07:35] sanjutoyou commented on #537
Its a much needed feature for classes using spark and other related frameworks.

[2017-06-10 18:17] szczepiq commented on #1110
Ok, thanks! Hack Mockito codebase and keep pushing forward. Safely getting mock name is a simple issue to fix so let's move on and identify hard problems :)

We can show a warning. I'd like us to brainstorm and understand what options we have here to fix this caveat. This problem should be fairly common when plugin system is based of metadata declared in the classpath.

Does PowerMock still use Cg

[2017-06-10 18:25] szczepiq commented on #1112
Thank you for reporting!

@raphw, can you share your thoughts on reducing number of methods in bytebuddy? Is this something we can ask community to help out? Perhaps there are some cheap refactorings to do in bytebuddy to make proguard more successful with stripping out methods.

@drewhannay, I suspect that refactoring/thinning up bytebuddy is a major overhaul and unlikely to happen due to unknown

[2017-06-10 19:56] thekingnothing commented on #1110
Just to make sure that we are on sa

[2017-06-10 20:00] thekingnothing commented on #1110
Just to make sure that we're on the same page. Does you mean to raise a pull request with the change on reporter?

[2017-06-10 20:06] thekingnothing commented on #1110
PowerMock have used  repackaged `CglibMockMaker` until version 1.7.0. I've dropped all repackaged Cglib code a few hours ago.
I was going to release PowerMock 1.7.0 on next week, but I think I'll postpone it until issue with `saflyGetMockName` will be fixed and released.
It will give me ability to delete PowerMockMaker and make code simple.

[2017-06-11 00:36] szczepiq commented on #1110
Answers to your questions below :) Thank you for pushing this forward!

I was hoping you can hack the code, test locally if things work, and expose harder problems. I need to think a little bit about what's the best way to solve the Reporter.

Are you sure that there are no other ```import "org.mockito.internal"``` in Powermock codebase?

Got it. Thank you!

[2017-06-12 04:56] szczepiq commented on #1110
I have investigated Powermockito codebase and found out that the problem is that MockHandler API in Mockito is not quite finished. Therefore Powermockito had to create custom implementation of MockHandler despite our Javadoc saying:

(I'm not complaining, I very much sympathize. Many times I needed to resort to using internal API because I had no choice. Thanks again for engaging with us on cleani

[2017-06-12 16:05] rossyoung56 commented on #379
Was this actually merged into a release? I initially found the issue while running 2.0.41-beta, so I tried 2.4.0 and 2.8.9, but I'm still seeing the issue, specifically with after() and times().

[2017-06-12 20:25] raphw commented on #1112
@szczepiq I would like to try with the shade plugin. Also, the dexmaker mock maker might actually be an option for these cases as it does not implement any Java byte code specifc instrumentation. Byte Buddy would need to be excluded in this case.

[2017-06-12 20:31] thekingnothing commented on #1110
I'm sorry, I didn't have a time to answer earlier. I was driving a car to Prague and back. I'm still limited in access and writing from mobile phone. Sorry for some inaccuracies.

I'm sure that there are a lot of such places in codebase, because PowerMock has package `org.powermock.api.mockito.internal` where locate classes which either extends Mockito internal API or provides hacks for it.

As we

[2017-06-12 20:32] liutikas commented on #1064
Any updates on this? It would be great to have a fix or a workaround for this.

[2017-06-12 22:43] #1117 closed

[2017-06-12 22:59] szpak opened #1123 "Excluding issues/PRs from release notes by label"
Release notes for 2.8.44 contains:

[code]

It would be good to exclude the two later PRs (e.g. by labels). @szczepiq Long time ago it was possible to exclude some label. Is it still possible with ShipKit?

Btw, PRs merged to other branches (here to master) could not be taken into account.

[2017-06-12 23:19] drewhannay commented on #1112
Yes, some dexmaker users have reported success with excluding bytebuddy to reduce the method count (see https://github.com/linkedin/dexmaker/issues/63 )

[2017-06-13 06:47] szczepiq commented on #1123
Thanks for reporting! I manually updated the release notes :)

I'm not sure what we can do here automatically. The commit messages included multiple PRs.

[2017-06-13 14:02] ChristianSchwarz commented on #1110
@thekingnothing Just a question to understand the "saflyGetMockName" problem: What is missing here on the mockito side or what is not working as you expect? Do you get null as mock name?

@szczepiq  As far as I can see InternalMockHandler needs to be part of the public API since `MockUtil.getMockHandler(T mock)` returns this type. An other option would be to move its's methods to the super class.

[2017-06-13 14:56] szczepiq commented on #1110
Yup, that's the plan :) I was thinking of just moving those methods onto MockHandler and killing InternalMockHandler. Thanks for joining the discussion!

[2017-06-13 15:14] szczepiq commented on #1110
No worries. Hopefully you had good time in Prague!

Making "saflyGetMockName" lenient is only good for short term experimentation. In the future, other features of Mockito will be accessing MockHandler in Powermockito static scenarios and it can cause failures. Let's come up with a proper solution :) Plus, if we make MockHandler public, Powermockito use will be better: we will actually print decen

[2017-06-13 15:20] thekingnothing commented on #1110
It throws `NotAMockException` for case of static mocking. The `saflyGetMockName` tries to get mockHandler from mockMaker. If PowerMock doesn't provide custom implementation  of `MockMaker` then mock handler is null and exception is thrown.
If `PowerMockMaker` is used, then it leads to issues with `mock-maker-inline` for non-PowerMock tests.
As for me,  consequences of  `PowerMockMaker` worse than

[2017-06-13 15:22] szczepiq commented on #1110
We should be able to address this by adding public API for default MockMaker instance. Easy to address. I haven't put enough thought to it but it seems easy so let's move on to next problem.

Why do you need to create instances of MockHandlers? Can you point some code? Keep in mind that we are making MockHandler public so you should be able to provide your own implementation if needed.

Why settin

[2017-06-14 04:20] szczepiq opened #1126 "fetching all contributors fails on shipkit-bootstrap"
I found a couple of issues when testing bootstrap scenarios:
 - bad fetch url (2x https :) - "https://api.github.com/repos/http://github.com/mockito/shipkit-bootstrap/contributors?access_token=76826c9ec886612f504d12fd4268b16721c4f85d&per_page=100"
 - exception message bug (no value for readOnlyAuthToken): ```Problems fetching and parsing contributors from GitHub repo: 'http://github.com/mockito/sh

[2017-06-14 04:21] szczepiq commented on #1126
Oups... wrong project. I meant to create it in "shipkit-bootstrap" :)

[2017-06-14 04:21] #1126 closed

[2017-06-14 07:06] thekingnothing commented on #1110
I have two concerns regarding keeping `PowerMockInternalMockHandler`

1.   It requires implementing `PowerMock` and leads to issue with `mock-maker-inline`.
1.   PowerMock never use `PowerMockInternalMockHandler`  by itself. only for handling case "static mock name`

I'm entering on thin ice. If I choice to keep `PowerMockInternalMockHandler` and have more logic in it,  I have to keep in mind that

[2017-06-14 09:56] szpak opened #1127 "Version not released to Maven Central"
2 days ago I requested a [build](https://github.com/mockito/mockito/commit/04961ae3cc8093916f563d7edc223224d757a4a1) with Maven Central sync (having notable changes merged). Looking into release configuration I used `[ci maven-central-release]` and it seems to be [enabled](https://travis-ci.org/mockito/mockito/jobs/242215132#L842) in Travis.

However, that release is not [available](https://maven-

[2017-06-14 10:00] TimvdLippe commented on #1127
I think we need to set a property on our project, looking at the line above in the Travis build you linked:
[code]

[2017-06-14 18:25] raphw commented on #1064
I have attempted a fix. Could you try it out once it is merged and confirm that it works?

[2017-06-15 14:21] szczepiq commented on #1127
Looking! Thank you for reporting!

[2017-06-15 14:29] szczepiq commented on #1127
Great bug report guys! It was very easy to nail down the issue!

[2017-06-15 14:35] szczepiq commented on #1127
Please review / merge: https://github.com/mockito/mockito/pull/1129

[2017-06-15 14:37] szczepiq commented on #1123
How do see it working? What labels would you exclude? Would the 'excluded' labels be configurable in "shipkit.gradle" file?

[2017-06-15 14:41] szczepiq commented on #1064
@liutikas, can you locally build mockito with PR: https://github.com/mockito/mockito/pull/1128 and let us know if it improves the behavior? @raphw, thank you very much for the fix!!!

[2017-06-15 15:41] #1127 closed

[2017-06-15 15:43] szczepiq commented on #1110
Thank you for all the information - it is super useful! I will work on the MockHandler API (this needs to be sorted out anyway). Later, I will reply with more details to your last comment.

[2017-06-15 19:43] szpak commented on #1123
Doing some internal changes via PR there is a chance to get it in the changelog (which maybe be not intended). If I understood it correctly, currently it is enough to just not mention the number in a commit message to skip it. It seems to be enough for me. Alternatively, there could be some label configurable in shipkit per project (maybe one by default - something opposed to noteworthy - unnotewo

[2017-06-15 19:58] szpak commented on #1127
Worked perfectly - https://repo1.maven.org/maven2/org/mockito/mockito-core/2.8.47/

[2017-06-16 09:01] tkruse opened #1130 "Mockito should annotate when() methods with a custom annotation @CheckReturnValue"
Static code checkers like error-Prone and FindBugs will help detecting invalid usage of Mockito in single-call situations if Mockito source code were annotated with @CheckReturnValue.

See:
* https://github.com/joel-costigliola/assertj-core/issues/157
* http://errorprone.info/bugpattern/CheckReturnValue
* https://github.com/joel-costigliola/assertj-core/pull/695
* https://github.com/joel-costiglio

[2017-06-16 09:55] TimvdLippe commented on #1130
That seems fine to me. Please submit a pull request :smile:

[2017-06-17 05:42] moleksyuk opened #1131 "Mockito caches mocks from previous tests"
Hi,

I found one strange behavior with mock for `any` match that affects other tests.

Mockito: `1.10.19`

Here is example:
[code]
If you run these two test in console will get wrong result for `test2`.

[code]

Why does Mockito ignores mock in `test2`?
As you can see I initialize mocks `@BeforeMethod` and even more `Mockito.reset()` also doesn't help.

P.S.
I don't use direct mock like this: `giv

[2017-06-17 20:12] szczepiq commented on #1123
Interesting feature request. Let's see if we find it useful. Currently, it's exactly how you describe it - if you don't mention the ticket in the commit, it is not referenced.

OTOH, if there is a change worthy of pull request (instead of just ignoring), perhaps it should be mentioned in the notes.

BTW. we discontinued the idea of separate notable release notes, it was making the entire toolset t

[2017-06-18 05:21] szczepiq commented on #1110
I'm making progress on exposing MockHandler API but it is taking more time than I have anticipated. Hah, I love engineering :D !!!

I suspect that own implementation of MockHandler unavoidable. MockUtil.getMockHandler() is used in bunch of other places and fixing the Reporter case with mock name will be a very short term solution.

Let's push forward with making MockHandler public. I suspect that

[2017-06-18 05:31] szczepiq commented on #1110
@thekingnothing, how can I try out Powermockito? When I clone the repo and import it to IDEA, tests don't work in IDEA. This makes it hard to debug. I love debugging to learn how stuff works. Can you tell me how do I import Powermockito code to IDEA so that I can run some static mocking testing with Powermockito? Thanks in advance :)

[2017-06-19 10:16] moleksyuk commented on #1131
**Updated:**
Issue is related to `@InjectMocks` + `TestNG`. To fix this issue you need to do:
[code]

For more details see [stackoverflow answer](https://stackoverflow.com/questions/20046210/mockito-injectmocks-strange-behaviour-with-final-fields?answertab=active#tab-top).

[2017-06-19 10:16] #1131 closed

[2017-06-19 17:35] thekingnothing commented on #1110
Okay, I'm throwing in the towel :) I'll keep own implementation of MockHandler. in this case, it's hight important have ability use `PluginLoader` to prevent issues like https://github.com/powermock/powermock/issues/811

What issue did you have? Have you tried to build it with gradle?  I've just cloned repository from master and imported to IntelliJ Idea as Gradle project and was able to run stati

[2017-06-19 18:54] kpronovost commented on #973
FYI, I just had this issue, using 2.8.47.

[2017-06-20 07:03] szczepiq commented on #1110
I will try it. Thank you!

Ok :) BTW. I made progress in my branch but it's late and will check in the morning what's the status. I think I managed to expose the API so that Powermockito can stop depending on the internal API wrt to the MockHandler.

[2017-06-20 15:48] szczepiq commented on #1110
@thekingnothing, can you try out building Mockito from "sf" branch? "./gradlew build" produces binaries, "./gradlew publishToMavenLocal" builds and installs binaries to local maven repo. Things I changed:
 - MockHandler API is public and you can provide your own implementation :) Just don't provide your own implementation of mockHandler.getInvocationContainer()
 - you can create an instance of Moc

[2017-06-20 18:54] thekingnothing commented on #1110
@szczepiq, thank you!

I built Mockito from branch and tried to run(after all compile issues were resolved) and one major issue appeared.
`PowerMockitoStubberImpl` has the method `addAnswersForStubbing` which use deleted `MockHandler.setAnswersForStubbing`.

[code]

What do you think better to do in this case?

[2017-06-20 19:01] thekingnothing commented on #1110
Great! Now, `PowerMockMaker` has been cleared from internal imports

[code]

But I have to cast to `MockSettingsImpl` still in `DefaultMockCreator`, because if a `mockSettings` is specified I have two options:
- implement logic of cloning `mockSettings`. But it also requires using internal Mockito's classes
- set name and type to existing `mockSettings`

Is it possible to add method to builder cre

[2017-06-21 07:08] szczepiq commented on #1110
I need to understand the use case more. Can you point out to the code?

This seems like a reasonable option. Would this work for you?

Happy we are making progress!

[2017-06-21 14:04] ChristianSchwarz commented on #345
will be fixed with #936 aka `within(duration,timeunit)`

[2017-06-21 14:07] ChristianSchwarz commented on #1037
this is a duplicate of #345

[2017-06-21 20:24] thekingnothing commented on #1110
Example from the `DefaultMockCreator`. I didn't commit code after refactoring,  but it's very close to old code.
[code]

[2017-06-21 23:46] simonstuck opened #1134 "Mockito fails to verify curried Scala method using "call by name" arguments"
Hi all,

I think I'm running into a potential issue. Consider this:

[code]

Mockito complains:

[code]

On the other hand:

- current arguments work fine if no call-by-name is used
- call-by-name works fine if it is the *first* argument

Please let me know if you need more details! Thanks!

[2017-06-22 08:23] karczews commented on #1064
I've stumble upon exactly the same problem when mocking android classes (dexmaker didnt have this pro blem). Fix from PR#1128 seems to solve the issue. Thanks!
Can't wait for new release.

[2017-06-23 02:42] kxfang opened #1135 "[mock-maker-inline] Method calls on mock forwarded to real instance"
With mock-maker-inline enabled, given package-private abstract class SuperClass and a public subclass Subclass, a mocked instance of Subclass sometimes incorrectly calls into real methods on the super class. Here's a super simple example where I'm able to reproduce this:

[code]

And then in a test:

[code]

This would fail with the following exception because the real getStringLength() method on

[2017-06-24 08:29] #1135 closed

[2017-06-24 16:44] szczepiq commented on #1110
There are 2 separate asks here:
1. Create settings object conveniently, with the type
2. Creating settings object from other settings object (e.g. copy)

I fully understand the use case behind 1) - in static mocking scenario you need custom mock handler with custom mock name. I don't understand why we need 2) and the code sample does not explain why. I hope you don't really need 2) given 1) is imp

[2017-06-26 11:39] andersu opened #1138 "Mockito cannot mock this class: FirebaseRemoteConfig"
I'm using mockito 2.8.9 with mock-maker-inline and run into the following problem.

Looks to be closely related to [#1078](https://github.com/mockito/mockito/issues/1078)
I tried the -noverify JVM argument suggested on that issue, but then it seems like Mockito's verify method does not work.

`verify(addressService).saveSelectedAddress(any(Address::class.java))`

**Stacktrace without -noverify:**

[2017-06-26 17:18] raphw commented on #1138
The error is inthe stack trace. Its due to inconsistent stack frames what is typically a result of obfuscation.

[2017-06-26 20:54] andersu commented on #1138
Thanks @raphw. In the other issue you say you filed a bug report at Proguard. Can you give me the link to that so I can follow the progress?

[2017-06-26 21:06] TimvdLippe commented on #1138
@andersu https://sourceforge.net/p/proguard/bugs/647/

[2017-06-27 03:31] tmurakami commented on #1138
I assume that the Firebase library for Android is obfuscated with the option [`-dontpreverify`](https://www.guardsquare.com/en/proguard/manual/usage#dontpreverify).
If so, the only way to solve this problem would be to get the Firebase developers to change their ProGuard configuration.

@andersu, do you use `Mockito#any()` directly?
Since it returns `null`, it cannot be applied to functions that d

[2017-06-27 05:59] thekingnothing commented on #1110
I change code in branch and use a new API. It helps clear `PowerMockMaker` from internals calls.

Where are a least two reason why the 2) is asked:

1. Set default answer if `PowerMockito.spy(Class<T> type)` or `PowerMockito.spy(T object)` (this part can be refactored, if take into account that public API does not provide ability to create spy with settings)
1. NPE exception in `SubclassByteBuddyM

[2017-06-27 06:29] szczepiq commented on #1110
Thank you for working on this! I would love to see us getting to the conclusion - nice demonstration of 2 library owners working together to develop clean & flexible API :)

Here's how you can create spy with settings:

[code]

Can you address this issue by making sure Powermockito mocks have the mock type?

Where are we at this point? What are the remaining gaps?

[2017-06-28 06:24] thekingnothing commented on #1110
Thank you for assisting me. I'm also really happy to see how we move. It's a big win for community!

Here we come to main reason why I asked "Creating settings object from other settings object (e.g. copy)". I need ability to set mock type and mock name to already defined mock settings.

[2017-06-28 08:30] szczepiq commented on #1110
Ok :) Can you point me to the code where it is needed? I'd like to fully understand the use case. The previous code you showed did not validate this need. Or perhaps you you can walk me through the workflow that explains the need for copying settings object? Ideally, I'd like to grow public API in smallest possible steps to keep it clean.

Thank you for patience!

[2017-06-28 08:30] szczepiq commented on #1110
accidentaly closed :)

[2017-06-28 09:02] thekingnothing commented on #1110
Okay, let's go through the flow.

The `PowerMockito` has methods:

[code]

[code]

Both methods call

`public <T> T createMock(Class<T> type, boolean isStatic, boolean isSpy, Object delegator,
                            MockSettings mockSettings, Method... methods)`

from `DefaultMockGreator`.

But one method passes `mockSettings` provided by user, the second passes `null`.
As result I have to ch

[2017-06-28 09:08] szczepiq commented on #1110
Thank you very much for very comprehensive description! With the new public API you can replace:

[code]
with:
[code]

Can you try it out and let me know if it works?

[2017-06-28 20:17] thekingnothing commented on #1110
Thank you! It's my fall. I was thinking that you added a method to an other class. I'm sorry for misunderstanding.
Now, I'm getting stuck with setting name. The following method is used to calculate mock name.

[code]

What could happen if PowerMock does not set a mock name? Will be name set by default by Mockito?

[2017-07-01 08:45] mureinik commented on #1042
@TimvdLippe is it safe to assume that since the "please-contribute" tag was applied to this issue that @ChristianSchwarz 's suggestion ("moving the methods of AdditionalAnswers to Answers and AdditionalMatchers to ArgumentMatchers?") is accepted, and we'd like to do that?

I should have some time next week to  try to tackle this issue, but I want to confirm that there's a concesus on the suggestio

[2017-07-01 09:32] TimvdLippe commented on #1042
Yes I think tgat is a good approach. Have to review the end result ofc

[2017-07-01 20:15] feresr commented on #1053
I'm having this exact same issue and I'm not using ```org.mockito:mockito-inline:2.7.19```  just ```testCompile 'org.mockito:mockito-core:1.10.19'```

[2017-07-02 11:54] szczepiq commented on #1110
In what way you are stuck?

Try it out ;) From looking at Powermockito code, I think you should be able to get it working:
 - I think that "toInstanceName" method can be removed.
 - In "createMethodInvocationControl" method, when "mockSettings" is null, just create new settings object and pass the desired mocked type to new "build()" method I have added to the public API (you need to use Mockito b

[2017-07-04 10:56] dbarwacz opened #1140 "Unhelpful error message when trying to mock final method when similar non-final method exists"
Suppose we mock java class `java.util.Calendar`. There is a `public final Date getTime` method and `public long getTimeInMillis`. When trying to mock the earlier, I get message:
[code]

For some reason, mockito is trying to apply similar method (or run final code?) while it should probably detect that it's used to mock final method.
Mockito version used: `2.8.9`, environment: android.

[2017-07-04 13:01] TimvdLippe commented on #1140
Could you update your issue description with a minimal reproduction case? That way I can run it and check out the exception.

[2017-07-05 07:33] dbarwacz commented on #1140
Sorry, I was describing issue instead of copying a few lines' test case I already had.

tested method:
[code]
test code:
[code]

[2017-07-05 11:54] Writtscher commented on #1138
@TimvdLippe Are there any plans to make verifying (using eq(), any()) in kotlin possible? I mean I have no problem with mockito-kotlin but should be the long term plan to support kotlin as well?

[2017-07-05 12:25] szczepiq commented on #1123
I will close this ticket for now. We can reopen if there a clear path why/how do we implement it. We can also raise that in the http://shipkit.org project.

[2017-07-05 12:25] #1123 closed

[2017-07-05 12:49] BraisGabin opened #1142 "mock-maker-inline slow down my tests"
I actived the `mock-maker-inline` to mock no-open Kotlin classes following [this article](http://hadihariri.com/2016/10/04/Mocking-Kotlin-With-Mockito/).

Previusly my tests were kind of slow: ~20s but now the time is ~35s.

Mockito version: `2.8.47`

[2017-07-05 21:38] raphw commented on #1142
Inline mocks have to redefine classes what is expensive. The inline mock maker will therefore always be slower, unfortunately.

[2017-07-05 22:47] mureinik commented on #1042
@TimvdLippe My pr #1143 should handle the `AdditionalMatchers` issue (reviews are welcome!).

Sadly, the same approach can't be taken with `AdditionalAnswers`, since `Answers` is an enum, and thus final. We could move all the methods to `Answers`, and leave a deprecated `AdditionalAnswers` that just delegates to `Answers`, but I wonder how ugly it would be to maintain it. E.g.:

[code]

I'd apprec

[2017-07-06 04:44] #1142 closed

[2017-07-06 07:40] szczepiq commented on #1110
@thekingnothing, friendly ping :)

[2017-07-06 10:59] thekingnothing commented on #1110
Thank you for reminding :) I have a personal issue, so I don't have enough time right now. But I hope, I'll find a few minutes to check it on next weekend.

Best regrads,
Arthur Zagretdinov

On 6 Jul 2017, at 09:40, Szczepan Faber <notifications@github.com<mailto:notifications@github.com>> wrote:

@thekingnothing<https://github.com/thekingnothing>, friendly ping :)

—
You are receiving this becaus

[2017-07-06 11:21] szczepiq commented on #1110
Sounds good. I [wrote an article](https://www.linkedin.com/pulse/mockito-vs-powermock-opinionated-dogmatic-static-mocking-faber) what we are doing, your name is there, we need to finish it off :)

[2017-07-06 11:53] szczepiq commented on #1042
Interesting suggestion! My gut feel (without looking into AdditionalMatchers) is that there are good reasons to keep some scarcely used matchers away from the main api. The more methods, the harder the API is to use. Your point with low discoverability is valid. I will review the AdditionalMatchers and give my vote on this.

Thank you for looking into this!

[2017-07-06 17:12] TimvdLippe commented on #1042
While I do see why some matchers are more commonly used and thus important, I think it is better to improve discoverability. The official JDK usually also ships with javadoc for methods/classes that are rarely used, but it makes them more discoverable.

[2017-07-06 17:14] TimvdLippe commented on #1138
@Writtscher Please open a new issue to discuss that issue. Then we can flesh out plans to see what we can do to improve Kotlin support. For now, there is an available solution/workaround, so have to see what the costs and benefits are.

[2017-07-06 17:56] szczepiq opened #1144 "Unnecessary release was triggered"
It seems that Shipkit was not able to avoid unnecessary release (see the [release notes](https://github.com/mockito/mockito/blob/release/2.x/doc/release-notes/official.md)). I will look into that. Our goal is not avoid shipping new version if binaries don't change.

[2017-07-07 11:31] ChristianSchwarz commented on #1042
@mureinik

I think delegating is the right approach here. Changing the type hierachy is not ideal, cause the deprecated class inherits methods it previously don't had. This may cause trouble later if user's reference these.

@szczepiq

Can you tell us more of the "good reasons" you feel?

The API don't get more methods they simply move from one class to an other.

@all
In an ideal world I would li

[2017-07-07 13:07] thekingnothing commented on #1110
I still haven't had time to check settings. But I recall another issue, after you moved the `setAnswersForStubbing` from `MockHandler`

Could you check the (PowerMockitoStubberImpl)[
https://github.com/powermock/powermock/blob/8b9cbbef00be3f035b1b9a7e4b2ee61f9db8572b/powermock-api/powermock-api-mockito2/src/main/java/org/powermock/api/mockito/internal/expectation/PowerMockitoStubberImpl.java] clas

[2017-07-09 06:02] thekingnothing commented on #1110
I've finally got the time to look at and fix issue after changing settings API.  Everything looks good now: test are green. Hence we can move to a next issue.

There are three Mockito's internal imports are left in `DefaultMockCreator`:

* org.mockito.internal.configuration.plugins.Plugins — is used to get `MockMaker`.
* org.mockito.internal.handler.MockHandlerFactory — is used to get an instance

[2017-07-09 08:25] szczepiq commented on #1144
This should be fixed now.

[2017-07-09 08:25] #1144 closed

[2017-07-09 08:29] szczepiq commented on #1110
Fantastic! Thank you!

Can you check in your changes to the branch so that I can poke around the new implementation? I should be able to get answers / suggestions on the way forward soon.

[2017-07-09 14:01] thekingnothing commented on #1110
I've already pushed my changes to 'mockito2' branch today in the morning.

Best regrads,
Arthur Zagretdinov

On 9 Jul 2017, at 10:29, Szczepan Faber <notifications@github.com<mailto:notifications@github.com>> wrote:

Fantastic! Thank you!

Can you check in your changes to the branch so that I can poke around the new implementation? I should be able to get answers / suggestions on the way forward s

[2017-07-09 16:11] mureinik commented on #1042
That's a good point. I updated my PR to use this approach, but it still seems weird to me to add a bunch of static utility methods to an enum like `Answers`. Lets see what the rest of the community thinks about *this* PR before moving further down this road.

[2017-07-10 07:09] knutvalen commented on #922
any updates on this issue?

[2017-07-10 09:12] szczepiq commented on #1110
Great! I will pull the changes and look into the code sometime today.

[2017-07-10 21:45] szczepiq commented on #1110
I looked at the state of things and more work is needed. Can you help me understand why Powermock needs to explicitly create MockMaker instance to create mocks? Submitted PR with the idea here: https://github.com/powermock/powermock/pull/816

[2017-07-10 21:47] szczepiq commented on #1110
We probably need to get on a video call to close down this project faster :)

[2017-07-11 11:24] thekingnothing commented on #1110
I think that it is a great idea. I'm still limited in time, but I hope it will be possible to schedule such call.

[2017-07-11 11:45] thekingnothing commented on #1110
PowerMock uses  `MockitoMethodInvocationControl` to handle static or non-public method invocation , new instance call and calls to system classes. There are two implementations of the `MethodInvocationControl`: `MockitoMethodInvocationControl` and `EasyMockMethodInvocationControl`.

Mockito implementation is heavy rely on `MockHanlder`. PowerMock has to have access to mock's mockhandler. One of th

[2017-07-11 15:59] tmurakami commented on #922
@knutvalen, I filed [a patch](https://android-review.googlesource.com/#/c/378632/), but unfortunately I have no reply from the AOSP team...
To avoid this problem, please try [the above workground](https://github.com/mockito/mockito/issues/922#issuecomment-281696476).

[2017-07-12 17:25] HanumanGokavarapu commented on #969
Even with  mockito2.x+jacoco we are not getting coverage ,Coudl you please provide sample projecst

[2017-07-12 17:32] HanumanGokavarapu opened #1148 "mockito2.x +Jacoco is not showing coverage ? Any Idea"
check that

 - [ ] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [ ] Provide versions (mockito / jdk / os / any other relevant information)
 - [ ] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.

[2017-07-13 16:15] samlindsaylevine commented on #973
I am also experiencing this problem. I also came to it while using Kotlin, but I believe that is not necessary to reproduce this issue: I could reproduce it using a Java-only Spring Boot project, with the same symptom.

[2017-07-15 02:03] TimvdLippe commented on #1148
Please open a question on StackOverflow instead to debug such issues.

[2017-07-15 02:03] #1148 closed

[2017-07-15 07:13] szczepiq commented on #1042
Sorry for late reply guys!

With designing of clean API there is a dilemma: discoverability vs. clarity. If all methods are on a single class, the discoverability is really good but it clutters the api. If we split the methods onto separate classes, we have the opposite effect. Years ago, when we have designed Mockito API we decided to push some edge-case'y matchers and answers to separate objects

[2017-07-15 07:16] szczepiq commented on #1110
Yup, that's exactly what I'm suggesting! Can you try to go on that path? In the meantime I'll figure out a way to offer public API to call "handle" method on the MockHandler.

[2017-07-15 08:05] thekingnothing commented on #1110
Okay, I'll move forward with `MockUtil`. Only one concern, `MockUtil` is internal class. Is it possible to provide public API to get `MockHandler` for mock?

[2017-07-16 12:02] szczepiq commented on #1110
I am working on adding that public API. Please continue with assumption
that this will be ready soon! ;)
On Sat, Jul 15, 2017 at 10:05 Arthur Zagretdinov <notifications@github.com>
wrote:

--
Szczepan Faber
Founder @ http://mockito.org | Twitter https://twitter.com/mockitoguy
Author @ https://www.linkedin.com/in/szczepiq/recent-activity/posts/

[2017-07-16 15:51] thekingnothing commented on #1110
I  already did it and pushed change to mockito2 branch. I've isolated most of dependency on Mockito internals in two classes [MockHandlerAdaptor](https://github.com/powermock/powermock/blob/mockito2/powermock-api/powermock-api-mockito2/src/main/java/org/powermock/api/mockito/invocation/MockHandlerAdaptor.java) and [MockitoMethodInvocationControl](https://github.com/powermock/powermock/blob/mockito

[2017-07-16 18:38] jaredsburrows commented on #1082
@tmurakami Using your DexOpener plugin:
[code]

Since Mockito-android is so large, I had to use LinkedIn's dexmaker.

[2017-07-16 18:44] jaredsburrows commented on #1112
@drewhannay Because of this, I continue to use:
[code]

[2017-07-17 00:51] tmurakami commented on #1082
What version of DexOpener are you using?
In version `0.9.2`, there are several bugs caused by ASMDEX that is an old DEX manipulation library.
Could you try using the latest version `0.10.1`?
If the problem still occurs, please file a report in the [DexOpener issues](https://github.com/tmurakami/dexopener/issues).

[2017-07-17 00:59] jaredsburrows commented on #1082
@tmurakami Sure. I am trying that now, but now the test app reaches multidex. Do you multidex for your test apks?

[2017-07-17 01:05] jaredsburrows commented on #1082
@tmurakami When turning on multidex:
[code]

[2017-07-17 01:34] tmurakami commented on #1082
I'd like to investigate it, so please file a report in the DexOpener issues.

[2017-07-17 01:39] jaredsburrows commented on #1082
@tmurakami  done.

[2017-07-17 18:27] mikelupo opened #1149 "Issue with abstract method after updating from Mockito 1.9.5 to 2.8.9"
I am having an issue when trying to spy an object after moving from Mockito 1.9.5 to 2.8.9

when I use gradlew to look at all my dependencies, i do not see any old versions of Mockito hanging around as you mentioned in a previous post with a nearly identical call stack. Cleaned, resync'd Android Studio, etc.

Do I need to implement the missing abstract method? If no, then what else could be the is

[2017-07-17 18:41] tmurakami commented on #1149
Dexmaker 1.2 is only for Mockito 1.x.
Use version 2.2 instead.
[code]

[2017-07-17 22:06] szczepiq commented on #1110
Can you check out Mockito 'sf' branch?
 - see ```StaticMockingExperimentTest``` that attempts to simulate static mocking with the current state of Mockito API (I know it is crude but... Rome wasn't built in a day :)
 - getting mock handler: ```Mockito.mockingDetails(mock).getMockHandler()```
 - creating invocation instances: ```Mockito.framework().createInvocation(...)```

I suspect that with that

[2017-07-18 06:14] thekingnothing commented on #1110
I'll move PowerMock to a new API and come back with feedback ASAP.

[2017-07-18 06:30] szczepiq commented on #1110
Fantastic, thank you!

[2017-07-18 07:50] szczepiq commented on #1112
I've looked at the ticket description, thank you for linking!

It seems that excluding "net.bytebuddy" is a reasonable workaround for the issue. I'm inclined to close the ticket and offer this as solution to the use case. Thoughts?

[2017-07-18 11:11] mikelupo commented on #1149
@tmurakami Thank you for your response. I updated my build.gradle accordingly. I have the same outcome. One thing to note (even before the build.gradle change for dexmaker 2.2). When I step into the PluginRegistry.java, getMockMaker() method... I look at the mockMaker variable, it shows to be an instance of PowerMockMaker. Is this correct?
Screen snip below...

<img width="318" alt="screen shot 20

[2017-07-18 11:17] mikelupo commented on #1149
ok, I found where PowerMock was leaking in and cleaned that. This issue isn't happening anymore, but I still can't get an instance of MockMaker. Investigating and will post more of this outcome here.

[2017-07-18 11:30] mikelupo commented on #1149
Still an issue with PowerMockMaker. Strange.
Seems like I still have more cleaning to do, but not sure how...

[code]

[2017-07-18 11:40] mikelupo commented on #1149
Problem solved.
Cleaned again, this time deleted .gradle folder in the root of the project and resync'd rebuilt. Problem solved. Root of the problem was that at one time we were trying out PowerMock.
 Gradle don't quite make the "Grade".

Closing.

If anyone is hitting these same problems, it's definitely due to incorrect versions of Mockito being references from elsewhere.

[2017-07-18 11:40] #1149 closed

[2017-07-18 12:17] TWiStErRob commented on #1002
@warabei14 Kotlin 1.1.3 has a fix, they weren't slow after all...

[2017-07-18 14:00] drewhannay commented on #1112
As long as this continues to work going forward, then it seems like a reasonable workaround to me.

[2017-07-18 15:50] jaredsburrows commented on #1112
@szczepiq I can try the following:
[code]

[2017-07-18 16:07] liutikas commented on #1112
Note, this this workaround is quite painful if you have 30+ modules in your project that all use mockito for testing, so I don't think we should close this unless there is no other way around this issue. For our projects, moving to mockito 2 and mockito-android caused us to move to multidex just for our test apks (no we do not want to run proguard for our test apks)

[2017-07-18 16:22] bbarker commented on #978
I seem to be having some similar issues, running on Linux with the latest Oracle JDK:

[code]

[2017-07-18 16:29] bbarker commented on #978
After looking at https://stackoverflow.com/questions/5769877/attachnotsupportedexception-due-to-missing-java-pid-file-in-attach-api, there seem to be a few possible concerns. The most obvious one noted (running jvm processes as the same user) shouldn't be an issue in my case.

[2017-07-18 17:16] bbarker commented on #978
For me, adding `-XX:+StartAttachListener` worked: https://stackoverflow.com/questions/25438983/com-sun-tools-attach-attachnotsupportedexception-unable-to-open-socket-file-ta

[2017-07-18 22:07] tmurakami commented on #1112
This workaround is effective only with DexMaker.
It does not work with `mockito-android` that [indirectly relies on Byte Buddy](https://github.com/mockito/mockito/blob/release/2.x/subprojects/android/src/main/java/org/mockito/android/internal/creation/AndroidByteBuddyMockMaker.java#L18).

[2017-07-19 15:51] warabei14 commented on #1002
yep, issue is resolved!

[2017-07-20 09:22] rhwood opened #1150 "Current version not in Maven Central"
The latest release version on GitHub is newer than the latest release on Maven Central. Are you stopping releasing via Maven Central?

[2017-07-20 09:57] pumbabughunter opened #1151 "MockHandlerImpl: Not thread safe reportOngoingStubbing"
Mockito version="1.10.19"
However I've checked the sourses of 2.X and looks like  nothing has changed in MockHandlerImpl since that time.

**s2r**

I've written a test to reproduce the issue.
Since it's about a race condition to reproduce it u probably require to run the test several times in a row.
In Junit  (that I'm using) there are several ways how u can do it.

[code]

**actual result**

[cod

[2017-07-20 13:28] szczepiq commented on #1150
We release to maven central at slower pace following feedback from the community. More information in this [blog post](http://blog.mockito.org/2017/02/mockito-continuous-delivery-pipeline-2.0.html).

Do you need latest version in central? Are you looking to using some particular feature?

[2017-07-20 13:29] szczepiq commented on #1110
Friendly ping :)

[2017-07-20 13:46] rhwood commented on #1150
It wasn't clear from looking at the README; where the Download button image shows a different version than the Maven button image.

Randall Wood
Alexandria Software
randall.h.wood@alexandriasoftware.com
http://alexandriasoftware.com

[2017-07-20 14:18] thekingnothing commented on #1110
Thank you for ping.

I looked at new API and your example. I partially applied them. But I've got stuck with replacing RealMethod with Callable. I have to refactor PowerMock code to be able to pass target to MockitoMethodInvocationControl.

I hope, I'll have a time to finish with it on the weekend.

Best regrads,
Arthur Zagretdinov

On 20 Jul 2017, at 15:30, Szczepan Faber <notifications@github.co

[2017-07-20 14:19] szczepiq commented on #1110
Sounds good. Let me know if you need anything from me.

[2017-07-20 15:05] TimvdLippe commented on #1150
We could update the README to make this more clear. PR welcome.

On Thu, 20 Jul 2017, 06:46 Randall Wood, <notifications@github.com> wrote:

[2017-07-20 22:52] sluck2013 commented on #1108
@szczepiq I debugged through the code, looks like byte buddy doesn't work well with Groovy, do you have any suggestions on fixing this?

Continuing with the example in this post, in the "failed" test, the [`method` parameter returned by `@Origin` annotation](https://github.com/mockito/mockito/blob/release/2.x/src/main/java/org/mockito/internal/creation/bytebuddy/MockMethodInterceptor.java#L113) is

[2017-07-21 01:52] skestle commented on #769
I would like an option to `verifyNoMoreInteractions` in a smart way:
* ignoring expected/stub invocations as in `STRICT_STUBS` mode
* ignoring unnecessary stubs methods as in non-strict modes.

I'm simulating an external API (Selenium) to ensure I wrap it properly.
[code]
It's very easy to accidentally not throw the exception when we're expecting no element; the correct thing selenium consumers ge

[2017-07-21 02:12] skestle commented on #769
So in terms of 8.5.47's implementation, I'd like to have`UniversalTestListener.testFinished` in `LENIENT` mode, while `DefaultStubbingLookupListener.onStubbingLookup` executes `invocation.markVerified()`, as it does in strict mode.

Probably what I want is DRY without strictness as mockito wants to define it. IMO, `DefaultStubbingLookupListener` and DRY `verifyNoMoreInteractions()` has nothing to

[2017-07-21 02:34] skestle commented on #769
Also, having tried for half an hour trying to grok `StubbingLookupListener`s, `CreationSettings` `MockitoTestListeners` etc, it seems there's no way to insert `invocation.markVerified()` without creating my own Test Runner.

If there's some sort of workaround where I can make this auto-verification automatic, please respond. Should there be another ticket to add auto-verification of stubbed invoca

[2017-07-21 07:14] szczepiq commented on #1151
Wow, thank you for identifying this corner case and supplying reproducible sample!

Let me try to explain the use case:

[code]

1. "invocation" is triggered first because that's how java evaluates arguments. Mockito remembers this call in a thread local state as "last" invocation on any mock.
2. "when" method is invoked and Mockito removes last invocation from the thread local stack of all invoca

[2017-07-21 07:25] szczepiq commented on #769
Thank you for reporting and debugging Mockito strictness! Let me give you some feedback about the use case first:

It seems that you are suggesting a different Strictness level, something between "lenient" and "strict stubs":
 - lenient - allow unused stubbings, veryNoMoreInteractions catches all
 - "kinda strict stubs" - allow unused stubbings, verifyNoMoreInteractions ignores used stubbings
 - s

[2017-07-21 10:49] mureinik commented on #1042
Hey guys, can we try and reach a decision on this one? Both approaches have their merits, but let's pick one and either close this issue or move forward with reviewing/merging the PR.

[2017-07-21 18:19] pumbabughunter commented on #1151
I feel like we are on the same wave. and looks like this is exactly what is happening.
I'll try to debug this to identify the cause..

[2017-07-21 18:54] mattnelson commented on #1013
Has the verdict on static support been reached?

[2017-07-22 18:39] TimvdLippe commented on #1013
We have not. Every single core member has been swamped with various IRL activities. Probably this fall we will be back in full force. This is one of the features that we will be addressing :smile:

[2017-07-23 05:13] szczepiq commented on #1013
The team was not actively working on this. The ticket is marked "please contribute" for a reason ;) Currently I work with @thekingnothing on creating Mockito APIs so that Powermock can cleanly integrate (#1110) this will effectively provide reasonable support for static mocking.

Hope this clarifies the status! Thank you for reminder - this is useful for us to manage our priorities.

[2017-07-24 13:15] thekingnothing commented on #1110
I closed the issue accidentally.

Unfortunately, I didn't have enough time to resolve all issues. I'm continue working on it.

But I have a question about stubbing . How do you see the flow with using this API for stubbing in case of static/private methods.

[code]

[code]

[2017-07-24 23:36] llibicpep commented on #1108
I've tried with 1.10.19 and 1.9.5 and still getting the same exception.

[2017-07-25 03:08] tmurakami commented on #922
With test runner 1.0.0, this issue seems to be solved.

---
repositories {
    google()
}

dependencies {
    androidTestCompile 'com.android.support.test:runner:1.0.0'
}
---

[2017-07-25 09:46] szczepiq commented on #1110
Ok, thank you for update! In 'sf' branch of Mockito project you can
find "StaticMockingExperimentTest". In this test, I simulated verification
and stubbing for static methods. Long term, we can improve the API. However
for now I hope it's enough for you to experiment and get it working :)

Cheers!

On Mon, Jul 24, 2017 at 6:15 AM Arthur Zagretdinov <notifications@github.com>
wrote:

--
Szczepan Fa

[2017-07-25 09:56] szczepiq commented on #1108
I don't have an answer right off the bat. The issue needs to be debugged. I'll ping @raphw (founder of Bytebuddy and core Mockito developer) in case he can / have time to help out.

Side question: why don't you use Spock framework for testing and mocking Groovy code?

[2017-07-25 11:07] llibicpep commented on #1108
Me personally - I think I ended up using Spock. I was evaluating frameworks for a new Groovy project (which is a Jenkins shared library for it's 2.0 Pipelines) and so far Spock looks like a best fit. But from the top of my head the answer could be - this is not a Groovy project but rather a Java project with some Groovy. Even now I still not sure will Spock play nice in terms of mocking when it wi

[2017-07-26 16:21] rciurkot opened #1152 "[Kotlin] Mocking fails when one suspend function calls other suspend function"
When trying to mock class that has `suspend` function that calls other `suspend` function, it fails with exception:
[code]

This is the simples example I could come up with to present this bug:
[code]

Important notes:
- mock-maker-inline is used to mock `final` classes
- mockito version: 2.8.47
- making class and all it's methods `open` allows mocking
- running inner `suspend` function inside `ru

[2017-07-26 19:51] TimvdLippe commented on #1152
Paging @elizarov as the original author of suspending function support.

[2017-07-26 23:04] m35 opened #1153 "Modifying invocation arguments results in incorrect verification"
### Environment
mockito-core-2.8.9.jar
Windows 10
Java 1.8

### Issue

It's hard to summarize this issue. Modifying the invocation arguments also modifies what the verification uses. That may not be clear, so here is an example.

[code]

The output is
[code]

I expected the test to pass.

[2017-07-27 13:52] szczepiq commented on #1151
Great. Let me know if you need help!

[2017-07-27 14:00] szczepiq commented on #1151
I pushed a test that demonstrates the problem (based on your great sample!) to branch "issue-1151". The test works in Mockito codebase (e.g. it does not use Java8). It might be helpful to debug with Mockito code. Commit in "issue-1151" branch: https://github.com/mockito/mockito/commit/2a846f323ff53ac2918608ca4d9bfa900ade9732

[2017-07-27 14:17] szczepiq commented on #1042
Sorry for the delay!

I reviewed the matchers in AdditionalMatchers and I don't find them very useful. I think they will unnecessarily add ~70 methods to the main public API entry point. Currently the Mockito class has ~100 public methods. Adding so many new methods that are hardly useful will seriously clutter the API. By now, most users know where to find additional matchers and lots of document

[2017-07-27 14:17] #1042 closed

[2017-07-27 14:24] szczepiq commented on #1134
Thank you for reporting! The core Mockito team does not use Scala so we are looking to you to improve the behavior? Do you take up the challenge? :)

[2017-07-27 16:22] ogregoire commented on #1013
Static methods are totally OK. You just have to know when to use them.

I think the following code is entirely correct and sufficiently abstracted for the purpose of a modern-day application:

    // guava imports
    class ApplicationResources {
      // points to a file in the .war
      private static final CharSource DEFAULT_CONFIG_SOURCE = Resources.asCharSource(Resources.get("etc/default.con

[2017-07-28 14:11] andrew-carmichael commented on #922
Yes upgrading to test runner 1.0.0 has fixed the issue for us as well.

[2017-07-30 05:54] szczepiq commented on #1153
Thank you for reporting! I absolutely agree that the current behavior of Mockito for this use case is not intuitive.

Here're the considerations:

- To fix the problem we would have to keep pristine copies of arguments with each invocation. This way, the verification would work on the pristine copies while mutating arguments with custom Answer would still be possible. Unfortunately, there is no sa

[2017-07-30 05:55] szczepiq commented on #1153
Added "please-contribute" label because we are missing FAQ entry on this use case.

[2017-07-30 21:24] raphw commented on #1013
Personally, I plan to add this feature. I still need to do some ground work in Byte Buddy to make this feasible. It is not as easy as I hoped, unfortunately and it might take some time. The same goes for the seamless integration with PowerMock.

If anybody would be willing to sponsor the development, I am happy to use paid hours, within my open source commitment, this might take a few more month t

[2017-07-31 08:21] pseandersson opened #1154 "Mock Inline fail when mocking parent method"
Hi,
This is a simple case where the mockito-inline feature will fail.

[code]
In what timeframe will would it be possible to solve this?

[2017-08-01 08:32] GregDThomas commented on #792
As an alternative solution, could you use the MockSettings? e.g. something like ..

[code]

[2017-08-02 18:47] JimLawrence commented on #1154
I think this is the exact situation I'm running into. Is the error that you are having that it just ignores the Mock and starts calling the methods?

[2017-08-03 13:49] tmurakami opened #1155 "thenThrow(Class) should only throw checked exceptions that match the signature of the stubbed method"
Hi,

- mockito-core 2.8.47

[code]

`using_thenThrow_Throwable()` passes, but `using_thenThrow_Class()` fails.

[code]

The Javadoc of `OngoingStubbing#thenThrow(Class)` says, *If the throwable class is a checked exception then it has to match one of the checked exceptions of the stubbed method signature*.
However, the result of `using_thenThrow_Class()` shows that it is not so.

[2017-08-03 19:47] HolySamosa opened #1156 "@InjectMocks injects copies @Mock objects?"
I just replaced PowerMock's JUnit test runner with MockitoJUnitRunner and now Mockito tests that previously passed with PowerMock are failing with NullPointerExceptions.

When using @**InjectMocks** the injected mocks appear to be different object instances (they have different object IDs) than my mocked dependencies created with @**Mock**.  Thus, when I stub my mock method implementations on the

[2017-08-05 05:39] raphw commented on #863
I reenabled the tests now, do we have a Java 9 CI build? Still working on a branch.

[2017-08-05 05:40] raphw commented on #520
Byte Buddy 1.7.2 now supports Java 9 class files.

[2017-08-05 09:57] thekingnothing commented on #1110
@szczepiq thank you for your talk in Krakow :) I was really glad to meet with you. I've moved significantly since Monday. I about to manage all issue that was raised. One think left to do - implementing verifyZeroIteration/verifyNoMoreIteration. And here I have two issues:

1. Verify in case of constructor call
1. Verify static and current PowerMock API

According to current PowerMock API verify s

[2017-08-07 08:07] szpak commented on #863
@raphw Yes, we [have](https://github.com/mockito/mockito/blob/770c1c5eaa311ca4c0a78e924ab69319be523384/.travis.yml#L36-L39).

[2017-08-07 14:55] ChristianSchwarz commented on #1155
I am going to fix this.

ThrowsExceptionClass must simply implement ValidableAnswer...

[2017-08-07 15:15] jorgecoca commented on #1105
@martofeld can I ask you how did you remove the "mockito-android" dependency? What exactly did you do? I'm facing the same problem, but I don't seem to find that dependency anywhere...

[2017-08-07 16:06] martofeld commented on #1105
@jorgecoca sure, i had
[code]
im not sure were you might be adding your dependency but leaving the closure as follows
[code]
fixed my issue.

Hope this helps

[2017-08-08 07:47] pseandersson commented on #1154
Yes, that is the case. I solved it by a work around in my real code but it didn't work out in the simple example. The workaround was:

@RunWith(MockitoJUnitRunner.class)
public class MyUnitTest {
   class TestFinal {
        public final int myFunc() {
            return 3;
        }
    }

    class TestFinal2 extends TestFinal {
        public int getValue() {
            return getTestFinal().m

[2017-08-08 09:03] guruprasadkk opened #1160 "Unable to mock SolrJ Query"
Hi,
I am using mockito to mock the methods in my unit testing in Junit. But I am not able to mock CloudSolrClient.query() call. Even though I mocked it is going and invoking real implementation. Mocking of other methods are woring fine.

Here is my code
CloudSolrClient client = new CloudSolrClient.Builder().withZkHost(some string").build();
SolrQuery solrQuery = new SolrQuery();
/*build the query*

[2017-08-08 22:13] JimLawrence commented on #1154
I didn't have the option to rewrite either the parent or child, so I created a testing class that extended the child but overrode the problem function. That solved it, but this does seem like a bug.

[2017-08-09 12:47] ChristianSchwarz commented on #1160
better ask this here-> http://groups.google.com/group/mockito

[2017-08-09 13:22] ChristianSchwarz commented on #1154
possibly @raphw knows more, seems like a byte-buddy issue

[2017-08-09 13:25] ChristianSchwarz commented on #1156
Are the mocks injected to fields or a constructor?
How does the construtor signature of ClassUsingClient look like ?

[2017-08-09 14:22] HolySamosa commented on #1156
Thanks, Christian.

The mocks are injected into a constructor:
[code]

[2017-08-09 16:59] #1002 closed

[2017-08-10 04:14] szczepiq commented on #1110
You're welcome! I am very happy you are making progress!!!

The suggested API looks good from the standpoint of consistency / familiarity with existing Powermock API.

This is really hard. I was thinking about it recently and haven't come up with anything useful, yet. Will keep pondering about it.

[2017-08-10 04:52] szczepiq commented on #1110
I think I found a way to deal with mocking 'new'! How about we adapt constructor for method:

[code]

I simulated this idea in this new test, please take a look at it ;)

https://github.com/mockito/mockito/commit/ce8b7a4c53aefe569b947e9a0e453a1f0a1dbd18#diff-1225e53bd1e5da3454db07f964d72364R150

[2017-08-12 19:12] szczepiq commented on #1155
Thank you for reporting. Indeed it is a bug.

[2017-08-13 08:03] asarkar opened #1163 "argThat fails with JUnit5"
Mockito 2.8.47, JUnit 5.0.0-RC2, Maven 3.5.0, JDK 1.8.0_66-b17. Project [here](https://github.com/asarkar/java/tree/master/deploy-maven-plugin).

[code]

Failure:

[code]

[2017-08-13 14:06] szczepiq commented on #1160
The typical reason why the method uses real behavior instead of stubbed one is that the method is final. In order to make progress on this problem I suggest to:
 - reach out on SO or the mailing list
 - create a tiny sample test that reproduces the issue and try to debug yourself

Hope that helps!

[2017-08-13 14:10] szczepiq commented on #1156
Hey! Sorry for the issue!

Why are you using both "MockitoJUnitRunner" and "MockitoJUnit.rule"? There is no reason to use both and I suggest to only keep the rule. Using both could be contributing to the problem. If that's the case, I would consider it a bug: mock injection is not working when both: JUnit rule and runner are used.

[2017-08-13 14:14] szczepiq commented on #1154
Thank you for reporting! Indeed it seems that something that needs to be fixed on our end. Thanks in advance to @raphw for looking at it :).

Out of curiosity, are the final methods on those classes necessary? Is it because they are 3rd party classes that you don't own?

[2017-08-13 14:20] szczepiq commented on #1152
Thank you for descriptive report and submitting a sample! @elizarov, @raphw, any thoughts about this issue?

[2017-08-13 14:21] szczepiq commented on #1110
Hey @thekingnothing, with the "ConstructorMethodAdapter" trick, you should be able to mock 'new'. Is there any other gap we need to close down to clean up the interface?

[2017-08-13 14:33] szczepiq commented on #405
The discussion seems to have moved to https://github.com/mockito/mockito/issues/1097 but I feel that the thread needs a closure ;)

The reason you need to call 'verifyNoMoreInteractions' is because "strict stubs" is not all mighty "strict all". Strict stubs does not verify that nothing else happens besides stubbing which is what you seem to want :) Strict stubs ensures that:
 - declared stubs are

[2017-08-13 14:34] thekingnothing commented on #1110
I haven't tried your approach yet.

I focused on deprecating `verifyStatic`, releasing the PowerMock 1.7.1 to let community know about incompatible changes  in PowerMock 2.0.

I'm finishing with removing `verifyStatic` and I hope I'll have a time to try your approach with `ConstructorMethodAdapter`.

Best regrads,
Arthur Zagretdinov

On 13 Aug 2017, at 16:21, Szczepan Faber <notifications@github.c

[2017-08-13 14:38] szczepiq commented on #520
Should we just bump bytebuddy to the latest version? Cheers!

[2017-08-14 07:06] raphw commented on #1152
This has nothing to do with the fact that these functions are suspended but is probably a bug in the Kotlin compiler:

Byte Buddy complains that the Kotlin compiler specified a stack map frame of type `Object` for the function where it expects a `boolean` (at index 1). This means that the Kotlin compiler overrides the original arguments of the method with new local variables what makes it impossib

[2017-08-14 08:42] elizarov commented on #1152
@raphw Here is the byte code that is produced by Kotlin compiler version 1.1.4-eap-69 for the `fetch` function. On this bytecode ByteBuddy complains with "java.lang.IllegalStateException: public final java.lang.Object SuspendableClass.fetch(boolean,kotlin.coroutines.experimental.Continuation) is inconsistent at 1: java/lang/Object".

As you can see from the below bytecode, the boolean local variab

[2017-08-14 10:07] elizarov commented on #1152
A few other comments. It reproduces with a simpler code. You don't need a `boolean` parameters. It fails with a parameter-less function, too. I've put a reproducer code into this project:
https://github.com/elizarov/CoroutinesMockitoPlayground
You can check it out to confirm the problem. The simpler reproducer code is here:
https://github.com/elizarov/CoroutinesMockitoPlayground/blob/master/src/ma

[2017-08-14 13:11] ChristianSchwarz commented on #1156
@szczepiq

Possibly this due to the fact that [it was decided not to deprecate the runners](https://github.com/mockito/mockito/pull/491#issuecomment-237502719). Maybe the core team should take the opportunity to rethink the decision.

See also #531

[2017-08-15 03:18] jeacott1 commented on #939
I see this too, win 10, running in eclipse with jdk, nothing special.

java version "1.8.0_131"

[2017-08-15 06:58] jwedel commented on #1117
@szpak For what version is that feature planned (Or has it been already released)?

[2017-08-15 14:01] thekingnothing commented on #1110
Hi @szczepiq , how are you? :) I have a good news. We about to finish. There are two places are left in PowerMock where Mockito's internal packages age import.

First place, it is the annotation engine: PowerMock extends Mockito's `SpyAnnotationEngine` and `InjectingAnnotationEngine` classes and use `PowerMockito` for cases when Mockito cannot create a mock. I'm going to rewrite this part and unif

[2017-08-15 14:47] szczepiq commented on #1110
Great! When we are ready, I will need to spend some time to polish Mockito changes and poll the community for feedback. It probably will take me a week.

Your idea with wrapping Mockito's exceptions seems like a reasonable plan at the time being. It's not a clean solution but it feels that we should focus on the core use cases and eliminate the internal API use. Then we can make the solution perfe

[2017-08-15 15:36] thekingnothing commented on #1110
Branch: 2.x/mockito2, class `MockitoMethodInvocationControl`.

I think the same way, as it work right now. If a developer use PowerMockRunner then all fields annotated with  `@Mock`  are created and injected into `@InjectMocks`. So there is no reason to use
Mockito's JUnit Rule / Mockito JUnit Runner.

[2017-08-15 15:48] szczepiq commented on #1110
Thank you! I loaded Powermockito to the IDEA and most tests work :)

I have some ideas how to approach the problem with MockitoMethodInvocationControl. I'm using "samples.powermockito.junit4.annotationbased.SpyAnnotationTest#spyingOnPrivateMethodsWorksWithSpyAnnotation" for debugging this use case. I'll let you know by the end of today what's up.

[2017-08-15 16:13] elizarov commented on #1152
@raphw I _think_ I understand what's going there. See, the first full-frame that is emitted by Kotlin compiler:

[code]

It declares that local variable 2 is of class `java.lang.Object`. However, the actual parameter to the method that will fall into this local variable is of class `kotlin.coroutines.experimental.Continuation`. It is a perfectly legal from the standpoint of JVM specification, sinc

[2017-08-15 16:21] elizarov commented on #1152
This is a pull request with a fix to mockito: https://github.com/raphw/byte-buddy/pull/332

[2017-08-15 16:26] elizarov commented on #1152
This a pull request with the corresponding mockito test https://github.com/mockito/mockito/pull/1165

[2017-08-15 16:28] pseandersson commented on #1154
Third party. By the way when I look again at the code I see the classes are not declared public maybe that is the reason for why it fails.

[2017-08-15 21:44] raphw commented on #1152
I had time to look at it now and you are right about the problem. Your solution does however not work, the problem goes a bit deeper.

We need to be able to access the arguments after the original code was added. The inline mock maker basically takes a method:

[code]
and transforms it to:
[code]
Where Mockito code is added at the end, we still need to be able to dereference the original arguments

[2017-08-15 22:05] raphw commented on #1154
I had a look and everything works as expected. I assume that you want to write your test like this:

[code]

[2017-08-15 23:59] tmurakami opened #1166 "[Kotlin] thenThrow(Throwable) should be able to stub the method with any checked exceptions"
Hi,

Kotlin does not have checked exceptions.
https://kotlinlang.org/docs/reference/exceptions.html#checked-exceptions

However, `ThrowsException#validateFor(InvocationOnMock)` does not allow the checked exception that does not match the method signature.
Therefore, the following test fails.

[code]

I'm going to file the PR to fix this.

[2017-08-16 04:09] szczepiq commented on #1110
I have been debugging the issue and submitted a pull request to Powermock with an idea to tackle the private spy use case: https://github.com/powermock/powermock/pull/834 Let me know if you can leverage this idea to move forward!

Thank you for working on this!

[2017-08-16 06:37] thekingnothing commented on #1110
I have checked the pull request. I think, I have got your idea, but it will work only in case if a mock is created with using `PowerMockito`. But if a mock is created with using `Mockito` and added to `@PrepareForTest` then it will be loop with stack overflow.

Best regrads,
Arthur Zagretdinov

On 16 Aug 2017, at 06:09, Szczepan Faber <notifications@github.com<mailto:notifications@github.com>> wro

[2017-08-16 09:11] elizarov commented on #1152
@raphw Let me add some additional observations here:

* If there is a goal to determine _original_ arguments at the end of the method, then they _must_ be stored to separate local variables at the beginning of the method. To see why, try instrumenting this java method and check what arguments ByteBuddy sees when the method exits:

[code]

* The `Continuation` parameter that is the cause of the pro

[2017-08-16 10:17] raphw commented on #1152
This would not be a problem in our case as the above method could be transformed into something like:
[code]
If our code is reached and we access the arguments, we can tell that the actual code was guarded by a conditional and they were not altered. The problem with stack map frames is that they are not conditional. If the guarded code contains a stack map frame that overrides the argument types,

[2017-08-16 12:26] elizarov commented on #1152
@raphw Notice, that the problematic frame in question is in the middle of the method body, so the transformation you've described above is not going to cause any problems. See:

[code]

Kotlin compiler is not redefining the (implicit) stack frame that every method has at its beginning. So, the transformation that mockito is doing with ByteBuddy using is 100% safe. Moreover, I did actually check th

[2017-08-16 12:57] raphw commented on #1152
Byte Buddy offers access to arguments according to the signature of

whereas the state after the available frames becomes

The way that Byte Buddy advice works is by inlining precompiled byte code into an existing method and for this purpose, it validates that the above signature of the initial arguments is still intact even if the code is never executed as the verifier might complain.

It is true

[2017-08-16 13:50] manueljordan opened #1168 "Documentation: when/thenReturn and verify (indicate if the code and mock code must be mandatorily the same)"
Hello

I had this experience:
[Correct configuration to mock Hibernate's sessionFactory.getCurrentSession()](https://stackoverflow.com/questions/45704150/correct-configuration-to-mock-hibernates-sessionfactory-getcurrentsession)

The `crud` method is:

[code]

Observe the use of `sessionFactory.getCurrentSession()`. Now his solution is:

* `when(session.save(persona)).thenReturn(persona.getId());`

[2017-08-16 14:43] elizarov commented on #1152
@raphw It is just easier to do it with ASM and it is fast for us due to the way `getCommonSuperClass ` is defined to always return `Object` (it is a Kotlin-specific optimization, you cannot do this trick on a general bytecode), so it converges quickly.

I see that ByteBuddy supports `Advice.OnMethodExit` with `Advice.Argument`. However, it means that it must save the original argument value on the

[2017-08-16 17:25] szczepiq commented on #1110
Thank you for review! Can you point me to the unit test that demonstrates this use case? Powermock documentation indicates that we need to use both `@PrepareForTest` and `PowerMockRunner` alltogether. I have tried below but it does not seem to reproduce the scenario (test is based on existing "SpyAnnotationTest" test class in the powermock codebase):

[code]

[2017-08-16 21:24] thekingnothing commented on #1110
I have double checked the case that I meant. It's not an issue any more. I think that  it was the issue with Cglib approach, because fix for the issue also included changes in Cglib handlers and determining is class a proxy.

For case that you debugged - your will work regarding what API is used.

If PowerMock is used then marker will show that a method is already handled.
If Mockito - then Mockit

[2017-08-17 00:49] szczepiq commented on #1110
In what way powermock supports Mockito’s plugins such as MockMaker? In what way the inline MockMaker is supported?

In my ‘sf’ branch in Mockito I added a new experimental public API so that you can get hold of default Mockito plugins:

[code]

However, I am not sure how this API is useful because I see that Powermock has some complexity around inline mock maker.

[2017-08-17 05:27] TimvdLippe commented on #1156
I think the reasoning there is that you should choose one of the two
options, but we keep both options available. E.g. you can choose the runner
if you can and else you choose the rule, but not both at the same time.

On Mon, 14 Aug 2017, 06:11 Christian Schwarz <notifications@github.com>
wrote:

[2017-08-17 06:24] thekingnothing commented on #1110
PowerMock requires that there is no `org.mockito.plugins.MockMaker` in classpath except one that locates in `powermock-api-mockito.jar` in case if PowerMock is used and locates in classpath. It's needed to avoid possible issues when another MockMaker will be loaded instead `PowerMockMaker`.

But PowerMock provides ability to configure to which MockMaker the `PowerMockMaker` has to delegate calls.

[2017-08-17 06:26] thekingnothing commented on #1110
I've checked behaviour with inline-mock-maker and tests are passed.

I think, you may start finalising public API and cleaning code. I'll do required changes on PowerMock side and then also clean and a bit refactor code.

[2017-08-17 14:37] pseandersson commented on #1154
True that make sense!

[2017-08-17 14:37] #1154 closed

[2017-08-17 15:39] szczepiq commented on #1110
Great!

Will do!

Can you make sure that none of the Powermock code imports "org.mockito.internal.*" packages? Internal classes, e.g. classes that reside underneath "org.mockito.internal.*" can change without notice with any version of Mockito, those classes are not considered public API. In current "mockito2" branch in Powermock I still references to internal Mockito classes.

Do I need to provid

[2017-08-18 04:50] thekingnothing commented on #1110
I can find several places where `org.mockito.internal` is mentioned in code:

1. Annotation processing - will be rewritten, not an issue
1. Checking if method was called - as I'll change it as we discuss
1. Several test - some of them will be refactored, for some of them it's not a big deal because string `org.mockito.internal` is used just as test data
1. Configuration - using `mock-maker-inline`

[2017-08-18 07:19] szczepiq commented on #1110
Thank you for reviewing the code!

I see. Let me know if you need the instance. Exposing implementation class name is something I would like to avoid because the implementation class is internal and we want the flexibility of replacing it if needed. I can provide you the instance, but if you don't need the instance, I'd rather implement as little new public API as possible.

That said, I do believ

[2017-08-18 07:51] thekingnothing commented on #1110
That I really need, chain of response for MockMaker with ability setting order/priorities. In this case, I will put PowerMockMaker first in the chain, handle call only for mock created with PowerMockito and continue chain otherwise.

 Second option- it's get an insane of `MockMaker` base on class name or allies , because PowerMock provides the same flexibility as Mockito. A developer may specify a

[2017-08-18 17:06] szczepiq commented on #1110
From our conversation and my understanding how Powermock works, it looks like you need access to default MockMakers ;) I'll provide API for that. I think it is a reasonable addition to Mockito public API.

[2017-08-18 19:18] thekingnothing commented on #1110
Access to instance of default MockMaker will not help me, because I'll still create an instance of InlineMockMaker which locates in internal package.

Supporting of inline maker is one of higher demanded feature.

Best regrads,
Arthur Zagretdinov

On 18 Aug 2017, at 19:07, Szczepan Faber <notifications@github.com<mailto:notifications@github.com>> wrote:

From our conversation and my understanding

[2017-08-18 19:39] thekingnothing commented on #1110
Main idea, is that Android developers, especially Kotlin developers, want to use PowerMock for mocking static methods and Mockito for any other purpose like mocking final classes. But Mockito allows to declare only one MockMaker in class path. So if PowerMock put the file for in jar as it is done now, then a developer cannot declare and use inline MockMaker.

[2017-08-18 19:48] podarsmarty commented on #1110
For what it is worth I opened a ticket for both Mockito and PowerMock to
address this but it was closed saying it will be addressed in Mockito 3. I
have old branches that allow a user to switch manually.

On Fri, Aug 18, 2017 at 12:39 PM Arthur Zagretdinov <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2017-08-18 19:54] thekingnothing commented on #1110
There is no reason to provide ability for manual switching. It will face the same issue - using Mockito and PowerMock internal packages.

Best regrads,
Arthur Zagretdinov

On 18 Aug 2017, at 21:49, podarsmarty <notifications@github.com<mailto:notifications@github.com>> wrote:

For what it is worth I opened a ticket for both Mockito and PowerMock to
address this but it was closed saying it will be

[2017-08-18 20:44] szczepiq commented on #1110
I've added new public api and changed existing API in my experimental branch 'sf'. Please try it out before I start polishing the code further. Here're the changes I made:

[code]

Please confirm that this is all we need to get rid of all "org.mockiton.internal" from Powermock codebase.

[2017-08-18 20:44] szczepiq commented on #1110
Exciting :) We're almost done!

[2017-08-19 04:05] TimvdLippe commented on #1110
Once this process is completed, we should publish a new version to maven
central and announce on like Twitter. I have been following this thread for
a while now, this is great work!

On Fri, 18 Aug 2017, 22:45 Szczepan Faber <notifications@github.com> wrote:

[2017-08-19 04:59] szczepiq commented on #1110
Thank you! I agree completely. I am also looking forward to the happy ending :)

[2017-08-20 07:02] thekingnothing commented on #1110
I confirm. I've just push changes where "org.mockiton.internal" is used only in one place. It is annotation processing. As I mentioned earlier, I'm going create a additional task for it and completely rewrite this part, because EasyMock version also have such problem. I'm going to create a one annotation engine for Mockito and EasyMock.

[2017-08-20 07:06] thekingnothing commented on #1110
I've started code clean up and one interesting idea came to my mind. If I'm able to create a custom implementation of `MockitoSettings`, then I'll implement all mock creating logic in `PowerMockCreator` instead using custom class that uses `Mockito.mock`.

In this case, `PowerMockito` could delegate all calls to `Mockito` with custom `MockitoSettings`. What do you think?

[2017-08-20 14:45] szczepiq commented on #1110
Fantastic!!!

Do you mean something like that:

[code]

Very interesting! Can you scope this and list down the pros & cons of both approaches?

Cons:
 - Mockito teams considers adding new methods to MockSettings as compatible changes because we don't recommend MockSettings to be subclassed. We need that ability, otherwise we would have to ship a major version of Mockito every time we add a new met

[2017-08-22 10:09] karollewandowski commented on #769
I like strict stubbing very much.
I've seen opinion that it allows to remove a lot of code, but I think that it rather forces to write a little more. I used to put common stubbing code to setup method even if it wasn't used by all tests. Now I have to move it to tests actually using it. I think that it's nothing bad and makes my tests clearer. When stubbing code is in test method, then there is no

[2017-08-23 15:41] raphw commented on #1152
I have a solution drafted out that does not increase the amout of byte codes. Hope to complete it by the end of September.

[2017-08-23 15:49] jolsys opened #1173 "Mockito 2 - Mocking final classes under androidTest does not work"
Hello,

Default behaviour of mockito-core and mockito-android does not contain functionalities to mock final classes:
   testCompile "org.mockito:mockito-core:+"
   androidTestCompile "org.mockito:mockito-android:+"

To mock final classes under test/ package we can replace:
testCompile "org.mockito:mockito-core:+" with testCompile "org.mockito:mockito-inline:+"

To mock finall classes under androi

[2017-08-23 17:12] raphw commented on #1173
The final mock maker does not work on Android.

[2017-08-24 15:01] jolsys commented on #1173
thanks! Do you have it on the roadmap to make it work?

[2017-08-25 12:13] shark300 opened #1174 "java.lang.ClassCastException with generic types"
Hi,

I've tried this:

[code]

But I've got an Exception with a very confusing message in Idea 2017.1.5 and Eclipse Neon.3:

[code]
But it works from Maven.

If I cast it manually, it works from IDEs:

[code]

Java versions:

1. machine

2. machine

Please check it: https://github.com/shark300/ClassNotFoundException-in-Mockito

[2017-08-25 13:57] shark300 commented on #1174
If I try a cast manually, it works:

[code]

[2017-08-25 15:42] shark300 commented on #1174
An other workaround:

[code]

_org.mockito.internal.stubbing.defaultanswers.ReturnsEmptyValues_ resolves Collection type to a _LinkedList_

[2017-08-25 23:00] HarshHarwani commented on #990
+1, encountered the same bug.

[2017-08-26 14:03] raphw commented on #1173
There is no real possibility to make this work in Android at the moment as it lacks the instrumentation API on top of which we are operating. The Android VM is not a standard VM and only implements a subset of the Java specification. As long as Google does not choose to extend its JVM, I am afraid that this feature will not work.

[2017-08-26 14:03] #1173 closed

[2017-08-26 14:15] tmurakami commented on #1173
@jolsys, if you would like to mock your final classes on Android VM, you can use the [DexOpener](https://github.com/tmurakami/dexopener) library.

[2017-08-26 14:16] tmurakami commented on #1166
This issue was more difficult to solve than I thought, so I closed my PR.
Sorry...

[2017-08-26 14:39] tmurakami opened #1175 "[Kotlin] thenCallRealMethod() does not work for default functions"
Mockito has supported applying `thenCallRealMethod()` for Java 8 default methods.
However, the feature does not work in Kotlin.

The Kotlin compiler generates separate classes for an interface with default functions.

In Kotlin, the file

[code]

is compiled like the following code:

[code]

Kotlin 1.1.4-2 (current stable version) generates such bytecode even if the `-jvm-target` option is specifi

[2017-08-26 14:45] tmurakami opened #1176 "[Android] thenCallRealMethod() does not work for default methods"
The Android Studio version 3.0 (now beta-2) supports Java 8 features by using [desugar](https://developer.android.com/studio/write/java8-support.html).
It generates two different types of bytecode depending on the value of `minSdkVersion` in the project's `build.gradle` file.

- minSdkVersion < 24

Just like the case of Kotlin (#1175), the bytecode for an interface with default methods is generate

[2017-08-26 18:48] orionlee opened #1177 "[Android] Very slow (initialization?) when running androidTest on real devices"
# Highlights:
- I have an androidTest that stubs android PackageManager and ResolveInfo classes.  `mockito-android` seems to need excessive amount of time doing some initial setup.
- The first test that uses the mock take 8.x seconds to complete on a device.
- For comparison, the same test that uses custom stubs (rather than Mockito or other mock framework) takes ~500ms.
- Furthermore, if I replac

[2017-08-26 19:29] raphw commented on #1177
This has a bit to do with how mocks are created and what quality these mocks have. Byte Buddy parses generic information and annotations what triggers lazy loading of elements that are otherwise not resolved.

As a result, the mocks are guaranteed to generate correct erasures and to avoid skipping some bridge methods that should be mocked. The more primitive mock maker cannot do that but generate

[2017-08-27 12:14] thekingnothing commented on #1110
No, I'm not going to drop `PowerMockito`, because is has API for new and private code mocking. I thinking about putting code that create mock in one place. Right now the creating mock logic is spread between at least two classes: `PowerMockMaker` and `DefaultMockCreator`. First implements Mockito's interface and has logic with handler and so on, the second is use to create mock by PowerMock and va

[2017-08-27 12:22] thekingnothing commented on #1110
I think that we can stop for now. Make Mockito release with new API, first beta PowerMock 2.0 and continue discuss feature change. We have achieved our goal - removing using Mockito private API.

[2017-08-27 12:33] thekingnothing commented on #1110
I have raised a pull request https://github.com/powermock/powermock/pull/837 to merge all change and prepare for release. I'm waiting only while Mockito code will be cleaned and released.

[2017-08-27 16:23] szczepiq commented on #1110
Sounds good. We're on it!

[2017-08-27 18:10] orionlee commented on #1177
Hi @raphw ,

To make sure I understand what you say correctly, I get you suggest that:
1. `mocktio-android` generates more complete mock, than, including but not limited to `mockito-core-1.x` + google's `dexmaker` or LinkedIn's `dexmaker-mockito` (mockito 2's equivalent one).
2. `mocktio-android` mock maker is based creating jar and dex at runtime (aka on the fly).

Speaking from a regular develop

[2017-08-27 21:03] vanniktech commented on #473
Since there has been lots of discussion about the API and what `ArgumentCaptor` should really do and what not, I ended up extending `ArgumentCaptor` for now via Kotlin.

[2017-08-27 21:03] #473 closed

[2017-08-28 04:51] szczepiq commented on #1110
I made first pass on the changes and the public API. Looks good, we are not far from being ready to merge!

### New public API

org.mockito.MockSettings#build
org.mockito.MockingDetails#getMockHandler
org.mockito.MockitoFramework#getPlugins
org.mockito.MockitoFramework#getInvocationFactory
Deprecated org.mockito.internal.InternalMockHandler
org.mockito.invocation.InvocationContainer
org.mockito.in

[2017-08-28 08:25] StanKocken opened #1178 "mock-maker-inline prevent mock Android native methods"
Recently using `mock-maker-inline`, I faced an issue with my native methods.

Here is a little example:

    package com.mytest;

    import org.junit.Assert;
    import org.junit.Before;
    import org.junit.Test;
    import org.mockito.Mock;
    import org.mockito.MockitoAnnotations;

    public class JniTest {

        @Mock
        InnerTestClass underTest;

        @Before
        public void

[2017-08-28 14:01] TimvdLippe commented on #1178
This is a documented limitation:
http://static.javadoc.io/org.mockito/mockito-core/2.8.47/org/mockito/Mockito.html#39

[code]

On Mon, 28 Aug 2017, 01:25 Stan Kocken <notifications@github.com> wrote:

[2017-08-28 14:03] StanKocken commented on #1178
Alright, I missed this line. I will try to find a workaround.
If you think this will never be the case, then we can close this issue as won't fix.

[2017-08-28 23:16] jeffdcamp opened #1179 "Mockito 2.9.0 is significantly slower"
We just tried to upgrade to Mockito 2.9.0 (from 2.8.47) and found that our individual tests went from about 1 second to run per test to about 24 seconds to run per test.

We tried to find which release version causes the tests to run slow and found that version 2.8.50 is the first version that causes the slowdown (versions 2.8.48 and 2.8.49 run fine)

Our environment:
- Java 1.8.0_144
- Android Gr

[2017-08-28 23:58] TimvdLippe commented on #1179
@raphw Seems to be #1136 is the culprit. Any insight or immediate thoughts about it?

[2017-08-29 12:45] TehBakker commented on #1097
Just to make sure, there is currently no way to define that for a class / test I want my mock to all act as strict and throw an error if a call was not declared ?

[2017-08-29 15:43] jolsys commented on #1173
Thanks, I am trying to use it. I create a new project and try to follow the instruction in readme.txt but I fail. Actually I have smth like this, and it should work I guess:
build.gradle (Module:app)
`apply plugin: 'com.android.application'

android {
    compileSdkVersion 25
    buildToolsVersion "25.0.1"
    defaultConfig {
        applicationId "com.tdd.nilesh.opendex1"
        minSdkVersion 16

[2017-08-29 15:53] jolsys commented on #1173
Hey, Thanks I try to apply dexopener + mockito-android but I fail, I create a new project follow instructions in readme, but i receive:

`Test running failed: Unable to find instrumentation info for: ComponentInfo{com.tdd.nilesh.opendex1.test/android.support.test.runner.AndroidJUnitRunner}
`

My gradle files:
[build.gradle.txt](https://github.com/mockito/mockito/files/1260883/build.gradle.txt)
[bu

[2017-08-29 16:50] tmurakami commented on #1173
If you would like to run tests with adb, run "adb shell am instrument -w com.tdd.nilesh.opendex1.test/**com.github.tmurakami.dexopener.DexOpenerAndroidJUnitRunner**".
To run tests on Android Studio, specify the correct runner in the `Run/Debug Configurations` dialog.

[2017-08-29 19:38] raphw commented on #1179
@jeffdcamp Thanks for the description. Are you using the Android mock maker? Could you attach a profiler when running the tests to see what takes so much time?

[2017-08-29 19:41] raphw commented on #1179
If you are using the final mock maker, I see how the resolution could be problematic using the method graph compiler. This is quite expensive and I did not think much about it when implementing the correct solution. We should definetly cache the result.

[2017-08-29 19:53] raphw commented on #1179
@jeffdcamp Could you build Mockito from the branch `performance-fix` and try it out? I wonder if that fixes the regression. Thanks

[2017-08-29 20:03] jeffdcamp commented on #1179
@raphw  We are not using "Android mock maker or the final mock maker".   Yes... 2.8.50 is the version that causes the slowdowns (we tried both  2.8.48 and 2.8.49, and those 2 versions work fine).

I'll try to perform a build of Mockito "performance-fix" branch

[2017-08-29 20:22] jeffdcamp commented on #1179
@raphw I just built the "performance-fix" branch and changed the dependency on our project to "2.9.1" and that did not fix the slow down.

The following is using version 2.9.1 (Note the long run times):

![image](https://user-images.githubusercontent.com/1479095/29842041-d956de70-8cc4-11e7-9329-a7d1e88f9abc.png)

The following is using version 2.8.47:

![image](https://user-images.githubuserconten

[2017-08-29 20:41] raphw commented on #1179
And you really get the same behavior in 2.8.50? This seems unlikely if you are not using the inline mock maker. (Are you sure you have no mock maker configured?) The only change from 2.8.49 to 2.8.50 is in the class `MockMethodAdvice` which should not even get loaded unless you are using the mock maker in which case the versions should be identical.

Could you run the tests while profiling with so

[2017-08-29 20:46] jeffdcamp commented on #1179
@raphw I just went to the git log and checked-out and built revision "Fixed flaky Bintray badge Szczepan Faber* 6/22/17 4:16 PM (1a60a8496d4b704cac115608ca67840c7d8a6865)" and tests runs fast....

I then checked-out revision and built revision "Fixes #1135: Properly resolve visibility bridges. (#1136) Rafael Winterhalter* 6/24/17 2:29 AM (fa66960eeb74473822fe9081246f360964da6023)" and the test run

[2017-08-29 20:50] raphw commented on #1179
Thanks for investigating!

This is just super strange, I have no idea how this could affect the subclass mock maker.

[2017-08-29 20:52] jeffdcamp commented on #1179
@raphw Is it possible that when tests are run/executed in Android Studio / IntelliJ it might cause mock maker fire off? (sorry I don't know much about "mock maker")

[2017-08-29 20:59] raphw commented on #1179
That should not happen, for Kotlin, it might however make sense as most types are final by default.

You can set a break point in the `MockUtil::createMock` method and see what instance of `MockMaker` you have (Inline or Subclass) to see what plugin is loaded.

[2017-08-29 21:06] jeffdcamp commented on #1179
It appears to be "InlineByteBuddyMockMaker"

[2017-08-29 21:11] raphw commented on #1179
In this case, you are using the inline mock maker to support mocking of final types. I am afraid that the lookup of visibility bridges still takes too long. I will try to further improve the runtime.

[2017-08-29 21:14] jeffdcamp commented on #1179
Awesome!  Let me know if there is anything else you would like me to test/try/identify

[2017-08-29 21:34] raphw commented on #1179
I tried caching the entire graph. Could you try the performance-fix branch once more?

[2017-08-29 21:48] jeffdcamp commented on #1179
It's fixed!

The latest code on the "performance-fix" branch is back to expected speeds!  Good work!

[2017-08-29 21:50] raphw commented on #1179
Its still preliminary as it leaks memory, unfortunately. I have to work a bit more with it before merging.

Good to know that the approach is right, though! Thanks for checking

[2017-08-29 21:52] jeffdcamp commented on #1179
Let me know if you would like me to rerun my tests with updated code.

[2017-08-29 22:02] TimvdLippe commented on #1179
Thanks @jeffdcamp for the report and awesome @raphw to find the fix so quickly :heart:

[2017-08-30 09:29] jolsys commented on #1173
Unfortunately Android Studio 2.3.1. does not allow to set InstrumentationRunner via Run/Debug Configuration it should be smart enough to pick it up on its own but unfortunately it is not.

[2017-08-30 10:46] tmurakami commented on #1173
Could you remove your test settings from `Run/Debug Configurations` and rerun your tests?

[2017-08-30 11:20] elizarov commented on #1152
The bytecode generation strategy was adjusted in Kotlin 1.1.4-3 which fixes this issue. See [KT-19713](https://youtrack.jetbrains.com/issue/KT-19713) for details. I've updated PR #1165 with the test for this issue to Kotlin 1.1.4-3 and it passes. I suggest to close this issue and to merge PR #1162 into Mockito codebase to increase test coverage.

[2017-08-30 13:04] jolsys commented on #1173
[error.txt](https://github.com/mockito/mockito/files/1263639/error.txt)
Regarding running tests from Android Studio runner:
Yes, I did and with the existing project it did not work, so I created a new one and it started working :)

Regarding terminal:
When I run the command "adb shell am instrument -w com.tdd.nilesh.opendex1.test/com.github.tmurakami.dexopener.DexOpenerAndroidJUnitRunner", I recei

[2017-08-30 13:29] tmurakami commented on #1173
Running an independent test with using `notPackage` will fail due to the Android Testing Library specification.
The error was resolved at Android Testing Support Library 1.0. Could you test with that version?

[2017-08-30 14:48] ts-huyao opened #1180 "Stubbing superclass' method using Mockito inline propagate to the real method call"
Hi my java env is
[code]
OS Version
`MacOS Sierra 10.12.6`

Mockito version:
`mockito-inline:2.9.0`

For this simple snippet:
[code]
then stubbing the size() method
[code]
stringList.size() will always return 0, and size() is acually called in ArrayList instread of the stub
the above code works perfectly with mockito-core, for a workaround, StringList can be written in
[code]
then size() can be st

[2017-08-30 15:24] jolsys commented on #1173
I the test against Android Testing Support Library 1.0 and it works fine.
I can run it from android studio or from a command line.
Thank you for your help!

[2017-08-30 20:52] raphw commented on #1177
Hi, there is definately potential to improve things but it is not a first priority as there are alternatives around. For the build time generation, this becomes difficult if you do not know the types to mock at runtime. In the general case, this is not decidable unless you would explicitly mention the types.

Mocking on Android is still an issue, also with emerging languages like Kotlin that defin

[2017-08-31 03:53] TimvdLippe commented on #1180
If I am not mistaken we explicitly disallow mocking of such Data classes.
If you need to stub a list, then just create a list with the value you
expect. For more information see
https://github.com/mockito/mockito/wiki/How-to-write-good-tests#dont-mock-value-objects

On Wed, 30 Aug 2017, 07:49 Hu Yao <notifications@github.com> wrote:

[2017-08-31 04:52] ts-huyao commented on #1180
@TimvdLippe sorry I didn't intend to mock List, I happened to use the List as a simple example, this case happens when mocking superclass' method which is not overridden in child class.

[2017-08-31 09:35] jolsys commented on #1173
When I created a sample app, everything started working fine, now I try to apply dexopener to the already existing project, I do the same steps but I get this response:
[BuildConfig exception.txt](https://github.com/mockito/mockito/files/1266582/BuildConfig.exception.txt)

Not sure what I can do about this exception.

[2017-08-31 09:47] tmurakami commented on #1173
You need to put your own AndroidJUnitRunner into your `androidTest` directory and use `DexOpener.Builder`.
Please refer to [README.md](https://github.com/tmurakami/dexopener/blob/master/README.md#extending) and [example](https://github.com/tmurakami/dexopener/tree/master/dexopener-example).

[2017-09-01 06:06] PaulWoitaschek commented on #1179
Does the inline work for you in 2.9.0? Several tests here fail when mocking kotlin classes, but work in 2.8.47

[2017-09-01 16:00] szczepiq opened #1182 "Travis CI ERROR: JAVA_HOME is set to an invalid directory"
Travis CI builds started failing with "ERROR: JAVA_HOME is set to an invalid directory: /usr/lib/jvm/java-7-oracle". [Example failure](https://travis-ci.org/mockito/mockito/jobs/270842998).

[code]

It looks like there was some incompatible change rolled out in Travis CI.

[2017-09-01 16:53] ming13 opened #1183 "UnfinishedVerificationException with Kotlin after updating to 2.9.0"
Mockito update 2.8.47 → 2.9.0 brought us the exception when running the following test.

[code]

[code]

Please notice that the following test will produce no errors.

[code]

This works as well, so I assume it can be Kotlin-lamda-related.

[code]

Also, important detail. Running from IDE works fine, only Gradle runner is affected.

[code]

[2017-09-01 16:54] ming13 commented on #1179
@PaulWoitaschek, take a look at the #1183

[2017-09-02 17:07] Stephan202 commented on #1180
This seems to be a regression in version 2.9.0 with `mock-maker-inline`. In our code base we hit the issue with some code that mocks Elasticsearch 2.3.5's [`DeleteRequestBuilder`](https://github.com/elastic/elasticsearch/blob/v2.3.5/core/src/main/java/org/elasticsearch/action/delete/DeleteRequestBuilder.java). Simplified example:
[code]
This passes with Mockito 2.8.47, but causes an NPE with Mocki

[2017-09-03 17:43] orionlee commented on #1177
Hi @raphw,

Thanks for the response. I could appreciate there are competing priorities. I'd leave the issue open for tracking purposes.

In my case, the alternative I ended up using is extending Android platform's `MockPackageManager` . I understand the irony that `MockPackageManager` is deprecated in favor of Mockito: I feel the speed improvement of using `MockPackageManager` is worth it in my ca

[2017-09-04 21:37] raphw commented on #1180
I found the error which lies in the new bridge method sensitive override detection mechanism. I added a test case and hope everything works again in the new version.

[2017-09-04 21:38] #1179 closed

[2017-09-04 21:38] raphw commented on #1180
I fixed this in #1179.

[2017-09-04 21:41] raphw commented on #1177
Yes, definetly. We piggy back on the Android DEX compiler to keep our maintenance work as little as possible and for the most, this works out well as most people seem to only integration test on devices but use something like Robolectric for unit tests to make use of, for example, the inline-mock-maker with Kotlin.

Glad this alternative works for you.

[2017-09-04 21:41] #1177 closed

[2017-09-04 21:49] szczepiq opened #1185 "www.mockito.org redirect does not work"
www.mockito.org redirect does not work

[2017-09-04 21:57] Stephan202 commented on #1180
Hi @raphw, I just built and installed 1c61f1a91a7d5d8367b3dbddb6270afdd96c8f6a using `./gradlew publishToMavenLocal`. The above issue still reproduces, unfortunately.

[2017-09-05 06:24] raphw commented on #1180
Darn, I reproduced the issue as a test case but I assume it was insufficient to capture the full problem.

Thanks for double-checking, I will hav another look.

PS: You did build the release 2.x branch? Alternatively, the build should be released by now.

[2017-09-05 06:26] raphw commented on #1180
Ah, I just double-checked and it seems like the actual fix got lost in git rebase. I will fix this tonight!

[2017-09-05 13:51] mdaniyalkhann commented on #185
or you can use (String) any()

[2017-09-05 19:02] #1180 closed

[2017-09-05 19:03] raphw commented on #1180
New try!

[2017-09-05 19:58] Stephan202 commented on #1180
Thanks! Just built `v2.9.2` locally and I can confirm the issue is fixed. :white_check_mark:

Dare I ask: since this release resolves a regression, do you plan to publish it on Maven Central?

[2017-09-05 20:57] raphw commented on #1180
Should be published automatically. @szczepiq?

[2017-09-05 22:06] Stephan202 commented on #1180
Nah, by default they only go to Bintray. (I can configure our Nexus to proxy to Bintray, but I prefer to keep the number of non-Maven Central hosted dependencies as small as possible. Also, by publishing on Maven Central a larger audience will find the fix using the `versions-maven-plugin`.)

[2017-09-06 13:37] TTransmit commented on #922
@tmurakami Do you need to upgrade an Android project to Android Studio 3 in order to use test runner 1.0.0 or 1.0.1?

In Android Studio 2, I get the error:
[code]
Clicking `Install Repository and sync project` does nothing.

[2017-09-06 18:24] tmurakami commented on #922
The Google repository has been added since Gradle 4.0.
https://docs.gradle.org/4.0/release-notes.html#convenience-method-for-adding-google-repository

If you use Gradle < 4.0, you need to add `maven { url: 'https://maven.google.com' }` instead of `google()`.

[2017-09-07 06:39] JakeLin commented on #185
I think `Mockito.<String>any()` is better.

[2017-09-08 12:03] eugene-ivakhno opened #1187 "Feature request: simultaneous stubbing"
Here is an example:

[code]

Currently the "outer" stubbing cannot be completed correctly because the "inner" one starts using `MockingProgress` before `thenReturn` of the first stubbing is called.
Result:
[code]

An obvious workaround is to make those stubbing sequentially. But it makes such convenient methods as `prepareOutput()` impossible.

Mockito version: `1.10.19`.

[2017-09-08 15:34] szczepiq commented on #1180
We currently don't publish automatically to Maven Central based on the feedback from community that there are too many versions of Mockito around :) We might get back to publishing every version as we did before.

I plan to ship 2.10 soon for https://github.com/mockito/mockito/pull/1121 so it will land in Maven Central!

[2017-09-09 08:15] thekingnothing commented on #1110
Yeah! It was a great job. @szczepiq thank you a lot for help! I'm preparing a first beta release with using Mockito public API.

[2017-09-09 18:58] ChristianSchwarz commented on #1187
You should use a custom Answer in this case.

[2017-09-10 15:28] mureinik commented on #1185
Shouldn't this issue have been reported against mockito/mockito.github.io ?

[2017-09-11 08:43] eugene-ivakhno commented on #1187
Thanks for this suggestion!
The following replacement helped:
`thenReturn(prepareOutput(...)` -> `thenAnswer(invocation -> prepareOutput(...))`.

Should I close this issue? Would still prefer to have the straightforward way work, of course. But the value of such improvement now looks minor.

[2017-09-11 18:33] eccforgit opened #1188 "any not matching null reasoning"
Can someone please explain the reasoning behind this and why it is a long awaited feature.  This is so counter intuitive and painful to writing unit tests that I just can't understand how that many users really wanted this as a feature. Can you also explain how to work around this great change? (BTW any by definition means all possible, not all possible but this one.  If the developers wanted that

[2017-09-12 06:46] ming13 commented on #1183
FYI the same thing happens with Mockito 2.10.0.

[2017-09-12 13:18] raphw commented on #1183
Should be fixed on master already.

[2017-09-12 15:50] ming13 commented on #1183
@raphw Can you please point me at the commit?

[2017-09-18 20:39] TimvdLippe commented on #984
This was fixed some time ago, probably in #1052.

[2017-09-18 20:39] #984 closed

[2017-09-19 13:06] raphw commented on #1183
https://github.com/mockito/mockito/commit/9848cec9ebb28791bca565200cdacf337730a015

[2017-09-19 13:30] szczepiq commented on #1110
@thekingnothing, how are things? Were you able to push a stable release of Powermock with new version of Mockito? Do you need help? Is there a ticket in Powermock that we can track?

Cheers!

[2017-09-19 19:18] ming13 commented on #1183
@raphw Just double-checked 2.10.0 and the issue is still the same 😞

[2017-09-19 19:50] raphw commented on #1183
The commit is not yet pushed out, I think.

[2017-09-20 17:21] thekingnothing commented on #1110
@szczepiq, I'm continue working on PowerMock 2.0.0 release, but it's too early to talk about a stable release. I focused on JDK 9.0 support in past two weeks which was required for Kafka and Maven Surefire (https://github.com/powermock/powermock/issues/783).

I also dropped the first public beta with supporting new Mockito API and I'm collecting first issues, like https://github.com/powermock/powe

[2017-09-21 07:22] mureinik commented on #1153
`org.mockito.internal.stubbing.answers.ClonesArguments` seems to do exactly @m35 needs, but we probably shouldn't advertise using something from an internal package in the FAQ.

Moreover - it doesn't seem accessible from any public part of Mockito. Perhaps we should add `AdditionalAnswers.clonesArguments`?

[2017-09-21 20:48] raphw commented on #1183
Ah, too bad. I will have a look. It surely is related to our performance optimizations of detecting overridden calls to avoid repeated mocking down the hierarchy.

[2017-09-21 21:43] asolntsev commented on #357
@cushon @raphw @ePaul What is the status of this issue?
Java 9 has been released today!
I am getting the following error in all my tests that use Mockito:

[code]

[2017-09-24 15:16] zyxist opened #1189 "JDK9: set a stable module name with `Automatic-Module-Name` entry in MANIFEST"
JDK9 is out and introduces a module system.

Mockito does not currently use modules. When we use it in a JDK9 modular application, Java turns the JAR into a so-called automatic module, whose name is derived from the JAR archive name (*mockito*, in this case). However, the default name does not follow the recommended module naming conventions (reverse-dns style, module name derived from the main ex

[2017-09-24 17:19] TimvdLippe commented on #1189
If we can make this work on JDK6-8, I am all for it. If you can, please submit a PR that we can review :)

[2017-09-25 05:02] zyxist commented on #1189
This change is compatible with JDK6-8, because you only add an entry to `MANIFEST.mf` file. Older Java versions simply ignore it, and JDK9 uses it as a stable automatic module name (instead of generating it from JAR archive name).

If you drop the support for older JDKs somewhere in the future, you can create a true module with the same name and the change will be invisible to JDK9 modular applica

[2017-09-26 22:13] wrprice commented on #863
ASM 6.0 in Maven Central on 23-Sep-2017

[2017-09-27 08:22] piffta commented on #1097
I completely agree with @imod. That is only reason I am avoiding to use Mockito.
Adding strict mode will make debugging easier, for example if test have to be updated after some implementation changes.

[2017-09-28 20:19] raphw commented on #863
We have reenabled the tests and I already added ASM6 to Byte Buddy.

[2017-09-28 20:19] #863 closed

[2017-09-28 20:30] raphw commented on #357
As said, there is not much we can do. The information of the required type lies outside of the class we instrument. We simply do not have this information available. I am afraid that this chained mocking is something we cannot fully support and you will have to mock your method chanes manually to supply this information.

[2017-09-29 19:04] Abasifreke commented on #1088
Thanks folks.

[2017-09-29 20:37] bradleywillard commented on #873
Why are these UnnecessaryStubbingException's happening?  After upgrading from mockito-core-1.9.5 to mockito-core-2.9.0, tons of the exceptions occured.   After removing the stubbings, the tests still run fine and show coverage and what not, but I fear some test's meaningfulness has been lost.  This is difficult to introspect when all the tests are passing fine.  Thanks in advance for your insights

[2017-10-01 02:49] mockitoguy opened #1191 "Ensure spring-boot can use Mockito public API"
### Problem

Mockito framework integrators need robust public APIs from us. This way, they ship great Mockito integrations to their customers. We want to avoid the situation where framework integrators have to use Mockito internal APIs. This leads to overhead, relying on stale versions of Mockito, class conflicts in runtime.

spring-boot currently uses some internal API from Mockito. See https://g

[2017-10-01 04:04] szczepiq commented on #1191
I put together a prototype in "mockito-spring-boot" branch. Opened PR #1192 for visibility. How to use it?

- clone mockito and check out "mockito-spring-boot" branch
- ./gradlew publishToMavenLocal
- grab newly published version of mockito from maven local and try it out!
- I don't have Javadocs yet. This test class documents the new API (hopefully :) -> https://github.com/mockito/mockito/pull/11

[2017-10-02 17:28] asolntsev commented on #357
@raphw Thank you!

Well, does it mean that mockito will never work with Java 9? Omg, it's an epic disaster... :(

[2017-10-02 20:47] TimvdLippe commented on #1178
This would need to be fixed in ByteBuddy and I am not sure if it is even possible. Therefore I am closing this issue for now.

[2017-10-02 20:47] #1178 closed

[2017-10-02 20:49] TimvdLippe commented on #1187
An `Answer` is the intended feature for this usecase. A `thenReturn` states that only 1 possible answer is generated. As such, I am closing this issue. Thanks for reporting the issue!

[2017-10-02 20:49] #1187 closed

[2017-10-02 20:57] TimvdLippe commented on #1188
To what extent does `any()` qualify for your usecase? That can match values including `null`. The primary reason for non-null is the confusion about "I expected this to be passed an object of type X, but I got null instead". By enforcing explicitness with `null`, we improve Mockito mocks relative to the production code. This change caught several bugs where mocks were invoked and incorrect types w

[2017-10-02 20:58] TimvdLippe commented on #1182
This was fixed in #1184

[2017-10-02 20:58] #1182 closed

[2017-10-02 21:00] TimvdLippe commented on #1174
Build #IC-171.4694.70, built on July 4, 2017
JRE: 1.8.0_112-release-736-b21 amd64

This JRE build is quite old and older versions of Java 8 are known for compiler bugs. Please update your jdk in your IDE to resolve this issue. (Maven is correctly using one of the latest versions which are working).

Since this is very likely related to your Java version, I am closing this issue. Feel free to reope

[2017-10-02 21:06] TimvdLippe commented on #1168
If I understand the issue correctly, you are asking why both of the methods have to match on the same session? Looking at your implementation, you invoke `save` on a mock returned from `getCurrentSession()`. Therefore, if you do something like when(sessionFactory.getCurrentSession().save(persona)).thenReturn(persona.getId());`, you have not mocked `sessionFactory.getCurrentSession()`. That in turn

[2017-10-02 21:06] #1168 closed

[2017-10-02 21:19] TimvdLippe commented on #1101
It seems like we can now try this out on Travis: https://github.com/travis-ci/beta-features/issues/11#issuecomment-329188863

[2017-10-02 21:24] TimvdLippe commented on #1113
With the new framework API, you could actually implement this yourself. Create a [`MockCreationListener`](http://static.javadoc.io/org.mockito/mockito-core/2.10.0/org/mockito/listeners/MockCreationListener.html) and attach this listener during `setup`. Then you can check the type of the mock with [`getDeclaredAnnotations`](https://docs.oracle.com/javase/7/docs/api/java/lang/Class.html#getDeclaredA

[2017-10-02 21:24] #1113 closed

[2017-10-03 07:04] shark300 commented on #1174
I've got same Exception on this machine:

So to recap I can't reopen issue and you can reproduce this issue by using this code:

[code]

[2017-10-03 09:57] TimvdLippe commented on #520
Closing as at last #863 has been fixed as well. Java 9 woohoo 🎉

[2017-10-03 09:57] #520 closed

[2017-10-03 09:58] TimvdLippe commented on #445
JUnit5 has been released and as such we probably need to create an official extension. Hopefully I have time in the near future, but feel free to contribute a PR if you have time.

[2017-10-03 09:59] TimvdLippe commented on #873
@bradleywillard If a stubbing was defined but never invoked, the exception is thrown. As such, you can safely delete these stubbings and still have your tests pass. Hopefully that makes it a bit more clear!

[2017-10-03 10:01] TimvdLippe commented on #758
I think with our current strict stubbing this has now been implemented @szczepiq ?

[2017-10-03 10:03] TimvdLippe commented on #738
This was fixed in #1021

[2017-10-03 10:03] #738 closed

[2017-10-03 10:08] TimvdLippe commented on #973
Per the above comment, can you reproduce this problem with the latest version of mockito (2.10.0)?

[2017-10-03 10:10] TimvdLippe commented on #911
@szczepiq I think we can close this issue as well and direct any further discussion to the shipkit repository/

[2017-10-03 10:12] TimvdLippe commented on #898
This was fixed in #865

[2017-10-03 10:12] #898 closed

[2017-10-03 10:14] TimvdLippe commented on #1064
Closing per above comment. Feel free to reopen if you can still reproduce this with Mockito version 2.10.0 or later!

[2017-10-03 10:14] #1064 closed

[2017-10-03 10:18] TimvdLippe commented on #1031
This file has been removed in https://github.com/mockito/mockito/commit/a775b0668a1b4c73413b59c1c4cf11e2af4655ef#diff-51e2c26ce83e7e3a8f6325a3c24c0e4d

[2017-10-03 10:18] #1031 closed

[2017-10-03 10:20] TimvdLippe commented on #1000
Closing this per above comment. Feel free to reopen if you are still running into this issue with a recent Mockito version (2.10.0+)

[2017-10-03 10:20] #1000 closed

[2017-10-03 10:20] TimvdLippe commented on #992
@paulduffin It has been a while, have you been able to progress on the Mockito integration? Is there work we can do to speed up the process if you were unable to finish the migration yet?

[2017-10-03 10:21] TimvdLippe commented on #998
Closing per https://github.com/mockito/mockito/issues/998#issuecomment-288354458 and it seems this issue became stale.

[2017-10-03 10:21] #998 closed

[2017-10-03 10:39] wilkinsona commented on #1191
@szczepiq This looks great. I've built the `mockito-spring-boot` branch and prototyped the updates required for Spring Boot to use it: https://github.com/wilkinsona/spring-boot/tree/gh-10352. All our tests pass and, as you can hopefully see, Boot's code is now significantly simpler. Thanks very much.

[2017-10-03 13:28] tmurakami commented on #922
I think this issue should be closed because it is solved in Android Testing Support Library 1.0.0.

[2017-10-03 13:30] TimvdLippe commented on #922
Closing per above comment.

[2017-10-03 17:30] szczepiq commented on #1191
Fantastic! I will polish the code / documentation and get the release out soon. Thank you for testing this out and suppling sample project!

[2017-10-03 20:02] raphw commented on #357
Only when returning automatic mocks from mocks with generic return types, maybe we should add a warning for this to make the error more intuitive.

[2017-10-04 09:25] techpavan commented on #1151
Hi @szczepiq , I have raised a PR https://github.com/mockito/mockito/pull/1193 which explains the issue further. Also went ahead to raise a PR https://github.com/mockito/mockito/pull/1194 which is supposed to give a fix for this issue. This fix is not really justified as I believe some synchronized access control is necessary, but not exactly sure on where and how to provide that. If you can guide

[2017-10-04 21:17] henryju opened #1196 "No more able to stub method of the parent class if one parameter is not visible to the child class"
Migrating from Mockito 1.10.19 to 2.10.0.

Problem: stubbing some methods of a spied object now call the real method.

Reproducer:

[code]

[code]

The child class is located in a different package, so the parameter of the parent's method is not visible. Changing the visibility of PackageProtectedType to public bring back the behavior of Mockito 1.10 and allow to stub the behavior.
This is very mi

[2017-10-04 22:01] pollycchang commented on #1074
I ran into this exact issue. I can only get my test to work with Mockito 1.10. Is there any fix for this issue?

[2017-10-05 12:40] emartynov opened #1197 "Mockito can not mock Firebase classes"
Hi guys,

It might be duplicate for already created issues but my stacktrace looks like a bit different.
Here what I have:
[code]

I already tried `--noverify` flag for jvm. I'm on the Mockito 2.10.0.

[2017-10-05 12:44] TimvdLippe commented on #1197
I think this is a duplicate of #1138. See https://sourceforge.net/p/proguard/bugs/647/ for the upstream issue.

[2017-10-05 21:00] szpak opened #1198 ""Could not initialize inline Byte Buddy mock maker" with Gradle 4.x"
I tried to add Java 9 build for the Mockito 2.x branch which in turn requires Gradle upgrade to 4.x. Unfortunately with Gradle 4.x (tested with 4.0.1 and 4.2.1) 38 inline mock maker related tests are broken (without `MOCK_MAKER` env variable defined).

For example:
[code]

Travis build reproducing that issue with Oracle JDK (just Gradle upgrade in the `brokenWithGradle4` branch):
https://travis-ci

[2017-10-06 07:38] raphw commented on #1198
Gradle is supposed to rename the `org/mockito/internal/creation/bytebuddy/MockMethodDispatcher.class` file to `org/mockito/internal/creation/bytebuddy/MockMethodDispatcher.raw` during its build. This is necessary to prohibit the class from being loaded by any class loader as we explicily inject it into the bootstrap class loader using the instrumentation API.

It seems like this does no longer wor

[2017-10-06 15:51] epeee commented on #1198
It looks like this one is failing due to this (https://docs.gradle.org/4.0/release-notes.html#location-of-classes-in-the-build-directory) change in Gradle 4.0 and the fact that `inline-mock.gradle` is using the old hardcoded path.

[2017-10-06 19:07] #977 closed

[2017-10-07 09:01] #1155 closed

[2017-10-08 08:16] #1189 closed

[2017-10-08 09:53] #1198 closed

[2017-10-08 13:04] szpak commented on #1198
Yup, that was a problem, @raphw. Thanks @epeee for an implementation hint.

[2017-10-11 11:08] ChristianSchwarz commented on #1166
I looked into your PR, what was the problem you encountered?

[2017-10-11 17:16] ChristianSchwarz opened #1204 "Argument Matchers of primitives are not covariant"
Under the following scenario Mockito fails:

[code]

Throwing an ArgumentAreDifferentException is irritating in such cases. Mockito should behave differently here.

Option 1.
  * throw something like IncompatibleMatcherType "Please use anyLong() instead of anyInt() cause your method expects an long."

Option 2.
 * Allow to place anyInt() cause int is assignable to long,
 * Check if the given long

[2017-10-11 21:13] dmfs opened #1205 "Equal Mocks"
We'd like to have mocks which are identified by an Integer, String or any other Object. The basic idea is that two mocks should equal if they mock the same class and have been created with equal "identifiers".
So given a method `idMock(Class, Object)` which returns such a mock, we would get:
[code]

We'd like to have this because we prefer to write tests in a single `assertThat` statement.

Consid

[2017-10-11 23:56] tmurakami commented on #1166
I think that PR(#1167) has two problems related to Kotlin-Java interoperability.

#### Problem 1

The following code is correct in Kotlin.

[code]

The above code is equivalent to the following code using Mockito.

[code]

However, this code will cause `MockitoException: Checked exception is invalid ...` because `java.lang.Runnable` is not marked with the `kotlin.Metadata` annotation.

#### Proble

[2017-10-12 06:45] szczepiq commented on #1191
@wilkinsona, can you try out one more time for us please?

I've cleaned up the implementation and the PR in Mockito is ready to go. I want to make sure that we ship code that works for Spring Boot. I have added some extra validation for setMock() method. Other than that I think that the API has not changed since I provided the experimental. The code is in the same branch.

Thank you in advance! :)

[2017-10-12 07:35] ctolkmit opened #1206 "Mockito should not copy annotations in all cases"
When mocking an interface, Mockito 2.10.0 copies the annotations on the interface to the generated class.
I believe, Mockito  2.10.0  should just implement the class, as if the one would do new Interface(){...}
In fact, migrating to mockito 2.10 broke the tests of my working production code.
However, when mocking a class, the current behavior could be the expected behavior.

I have provided a very

[2017-10-12 10:34] dmfs commented on #1205
Just wanted to add that
[code]
So `idMock` should not just return the same instances, but different ones which are equal.

[2017-10-12 10:40] ChristianSchwarz commented on #1206
I agree. Java does it that way. When an interface is implemented by a class the annotations are not present, no matter if the annotation is marked with `@Inherit` or not.

The class object of a mocked class should look close as possible as one of the mocked type. Therefore I would assume that annotations are copied.

Currently Mocktio uses as default the `SubclassByteBuddyMockMaker` which well sub

[2017-10-12 11:25] wilkinsona commented on #1191
@szczepiq Thanks for the opportunity to double-check things. I've built the current head of `mockito-spring-boot` branch and updated my prototype to use the resulting 2.11.0 binaries. The only change that was necessary was to update the version number so things look good from my perspective.

[2017-10-12 18:28] ChristianSchwarz commented on #1166
Good explanation! Your PR solved already **Problem 2** right? **Problem 1** is tricky, as mockito doesn't know that it runs a kotlin test. But this can be solved as follows:
 * MockitoRule and TestRunner know the JUnit-Test class it runs on.
 * They set a flag (possibly in MockitoConfiguration) when a kotlin test is detected.
 * When the validation of ThrowsException is called, it skip any checks

[2017-10-12 20:23] asolntsev commented on #357
@raphw Yes, the warning would be very helpful.
So, do I correctly understand that people will need to rewrite their tests in order to upgrade to Java 9? Probably a lot of tests?

[2017-10-12 20:59] cushon commented on #357
There's an Error Prone check that detects this problem at compile-time: http://errorprone.info/bugpattern/MockitoCast. It can also be run as a [refactoring](http://errorprone.info/docs/patching) to add work-arounds to affected code.

[2017-10-12 21:49] eetech opened #1207 "There is a issue, after I downgrade the Mockito version, it disappeared"
Hi guys, I found an issue, when I try to mock Realm with Mockito 2.10.0 and PowerMock 1.7.0RC4 , I get an error:
[code]
then I downgrade Mockito to 2.8.47(I tried that it works well on <= 2.8.47), the error disappeared, so I just wondering is it a bug in new versions? Thanks ;-)

[2017-10-12 21:51] TimvdLippe commented on #1207
This is probably related to a corrupt `.m2` cache. Could you delete any local versions of Mockito and try again?

[2017-10-13 03:47] tmurakami commented on #1166
No, that PR did not solve both problems.

Thank you.
However, I think that it is necessary to consider users who use testing framework other than JUnit 4.
For those users, Mockito offers `MockitoSession`, but it cannot know the test class unless `MockitoSessionBuilder#initMocks(Object)` is called.

[2017-10-13 10:30] TimvdLippe commented on #1207
Depending on your operating system, it is probably located in your home folder. In my case it is `ls ~/.m2/repository/org/mockito/` on Ubuntu. Go to your home folder and search for `.m2`

[2017-10-13 10:33] eetech commented on #1207
there is the folder ` ~/.m/r/org`, but no `mockito` there... @TimvdLippe

[2017-10-13 10:35] TimvdLippe commented on #1207
So if that is the case, then one of your other dependencies was relying on an internal API that was removed between these versions. It could be that `PowerMock` is the culprit, but I am not certain about that. PowerMock should be using only public API in the latest version, so maybe try that out and see if it makes it compile again?

[2017-10-13 10:46] eetech commented on #1207
@TimvdLippe When I upgraded PowerMock to 1.7.3, I got another PowerMock error, so only Mockito 2.8.47 & PowerMock 1.7.0RC4 works well. so I'm not sure why it couldn't work on latest version, and I didn't know what has been changed between the older version and latest version

[2017-10-13 11:26] ctolkmit commented on #1206
adding `org.mockito:mockito-inline:2.10.0` to my project did not change any test results

[2017-10-13 14:03] ChristianSchwarz commented on #1166
Right now I don't see a problem here. The MockitoSessionBuilder implementation can set the flag too. WDYT?

----

An other option is to disable the exception type check for a mock explicit. E.g. like this:

[code]

or

[code]

[2017-10-13 14:08] ChristianSchwarz commented on #1206
Okay, thanks for checking it out.

Possibly @raphw has a good explanation for the current behaviour.

[2017-10-13 22:08] raphw commented on #1206
We introduced this as a feature since the mock class should be a representation of the mocked type. Many times, this is rather an advantage than a disadvantage. You are however right that it should be something that can be controlled in the mock options. We will look into it.

Already today, you can trick Mockito into not copying the annotations by creating a mock of type object and adding the int

[2017-10-14 02:36] tmurakami commented on #1166
I am not good at English :sweat:, so I'm sorry if I misunderstood your intention.

I assume that the general usage of the Mockito Session API is as follows:

[code]

As Mockito users call `MockitoSessionBuilder#initMocks(Object)`, Mockito get to know the test instance, so it will also be able to detect Kotlin tests, just like using MockitoRule/MockitoJUnitRunner.
However, I think there are two pro

[2017-10-15 04:07] mockitoguy commented on #1191
We released new version today: 2.11.0. It includes the new API that Spring Boot can use.

[2017-10-15 04:08] mockitoguy commented on #1191
@wilkinsona - thank you for help and nice collaboration!

[2017-10-15 07:05] TimvdLippe commented on #1188
Closing per above comment. If our reasoning is still unclear, please reopen.

[2017-10-15 07:05] #1188 closed

[2017-10-15 15:19] mockitoguy commented on #1151
Let's avoid working on this enhancement. See my comment: https://github.com/mockito/mockito/pull/1200#issuecomment-336717814

Thank you for the time reporting and putting together the PR!!!

[2017-10-15 15:19] #1151 closed

[2017-10-15 15:40] mockitoguy commented on #1207
Sorry for the issue!

Please report it to PowerMock tracker. Mockito team does not support PowerMock integration.

The only way Mockito team can help Java developers for this use case is by providing comprehensive public API for framework integrations. This way, PowerMock can cleanly integrate with Mockito public API and avoid various method not found errors. We have [added new public API](https:/

[2017-10-15 15:40] #1207 closed

[2017-10-16 05:23] ctolkmit commented on #1206
@raphw - great trick, I think this will work in my environment for the moment.

[2017-10-16 09:22] ChristianSchwarz commented on #1206
@raphw

Out of interest: Shouldn't annotations never by copied from interfaces? I mean if an interface is implemented, the compiler don't copy any annotation to the class. So it is a bit surprising that mockito does it.  I would expect this only for mocked classes.

This should IMHO the default behaviour when an interface is mocked. Maybe mockito should take this into account. Actually I don't see

[2017-10-16 09:35] ctolkmit commented on #1206
@ChristianSchwarz I would completely agree :)

[2017-10-16 14:25] paulduffin commented on #992
I had to leave the mockito work for a while but am back looking at it, albeit not full time. I am currently migrating code from 1.9.5 to 1.10.19.

[2017-10-17 07:08] ming13 commented on #1183
The issue remains when using 2.11.0 as well.

[2017-10-18 02:09] LouHubiao commented on #537
mock(class,
            withSettings()
            .serializable()
            .spiedInstance(object)
            .defaultAnswer(CALLS_REAL_METHODS));

[2017-10-18 11:31] TimvdLippe commented on #1191
Closing per https://github.com/spring-projects/spring-boot/commit/027c5a0e35b81259191cae8236a1939e5e4827de :tada:

[2017-10-18 11:31] #1191 closed

[2017-10-18 11:33] TimvdLippe commented on #1205
Could you clarify why you want to write it as such? It seems that you are testing a `getter` here, which is not very useful to do so.

[2017-10-18 11:36] TimvdLippe opened #1210 "Define feature completeness of Mockito 2"
We have been talking about "Mockito 3" as the next major version supporting Java 8 and up. However, thus far we have not defined what feature completeness means for Mockito 2. We have been updating `master` from time to time with updates from Mockito 2, but at some point we should switch from `release/2.x` to developing on `master` again.

Which features do we want include into Mockito 2?

@mockit

[2017-10-18 12:07] dmfs commented on #1205
This is just simple example to show the general usage.

Here is a (still rather simple) real life example:
Check out this test: https://github.com/dmfs/ContentPal/blob/master/contentpal/src/test/java/org/dmfs/android/contentpal/batches/YieldableTest.java#L77

In this case `Yieldable` is an `Iterable` which is expected to decorate the last element of the given `MultiBatch` in a specific way, all th

[2017-10-18 14:16] ChristianSchwarz commented on #1205
Why don't you simply group the "equal" mocks using a `Set` and check against that?

[2017-10-18 14:50] dmfs commented on #1205
@ChristianSchwarz not sure what you mean.

If you're talking about the second use case I don't see how a `Set` could help.

Here is a example for the second use case. Consider I have a `SingletonSet` implementation (which contains exactly one element) and I want to test `contains(T)`.

Here is how it could look like:
[code]
if my implementation is somewhat correct this test will pass, but it will

[2017-10-19 13:13] ChristianSchwarz opened #1211 "improve @deprecated JavaDoc of MockitoDebugger"
The `@deprecated` JavaDoc of :
 * method: `Mockito.debug()`
 * class: `MockitoDebugger`
 * method `MockitoDebugger.printInvocations()`

... should point to `Mockito.mockingDetails(..).printInvocations()`. Currently its too hard to find the rigth entry point for the replacement.

[2017-10-19 13:20] ChristianSchwarz commented on #1210
Wish list:
 * #472 Unify after() and timeout()
 * #358 Enhancement: ArgumentCaptor.captureIf(ArgumentMatcher)
 * #339 Last Invocation Verification Mode

to be continued ;-)

[2017-10-19 13:23] szpak opened #1212 "MockitoJUnitRunner too strict by default?"
In one of the projects being migrated to Mockito 2 I've observed that deprecated `org.mockito.runners.MockitoJUnitRunner` (tested with 2.11.0) works in a strict mode by default (fails a test on unnecessary stubbing). I wonder if it is an expected behavior?

Even Mockito rule works in a "warn" mode by default. It makes it a little bit harder to migrate from Mockito 1.10.x to 2.x.

[2017-10-19 14:13] ChristianSchwarz commented on #1175
So Mockito should check if the interface was compiled with Kotlin and contains a DefaultImpls inner class.

@tmurakami Do you know the naming pattern of the inner class Kotlin generates?

[2017-10-19 14:20] TimvdLippe commented on #339
While I do understand the usecase, is this feature required to be shipped in Mockito? If I am not mistaken, you can define this verification mode in your own project today as well.

[2017-10-19 14:23] TimvdLippe commented on #1210
Depending on our definition of the public API in Mockito 3, this could be included in either 2 or 3. I just want to prevent us from shipping an API that we revamp (or revamp related features) in the immediate next major version.

This seems to be (yet another :cry: ) generics issue. We should probably investigate the overall scope of issues and see how we can update our API  to handle generics ful

[2017-10-20 09:06] szpak commented on #1212
What's more even using the old `@RunWith(org.mockito.runners.MockitoJUnitRunner.Silent.class)` still causes `UnnecessaryStubbingException`. The new one (`@RunWith(org.mockito.junit.MockitoJUnitRunner.Silent.class)`) has to be used to keep test passing.

[2017-10-20 12:06] #1211 closed

[2017-10-20 22:40] chris-git opened #1215 "ClassFormatError when trying to mock certain interfaces"
Hi,

I stumbled over some strange behaviour when trying to update from a 1.x version of Mockito to 2.x. One of my interfaces would no longer want to be mocked, throwing a MockitoException, with an error message of *Mockito cannot mock this class: interface &lt;MyInterfaceName&gt;*, ultimately triggered by a *java.lang.ClassFormatError: Duplicate field name&signature in class file &lt;MyInterfaceNa

[2017-10-21 09:07] raphw commented on #1183
I have added a test case on a branch now and started investigating. Seems like there is some issue with the sefl-invocation check such that the apply call is not recognized as a mock invocation.

[2017-10-21 09:29] raphw commented on #1183
It seems like this is an issue within bridge method resolution. Kotlin creates several methods with equal Java signature. Given test test class:
[code]

The Kotlin compiler implements two methods:
[code]

From the view of the Java language, these two methods have an identical invocation signature and Byte Buddy attempts to resolve one method as a bridge method of the other one what is a mistake.

[2017-10-21 09:46] raphw commented on #1215
You found a bug in Byte Buddy. It computes a hash value for a unique identifier of a value and does not take the method types into accound what yields the same name for a field. This is illegal. Thanks for the report, this will be fixed in the next release.

[2017-10-21 10:19] raphw commented on #1215
So, this is the best bug I might ever have encountered. Byte Buddy requires stable names for fields that cache a value. I considered that using the hash of a `Method` would be good enough as those hashes should not collide.

Turns out that for your exact signature, due to the complementary use of X and Y in both methods, the hash calculation of `java.lang.reflect.Method` yields the exact same hash

[2017-10-21 10:37] raphw commented on #1215
I have improved the collission strategy in Byte Buddy and I hope that this will be no more issue with the next release. If you change anything about your methods, the problem should no longer occur but I understand that this is not a good long term solution, I hope for your patience for the next releases of Byte Buddy and Mockito.

[2017-10-21 10:57] chris-git commented on #1215
Thanks for picking this up so quickly. In the meantime, I have slightly changed my method names. Not nice, but seems to be the least effort workaround. Fortunately, I don't need to worry about backwards compatibility in this case. I'll go back to the original names with the next update of Mockito.

[2017-10-21 11:27] raphw commented on #1215
Great, thanks for your patience and again, this is really unlucky. Changing a single letter anywhere in your signature or types fixes your problem in the meantime.

[2017-10-22 14:12] #1183 closed

[2017-10-22 14:13] #1215 closed

[2017-10-22 14:15] TimvdLippe commented on #1206
This has been addressed in #1216

[2017-10-22 14:15] #1206 closed

[2017-10-22 14:47] TimvdLippe commented on #1174
I have opened #1219. I am unable to reproduce this issue in both Intellij and with Gradle.

[code]
[code]

[2017-10-22 15:35] TimvdLippe commented on #1196
Confirmed an issue, reproduced at https://github.com/mockito/mockito/compare/issue-1196 Have to investigate what the issue (and corresponding fix) is. Feel free to take the branch and open a PR with a fix if you can :smile:

[2017-10-23 04:33] raphw commented on #1174
Did you install some plugin in your IDE?

[2017-10-23 09:24] shark300 commented on #1174
Have you tried Eclipse and Eclipse compiler in Idea?

2017. okt. 23. de. 6:34 ezt írta ("Rafael Winterhalter" <
notifications@github.com>):

Did you install some plugin in your IDE?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/mockito/mockito/issues/1174#issuecomment-338545479>,
or mute
the thread
<https://github.com

[2017-10-23 19:51] ChristianSchwarz commented on #445
What are the requirements for a MVP?

[2017-10-23 20:06] TimvdLippe commented on #445
On the top of my head runner-like functionality with:
1. Initialize `@Mock` and `@InjectMocks`
1. Check verificationstate after test ran
1. Clean up MockitoFramework listeners
1. Check for strict stubs

[2017-10-23 20:13] ChristianSchwarz commented on #1210
I don't see a problem with generics in the `T captureIf(ArgumentMatcher<T>)` proposal, can you elaborate? I am more afraid of mockito's vararg expanding. Anyway it is possibly better to shift to an alternative API -> https://github.com/ChristianSchwarz/mockito-lambda/issues/5

[2017-10-23 20:15] ChristianSchwarz commented on #445
Okay I am looking into it...

* Should it target mockito 2?
* Is a new subproject required?

[2017-10-23 20:20] TimvdLippe commented on #445
Yes to both!

[2017-10-24 07:22] Oltier commented on #1067
I've run into this same problem recently as well and my jstack was identical to the OP's. I've started playing around with the mockito versions and I'm not sure if this helps, but using mockito 2.6.6 in my tests didn't result in a deadlock, while using 2.6.7+ did result in deadlock.

[2017-10-24 07:37] raphw commented on #1067
Maybe we need to add a property that can be enabled to avoid the more fine-grained locking for the type cache. I would still like to know what is causing this as I even stress-tested the cache lock but I cannot reproduce the locking.

Is there any project that I can build that reliably reproduces this?

[2017-10-24 20:02] ChristianSchwarz commented on #445
What should go into the junit5-subproject? The implementation, the junit5 tests or both ?

[2017-10-24 20:06] TimvdLippe commented on #445
The implementation of a Mockito extension for Junit5. It is probably coming down to a single or a couple of classes.

[2017-10-25 20:47] tmurakami commented on #1175
Sorry for replying so late.
It seems to be named `DefaultImpls`.

I'll try to file a PR for this issue.
Please wait for a few days.

[2017-10-26 08:24] paulduffin commented on #584
Can you not just use varargCaptor.getAllValues() to access the list of arguments passed as varargs and then compare that?

[2017-10-26 08:55] paulduffin commented on #563
I've just seen a similar issue on my local machine not consistently though.

[code]

[2017-10-26 10:05] paulduffin opened #1222 "Cannot verify varargs parameter as an array"
Cannot verify the varargs by comparing with an array.
[code]

**Expected:** test runs successfully
**Actual:** the test fails with an argument mismatch error.

[code]

This was found while upgrading from 1.9.5. In that version it was possible to achieve something similar by creating a custom ArgumentMatcher that implemented VarargMatcher. In that case the ArgumentMatcher was given the varargs as a

[2017-10-26 10:25] TimvdLippe commented on #1222
You upgraded from 1.9.5. Are you upgrading to Mockito 2 straight away or
1.10 first?

On Thu, 26 Oct 2017, 12:05 paulduffin, <notifications@github.com> wrote:

[2017-10-26 10:33] paulduffin commented on #1222
I'm actually going from 1.9.5 to 1.10.19 but 1.10.19 removed the special support for varargs in ArgumentCaptor (captureVargarg() and getVarargsValues()) which broke some tests. I fixed the tests to use capture() and getAllValues() respectively but they did not work because vararg capturing was broken.

I then patched in changes from 2.2.5 (026ba1dd1140545ea125b00a6ed3c97a91bd899f) but had to undo

[2017-10-26 11:03] tmurakami opened #1223 "[Suggestion] A plugin that only removes the final modifier"
With the inline mock making feature, Android app developers may face VerifyError when testing an Android project that relies on proguarded Android libraries, such as Google Play Services.
This is probably because those library developers (not the ProGuard team) explicitly use `-dontpreverify` option in order to reduce build time.
The option destroys stack map tables, but Android VM does not need a

[2017-10-26 11:34] paulduffin commented on #1222
The only way that I can see that this can be easily and reliably achieved is to have a special method for matching against the varargs as an array.

e.g. Something like
[code]

Attempting to automatically infer when it should be treated as a vararg and when it should not is almost certainly going to have some edge cases when it cannot be detected properly. e.g. if we use the number of arguments (r

[2017-10-26 12:13] TimvdLippe commented on #1222
Sadly I was not involved in the project back then. Hopefully @mockitoguy can shine some light on this issue and has an idea to tackle it.

[2017-10-26 12:25] ChristianSchwarz commented on #584
@paulduffin

This is not always possible cause `getAllValues()` returns all ever captured values.

[code]

vs.

[code]

[2017-10-26 13:09] ChristianSchwarz commented on #1222
Duplicates:  #584
Relates to: #74, #201, #211, #439, #565, #567, #583

Solution:
 * varargs must not be expanded and treaten as plain array
 * to match elements of the vararg-array a special matcher like `<T> T[] vararg(T ...args)` can be provided
 * this `vararg(..)` matcher can be treaten as special matcher on mockitos internal matcher stack that applies the passed matchers on the vararg-element

[2017-10-26 13:20] bbarker commented on #978
Hmm, on a Linux system now (again, nothing to do with Android, I'm getting:

[code]

This particular test only seems to use imports from org.mockito and org.hamcrest with regard to mocking (no powermock, though I have it elsewhere in my project).

Oddly, the test will work if I run it directly from intellij as part of the JUnit test runner, but fails if I run it from maven.

[2017-10-26 13:27] paulduffin commented on #1222
Why do you say it cannot be solved in mockito 2 due top compatibility? I have a solution that appears to work and will upload soon.

[2017-10-26 15:07] ChristianSchwarz commented on #1222
@paulduffin

This was related to the the proposal I described above. I see we had pretty similar ideas how to solve it.

Yeah I looked into your PR, it looks great. Your solution is more generic/better than the idea I had in mind :thumbsup:.

[2017-10-27 11:19] TimvdLippe opened #1225 "Ensure auto-replacement of deprecated methods in IntelliJ"
Per https://blog.jetbrains.com/idea/2017/10/intellij-idea-2017-3-public-preview IntelliJ can now auto-suggest replacements for deprecated methods. Once IntelliJ 2017-3 is published, let's check whether our deprecations satisfy the requirements for this check.

Maybe we can also write a static analysis check that can automatically verify that whenever we deprecated method we:
1. Link to a replaceme

[2017-10-27 12:04] TimvdLippe commented on #1174
Yes I can reproduce this issue with the Eclipse compiler in IntelliJ. To enable the Eclipse compiler `File -> Settings -> Build, Execution, Deployment -> Compiler -> Java Compiler -> Use compiler`. Select `Eclipse`. Then recompile the test added in #1219 (`ctrl + shift + F9`) and then run the test.

[2017-10-27 13:13] TimvdLippe commented on #1212
https://github.com/mockito/mockito/blob/e10c5409e460c3ecd6b2ef9513a0b3802351d85f/src/main/java/org/mockito/runners/MockitoJUnitRunner.java#L29-L31

It seems we have to change the call to this instead: https://github.com/mockito/mockito/blob/e10c5409e460c3ecd6b2ef9513a0b3802351d85f/src/main/java/org/mockito/junit/MockitoJUnitRunner.java#L107

I submitted #1226 to discuss this change in behavior. I

[2017-10-27 15:21] kurnevsky commented on #1067
I'm not sure if it's the same problem but I got similar deadlock after specs2 update:
[code]

[2017-10-28 09:51] ColinHebert opened #1230 "Mockito doesn't work unless a JUnit4 test is active?"
After about a day of questioning my sanity I have to reluctantly open an issue about this.
For some reason I can't figure out, Mockito (latest released version) with inline, does not want to work unless I have a JUnit 4 test enabled.

Platform:
 - OS: Mac OS
 - JVM: Oracle 9.0.1
 - Language: Kotlin 1.1.51
 - Build Tool: Gradle 4.3-rc-4 (Groovy 2.4.12)
 - Test platform: JUnit 1.0.1 (JUnit 5)
 - Tes

[2017-10-28 10:09] mureinik commented on #1225
It shouldn't be too difficult to cook up a Checkstyle check that identifies a deprecated method/class that doesn't have a `@link` or `@see` tag in its javadoc. I'm not quite sure where the right place for such a check would be though.

Can the maintainers advise on the proper place within the project structure?

[2017-10-28 10:21] TimvdLippe commented on #1225
I think this should be in the checkstyle.xml and then any custom
implementation code in a new folder. I have this issue planned for today,
so will report how far I can get :)

On Sat, 28 Oct 2017, 12:09 Allon Murienik, <notifications@github.com> wrote:

[2017-10-28 12:39] TimvdLippe commented on #1225
So I have tried to make this work for the past couple of hours, but unsuccesfully. I am unable to get the check implementation on the classpath to actually be recognized by the checkstyle configuration. If you have any knowledge of how to do this with checkstyle and Gradle, please let me know. Sadly http://checkstyle.sourceforge.net/writingchecks.html is lackluster in this regard.

[2017-10-28 12:40] TimvdLippe commented on #1225
Oh, my attempt is available at https://github.com/mockito/mockito/tree/custom-checkstyle

[2017-10-28 20:36] ChristianSchwarz opened #1232 "[JUnit5] MockitoSession#initMocks should support multiple test instances"
In order to support nested tests in JUnit5 (see #1221)  MockitoSession#initMocks should allow to pass more than one test instance or allow multiple calls on initMocks with different test instances.

In other words/code:

[code]

or

[code]

[2017-10-28 20:38] raphw commented on #978
It seems like attachment does not work as it cannot locate tools.jar. Is your `java.home` property set correctly?

[2017-10-29 14:15] TimvdLippe commented on #1230
It probably is my lack of knowledge of Kotlin, but I don't see an import for this type: https://github.com/ColinHebert/poc/commit/d9bf1d1846617c69be00a83826b9296f3c29eaa2#diff-89c1ff554844edd1b1e89ef9fbd7301aR11
Is this a type that Kotlin by default includes? It seems like the type `Iterator` should be explicitly imported in the file. Probably `JUnit4` is implicitly loading this class on the class

[2017-10-29 14:22] mockitoguy commented on #1212
It's a bug. Thank you for reporting!

The previous runner: ```org.mockito.runners.MockitoJUnitRunner``` should behave exactly the same as the new runner: ```org.mockito.junit.MockitoJUnitRunner```

[2017-10-29 14:33] mockitoguy commented on #1212
I started reviewing @TimvdLippe PR and I came to conclusion that it the current behavior works as designed.

 - the change of strictness of the runner was an intentional incompatible change in 2.0 release
 - the deprecation of the runner was a compatible change done after 2.0. Deprecated runner does not intend to help migration.
 - the current behavior of the code (unless I'm mistaken) is that dep

[2017-10-29 14:33] #1212 closed

[2017-10-29 18:37] TimvdLippe commented on #1174
@mockitoguy although we have the regression test to debug, the issue still exists :(

[2017-10-29 23:48] szpak opened #1233 "Mockito build should not try to install anything to /usr/lib/node_modules by default"
The build of the recent Mockito is trying to install some Node JS modules globally in the system on just `gw check`. Probably no-one sane runs the build from root, but it's a bad practice IMHO.

[code]

I would prefer to even do not install npm modules locally (in the user home directory) in the default build. Only on Travis (or on demand) with the extra `-P` switch.

[2017-10-29 23:51] TimvdLippe commented on #1233
Yeah I have been getting more annoyed about this npm install. Sadly the
theory of the service-worker does not work in practice with javadoc.
Probably its best just to revert it all. Nice experiment, sadly didnt work
out as desired :(

On Mon, 30 Oct 2017, 00:48 Marcin Zajączkowski, <notifications@github.com>
wrote:

[2017-10-30 07:01] tan9 opened #1234 "Mockito won't report `UnnecessaryStubbing` error if only run parts of tests in the same test class, and"
- [x] The mockito message in the stacktrace have useful information, but it didn't help
 - [ ] The problematic code (if that's possible) is copied here;
       Note that some configuration are impossible to mock via Mockito
 - [x] Provide versions (mockito / jdk / os / any other relevant information)
 - [x] Provide a [Short, Self Contained, Correct (Compilable), Example](http://sscce.org) of the i

[2017-10-30 08:41] shark300 commented on #1174
There is one different on bytecode level between javac and Eclipse compiler.

Javac:
[code]

Eclipse:
[code]

As you can see Eclipse comply an extra "CHECKCAST java/util/ArrayList" before BDDMockito.given invocation.

As I see, it is not illegal because getCollection method's return type is a subtype of ArrayList.

[2017-10-31 12:40] #1130 closed

[2017-11-01 17:50] iirekm commented on #643
I've implemented an extension of Mockito which uses `when(() -> ...).then...` syntax to allow things like mocking `static` or `void` methods, it's at https://github.com/iirekm/misc/tree/master/ajmock

[2017-11-01 18:09] TimvdLippe commented on #643
I have another prototype written down locally, but haven't finished it. It
follows a very similar pattern. Haven't figured out the tiniest details
yet, but it will probably follow along your pattern :)

Op wo 1 nov. 2017 om 18:50 schreef Irek Matysiewicz <
notifications@github.com>:

[2017-11-01 20:07] ChristianSchwarz commented on #643
@iirekm
Interesting to see that the syntax `when(() -> ...).thenXXX()` is that popular ;-). I wonder how static mocking works in your proposal, how do you intercept a static call?

[2017-11-01 20:48] iirekm commented on #643
I intercept it with an AspectJ aspect, which delegates to designated Mockito mock, so for example `C.staticMethod(args...)` behind the scenes is converted to something like: `getMockFor(C.class, "staticMethod").invoke(args...)`

[2017-11-02 09:04] baztian opened #1237 "Re-stubbing from exceptional to non exceptional doesn't work"
Hi,

I want to re-stub a method that already has a default behaviour in the @Before method. The default behaviour is to throw an exception (CustomerNotFound) to simulate the behaviour on a newly setup instance of my system for any customer number. Of course I need tests describing the behaviour for existing customers. Unfortunately if I override the stubbing for some (or any) customer numbers the

[2017-11-02 09:21] TimvdLippe commented on #1237
Using lambdas, we could solve this usecase. I fear that in Mockito 1 and 2
this is a fundamental and unsolvable issue :(

I will try to tackle this issue in my prototype!

On Thu, 2 Nov 2017, 10:04 baztian, <notifications@github.com> wrote:

[2017-11-02 10:57] #1070 closed

[2017-11-02 11:16] TimvdLippe commented on #1174
@raphw This regression test started failing on JDK9 when backporting our fixes from `release/2.x` to `master` in #1238: https://travis-ci.org/mockito/mockito/jobs/296206474#L773-L775

As such, this is not only an issue with the Eclipse compiler in IntelliJ, but with oraclejdk9 as well :cry: (Sadly I haven't been able to reproduce this issue locally yet)

[2017-11-02 12:01] shark300 commented on #1174
@TimvdLippe I agree with you. I've tested localy with JDK9 and test was failed.

[2017-11-02 15:10] TimvdLippe opened #1239 "Enable Checkstyle rule for checking existence of license headers"
Whenever we add new files to the repository, we usually forget to add our license headers. This results in PRs such as #1227 where retroactively we add the license headers.

CheckStyle has a rule called [`Header`](http://checkstyle.sourceforge.net/config_header.html) which can enforce that we add our license header. I would propose to start enabling this rule to make sure all our source files comp

[2017-11-02 18:36] aspin opened #1240 "Mockito Inline can't mock Finatra Response Class"
Seen a few of these lying around, but my stacktrace is also different.

I was trying to mock the Finatra `ResponseBuilder` class.

[code]